<div class="Centre Kategorija">Akušerija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>46.1</b> Kuris simptomas tikrai reiškia nėštumą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Moteris jaučia vaisiaus judesius
                    </li>
                    <li>
                        B. Gimdos dydžio, formos bei konsistencijos pakitimai
                    </li>
                    <li>
                        C. Palpuojant jaučiami vaisiaus judesiai
                    </li>
                    <li>
                        D. Pykinimas
                    </li>
                    <li>
                        E. Mėnesinių ciklo sutrikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.2</b> Kuris reiškinys nurodo gimdymo pradžią:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nereguliarūs gimdos susitraukimai
                    </li>
                    <li>
                        B. Kraujavimas
                    </li>
                    <li>
                        C. Vaisiaus vandenų nutekėjimas
                    </li>
                    <li>
                        D. Reguliarūs gimdos susitraukimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.3</b> Kada atliekama vaisiaus ultragarsinė patikra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 8 sav.
                    </li>
                    <li>
                        B. 6 sav.
                    </li>
                    <li>
                        C. 18-20 sav.
                    </li>
                    <li>
                        D. 22-24 sav.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.4</b> Kurio hormono poveikiu pagrįsti nėštumo diagnostikos greitieji testai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Estrogenų
                    </li>
                    <li>
                        B. Chorioninio gonadotropino
                    </li>
                    <li>
                        C. Placentinio laktogeno
                    </li>
                    <li>
                        D. Progesterono
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.5</b> Kuris tyrimo metodas padeda patikimiausiai įvertinti embriono gyvybingumą 8 savaičių nėštume:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bimanualinė palpacija
                    </li>
                    <li>
                        B. Histeroskopija
                    </li>
                    <li>
                        C. Histerosalpingografija (HSG)
                    </li>
                    <li>
                        D. Echoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.6</b> Kokį gydymą galima skirti, esant persileidimo grėsmei (9 sav. nėštumas):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Etilo alkoholį
                    </li>
                    <li>
                        B. Etinilestradiolį
                    </li>
                    <li>
                        C. Magnio sulfato tirpalą į veną
                    </li>
                    <li>
                        D. Tausojamąjį režimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.7</b> Kelių savaičių nėštumas vadinamas išnešiotu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 37 - 41 savaitės
                    </li>
                    <li>
                        B. 22 - 28 savaitės
                    </li>
                    <li>
                        C. 22 - 36 savaitės
                    </li>
                    <li>
                        D. 42 savaitės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.8</b> Kuris tyrimas tiksliausiai ir objektyviai įvertina gimdymo progresą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ant priekinės pilvo sienos ties gimdos dugnu uždėta ranka stebimas sąrėmių dažnumas ir intensyvumas
                    </li>
                    <li>
                        B. Gimdos kaklelio vėrimosi stebėjimas
                    </li>
                    <li>
                        C. Tokogramos registracija
                    </li>
                    <li>
                        D. Ultragarsinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.9</b> Kas būdinga preeklampsijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipertenzija ir proteinurija, atsiradusi po 20 sav. nėštumo iki tol sveikai moteriai
                    </li>
                    <li>
                        B. Hipertenzija, diagnozuota iki nėštumo
                    </li>
                    <li>
                        C. Proteinurija, atsiradusi nėštumo pradžioje
                    </li>
                    <li>
                        D. Traukuliai, atsiradę nėštumo metu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.10</b> Kada nėštumo metu, esant indikacijoms atliekamas gliukozės tolerancijos mėginys (GTM):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 12-14 sav.
                    </li>
                    <li>
                        B. 18-20 sav.
                    </li>
                    <li>
                        C. 24-28 sav.
                    </li>
                    <li>
                        D. 30-32 sav.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.11</b> Kada normalaus gimdymo metu turėtų nutekėti vaisiaus vandenys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atsivėrus gimdos kakleliui 1-2 cm
                    </li>
                    <li>
                        B. Pirmojo laikotarpio pabaigoje
                    </li>
                    <li>
                        C. Atsiradus reguliariai gimdymo veiklai
                    </li>
                    <li>
                        D. Placentinio laikotarpio metu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.12</b> Kas skiriama Rh izoimunizacijos profilaktikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Oksitocinas
                    </li>
                    <li>
                        B. Antibiotikai
                    </li>
                    <li>
                        C. Vakcina
                    </li>
                    <li>
                        D. Anti (D) imunoglobulinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.13</b> Kuri gimdymo komplikacija yra pavojingas moters gyvybei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. I° tarpvietės plyšimas
                    </li>
                    <li>
                        B. Gimdos plyšimas
                    </li>
                    <li>
                        C. II laipsnio tarpvietės plyšimas
                    </li>
                    <li>
                        D. Paviršinis gimdos kaklelio plyšimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.14</b> Kada gali susidaryti makšties - šlapimo pūslės fistulė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plyšus gimdos kakleliui
                    </li>
                    <li>
                        B. Nutekėjus vaisiaus vandenims
                    </li>
                    <li>
                        C. Išstūmimo laikotarpiu  vaisiaus galvai būnant vienoje mažojo dubens plokštumoje ilgiau negu 2 val.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.15</b> Kaip turi būti užbaigiamas išnešiotas nėštumas, jeigu yra placentos ir sėdyninė vaisiaus pirmeigos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Cezario pjūvio operacija
                    </li>
                    <li>
                        B. Jeigu nepradeda kraujuoti, natūraliu būdu
                    </li>
                    <li>
                        C. Nuleidžiant vaisiaus vandenis ir skatinant gimdymo veiklą
                    </li>
                    <li>
                        D. Replių pagalba
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.16</b> Kuriais atvejais gimdymo metu  būtina nuolatinai stebėti  vaisiaus būklę kardiomonitoriaus pagalba:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vyresnio amžiaus pirmakartė
                    </li>
                    <li>
                        B. Stambus vaisius
                    </li>
                    <li>
                        C. Placenta užpakalinėje gimdos sienelėje
                    </li>
                    <li>
                        D. Mekonijumi užteršti vaisiaus vandenys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.17</b> Kokios gali būti nėščiųjų hipertenzinių būklių pasekmės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vaisiaus infekcija
                    </li>
                    <li>
                        B. Vaisiaus apsigimimas
                    </li>
                    <li>
                        C. Vaisiaus augimo sulėtėjimas
                    </li>
                    <li>
                        D. Vaisiaus makrosomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.18</b> Kurie simptomai būtini eklampsijai diagnozuoti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Viso kūno patinimai
                    </li>
                    <li>
                        B. Pykinimas
                    </li>
                    <li>
                        C. Traukuliai
                    </li>
                    <li>
                        D. AKS padidėjimas ir proteinurija
                    </li>
                    <li>
                        E. Regėjimo sutrikimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.19</b> Kuris tyrimo būdas yra informatyviausias vaisiaus hipoksijai diagnozuoti nėštumo metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Amnioskopija
                    </li>
                    <li>
                        B. Vaisiaus judesių registravimas
                    </li>
                    <li>
                        C. Vaisiaus širdies tonų auskultacija stetoskopu
                    </li>
                    <li>
                        D. Kraujotakos įvertinimas dopleriu
                    </li>
                    <li>
                        E. Biofizinis profilis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.20</b> Kas būdinga vaisiaus augimo sulėtėjimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mažesnis negu 10 procentilių vaisiaus svoris
                    </li>
                    <li>
                        B. Mažesnis vaisiaus ūgis
                    </li>
                    <li>
                        C. Normalus svoris ir santykinai mažesnė galva
                    </li>
                    <li>
                        D. Normalus svoris ir santykinai mažesnis ūgis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.21</b> Kuriuo atveju gimdos revizija ankstyvo pogimdyminio laikotarpio metu yra būtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdyvė nekraujuoja, tačiau įtariamas vaisiaus dangalų pasilikimas gimdoje
                    </li>
                    <li>
                        B. Gimdyvė nekraujuoja, bet anksčiau gimdymas užbaigtas cezario pjūvio operacija
                    </li>
                    <li>
                        C. Po vaisiaus ištraukimo vakuumekstraktoriumi
                    </li>
                    <li>
                        D. Gimdyvė nekraujuoja, tačiau yra įtariama pasilikusi gimdoje placentos dalis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.22</b> Kuris antibiotikas kontraindikuotinas nėščiosioms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Cefazolinas
                    </li>
                    <li>
                        B. Ampicilinas
                    </li>
                    <li>
                        C. Levomicetinas
                    </li>
                    <li>
                        D. Eritromicinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.23</b> Kuri sąlyga būtina akušerinių replių operacijai atlikti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nenutekėję vaisiaus vandenys
                    </li>
                    <li>
                        B. Gimdos kaklelio atsidarymas 6-8 cm
                    </li>
                    <li>
                        C. Vaisiaus galva įsistačiusi į mažąjį dubenį
                    </li>
                    <li>
                        D. Žuvęs vaisius
                    </li>
                    <li>
                        E. Siauras dubuo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.24</b> Kuris tyrimo metodas padeda gimdymo metu patikimiausiai diagnozuoti vaisiaus pirmeigą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Amnioskopija
                    </li>
                    <li>
                        B. Vaginalinis tyrimas
                    </li>
                    <li>
                        C. Kardiotokografija
                    </li>
                    <li>
                        D. Išorinis akušerinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.25</b> Kokie balai pagal Apgar parodo normalią naujagimio būklę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 0-3
                    </li>
                    <li>
                        B. 4-6
                    </li>
                    <li>
                        C. 7
                    </li>
                    <li>
                        D. 8-10
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>46.26</b> Dėl kurios priežasties prasidėjus priešlaikiniam gimdymui skiriamas kiekvienas nurodytas vaistas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Atosibanas
                    </li>
                    <li>
                        2 - Nifedipinas
                    </li>
                    <li>
                        3 - Antibiotikai
                    </li>
                    <li>
                        4 - Deksametazonas
                    </li>
                    <li>
                        5 - Betametazonas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Vaisiaus plaučių brandinimui
                    </li>
                    <li>
                        B. Tokolizei
                    </li>
                    <li>
                        C. Infekcijos profilaktikai
                    </li>
                    <li>
                        D. Gimdymo takų ruošimui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.27</b> Kiek vidutiniškai trunka nurodytas laikotarpis gimdant pirmą kartą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pirmasis gimdymo
                    </li>
                    <li>
                        2 - Antrasis gimdymo
                    </li>
                    <li>
                        3 - Trečiasis gimdymo
                    </li>
                    <li>
                        4 - Ankstyvas pogimdyminis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 2 val.
                    </li>
                    <li>
                        B. 6-16 val.
                    </li>
                    <li>
                        C. 30 min-1 val.
                    </li>
                    <li>
                        D. 24 val.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.28</b> Kokią riziką gali sąlygoti kiekvienas nurodytas veiksnys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Buvę 5 gimdymai
                    </li>
                    <li>
                        2 - Buvęs cezario pjūvis
                    </li>
                    <li>
                        3 - Stambus vaisius
                    </li>
                    <li>
                        4 - Polihidramnionas ir stambus vaisius
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kliniškai siauras dubuo
                    </li>
                    <li>
                        B. Gimdos atonija
                    </li>
                    <li>
                        C. Gimdos rando išsiskyrimas
                    </li>
                    <li>
                        D. Placentos pirmeiga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.29</b> Kuri gimdymo termino apskaičiavimo formulė yra tinkamiausia, žinant kiekvieną nurodytą datą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Paskutinių mėnesinių data
                    </li>
                    <li>
                        2 - Pastojimo data
                    </li>
                    <li>
                        3 - Pirmų vaisiaus judesių pajutimo (pirmakartei) data
                    </li>
                    <li>
                        4 - Pirmų vaisiaus judesių pajutimo (pakartotinai gimdančiai) data
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Data + 5 mėn. ir 1 d.
                    </li>
                    <li>
                        B. Data - 3 mėn. + 7 d.
                    </li>
                    <li>
                        C. Data + 4 mėn. ir 18 d.
                    </li>
                    <li>
                        D. Data - 3 mėn. - 7 d.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.30</b> Kuri gydymo taktika teisinga kiekvienos nurodytos placentinio laikotarpio patologijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Praėjus 30 min. po gimdymo, nėra placentos atsidalinimo požymių (moteris nekraujuoja)
                    </li>
                    <li>
                        2 - Gimdoje liko vaisiaus dangalų (prasideda kraujavimas)
                    </li>
                    <li>
                        3 - Gimdoje liko placentos dalis (moteris nekraujuoja)
                    </li>
                    <li>
                        4 - Užgimus placentai, moteris kraujuoja
                    </li>
                    <li>
                        5 - Yra placentos įaugimo požymiai (moteris gausiai kraujuoja)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Gimdą sutraukiantys vaistai ir gimdos patikrinimas ranka
                    </li>
                    <li>
                        B. Gimdos ertmės patikrinimas ranka
                    </li>
                    <li>
                        C. Gimdos pašalinimo operacija
                    </li>
                    <li>
                        D. Placentos atidalinimas ir pašalinimas ranka
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.31</b> Kurį reiškinį lemia kiekvienas nurodytas rizikos veiksnys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Preeklampsija
                    </li>
                    <li>
                        2 - Vaisiaus vandenų nutekėjimas, esant skersinei vaisiaus padėčiai
                    </li>
                    <li>
                        3 - Kliniškai siauras dubuo
                    </li>
                    <li>
                        4 - Infekcija gimdymo metu
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Vaisiaus augimo sulėtėjimas
                    </li>
                    <li>
                        B. Naujagimio infekcija
                    </li>
                    <li>
                        C. Gimdos plyšimas
                    </li>
                    <li>
                        D. Virkštelės iškritimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.32</b> Kuriai akušerinei situacijai tinka kiekvienas nurodytas apibūdinimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Nėštumo 21 sav. nutekėjo vaisiaus vandenys
                    </li>
                    <li>
                        2 - Nėštumo 23 sav. atsirado reguliarūs gimdos susitraukimai ir veriasi gimdos kaklelis
                    </li>
                    <li>
                        3 - Nėštumo 33 sav. atsirado nereguliarūs gimdos susitraukimai
                    </li>
                    <li>
                        4 - Nėštumo 38 sav. nutekėjo vaisiaus vandenys, nesant gimdos susitraukimų
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Gresiantis priešlaikinis gimdymas
                    </li>
                    <li>
                        B. Priešlaikinis vaisiaus vandenų nutekėjimas
                    </li>
                    <li>
                        C. Prasidėjęs savaiminis persileidimas
                    </li>
                    <li>
                        D. Prasidėjęs priešlaikinis gimdymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.33</b> Kurie tyrimo metodai patikimiausi kiekvienos nurodytos situacijos diagnostikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vaisiaus hipoksija
                    </li>
                    <li>
                        2 - Vaisiaus apsigimimas
                    </li>
                    <li>
                        3 - Vaisiaus vandenų kiekio įvertinimas
                    </li>
                    <li>
                        4 - Vaisiaus augimo sulėtėjimas
                    </li>
                    <li>
                        5 - Vaisiaus anemija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Echoskopija
                    </li>
                    <li>
                        B. Doplerinis vaisiaus kraujotakos tyrimas
                    </li>
                    <li>
                        C. Vaisiaus vandenų surfaktanto tyrimas
                    </li>
                    <li>
                        D. Vaisiaus judesių skaičiavimas
                    </li>
                    <li>
                        E. Biofizinis profilis ir doplerometrija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.34</b> Kuris gimdymo būdas tinka kiekvienai nurodytai situacijai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pakaušio pirmeigos užpakalinė padėtis
                    </li>
                    <li>
                        2 - Viršugalvio pirmeigos priekinė padėtis
                    </li>
                    <li>
                        3 - Veido pirmeiga
                    </li>
                    <li>
                        4 - Skersinė vaisiaus padėtis
                    </li>
                    <li>
                        5 - Įstrižinė padėtis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Gimdymas natūraliu būdu
                    </li>
                    <li>
                        B. Cezario pjūvio operacija
                    </li>
                    <li>
                        C. Akušerinių replių operacija
                    </li>
                    <li>
                        D. Vaisiaus smulkinimo operacija
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>46.35 </b> Kokie vaistai vartojami tokolizei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Magnio sulfatas
                    </li>
                    <li>
                        2. Oksitocinas
                    </li>
                    <li>
                        3. β-adrenoblokatoriai
                    </li>
                    <li>
                        4. Kalcio blokatoriai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.36 </b> Kurie simptomai yra sunkios preeklampsijos kriterijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuolat registruojamos SAK 160 ir daugiau arba DAK 110  ir daugiau mmHg
                    </li>
                    <li>
                        2. Proteinurija (5 g/24 val.)
                    </li>
                    <li>
                        3. Oligurija (400 ml/24 val.)
                    </li>
                    <li>
                        4. Nuolatiniai CNS sudirginimo simptomai ir regėjimo sutrikimas
                    </li>
                    <li>
                        5. Galvos skausmas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.37 </b> Kurie simptomai būdingi placentos pirmeigai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gimdos dugnas aukštesnis nei norma
                    </li>
                    <li>
                        2. Nereguliarūs sąrėmiai
                    </li>
                    <li>
                        3. Čiuopiant skausminga gimda
                    </li>
                    <li>
                        4. Staiga, be priežasties prasidėjęs kraujavimas iš genitalijų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.38 </b> Kurie veiksniai įrodo vaisiaus hemolizinės ligos diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tėvų Rh faktoriaus nesutapimas
                    </li>
                    <li>
                        2. Nepalanki serologinė anamnezė
                    </li>
                    <li>
                        3. Antikūnų buvimas nėščiosios kraujyje
                    </li>
                    <li>
                        4. Vaisiaus anemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.39 </b> Kurios akušerinės situacijos predisponuoja gimdos atoniją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Polihidramnionas
                    </li>
                    <li>
                        2. Daugiavaisis nėštumas
                    </li>
                    <li>
                        3. Stambus vaisius
                    </li>
                    <li>
                        4. Sėdyninė vaisiaus pirmeiga
                    </li>
                    <li>
                        5. Priešlaikinis gimdymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.40 </b> Kurios komplikacijos būdingos užsitęsusiam nėštumui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Netaisyklinga vaisiaus padėtis ir pirmeiga
                    </li>
                    <li>
                        2. Vaisiaus hipoksija
                    </li>
                    <li>
                        3. Polihidramnionas
                    </li>
                    <li>
                        4. Vaisiaus trauma gimdymo metu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.41 </b> Čiuopiant gimdą keturi išorinio akušerinio tyrimo būdai (Leopoldo griebsenos). Kas nustatoma 1-ąja griebsena.  </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vaisiaus pozicija
                    </li>
                    <li>
                        2. Vaisiaus padėtis
                    </li>
                    <li>
                        3. Vaisiaus pirmeiga
                    </li>
                    <li>
                        4. Apytikris nėštumo laikas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.42 </b> Palpuojant gimdą naudojami keturi išorinio akušerinio tyrimo būdai (griebsenos). Kas nustatoma 3 - ąja griebsena:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vaisiaus pozicija
                    </li>
                    <li>
                        2. Vaisiaus padėtis
                    </li>
                    <li>
                        3. Vaisiaus pirmeiga
                    </li>
                    <li>
                        4. Pirmeigės įsistatymas į dubenį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.43 </b> Kurie tyrimo metodai naudojami vaisiaus hipoksijos diagnostikai nėštumo metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kardiotokografija
                    </li>
                    <li>
                        2. Echoskopija
                    </li>
                    <li>
                        3. Doplerinis vaisiaus kraujotakos tyrimas
                    </li>
                    <li>
                        4. Biofizinis profilis
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>46.44</b> Gegužės mėn. 11 dieną nėščioji kreipėsi į gimdymo namus dėl nereguliarių gimdos susitraukimų. Trečias nėštumas, antras gimdymas, mėnesinių ciklas būdavo reguliarus (C4-5/24). Paskutinės mėnesinės buvo 08 10 d., pirmus vaisiaus judesius pajuto 12 16 d. Objekt. tyrimai: gimdos dugno aukštis 33 cm, vaisiaus vandenys nenutekėję, gimdos kaklelio atsidarymas 3 cm. Kokia nėštumo trukmė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 40 sav.
                    </li>
                    <li>
                        B. 36 sav.
                    </li>
                    <li>
                        C. 39 sav.
                    </li>
                    <li>
                        D. 42 sav.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.45</b> Gegužės mėn. 11 dieną nėščioji kreipėsi į gimdymo namus dėl nereguliarių gimdos susitraukimų. Trečias nėštumas, antras gimdymas, mėnesinių ciklas būdavo reguliarus (C4-5/24). Paskutinės mėnesinės buvo 08 10 d., pirmus vaisiaus judesius pajuto 12 16 d. Objekt. tyrimai: gimdos dugno aukštis 33 cm, vaisiaus vandenys nenutekėję, gimdos kaklelio atsidarymas 3 cm. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gresiantis priešlaikinis gimdymas
                    </li>
                    <li>
                        B. Išnešiotas nėštumas ir paruošiamieji sąrėmiai
                    </li>
                    <li>
                        C. Pernešiotas nėštumas ir prasidėjęs gimdymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.46</b> Gegužės mėn. 11 dieną nėščioji kreipėsi į gimdymo namus dėl nereguliarių gimdos susitraukimų. Trečias nėštumas, antras gimdymas, mėnesinių ciklas būdavo reguliarus (C4-5/24). Paskutinės mėnesinės buvo 08 10 d., pirmus vaisiaus judesius pajuto 12 16 d. Objekt. tyrimai: gimdos dugno aukštis 33 cm, vaisiaus vandenys nenutekėję, gimdos kaklelio atsidarymas 3 cm. Kokia turi būti taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Slopinti gimdymą
                    </li>
                    <li>
                        B. Stebėti gimdymo veiklą ir vaisiaus būklę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.47</b> Į moterų konsultaciją kreipėsi trečiakartė dėl kraujingų išskyrų iš makšties. Pagal amenorėjos datą yra 9 sav. nėštumas. Iš anamnezės - buvo du savaiminiai persileidimai (10 ir 12 sav.). Objekt. tyrimai: gimdos dydis atitinka 12 savaičių nėštumui, palpuojant - gimda minkšta, makštyje kraujingos išskyros, gimdos kaklelis normalus. Įtariama pūslinė išvisa ir moteris stacionarizuojama. Kuris tyrimas leistų patikslinti preliminarinę diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Amnioskopija
                    </li>
                    <li>
                        B. Tyrimas pro makštį
                    </li>
                    <li>
                        C. Echoskopija
                    </li>
                    <li>
                        D. Transabdominalinė amniocentezė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.48</b> Į moterų konsultaciją kreipėsi trečiakartė dėl kraujingų išskyrų iš makšties. Pagal amenorėjos datą yra 9 sav. nėštumas. Iš anamnezės - buvo du savaiminiai persileidimai (10 ir 12 sav.). Objekt. tyrimai: gimdos dydis atitinka 12 savaičių nėštumui, palpuojant - gimda minkšta, makštyje kraujingos išskyros, gimdos kaklelis normalus. Įtariama pūslinė išvisa ir moteris stacionarizuojama. Kaip, patikslinus diagnozę, ligonė turi būti gydoma:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos vakuumaspiracija ir abrazija
                    </li>
                    <li>
                        B. Chemoterapijos kursas
                    </li>
                    <li>
                        C. Laparatomija ir gimdos pašalinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.49</b> 22 m. pirmakartė atvyko dėl maudžiančių skausmų ir negausių kraujingų išskyrų iš makšties. Yra 14 sav. nėštumas. Echoskopuojant, vaisiaus dydis atitinka nėštumo laiką, placenta prisitvirtinusi priekinėje gimdos sienoje be patologinių pokyčių. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gresiantis priešlaikinis gimdymas
                    </li>
                    <li>
                        B. Gresiantis savaiminis persileidimas
                    </li>
                    <li>
                        C. Priešlaikinis normaliai prisitvirtinusios placentos dalinis atšokimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.50</b> 22 m. pirmakartė atvyko dėl maudžiančių skausmų ir negausių kraujingų išskyrų iš makšties. Yra 14 sav. nėštumas. Echoskopuojant, vaisiaus dydis atitinka nėštumo laiką, placenta prisitvirtinusi priekinėje gimdos sienoje be patologinių pokyčių. Kokia turi būti tolimesnė gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skiriamas chorioninis gonadotropinas
                    </li>
                    <li>
                        B. Atliekama gimdos abrazija
                    </li>
                    <li>
                        C. Vaisiaus plaučių brandinimas ir tokolizė
                    </li>
                    <li>
                        D. Nėštumą tausojantis režimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.51</b> Pirmakartė (30 sav. nėštumas) atvyko įtardama vaisiaus vandenų nutekėjimą (vandeningos išskyros atsirado prieš 10 val.). Iš anamnezės - 2 savaiminiai persileidimai, gydyta dėl bakterinės vaginozės. Šiuo metu karščiuoja, gimdos susitraukimų nėra, vaisiaus padėtis išilginė, pirmeiga galvinė, vaisiaus būklė gera. Pro makštį: makštyje nemalonaus kvapo išskyros, kaklelio kanalas praleidžia 3 cm. Vaisiaus vandenų pūslė plyšusi. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Prieš 10 val. prasidėjęs priešlaikinis gimdymas
                    </li>
                    <li>
                        B. Priešlaikinis vaisiaus vandenų nutekėjimas komplikuotas intrauterinine infekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.52</b> Pirmakartė (30 sav. nėštumas) atvyko įtardama vaisiaus vandenų nutekėjimą (vandeningos išskyros atsirado prieš 10 val.). Iš anamnezės - 2 savaiminiai persileidimai, gydyta dėl bakterinės vaginozės. Šiuo metu karščiuoja, gimdos susitraukimų nėra, vaisiaus padėtis išilginė, pirmeiga galvinė, vaisiaus būklė gera. Pro makštį: makštyje nemalonaus kvapo išskyros, kaklelio kanalas praleidžia 3 cm. Vaisiaus vandenų pūslė plyšusi. Kokia turi būti tolimesnė taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vaisiaus plaučių brandinimas ir antibiotikai
                    </li>
                    <li>
                        B. Tokolizė, vaisiaus plaučių brandinimas ir antibiotikai
                    </li>
                    <li>
                        C. Gimdymo skatinimas ir antibiotikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.53</b> 25 m. moteris (38 sav. nėštumas) gimdo antrą kartą. Reguliari gimdymo veikla prasidėjo prieš 3 val. Šiuo metu sąrėmiai kartojasi kas 3 min. ir trunka 34-40 sek. Vaisiaus padėtis išilginė, pirmeiga galvinė. Tiriant pro makštį: gimdos kaklelis lygus, minkštas, atsidaręs 5 cm, vaisiaus vandenys nenutekėję, skaidrūs, vaisiaus širdies tonai ritmiški - 140-152 k/min. Kaip turi būti apibūdinama akušerinė situacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Normalus atsivėrimo laikotarpis priešlaikinio gimdymo metu
                    </li>
                    <li>
                        B. Pirminis gimdymo veiklos silpnumas priešlaikinio gimdymo metu
                    </li>
                    <li>
                        C. Pirmojo gimdymo laikotarpio aktyvi fazė po išnešioto nėštumo
                    </li>
                    <li>
                        D. Antrinis gimdymo veiklos silpnumas po išnešioto nėštumo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.54</b> 25 m. moteris (38 sav. nėštumas) gimdo antrą kartą. Reguliari gimdymo veikla prasidėjo prieš 3 val. Šiuo metu sąrėmiai kartojasi kas 3 min. ir trunka 34-40 sek. Vaisiaus padėtis išilginė, pirmeiga galvinė. Tiriant pro makštį: gimdos kaklelis lygus, minkštas, atsidaręs 5 cm, vaisiaus vandenys nenutekėję, skaidrūs, vaisiaus širdies tonai ritmiški - 140-152 k/min. Kokia turi būti tolimesnė taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tokolizė nėštumo pratęsimui
                    </li>
                    <li>
                        B. Gimdymo veiklos skatinimas
                    </li>
                    <li>
                        C. Gimdymo eigos tolimesnis stebėjimas, nes šiuo metu patologijos nėra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.55</b> Pirmakartei (39 sav. nėštumas), atsiradus reguliariai gimdymo veiklai, atliktas tyrimas pro makštį, kurio metu rasta: gimdos kaklelio atsidarymas 4 cm, vaisiaus vandenys nenutekėję, skaidrūs, pirmeiga vaisiaus galva aukštai virš įeigos į mažąjį dubenį, šalia apčiuopiama pulsuojanti virkštelės kilpa. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirmojo laikotarpio pradžia ir kliniškai siauras dubuo
                    </li>
                    <li>
                        B. Pirmojo laikotarpio pradžia ir virkštelės pirmeiga
                    </li>
                    <li>
                        C. Atsidarymo laikotarpio pradžia ir virkštelės iškritimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.56</b> Pirmakartei (39 sav. nėštumas), atsiradus reguliariai gimdymo veiklai, atliktas tyrimas pro makštį, kurio metu rasta: gimdos kaklelio atsidarymas 4 cm, vaisiaus vandenys nenutekėję, skaidrūs, pirmeiga vaisiaus galva aukštai virš įeigos į mažąjį dubenį, šalia apčiuopiama pulsuojanti virkštelės kilpa. Kuri gimdymo priežiūros taktika yra teisingiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Virkštelės iškritimo profilaktika, ir atsiradus sąlygoms, vaisiaus apgręžimas bei ištraukimas
                    </li>
                    <li>
                        B. Skubi cezario pjūvio operacija
                    </li>
                    <li>
                        C. Tęsti gimdymą natūraliu būdu, tačiau, atsiradus vaisiaus hipoksijos požymiams- cezario pjūvio operacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.57</b> 25 m. pirmakartė  kreipėsi į  MK dėl nereguliarių skausmingų gimdos susitraukimų. Nėštumo laikas pagal paskutines mėnesines 35 sav.+3 d., pagal pirmuosius vaisiaus judesius (abejotini) 37 sav. MC reguliarus (C 3-5/28). Objekt. tyrimai: vaisiaus padėtis išilginė, pirmeiga galva. KTG - norma. Tiriant pro makštį: gausios balkšvos vandeningos išskyros be kraujo, gimdos kaklelis minkštas, sutrumpėjęs, kanalas praleidžia 2 cm. Amnioskopuojant,  priekinė vaisiaus vandenų pūslė sveika, vaisiaus vandenys skaidrūs. Kokia preliminarinė akušerinė anamnezė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paruošiamieji sąrėmiai esant išnešiotam nėštumui
                    </li>
                    <li>
                        B. Priešlaikinis vaisiaus vandenų nutekėjimas gręsiant priešlaikiniam gimdymui
                    </li>
                    <li>
                        C. Gresiantis priešlaikinis gimdymas
                    </li>
                    <li>
                        D. Pirmo gimdymo laikotarpio pradžia, esant išnešiotam nėštumui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.58</b> 25 m. pirmakartė  kreipėsi į  MK dėl nereguliarių skausmingų gimdos susitraukimų. Nėštumo laikas pagal paskutines mėnesines 35 sav.+3 d., pagal pirmuosius vaisiaus judesius (abejotini) 37 sav. MC reguliarus (C 3-5/28). Objekt. tyrimai: vaisiaus padėtis išilginė, pirmeiga galva. KTG - norma. Tiriant pro makštį: gausios balkšvos vandeningos išskyros be kraujo, gimdos kaklelis minkštas, sutrumpėjęs, kanalas praleidžia 2 cm. Amnioskopuojant,  priekinė vaisiaus vandenų pūslė sveika, vaisiaus vandenys skaidrūs. Kuris tyrimas būtinas gydymo taktikos pasirinkimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Echoskopija
                    </li>
                    <li>
                        B. Arborizacijos fenomeno įvertinimas
                    </li>
                    <li>
                        C. Pasėlis dėl kolonizacijos BGS
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.60</b> Antrakartė pagimdė GMP mašinoje 4100 g svorio naujagimį. Placentinis laikotarpis normalus. Į stacionarą atvyko po 15 min. Stacionare apžiūrint gimdymo takus, rastas tarpvietės plyšimas. Tarpvietės oda plyšusi iki išeinamosios angos. Palpuojant tiesiąją žarną ir paprašius moterį sutraukti sfinkterį, jo susitraukimas nejaučiamas. Apžiūrint išeinamąją angą, rasta tiesiosios žarnos rauko (sfinkterio) plyšimas. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žarninė makšties fistulė
                    </li>
                    <li>
                        B. IIº  tarpvietės plyšimas
                    </li>
                    <li>
                        C. IIIº  tarpvietės plyšimas
                    </li>
                    <li>
                        D. Tarpvietės hematoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.61</b> Antrakartė pagimdė GMP mašinoje 4100 g svorio naujagimį. Placentinis laikotarpis normalus. Į stacionarą atvyko po 15 min. Stacionare apžiūrint gimdymo takus, rastas tarpvietės plyšimas. Tarpvietės oda plyšusi iki išeinamosios angos. Palpuojant tiesiąją žarną ir paprašius moterį sutraukti sfinkterį, jo susitraukimas nejaučiamas. Apžiūrint išeinamąją angą, rasta tiesiosios žarnos rauko (sfinkterio) plyšimas. Kokia turi būti tolimesnė gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Jeigu nekraujuoja, gydyti konservatyviai
                    </li>
                    <li>
                        B. Tuojau pat siūti plyšimą sukėlus vietinę infiltracinę nejautrą
                    </li>
                    <li>
                        C. Susiūti plyšimą praėjus ankstyvajam pogimdyminiam laikotarpiui
                    </li>
                    <li>
                        D. Tuojau pat susiūti plyšimą operacinėje bendrinės ar regioninės nejautros sąlygomis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.62</b> 25 m. pirmakartės (30 sav. nėštumas) AKS - 150/100 mmHg (iki nėštumo buvo 120/80), šlapime proteinurija. Iki šiol nėštumo metu priaugo 12 kg. Subjektyviai jaučiasi gerai. Vaisiaus būklė gera. Kokia preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipertoninė liga
                    </li>
                    <li>
                        B. Lengva preeklampsijos forma
                    </li>
                    <li>
                        C. Inkstų liga
                    </li>
                    <li>
                        D. Vegetodistonija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.63</b> 25 m. pirmakartės (30 sav. nėštumas) AKS - 150/100 mmHg (iki nėštumo buvo 120/80), šlapime proteinurija. Iki šiol nėštumo metu priaugo 12 kg. Subjektyviai jaučiasi gerai. Vaisiaus būklė gera. Kuris tyrimas būtinas diagnozei patikslinti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Klinikinis kraujo tyrimas (Hb, Ht, trombocitai)
                    </li>
                    <li>
                        B. Baltymo kiekis paros šlapime
                    </li>
                    <li>
                        C. Kepenų fermentų kiekio įvertinimas
                    </li>
                    <li>
                        D. Visi paminėti tyrimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.64</b> Trečiakartė nelankė moterų konsultacijos ir atvyko į gimdymo stacionarą 06 19 d., kai prasidėjo reguliarūs sąrėmiai. Mėnesinių ciklas nereguliarus (C 5-6/26-56). Paskutinės mėnesinės buvo 08 30 d. Pirmus vaisiaus judesius pajautė 01 23 d. Objekt. tyrimai: gimdos dugno aukštis-33 cm, gimdos kaklelio atsidarymas 3 cm, vaisiaus vandenys nenutekėję. Echoskopuojant - vaisiaus biparietalinis matmuo 9,4 cm.Kaip turi būti apibūdinama akušerinė situacija</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirmojo laikotarpio pradžia (36 sav. nėštumas)
                    </li>
                    <li>
                        B. Pirmojo laikotarpio pradžia (39 sav. nėštumas)
                    </li>
                    <li>
                        C. Gręsiantis priešlaikinis gimdymas
                    </li>
                    <li>
                        D. Pirmojo laikotarpio pradžia po pernešioto nėštumo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.65</b> 20 m. pirmakartei gimdymo metu, atsiradus stangoms, prasidėjo traukuliai. Objekt. tyrimai: AKS - 180/110 mmHg, edemos, gimdos susitraukimai kartojasi kas 2 min., trunka 50 sek., gimdos kaklelis visiškai atsidaręs, vaisiaus vandenys nutekėję, vaisiaus galva mažojo dubens išėjimo plokštumoje, vedamasis taškas ties +2 lygmeniu, vaisiaus širdies tonai - 100-80 k/min. Kaip turi būti apibūdinama akušerinė situacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Preeklampsija atsidarymo laikotarpio pabaigoje
                    </li>
                    <li>
                        B. Preeklampsija išvarymo laikotarpyje ir prasidėjusi vaisiaus hipoksija
                    </li>
                    <li>
                        C. Eklampsija atsidarymo laikotarpio pabaigoje
                    </li>
                    <li>
                        D. Eklampsija išvarymo laikotarpyje ir prasidėjusi vaisiaus hipoksija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.66</b> 20 m. pirmakartei gimdymo metu, atsiradus stangoms, prasidėjo traukuliai. Objekt. tyrimai: AKS - 180/110 mmHg, edemos, gimdos susitraukimai kartojasi kas 2 min., trunka 50 sek., gimdos kaklelis visiškai atsidaręs, vaisiaus vandenys nutekėję, vaisiaus galva mažojo dubens išėjimo plokštumoje, vedamasis taškas ties +2 lygmeniu, vaisiaus širdies tonai - 100-80 k/min. Kokia turi būti taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bendrinė narkozė ir cezario pjūvio operacija
                    </li>
                    <li>
                        B. Gimdymo veiklos skatinimas
                    </li>
                    <li>
                        C. Bendrinė narkozė ir akušerinių replių operacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.67</b> Nelankiusi moterų konsultacijos ir pakartotinai gimdydama moteris (Rh -) pagimdė išnešiotą 3500 g svorio naujagimį. Apžiūrint jį rasta: odelė gelsva, kepenys ir blužnis padidintos, naujagimio kraujyje Hb - 140 g/l, eritr.-35×10¹² /l, bilirub.-96 mmol/l. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Naujagimio universalioji vandenė
                    </li>
                    <li>
                        B. Naujagimio hemolizinės ligos aneminė forma
                    </li>
                    <li>
                        C. Sunki naujagimio gelta
                    </li>
                    <li>
                        D. Fiziologinė būklė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.68</b> Nelankiusi moterų konsultacijos ir pakartotinai gimdydama moteris (Rh -) pagimdė išnešiotą 3500 g svorio naujagimį. Apžiūrint jį rasta: odelė gelsva, kepenys ir blužnis padidintos, naujagimio kraujyje Hb - 140 g/l, eritr.-35×10¹² /l, bilirub.-96 mmol/l. Kokia turi būti tolimesnė taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antianeminis gydymas
                    </li>
                    <li>
                        B. Fototerapija
                    </li>
                    <li>
                        C. Pakaitinis kraujo perpylimas
                    </li>
                    <li>
                        D. Stebėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.69</b> 29 m. pirmakartei (36 sav. nėštumas) rastas AKS -185/110 mmHg, edemos, šlapime - proteinurija. Moteris skundžiasi galvos skausmais, pykinimu. Akių dugne kraujagyslių spazmas. Iš anamnezės - iki nėštumo buvo sveika, nėštumo pradžioje - AKS - 110/70 mmHg. Per nėštumą priaugo 20 kg, tačiau echoskopiškai nustatytas vaisiaus augimo sulėtėjimas. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipertoninė liga
                    </li>
                    <li>
                        B. Eklampsija
                    </li>
                    <li>
                        C. Sunki preeklampsija
                    </li>
                    <li>
                        D. Nutukimas ir hipertoninė liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.70</b> 29 m. pirmakartei (36 sav. nėštumas) rastas AKS -185/110 mmHg, edemos, šlapime - proteinurija. Moteris skundžiasi galvos skausmais, pykinimu. Akių dugne kraujagyslių spazmas. Iš anamnezės - iki nėštumo buvo sveika, nėštumo pradžioje - AKS - 110/70 mmHg. Per nėštumą priaugo 20 kg, tačiau echoskopiškai nustatytas vaisiaus augimo sulėtėjimas. Kokia turi būti tolimesnė taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipotenzinė terapija ir vaisiaus būklės iki gimdymo termino sekimas
                    </li>
                    <li>
                        B. Skubus nėštumo užbaigimas
                    </li>
                    <li>
                        C. Hipertenzijos gydymas, o nesant efekto, nėštumo užbaigimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.71</b> 24 m. antrakartė prieš 1 val. atvyko į stacionarą, prasidėjus reguliariai gimdymo veiklai. Iš anamnezės - pirmas gimdymas baigtas cezario pjūviu dėl vaisiaus hipoksijos, naujagimis mirė. Šis nėštumas išnešiotas, numatomas vaisiaus svoris 3300 gr. Objekt. tyrimai: vaisiaus padėtis išilginė, pirmeiga galvinė, vaisiaus vandenys nenutekėję, gimdos kaklelis 1,0 cm ilgio, praleidžia 2 cm, vaisiaus širdies tonai ritmiški – 140 k/min. KTG-norma. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nepalanki akušerinė anamnezė
                    </li>
                    <li>
                        B. Distocija
                    </li>
                    <li>
                        C. Vaisiaus hipoksija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.72</b> 24 m. antrakartė prieš 1 val. atvyko į stacionarą, prasidėjus reguliariai gimdymo veiklai. Iš anamnezės - pirmas gimdymas baigtas cezario pjūviu dėl vaisiaus hipoksijos, naujagimis mirė. Šis nėštumas išnešiotas, numatomas vaisiaus svoris 3300 gr. Objekt. tyrimai: vaisiaus padėtis išilginė, pirmeiga galvinė, vaisiaus vandenys nenutekėję, gimdos kaklelis 1,0 cm ilgio, praleidžia 2 cm, vaisiaus širdies tonai ritmiški – 140 k/min. KTG-norma. Kokia turi būti tolimesnė taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Leisti gimdyti natūraliu būdu ir sekti moters bei vaisiaus būklę
                    </li>
                    <li>
                        B. Cezario pjūvio operacija
                    </li>
                    <li>
                        C. Išleisti į namus iki nutekės vaisiaus vandenys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.73</b> Moteriai (33 sav. nėštumas) nutekėjo skaidrūs vaisiaus vandenys ir atsirado nereguliarūs gimdos susitraukimai. Vaisiaus pirmeiga galvinė, būklė gera. Objekt. tyrimai: gimdos kaklelis 2 cm ilgio, praleidžia 2 cm, vaisiaus vandenų pūslė plyšusi. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Prasidėjęs priešlaikinis gimdymas
                    </li>
                    <li>
                        B. Ankstyvas vaisiaus vandenų nutekėjimas
                    </li>
                    <li>
                        C. Priešlaikinis vaisiaus vandenų nutekėjimas
                    </li>
                    <li>
                        D. Pirminis gimdymo veiklos silpnumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.74</b> Moteriai (33 sav. nėštumas) nutekėjo skaidrūs vaisiaus vandenys ir atsirado nereguliarūs gimdos susitraukimai. Vaisiaus pirmeiga galvinė, būklė gera. Objekt. tyrimai: gimdos kaklelis 2 cm ilgio, praleidžia 2 cm, vaisiaus vandenų pūslė plyšusi. Kokia turi būti tolimesnė taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tokolizė, vaisiaus plaučių brandinimas ir moters sekimas dėl galimos infekcijos
                    </li>
                    <li>
                        B. Gimdymo veiklos skatinimas
                    </li>
                    <li>
                        C. Tokolizė ir moters sekimas dėl galimos infekcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.75</b> Apžiūrint po gimdymo placentą, jos motininiame paviršiuje defektų nėra. Nuo placentos vaisiaus dangalais toliau tęsiasi kraujagyslės, kurios nutrūksta ties dangalų plyšimo kraštu. Moteris po gimdymo neteko 200 ml kraujo ir šiuo metu nekraujuoja. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vaisiaus dangalų pasilikimas gimdoje
                    </li>
                    <li>
                        B. Placentos dalių pasilikimas gimdoje
                    </li>
                    <li>
                        C. Pridėtinės placentos pasilikimas gimdoje
                    </li>
                    <li>
                        D. Norma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.76</b> Apžiūrint po gimdymo placentą, jos motininiame paviršiuje defektų nėra. Nuo placentos vaisiaus dangalais toliau tęsiasi kraujagyslės, kurios nutrūksta ties dangalų plyšimo kraštu. Moteris po gimdymo neteko 200 ml kraujo ir šiuo metu nekraujuoja. Kokia turi būti tolimesnė taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos ertmės patikrinimas ranka intraveninės narkozės metu
                    </li>
                    <li>
                        B. Konservatyvus gydymas gimdą sutraukiančiais vaistais
                    </li>
                    <li>
                        C. Laparotomija ir gimdos pašalinimas bendrinės narkozės metu
                    </li>
                    <li>
                        D. Aktyvus sekimas dėl galimo kraujavimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.77</b> 28 m. trečiakartė (36 sav. nėštumas) atvyko dėl to, kad naktį lovoje ėmė šlapti paklodė, o po to pajuto sąrėminius skausmus. Objekt. tyrimai: vaisiaus padėtis išilginė, pirmeiga galvinė, būklė gera, gimdos kaklelio atsidarymas 4-5 cm, arborizacijos fenomenas teigiamas, 35 sav. nustatyta kolonizacija BGS. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gręsiantis priešlaikinis gimdymas
                    </li>
                    <li>
                        B. Priešlaikinis vaisiaus vandenų nutekėjimas ir prasidėjęs priešlaikinis gimdymas
                    </li>
                    <li>
                        C. Prasidėjęs priešlaikinis gimdymas ir vaisiaus hipoksija
                    </li>
                    <li>
                        D. Gręsiantis priešlaikinis gimdymas ir kolpitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.78</b> 28 m. trečiakartė (36 sav. nėštumas) atvyko dėl to, kad naktį lovoje ėmė šlapti paklodė, o po to pajuto sąrėminius skausmus. Objekt. tyrimai: vaisiaus padėtis išilginė, pirmeiga galvinė, būklė gera, gimdos kaklelio atsidarymas 4-5 cm, arborizacijos fenomenas teigiamas, 35 sav. nustatyta kolonizacija BGS. Kokia turi būti tolimesnė taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vaisiaus plaučių brandinimas ir nėštumo tęsimas antibiotikų fone
                    </li>
                    <li>
                        B. Stebėti gimdymo eigą ir skirti peniciliną
                    </li>
                    <li>
                        C. Tokolizė ir antibiotikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.79</b> Pakartotinai gimdanti moteris pagimdė išnešiotus dvynius. Po 15 min. gimus visai placentai, moteris pradėjo kraujuoti. Iš gimdos kraujas teka srove. Objekt. tyrimai: gimdymo takai neplyšę, gimda didelė, minkšta, P-80 k/min., AKS-110/75 mmHg. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Placentos priaugimas
                    </li>
                    <li>
                        B. Gimdos plyšimas
                    </li>
                    <li>
                        C. Gimdos atonija
                    </li>
                    <li>
                        D. Kraujo krešėjimo sutrikimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.80</b> Pakartotinai gimdanti moteris pagimdė išnešiotus dvynius. Po 15 min. gimus visai placentai, moteris pradėjo kraujuoti. Iš gimdos kraujas teka srove. Objekt. tyrimai: gimdymo takai neplyšę, gimda didelė, minkšta, P-80 k/min., AKS-110/75 mmHg. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Laparotomija ir histerektomija
                    </li>
                    <li>
                        B. Gimdos abrazija ir gimdos susitraukimą skatinantys vaistai
                    </li>
                    <li>
                        C. Gimdos revizija ir gimdos susitraukimą skatinantys vaistai
                    </li>
                    <li>
                        D. Gimdos susitraukimą skatinantys vaistai ir kraujo plazmos perpylimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.81</b> Moters gimdymo veikla reguliari, sąrėmiai kartojasi kas 3 min. ir trunka 40 sek. Jie tęsiasi 10 val. Vaisiaus vandenys nenutekėję. Tiriant pro makštį: gimdos kaklelio atsidarymas - 10 cm., pirmeigė galva, jos strėlinė siūlė sutampa su kairiuoju įstrižiniu matmeniu, mažasis momenėlis arčiau sąvaržos, palpuojant kaulinį dubenį nepavyksta pasiekti gaktikaulio viršutinio krašto ir kyšulio. Kaip turi būti apibūdinama akušerinė situacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos kaklelio vėrimosi laikotarpis
                    </li>
                    <li>
                        B. Išstūmimo laikotarpis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.82</b> Moters gimdymo veikla reguliari, sąrėmiai kartojasi kas 3 min. ir trunka 40 sek. Jie tęsiasi 10 val. Vaisiaus vandenys nenutekėję. Tiriant pro makštį: gimdos kaklelio atsidarymas - 10 cm., pirmeigė galva, jos strėlinė siūlė sutampa su kairiuoju įstrižiniu matmeniu, mažasis momenėlis arčiau sąvaržos, palpuojant kaulinį dubenį nepavyksta pasiekti gaktikaulio viršutinio krašto ir kyšulio. Kokia tyrimo pro makštį išvada:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pakaušio pirmeigos dešinioji priekinė padėtis,
                    </li>
                    <li>
                        B. Pakaušio pirmeigos kairioji priekinė padėtis,
                    </li>
                    <li>
                        C. Pakaušio kairioji užpakalinė padėtis,
                    </li>
                    <li>
                        D. Viršugalvio pirmeigos dešinioji užpakalinė padėtis,
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.83</b> Pirmakartei (39 sav. nėštumas) reguliarūs sąrėmiai prasidėjo prieš 4 val. ir kartojasi kas 5 min., vaisiaus vandenys nutekėjo prieš 1 val. Tiriant pro makštį: gimdos kaklelis centruotas, išsilyginęs, atsidarymas - 4 cm., vaisiaus vandenys nutekėję, pirmeigė galvutė, strėlinė jos siūlė sutampa su mažojo dubens įėjimo plokštumos dešiniuoju įstrižiniu matmeniu, mažasis momenėlis arčiau sąvaržos. Kaip turi būti apibūdinama akušerinė situacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Priešlaikinis vaisiaus vandenų nutekėjimas
                    </li>
                    <li>
                        B. Išstūmimo laikotarpis ir ankstyvas vaisiaus vandenų nutekėjimas
                    </li>
                    <li>
                        C. Vėrimosi laikotarpis ir ankstyvas vaisiaus vandenų nutekėjimas
                    </li>
                    <li>
                        D. Atsidarymo laikotarpis ir savalaikis vaisiaus vandenų nutekėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.84</b> Pirmakartei (39 sav. nėštumas) reguliarūs sąrėmiai prasidėjo prieš 4 val. ir kartojasi kas 5 min., vaisiaus vandenys nutekėjo prieš 1 val. Tiriant pro makštį: gimdos kaklelis centruotas, išsilyginęs, atsidarymas - 4 cm., vaisiaus vandenys nutekėję, pirmeigė galvutė, strėlinė jos siūlė sutampa su mažojo dubens įėjimo plokštumos dešiniuoju įstrižiniu matmeniu, mažasis momenėlis arčiau sąvaržos. Kokia tyrimo pro makštį išvada:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Viršugalvio pirmeigos kairioji užpakalinė padėtis
                    </li>
                    <li>
                        B. Viršugalvio pirmeigos dešinioji užpakalinė padėtis
                    </li>
                    <li>
                        C. Pakaušio pirmeigos dešinioji priekinė padėtis
                    </li>
                    <li>
                        D. Pakaušio pirmeigos kairioji priekinė padėtis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.85</b> 21 m. pirmakartės (40 sav. nėštumas), gimdymas prasidėjo prieš 8 val. Vaisiaus vandenims nutekėjus atliktas tyrimas pro makštį: gimdos kaklelis išsilyginęs, atsidarymas - 8 cm. pirmeiga galva prisispaudusi prie įeigos į mažajį dubenį. Vaisiaus širdies tonai ritmiški - 144 k/min. Sąrėmiai kartojasi kas 3-4 min. ir trunka 40 sek. Kokia akušerinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdymo veiklos silpnumas
                    </li>
                    <li>
                        B. Ankstyvas vaisiaus vandenų nutekėjimas
                    </li>
                    <li>
                        C. Priešlaikinis vaisiaus vandenų nutekėjimas
                    </li>
                    <li>
                        D. Normalus atsidarymo laikotarpis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.86</b> 21 m. pirmakartės (40 sav. nėštumas), gimdymas prasidėjo prieš 8 val. Vaisiaus vandenims nutekėjus atliktas tyrimas pro makštį: gimdos kaklelis išsilyginęs, atsidarymas - 8 cm. pirmeiga galva prisispaudusi prie įeigos į mažajį dubenį. Vaisiaus širdies tonai ritmiški - 144 k/min. Sąrėmiai kartojasi kas 3-4 min. ir trunka 40 sek. Kokia turi būti tolimesnė taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdymo veiklos skatinimas
                    </li>
                    <li>
                        B. Vaisiaus būklės ir gimdymo eigos sekimas
                    </li>
                    <li>
                        C. Antibiotikai infekcijos profilaktikai
                    </li>
                    <li>
                        D. Tokolizė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>46.59</b> 25 m. pirmakartė  kreipėsi į  MK dėl nereguliarių skausmingų gimdos susitraukimų. Nėštumo laikas pagal paskutines mėnesines 35 sav.+3 d., pagal pirmuosius vaisiaus judesius (abejotini) 37 sav. MC reguliarus (C 3-5/28). Objekt. tyrimai: vaisiaus padėtis išilginė, pirmeiga galva. KTG - norma. Tiriant pro makštį: gausios balkšvos vandeningos išskyros be kraujo, gimdos kaklelis minkštas, sutrumpėjęs, kanalas praleidžia 2 cm. Amnioskopuojant,  priekinė vaisiaus vandenų pūslė sveika, vaisiaus vandenys skaidrūs.Kokia turi būti tolimesnio gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdymo eigos sekimas
                    </li>
                    <li>
                        B. Tokolizė
                    </li>
                    <li>
                        C. Gliukokortikoidai vaisiaus plaučių brandinimui tokolizės fone
                    </li>
                    <li>
                        D. Gliukokortikoidai ir  tokolizė antibiotikų fone
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>46.1 - 

                C
            </td>
            <td>46.2 - 

                D
            </td>
            <td>46.3 - 

                C
            </td>
            <td>46.4 - 

                B
            </td>
            <td>46.5 - 

                D
            </td>
            <td>46.6 - 

                D
            </td>
            <td>46.7 - 

                A
            </td>
            <td>46.8 - 

                B
            </td>
                </tr><tr>
            <td>46.9 - 

                A
            </td>
            <td>46.10 - 

                C
            </td>
            <td>46.11 - 

                B
            </td>
            <td>46.12 - 

                D
            </td>
            <td>46.13 - 

                B
            </td>
            <td>46.14 - 

                C
            </td>
            <td>46.15 - 

                A
            </td>
            <td>46.16 - 

                D
            </td>
                </tr><tr>
            <td>46.17 - 

                C
            </td>
            <td>46.18 - 

                C
            </td>
            <td>46.19 - 

                D
            </td>
            <td>46.20 - 

                A
            </td>
            <td>46.21 - 

                D
            </td>
            <td>46.22 - 

                C
            </td>
            <td>46.23 - 

                C
            </td>
            <td>46.24 - 

                B
            </td>
                </tr><tr>
            <td>46.25 - 

                D
            </td>
                </tr><tr>
            <td>46.26
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - A </li>
                <li>5 - A </li>
            </ul></td>
            <td>46.27
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>46.28
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>46.29
            <ul>
                <li>1 - B </li>
                <li>2 - D </li>
                <li>3 - C </li>
                <li>4 - A </li>
            </ul></td>
            <td>46.30
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - B </li>
                <li>4 - A </li>
                <li>5 - C </li>
            </ul></td>
            <td>46.31
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - C </li>
                <li>4 - B </li>
            </ul></td>
            <td>46.32
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>46.33
            <ul>
                <li>1 - E </li>
                <li>2 - A </li>
                <li>3 - A </li>
                <li>4 - A </li>
                <li>5 - B </li>
            </ul></td>
                </tr><tr>
            <td>46.34
            <ul>
                <li>1 - A </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - B </li>
                <li>5 - B </li>
            </ul></td>
                </tr><tr>
            <td>46.35
            <ul>
                <li>4</li>
            </ul></td>
            <td>46.36
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>46.37
            <ul>
                <li>4</li>
            </ul></td>
            <td>46.38
            <ul>
                <li>4</li>
            </ul></td>
            <td>46.39
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>46.40
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>46.41
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>46.42
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>46.43
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>46.44 - 

                C
            </td>
            <td>46.45 - 

                B
            </td>
            <td>46.46 - 

                B
            </td>
            <td>46.47 - 

                C
            </td>
            <td>46.48 - 

                A
            </td>
            <td>46.49 - 

                B
            </td>
            <td>46.50 - 

                D
            </td>
            <td>46.51 - 

                B
            </td>
                </tr><tr>
            <td>46.52 - 

                C
            </td>
            <td>46.53 - 

                C
            </td>
            <td>46.54 - 

                C
            </td>
            <td>46.55 - 

                B
            </td>
            <td>46.56 - 

                B
            </td>
            <td>46.57 - 

                C
            </td>
            <td>46.58 - 

                B
            </td>
            <td>46.60 - 

                C
            </td>
                </tr><tr>
            <td>46.61 - 

                D
            </td>
            <td>46.62 - 

                B
            </td>
            <td>46.63 - 

                D
            </td>
            <td>46.64 - 

                B
            </td>
            <td>46.65 - 

                D
            </td>
            <td>46.66 - 

                C
            </td>
            <td>46.67 - 

                C
            </td>
            <td>46.68 - 

                C
            </td>
                </tr><tr>
            <td>46.69 - 

                C
            </td>
            <td>46.70 - 

                B
            </td>
            <td>46.71 - 

                A
            </td>
            <td>46.72 - 

                A
            </td>
            <td>46.73 - 

                C
            </td>
            <td>46.74 - 

                A
            </td>
            <td>46.75 - 

                C
            </td>
            <td>46.76 - 

                A
            </td>
                </tr><tr>
            <td>46.77 - 

                B
            </td>
            <td>46.78 - 

                B
            </td>
            <td>46.79 - 

                C
            </td>
            <td>46.80 - 

                C
            </td>
            <td>46.81 - 

                B
            </td>
            <td>46.82 - 

                A
            </td>
            <td>46.83 - 

                C
            </td>
            <td>46.84 - 

                D
            </td>
                </tr><tr>
            <td>46.85 - 

                D
            </td>
            <td>46.86 - 

                B
            </td>
            <td>46.59 - 

                B
            </td>

</tr></tbody></table></div>