<div class="Centre Kategorija">Anesteziologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>5.1</b> Kurį vaistą reikia skirti premedikacijai, norint sumažinti seilių sekreciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Promedolį
                    </li>
                    <li>
                        B. Diazepamą
                    </li>
                    <li>
                        C. Atropiną
                    </li>
                    <li>
                        D. Midazolamą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.2</b> Kuri komplikacija dažniausiai pasitaiko, kai vartojamas fentanilis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Asistolija
                    </li>
                    <li>
                        B. Kvėpavimo slopinimas
                    </li>
                    <li>
                        C. Tachikardija
                    </li>
                    <li>
                        D. Alerginė reakcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.3</b> Trumpiausiai (3–5 min.) trunkančią raumenų relaksaciją sukelia:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atrakuriumas (Trakriumas)
                    </li>
                    <li>
                        B. Rokuroniumas (Esmeronas)
                    </li>
                    <li>
                        C. Sukcinilcholinas
                    </li>
                    <li>
                        D. Pipekuronijus (Arduanas)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.4</b> Kokia fiziologinė funkcija po anestezijos turi atsistatyti pirmiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sąmonė
                    </li>
                    <li>
                        B. Motorika
                    </li>
                    <li>
                        C. Kvėpavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.5</b> Kokia sukcinilcholino vartojimo indikacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A.  Raumenų relaksacija operacijos metu
                    </li>
                    <li>
                        B. Bronchų spazmo anestezijos metu gydymas
                    </li>
                    <li>
                        C. Gerklų spazmo anestezijos metu gydymas
                    </li>
                    <li>
                        D. Piktybinės hipertermijos gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.6</b> Nedepoliarizuojančių raumenų relaksantų veikimą antagonizuoja:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Naloksanas
                    </li>
                    <li>
                        B. Prozerinas
                    </li>
                    <li>
                        C. Atropinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.7</b> Kuriam tikslui vartojamas atropinas kartu su prozerinu, atliekant dekurarizaciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sustiprinti prozerino poveikį 
                    </li>
                    <li>
                        B. Išvengti muskarininių efektų 
                    </li>
                    <li>
                        C. Išvengti kvėpavimo depresijos 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.8</b> Koks poveikis būdingas intraveniam anestetikui ketaminui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Arterinė hipotenzija
                    </li>
                    <li>
                        B. Analgezija
                    </li>
                    <li>
                        C. Raumenų relaksacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.9</b> Koks poveikis nėra būdingas opioidui fentaniliui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kvėpavimo slopinimas
                    </li>
                    <li>
                        B. Pykinimas ir vėmimas
                    </li>
                    <li>
                        C. Ryškus kraujotakos slopinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.10</b> Kurį maksimalų azoto suboksido kiekį (%) galima vartoti mišiniui su deguonimi, norint išvengti hipoksijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 50%
                    </li>
                    <li>
                        B. 70%
                    </li>
                    <li>
                        C. 90%
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.11</b> Kokio intraveninio anestetiko poveikis trumpiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tiopentalio
                    </li>
                    <li>
                        B. Propofolio
                    </li>
                    <li>
                        C. Ketamino
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.12</b> Koks intraveninis anestetikas tinkamiausias įvadinei anestezijai ligoniams su kardiovaskuline patologija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Etomidatas
                    </li>
                    <li>
                        B. Ketaminas
                    </li>
                    <li>
                        C. Propofolis
                    </li>
                    <li>
                        D. Tiopentalis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.13</b> Kas geriausiai nurodo ligonio intubacijos sunkumą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. ASA klasė
                    </li>
                    <li>
                        B. Burnos dydis
                    </li>
                    <li>
                        C. Mallampati klasė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.14</b> Regioninės anestezijos metu dirgiklių užtvaros (blokados) seka:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vazodilatacija (autonominės skaidulos); temperatūra; skausmas; gilusis spaudimas; motorika
                    </li>
                    <li>
                        B. Temperatūra; vazodilatacija; gilusis spaudimas; skausmas; motorika
                    </li>
                    <li>
                        C. Vazodilatacija; motorika; gilusis spaudimas; temperatūra; skausmas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.15</b> Būdinga bet reta spinalinės anestezijos kmplikacija yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kvėpavimo depresija
                    </li>
                    <li>
                        B. Pooperacinis pykinimas/ vėmimas 
                    </li>
                    <li>
                        C. Galvos skausmas
                    </li>
                    <li>
                        D. Šlapimo susilaikymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.16</b> Saugiausia vieta spinalinei punkcijai atlikti, nepažeidžiant stuburo smegenų, bet kokio amžiaus pacientui yra tarpas tarp slankstelių:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Th12-L1
                    </li>
                    <li>
                        B. L1-L2
                    </li>
                    <li>
                        C. L2-L3
                    </li>
                    <li>
                        D. L3-L4
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.17</b> Dažniausia hipotenzijos priežastis spinalinės anestezijos metu yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vietinio anestetiko kardiotoksinis poveikis
                    </li>
                    <li>
                        B. Arteriolių ir venulių dilatacija
                    </li>
                    <li>
                        C. Širdies inotropinės funkcijos slopinimas vietiniu anestetiku
                    </li>
                    <li>
                        D. Hipoventiliacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.18</b> Pagrindinis epiduralinės anestezijos privalumas, lyginant su spinaline, yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lengva techniškai atlikti
                    </li>
                    <li>
                        B. Nepažeidžiamas kietasis stuburo smegenų dangalas
                    </li>
                    <li>
                        C. Mažesnis neigiamas poveikis širdies ir kraujagyslių sistemai
                    </li>
                    <li>
                        D. Galima blokuoti bet kuriuos stuburo segmentus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.19</b> Stipriausias ir ilgiausiai veikiantis vietinis anestetikas yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lidokainas
                    </li>
                    <li>
                        B. Bupivakainas
                    </li>
                    <li>
                        C. Ropivacaine
                    </li>
                    <li>
                        D. Prokainas
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>5.20</b> Kodėl premedikacijai skiriamas kiekvienas nurodytas vaistas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Atropinas
                    </li>
                    <li>
                        2 - Diazepamas
                    </li>
                    <li>
                        3 - Ondasetronas
                    </li>
                    <li>
                        4 - Morfinas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Mažina seilių sekreciją
                    </li>
                    <li>
                        B. Sukelia analgeziją
                    </li>
                    <li>
                        C. Mažina pykinimą ir vėmimą
                    </li>
                    <li>
                        D. Mažina nervinę įtampą, nerimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.21</b> Kokia anestetinė medžiaga nepageidautina kiekvienos nurodytos būklės metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Hipertoninė liga
                    </li>
                    <li>
                        2 - Astminė būklė
                    </li>
                    <li>
                        3 - Eklampsija
                    </li>
                    <li>
                        4 - Hiperkalemija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Izofluranas
                    </li>
                    <li>
                        B. Sukcinilcholinas
                    </li>
                    <li>
                        C. Ketaminas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.22</b> Kuris šalutinis poveikis anestezijos metu yra būdingas kiekvienai nurodytai medžiagai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Fentanilis 
                    </li>
                    <li>
                        2 - Propofolis
                    </li>
                    <li>
                        3 - Ketaminas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sinusinė bradikardija
                    </li>
                    <li>
                        B. Kvėpavimo depresija
                    </li>
                    <li>
                        C. Haliucinacijos ir motorinis sujaudinimas
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>5.23 </b> Kodėl premedikacijai skiriama atropino:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Seilėtekiui sumažinti
                    </li>
                    <li>
                        2. Anestetinių medžiagų poveikiui sustiprinti
                    </li>
                    <li>
                        3. Nepageidautiniems autonominiams refleksams nuslopinti
                    </li>
                    <li>
                        4. Pykinimo ir vėmimo profilaktikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.24 </b> Kuriomis ligomis sergant negalima skirti ketamino:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Bronchine astma
                    </li>
                    <li>
                        2. Arterinė hipertenzija
                    </li>
                    <li>
                        3. Kepenų funkcijos nepakankamumu
                    </li>
                    <li>
                        4. Eklampsija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.25 </b> Kurie šalutiniai reiškiniai gali atsirasti ketamino anestezijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sistolinė hipertenzija
                    </li>
                    <li>
                        2. Tachikardija
                    </li>
                    <li>
                        3. Motorinis sujaudinimas
                    </li>
                    <li>
                        4. Kvėpavimo depresija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.26 </b> Kuris šalutinis poveikis būdingas į veną švirkščiamam fentaniliui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hipotenzija
                    </li>
                    <li>
                        2. Aritmijos
                    </li>
                    <li>
                        3. Alerginė reakcija
                    </li>
                    <li>
                        4. Kvėpavimo depresija
                    </li>
                    <li>
                        5. Traukuliai 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.27 </b> Kuri anestetinė medžiaga sukelia kvėpavimo depresiją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tiopentalis
                    </li>
                    <li>
                        2. Propofolis
                    </li>
                    <li>
                        3. Fentanilis
                    </li>
                    <li>
                        4. Diazepamas
                    </li>
                    <li>
                        5. Ketaminas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.28 </b> Kuriuos vaistus galima skirti pooperacinio pykinimo ir vėmimo profilaktikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Metoclopramidas
                    </li>
                    <li>
                        2. Droperidolį
                    </li>
                    <li>
                        3. Ondasetroną 
                    </li>
                    <li>
                        4. Diazepamą
                    </li>
                    <li>
                        5. Morfiną
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>5.29</b> 50 m. ligoniui bus atliekama skrandžio rezekcija. AKS – 160/90 mmHg. Kuris medikamentas nevartotinas įvadinei anestezijai sukelti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Propofolis
                    </li>
                    <li>
                        B. Ketaminas
                    </li>
                    <li>
                        C. Diazepamas
                    </li>
                    <li>
                        D. Midazolamas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.30</b> Ligonis ruošiamas skubiai kojos operacijai. Prieš 10 metų ligoniui protezuotas mitralinis vožtuvas, dėl ko ligonis geria kraujo krešumą mažinančius vaistus. Šiuo metu krešėjimo rodikliai prailgėję 2,5 karto. Koks anestezijos būdas kontraindikuotinas šiam ligoniui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bendrinė nejautra su trachėjos intubacija
                    </li>
                    <li>
                        B. Intraveninė nejautra
                    </li>
                    <li>
                        C. Epiduralinė anestezija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.31</b> 37 m. ligonei bus atliekama blauzdos išsiplėtusių paviršinių venų šalinimo operacija. Be to, ligonė serga miastenija. Kuris anestezijos būdas nerekomenduotinas šiai ligonei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Inhaliacinė sevoflurano anestezija, išlaikant spontaninį alsavimą
                    </li>
                    <li>
                        B. Endotrachėjinė anestezija su raumenų relaksantais
                    </li>
                    <li>
                        C. Spinalinė anestezija 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.32</b> 45 m. ligoniui bus atliekamas nudegusių vietų žaizdų tvarstymas, dėl ko ligoniui reikalinga bendrinė nejautra. Žinoma, kad ligonis prieš 2 m. gydėsi psichoneurologinėje ligoninėje. Kuris vaistas nevartotinas anestezijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Propofolis
                    </li>
                    <li>
                        B. Fentanilis
                    </li>
                    <li>
                        C. Ketaminas
                    </li>
                    <li>
                        D. Tiopentalis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.33</b> Ligonis operuojamas. Skausmo malšinimas - endotrachėjinis. Anestezijai vartojami azoto viendeginis su deguonimi ir sevofluranu. Analgezija sukeliama fentaniliu. AKS, per 15 min. po intubacijos, nuo 130/80 mmHg sumažėjo iki 70/50 mmHg. Ką pirmiausia reikia daryti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pagreitinti skysčių infuziją į veną
                    </li>
                    <li>
                        B. Sumažinti sevoflurano inhaliaciją
                    </li>
                    <li>
                        C. Skirti AKS didinančių vaistų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>5.34</b> Ligonis operuojamas taikant spinalinę anesteziją dėl šlaunies arterijos nepraeinamumo. Į spinalinį kanalą sušvirkštus 20 mg 0,5% bupivakaino po 20 min. išsivystė hipotenzija, AKS sumažėjo nuo 110/70 iki 60/40 mmHg. Kuris medikamentas tinkamiausias skubiai hipotenzijos korekcijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Na nitroprusidas
                    </li>
                    <li>
                        B. Dopaminas
                    </li>
                    <li>
                        C. Efedrinas
                    </li>
                    <li>
                        D. Epinefrinas (Adrenalinas)
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>5.1 - 

                C
            </td>
            <td>5.2 - 

                B
            </td>
            <td>5.3 - 

                C
            </td>
            <td>5.4 - 

                C
            </td>
            <td>5.5 - 

                C
            </td>
            <td>5.6 - 

                B
            </td>
            <td>5.7 - 

                B
            </td>
            <td>5.8 - 

                B
            </td>
                </tr><tr>
            <td>5.9 - 

                C
            </td>
            <td>5.10 - 

                B
            </td>
            <td>5.11 - 

                B
            </td>
            <td>5.12 - 

                A
            </td>
            <td>5.13 - 

                C
            </td>
            <td>5.14 - 

                A
            </td>
            <td>5.15 - 

                C
            </td>
            <td>5.16 - 

                D
            </td>
                </tr><tr>
            <td>5.17 - 

                B
            </td>
            <td>5.18 - 

                D
            </td>
            <td>5.19 - 

                B
            </td>
                </tr><tr>
            <td>5.20
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - C </li>
                <li>4 - B </li>
            </ul></td>
            <td>5.21
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - B </li>
            </ul></td>
            <td>5.22
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
                </tr><tr>
            <td>5.23
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>5.24
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>5.25
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>5.26
            <ul>
                <li>4</li>
            </ul></td>
            <td>5.27
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>5.28
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>5.29 - 

                B
            </td>
            <td>5.30 - 

                C
            </td>
            <td>5.31 - 

                B
            </td>
            <td>5.32 - 

                C
            </td>
            <td>5.33 - 

                A
            </td>
            <td>5.34 - 

                C
            </td>

</tr></tbody></table></div>