<div class="Centre Kategorija">Aplinkos medicina</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>32.1</b> Vandens kietumą sudaro:
		

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kalcio ir magnio hidrokarbonatai
                    </li>
                    <li>
                        B. Natrio chloridas
                    </li>
                    <li>
                        C. Angliavandeniliai
                    </li>
                    <li>
                        D.  Organinės medžiagos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.2</b> Kuri iš išvardintų toksinių medžiagų geriamajame vandenyje yra siejama su dantų ir kaulų pažeidimu?
			
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Selenas
                    </li>
                    <li>
                        B.  Kadmis
                    </li>
                    <li>
                        C. Fluoridas
                    </li>
                    <li>
                        D. Nitratas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.3</b> Pagrindiniai geriamojo vandens paruošimo etapai yra:
	</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mechaninis, biologinis valymas bei dezinfekcija
                    </li>
                    <li>
                        B. Cheminis valymas
                    </li>
                    <li>
                        C. Biologinis valymas bei dezodoravimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.4</b> Pasaulyje plačiausiai naudojamas geriamojo vandens dezinfekcijos būdas yra:
	
	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Biologinis valymas
                    </li>
                    <li>
                        B. Ozonavimas
                    </li>
                    <li>
                        C. Chloravimas
                    </li>
                    <li>
                        D. Virinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.7</b> Kokia yra leidžiama nitratų koncentracija geriamajame vandenyje?
	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ne daugiau 5 mg/l
                    </li>
                    <li>
                        B.  Ne daugiau 10 mg/l
                    </li>
                    <li>
                        C. Ne daugiau 200 mg/l
                    </li>
                    <li>
                        D.  Ne daugiau 50 mg/l
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.12</b> Kuris teiginys apie palatų išplanavimą yra neteisingas?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. palatose lovos statomos eilėmis lygiagrečiai sienai su langais;
                    </li>
                    <li>
                        B. tarpas tarp šalia esančių lovų turi būti ne didesnis nei 10 cm.;
                    </li>
                    <li>
                        C. tarpas tarp lovos ir sienos su langais turi būti ne mažesnis nei 0,9 m.;
                    </li>
                    <li>
                        D. tarp lovų galų turi būti ne mažesnis nei 1,6 m. tarpas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.14</b>  Įkvepiamo oro sudėtis:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. .Deguonis – 20,95, azotas – 78,09, anglies dvideginis – apie 1, inertinės dujos, vandens garai.
                    </li>
                    <li>
                        B. Deguonis – 90, azotas – 30, anglies dvideginis – 1, vandens garai
                    </li>
                    <li>
                        C. Deguonis – 10, azotas – 90, anglies dvideginis – 1, smalkės -1 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.15</b> Nurodykite optimalias meteorologines (temperatūros, santykinės oro dregmės ir oro judėjimo greičio) sąlygas dirbant protinį arba lengvą fizinį darbą:
Oro tenperatūra	   Santykinė drėgmė	Oro judėjimo greitis

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 18-21⁰C		60-80 %		0,2 m/s
                    </li>
                    <li>
                        B. 16-18⁰C		20-40 %		0,3 m/s
                    </li>
                    <li>
                        C. 18-20⁰C		40-60 %		0,1 m/s
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.16</b> Ką parodo natūralus apšvietos koeficentas:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Patalpoje esančių langų išmatuotas apšvietimas, išreikštas procentais.
                    </li>
                    <li>
                        B. Išmatuoto apšvietimo patalpoje ir lauke santykis, išreikštas procentais.
                    </li>
                    <li>
                        C. Patalpoje esančių langų išmatuoto apšvietimo ir grindų santykis, išreikštas procentais.
                    </li>
                    <li>
                        D. Patenkančių į patalpą šviesos spindulių kritimo kampas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.17</b> Kurio iš minimų oro teršalų koncentracijos padidėjimas ore sąlygoja ,,šiltnamio efektą":

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ozone
                    </li>
                    <li>
                        B. SO₂
                    </li>
                    <li>
                        C. CO₂
                    </li>
                    <li>
                        D. N₂O₅
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.18</b> Įvertinkite darbutojo, dirbančio protinį darbą, šiluminę savijautą apskaičiuodami atšalimo dydį (H), jei katatermometro konstanta (K) - 593 mcal/cm², laikas (t) per kurį termometras atvėsta nuo 38°C iki 35°C - 100 sek. (H = K/t):


	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Darbuotojas jaus šiluminį komfortą.
                    </li>
                    <li>
                        B. Darbuotojui bus labai šalta.
                    </li>
                    <li>
                        C.  Jam bus karšta.
                    </li>
                    <li>
                        D. Jaus vėsą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.19</b> Nurodykite optimalias meteorologines darbo sąlygas dirbant sunkų fizinį darbą, atsižvelgiant į atšalimo dydžio reikšmes:


	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 8,8 cal.cm²/s
                    </li>
                    <li>
                        B. 5,9 cal.cm²/s
                    </li>
                    <li>
                        C. 3,1 cal.cm²/s
                    </li>
                    <li>
                        D. 11,9 cal.cm²/s
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.23</b> Kokia fiziologine išraiška apibrėžiamas vaikų vystymasis?

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Organų ir funkcinių sistemų biologinis potencialas;
                    </li>
                    <li>
                        B. Kokybinis organizmo sistemų diferenciavimasis;
                    </li>
                    <li>
                        C. Kiekybinis organizmo sistemų diferenciavimasis;
                    </li>
                    <li>
                        D. Akceleracijos procesas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.25</b> Kuriam meteopatologiniam sindromui būdingi širdies negalavimai (skausmai, ritmo sutrikimai ir kt.)?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. cerebraliniam;
                    </li>
                    <li>
                        B. kardialiniam;
                    </li>
                    <li>
                        C. astmatiniam; 
                    </li>
                    <li>
                        D. nervų bei kraujagyslių.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.32</b> Rekomenduojama paros energijos norma, gaunama iš baltymų, riebalų ir angliavandenių.


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. altymų 20-30%, riebalų 35-40%, angliavandenių 30-45%;
                    </li>
                    <li>
                        B. Baltymų 30-40%, riebalų  20-30%, angliavandenių 30-50%;
                    </li>
                    <li>
                        C. Baltymų 10-15 %, riebalų  28-30 %,  angliavandenių 55-62%.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.33</b> Paros energijos poreikis priklauso nuo:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo lyties, amžiaus, ūgio, kūno masės ir fizinio aktyvumo.
                    </li>
                    <li>
                        B. Nuo lyties, ūgio, kūno masės.
                    </li>
                    <li>
                        C. Nuo kūno masės ir fizinio aktyvumo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.34</b> Kūno masės indeksas indeksas apskaičiuojamas:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kūno masę (kg) padauginus iš ūgio (m²).
                    </li>
                    <li>
                        B. Kūno masę (kg) padalinus iš ūgio (m²).
                    </li>
                    <li>
                        C. Kūno masę (kg) padalinus iš ūgio (cm²)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.35</b> Norint sužinoti, kiek kalorijų žmogus pasisavina (neto kalorijos), naudojami pasisavinimo koeficientai:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gyvulinės kilmės maisto pasisavinama 95%, augalinės kilmės maisto pasisavinama 85 %, mišraus - 90%.
                    </li>
                    <li>
                        B. Gyvulinės kilmės maisto pasisavinima  90 %, augalinės kilmės maisto pasisavinama 80%, mišraus -  90%.
                    </li>
                    <li>
                        C. Gyvulinės kilmės maisto pasisavinama 85%, augalinės kilmės pasisavinama, 95%, mišraus  - 90%. 
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>32.37</b> Kokia turi būti oro temperatūra?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - mokymo klasėje
                    </li>
                    <li>
                        2 - gydytojo kabinete
                    </li>
                    <li>
                        3 - ikimokyklinio ugdymo klasėje
                    </li>
                    <li>
                        4 - sporto salėje
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 18-19⁰ C;
                    </li>
                    <li>
                        B. 20-21 °C
                    </li>
                    <li>
                        C. 21-22 ⁰C
                    </li>
                    <li>
                        D. 15-17⁰C
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.38</b> Suskirstykite pagrindines maisto medžiagas pagal išskiriamų kilokalorijų kiekį.

	
         </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 1.	Sudegdamas 1g riebalų organizme išskiria.
                    </li>
                    <li>
                        2 - Sudegdamas 1g baltymų ir angliavandenių organizme išskiria.
                    </li>
                    <li>
                        3 - Sudegdamas 1g alkoholio organizme išskiria. 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A.  7,2 kcal.
                    </li>
                    <li>
                        B.   4,1  kcal.
                    </li>
                    <li>
                        C.  9,3  kcal.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.39</b> Suskirstykite ligų sukėlėjus, priskirdami juos atitinkmai ligai.
	
                                        
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - E. Coli atmainos.
                    </li>
                    <li>
                        2 - Žuvinis kaspinuotis.
                    </li>
                    <li>
                        3 - Salmonelė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Salmoneliozė
                    </li>
                    <li>
                        B. Teniozė
                    </li>
                    <li>
                        C.  Gastroenteritas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.40</b> Priskirkite teiginiams atitinkamą diagnozę.
	
                </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Dažniausiai užsikrečiama, valgant kiaulieną ar šernieną.
                    </li>
                    <li>
                        2 - Patenka į organizmą per konservuotus maisto produktus. Dauginasi ir išskiria toksiną anaerobinėse sąlygose.
                    </li>
                    <li>
                        3 - Patenka į maistą iš nosiaryklės, odos pūlinių.
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Stafilokokinė intoksikacija.
                    </li>
                    <li>
                        B. Trichineliozė.
                    </li>
                    <li>
                        C. Botulizmas. 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.41</b> Prisiminkite nebakterinės kilmės apsinuodijimus ir priskirkite atskiroms jų grupėms atitinkamus atstovus.
	
                                  
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Mikotoksinai.
                    </li>
                    <li>
                        2 - Alkaloidai.
                    </li>
                    <li>
                        3 - Cianogeniniai  gliukozidai.
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Solaninas
                    </li>
                    <li>
                        B. Patulinas.
                    </li>
                    <li>
                        C. Amigdalinas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.42</b> Nurodykite produktuose esantį angliavandenių kiekį.
           </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 40-46 %.
                    </li>
                    <li>
                        2 - 70-79 %.
                    </li>
                    <li>
                        3 - 4,7  %
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Pienas
                    </li>
                    <li>
                        B. Duona 
                    </li>
                    <li>
                        C.  Miltai  
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.43</b> Priskirkite orus pagal palankumą sveikatai
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - paros atmosferos slėgis svyruoja &lt;6 hPa, santykinė drėgmė iki 85 proc., o vėjo greitis ne &gt;6 m/s.
                    </li>
                    <li>
                        2 - paros atmosferos slėgio pokytis &gt;4 hPa, santykinė drėgmė &gt;90 proc., o vėjo greitis &gt; 6 m/s 
                    </li>
                    <li>
                        3 - paros atmosferos slėgio pokytis &gt;10 hPa, vėjo greitis &gt;8 m/s ir kritulių kiekis didesnis kaip 1 mm. 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A.  Mediciniškai palankūs orai
                    </li>
                    <li>
                        B. Mediciniškai nepalankūs orai.
                    </li>
                    <li>
                        C. Labai mediciniškai nepalankios sąlygos
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>32.5 </b> Kurie vandens tyrimo rodikliai rodo vandens taršą fekalijomis?
	</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Padidėjusi amoniako koncentracija
                    </li>
                    <li>
                        2. Padidėjusi ištirpusio deguonies koncentracija
                    </li>
                    <li>
                        3. E.coli padidėjęs kiekis 1 ml vandens
                    </li>
                    <li>
                        4. Vandens PH pakitimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.6 </b> Koks nitritų ir nitratų poveikis sveikatai?
	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skrandyje sudaro nitrozaminus, kurie gali sukelti vėžį
                    </li>
                    <li>
                        2. Sumažina vitaminų rezorbciją organizme
                    </li>
                    <li>
                        3. Kraujyje sukelia methemoglobinemiją
                    </li>
                    <li>
                        4. Skatina akmenligės vystymąsi
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.8 </b> Kurie iš išvardintų metodų gali būti naudojami geriamojo vandens dezinfekcijai?
	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Fluoravimas
                    </li>
                    <li>
                        2. Chloravimas 
                    </li>
                    <li>
                        3.  Degazavimas
                    </li>
                    <li>
                        4. Virinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.9 </b> Kokie yra pagrindiniai veiksniai, įtakojantys hospitalinių infekcijų išsivystymą?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. higieninio – priešepideminio režimo pažeidimas sveikatos priežiūros įstaigoje;
                    </li>
                    <li>
                        2. invazinės procedūros – natūralių žmogaus anatominių barjerų pažeidimas;
                    </li>
                    <li>
                        3. paciento mikrofloros pažeidimas (gydymas antibiotikais, citostatiniais vaistais)
                    </li>
                    <li>
                        4. bloga instrumentų sterilizacijos kontrolė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.10 </b> Kokios yra svarbiausios hospitalinės infekcijos prevencijos priemonės?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1.  infekcijos šaltinio nustatymas, izoliavimas ir sanavimas
                    </li>
                    <li>
                        2. infekcijų plitimo kelių suardymas;
                    </li>
                    <li>
                        3. imlių hospitalinei infekcijai pacientų apsauga;
                    </li>
                    <li>
                        4. racionalus vitaminų ir mikroelementų skyrimas pacientams.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.11 </b> Į kuriuos kenksmingus sveikatai aplinkos parametrus turi būti atsižvelgiama, planuojant sveikatos priežiūros įstaigos statybą?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Aplinkos triukšmas;
                    </li>
                    <li>
                        2. Atstumas nuo stambių transporto mazgų;
                    </li>
                    <li>
                        3. Atmosferos tarša cheminėmis medžiagomis; 
                    </li>
                    <li>
                        4. Metinis kritulių kiekis rajone.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.13 </b> Kurie teiginiai apie sveikatos priežiūros įstaigos patalpų apdailą, jai naudojamas medžiagas, yra teisingi?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. sienos gali būti dažytos latekso dažais
                    </li>
                    <li>
                        2.  grindų danga neturi kaupti elektros krūvio;
                    </li>
                    <li>
                        3. grindų dangos siūlės turi būti suvirintos ar sulituotos;
                    </li>
                    <li>
                        4. visų patalpų langai turi būti nedūžtančio stiklo.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.20 </b> Kokie procesai vyksta organizme, šviečiant ultravioletiniams saulės spektro spinduliaims:


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Slopinama melanino sintezė
                    </li>
                    <li>
                        2. Skatinama vit. D sintezė
                    </li>
                    <li>
                        3. Sutrikdomas Ca-P metabolizmas 
                    </li>
                    <li>
                        4. Denatūruoja odos baltymai
                    </li>
                    <li>
                        5. Suaktyvėja žmogaus psichomotorinė veikla
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.21 </b> Kokiomis priemonėmis/būdais mažinama oro tarša:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Teršalų praskiedimas atmosferoje
                    </li>
                    <li>
                        2. Dūmų valymo įrenginių tobulinima
                    </li>
                    <li>
                        3. Išmetamo teršalų kiekio mažinimas, didžiausios leistinos taršos nustatymas
                    </li>
                    <li>
                        4. Technologinių procesų gerinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.22 </b> Kurie iš išvardintų faktorių yra reikalingi norint įvertinti žmogaus šiluminę savijautą ir apskaičiuoti atšalimo dydį:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Oro drėgmė
                    </li>
                    <li>
                        2. Temperatūra
                    </li>
                    <li>
                        3. Oro judėjimo greitis
                    </li>
                    <li>
                        4. Atmosferos slėgis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.24 </b> Kokios galimos akceleracijos priežastys?


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pagerėjusi mityba;
                    </li>
                    <li>
                        2. Genetiniai veiksniai;
                    </li>
                    <li>
                        3. Pagerėjusios higieninės sąlygos;
                    </li>
                    <li>
                        4. Pagerėjusios ligų gydymo technologijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.26 </b> Kokių meteorologinių veiksnių kompleksu charakterizuojami orai?

	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. temperatūra
                    </li>
                    <li>
                        2. drėgnumu
                    </li>
                    <li>
                        3. oro judėjimo greičiu
                    </li>
                    <li>
                        4. slėgiu
                    </li>
                    <li>
                        5. oro jonizacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.27 </b> Kokių savybių turi žuvų riebalai?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Yra riebaluose tirpstančių vitaminų.
                    </li>
                    <li>
                        2. Jie mažina trigliceridų koncentraciją kraujo serume.
                    </li>
                    <li>
                        3. Jie yra pagrindinis ilgos grandinės polinesočiųjų riebiųjų rūgščių šaltinis.
                    </li>
                    <li>
                        4. Yra skysti ir greitai genda.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.28 </b> Kodėl varškė rekomenduojama vyresniojo amžiaus žmonėms?
               </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Yra pagrindinis kalcio ir fosforo šaltinis.
                    </li>
                    <li>
                        2. Ji skatina žarnų peristaltiką.
                    </li>
                    <li>
                        3. Turi visa būtinas amino rūgštis.
                    </li>
                    <li>
                        4. Joje daug vandenyje tirpių vitaminų.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.29 </b> Nuo kurios mėsos negalima užsikrėsti trichinelioze?
   
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuo jautienos.
                    </li>
                    <li>
                        2. Nuo stirnienos.
                    </li>
                    <li>
                        3. Nuo zuikienos.
                    </li>
                    <li>
                        4. Nuo šernienos.  
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.30 </b> Kurie maisto produktai rekomenduojami dėl vitamino A hipovitaminozės?  
                 </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Duonos gaminiai.
                    </li>
                    <li>
                        2. Kepenys.
                    </li>
                    <li>
                        3.  Kviečių sėlenos.
                    </li>
                    <li>
                        4. Morkos, petražolės ir pomidorai.            
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>32.31 </b>  Kuriuose maisto produktuose yra skaidulinių medžiagų?
                 
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Žuvyje, kiaušiniuose.
                    </li>
                    <li>
                        2. Piene ir jo  produktuose.
                    </li>
                    <li>
                        3. Mėsoje ir jos produktuose
                    </li>
                    <li>
                        4. Kviečių sėlenose, kruopose
                    </li>
            </ul>
        </li>
    </ul>


<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>32.1 - 

                A
            </td>
            <td>32.2 - 

                C
            </td>
            <td>32.3 - 

                A
            </td>
            <td>32.4 - 

                C
            </td>
            <td>32.7 - 

                D
            </td>
            <td>32.12 - 

                B
            </td>
            <td>32.14 - 

                A
            </td>
            <td>32.15 - 

                C
            </td>
                </tr><tr>
            <td>32.16 - 

                B
            </td>
            <td>32.17 - 

                C
            </td>
            <td>32.18 - 

                A
            </td>
            <td>32.19 - 

                A
            </td>
            <td>32.23 - 

                B
            </td>
            <td>32.25 - 

                B
            </td>
            <td>32.32 - 

                C
            </td>
            <td>32.33 - 

                A
            </td>
                </tr><tr>
            <td>32.34 - 

                B
            </td>
            <td>32.35 - 

                A
            </td>
                </tr><tr>
            <td>32.37
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>32.38
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>32.39
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>32.40
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>32.41
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>32.42
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>32.43
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
            </ul></td>
                </tr><tr>
            <td>32.5
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>32.6
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>32.8
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>32.9
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>32.10
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>32.11
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>32.13
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>32.20
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>32.21
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>32.22
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>32.24
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>32.26
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>32.27
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>32.28
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>32.29
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>32.30
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>32.31
            <ul>
                <li>4</li>
            </ul></td>

</tr></tbody></table></div>