<div class="Centre Kategorija">Bendroji chirurgija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>14.1</b> Chirurginių instrumentų sterilizacijai nenaudojama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Etileno oksidas
                    </li>
                    <li>
                        B. Gama jonizuojanti radiacija
                    </li>
                    <li>
                        C. 2% gliutaraldehidas
                    </li>
                    <li>
                        D. Autoklavas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.2</b> Kuris tirpalas turi būti naudojamas operacinės žaizdos plovimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 0,05 % spiritinis chlorheksidino tirpalas
                    </li>
                    <li>
                        B. 20 % chlorheksidino bigliukonato vandeninis tirpalas
                    </li>
                    <li>
                        C. S4 tirpalas
                    </li>
                    <li>
                        D. 0.9 % NaCl tirpalas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.3</b> Kurioje temperatūroje žūsta ŽIV ir infekcinio hepatito virusai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 40ºC
                    </li>
                    <li>
                        B. 56ºC
                    </li>
                    <li>
                        C. 100ºC
                    </li>
                    <li>
                        D. Virš 100ºC
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.4</b> Kurie organizmo pakitimai būdingi vykstant kraujavimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Venų išsiplėtimas
                    </li>
                    <li>
                        B. Daugelio arteriolių išsiplėtimas
                    </li>
                    <li>
                        C. Blužnies susitraukimas
                    </li>
                    <li>
                        D. Iš širdies išmetamo kraujo kiekio sumažėjimas
                    </li>
                    <li>
                        E. Sumažėjusi aldosterono sekrecija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.5</b> I laipsnio hipovoleminiam šokui būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išsivysto netekus daugiau kaip 40% cirkuliuojančio kraujo kiekio
                    </li>
                    <li>
                        B. Tachikardija
                    </li>
                    <li>
                        C. Stebimas pulsinio spaudimo kritimas
                    </li>
                    <li>
                        D. Ryškiai sumažėja išskiriamo šlapimo kiekis
                    </li>
                    <li>
                        E. Sulėtėjęs kapiliarų prisipildymas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.6</b> Kuris priešoperacinio ligonių paruošimo tikslas yra pagrindinis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nustatyti diagnozę
                    </li>
                    <li>
                        B. Nustatyti indikacijas operacijai, jos atlikimo laiką ir apimtį
                    </li>
                    <li>
                        C. Parinkti tinkamiausią nuskausminimo būdą
                    </li>
                    <li>
                        D. Psichologiškai paruošti ligonį operacijai 
                    </li>
                    <li>
                        E. Iki minimumo sumažinti operacijos riziką ir pooperacinių komplikacijų galimybę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.7</b> Kuris veiksnys nulemia operacijos riziką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bendra ligonio būklė, nuskausminimo būdai ir operacinė trauma
                    </li>
                    <li>
                        B. Nepakankamas ligonio paruošimas operacijai, esant gyvybinėms indikacijoms
                    </li>
                    <li>
                        C. Ligonio amžius, ligos pobūdis, operacijos apimtis ir gretutinės ligos
                    </li>
                    <li>
                        D. Gyvybiškai svarbių organų (širdies, plaučių, inkstų, kepenų) funkcinė būklė
                    </li>
                    <li>
                        E. Hemostazės sutrikimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.8</b> Vietinei nejautrai būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vietiniai anestetikai pirmiausiai paveikia stambesnes nervines skaidulas
                    </li>
                    <li>
                        B. Adrenalinas pagreitina anestetiko rezorbciją ir prailgina veikimo trukmę
                    </li>
                    <li>
                        C. Lokalių anestetikų toksinis poveikis ryškiausiai pasireiškia kardiovaskulinėje ir centrinėje nervų sistemose
                    </li>
                    <li>
                        D. Operuojant pirštus, saugiau naudoti anestetiko ir adrenalino mišinį
                    </li>
                    <li>
                        E. Lidokainas veikia ilgiau už bupivikainą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.9</b> Kuris tyrimas turi didžiausią reikšmę operacijos rizikos sumažinimui priešoperaciniu laikotarpiu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. EKG
                    </li>
                    <li>
                        B. Krūtinės organų fluorograma
                    </li>
                    <li>
                        C. Išsami anamnezė
                    </li>
                    <li>
                        D. Ligonio inspekcija, palpacija, perkusija ir auskultacija
                    </li>
                    <li>
                        E. Biocheminis kraujo tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.10</b> Kuriuo metu reikia operuoti abscesą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pradėjus skaudėti
                    </li>
                    <li>
                        B. Atsiradus skausmui, patinimui,  paraudimui, karščiavimui
                    </li>
                    <li>
                        C. Tik esant fliuktuacijai
                    </li>
                    <li>
                        D. Abscesui trūkus ir pūliams prasiveržus išorėn
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.11</b> Kurie tyrimai reikšmingiausi paviršinių pūlinių diagnostikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bendri laboratoriniai tyrimai
                    </li>
                    <li>
                        B. Bakteriologiniai tyrimai
                    </li>
                    <li>
                        C. Fizikiniai tyrimai
                    </li>
                    <li>
                        D. Anamnezė
                    </li>
                    <li>
                        E. Rentgenologinis ir kiti specialūs tyrimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.12</b> Kuriuo metu dažniausiai vystosi mastitas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vaikystėje
                    </li>
                    <li>
                        B. Nėštumo metu
                    </li>
                    <li>
                        C. Po gimdymo
                    </li>
                    <li>
                        D. Klimakteriniame periode
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.13</b> Kaip turi būti gydomas atvertas mastito židinys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Židinio drenavimas pro kontrapertūrą ir žaizdos užsiuvimas (PDS)
                    </li>
                    <li>
                        B. Židinio ertmės tampri tamponada
                    </li>
                    <li>
                        C. Židinio ertmės praplovimas antiseptikais ir drenavimas
                    </li>
                    <li>
                        D. Žaizdos aklinas užsiuvimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.14</b> Kas stabligės metu nulemia intoksikaciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Putridinė infekcija (puvimo bakterijos)
                    </li>
                    <li>
                        B. Stafilokokai
                    </li>
                    <li>
                        C. Klostridijų toksinai
                    </li>
                    <li>
                        D. Rūgštūs metabolizmo produktai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.15</b> Kuris vaistas vartojamas pasyviai stabligės profilaktikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Cefalosporinai
                    </li>
                    <li>
                        B. Sulfanilamidai
                    </li>
                    <li>
                        C. Stabligės anatoksinas
                    </li>
                    <li>
                        D. Antitetaninis imunoglobulinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.16</b> Kas nulemia anaerobinių mikroorganizmų vystymąsi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nekroziniai audiniai
                    </li>
                    <li>
                        B. Imuniteto sumažėjimas
                    </li>
                    <li>
                        C. Audinių acidozė
                    </li>
                    <li>
                        D. Aerobinė infekcija
                    </li>
                    <li>
                        E. Visi nurodyti veiksniai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.17</b> Kas sukelia anaerobinę infekciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Escherichia coli
                    </li>
                    <li>
                        B. Proteus sp.
                    </li>
                    <li>
                        C. Klebsiella sp.
                    </li>
                    <li>
                        D. Bacteroides fragilis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.18</b> Kuris sepsio požymis yra svarbiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirminis židinys
                    </li>
                    <li>
                        B. Tachikardija virš 100 k/min.
                    </li>
                    <li>
                        C. Splenomegalija
                    </li>
                    <li>
                        D. Temperatūros pakilimas virš 38ºC
                    </li>
                    <li>
                        E. Visi nurodyti simptomai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.19</b> Ligonio koja staiga atšalo, pabalo, pradėjo labai skaudėti ir išnyko pulsas. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Neuritas
                    </li>
                    <li>
                        B. Venų trombozė
                    </li>
                    <li>
                        C. Minkštųjų kojos audinių uždegimas
                    </li>
                    <li>
                        D. Ūminė arterijų okliuzija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.20</b> Vidutinio amžiaus geros mitybos, kojų venų varikoze sergančiai moteriai ant kairiosios blauzdos medialinio paviršiaus atsirado pigmentuota dėmė su audinių defektu centre. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rožė
                    </li>
                    <li>
                        B. Diabetinė pėda
                    </li>
                    <li>
                        C. Osteomelitas
                    </li>
                    <li>
                        D. Varikozinė trofinė opa
                    </li>
                    <li>
                        E. Egzema
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.21</b> Ligoniui atviras blauzdikaulio lūžimas gijo labai vangiai. Po 2 m. pakilo temperatūra, lūžimo vieta paraudo ir pradėjo skaudėti. Be to, ten atsirado anga, iš kurios ėmė veržtis pūlingas sekretas. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tromboflebitas
                    </li>
                    <li>
                        B. Abscesas
                    </li>
                    <li>
                        C. Trofinė opa
                    </li>
                    <li>
                        D. Osteomielitinė fistulė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.22</b> Vyresnio amžiaus ligonis serga chronine liga, nuolat guli lovoje, nejudrus, kartais apsišlapina. Kryžmens srityje atsirado delno dydžio raudona dėmė su dar tamsesniu centru. Kokia ligos komplikacijos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Poinjekcinis vaistinis abscesas
                    </li>
                    <li>
                        B. Besiformuojanti pragula
                    </li>
                    <li>
                        C. Flegmona
                    </li>
                    <li>
                        D. Paraproktitas
                    </li>
                    <li>
                        E. Egzema
                    </li>
                    <li>
                        F. Dermatitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.23</b> Kuriuo atveju indikuotinas pirminis chirurginis žaizdos sutvarkymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Švari žaizda
                    </li>
                    <li>
                        B. Kontaminuota žaizda
                    </li>
                    <li>
                        C. Infekuota žaizda
                    </li>
                    <li>
                        D. Pūliuojanti žaizda
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.24</b> Kuris drenavimo būdas, gydant chirurginę infekciją, aseptikos ir antiseptikos požiūriu yra geriausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pasyvus uždaras
                    </li>
                    <li>
                        B. Pasyvus atviras
                    </li>
                    <li>
                        C. Aktyvus atviras
                    </li>
                    <li>
                        D. Aktyvus uždaras
                    </li>
                    <li>
                        E. Profilaktinis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.25</b> Kuri siuvamoji medžiaga gali sukelti didžiausią uždegiminę reakciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Prolenas
                    </li>
                    <li>
                        B. Šilkas
                    </li>
                    <li>
                        C. Ketgutas
                    </li>
                    <li>
                        D. Vikrilas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.26</b> Ligonis be aiškios priežasties karščiuoja, prakaituoja ir silpsta. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šiltinė ar kita infekcinė liga
                    </li>
                    <li>
                        B. Pneumonija ar tonzilitas
                    </li>
                    <li>
                        C. Rožė
                    </li>
                    <li>
                        D. Gilus pūlinys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.27</b> Kuris pūlinys gydomas (PDS) uždaruoju būdu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Anaerobinė flegmona
                    </li>
                    <li>
                        B. Poinjekcinis sėdmens abscesas
                    </li>
                    <li>
                        C. Landuonis
                    </li>
                    <li>
                        D. Osteomielitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.28</b> Kurios ligos pasekmė yra pažasties limfadenitas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Piršto ir plaštakos pūlinys
                    </li>
                    <li>
                        B. Sepsis
                    </li>
                    <li>
                        C. Hidradenitas
                    </li>
                    <li>
                        D. Kraujo liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.29</b> Sutinęs piršto ir plaštakos nugarinis paviršius. Kokią ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nugarinio piršto ir plaštakos paviršiaus pūlinys
                    </li>
                    <li>
                        B. Piršto ir plaštakos tromboflebitas
                    </li>
                    <li>
                        C. Piršto ir plaštakos delninio paviršiaus pūlinys (landuonis, flegmona)
                    </li>
                    <li>
                        D. Alergija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.30</b> Kuris operuoti einančio chirurgo rūbas turi būti sterilus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kaukė
                    </li>
                    <li>
                        B. Apatiniai rūbai
                    </li>
                    <li>
                        C. Kepuraitė
                    </li>
                    <li>
                        D. Chalatas
                    </li>
                    <li>
                        E. Prijuostė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.31</b> Kaip sterilizuojami pramoniniu būdu pagaminti chirurginiai siūlai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Autoklavuojant
                    </li>
                    <li>
                        B. Gama spinduliais
                    </li>
                    <li>
                        C. Formalino garais
                    </li>
                    <li>
                        D. Etilo oksidu
                    </li>
                    <li>
                        E. Etilo spiritu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.32</b> Kuris veiksmas priklauso mechaninei antiseptikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žaizdos plovimas 0,9 % NaCl tirpalu
                    </li>
                    <li>
                        B. Instrumentų plovimas šepečiu
                    </li>
                    <li>
                        C. Pirminis chirurginis žaizdos sutvarkymas
                    </li>
                    <li>
                        D. Operacinės grindų plovimas
                    </li>
                    <li>
                        E. Žaizdos plovimas vandenilio peroksido tirpalu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.33</b> Kuris veiksmas priklauso fizinei antiseptikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Operacinės švitinimas ultravioletiniais spinduliais
                    </li>
                    <li>
                        B. Žaizdos kraštų atnaujinimas
                    </li>
                    <li>
                        C. Instrumentų sterilizavimas karštu oru
                    </li>
                    <li>
                        D. Fizioterapinės procedūros žaizdos srityje
                    </li>
                    <li>
                        E. Instrumentų sterilizavimas karštais garais  padidintame slėgyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.34</b> Po kelių parų nuo ligos pradžios galima pamatyti rentgenologinius osteomielito požymius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Po 10-14 parų
                    </li>
                    <li>
                        B. Po vienos paros
                    </li>
                    <li>
                        C. Po 30 parų
                    </li>
                    <li>
                        D. Po 8-9 parų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.35</b> Kas sukelia hematogeninį osteomielitą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Egzogeninė infekcija
                    </li>
                    <li>
                        B. Superinfekcija
                    </li>
                    <li>
                        C. Egzogeninė ir endogeninė infekcija
                    </li>
                    <li>
                        D. Endogeninė infekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.36</b> Kurią pūlinę ligą tikslinga gydyti hiperbarine oksigenacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rožę
                    </li>
                    <li>
                        B. Hidradenitą
                    </li>
                    <li>
                        C. Viso kūno furunkuliozę
                    </li>
                    <li>
                        D. Anaerobinę flegmoną
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.63</b> Ligonis karščiuoja ir dažnai bei skausmingai tuštinasi(tenezmai). Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dizenterija
                    </li>
                    <li>
                        B. Hemorojus 
                    </li>
                    <li>
                        C. Paraproktitas
                    </li>
                    <li>
                        D. Tiesiosios žarnos vėžys
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>14.37</b> Kada pasireiškia nurodytų priežasčių sukeltas pooperacinis karščiavimas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Žaizdos infekcija
                    </li>
                    <li>
                        2 - Atelektazė, sustiprėjęs metabolizmas, endokrininiai pokyčiai, transfuzinės reakcijos, infekcijos išsisėjimas
                    </li>
                    <li>
                        3 - Plaučių komplikacijos
                    </li>
                    <li>
                        4 - Tromboflebitas, šlapimo takų infekcija
                    </li>
                    <li>
                        5 - Pilvaplėvės ertmės pūlinys
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Trečią parą ir vėliau
                    </li>
                    <li>
                        B. Tuoj pat po operacijos
                    </li>
                    <li>
                        C. Po 36 val.
                    </li>
                    <li>
                        D. 5-7 parą
                    </li>
                    <li>
                        E. Po 3 parų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.38</b> Kuriai ligai būdingas kiekvienas nurodytas simptomas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Krepitacija
                    </li>
                    <li>
                        2 - Sprando raumenų rigidiškumas (opistotonus)
                    </li>
                    <li>
                        3 - Vietinis skausmingumas
                    </li>
                    <li>
                        4 - Splenomegalija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Stabligė
                    </li>
                    <li>
                        B. Sepsis
                    </li>
                    <li>
                        C. Dujinė gangrena
                    </li>
                    <li>
                        D. Osteomielitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.40</b> Kurio pobūdžio operacija turi būti pasirinkta kiekvienos nurodytos ligos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ūminis apendicitas
                    </li>
                    <li>
                        2 - Laisva kirkšnies išvarža
                    </li>
                    <li>
                        3 - Trauminis blužnies plyšimas
                    </li>
                    <li>
                        4 - Ūminis pūlinis mastitas
                    </li>
                    <li>
                        5 - Skrandžio vėžys
                    </li>
                    <li>
                        6 - Kojų paviršinių venų varikozė
                    </li>
                    <li>
                        7 - Dekompensuota pilorostenozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ekstrinė operacija
                    </li>
                    <li>
                        B. Urgentinė operacija
                    </li>
                    <li>
                        C. Planinė operacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.64</b> Kuris ligonių tyrimo metodas yra tinkamiausias kiekvienos nurodytos patologinės būklės atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kraujavimas iš stemplės varikozinių venų 
                    </li>
                    <li>
                        2 - Prakiurusi skrandžio opa 
                    </li>
                    <li>
                        3 - Mechaninis žarnų nepraeinamumas 
                    </li>
                    <li>
                        4 - Šlapimo pūslės trauminis plyšimas 
                    </li>
                    <li>
                        5 - Užpūslinės įdubos pūlinys 
                    </li>
                    <li>
                        7 - Trauminis blužnies plyšimas 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Apžvalginė pilvo srities rentgenograma
                    </li>
                    <li>
                        B. Fibroezofagogastroduodenoskopija
                    </li>
                    <li>
                        C. Šlapimo tyrimas
                    </li>
                    <li>
                        D. Kraujo tyrimas 
                    </li>
                    <li>
                        E. Echoskopija
                    </li>
                    <li>
                        F. Tiesiosios žarnos palpacija 
                    </li>
                    <li>
                        G. Šlapimo pūslės kateterizacija
                    </li>
                    <li>
                        H. Laparoskopija 
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>14.41 </b> Ultragarsinis tyrimas naudotinas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Krūties augliams diagnozuoti jaunesnėms kaip 35 m. amžiaus moterims 
                    </li>
                    <li>
                        2. Dešinio viršutinio pilvo kvadrato skausmų priežasties nustatymui vyresnėms kaip 45 m. amžiaus moterims
                    </li>
                    <li>
                        3. Įtariant podiafragminį pūlinį pooperaciniu laikotarpiu 
                    </li>
                    <li>
                        4. Galimoms kaulų metastazėms išaiškinti vyresniems kaip 70 m. amžiaus vyrams
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.42 </b> Kurie požymiai palengvina daugelio pooperacinių komplikacijų savalaikę diagnostiką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. 3-6 parą po operacijos karščiavimą gali sukelti šlapimo takų infekcija
                    </li>
                    <li>
                        2. Dažniausia ligonių karščiavimo priežastis pirmosiomis paromis po operacijų yra plaučių komplikacijos
                    </li>
                    <li>
                        3. Pooperacinės žaizdos infekcija karščiavimą gali sukelti  5-8 parą po operacijos
                    </li>
                    <li>
                        4. Efektyviausias būdas pooperacinio laikotarpio tromboembolinių komplikacijų profilaktikai  - ligonių klizmavimas 2-3 parą po operacijos
                    </li>
                    <li>
                        5. Trečią parą po operacijos organizmas akumuliuoja sekvestruotus skysčius ir todėl būtina koreguoti vandens balansą - papildomai perpilti hemokorektorius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.43 </b> Su kuria liga siejama didžiausia operacijos rizika, planuojant didelės apimties operaciją senyvo amžiaus žmonėms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Bronchinė astma
                    </li>
                    <li>
                        2. Plaučių vėžys
                    </li>
                    <li>
                        3. Pneumosklerozė
                    </li>
                    <li>
                        4. Lėtinis obstrukcinis bronchitas
                    </li>
                    <li>
                        5. Prostatos adenoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.44 </b> Kurie simptomai būdingi sausgysliniam landuoniui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Piršto paraudimas
                    </li>
                    <li>
                        2. Piršto kontraktūra (skausminė)
                    </li>
                    <li>
                        3. Piršto ištinimas
                    </li>
                    <li>
                        4. Pulsuojantis piršto skausmas
                    </li>
                    <li>
                        5. Serozinės-pūlinės epidermio pūslės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.45 </b> Kurie mikroorganizmai dažniausiai sukelia poodinius pūlinius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Stafilokokai
                    </li>
                    <li>
                        2. Žaliamėlė pseudomona
                    </li>
                    <li>
                        3. Mišri flora
                    </li>
                    <li>
                        4. Anaerobai
                    </li>
                    <li>
                        5. Pneumokokai ir gonokokai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.46 </b> Kaip turi būti gydomas fliuktuojantis poodžio pūlinys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nedelsiant operuoti
                    </li>
                    <li>
                        2. Imobilizuoti pažeistą kūno dalį ir dėti šiltus kompresus
                    </li>
                    <li>
                        3. Punktuoti, drenuoti troakaru, plauti per drenus antiseptikais
                    </li>
                    <li>
                        4. Gydyti antibiotikais į/r, į/v, į arteriją ir endolimfagyslę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.47 </b> Kaip charakterizuojamos vazotrofinės opos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tai lėtinio veninio nepakankamumo sukeltos įvairios opos
                    </li>
                    <li>
                        2. Tai lėtinio arterinio nepakankamumo sukeltos įvairios opos
                    </li>
                    <li>
                        3. Dėl limfinės apytakos sutrikimų atsiradusios opos
                    </li>
                    <li>
                        4. Dėl periferinės nervų sistemos sutrikimų atsiradusios opos
                    </li>
                    <li>
                        5. Įvairių odos ligų sukeltos opos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.48 </b> Kurie sutrikimai yra būdingi diabetinei pėdai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Makroangiopatija
                    </li>
                    <li>
                        2. Mikroangiopatija
                    </li>
                    <li>
                        3. Neuropatija
                    </li>
                    <li>
                        4. Minkštųjų audinių uždegimai
                    </li>
                    <li>
                        5. Pėdos kaulų osteomielitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.49 </b> Kurie požymiai būdingi įgimtai fistulei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Iš fistulės protarpiais ar nuolat teka sekretas
                    </li>
                    <li>
                        2. Fistulę įmanoma diagnozuoti tuoj pat arba vėliau po gimimo
                    </li>
                    <li>
                        3. Fistulės kanalas išklotas epiteliu
                    </li>
                    <li>
                        4. Fistulės sienas dengia granuliacijos
                    </li>
                    <li>
                        5. Fistulė susidaro dėl kai kurių ligų
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>14.50</b> Chirurgas pamiršęs akinius, trumpam išėjo iš operacinės į chirurginio skyriaus koridorių, kur jam buvo atnešti ir uždėti akiniai, neprisilietus prie jo sterilios aprangos. Ką turi daryti chirurgas sugrįžęs į operacinę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pakeisti chalatą, pirštines, bachilus, kaukę ir kepuraitę
                    </li>
                    <li>
                        B. Pakeisti tik sterilią aprangą
                    </li>
                    <li>
                        C. Pakeisti tik bachilus
                    </li>
                    <li>
                        D. Iš naujo paruošti rankas, pakeisti chalatą, pirštines, bachilus, kaukę ir kepuraitę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.51</b> Ligoniui atsitiktinis asmuo dūrė peiliu į pilvą. Šalia bambos dešinėje pusėje yra nedidelė nežymiai kraujuojanti žaizda. Ligonio širdis smarkiai plaka, veidas išpiltas šalto prakaito, troškina ir skundžiasi silpnumu. Kuris reiškinys vystosi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pilvaplėvės uždegimas (peritonitas) po tuščiavidurio organo sužeidimo 
                    </li>
                    <li>
                        B. Trauminis šokas po sužeidimo
                    </li>
                    <li>
                        C. Ūminė mažakraujystė dėl vidinio kraujavimo
                    </li>
                    <li>
                        D. Nervų sistemos reakcija dėl išgąsčio 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.52</b> 43 m. ligonis hospitalizuotas praėjus 20 val. nuo ligos pradžios. Atvykęs skundėsi dešiniosios kojos tinimu ir blauzdos skausmu, ypač bandant eiti. Išsiaiškinta, kad prieš 26 val. nukrito iš 3 metrų aukščio ir susimušė dešiniąją šlaunį. Objekt. tyrimai: dešiniosios šlaunies užpakaliniame paviršiuje yra 16x15 cm poodinė kraujosruva ir nedidelės kraujosruvos apie medialinę ir lateralinę kulkšnis, dešinioji šlaunis 8 cm storesnė už kairiąją, o blauzda - 9 cm., labai skausmingi blauzdos raumenys, oda virš jų įtempta ir blizganti, a. femoralis ir a. poplitea pulsas normalus, T- 37,8ºC, ligonis išblyškęs, veidas prakaituotas. Lab. tyrimai: kraujyje - Hb-86 g/l, leuk.-10,7.10⁹/l, urea-16 mmol/l, šlapime - leuk. 3-5 r.l., eritrocitų - 4,5.10¹²/l, hial. cilindr. 3-4 r.l., rentgenologiškai kaulų lūžių nestebėta, atlikus šlaunies kraujosruvos punkciją gauta nedaug serohemoraginio skysčio, iš punkcijos vietos gausiai skiriasi serozinis skystis. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Giliųjų venų uždegimas
                    </li>
                    <li>
                        B. Šlaunies minkštųjų audinių hematoma
                    </li>
                    <li>
                        C. Ilgalaikio gniuždymo sindromas
                    </li>
                    <li>
                        D. Trauminis v. femoralis plyšimas
                    </li>
                    <li>
                        E. Šlaunies srities flegmona
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.53</b> Moters dešiniojoje pažastyje yra keli skausmingi raudonai-melsvos spalvos infiltratai, iš kurių du fliuktuoja, o trečiasis - trūkęs ir iš jo teka skysti pūliai. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Abscesas
                    </li>
                    <li>
                        B. Limfadenitas
                    </li>
                    <li>
                        C. Tromboflebitas
                    </li>
                    <li>
                        D. Hidradenitas
                    </li>
                    <li>
                        E. Krūties vėžio metastazės 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.54</b> 42 m. moters dešiniosios krūties viršutiniame lateraliniame kvadrate yra 4x5 cm skersmens skausmingas infiltratas ir fistulė, iš kurios teka negausios pūlingos išskyros. Virš infiltrato oda paraudusi ir karšta. Spenelis įtrauktas. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pūlinis mastitas
                    </li>
                    <li>
                        B. Krūties aktinomikozė
                    </li>
                    <li>
                        C. Odos tuberkuliozė
                    </li>
                    <li>
                        D. Poodžio abscesas
                    </li>
                    <li>
                        E. Griūnantis krūties vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.55</b> Žaisdamas kieme, mokyklinio amžiaus berniukas patempė kojos raiščius. Vakare koja patino ir ėmė labai skaudėti, padidėjo kirkšnies limfmazgiai, staiga pakilo temperatūra ir sutriko kojos funkcija. Labiausiai skaudėjo vidurinį blauzdos trečdalį. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kaulų lūžimas
                    </li>
                    <li>
                        B. Sausgyslių patempimas
                    </li>
                    <li>
                        C. Stabligė
                    </li>
                    <li>
                        D. Osteomielitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.56</b> Bežaidžiant krepšinį vienam žaidėjui įvyko atviras blauzdos kaulų lūžis. Žaizda buvo sutvarstyta ir ligonis nuvežtas į ligoninę, kur jam atliko repoziciją, žaizdą užsiuvo ir blauzdą sugipsavo. Po 2 parų ligoniui pradėjo labai skaudėti traumuotą koją, nukrito AKS, atsirado tachikardija, tapo neramus. Buvo pradėtas antibakterinis ir detoksikacinis gydymas, tačiau būklė negerėjo. Dėl to gipsinis tvarstis buvo nuimtas. Koja buvo labai ištinusi, tačiau apie žaizdą hiperemijos nebuvo ir iš jos nesiskyrė pūlingas sekretas. Ligonio kūno temperatūra pakilo iki 37ºC. Chirurgas perrišo žaizdą, sugipsavo ir sustiprino antibakterinį gydymą. Ligonio būklė greitai pablogėjo ir, praėjus parai nuo būklės pablogėjimo, ligonis mirė. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sepsis
                    </li>
                    <li>
                        B. Stabligė
                    </li>
                    <li>
                        C. Per didelis kojos suspaudimas gipsiniu tvarsčiu
                    </li>
                    <li>
                        D. Dujinė gangrena
                    </li>
                    <li>
                        E. Hematogeninis osteomielitas
                    </li>
                    <li>
                        F. Kaulų tuberkuliozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.57</b> Moksleivei veide atsirado keli furunkulai. Prieš einant į mokyklą ligonė išspaudė iš jų pūlius ir patepė kremu. Mokykloje veidas pradėjo tinti. Ligonei grįžus namo, temperatūra pakilo iki 40ºC, atsirado tachikardija, tachipnoe ir prasidėjo šaltkrėtis. Mergaitė buvo nuvežta į ligoninę, nustačius leukocitozę, buvo pradėtas antibakterinis gydymas. Kadangi būklė negerėjo, intoksikacijos požymiai intesyvėjo, atsirado splenomegalija, hepatomegalija, subicterus ir anemija. Kokia diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Meningitas
                    </li>
                    <li>
                        B. Hepatitas C
                    </li>
                    <li>
                        C. Osteomielitas
                    </li>
                    <li>
                        D. Sepsis
                    </li>
                    <li>
                        E. Dujinė gangrena
                    </li>
                    <li>
                        F. Stabligė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.58</b> Ligonei blauzdoje buvusios nekrozinės rožės vietoje  atsirado juoda dėmė, kurios oda kieta ir nejautri. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trofinė opa
                    </li>
                    <li>
                        B. Pakartotinė rožė
                    </li>
                    <li>
                        C. Odos nekrozė
                    </li>
                    <li>
                        D. Flegmona
                    </li>
                    <li>
                        E. Tromboflebitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.59</b> Daugeli metų rūkęs, vyresnio amžiaus vyras serga cukriniu diabetu, bendrine ateroskleroze ir kojų venų varikoze. Dabar pradėjo naktimis skaudėti pėdą, atsirado uždegimo reiškinių ir pajuodavo V ir IV pirštai. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Diabetinė pėda
                    </li>
                    <li>
                        B. Aterosklerotinė pėdos gangrena dėl arterijų okliuzijos 
                    </li>
                    <li>
                        C. Venų varikozės sukelta gangrena
                    </li>
                    <li>
                        D. Pėdos flegmona
                    </li>
                    <li>
                        E. Pėdos kaulų osteomielitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.60</b> Ligoniui, kuriam prieš kelis metus buvo atlikta laparotomija, patino ir paraudo operacinis randas, jame atsirado angelės, iš kurių veržiasi drumstas skystis. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pooperacinė išvarža
                    </li>
                    <li>
                        B. Audinių uždegimas dėl patekusios infekcijos
                    </li>
                    <li>
                        C. Besiformuojanti ligatūrinė fistulė
                    </li>
                    <li>
                        D. Priekinės pilvo sienos flegmona
                    </li>
                    <li>
                        E. Eventeratio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.61</b> Ligonis apie 20 m. serga nuo insulino priklausančiu  diabetu ir sunkiai vaikšto. Dabar jam vystosi protarpinio šlubumo reiškiniai. Šlubumo distancija - 150 m. Pastaruoju metu paraudo ir pradėjo skaudėti kairiosios pėdos V ir IV pirštus. Pirštų galai pajuodo. Kūno temperatūra pakilo iki 38,5ºC. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Audinių trofikos sutrikimai dėl arterinės okliuzijos 
                    </li>
                    <li>
                        B. Podagra
                    </li>
                    <li>
                        C. Landuonis
                    </li>
                    <li>
                        D. Osteomielitas
                    </li>
                    <li>
                        E. Diabetinė pėda
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.62</b> Jaunas ligonis prieš metus sirgo paraproktitu, kuris buvo sėkmingai išoperuotas. Dabar kas kelios savaitės apie išeinamąją angą buvusio operacinio rando vietoje susidaro riešuto dydžio skausmingas darinys. Tada kūno temperatūra pakyla iki 39ºC. Kai darinys pratrūksta ir išteka jame susidaręs kraujingas skystis, savijauta pagerėja. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sėdmens abscesas 
                    </li>
                    <li>
                        B. Anorektinė fistulė
                    </li>
                    <li>
                        C. Hemorojus
                    </li>
                    <li>
                        D. Tiesiosios žarnos iškritimas
                    </li>
                    <li>
                        E. Auglys
                    </li>
                    <li>
                        F. Paraproktitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.65</b> 66 metų ligonei progresuoja širdies kilmės ascitas (prieš 12 metų persirgo miokardo infarktu, po kurio išsivystė lėtinis prieširdžių virpėjimas). Buvusios bambinės išvaržos srityje prakiuro oda ir ėmė  bėgti ascitas. Po nesėkmingų bandymų užsiūti odos defektą, konsiliumo sprendimu ligonė buvo operuota (vietinė novokaino anestezija), planuojant padaryti hernioplastiką. Buvo pašalintas odos lopas kartu su bamba ir nuleista apie 3 l ascito. Atliekant pilvo sienos plastiką, ligonę išpylė šaltas prakaitas, pradėjo svaigti galva ir apėmė didelis silpnumas. Objekt. tyrimai: tachikardija (pulsas 108-112 k/min.), AKS pradžioje šoktelėjo iki 140/85 mm Hg, o po to ėmė mažėti ir nukrito iki 80/50 mm Hg. EKG – ryški tachikardija ir prieširdžių virpėjimas. Kaip apibūdinti ligonės būklę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nurodyti reiškiniai yra susieti su reakcija į skausmą dėl nepakankamos anestezijos
                    </li>
                    <li>
                        B. Staiga nuleistas ascitas sumažino intraabdominalinį slėgį  ir į  pilvo suplūdęs kraujas  pablogino smegenų kraujotaką
                    </li>
                    <li>
                        C. Išsivystė intoksikacijos novokainu sindromas 
                    </li>
                    <li>
                        D. Išsivystė išeminis insultas
                    </li>
                    <li>
                        E. Išsivystė anafilaksinis šokas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>14.66</b> 66 metų ligonei progresuoja širdies kilmės ascitas (prieš 12 metų persirgo miokardo infarktu, po kurio išsivystė lėtinis prieširdžių virpėjimas). Buvusios bambinės išvaržos srityje prakiuro oda ir ėmė  bėgti ascitas. Po nesėkmingų bandymų užsiūti odos defektą, konsiliumo sprendimu ligonė buvo operuota (vietinė novokaino anestezija), planuojant padaryti hernioplastiką. Buvo pašalintas odos lopas kartu su bamba ir nuleista apie 3 l ascito. Atliekant pilvo sienos plastiką, ligonę išpylė šaltas prakaitas, pradėjo svaigti galva ir apėmė didelis silpnumas. Objekt. tyrimai: tachikardija (pulsas 108-112 k/min.), AKS pradžioje šoktelėjo iki 140/85 mm Hg, o po to ėmė mažėti ir nukrito iki 80/50 mm Hg. EKG – ryški tachikardija ir prieširdžių virpėjimas. Kaip tokiu atveju turi elgtis chirurgas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nutraukti operaciją ir pervežti ligonę į reanimacijos skyrių.
                    </li>
                    <li>
                        B. Papildomai infiltruoti audinius novokainu, neviršijant bendro 0,8 g kiekio
                    </li>
                    <li>
                        C. Pakeisti anestetiką ir tęsti operaciją
                    </li>
                    <li>
                        D. Nutraukti operaciją, pakelti operacinio stalo kojūgalį, suleisti antihistamininių vaistų, paskirti cardiaca, deguonį, infuziją. Prasidėjus traukuliams, skirti barbituratus, o sustojus kvėpavimui pradėti DPV
                    </li>
                    <li>
                        E. Suleisti promedolio, duoti pakvėpuoti deguonies ir po 15 min. tęsti operaciją
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>14.1 - 

                C
            </td>
            <td>14.2 - 

                D
            </td>
            <td>14.3 - 

                D
            </td>
            <td>14.4 - 

                D
            </td>
            <td>14.5 - 

                B
            </td>
            <td>14.6 - 

                E
            </td>
            <td>14.7 - 

                C
            </td>
            <td>14.8 - 

                C
            </td>
                </tr><tr>
            <td>14.9 - 

                C
            </td>
            <td>14.10 - 

                B
            </td>
            <td>14.11 - 

                C
            </td>
            <td>14.12 - 

                C
            </td>
            <td>14.13 - 

                A
            </td>
            <td>14.14 - 

                C
            </td>
            <td>14.15 - 

                D
            </td>
            <td>14.16 - 

                E
            </td>
                </tr><tr>
            <td>14.17 - 

                D
            </td>
            <td>14.18 - 

                E
            </td>
            <td>14.19 - 

                D
            </td>
            <td>14.20 - 

                D
            </td>
            <td>14.21 - 

                D
            </td>
            <td>14.22 - 

                B
            </td>
            <td>14.23 - 

                B
            </td>
            <td>14.24 - 

                D
            </td>
                </tr><tr>
            <td>14.25 - 

                B
            </td>
            <td>14.26 - 

                D
            </td>
            <td>14.27 - 

                B
            </td>
            <td>14.28 - 

                A
            </td>
            <td>14.29 - 

                C
            </td>
            <td>14.30 - 

                D
            </td>
            <td>14.31 - 

                D
            </td>
            <td>14.32 - 

                C
            </td>
                </tr><tr>
            <td>14.33 - 

                D
            </td>
            <td>14.34 - 

                A
            </td>
            <td>14.35 - 

                D
            </td>
            <td>14.36 - 

                D
            </td>
            <td>14.63 - 

                C
            </td>
                </tr><tr>
            <td>14.37
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - E </li>
                <li>5 - D </li>
            </ul></td>
            <td>14.38
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - B </li>
            </ul></td>
            <td>14.40
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - A </li>
                <li>5 - B </li>
                <li>6 - C </li>
                <li>7 - B </li>
            </ul></td>
            <td>14.64
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - G </li>
                <li>5 - F </li>
                <li>7 - E </li>
            </ul></td>
                </tr><tr>
            <td>14.41
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>14.42
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>14.43
            <ul>
                <li>4</li>
            </ul></td>
            <td>14.44
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>14.45
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>14.46
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>14.47
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>14.48
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>14.49
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>14.50 - 

                D
            </td>
            <td>14.51 - 

                C
            </td>
            <td>14.52 - 

                C
            </td>
            <td>14.53 - 

                D
            </td>
            <td>14.54 - 

                E
            </td>
            <td>14.55 - 

                D
            </td>
            <td>14.56 - 

                D
            </td>
            <td>14.57 - 

                D
            </td>
                </tr><tr>
            <td>14.58 - 

                C
            </td>
            <td>14.59 - 

                A
            </td>
            <td>14.60 - 

                C
            </td>
            <td>14.61 - 

                E
            </td>
            <td>14.62 - 

                B
            </td>
            <td>14.65 - 

                C
            </td>
            <td>14.66 - 

                D
            </td>

</tr></tbody></table></div>