<div class="Centre Kategorija">Biochemija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>42.1</b> Kurie angliavandeniai rezorbuojami iš žarnyno į kraują:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krakmolas
                    </li>
                    <li>
                        B. Glikogenas
                    </li>
                    <li>
                        C. Sacharozė
                    </li>
                    <li>
                        D. Monosacharidai
                    </li>
                    <li>
                        E. Polisacharidai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.2</b> Kokia yra normali gliukozės koncentracija kraujyje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 3,3–5,5 mmol/l
                    </li>
                    <li>
                        B. 5,5–8,5 mmol/l
                    </li>
                    <li>
                        C. 5,0–10,0 mg/100ml
                    </li>
                    <li>
                        D. 0,3–0,5 mmol/l
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.3</b> Pirmosiomis badavimo valandomis (pvz., 8-16 val.) organizmas gliukoze aprūpinamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skaidant kepenų glikogeną
                    </li>
                    <li>
                        B. Skaidant raumenų glikogeną
                    </li>
                    <li>
                        C. Iš riebalų rūgščių, susidariusių skaidant triacilglicerolius riebaliniame audinyje
                    </li>
                    <li>
                        D. Iš aminorūgščių, susidariusių skaidant baltymus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.4</b> Į kokius galutinius apykaitos produktus suskaidomi angliavandeniai ląstelėse:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Į CO₂ 
                    </li>
                    <li>
                        B. Į H₂O
                    </li>
                    <li>
                        C. Į CO₂, H₂O ir tam tikrą energijos kiekį
                    </li>
                    <li>
                        D. Į šlapalą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.5</b> Kiek molių ATP susidaro, suskilus gliukozei iki galutinių apykaitos produktų ląstelėse aerobinėmis sąlygomis: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 2 ATP
                    </li>
                    <li>
                        B. 12 ATP
                    </li>
                    <li>
                        C. 3 ATP
                    </li>
                    <li>
                        D. 38 ATP
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.6</b> Kurių nurodytų maisto medžiagų skaidymo metu išsiskiria daugiausia energijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Angliavandenių
                    </li>
                    <li>
                        B. Baltymų
                    </li>
                    <li>
                        C. Nukleorūgščių
                    </li>
                    <li>
                        D. Riebalų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.7</b> Kurio angliavandenių apykaitos proceso metu susidaro ribozės-5-fosfatas ir redukuotas kofermentas – NADPH, reikalingas nukleorūgščių, riebalų rūgščių ir cholesterolio biosintezei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Glikolizės
                    </li>
                    <li>
                        B. Krebso ciklo
                    </li>
                    <li>
                        C. Pentozių fosfatų kelio
                    </li>
                    <li>
                        D. Gliukoneogenezės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.8</b> Kas sutrinka cukrinio diabeto metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Angliavandenių virškinimas
                    </li>
                    <li>
                        B. Gliukozės rezorbcija iš žarnyno 
                    </li>
                    <li>
                        C. Fruktozės rezorbcija iš žarnyno
                    </li>
                    <li>
                        D. Tarpinė angliavandenių apykaita
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.9</b> Kurios organelės aprūpina eukariotinę ląstelę energija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Goldžio kompleksas
                    </li>
                    <li>
                        B. Branduolys
                    </li>
                    <li>
                        C. Endoplazminis tinklas
                    </li>
                    <li>
                        D. Mitochondrija
                    </li>
                    <li>
                        E. Lizosoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.10</b> Kuriuo būdu skaidoma gliukozė ląstelėse aerobinėmis sąlygomis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gliukozė → pirovynuogių rūgštis (piruvatas) → acto rūgštis (acetil-KoA) → CO₂ ir H₂O
                    </li>
                    <li>
                        B. Gliukozė → pieno rūgštis (laktatas) → šlapalas
                    </li>
                    <li>
                        C. Gliukozė → acto rūgštis → pirovynuogių rūgštis → CO₂ ir H₂O
                    </li>
                    <li>
                        D. Gliukozė → pieno rūgštis → acto rūgštis → CO₂ ir H₂O
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.11</b> Universali gyvųjų sistemų energijos „valiuta“ yra: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. ATP 
                    </li>
                    <li>
                        B. NAD⁺
                    </li>
                    <li>
                        C. ADP
                    </li>
                    <li>
                        D. Fermentai
                    </li>
                    <li>
                        E. O₂
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.12</b> Kokiu būdu cianidai sukelia hipoksiją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sukelia centrinę hipoventiliaciją
                    </li>
                    <li>
                        B. Sulėtina deguonies pernešimą krauju
                    </li>
                    <li>
                        C. Sukelia kapiliarinės kraujotakos sutrikimus 
                    </li>
                    <li>
                        D. Lėtina audinių kvėpavimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.13</b> Pacientui nustatytas tam tikras kepenų glikogenozės tipas, kuriam būdingas glikogeno šakas sudarančio fermento defektas. Kokia kepenų glikogeno struktūra būdinga šiai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sukaupta pakitusios struktūros glikogeno, kuriam būdingos trumpos išorinės šakos
                    </li>
                    <li>
                        B. Sukaupta pakitusios struktūros glikogeno, kuriam būdingos ilgos išorinės šakos
                    </li>
                    <li>
                        C. Sukauptas normalios struktūros glikogeno perteklius
                    </li>
                    <li>
                        D. Nebūdingas nė vienas aukščiau paminėtų ypatumų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.14</b> Visi pateikti junginiai yra endogeniniai antioksidantai, išskyrus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vitaminą E
                    </li>
                    <li>
                        B. Glutationą
                    </li>
                    <li>
                        C. Vandenilio peroksidą
                    </li>
                    <li>
                        D. Superoksido dismutazę
                    </li>
                    <li>
                        E. Vitaminą C
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.15</b> Nuo ko priklauso baltymo pilnavertiškumas (baltymo kokybė):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo baltymo struktūros
                    </li>
                    <li>
                        B. Nuo aminorūgščių skaičiaus
                    </li>
                    <li>
                        C. Nuo nepakeičiamųjų aminorūgščių kiekio
                    </li>
                    <li>
                        D. Nuo baltymo cheminių savybių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.16</b> Kokioms medžiagoms veikiant susidaro methemoglobinas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. α-tokoferoliui
                    </li>
                    <li>
                        B. CO (anglies monoksidui)
                    </li>
                    <li>
                        C. NaNO₂ (nitritui)
                    </li>
                    <li>
                        D. Selenui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.17</b> Kuris teiginys apie hemoglobino gebėjimą prijungti O₂ yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hemoglobinas visiškai įsotinamas O₂ tokiomis pačiomis sąlygomis kaip ir mioglobinas
                    </li>
                    <li>
                        B. Hemoglobino gebėjimui prijungti O₂ turi reikšmės eritrocitų 2,3-difosfogliceratas
                    </li>
                    <li>
                        C. Hemoglobino gebėjimas prijungti O₂ nepriklauso nuo kraujo rūgštingumo
                    </li>
                    <li>
                        D. CO₂ neturi įtakos O₂ prisijungimui prie hemoglobino
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.18</b> Kokią funkciją atlieka mioglobinas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Perneša O₂ iš plaučių į audinius
                    </li>
                    <li>
                        B. Perneša CO₂ iš audinių į plaučius
                    </li>
                    <li>
                        C. Kaupia O₂ raumenyse
                    </li>
                    <li>
                        D. Perneša O₂ plaučiuose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.19</b> Kas yra azoto pusiausvyra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Azoto atomų skaičius baltymų molekulėje
                    </li>
                    <li>
                        B. Azoto kiekis aminorūgštyse
                    </li>
                    <li>
                        C. Azoto atomo molekulinė masė
                    </li>
                    <li>
                        D. Skirtumas tarp patenkančio į organizmą ir išsiskiriančio iš organizmo azoto kiekio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.20</b> Kurią reakciją katalizuoja aminotransferazės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Amino grupės (-NH₂) pernešimą nuo α-aminorūgšties ant α-ketonorūgšties
                    </li>
                    <li>
                        B. Amino grupės atskyrimą nuo baltymo molekulės
                    </li>
                    <li>
                        C. Amino grupės prijungimą prie kitos aminorūgšties
                    </li>
                    <li>
                        D. Katalizuoja nepakeičiamųjų aminorūgščių biosintezę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.21</b> Kuris amoniako nukenksminimo būdas yra svarbiausias žinduolių organizme:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aminorūgščių transamininimas (peramininimas)
                    </li>
                    <li>
                        B. Aminorūgščių dekarboksilinimas
                    </li>
                    <li>
                        C. Biogeninių aminų susidarymas
                    </li>
                    <li>
                        D. Šlapalo (karbamido, ureos) biosintezė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.22</b> Iš kurios aminorūgšties susidaro histaminas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Iš tirozino
                    </li>
                    <li>
                        B. Iš triptofano
                    </li>
                    <li>
                        C. Iš histidino
                    </li>
                    <li>
                        D. Iš metionino
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.23</b> Kas susidaro skylant hemui kepenyse:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapalas
                    </li>
                    <li>
                        B. Lipoproteinai
                    </li>
                    <li>
                        C. Tulžies pigmentai
                    </li>
                    <li>
                        D. Tulžies rūgštys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.24</b> Kieno sintezei būtinas cholesterolis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tulžies rūgščių
                    </li>
                    <li>
                        B. Vitamino C
                    </li>
                    <li>
                        C. Niacino
                    </li>
                    <li>
                        D. Eritrocitų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.25</b> Nuo ko priklauso riebalinio audinio trigliceridlipazės aktyvumas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo baltymų kiekio ląstelėje
                    </li>
                    <li>
                        B. Nuo kofermentų
                    </li>
                    <li>
                        C. Nuo fermento aktyvaus centro
                    </li>
                    <li>
                        D. Nuo hormonų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.26</b> Kurios riebalų rūgštys priskiriamos nepakeičiamosioms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trumpos grandinės sočiosios riebalų rūgštys
                    </li>
                    <li>
                        B. Turinčios daugiau kaip vieną dvigubąjį ryšį riebalų rūgštys (nesočiosios riebalų rūgštys)
                    </li>
                    <li>
                        C. Ilgos grandinės sočiosios riebalų rūgštys
                    </li>
                    <li>
                        D. Oleino rūgštis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.27</b> Kuris riebalų rūgščių apykaitos metabolitas įjungiamas į bendrąjį medžiagų apykaitos kelią – trikarboksirūgščių ciklą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Acetil-KoA
                    </li>
                    <li>
                        B. Acetoacetatas
                    </li>
                    <li>
                        C. Acetonas
                    </li>
                    <li>
                        D. Propionil-KoA
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.28</b> Esant acetil-KoA pertekliui, žinduolių kepenyse aktyvėja ketogenezė, todėl ketoninių kūnų koncentracija kraujo plazmoje padidėja. Vienas iš trijų ketoninių kūnų yra: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Acetil-KoA
                    </li>
                    <li>
                        B. Piruvatas
                    </li>
                    <li>
                        C. α-ketoglutaratas
                    </li>
                    <li>
                        D. α-ketobutiratas
                    </li>
                    <li>
                        E. β-hidroksibutiratas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.29</b> Kurio vitamino aktyvi forma perneša įvairaus oksidacijos laipsnio vieną anglies atomą turinčius fragmentus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tiaminas
                    </li>
                    <li>
                        B. Pantoteno rūgšties
                    </li>
                    <li>
                        C. Folio rūgšties
                    </li>
                    <li>
                        D. Riboflavinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.30</b> Kuris vitaminas yra stipriausias gamtinis antioksidantas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vit. A
                    </li>
                    <li>
                        B. Vit. D
                    </li>
                    <li>
                        C. Vit. K
                    </li>
                    <li>
                        D. Vit. E
                    </li>
                    <li>
                        E. Vit. PP
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.31</b> Koks vitaminas įeina į aminorūgščių peramininimo ir dekarboksilinimo reakcijose dalyvaujančio kofermento sudėtį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vitaminas B₆
                    </li>
                    <li>
                        B. Vitaminas B₂
                    </li>
                    <li>
                        C. Vitaminas PP
                    </li>
                    <li>
                        D. Vitaminas C
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.32</b> Kurio vitamino trūkumas gali išsivystyti pacientui, iš savo mitybos pašalinusiam daržoves ir vaisius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tiamino
                    </li>
                    <li>
                        B. Vitamino A
                    </li>
                    <li>
                        C. Kobalamino
                    </li>
                    <li>
                        D. Askorbo rūgšties
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.33</b> Kurio vitamino trūkumas sukelia jungiamojo audinio baltymo kolageno sintezės sutrikimus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vitamino A
                    </li>
                    <li>
                        B. Vitamino C
                    </li>
                    <li>
                        C. Vitamino B₁
                    </li>
                    <li>
                        D. Vitamino B₆
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.34</b> Kokio vitamino darinys dalyvauja fotocheminėse reakcijose ir yra svarbus regėjimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vitamino K
                    </li>
                    <li>
                        B. Vitamino A
                    </li>
                    <li>
                        C. Vitamino B₂
                    </li>
                    <li>
                        D. Folio rūgšties
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.35</b> Koks vitaminas įeina į kofermento A (KoA-SH), kuris yra svarbus riebalų ir angliavandenių apykaitai, sudėtį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Folio rūgštis (vitaminas B₉)
                    </li>
                    <li>
                        B. Askorbo rūgštis (vitaminas C)
                    </li>
                    <li>
                        C. Pantoteno rūgštis (vitaminas B₅)
                    </li>
                    <li>
                        D. Riboflavinas (vitaminas B₂)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.36</b> Genų raišką (ekspresiją) aktyvina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vitaminai
                    </li>
                    <li>
                        B. Aminorūgštys
                    </li>
                    <li>
                        C. Steroidiniai hormonai
                    </li>
                    <li>
                        D. Prostaglandinai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.37</b> Baltymų biosintezę mikroorganizmų ląstelėse slopina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Barbitūratai
                    </li>
                    <li>
                        B. Skydliaukės hormonai
                    </li>
                    <li>
                        C. ATP
                    </li>
                    <li>
                        D. Antibiotikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.38</b> Taškines genų mutacijas DNR molekulėje sukelia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Organizmo skysčių pH pokytis 
                    </li>
                    <li>
                        B. Hipoksija
                    </li>
                    <li>
                        C. Jonizuojanti spinduliuotė
                    </li>
                    <li>
                        D. Vitaminų stoka
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.39</b> Kuris junginys, siaurindamas inkstų arterijas, padidina kraujospūdį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Serotoninas
                    </li>
                    <li>
                        B. Histaminas
                    </li>
                    <li>
                        C. Kininai
                    </li>
                    <li>
                        D. Angiotenzinas II
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.40</b> Kuris hormonas reguliuoja elektrolitų homeostazę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tiroksinas
                    </li>
                    <li>
                        B. Insulinas
                    </li>
                    <li>
                        C. Aldosteronas
                    </li>
                    <li>
                        D. Kortikosteronas
                    </li>
                    <li>
                        E. Gliukagonas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.41</b> Kuris hormonas reguliuoja vandens homeostazę ir kraujo plazmos osmosinį slėgį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Prolaktinas
                    </li>
                    <li>
                        B. Somatostatinas
                    </li>
                    <li>
                        C. Insulinas
                    </li>
                    <li>
                        D. Vazopresinas
                    </li>
                    <li>
                        E. Tiroksinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.42</b> Kuri medžiaga kaupiasi sąnariuose podagros metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapalas
                    </li>
                    <li>
                        B. Natrio uratai (šlapimo rūgšties natrio druska)
                    </li>
                    <li>
                        C. Natrio karbonatas
                    </li>
                    <li>
                        D. Kalcio karbonatas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.43</b> Kurio iš nurodytų rodmenų koncentracijos ar aktyvumo padidėjimas, nustatytas kraujyje pirmosiomis valandomis po įvykusio miokardo infarkto, yra kliniškai informatyviausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aspartataminotransferazės
                    </li>
                    <li>
                        B. Kreatinkinazės
                    </li>
                    <li>
                        C. Mioglobino
                    </li>
                    <li>
                        D. Laktato dehidrogenazės (LDH)
                    </li>
                    <li>
                        E. Izofermentų LDH1 ir LDH2
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.44</b> Laktato dehidrogenazės (LDH) izofermentai yra organospecifiniai: LDH1 ir LDH2 tipų izofermentai yra sukaupti miokardo ląstelėse ir eritrocituose, o LDH4 ir LDH5 – kepenų ir griaučių raumenų ląstelėse. Kuris iš pateiktų veiksnių gali iškreipti LDH spektro duomenis ligonio kraujyje, kuriam įtariamas netipiškas miokardo infarktas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Didelis mažo tankio lipoproteinų (MTL) kiekis kraujo serume
                    </li>
                    <li>
                        B. Kraujo pavyzdžio hemolizė
                    </li>
                    <li>
                        C. Didelis labai mažo tankio lipoproteinų (LMTL) kiekis kraujo serume
                    </li>
                    <li>
                        D. Kepenų patologija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.45</b> Kurio komponento nėra miokardo išemijos metu susidariusioje „lipidinėje triadoje“:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Cholesterolio
                    </li>
                    <li>
                        B. Riebalų rūgščių
                    </li>
                    <li>
                        C. Fosfolipazės ir lipazės
                    </li>
                    <li>
                        D. Lizofosfatidų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.46</b> Kuris komponentas nedalyvauja lipidų virškinime:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lipazė
                    </li>
                    <li>
                        B. Karnitinas
                    </li>
                    <li>
                        C. Fosfolipazė A₂
                    </li>
                    <li>
                        D. Kolipazė
                    </li>
                    <li>
                        E. Tulžies rūgštys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.47</b> Kuris junginys kaip energijos atsarga kaupiamas raumenyse:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mg-ADP
                    </li>
                    <li>
                        B. Fosfoargininas
                    </li>
                    <li>
                        C. Karnitinas
                    </li>
                    <li>
                        D. Kreatinfosfatas (fosfokreatinas)
                    </li>
                    <li>
                        E. Gliukozė
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>42.48</b> Kiekvienam vitaminui nurodykite kofermentinę funkciją</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vitaminui PP (niacinui)
                    </li>
                    <li>
                        2 - Vitaminui H (biotinui)
                    </li>
                    <li>
                        3 - Vitaminui B6 (piridoksinui)
                    </li>
                    <li>
                        4 - Vitaminui C (askorbatui)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Oksidacijos-redukcijos kofermentai
                    </li>
                    <li>
                        B. Karboksilinimo kofermentai
                    </li>
                    <li>
                        C. Transamininimo (peramininimo) kofermentai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.49</b> Kokia yra šių maisto medžiagų energetinė vertė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 1 g angliavandenių
                    </li>
                    <li>
                        2 - 1 g baltymų
                    </li>
                    <li>
                        3 - 1 g riebalų
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 9,3 kcal (38,9 kJ)
                    </li>
                    <li>
                        B. 4,1 kcal (17,2 kJ)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.50</b> Kokie fermentai hidrolizuoja nurodytas maisto medžiagas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Angliavandenius
                    </li>
                    <li>
                        2 - Baltymus
                    </li>
                    <li>
                        3 - Riebalus
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Pepsinas
                    </li>
                    <li>
                        B. Amilazė
                    </li>
                    <li>
                        C. Lipazė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.51</b> Koks iš raidėmis pažymėtų teiginių apibūdina šias antimikrobinių vaistų grupes</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Sulfanilamidus
                    </li>
                    <li>
                        2 - Antibiotikus
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Slopina folio rūgšties biosintezę
                    </li>
                    <li>
                        B. Slopina baltymų biosintezę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.52</b> Kuri iš raidėmis pažymėtų būklių yra tipiškiausia šiems diabetinių komų tipams</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ketoacidozinei komai
                    </li>
                    <li>
                        2 - Hiperosmosinei komai
                    </li>
                    <li>
                        3 - Hiperlaktacideminei komai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Hiperglikemija
                    </li>
                    <li>
                        B. Laktacidemija
                    </li>
                    <li>
                        C. Ketonemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.53</b> Kurią biologinę funkciją vykdo nurodyti hormonai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vazopresinas
                    </li>
                    <li>
                        2 - Estradiolis
                    </li>
                    <li>
                        3 - Kortikotropinas
                    </li>
                    <li>
                        4 - Parathormonas
                    </li>
                    <li>
                        5 - Insulinas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Reguliuoja angliavandenių, riebalų ir aminorūgščių apykaitą
                    </li>
                    <li>
                        B. Reguliuoja antinksčių žievės funkciją
                    </li>
                    <li>
                        C. Reguliuoja reprodukcijos funkciją
                    </li>
                    <li>
                        D. Reguliuoja vandens homeostazę
                    </li>
                    <li>
                        E. Reguliuoja kalcio homeostazę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.54</b> Kurie fermentai katalizuoja nurodytus baltymų apykaitos procesus</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Aminorūgščių peramininimą
                    </li>
                    <li>
                        2 - Aminorūgščių oksidacinį deamininimą
                    </li>
                    <li>
                        3 - Aminorūgščių dekarboksilinimą
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Dekarboksilazės
                    </li>
                    <li>
                        B. Aminotransferazės
                    </li>
                    <li>
                        C. Oksidazės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.55</b> Kurie fermentai reguliuoja nurodytus lipidų apykaitos procesus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Riebalų rūgščių oksidaciją
                    </li>
                    <li>
                        2 - Riebalų rūgščių biosintezę
                    </li>
                    <li>
                        3 - Cholesterolio biosintezę
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 3-hidroksimetilglutaril-KoA-reduktazė (HMG-KoA-reduktazė)
                    </li>
                    <li>
                        B. Acetil-KoA-karboksilazė
                    </li>
                    <li>
                        C. Karnitin-palmitoiltransferazė I
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.56</b> Kurie fermentai sintetina nurodytas medžiagas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Glikogeną
                    </li>
                    <li>
                        2 - Palmito rūgštį
                    </li>
                    <li>
                        3 - Gliukozės-6-fosfatą
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Riebalų rūgščių sintazė
                    </li>
                    <li>
                        B. Gliukokinazė
                    </li>
                    <li>
                        C. Glikogeno sintazė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.57</b> Kurie lipidai vyrauja nurodytuose kraujo lipoproteinų tipuose</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Chilomikronuose
                    </li>
                    <li>
                        2 - Labai mažo tankio lipoproteinuose (pre-b-lipoproteinuose)
                    </li>
                    <li>
                        3 - Mažo tankio lipoproteinuose (b-lipoproteinuose)
                    </li>
                    <li>
                        4 - Didelio tankio lipoproteinuose (a-lipoproteinuose)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Trigliceridai (triacilgliceroliai)
                    </li>
                    <li>
                        B. Cholesterolis ir jo esteriai
                    </li>
                    <li>
                        C. Cholesterolio esteriai ir fosfolipidai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.58</b> Kurio fermento inhibavimas galėtų sukelti žemiau nurodytus poveikius</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Sumažinti cholesterolio kiekį kraujyje
                    </li>
                    <li>
                        2 - Slopinti uždegiminį procesą
                    </li>
                    <li>
                        3 - Gydyti podagrą
                    </li>
                    <li>
                        4 - Slopinti piktybinių navikų augimą
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Prostaglandinsintazės
                    </li>
                    <li>
                        B. Ksantinoksidazės
                    </li>
                    <li>
                        C. 3-hidroksi-3-metilglutaril-KoA reduktazės (HMG-KoA reduktazės)
                    </li>
                    <li>
                        D. Timidilatsintazės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.59</b> Kurioje ląstelės vietoje vyksta nurodyti lipidų apykaitos procesai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Riebalų rūgščių oksidacija
                    </li>
                    <li>
                        2 - Riebalų rūgščių biosintezė
                    </li>
                    <li>
                        3 - Cholesterolio biosintezė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Lygiajame endoplazminiame tinkle
                    </li>
                    <li>
                        B. Mitochondrijose
                    </li>
                    <li>
                        C. Citozolyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.60</b> Kurioje ląstelės vietoje vyksta nurodyti procesai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Gliukozės skilimas iki pirovynuogių rūgšties
                    </li>
                    <li>
                        2 - Pirovynuogių rūgšties oksidacinis dekarboksilinimas
                    </li>
                    <li>
                        3 - Acetil-KoA oksidacija
                    </li>
                    <li>
                        4 - Pentozių fosfatų kelias
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Citozolyje
                    </li>
                    <li>
                        B. Mitochondrijose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.61</b> Kurioje ląstelės vietoje vyksta nurodyti procesai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Visiškas maisto medžiagų skaidymas iki vandens ir anglies dvideginio
                    </li>
                    <li>
                        2 - DNR replikacija
                    </li>
                    <li>
                        3 - Anaerobinė glikolizė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Mitochondrijose
                    </li>
                    <li>
                        B. Citozolyje
                    </li>
                    <li>
                        C. Mitochondrijose ir citozolyje
                    </li>
                    <li>
                        D. Branduolyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.62</b> Kurios aminorūgštys reikalingos nurodytų biogeninių aminų sintezei</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Histamino
                    </li>
                    <li>
                        2 - Serotonino
                    </li>
                    <li>
                        3 - Gama aminosviesto rūgšties
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Triptofanas
                    </li>
                    <li>
                        B. Histidinas
                    </li>
                    <li>
                        C. Glutamo rūgštis
                    </li>
                    <li>
                        D. Asparto rūgštis
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>42.63 </b> Kuris (kurie) iš šių teiginių apibūdina katabolinius procesus ląstelėje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Katabolinių procesų metu energija yra gaminama
                    </li>
                    <li>
                        2. Katabolinių procesų metu makromolekulės yra skaidomos
                    </li>
                    <li>
                        3. Kataboliniai procesai vyksta ir mitochondrijose, ir citoplazmoje
                    </li>
                    <li>
                        4. Kataboliniuose procesuose energija sunaudojama
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.64 </b> Nurodykite, kuris (kurie) teiginys(iai) apibūdina mioglobiną:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mioglobine hemo sudėtyje esanti geležis yra redukuotos (Fe²⁺) formos
                    </li>
                    <li>
                        2. Mioglobinui būdingas kooperatyvus deguonies prijungimas
                    </li>
                    <li>
                        3. Mioglobinas yra viduląstelinis baltymas
                    </li>
                    <li>
                        4. Mioglobino molekulė sudaryta iš α ir β grandinių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.65 </b> Kurį (kuriuos) junginį(ius) prijungia hemoglobinas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. CO₂
                    </li>
                    <li>
                        2. O₂
                    </li>
                    <li>
                        3. H⁺
                    </li>
                    <li>
                        4. 2,3-difosfogliceratą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.66 </b> Gliukozės apykaitos ląstelėje biologinis vaidmuo yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Iš gliukozės kepenyse sintetinamas glikogenas
                    </li>
                    <li>
                        2. Skylant gliukozei išsiskiria energija
                    </li>
                    <li>
                        3. Gliukozė virsta kitais angliavandeniais
                    </li>
                    <li>
                        4. Gliukozė vartojama riebalų biosintezei
                    </li>
                    <li>
                        5. Gliukozė vartojama baltymų (glikoproteinų) ir aminorūgščių biosintezei
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.67 </b> Nurodykite gliukozės-6-fosfato panaudojimo kelius ląstelėje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Glikogeno biosintezė
                    </li>
                    <li>
                        2. Anaerobinis gliukozės skilimas
                    </li>
                    <li>
                        3. Aerobinis gliukozės skilimas
                    </li>
                    <li>
                        4. Pentozių fosfatų kelias
                    </li>
                    <li>
                        5. Laisvos gliukozės susidarymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.68 </b> Nurodykite, kurio (kurių) junginių skaidymo metu gali susidaryti acetil-KoA:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Angliavandenių
                    </li>
                    <li>
                        2. Lipidų 
                    </li>
                    <li>
                        3. Baltymų
                    </li>
                    <li>
                        4. Purino nukleotidų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.69 </b> Nurodykite acetil-KoA panaudojimo kelius ląstelėje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Oksidacija Krebso (trikarboksirūgščių) cikle
                    </li>
                    <li>
                        2. Riebalų rūgščių biosintezė
                    </li>
                    <li>
                        3. Cholesterolio biosintezė
                    </li>
                    <li>
                        4. Acetoninių medžiagų susidarymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.70 </b> Nurodykite Krebso (trikarboksirūgščių) ciklo biologinį vaidmenį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Iki galutinių apykaitos produktų oksiduojamas acetil-KoA, susidaręs angliavandenių apykaitos metu 
                    </li>
                    <li>
                        2. Iki galutinių apykaitos produktų oksiduojamas acetil-KoA, susidaręs lipidų apykaitos metu 
                    </li>
                    <li>
                        3. Iki galutinių apykaitos produktų oksiduojamas acetil-KoA, susidaręs baltymų apykaitos metu 
                    </li>
                    <li>
                        4. Šlapalo (karbamido, ureos) sintezė
                    </li>
                    <li>
                        5. Šlapimo rūgšties sintezė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.71 </b> Koks cheminis elementas yra elektronų donoras laisvų radikalų reakcijose:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Fosforas
                    </li>
                    <li>
                        2. Magnis
                    </li>
                    <li>
                        3. Chromas
                    </li>
                    <li>
                        4. Geležis
                    </li>
                    <li>
                        5. Molibdenas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.72 </b> Kuris (kurie) teiginys(iai) apie pieno rūgšties (laktato), susidariusios raumenyse skylant gliukozei, apykaitą yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pieno rūgštis krauju pernešama į kepenis
                    </li>
                    <li>
                        2. Pieno rūgštis raumenyse naudojama gliukozės sintezei
                    </li>
                    <li>
                        3. Pieno rūgštis kepenyse virsta gliukoze ir glikogenu
                    </li>
                    <li>
                        4. Iš pieno rūgšties sintetinamos tulžies rūgštys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.73 </b> Kokios iš nurodytų bendrojo cholesterolio koncentracijų kraujo serume atitinka normalias fiziologines ribas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. 6,5 mmol/l
                    </li>
                    <li>
                        2. 5 mmol/l
                    </li>
                    <li>
                        3. 7,8 mmol/l
                    </li>
                    <li>
                        4. 4 mmol/l
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.74 </b> Nurodykite, kuris (kurie) junginys(iai) gali būti gliukoneogenezės substratas(ai):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pieno rūgštis
                    </li>
                    <li>
                        2. Aminorūgštys
                    </li>
                    <li>
                        3. Glicerolis
                    </li>
                    <li>
                        4. Gliukozė
                    </li>
                    <li>
                        5. Šlapalas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.75 </b> Kuri (kurios) kepenų fermentinės sistemos metabolizuoja etanolį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Katalazė
                    </li>
                    <li>
                        2. Alkoholio dehidrogenazė
                    </li>
                    <li>
                        3. Mikrosominė etanolį oksiduojanti sistema
                    </li>
                    <li>
                        4. Heksokinazė
                    </li>
                    <li>
                        5. Laktato dehidrogenazė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.76 </b> Oksidacinis fosforilinimas yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Oksiduojamų substratų pernaša į mitochondrijas
                    </li>
                    <li>
                        2. Elektronų pernaša vidinėje mitochondrijų membranoje
                    </li>
                    <li>
                        3. Procesas, vykstantis citoplazmoje
                    </li>
                    <li>
                        4. Elektronų pernaša kvėpavimo grandine susijusi su protonų pernaša iš mitochondrijų užpildo į tarpmembraninę erdvę. Sukurtas elektrocheminis protonų gradientas naudojamas ATP sintezei
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.77 </b> ATP hidrolizės energija gali būti panaudojama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Raumens susitraukimui
                    </li>
                    <li>
                        2. Jonų ir metabolitų pernašai
                    </li>
                    <li>
                        3. Baltymų biosintezei
                    </li>
                    <li>
                        4. Hormoninio signalo perdavimui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.78 </b> Tam, kad vyktų ATP sintezė mitochondrijose, reikalinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. ATP sintazės fermentinis kompleksas
                    </li>
                    <li>
                        2. Intaktinė vidinė mitochondrijų membrana
                    </li>
                    <li>
                        3. Elektrocheminis protonų gradientas ant vidinės mitochondrijų membranos
                    </li>
                    <li>
                        4. Karnitino nešiklis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.79 </b> Nurodykite, kurio (kurių) junginio(ių) sintezei ir (ar) procesui reikalingas metioninas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kreatino 
                    </li>
                    <li>
                        2. Adrenalino 
                    </li>
                    <li>
                        3. Fosfatidilcholinų
                    </li>
                    <li>
                        4. DNR ir RNR metilinimui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.80 </b> Kuriai (kurioms) baltymų apykaitos reakcijai(oms) reikalinga vitamino B₆ kofermentinė forma piridoksalio fosfatas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Peramininimo
                    </li>
                    <li>
                        2. Deamininimo
                    </li>
                    <li>
                        3. Dekarboksilinimo
                    </li>
                    <li>
                        4. Šlapalo (karbamido, ureos) biosintezės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.81 </b> Kuris (kurie) amoniako detoksinimo būdas(i) yra svarbiausias(i):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kreatino biosintezė
                    </li>
                    <li>
                        2. Hemo biosintezė
                    </li>
                    <li>
                        3. Fosfatidilcholinų biosintezė
                    </li>
                    <li>
                        4. Šlapalo (karbamido, ureos) biosintezė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.82 </b> Kurių medžiagų apykaitos galutinis produktas yra šlapalas (karbamidas, urea):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Angliavandenių apykaitos
                    </li>
                    <li>
                        2. Lipidų apykaitos
                    </li>
                    <li>
                        3. Pigmentų apykaitos
                    </li>
                    <li>
                        4. Baltymų apykaitos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.83 </b> Koks šlapalo (karbamido, ureos) kiekis pasišalina su šlapimu per parą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. 2 g
                    </li>
                    <li>
                        2. 1 mg/l
                    </li>
                    <li>
                        3. 10 mmol/l
                    </li>
                    <li>
                        4. 25-30 g
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.84 </b> Bendrieji aminorūgščių apykaitos keliai yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Aminorūgščių peramininimas
                    </li>
                    <li>
                        2. Purinų ir pirimidinų biosintezė
                    </li>
                    <li>
                        3. Aminorūgščių deamininimas ir dekarboksilinimas
                    </li>
                    <li>
                        4. Permetilinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.85 </b> Žmogaus organizme ketonemija ir ketonurija atsiranda:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sergant cukriniu diabetu
                    </li>
                    <li>
                        2. Sergant ateroskleroze 
                    </li>
                    <li>
                        3. Badaujant
                    </li>
                    <li>
                        4. Sergant fenilketonurija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.86 </b> Kuris (kurie) junginys(iai) vadinamas(i) acetoninėmis (ketoninėmis) medžiagomis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Acetonas
                    </li>
                    <li>
                        2. Acetoacetatas
                    </li>
                    <li>
                        3. β-hidroksisviesto rūgštis (β-hidroksibutiratas)
                    </li>
                    <li>
                        4. Cholesterolis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.87 </b> Kurie lipoproteinai perneša lipidus kraujyje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Chilomikronai
                    </li>
                    <li>
                        2. Mažo tankio lipoproteinai (MTL)
                    </li>
                    <li>
                        3. Labai mažo tankio lipoproteinai (LMTL)
                    </li>
                    <li>
                        4. Didelio tankio lipoproteinai (DTL)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.88 </b> Kuris (kurie) vitaminas(ai) tirpsta riebaluose:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vitaminas A
                    </li>
                    <li>
                        2. Vitaminas H
                    </li>
                    <li>
                        3. Vitaminas E
                    </li>
                    <li>
                        4. Vitaminas B₁₂
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.89 </b> Kurioms reakcijoms reikalingi vitamino B₁₂ dariniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Permetilinimo reakcijoms
                    </li>
                    <li>
                        2. Dekarboksilinimo reakcijoms
                    </li>
                    <li>
                        3. Izomerizacijos reakcijoms
                    </li>
                    <li>
                        4. Peramininimo reakcijoms
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.90 </b> Kokia (kokiomis) ligomis susergama trūkstant vitamino B₁:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skorbutu
                    </li>
                    <li>
                        2. Beri beri
                    </li>
                    <li>
                        3. Rachitu
                    </li>
                    <li>
                        4. Vernikės-Korsakovo sindromu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.91 </b> Vitamino K trūkumas sukelia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vištakumą
                    </li>
                    <li>
                        2. Ląstelių membranų pažaidas
                    </li>
                    <li>
                        3. Rachitą
                    </li>
                    <li>
                        4. Kraujo krešėjimo sutrikimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.92 </b> Kuris (kurie) vitaminas(ai) dalyvauja kraujodaros procese:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vitaminas C
                    </li>
                    <li>
                        2. Folio rūgštis
                    </li>
                    <li>
                        3. Vitaminas D
                    </li>
                    <li>
                        4. Vitaminas B₁₂
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.93 </b> Kuris (kurie) vitaminas(ai) pasižymi antioksidacinėmis savybėmis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vitaminas D
                    </li>
                    <li>
                        2. α-tokoferolis (vitaminas E)
                    </li>
                    <li>
                        3. Vitaminas K
                    </li>
                    <li>
                        4. Vitaminas C
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.94 </b> Kuris (kurie) hormonas(ai) veikia per adenilatciklazės sistemą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Adrenalinas (epinefrinas)
                    </li>
                    <li>
                        2. Estradiolis
                    </li>
                    <li>
                        3. Gliukagonas
                    </li>
                    <li>
                        4. Kortizolis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.95 </b> Kurį (kuriuos) procesą(us) skatina insulinas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gliukozės pernašą per ląstelių membraną
                    </li>
                    <li>
                        2. Lipogenezę
                    </li>
                    <li>
                        3. Glikogeno sintezę
                    </li>
                    <li>
                        4. Baltymų sintezę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.96 </b> Kuris (kurie) hormonas(ai) reguliuoja kalcio ir fosfatų jonų koncentraciją kraujyje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Progesteronas
                    </li>
                    <li>
                        2. Parathormonas
                    </li>
                    <li>
                        3. Kortizolis
                    </li>
                    <li>
                        4. Kalcitoninas
                    </li>
                    <li>
                        5. Aldosteronas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.97 </b> Nurodykite, kuris (kurie) junginys(iai) yra antrinis(iai) signalo perdavimo tarpininkas(ai), susidarantis(ys) veikiant hormonams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. cAMP
                    </li>
                    <li>
                        2. Ca²⁺
                    </li>
                    <li>
                        3. Inozitolio trifosfatas
                    </li>
                    <li>
                        4. cGMP
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.98 </b> Nurodykite hormonus, palaikančius kalcio homeostazę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Parathormonas
                    </li>
                    <li>
                        2. Kalcitoninas
                    </li>
                    <li>
                        3. Kalcitriolis
                    </li>
                    <li>
                        4. Kalmodulinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.99 </b> Kuris (kurie) procesas(ai) yra amoniako detoksinimo būdas(i) organizme:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Riebalų rūgščių biosintezė
                    </li>
                    <li>
                        2. Šlapimo rūgšties biosintezė
                    </li>
                    <li>
                        3. Glicerolio biosintezė
                    </li>
                    <li>
                        4. Šlapalo (karbamido, ureos) biosintezė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.100 </b> Kuri (kurios) iš genetinių ligų yra lydima(os) aminorūgščių apykaitos sutrikimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Albinizmas (leukizmas)
                    </li>
                    <li>
                        2. Dauno sindromas
                    </li>
                    <li>
                        3. Fenilketonurija
                    </li>
                    <li>
                        4. Goše liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.101 </b> Kuris teiginys apibudina nepakeičiamąsias aminorūgštis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nepakeičiamosios aminorūgštys virškinimo metu yra suskaidomos ir turi būti resintetinamos organizme
                    </li>
                    <li>
                        2. Tai visos 20 aminorūgščių, sutinkamos baltymų sudėtyje
                    </li>
                    <li>
                        3. Aminorūgštys, peramininimo metu virstančios glikolizės ir Krebso ciklo tarpininkais
                    </li>
                    <li>
                        4. Aminorūgštys, kurias būtina gauti su maistu normaliam organizmo augimui ir vystymuisi
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.102 </b> Nurodykite, kur vyksta acetoninių medžiagų sintezė: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. &nbsp;&nbsp; Riebaliniame audinyje
                    </li>
                    <li>
                        2. Žarnyno gleivinėje
                    </li>
                    <li>
                        3. Inkstuose 
                    </li>
                    <li>
                        4. Kepenyse
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.103 </b> Kuris (kurie) simptomas(ai) būdingas(i) cukriniam diabetui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hiperglikemija
                    </li>
                    <li>
                        2. Gliukozurija
                    </li>
                    <li>
                        3. Ketonemija
                    </li>
                    <li>
                        4. Acidozė
                    </li>
                    <li>
                        5. Ketonurija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.104 </b> Kuris (kurie) junginys(iai) susidaro iš cholesterolio:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gliukokortikoidai ir mineralkortikoidai
                    </li>
                    <li>
                        2. 7-dehidrocholesterolis
                    </li>
                    <li>
                        3. Tulžies rūgštys
                    </li>
                    <li>
                        4. Androgenai
                    </li>
                    <li>
                        5. Estrogenai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.105 </b> Kuri (kurios) nukleorūgštys dalyvauja genų raiškoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. DNR
                    </li>
                    <li>
                        2. iRNR
                    </li>
                    <li>
                        3. tRNR
                    </li>
                    <li>
                        4. rRNR
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>42.106 </b> Kuris (kurie) išvardintas(i) komponentas(ai) tiesiogiai dalyvauja baltymų sintezėje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. tRNR
                    </li>
                    <li>
                        2. Ribosomos
                    </li>
                    <li>
                        3. iRNR
                    </li>
                    <li>
                        4. Lizosomos
                    </li>
            </ul>
        </li>
    </ul>


<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>42.1 - 

                D
            </td>
            <td>42.2 - 

                A
            </td>
            <td>42.3 - 

                A
            </td>
            <td>42.4 - 

                C
            </td>
            <td>42.5 - 

                D
            </td>
            <td>42.6 - 

                D
            </td>
            <td>42.7 - 

                C
            </td>
            <td>42.8 - 

                D
            </td>
                </tr><tr>
            <td>42.9 - 

                D
            </td>
            <td>42.10 - 

                A
            </td>
            <td>42.11 - 

                A
            </td>
            <td>42.12 - 

                D
            </td>
            <td>42.13 - 

                B
            </td>
            <td>42.14 - 

                C
            </td>
            <td>42.15 - 

                C
            </td>
            <td>42.16 - 

                C
            </td>
                </tr><tr>
            <td>42.17 - 

                B
            </td>
            <td>42.18 - 

                C
            </td>
            <td>42.19 - 

                D
            </td>
            <td>42.20 - 

                A
            </td>
            <td>42.21 - 

                D
            </td>
            <td>42.22 - 

                C
            </td>
            <td>42.23 - 

                C
            </td>
            <td>42.24 - 

                A
            </td>
                </tr><tr>
            <td>42.25 - 

                D
            </td>
            <td>42.26 - 

                B
            </td>
            <td>42.27 - 

                A
            </td>
            <td>42.28 - 

                E
            </td>
            <td>42.29 - 

                C
            </td>
            <td>42.30 - 

                D
            </td>
            <td>42.31 - 

                A
            </td>
            <td>42.32 - 

                D
            </td>
                </tr><tr>
            <td>42.33 - 

                B
            </td>
            <td>42.34 - 

                B
            </td>
            <td>42.35 - 

                C
            </td>
            <td>42.36 - 

                C
            </td>
            <td>42.37 - 

                D
            </td>
            <td>42.38 - 

                C
            </td>
            <td>42.39 - 

                D
            </td>
            <td>42.40 - 

                C
            </td>
                </tr><tr>
            <td>42.41 - 

                D
            </td>
            <td>42.42 - 

                B
            </td>
            <td>42.43 - 

                C
            </td>
            <td>42.44 - 

                B
            </td>
            <td>42.45 - 

                A
            </td>
            <td>42.46 - 

                B
            </td>
            <td>42.47 - 

                D
            </td>
                </tr><tr>
            <td>42.48
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - A </li>
            </ul></td>
            <td>42.49
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>42.50
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>42.51
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
            </ul></td>
            <td>42.52
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>42.53
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - E </li>
                <li>5 - A </li>
            </ul></td>
            <td>42.54
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>42.55
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
                </tr><tr>
            <td>42.56
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>42.57
            <ul>
                <li>1 - A </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>42.58
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
            <td>42.59
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>42.60
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
            <td>42.61
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - B </li>
            </ul></td>
            <td>42.62
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
                </tr><tr>
            <td>42.63
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>42.64
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>42.65
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>42.66
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>42.67
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>42.68
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>42.69
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>42.70
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>42.71
            <ul>
                <li>4</li>
            </ul></td>
            <td>42.72
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>42.73
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>42.74
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>42.75
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>42.76
            <ul>
                <li>4</li>
            </ul></td>
            <td>42.77
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>42.78
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>42.79
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>42.80
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>42.81
            <ul>
                <li>4</li>
            </ul></td>
            <td>42.82
            <ul>
                <li>4</li>
            </ul></td>
            <td>42.83
            <ul>
                <li>4</li>
            </ul></td>
            <td>42.84
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>42.85
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>42.86
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>42.87
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>42.88
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>42.89
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>42.90
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>42.91
            <ul>
                <li>4</li>
            </ul></td>
            <td>42.92
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>42.93
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>42.94
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>42.95
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>42.96
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>42.97
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>42.98
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>42.99
            <ul>
                <li>4</li>
            </ul></td>
            <td>42.100
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>42.101
            <ul>
                <li>4</li>
            </ul></td>
            <td>42.102
            <ul>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>42.103
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>42.104
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>42.105
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>42.106
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>

</tr></tbody></table></div>