<div class="Centre Kategorija">Biologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>10.1</b> Iš kokių dviejų tipų molekulių sudaryta ląstelės membrana:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Iš baltymų ir lipidų
                    </li>
                    <li>
                        B. Iš baltymų ir angliavandenių
                    </li>
                    <li>
                        C. Iš angliavandenių ir lipidų
                    </li>
                    <li>
                        D. Iš baltymų ir nukleino rūgščių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.2</b> Kurių cheminių elementų ląstelėje yra dešimtosios ir šimtosios procento dalys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. O, N ir C
                    </li>
                    <li>
                        B. Zn, Cu ir J
                    </li>
                    <li>
                        C. N, C ir H
                    </li>
                    <li>
                        D. Fe, H ir O
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.3</b> Kaip gali būti koduojama viena amino rūgštis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vienu kodonu
                    </li>
                    <li>
                        B. Dviem kodonais
                    </li>
                    <li>
                        C. Skirtingu kodonų skaičiumi
                    </li>
                    <li>
                        D. Vienu nukleotidu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.4</b> Nuo ko priklauso ribosomoje sintezuojamų baltymų struktūra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo ribosomos
                    </li>
                    <li>
                        B. Nuo DNR
                    </li>
                    <li>
                        C. Nuo iRNR
                    </li>
                    <li>
                        D. Nuo tRNR
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.5</b> Kur dalijasi mitozės būdu gyvūnų pirminės lytinės ląstelės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Brendimo zonoje
                    </li>
                    <li>
                        B. Dauginimosi zonoje
                    </li>
                    <li>
                        C. Augimo zonoje
                    </li>
                    <li>
                        D. Mitoziškai nesidalija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.6</b> Kaip amebiazės sukėlėjas patenka į žmogaus organizmą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Transmisiniu būdu (įkandus moskitui)
                    </li>
                    <li>
                        B. Per orą lašeliniu būdu
                    </li>
                    <li>
                        C. Su apkrėstu maistu arba vandeniu
                    </li>
                    <li>
                        D. Lytinio kontakto metu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.7</b> Kurios medžiagos tyrimu diagnozuojama amebiazė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo
                    </li>
                    <li>
                        B. Dvylikapirštės žarnos turinio
                    </li>
                    <li>
                        C. Odos opų išskyrų
                    </li>
                    <li>
                        D. Išmatų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.8</b> Kas sudaro visceralinės leišmaniozės gamtinį rezervuarą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žuvys
                    </li>
                    <li>
                        B. Šunys
                    </li>
                    <li>
                        C. Moskitai
                    </li>
                    <li>
                        D. Varlės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.9</b> Kuris organizmas perneša visceralinę leišmaniozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žmogus
                    </li>
                    <li>
                        B. Musė cė-cė
                    </li>
                    <li>
                        C. Moskitas
                    </li>
                    <li>
                        D. Uodas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.10</b> Kurią ligą galima įtarti, radus smegenų skystyje pirmuonims priklausantį parazitą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lambliazę
                    </li>
                    <li>
                        B. Visceralinę leišmaniozę
                    </li>
                    <li>
                        C. Afrikinę miegligę
                    </li>
                    <li>
                        D. Maliariją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.11</b> Kas yra kepenų siurbikės tarpinis šeimininkas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vėžys
                    </li>
                    <li>
                        B. Moliuskas
                    </li>
                    <li>
                        C. Žuvis
                    </li>
                    <li>
                        D. Skruzdėlė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.12</b> Kuri katinės siurbikės vystymosi stadija yra invazinė žmogui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Miracidija
                    </li>
                    <li>
                        B. Redija
                    </li>
                    <li>
                        C. Sporocista
                    </li>
                    <li>
                        D. Metacerkarija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.13</b> Kuris helmintas priklauso apvaliųjų kirmėlių (Nematoda) klasei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Taenia solium
                    </li>
                    <li>
                        B. Diphyllobothrium latum
                    </li>
                    <li>
                        C. Enterobius vermicularis
                    </li>
                    <li>
                        D. Hymenolepis nana
                    </li>
                    <li>
                        E. Dicrocoelium dendriticum
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.14</b> Kuriuo žiuželiniu žmogus apsikrečia lytinio kontakto su sergančiu žmogumi metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trypanosoma gambiense
                    </li>
                    <li>
                        B. Leishmania tropica
                    </li>
                    <li>
                        C. Giardia lamblia
                    </li>
                    <li>
                        D. Trichomonas vaginalis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.15</b> Kurią ligą galima diagnozuoti mikroskopiškai ištyrus išmatas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Odos leišmaniozę
                    </li>
                    <li>
                        B. Toksoplazmozę
                    </li>
                    <li>
                        C. Afrikinę miegligę
                    </li>
                    <li>
                        D. Lambliazę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.16</b> Kuriuo tyrimu galima diagnozuoti lėtinę toksoplazmozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo imunoserologiniu tyrimu
                    </li>
                    <li>
                        B. Šlapimo tyrimu
                    </li>
                    <li>
                        C. Išmatų tyrimu
                    </li>
                    <li>
                        D. Nugaros smegenų skysčio tyrimu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.17</b> Kuriuo būdu galima apsisaugoti nuo difilobotriazės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Laikytis sanitarinių higienos taisyklių
                    </li>
                    <li>
                        B. Vengti kontakto  su šunimis ir katėmis
                    </li>
                    <li>
                        C. Nevalgyti nepakankamai išvirtos kiaulienos
                    </li>
                    <li>
                        D. Nevalgyti nepakankamai iškeptos žuvies
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.18</b> Kuriuo atveju nustatoma teniarynchozės laboratorinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išmatose – pavieniai proglotidai, gimdos šakelių  skaičius 17 – 34
                    </li>
                    <li>
                        B. Išmatose – po 5–7 proglotidus, gimdos šakelių skaičius 7–12
                    </li>
                    <li>
                        C. Išmatose strobilės gabalai, gimda rozetės formos
                    </li>
                    <li>
                        D. Išmatose po 3–4 proglotidus, gimda rozetės formos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.19</b> Kuriuo būdu žmogus užsikrečia tenioze:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Valgydamas nepakankamai išvirtą kiaulieną
                    </li>
                    <li>
                        B. Atsitiktinai prarijęs Taenia solium kiaušinėlį
                    </li>
                    <li>
                        C. Valgydamas neplautas daržoves
                    </li>
                    <li>
                        D. Valgydamas žuvį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.20</b> Kuriuo būdu žmogus užsikrėčia cisticerkoze:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paragavęs žalios viriuotos jautienos
                    </li>
                    <li>
                        B. Suvalgęs jautinio kaspinuočio kiaušinėliais užkrėsto maisto
                    </li>
                    <li>
                        C. Suvalgęs kiaulinio kaspinuočio kiaušinėliais užkrėsto maisto
                    </li>
                    <li>
                        D. Paragavęs viriuotos kiaulienos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.21</b> Kuria siurbike žmogus gali užsikrėsti valgydamas gėlavandenę žuvį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kepenų siurbike
                    </li>
                    <li>
                        B. Lancetine siurbike
                    </li>
                    <li>
                        C. Katine siurbike
                    </li>
                    <li>
                        D. Plautine siurbike
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.22</b> Kuriuo būdu galima apsisaugoti nuo trichineliozės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nevalgyti nepatikrintos avienos
                    </li>
                    <li>
                        B. Nevalgyti neplautų daržovių
                    </li>
                    <li>
                        C. Laikytis asmens higienos taisyklių
                    </li>
                    <li>
                        D. Nevalgyti nepatikrintos kiaulienos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.23</b> Kuo minta trichinelių lervos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Raumenų glikogenu
                    </li>
                    <li>
                        B. Žarnų turiniu
                    </li>
                    <li>
                        C. Krauju
                    </li>
                    <li>
                        D. Limfa
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.24</b> Kuris mokslininkas organizmo paveldimumo ir kintamumo mokslą pavadino genetika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. G. Mendelis
                    </li>
                    <li>
                        B. N. Vavilovas
                    </li>
                    <li>
                        C. L.Johansenas
                    </li>
                    <li>
                        D. V.Betsonas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.25</b> Kaip vadinamas ląstelės chromosomų rinkinys, kuriam būdingas tam tikras jų skaičius, didumas ir forma:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Genotipas
                    </li>
                    <li>
                        B. Kariotipas
                    </li>
                    <li>
                        C. Fenotipas
                    </li>
                    <li>
                        D. Genomas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.26</b> Kurios mutacijos rūšys lytiškai dauginantis organizmams perduodamos iš kartos į kartą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Somatinės mutacijos
                    </li>
                    <li>
                        B. Generatyvinės mutacijos
                    </li>
                    <li>
                        C. Nebranduolinės mutacijos
                    </li>
                    <li>
                        D. Somatinės ir generatyvinės mutacijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.27</b> Kuri formulė nurodo normalų moterišką kariotipą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 47,XXX
                    </li>
                    <li>
                        B. 46,XX
                    </li>
                    <li>
                        C. 45,X
                    </li>
                    <li>
                        D. 48,XXXX
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.28</b> Daltonizmo genas yra X chromosomoje. Šią  anomaliją  dažniausiai turi vyrai, nepaisant to, kad jie turi tik vieną  X  chromosomą.  Kaip vadinami tokio pobūdžio požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Susieti su lytimi
                    </li>
                    <li>
                        B. Apriboti lytimi
                    </li>
                    <li>
                        C. Priklausomi nuo lyties
                    </li>
                    <li>
                        D. Nevisiškai susieti su lytimi
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.29</b> Koks yra I eilės ovocito lytinių chromatidžių rinkinys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. XX
                    </li>
                    <li>
                        B. X
                    </li>
                    <li>
                        C. XXXX
                    </li>
                    <li>
                        D. XXYY
                    </li>
                    <li>
                        E. YY
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.30</b> Kuris žmogaus genetikos metodas atitinka hibridologinį metodą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dvynių metodas
                    </li>
                    <li>
                        B. Populiacinis statistinis metodas
                    </li>
                    <li>
                        C. Genealoginis metodas
                    </li>
                    <li>
                        D. Citogenetinis metodas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.31</b> Kas yra nukleoidas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Eukariotų ląstelės branduolys
                    </li>
                    <li>
                        B. Žiedinė DNR molekulė prokariotų ląstelėse
                    </li>
                    <li>
                        C. Pagrindinė DNR dalis
                    </li>
                    <li>
                        D. Nukleotidų kompleksas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.32</b> Kurie ląstelės organoidai yra pusiau autonominiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Branduolys ir branduolėlis
                    </li>
                    <li>
                        B. Goldžio kompleksas ir lizosomos
                    </li>
                    <li>
                        C. Mitochondrijos ir ribosomos
                    </li>
                    <li>
                        D. Mitochondrijos ir chloroplastai
                    </li>
                    <li>
                        E. Ribosomos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.33</b> Kuris nelytinio dauginimosi būdas yra būdingas sporagyvių tipo atstovams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pumpuravimasis
                    </li>
                    <li>
                        B. Šizogonija
                    </li>
                    <li>
                        C. Amitozė
                    </li>
                    <li>
                        D. Mitozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.34</b> Galutinis Plasmodium vivax šeimininkas yra: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šuo
                    </li>
                    <li>
                        B. Anopheles genties uodas
                    </li>
                    <li>
                        C. Žmogus
                    </li>
                    <li>
                        D. Phlebotomus genties moskitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.35</b> Kas yra Toxoplazma gondii galutinis šeimininkas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žmogus
                    </li>
                    <li>
                        B. Žmogus ir graužikai
                    </li>
                    <li>
                        C. Katinių šeimos atstovai
                    </li>
                    <li>
                        D. Paukščiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.36</b> Rezervinis Trypanosoma gambiense šeimininkas yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Phlebotomus genties moskitas
                    </li>
                    <li>
                        B. Musė cė-cė
                    </li>
                    <li>
                        C. Antilopė
                    </li>
                    <li>
                        D. Žmogus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.37</b> Kuris iš kaspinuočių aktyviai pasisavina iš žarnyno vitaminą B12 ir folio rūgštį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kiaulinis kaspinuotis
                    </li>
                    <li>
                        B. Platusis kaspinuotis
                    </li>
                    <li>
                        C. Jautinis kaspinuotis
                    </li>
                    <li>
                        D. Nykštukinis kaspinuotis 
                    </li>
                    <li>
                        E. Echinokokas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.38</b> Kuris iš parazitų priskiriamas geohelmintams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Askaridė
                    </li>
                    <li>
                        B. Spalinė
                    </li>
                    <li>
                        C. Platusis kaspinuotis
                    </li>
                    <li>
                        D. Trichinelė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.39</b> Kuris nariuotakojis yra specifinis Laimo ligos pernešėjas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Triatoma genties blakė
                    </li>
                    <li>
                        B. Šuninė erkė
                    </li>
                    <li>
                        C. Šuninė blusa
                    </li>
                    <li>
                        D. Anopheles genties uodas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.40</b> Kuris organizmas yra erkinio encefalito sukėlėjas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mikroorganizmas borelija
                    </li>
                    <li>
                        B. Virusas
                    </li>
                    <li>
                        C. Taiginė erkė
                    </li>
                    <li>
                        D. Triatoma genties blakė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.41</b> Kokiais tikslais atliekamas analizuojantis kryžminimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dvynių zigotiškumui nustatyti
                    </li>
                    <li>
                        B. Gametų tipų skaičiui nustatyti
                    </li>
                    <li>
                        C. Vienos iš tėvinių formų fenotipui nustatyti
                    </li>
                    <li>
                        D. Vienos iš tėvinių formų genotipui nustatyti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.42</b> Mejozės metu homologinės chromosomos išsiskiria:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirmojo dalijimosi anafazėje
                    </li>
                    <li>
                        B. Antrojo dalijimosi anafazėje
                    </li>
                    <li>
                        C. Pirmojo dalijimosi telofazėje
                    </li>
                    <li>
                        D. Antrojo dalijimosi telofazėje
                    </li>
                    <li>
                        E. Pirmojo dalijimosi profazėje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.43</b> Mejozės metu krosingoveris įvyksta:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirmojo dalijimosi anafazėje
                    </li>
                    <li>
                        B. Antrojo dalijimosi anafazėje
                    </li>
                    <li>
                        C. Pirmojo dalijimosi telofazėje
                    </li>
                    <li>
                        D. Antrojo dalijimosi telofazėje
                    </li>
                    <li>
                        E. Pirmojo dalijimosi profazėje
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>10.44</b> Kaip pasireiškia nurodytos paveldimos ligos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Albinizmas
                    </li>
                    <li>
                        2 - Myoplegia
                    </li>
                    <li>
                        3 - Amaurotinė idiotija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Silpnaprotystę ir aklumą sukeliantis žievės neuronų pažeidimas
                    </li>
                    <li>
                        B. Odos depigmentacija ir padidėjęs jautrumas šviesai
                    </li>
                    <li>
                        C. Periodiškas paralyžius, kurio priežastimi yra K+ jonų išėjimas iš raumenų ląstelių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.45</b> Kas yra nurodytų helmintų tarpiniai šeimininkai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Opisthorchis felineus
                    </li>
                    <li>
                        2 - Taenia solium
                    </li>
                    <li>
                        3 - Dicrocoelium dendriticum
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ciklopai
                    </li>
                    <li>
                        B. Kiaulės
                    </li>
                    <li>
                        C. Žuvys
                    </li>
                    <li>
                        D. Skruzdėlės
                    </li>
                    <li>
                        E. Smulkūs raguočiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.46</b> Kas yra nurodytų parazitų galutiniai šeimininkai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Toxoplazma gondii
                    </li>
                    <li>
                        2 - Taenia solium
                    </li>
                    <li>
                        3 - Plasmodium vivax
                    </li>
                    <li>
                        4 - Balantidium coli
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Žmogus
                    </li>
                    <li>
                        B. Katė
                    </li>
                    <li>
                        C. Uodas
                    </li>
                    <li>
                        D. Kiaulė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.47</b> Kokia genų sąveika nulemia nurodytus požymius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - ABO kraujo grupė
                    </li>
                    <li>
                        2 - Akių spalva
                    </li>
                    <li>
                        3 - Ūgis
                    </li>
                    <li>
                        4 - „Voro pirštai“ ir katarakta
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Polialelizmas
                    </li>
                    <li>
                        B. Polimerija
                    </li>
                    <li>
                        C. Pleotropija
                    </li>
                    <li>
                        D. Dominavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.48</b> Kokios yra nurodytų kaspinuočių sandaros ypatybės</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kiaulinis kaspinuotis
                    </li>
                    <li>
                        2 - Jautinis kaspinuotis
                    </li>
                    <li>
                        3 - Platusis kaspinuotis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Nesubrendę nareliai turi tik gimdą
                    </li>
                    <li>
                        B. Subrendęs narelis turi rozetės formos gimdą
                    </li>
                    <li>
                        C. Subrendęs narelis turi gimdą su 17–34 šakelėmis
                    </li>
                    <li>
                        D. Galvutė turi 8 siurbtukus
                    </li>
                    <li>
                        E. Galvutė turi kabliukų vainikėlį ir 4 siurbtukus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.49</b> Kokios yra nurodytų ląstelės organoidų funkcijos</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ląstelės centras
                    </li>
                    <li>
                        2 - Branduolėlis
                    </li>
                    <li>
                        3 - Goldžio kompleksas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Formuoja ribosomas ir RNR
                    </li>
                    <li>
                        B. Dalyvauja ląstelės dalijimesi
                    </li>
                    <li>
                        C. Formuoja lizosomas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.50</b> Koks yra ryšys tarp procesų ir jų vyksmo ląstelės vietoje</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Transkripcija
                    </li>
                    <li>
                        2 - Transliacija
                    </li>
                    <li>
                        3 - Aminorūgščių transportavimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Branduolys
                    </li>
                    <li>
                        B. Citoplazma
                    </li>
                    <li>
                        C. Ribosomos
                    </li>
                    <li>
                        D. Lizosomos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.51</b> Kuriais metodais nustatomos nurodytos helmintozės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Akių cisticerkozė
                    </li>
                    <li>
                        2 - Teniarinchozė
                    </li>
                    <li>
                        3 - Echinokokozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Išmatų tyrimu
                    </li>
                    <li>
                        B. Oftalmoskopija
                    </li>
                    <li>
                        C. Alerginėmis reakcijomis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.52</b> Kuriais metodais nustatomos nurodytos helmintozės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Askaridozė
                    </li>
                    <li>
                        2 - Raumenų cisticerkozė
                    </li>
                    <li>
                        3 - Enterobiazė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Rentgenoskopija
                    </li>
                    <li>
                        B. Perianalinės srities nuogramdų tyrimas
                    </li>
                    <li>
                        C. Išmatų tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.53</b> Kuriam parazitų tipui priklauso nurodyti pirmuonys</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Plazmodium vivax
                    </li>
                    <li>
                        2 - Toxoplazma gondii
                    </li>
                    <li>
                        3 - Trichomonas vaginalis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ertminiai parazitai
                    </li>
                    <li>
                        B. Intraceliuliniai parazitai
                    </li>
                    <li>
                        C. Kraujo parazitai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.54</b> Kurias ligas sukelia nurodyti parazitai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Nykštukinis kaspinuotis
                    </li>
                    <li>
                        2 - Kiaulinis kaspinuotis
                    </li>
                    <li>
                        3 - Platusis kaspinuotis
                    </li>
                    <li>
                        4 - Katinė siurbikė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Teniazė
                    </li>
                    <li>
                        B. Difiliobotriozė
                    </li>
                    <li>
                        C. Hymenolepidozė
                    </li>
                    <li>
                        D. Opistorchiazė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.55</b> Kurie metabolizmo sutrikimai būdingi nurodytoms ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Alkaptonurija
                    </li>
                    <li>
                        2 - Albinizmas
                    </li>
                    <li>
                        3 - Galaktozemija
                    </li>
                    <li>
                        4 - Fenilketonurija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Dėl fermento fenilalaninhidroksilazės blokados fenilalaninas neperdirbamas į tiroziną
                    </li>
                    <li>
                        B. Tirozinas neperdirbamas į melaniną
                    </li>
                    <li>
                        C. Nevyksta homogentizino rūgšties oksidacija ir ligonio šlapimas ore tamsėja
                    </li>
                    <li>
                        D. Dėl fermento galaktozo-1-fosfat-uridiltransferazės trūkumo vyksta nevisiškas laktozės skilimas organizmo audiniuose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.56</b> Kurie visuomeninės profilaktikos metodai apsaugo nuo nurodytų helmintozių:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Enterobiozė
                    </li>
                    <li>
                        2 - Trichineliozė
                    </li>
                    <li>
                        3 - Trichocefaliozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Mėsos veterinarinė kontrolė
                    </li>
                    <li>
                        B. Vaikų įstaigų švara
                    </li>
                    <li>
                        C. Vandens telkinių apsauga nuo užterštumo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.57</b> Kurioje genetikos tyrimų srityje vartojami nurodyti terminai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Probandas
                    </li>
                    <li>
                        2 - Konkordantiškumas
                    </li>
                    <li>
                        3 - Lytinis chromatinas
                    </li>
                    <li>
                        4 - Inbrydingo koeficientas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Interfazinio branduolio tyrimas
                    </li>
                    <li>
                        B. Populiacinė genetika
                    </li>
                    <li>
                        C. Dvynių tyrimas
                    </li>
                    <li>
                        D. Genealoginis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.58</b> Kurios asmeninės profilaktikos priemonės apsaugo nuo nurodytų ligų</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Enterobiozė
                    </li>
                    <li>
                        2 - Trichineliozė
                    </li>
                    <li>
                        3 - Trichuriozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Nesinaudoti bendra patalyne ir rankšluosčiais
                    </li>
                    <li>
                        B. Nevalgyti neplautų daržovių
                    </li>
                    <li>
                        C. Nevalgyti nepatikrintos kiaulienos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.59</b> Kurios medžiagos tyrimu diagnozuojamos protozoinės ligos</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ketvirtadienė maliarija
                    </li>
                    <li>
                        2 - Amebiazė
                    </li>
                    <li>
                        3 - Liambliazė
                    </li>
                    <li>
                        4 - Visceralinė leišmaniozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Dvylikapirštės žarnos turinio
                    </li>
                    <li>
                        B. Kraujo
                    </li>
                    <li>
                        C. Išmatų
                    </li>
                    <li>
                        D. Raudonųjų kraujo čiulpų punktato
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.60</b> Kurios mutacijos nulemia nurodytas paveldimas ligas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Klainfelterio sindromas
                    </li>
                    <li>
                        2 - Pjautuvinė anemija
                    </li>
                    <li>
                        3 - Leženo arba „katės kniaukimo“ sindromas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 5-os chromosomos trumpojo peties delecija
                    </li>
                    <li>
                        B. Aneuploidija
                    </li>
                    <li>
                        C. Geno mutacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.61</b> Kurios nukleino rūgštys atlieka nurodytas funkcijas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - DNR
                    </li>
                    <li>
                        2 - iRNR
                    </li>
                    <li>
                        3 - tRNR
                    </li>
                    <li>
                        4 - rRNR
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Aminorūgščių transportavimas
                    </li>
                    <li>
                        B. Genetinės informacijos saugojimas
                    </li>
                    <li>
                        C. Ribosomos sudedamoji dalis
                    </li>
                    <li>
                        D. Genetines informacijos kopijavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.62</b> Kuris gametogenezės periodas atitinka lytinių ląstelių vystymosi stadiją</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Brendimo
                    </li>
                    <li>
                        2 - Augimo
                    </li>
                    <li>
                        3 - Dauginimosi
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Pirminis spermatocitas
                    </li>
                    <li>
                        B. Ovotidė
                    </li>
                    <li>
                        C. Spermatogonija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.63</b> Kuris iš nurodytų sindromų atitinka kariotipo formulę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Dauno sindromas
                    </li>
                    <li>
                        2 - Leženo arba „katės kniaukimo“ sindromas
                    </li>
                    <li>
                        3 - Patau sindromas
                    </li>
                    <li>
                        4 - Edvardso sindromas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 47,XX,+18
                    </li>
                    <li>
                        B. 46,XX,(del 5p)
                    </li>
                    <li>
                        C. 46,XY,rob(15;21)(q10;q10),+21
                    </li>
                    <li>
                        D. 47,XY,+13
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.64</b> Kuriuo būdu apsikrečiama nurodytais parazitais</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Trypanosoma gambiense
                    </li>
                    <li>
                        2 - Leishmania tropica
                    </li>
                    <li>
                        3 - Trichomonas vaginalis
                    </li>
                    <li>
                        4 - Giardia lamblia
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Per nešvarias rankas ir užterštą maistą
                    </li>
                    <li>
                        B. Įkandus moskitui
                    </li>
                    <li>
                        C. Lytinio kontakto su ligoniu metu
                    </li>
                    <li>
                        D. Įkandus musei cė-cė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.65</b> Kuriuo būdu galima užsikrėsti nurodytomis helmintozėmis</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Difilobotriozė
                    </li>
                    <li>
                        2 - Opistorchozė
                    </li>
                    <li>
                        3 - Askaridozė
                    </li>
                    <li>
                        4 - Teniozė
                    </li>
                    <li>
                        5 - Teniarinchozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Suvalgius ne visai išvirtos mėsos
                    </li>
                    <li>
                        B. Suvalgius nepakankamai termiškai apdorotos žuvies
                    </li>
                    <li>
                        C. Išgėrus apkrėsto kiaušinėliais vandens
                    </li>
                    <li>
                        D. Suvalgius neplautų dažovių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.66</b> Kuriuose organuose ir organų sistemose parazituoja nurodyti pirmuonys</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Giardia lamblia
                    </li>
                    <li>
                        2 - Trichomonas vaginalis
                    </li>
                    <li>
                        3 - Balantidium coli
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Burnos ertmė
                    </li>
                    <li>
                        B. Lytiniai takai
                    </li>
                    <li>
                        C. Plonoji žarna
                    </li>
                    <li>
                        D. Storoji žarna
                    </li>
                    <li>
                        E. Kvėpavimo sistema
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.67</b> Pagal kurį paveldimumo tipą paveldimos nurodytos ligos</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vit. D neišgydomas rachitas
                    </li>
                    <li>
                        2 - Achondroplazija
                    </li>
                    <li>
                        3 - Fenilketonurija
                    </li>
                    <li>
                        4 - Hemofilija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Autosominis dominantinis tipas
                    </li>
                    <li>
                        B. Autosominis recesyvinis tipas
                    </li>
                    <li>
                        C. Su lytimi susietas dominantinis tipas
                    </li>
                    <li>
                        D. Su lytimi susietas recesyvinis tipas 
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>10.68 </b> Kokios yra chromosomos išorinės struktūros dalys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Satelitas
                    </li>
                    <li>
                        2. Centromera
                    </li>
                    <li>
                        3. Pečiai
                    </li>
                    <li>
                        4. Chromonema
                    </li>
                    <li>
                        5. Nukleosoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.69 </b> Keturios poros tėvų reiškia pretenzijas į pavogtą vaiką, kurio kraujo grupė B. Kuri pora gali pretenduoti į vaiko tėvus, jeigu jų kraujo grupės yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. B ir B
                    </li>
                    <li>
                        2. B ir O
                    </li>
                    <li>
                        3. A ir AB
                    </li>
                    <li>
                        4. A ir O
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.70 </b> Moteris, kurios kraujo grupė B, N, turi vaiką, kurio kraujo grupė O, MN. Kurie vyrai, turintys nurodytas kraujo grupes, gali būti jos vaiko tėvais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. B, N
                    </li>
                    <li>
                        2. AB, MN
                    </li>
                    <li>
                        3. A, N
                    </li>
                    <li>
                        4. O, M
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.71 </b> Kuriuo atveju veikia komplementiškumo principas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Jungiantis tarpusavyje dviem grandinėms
                    </li>
                    <li>
                        2. Jungiantis į grandinę DNR nukleotidams
                    </li>
                    <li>
                        3. Transkripcijos procese
                    </li>
                    <li>
                        4. Transportuojant amino rūgštis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.72 </b> Dėl kurių priežasčių organizme gali atsirasti ląstelių mozaika su skirtingais chromosomų rinkiniais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Chromosomos neatsiskyrimas mitozės metu
                    </li>
                    <li>
                        2. Amitozė
                    </li>
                    <li>
                        3. Endomitozė
                    </li>
                    <li>
                        4. Homologinių chromosomų neatsiskyrimas mejozės metu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.73 </b> Kas priklauso žmogaus aplinkos biologiniams mutagenams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Chloretilaminas
                    </li>
                    <li>
                        2. Raudonukės virusas
                    </li>
                    <li>
                        3. Rentgeno spinduliai
                    </li>
                    <li>
                        4. Hepatito virusas
                    </li>
                    <li>
                        5. Talidomidas (vaistas)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.74 </b> Kuriais atvejais patartina ištirti vaisių dėl paveldimų ligų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Visoms nėščioms moterims nuo 35 m
                    </li>
                    <li>
                        2. Visoms nėščioms moterims iki 25 m
                    </li>
                    <li>
                        3. Tų šeimų, kuriose jau gimė chromosomine liga sergantis vaikas
                    </li>
                    <li>
                        4. Toms šeimoms, kuriose vienas iš tėvų serga ischemine širdies liga (IŠL)
                    </li>
                    <li>
                        5. Toms šeimoms, kuriose vienas iš tėvų serga vėžiu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.75 </b> Kurios ligos labiau priklauso nuo genotipo, negu nuo aplinkos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Epilepsija
                    </li>
                    <li>
                        2. Maniakinė-depresinė psichozė
                    </li>
                    <li>
                        3. Šizofrenija
                    </li>
                    <li>
                        4. Skarlatina
                    </li>
                    <li>
                        5. Tymai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.76 </b> Tėvas ir sūnus serga hemofilija, o motina sveika. Iš ko sūnus paveldėjo šią ligą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Iš tėvo
                    </li>
                    <li>
                        2. Nei vieno iš jų
                    </li>
                    <li>
                        3. Iš abiejų tėvų
                    </li>
                    <li>
                        4. Iš motinos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.77 </b> Bimembraniniai organoidai, tai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vakuolės
                    </li>
                    <li>
                        2. Mitochondrijos
                    </li>
                    <li>
                        3. Ribosomos
                    </li>
                    <li>
                        4. Chloroplastai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.78 </b> Citokinezė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuolatinis ląstelės citoplazmos judėjimas
                    </li>
                    <li>
                        2. Nuolatinis ląstelės organoidų judėjimas
                    </li>
                    <li>
                        3. Ląstelių judėjimas
                    </li>
                    <li>
                        4. Citoplazmos dalijimasis mitozės telofazės pabaigoje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.79 </b> Jeigu motininė ląstelė turi dvyliką chromosomų, tai dukterinės ląstelės, susidariusios po mejozės, turės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Šešias chromosomas
                    </li>
                    <li>
                        2. Dvylika chromosomų
                    </li>
                    <li>
                        3. Šešias chromatides
                    </li>
                    <li>
                        4. Dvylika chromatidžių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.80 </b> Į Lac -operono sudėtį įeina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Promotorius
                    </li>
                    <li>
                        2. Genas operatorius 
                    </li>
                    <li>
                        3. Struktūriniai genai
                    </li>
                    <li>
                        4. Genas reguliatorius 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.81 </b> DNR molekulėje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Azotinės bazės kovalentiškai jungiasi su dezoksiriboze
                    </li>
                    <li>
                        2. Dezoksiribozė kovalentiškai jungiasi su fosfatais
                    </li>
                    <li>
                        3. Bazės vandenilinėmis jungtimis jungiasi viena su kita
                    </li>
                    <li>
                        4. Bazės vandenilinėmis jungtimis jungiasi su fosfatais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.82 </b> Krosingoverio dažnumas priklauso nuo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Atstumo tarp geno ir centromeros
                    </li>
                    <li>
                        2. Palikuonių skaičiaus
                    </li>
                    <li>
                        3. Mutacijų dažnumo
                    </li>
                    <li>
                        4. Atstumo tarp genų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.83 </b> Fenilketonurija (FKU) paveldima kaip:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Požymis susijęs su X chromosoma
                    </li>
                    <li>
                        2. Holandrinis požymis
                    </li>
                    <li>
                        3. Autosominis dominantinis požymis
                    </li>
                    <li>
                        4. Autosominis recesyvinis požymis
                    </li>
                    <li>
                        5. Priklausomas nuo lyties požymis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.84 </b> Entamoeba histolytica cistų skiriamieji požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Keturi branduoliai
                    </li>
                    <li>
                        2. Aštuoni branduoliai
                    </li>
                    <li>
                        3. Du chromatoidiniai kūneliai
                    </li>
                    <li>
                        4. Chromatoidinių kūnelių nėra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.85 </b> Kurie iš helmintų priklauso siurbikių klasei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hymenolepis nana
                    </li>
                    <li>
                        2. Opisthorchis felineus
                    </li>
                    <li>
                        3. Taenia solium
                    </li>
                    <li>
                        4. Fasciola hepatica
                    </li>
                    <li>
                        5. Echinococcus granulosus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.86 </b> Kurie iš išvardintų helmintų yra kontaktiniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ascaris lumbricoides
                    </li>
                    <li>
                        2. Hymenolepis nana
                    </li>
                    <li>
                        3. Taenia solium
                    </li>
                    <li>
                        4. Enterobius vermicularis
                    </li>
                    <li>
                        5. Trichinella spiralis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.87 </b> Kurie iš išvardintų helmintų yra biohelmintai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Fasciola hepatica
                    </li>
                    <li>
                        2. Trichinella spiralis
                    </li>
                    <li>
                        3. Opisthorchis felineus
                    </li>
                    <li>
                        4. Taenia solium
                    </li>
                    <li>
                        5. Diphyllobothrium latum
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>10.88</b> Donatas ir jo senelis (iš  motinos pusės) serga klasikine hemofilija. Donato žmona Diana yra jo pusseserė (motinos sesers duktė). Donato ir Dianos vaikai Edvardas,  Eglė ir Elvyra serga hemofilija, o dukra Aistė – sveika, bet yra hemofilijos geno nešiotoja.  Kokia tikimybė, kad Eglės sūnus sirgs hemofilija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 50%
                    </li>
                    <li>
                        B. 100%
                    </li>
                    <li>
                        C. 25%
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.89</b> Donatas ir jo senelis (iš  motinos pusės) serga klasikine hemofilija. Donato žmona Diana yra jo pusseserė (motinos sesers duktė). Donato ir Dianos vaikai Edvardas,  Eglė ir Elvyra serga hemofilija, o dukra Aistė – sveika, bet yra hemofilijos geno nešiotoja. Koks tai paveldėjimo tipas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Autosominis dominuojantis
                    </li>
                    <li>
                        B. Autosominis recesyvinis
                    </li>
                    <li>
                        C. Susijęs su X chromosoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.90</b> Į genetinę konsultaciją kreipėsi 23 m. moteris. Nėštumas – 4 sav. Jos  pirmas  vaikas  gimė segrgantis  Dauno  sindromu. Moters leukocituose rasta subalansuota 21-os chromosomos translokacija (45,XX, rob(21q;21q)). Kokia sveiko vaiko gimimo tikimybė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 1
                    </li>
                    <li>
                        B. 0,5
                    </li>
                    <li>
                        C. 0
                    </li>
                    <li>
                        D. 0,25
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.91</b> Į genetinę konsultaciją kreipėsi 23 m. moteris. Nėštumas – 4 sav. Jos  pirmas  vaikas  gimė sergantis  Dauno  sindromu. Moters leukocituose rasta subalansuota 21-os chromosomos translokacija (45,XX, rob(21q;21q)). Ką jai patarti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ištirti vaisiaus chromosomas
                    </li>
                    <li>
                        B. Nutraukti nėštumą
                    </li>
                    <li>
                        C. Gimdyti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.92</b> Vyras kreipėsi į genetinę konsultaciją dėl nevaisingumo. Nustatyta: ūgis aukštesnis už vidutinį, ryški ginekomastija, sutrikusi spermatogenezė ir žemas intelektas. Ką jam patarti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kreiptis į endokrinologą
                    </li>
                    <li>
                        B. Ištirti kariotipą
                    </li>
                    <li>
                        C. Kreiptis į endokrinologą ir ištirti kariotipą
                    </li>
                    <li>
                        D. Kreiptis į ginekologą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.93</b> Vyras kreipėsi į genetinę konsultaciją dėl nevaisingumo. Nustatyta: ūgis aukštesnis už vidutinį, ryški ginekomastija, sutrikusi spermatogenezė ir žemas intelektas.  Tyrimai parodė, kad šlapime yra daug gonadotropinų. Paciento kariotipo formulė - 47,XXXY. Kaip gydyti šį ligonį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skatinti spermatogenezę gonadotropiniais hormonais
                    </li>
                    <li>
                        B. Skatinti seksualumą androgeniniais hormonais
                    </li>
                    <li>
                        C. Chirurgiškai gydyti ginekomastiją
                    </li>
                    <li>
                        D. Jokio gydymo nėra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.94</b> Masinio biocheminio skriningo metu naujagimio šlapime rasta fenilpirovynuoginės rūgšties:. Kurią paveldimą ligą galima įtarti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Alkaptonuriją
                    </li>
                    <li>
                        B. Fenilketonuriją
                    </li>
                    <li>
                        C. Galaktozemiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>10.95</b> Masinio biocheminio skriningo metu naujagimio šlapime rasta fenilpirovynuoginės rūgšties:. Kaip patartina gydyti vaiką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirti dietą su nedideliu fenilalanino kiekiu
                    </li>
                    <li>
                        B. Skirti maistą be fenilalanino
                    </li>
                    <li>
                        C. Maitinti motinos pienu
                    </li>
                    <li>
                        D. Jokio gydymo ir maisto apribojimo nereikia
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>10.1 - 

                A
            </td>
            <td>10.2 - 

                B
            </td>
            <td>10.3 - 

                A
            </td>
            <td>10.4 - 

                B
            </td>
            <td>10.5 - 

                B
            </td>
            <td>10.6 - 

                C
            </td>
            <td>10.7 - 

                D
            </td>
            <td>10.8 - 

                B
            </td>
                </tr><tr>
            <td>10.9 - 

                C
            </td>
            <td>10.10 - 

                C
            </td>
            <td>10.11 - 

                B
            </td>
            <td>10.12 - 

                D
            </td>
            <td>10.13 - 

                C
            </td>
            <td>10.14 - 

                D
            </td>
            <td>10.15 - 

                D
            </td>
            <td>10.16 - 

                A
            </td>
                </tr><tr>
            <td>10.17 - 

                D
            </td>
            <td>10.18 - 

                A
            </td>
            <td>10.19 - 

                A
            </td>
            <td>10.20 - 

                C
            </td>
            <td>10.21 - 

                C
            </td>
            <td>10.22 - 

                D
            </td>
            <td>10.23 - 

                A
            </td>
            <td>10.24 - 

                D
            </td>
                </tr><tr>
            <td>10.25 - 

                B
            </td>
            <td>10.26 - 

                B
            </td>
            <td>10.27 - 

                B
            </td>
            <td>10.28 - 

                A
            </td>
            <td>10.29 - 

                C
            </td>
            <td>10.30 - 

                C
            </td>
            <td>10.31 - 

                B
            </td>
            <td>10.32 - 

                D
            </td>
                </tr><tr>
            <td>10.33 - 

                B
            </td>
            <td>10.34 - 

                B
            </td>
            <td>10.35 - 

                C
            </td>
            <td>10.36 - 

                C
            </td>
            <td>10.37 - 

                B
            </td>
            <td>10.38 - 

                A
            </td>
            <td>10.39 - 

                B
            </td>
            <td>10.40 - 

                B
            </td>
                </tr><tr>
            <td>10.41 - 

                D
            </td>
            <td>10.42 - 

                A
            </td>
            <td>10.43 - 

                E
            </td>
                </tr><tr>
            <td>10.44
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>10.45
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - D </li>
            </ul></td>
            <td>10.46
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>10.47
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>10.48
            <ul>
                <li>1 - E </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>10.49
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>10.50
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>10.51
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
                </tr><tr>
            <td>10.52
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>10.53
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>10.54
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
            <td>10.55
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>10.56
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>10.57
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>10.58
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>10.59
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>10.60
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>10.61
            <ul>
                <li>1 - B </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - C </li>
            </ul></td>
            <td>10.62
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>10.63
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>10.64
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - A </li>
            </ul></td>
            <td>10.65
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - D </li>
                <li>4 - A </li>
                <li>5 - A </li>
            </ul></td>
            <td>10.66
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - D </li>
            </ul></td>
            <td>10.67
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>10.68
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>10.69
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>10.70
            <ul>
                <li>4</li>
            </ul></td>
            <td>10.71
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>10.72
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>10.73
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>10.74
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>10.75
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>10.76
            <ul>
                <li>4</li>
            </ul></td>
            <td>10.77
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>10.78
            <ul>
                <li>4</li>
            </ul></td>
            <td>10.79
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>10.80
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>10.81
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>10.82
            <ul>
                <li>4</li>
            </ul></td>
            <td>10.83
            <ul>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>10.84
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>10.85
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>10.86
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>10.87
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
                </tr><tr>
            <td>10.88 - 

                B
            </td>
            <td>10.89 - 

                C
            </td>
            <td>10.90 - 

                C
            </td>
            <td>10.91 - 

                B
            </td>
            <td>10.92 - 

                C
            </td>
            <td>10.93 - 

                D
            </td>
            <td>10.94 - 

                B
            </td>
            <td>10.95 - 

                A
            </td>

</tr></tbody></table></div>