<div class="Centre Kategorija">Darbo medicina</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>33.1</b> Pagrindinės profesinių rizikos veiksnių grupės yra šios:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Fizikiniai, biologiniai, radiacija, dulkės
                    </li>
                    <li>
                        B. Fizikiniai, biologiniai, socialiniai
                    </li>
                    <li>
                        C. Triukšmas, vibracija, maisto priedai, radiacija
                    </li>
                    <li>
                        D. Fizikiniai, biologiniai, cheminiai, psichosocialiniai, ergonominiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.2</b> Nurodykite profesinį rizikos veiksnį, galintį sukelti pleuros mezoteliomą:
	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. krokidolitas	
                    </li>
                    <li>
                        B.  chrizotilas
                    </li>
                    <li>
                        C. asbestas
                    </li>
                    <li>
                        D. visi išvardinti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.3</b> Profesinės ligos, kurių skaičius pasaulyje auga:


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. kepenų angiosarkoma
                    </li>
                    <li>
                        B.  triukšmo sukeltas klausos pakenkimas, hepatitas 
                    </li>
                    <li>
                        C. pneumokoniozės, apsinuodijimai
                    </li>
                    <li>
                        D. alerginiai susirgimai, stresas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.4</b> Ūmi silikozė išsivysto 


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. per 3-5 metus bet kokių dulkių poveikyje
                    </li>
                    <li>
                        B. per 10-15 metų silicio dioksido dulkių poveikyje
                    </li>
                    <li>
                        C. per 3-5 metus silicio dioksido dulkių poveikyje
                    </li>
                    <li>
                        D. per daugiau nei 15 metų silicio dioksido dulkių poveikyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.5</b> Kurio veiksnio profesinis poveikis gali sukelti pleuros sustorėjimą ir sąaugas ? 

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. anglies dulkių  
                    </li>
                    <li>
                        B. amoniako garų
                    </li>
                    <li>
                        C.  asbesto
                    </li>
                    <li>
                        D.  tolueno diizocianato 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.6</b> Ūmus klausos pakenkimas galimas esant triukšmo lygiui 
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 140 dB
                    </li>
                    <li>
                        B. 105 dB
                    </li>
                    <li>
                        C. 85 dB
                    </li>
                    <li>
                        D.  75 dB
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.7</b> Kurio veiksnio profesinis poveikis gali sukelti Reino sindromą 

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. elektromagnetinio lauko
                    </li>
                    <li>
                        B. triukšmo
                    </li>
                    <li>
                        C.  vibracijos
                    </li>
                    <li>
                        D. jonizuojančiosios radiacijos
                    </li>
                    <li>
                        E. asbesto
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.8</b> Anglies dulkių poveikis gali sukelti
	</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. plaučių vėžį, pleuros mezoteliomą, osteosarkomą
                    </li>
                    <li>
                        B. asbestozę, hepatitą, pleuros mezoteliomą
                    </li>
                    <li>
                        C. asbestozę, plaučių vėžį, pleuros ir pilvaplėvės mezoteliomą
                    </li>
                    <li>
                        D. bronchitą, pneumokoniozę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.9</b> Profesinė bronchinė astma tai:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. negrįžtamas bronchospazmas izocianatų, nikelio, chromo, platinos druskų, medžio dulkių poveikyje 
                    </li>
                    <li>
                        B.  bronchitas ir plaučių fibrozė, sukeliama supelijusio šieno, miltų, grybų komposto, balandžių išskyrų, silicio dioksido dulkių
                    </li>
                    <li>
                        C. grįžtamas bronchospazmas izocianatų, nikelio, chromo, platinos druskų, medžio dulkių poveikyje
                    </li>
                    <li>
                        D. negrįžtamas bronchospazmas miltų, grūdų dulkių poveikyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.10</b> Kurio iš paminėtų veiksnių profesinio poveikio pasėkoje gali atsirasti  vegetosensorinė polineuropatija, parastezijos, tirpimas rankose 


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. asbesto
                    </li>
                    <li>
                        B.  mikrobangų
                    </li>
                    <li>
                        C. triukšmo
                    </li>
                    <li>
                        D.  vibracijos
                    </li>
                    <li>
                        E.  visų išvardintų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.11</b> Ūmiam hipersensityviniam pneumonitui būdinga:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. karščiavimas, kosulys, dusulys, trunkantys keletą parų
                    </li>
                    <li>
                        B.  plaučių fibrozė be jokių simptomų
                    </li>
                    <li>
                        C. bronchospastinė reakcija, „ pirmadienio simptomas“
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.12</b> Lėtinis klausos pakenkimas galimas esant triukšmo lygiui virš 
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 140 dB
                    </li>
                    <li>
                        B.  105 dB
                    </li>
                    <li>
                        C. 85 dB
                    </li>
                    <li>
                        D. 75 dB
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.13</b> Asbesto poveikis gali sukelti 
	a) plaučių vėžį, pleuros mezoteliomą, osteosarkomą
	b)asbestozę, hepatitą, pleuros mezoteliomą
	c) asbestozę, plaučių vėžį, pleuros ir pilvaplėvės mezoteliomą
d) bronchospazmą, pneumokoniozę

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. plaučių vėžį, pleuros mezoteliomą, osteosarkomą
                    </li>
                    <li>
                        B. asbestozę, hepatitą, pleuros mezoteliomą
                    </li>
                    <li>
                        C. asbestozę, plaučių vėžį, pleuros ir pilvaplėvės mezoteliomą
                    </li>
                    <li>
                        D.  bronchospazmą, pneumokoniozę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.14</b> Kurio iš paminėtų veiksnių poveikis nesukelia bronchinės astmos
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. žiedadulkių
                    </li>
                    <li>
                        B. chromo
                    </li>
                    <li>
                        C. asbesto
                    </li>
                    <li>
                        D. miltų, grūdų dulkių 
                    </li>
            </ul>
        </li>
    </ul>


    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>33.15 </b> Kuris(-ie) iš išvardintų veiksnių gali sukelti profesinę bronchinę astmą
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. nikelis, chromas 
                    </li>
                    <li>
                        2. miltų dulkės	
                    </li>
                    <li>
                        3. izocianatai	
                    </li>
                    <li>
                        4.  vanadis  
                    </li>
                    <li>
                        5. silicio dioksidas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.16 </b> Profesinė liga tai 
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1.  liga, kurios tiesiogine ir pagrindine priežastimi yra profesinio(-ų) veiksnio(-o) poveikis.
                    </li>
                    <li>
                        2.  liga, kurios etiologijoje dalinį vaidmenį vaidina profesiniai veiksniai
                    </li>
                    <li>
                        3. ūmus ar lėtinis darbuotojo sveikatos sutrikimas, kurį sukėlė vienas ar daugiau kenksmingų ir (ar) pavojingų darbo aplinkos veiksnių, nustatyta tvarka pripažintas profesine liga. 
                    </li>
                    <li>
                        4. darbuotojo liga, nustatyta dirbant įprastinį darbą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.17 </b> Nurodykite hipersensityvųjį pneumonitą galinčius sukelti profesinius veiksnius
	</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. supelijusio šieno, miltų dulkių
                    </li>
                    <li>
                        2. balandžių išskyros
                    </li>
                    <li>
                        3. grybų komposto
                    </li>
                    <li>
                        4. anglies dulkės
                    </li>
                    <li>
                        5. asbestas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.18 </b> Kas būdinga hipersensityviąjam pneumonitui? 
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. karščiavimas
                    </li>
                    <li>
                        2.  traškantys abipusiai karkalai plaučiuose
                    </li>
                    <li>
                        3. specifiniai antikūnai
                    </li>
                    <li>
                        4. eozinofilija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.19 </b> Nurodykite profesinius veiksnius, galinčius sukelti plaučių vėžį:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. silicio dioksido dulkės
                    </li>
                    <li>
                        2. anglies dulkės
                    </li>
                    <li>
                        3. kadmis
                    </li>
                    <li>
                        4. miltų, grūdų dulkės 
                    </li>
                    <li>
                        5. tolueno diizocianatas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>33.20 </b> Kurie iš šių darbų priklauso I kancerogenų grupei pagal TVTC?

    </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1.  Baldų gamyba
                    </li>
                    <li>
                        2. Dažų gamyba
                    </li>
                    <li>
                        3. Avalynės gamyba ir remontas 
                    </li>
                    <li>
                        4.  Automobilių gamyba ir remontas
                    </li>
            </ul>
        </li>
    </ul>


<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>33.1 - 

                D
            </td>
            <td>33.2 - 

                C
            </td>
            <td>33.3 - 

                D
            </td>
            <td>33.4 - 

                C
            </td>
            <td>33.5 - 

                C
            </td>
            <td>33.6 - 

                A
            </td>
            <td>33.7 - 

                C
            </td>
            <td>33.8 - 

                D
            </td>
                </tr><tr>
            <td>33.9 - 

                C
            </td>
            <td>33.10 - 

                D
            </td>
            <td>33.11 - 

                A
            </td>
            <td>33.12 - 

                C
            </td>
            <td>33.13 - 

                C
            </td>
            <td>33.14 - 

                C
            </td>
                </tr><tr>
            <td>33.15
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>33.16
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>33.17
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>33.18
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>33.19
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>33.20
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>

</tr></tbody></table></div>