<div class="Centre Kategorija">Dermatovenerologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>20.1</b> Dilgėlinės bėrimo elementas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dėmė
                    </li>
                    <li>
                        B. Pūkšlė
                    </li>
                    <li>
                        C. Pūslė
                    </li>
                    <li>
                        D. Papulė
                    </li>
                    <li>
                        E. Plokštelė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.2</b> Kuris teiginys nebūdingas žvynelinei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bėrimo elementas – pūkšlė
                    </li>
                    <li>
                        B. Gali išsivystyti eritrodermija
                    </li>
                    <li>
                        C. Aušpico triada
                    </li>
                    <li>
                        E. Galvos plaukuotos odos pažeidimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.3</b> Kuriai ligai būdingas teigiamas Nikolskio simptomas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pūslelinei
                    </li>
                    <li>
                        B. Pūslinei
                    </li>
                    <li>
                        C. Žvynelinei
                    </li>
                    <li>
                        D. Juostinei pūslelinei
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.4</b> Teigiamas alergenų lopo testas patvirtina diagnozę: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dilgėlinė
                    </li>
                    <li>
                        B. Kontaktinis alerginis dermatitas (kontaktinė alergija)
                    </li>
                    <li>
                        C. Kontaktinis iritacinis dermatitas
                    </li>
                    <li>
                        D. Seborėjinis dermatitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.5</b> Kuriai ligai gydyti rekomenduojama begliuteninė dieta:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Raudonajai kerpligei
                    </li>
                    <li>
                        B. Mazginei eritemai
                    </li>
                    <li>
                        C. Atopiniam dermatitui
                    </li>
                    <li>
                        D. Diuringo pūsleliniam dermatitui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.6</b> Konglobatinių paprastųjų  spuogų sisteminiam gydymui skiriamas vaistas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Benzoilperoksidas 
                    </li>
                    <li>
                        B. Izotretinoinas
                    </li>
                    <li>
                        C. Terbinafinas
                    </li>
                    <li>
                        D. B grupės vitaminai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.7</b> Mikroskopuojant tamsiame regėjimo lauke nustatoma:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Chlamydia trachomatis
                    </li>
                    <li>
                        B. Trichomona vaginalis
                    </li>
                    <li>
                        C. Treponema pallidum
                    </li>
                    <li>
                        D. Mycoplasma hominis
                    </li>
                    <li>
                        E. Escherichia coli
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.8</b> Kuris tyrimo metodas netaikomas šlapimo ir lytinių organų chlamidinei infekcijai diagnozuoti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ląstelių kultūra
                    </li>
                    <li>
                        B. Tiesioginė imunofluoresencija
                    </li>
                    <li>
                        C. Serologinis tyrimas
                    </li>
                    <li>
                        D. Nukleorūgščių amplifikacijos tyrimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.9</b> Kurios ligos diagnozei patvirtinti naudojama Vudo lempa:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žvynelinės
                    </li>
                    <li>
                        B. Epidermofitijos
                    </li>
                    <li>
                        C. Mikrosporijos
                    </li>
                    <li>
                        D. Židininės sklerodermijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.10</b> Neurosifilio diagnozę patvirtinantis tyrimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. RPR
                    </li>
                    <li>
                        B. TPHA
                    </li>
                    <li>
                        C. Tamsiojo regėjimo lauko mikroskopija
                    </li>
                    <li>
                        D. VDRL–CSF
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.11</b> Kuris teiginys nebūdingas niežams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Būdingos pažeidimo vietos – rankų ir kojų tarpupirščiai, riešų ir sėdmenų sritis
                    </li>
                    <li>
                        B. Būdingos pažeidimo vietos – veidas ir nugara
                    </li>
                    <li>
                        C. Niežėjimas sustiprėja vakare, sušilus
                    </li>
                    <li>
                        D. Būdingi poriniai bėrimo elementai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.12</b> Kokį odos naviką galima gydyti vietiniu imunomoduliatoriumi imikvimodu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paviršinę bazaliomą
                    </li>
                    <li>
                        B. Plokščialąstelinę karcinomą
                    </li>
                    <li>
                        C. Melanomą
                    </li>
                    <li>
                        D. Dermatofibrosakomą 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.13</b> Piktybinis odos navikas, kuris retai metastazuoja:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plokščialąstelinis vėžys
                    </li>
                    <li>
                        B. Melanoma   
                    </li>
                    <li>
                        C. Bazalioma
                    </li>
                    <li>
                        D. Odos limfoma 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.14</b> Koks tyrimo metodas pagrindžia bazaliomos diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dermatoskopija
                    </li>
                    <li>
                        B. Siaskopija
                    </li>
                    <li>
                        C. Citologinis tyrimas
                    </li>
                    <li>
                        D. Histologinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.15</b> Neinvazinis tyrimas melanomos gyliui nustatyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dermatoskopija
                    </li>
                    <li>
                        B. Aukšto dažnio ultragarsas
                    </li>
                    <li>
                        C. Citologija
                    </li>
                    <li>
                        D. Odos biopsija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.16</b> Neinvazinis šviesinis optinis prietaisas melanomos diagnostikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lupa
                    </li>
                    <li>
                        B. Mikroskopas
                    </li>
                    <li>
                        C. Dermatoskopas
                    </li>
                    <li>
                        D. Ultragarsas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.67</b> Koks yra pirminis plokščiosios raudonosios kerpligės bėrimo elementas:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pūkšlė
                    </li>
                    <li>
                        B. Dėmė
                    </li>
                    <li>
                        C. Lichenifikacija
                    </li>
                    <li>
                        D. Papulė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.68</b> Koks vidutinis sifilio inkubacinis periodas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 2–5 dienos
                    </li>
                    <li>
                        B. 5–10 dienų
                    </li>
                    <li>
                        C. Daugiau negu mėnesis
                    </li>
                    <li>
                        D. 3 savaitės (21 diena
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.69</b> Intraepiderminė pūslė būdinga

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paprastajai pūslelinei
                    </li>
                    <li>
                        B. Paprastajai pūslinei
                    </li>
                    <li>
                        C. Pūsliniam pemfigoidui
                    </li>
                    <li>
                        D. Diuringo pūsleliniam dermatitui
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>20.17</b> Kokioms ligoms būdingi šie požymiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vikhemo tinklelis
                    </li>
                    <li>
                        2 - Aušpico triada
                    </li>
                    <li>
                        3 - Teigiamas Nikolskio simptomas
                    </li>
                    <li>
                        4 - Poriniai mazgeliai ir erkių takai
                    </li>
                    <li>
                        5 - Kietasis šankeris 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Žvynelinė
                    </li>
                    <li>
                        B. Paprastoji pūslinė
                    </li>
                    <li>
                        C. Plokščioji kerpligė
                    </li>
                    <li>
                        D. Sifilis
                    </li>
                    <li>
                        E. Niežai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.18</b> Kurias ligas sukelia nurodytas sukėlėjas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kandidozę
                    </li>
                    <li>
                        2 - Smailiagalę kondilomą
                    </li>
                    <li>
                        3 - Šlapimo ir lytinių organų chlamidinę infekciją 
                    </li>
                    <li>
                        4 - Įvairiaspalvę dedervinę
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Papilloma virus hominis
                    </li>
                    <li>
                        B. Candida albicans
                    </li>
                    <li>
                        C. Pityrosporum orbiculare
                    </li>
                    <li>
                        D. Chlamydia trachomatis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.19</b> Kurias ligas sukelia nurodytas sukėlėjas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Niežus 
                    </li>
                    <li>
                        2 - Smailiagalę kondilomą 
                    </li>
                    <li>
                        3 - Sifilį 
                    </li>
                    <li>
                        4 - Mikrosporiją 
                    </li>
                    <li>
                        5 - Šunvotę (furunkulą) 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Treponema pallidum
                    </li>
                    <li>
                        B. Staphylococcus aureus
                    </li>
                    <li>
                        C. Sarcoptes scabiei  
                    </li>
                    <li>
                        D. Papilloma virus hominis 
                    </li>
                    <li>
                        E. Microsporum canis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.20</b> Kurioms ligoms gydyti vartojami nurodyti vaistai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Itrakonazolis
                    </li>
                    <li>
                        2 - Acitretinas
                    </li>
                    <li>
                        3 - Izotretinoinas
                    </li>
                    <li>
                        4 - Acikloviras ar valacikloviras
                    </li>
                    <li>
                        5 - Dapsonas (diamindifenilsulfonas)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Konglobatiniai paprastieji spuogai 
                    </li>
                    <li>
                        B. Nagų grybelis
                    </li>
                    <li>
                        C. Žvynelinė
                    </li>
                    <li>
                        D. Lytinių organų herpes virusinė infekcija
                    </li>
                    <li>
                        E. Diuringo pūslelinis dermatitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.21</b> Lytiškai plintančias infekcijas patvirtinantys tyrimai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Gonokokinė infekcija
                    </li>
                    <li>
                        2 - Neurosifilis
                    </li>
                    <li>
                        3 - Antrinis sifilis
                    </li>
                    <li>
                        4 - Chlamidinė infekcija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. VDRL – CSF 
                    </li>
                    <li>
                        B. Nukleorūgščių amplifikacijos tyrimai
                    </li>
                    <li>
                        C. TPHA, RPR
                    </li>
                    <li>
                        D. Pasėlis iš lytinių organų išskyrų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.66</b> Kokie bėrimai būdingi šioms odos ligoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Herpes virusinė infekcija
                    </li>
                    <li>
                        2 - Plokščioji kerpligė
                    </li>
                    <li>
                        3 - Pūslinis pemfigoidas
                    </li>
                    <li>
                        4 - Daugiažiedė raudonė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Grupelėmis besidėstančios pūslelės
                    </li>
                    <li>
                        B. Rausvai violetinės spalvos niežtinčios papulės
                    </li>
                    <li>
                        C. Įtemptos pūslės
                    </li>
                    <li>
                        D. Taikinio tipo bėrimas
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>20.22 </b> Reiterio sindromui būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Šlaplės uždegimas
                    </li>
                    <li>
                        2. Artritas 
                    </li>
                    <li>
                        3. Konjunktyvitas
                    </li>
                    <li>
                        4. Baltasis dermografizmas 
                    </li>
                    <li>
                        5. Difuzinis plikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.23 </b> Su AIDS susijusios dermatozės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Burnos, ryklės kandidamikozė
                    </li>
                    <li>
                        2. Juostinė pūslelinė
                    </li>
                    <li>
                        3. Plaukuotoji burnos leukoplakija
                    </li>
                    <li>
                        4. Bakterinė angiomatozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.24 </b> Kurių ligų atsiradimą skatina saulės spinduliai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Smailiagalė kondiloma  
                    </li>
                    <li>
                        2. Melanoma
                    </li>
                    <li>
                        3. Nagų grybelis
                    </li>
                    <li>
                        4. Bazalioma 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.27 </b> Kuriuo (–iais) medikamentu (–ais) gydoma lytinių organų herpes virusinė infekcija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Prednizolonu
                    </li>
                    <li>
                        2. Kalcipotrioliu
                    </li>
                    <li>
                        3. Izotretinoinu
                    </li>
                    <li>
                        4. Acikloviru ar valacikloviru
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.28 </b> Žvynelinei būdingos odos pažeidimo vietos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Keliai
                    </li>
                    <li>
                        2. Alkūnės
                    </li>
                    <li>
                        3. Galvos plaukuotoji dalis
                    </li>
                    <li>
                        4. Burnos gleivinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.29 </b> Suaugusiųjų atopiniam dermatitui būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Bėrimai lokalizuojasi lenkiamuosiuose rankų ir kojų paviršiuose
                    </li>
                    <li>
                        2. Bėrimai lokalizuojasi tiesiamuosiuose rankų ir kojų paviršiuose
                    </li>
                    <li>
                        3. Lichenifikacija
                    </li>
                    <li>
                        4. Galvos plaukuotosios dalies pažeidimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.30 </b> Niežams būdingi klinikiniai požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Niežėjimas 
                    </li>
                    <li>
                        2. Poriniai mazgeliai  
                    </li>
                    <li>
                        3. Erkių takai
                    </li>
                    <li>
                        4. Aušpico triada  
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.31 </b> Niežų komplikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuplikimas
                    </li>
                    <li>
                        2. Pūslės 
                    </li>
                    <li>
                        3. Artritas
                    </li>
                    <li>
                        4. Piodermija 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.32 </b> Žvynelinę apibūdinantys teiginiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pirminis bėrimo elementas – papulė ar plokštelė 
                    </li>
                    <li>
                        2. Nebūdingas plaukuotos galvos dalies pažeidimas
                    </li>
                    <li>
                        3. Kartais gali pasireikšti pustulėmis
                    </li>
                    <li>
                        4. Bėrimo elementas – pūkšlė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.33 </b> Fototerapija naudojama šių ligų gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Žvynelinė
                    </li>
                    <li>
                        2. Lokalizuota sklerodermija
                    </li>
                    <li>
                        3. Atopinis dermatitas
                    </li>
                    <li>
                        4. Odos lėtinė raudonoji vilkligė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.34 </b> Antriniam sifiliui būdingi pažeidimai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Neniežtintys bėrimai
                    </li>
                    <li>
                        2. Leukoderma
                    </li>
                    <li>
                        3. Židininis plikimas
                    </li>
                    <li>
                        4. Papulės ant delnų ir padų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.35 </b> Pirminiam sifiliui būdingi pažeidimai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kietasis šankeris
                    </li>
                    <li>
                        2. Papulės ant delnų ir padų
                    </li>
                    <li>
                        3. Limfadenitas
                    </li>
                    <li>
                        4. Sifilinė rozeolė ant liemens 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.36 </b> Kietojo šankerio būdingi bruožai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Visada skausmingas
                    </li>
                    <li>
                        2. Dažniausia lokalizacija lytinių organų srityje
                    </li>
                    <li>
                        3. Aplinkiniai audiniai cianoziški, skausmingi
                    </li>
                    <li>
                        4. Konsistencija kieta, elastiška
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.37 </b> Sritinio sifilinio limfadenito bruožai (pirminis sifilis):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dažniausia lokalizacija kirkšnių srityje
                    </li>
                    <li>
                        2. Suaugimas su aplinkiniais audiniais
                    </li>
                    <li>
                        3. Neskausmingas
                    </li>
                    <li>
                        4. Skausmingas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.38 </b> Juostinei pūslelinei būdingi požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Stiprus skausmas
                    </li>
                    <li>
                        2. Bėrimai – grupuotos pūslelės 
                    </li>
                    <li>
                        3. Bėrimai lokalizuojasi pagal periferinio nervo eigą
                    </li>
                    <li>
                        4. Dažniausiai serga vaikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.39 </b> Kiobnerio fenomenas būdingas šioms odos ligoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Iritacinis kontaktinis dermatitas
                    </li>
                    <li>
                        2. Žvynelinė
                    </li>
                    <li>
                        3. Impetiga
                    </li>
                    <li>
                        4. Plokščioji kerpligė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.40 </b> Kurioms ligoms būdingas galvos plaukuotos dalies pažeidimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Seborėjiniam dermatitui
                    </li>
                    <li>
                        2. Mikrosporijai
                    </li>
                    <li>
                        3. Žvynelinei
                    </li>
                    <li>
                        4. Įvairiaspalvei dedervinei
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.41 </b> Ikinavikinės odos ligos, iš kurių atsiranda plokščialąstelinė karcinoma, yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Aktininė keratozė
                    </li>
                    <li>
                        2. Bazalioma 
                    </li>
                    <li>
                        3. Boveno liga
                    </li>
                    <li>
                        4. Lipoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.42 </b> Melanomų prognozės žymenys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Naviko gylis, išopėjimas 
                    </li>
                    <li>
                        2. Asimetrija 
                    </li>
                    <li>
                        3. Naviko regresuojančios sritys 
                    </li>
                    <li>
                        4. Tamsiai ruda spalva 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.43 </b> Dažniausios ir greitai augančios melanomos formos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Paviršiumi plintanti melanoma
                    </li>
                    <li>
                        2. Lentigo maligna melanoma
                    </li>
                    <li>
                        3. Mazginė melanoma
                    </li>
                    <li>
                        4. Amelanininė, bepigmentinė melanoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.70 </b> Plokščiąją kerpligę provokuojantys vaistai:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Diuretikai
                    </li>
                    <li>
                        2. Antibiotikai
                    </li>
                    <li>
                        3. Antituberkulioziniai vaistai
                    </li>
                    <li>
                        4.  Antihistamininiai vaistai
                    </li>
                    <li>
                        5. Vietiniai gliukokortikoidai
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>20.44</b> 29 m. ligonis kreipėsi į dermatovenerologą dėl padidėjusių kirkšninių limfmazgių ir opelės apyvarpės srityje. Prieš 6 ir 8 savaites turėjo atsitiktinius lytinius santykius. Obj.: kairysis kirkšninis limfmazgis kaštono, o dešinysis – pupos dydžio, paslankūs, neskausmingi. Opelės pagrindas induruotas, neskausmingas. Kokia preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirminis sifilis
                    </li>
                    <li>
                        B. Antrinis sifilis
                    </li>
                    <li>
                        C. Pūslelinės infekcija
                    </li>
                    <li>
                        D. Furunkulas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.45</b> 29 m. ligonis kreipėsi į dermatovenerologą dėl padidėjusių kirkšninių limfmazgių ir opelės apyvarpės srityje. Prieš 6 ir 8 savaites turėjo atsitiktinius lytinius santykius. Obj.: kairysis kirkšninis limfmazgis kaštono, o dešinysis – pupos dydžio, paslankūs, neskausmingi. Opelės pagrindas induruotas, neskausmingas.Tyrimas, patvirtinantis diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. RPR ir TPHA serologinės reakcijos
                    </li>
                    <li>
                        B. Akantolizinės ląstelės opos sekrete
                    </li>
                    <li>
                        C. Pasėlis iš opos sekreto 
                    </li>
                    <li>
                        D. Bendras kraujo vaizdas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.46</b> 45 m. ligonei, sergančiai gripu, ant lūpų, skruostų atsirado serozinio skysčio pripildytos, perštinčios pūslelės, kurioms plyšus, susidarė šašai. Bėrimas išplito į veido ir kaklo sritį.  Panašūs bėrimai kartojasi keletą metų po peršalimų, nuo vaikystės ligonė serga atopiniu dermatitu, vietinis priešvirusinis gydymas neefektyvus, atsiranda nauji bėrimai.Kokia preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paprastoji pūslinė 
                    </li>
                    <li>
                        B. Pūslinis pemfigoidas 
                    </li>
                    <li>
                        C. Išplitusi paprastoji pūslelinė 
                    </li>
                    <li>
                        D. Diuringo pūslelinis dermatitas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.47</b> 45 m. ligonei, sergančiai gripu, ant lūpų, skruostų atsirado serozinio skysčio pripildytos, perštinčios pūslelės, kurioms plyšus, susidarė šašai. Bėrimas išplito į veido ir kaklo sritį.  Panašūs bėrimai kartojasi keletą metų po peršalimų, nuo vaikystės ligonė serga atopiniu dermatitu, vietinis priešvirusinis gydymas neefektyvus, atsiranda nauji bėrimai.  Efektyviausias etiologinis gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Amoksicilinas per os
                    </li>
                    <li>
                        B. Prednizolonas per os
                    </li>
                    <li>
                        C. Acikloviras ar valacikloviras per os
                    </li>
                    <li>
                        D. Hidrokortizono tepalas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.48</b> Prieš 8 mėnesius 40 m. ligoniui atsirado stiprūs galvos skausmai, tirpimas rankose, dėl ko jis kreipėsi pas neurologą. Nustačius teigiamą TPHA tyrimo rezultatą, ligonis nusiųstas dermatovenerologo konsultacijai. Prieš 6 metus ligoniui ant lytinių organų buvo atsiradusi opa, kuri sugijo ir tuo metu buvo padidėję sritiniai kirkšnių limfmazgiai. Ligonis niekur nesikreipė, gydėsi namuose doksiciklinu po 100 mg 2 kartus per dieną 5 dienas. Objektyviai: odoje, burnos gleivinėje, lytinių organų srityje – bėrimų nestebėta.  Kokia preliminari ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirminis sifilis
                    </li>
                    <li>
                        B. Antrinis sifilis
                    </li>
                    <li>
                        C. Neurosifilis
                    </li>
                    <li>
                        D. Latentinis vėlyvas sifilis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.49</b> Prieš 8 mėnesius 40 m. ligoniui atsirado stiprūs galvos skausmai, tirpimas rankose, dėl ko jis kreipėsi pas neurologą. Nustačius teigiamą TPHA tyrimo rezultatą, ligonis nusiųstas dermatovenerologo konsultacijai. Prieš 6 metus ligoniui ant lytinių organų buvo atsiradusi opa, kuri sugijo ir tuo metu buvo padidėję sritiniai kirkšnių limfmazgiai. Ligonis niekur nesikreipė, gydėsi namuose doksiciklinu po 100 mg 2 kartus per dieną 5 dienas. Objektyviai: odoje, burnos gleivinėje, lytinių organų srityje – bėrimų nestebėta.  Tyrimas patvirtinantis diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. TPHA
                    </li>
                    <li>
                        B. RPR
                    </li>
                    <li>
                        C. VDRL–CSF
                    </li>
                    <li>
                        D. Tamsiojo regėjimo lauko mikroskopija 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.50</b> Prieš 8 mėnesius 40 m. ligoniui atsirado stiprūs galvos skausmai, tirpimas rankose, dėl ko jis kreipėsi pas neurologą. Nustačius teigiamą TPHA tyrimo rezultatą, ligonis nusiųstas dermatovenerologo konsultacijai. Prieš 6 metus ligoniui ant lytinių organų buvo atsiradusi opa, kuri sugijo ir tuo metu buvo padidėję sritiniai kirkšnių limfmazgiai. Ligonis niekur nesikreipė, gydėsi namuose doksiciklinu po 100 mg 2 kartus per dieną 5 dienas. Objektyviai: odoje, burnos gleivinėje, lytinių organų srityje – bėrimų nestebėta.  Koks reikalingas gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Eritromicinas po 100 mg 1 kartą per dieną 10 dienų
                    </li>
                    <li>
                        B. Doksiciklinas po 100 mg 1 kartą per dieną 5 dienas
                    </li>
                    <li>
                        C. Benzatinpenicilinas į raumenis 12 dienų
                    </li>
                    <li>
                        D. Benzilpenicilinas  į veną  po 12–24 mln. vv parai 10–21 dienų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.51</b> 24 m. ligonė kreipėsi į dermatovenerologą dėl atsiradusio niežtinčio bėrimo pilvo apatinėje dalyje, kur yra kontaktas su metaline kelnių saga. Bėrimai atsiranda odos sąlyčio su laikrodžiu, auskarais, grandinėle vietose. Objektyviai: pilvo apatinėje dalyje ribota eritema, rausvos papulės, pleiskanojimas.  Kokia preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Alerginis kontaktinis dermatitas (kontaktinė alergija nikeliui)
                    </li>
                    <li>
                        B. Iritacinis kontaktinis dermatitas
                    </li>
                    <li>
                        C. Seborėjinis dermatitas
                    </li>
                    <li>
                        D. Plokščioji kerpligė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.52</b> 24 m. ligonė kreipėsi į dermatovenerologą dėl atsiradusio niežtinčio bėrimo pilvo apatinėje dalyje, kur yra kontaktas su metaline kelnių saga. Bėrimai atsiranda odos sąlyčio su laikrodžiu, auskarais, grandinėle vietose. Objektyviai: pilvo apatinėje dalyje ribota eritema, rausvos papulės, pleiskanojimas.  Diagnozę patvirtinantis tyrimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lopo alergenų mėginiai 
                    </li>
                    <li>
                        B. Mikroskopinis tyrimas
                    </li>
                    <li>
                        C. Odos dūrio alerginiai mėginiai
                    </li>
                    <li>
                        D. Diaskopinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.53</b> 24 m. ligonė kreipėsi į dermatovenerologą dėl atsiradusio niežtinčio bėrimo pilvo apatinėje dalyje, kur yra kontaktas su metaline kelnių saga. Bėrimai atsiranda odos sąlyčio su laikrodžiu, auskarais, grandinėle vietose. Objektyviai: pilvo apatinėje dalyje ribota eritema, rausvos papulės, pleiskanojimas.  Gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vengti sąlyčio su alergenu, hidrokortizono tepalas
                    </li>
                    <li>
                        B. Kalcipatriolio tepalas
                    </li>
                    <li>
                        C. Vandenilio peroksido tirpalas
                    </li>
                    <li>
                        D. Klotrimazolio kremas
                    </li>
                    <li>
                        E. Fuzidino rūgšties tepalas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.54</b> 38 m. ligoniui nugaros ir krūtinės odoje atsirado ribotos, gelsvos, rudos dėmės, apsitraukusios sėleninėmis pleiskanomis. Ligonis deginosi saulėje ir, nusilupus pleiskanoms, liko baltos odos ploteliai. Patepti jodu židiniai išryškėja.  Kokia diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sifilinė leukoderma
                    </li>
                    <li>
                        B. Baltmė
                    </li>
                    <li>
                        C. Įvairiaspalvė dedervinė
                    </li>
                    <li>
                        D. Eritrazma
                    </li>
                    <li>
                        E. Rožinė dedervinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.55</b> 38 m. ligoniui nugaros ir krūtinės odoje atsirado ribotos, gelsvos, rudos dėmės, apsitraukusios sėleninėmis pleiskanomis. Ligonis deginosi saulėje ir, nusilupus pleiskanoms, liko baltos odos ploteliai. Patepti jodu židiniai išryškėja.  Susirgimą patvirtinantis laboratorinis tyrimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tyrimas Vudo lempa
                    </li>
                    <li>
                        B. Dermatoskopija
                    </li>
                    <li>
                        C. Mikroskopinis pleiskanų tyrimas
                    </li>
                    <li>
                        D. Diaskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.56</b> 38 m. ligoniui nugaros ir krūtinės odoje atsirado ribotos, gelsvos, rudos dėmės, apsitraukusios sėleninėmis pleiskanomis. Ligonis deginosi saulėje ir, nusilupus pleiskanoms, liko baltos odos ploteliai. Patepti jodu židiniai išryškėja.  Gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Klotrimazolio kremas
                    </li>
                    <li>
                        B. Hidrokortizono tepalas
                    </li>
                    <li>
                        C. Eritromicino gelis
                    </li>
                    <li>
                        D. Metronidazolio kremas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.57</b> 30 m. ligonis skundžiasi pasikartojančia nuo vaikystės sloga, odos niežėjimu ir bėrimu veido, kaklo bei alkūnių srityse. Liga paūmėja pavasarį. Apžiūrinti matyti paraudę pleiskanojantys vokai, paryškėję periorbitalinės raukšlės, alkūnių linkių oda paraudusi, sustorėjusi, su nukasymais. Kraujo serume nustatomas padidėjęs bendro IgE kiekis.    Preliminari susirgimo diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Iritacinis kontaktinis dermatitas
                    </li>
                    <li>
                        B. Alerginis  kontaktinis dermatitas
                    </li>
                    <li>
                        C. Atopinis dermatitas
                    </li>
                    <li>
                        D. Infekcinis dermatitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.58</b> 30 m. ligonis skundžiasi pasikartojančia nuo vaikystės sloga, odos niežėjimu ir bėrimu veido, kaklo bei alkūnių srityse. Liga paūmėja pavasarį. Apžiūrinti matyti paraudę pleiskanojantys vokai, paryškėję periorbitalinės raukšlės, alkūnių linkių oda paraudusi, sustorėjusi, su nukasymais. Kraujo serume nustatomas padidėjęs bendro IgE kiekis.   Papildomas klinikinis požymis, būdingas šiam susirgimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Baltasis dermografizmas
                    </li>
                    <li>
                        B. Raudonasis dermografizmas
                    </li>
                    <li>
                        C. Urtikarinis dermografizmas
                    </li>
                    <li>
                        D. Nikolskio simptomas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.59</b> 30 m. ligonis skundžiasi pasikartojančia nuo vaikystės sloga, odos niežėjimu ir bėrimu veido, kaklo bei alkūnių srityse. Liga paūmėja pavasarį. Apžiūrinti matyti paraudę pleiskanojantys vokai, paryškėję periorbitalinės raukšlės, alkūnių linkių oda paraudusi, sustorėjusi, su nukasymais. Kraujo serume nustatomas padidėjęs bendro IgE kiekis.   Rekomenduojamas tyrimas diagnozės patvirtinimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lopo odos mėginiai su kontaktiniais alergenais
                    </li>
                    <li>
                        B. Dūrio mėginiai su žiedadulkėmis ir kitais alergenais
                    </li>
                    <li>
                        C. Mikroskopinis tyrimas
                    </li>
                    <li>
                        D. Bendras kraujo tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.60</b> Prieš vienerius metus 55 m. ligoniui ant žasto nugarinio paviršiaus atsirado didėjanti 0,5 cm skersmens tamsiai ruda nelygiais kraštais plokštelė. Sritiniai limfmazgiai nepadidėję. Tiriant dermatoskopu naviko kraštuose matyti išaugos. Naviko gylis, vertinant aukšto dažnio ultragarsu, neišmatuojamas.  Preliminari susirgimo diagnozė: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Boveno liga 
                    </li>
                    <li>
                        B. Pigmentinis apgamas 
                    </li>
                    <li>
                        C. Pigmentinė bazalioma 
                    </li>
                    <li>
                        D. Paviršiumi plintanti melanoma 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.61</b> Prieš vienerius metus 55 m. ligoniui ant žasto nugarinio paviršiaus atsirado didėjanti 0,5 cm skersmens tamsiai ruda nelygiais kraštais plokštelė. Sritiniai limfmazgiai nepadidėję. Tiriant dermatoskopu naviko kraštuose matyti išaugos. Naviko gylis, vertinant aukšto dažnio ultragarsu, neišmatuojamas.  Tyrimas, patvirtinantis diagnozę:  </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Citologinis tyrimas 
                    </li>
                    <li>
                        B. Vidaus organų echoskopija
                    </li>
                    <li>
                        C. Naviko biopsija su histologiniu ištyrimu 
                    </li>
                    <li>
                        D. Naviko ekscizija su histologiniu ištyrimu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.62</b> 33 m. šviesiaplaukė, strazdanota moteris skundžiasi iš lėto didėjančia pigmentine dėme ant priekinio blauzdos paviršiaus, kuri atsirado prieš 10 metų.  Priekiniame blauzdos paviršiuje matyti monetos dydžio, nelygiais kraštais, nelygiu paviršiumi tamsiai ruda–juoda pigmentinė dėmė, kurios centre – pigmentas išnykęs, sritiniai limfmazgiai nepadidėję. Dermatoskopu matyti melanomai būdingi požymiai. Radiologiniais tyrimais limfmazgių ir vidaus organų metastazės nenustatytos. Kokia melanomos rūšis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mazginė melanoma
                    </li>
                    <li>
                        B. Paviršiumi plintanti melanoma 
                    </li>
                    <li>
                        C. Amelanininė, bepigmentinė melanoma 
                    </li>
                    <li>
                        D. Akrolentiginė 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.63</b> 33 m. šviesiaplaukė, strazdanota moteris skundžiasi iš lėto didėjančia pigmentine dėme ant priekinio blauzdos paviršiaus, kuri atsirado prieš 10 metų.  Priekiniame blauzdos paviršiuje matyti monetos dydžio, nelygiais kraštais, nelygiu paviršiumi tamsiai ruda–juoda pigmentinė dėmė, kurios centre – pigmentas išnykęs, sritiniai limfmazgiai nepadidėję. Dermatoskopu matyti melanomai būdingi požymiai. Radiologiniais tyrimais limfmazgių ir vidaus organų metastazės nenustatytos.  Neinvazinis tyrimas, kuris leidžia prieš operaciją išmatuoti naviko gylį:  </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dermatoskopija 
                    </li>
                    <li>
                        B. Aukšto dažnio ultragarsas 
                    </li>
                    <li>
                        C. Videodermatoskopas
                    </li>
                    <li>
                        D. Odos biopsija su histologiniu ištyrimu 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.64</b> 33 m. šviesiaplaukė, strazdanota moteris skundžiasi iš lėto didėjančia pigmentine dėme ant priekinio blauzdos paviršiaus, kuri atsirado prieš 10 metų.  Priekiniame blauzdos paviršiuje matyti monetos dydžio, nelygiais kraštais, nelygiu paviršiumi tamsiai ruda–juoda pigmentinė dėmė, kurios centre – pigmentas išnykęs, sritiniai limfmazgiai nepadidėję. Dermatoskopu matyti melanomai būdingi požymiai. Radiologiniais tyrimais limfmazgių ir vidaus organų metastazės nenustatytos. Indikuotina atlikti melanomos operaciją su sarginių limfmazgių biopsija, jei naviko gylis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mažiau nei 1 mm
                    </li>
                    <li>
                        B. Daugiau nei 1 mm gylio
                    </li>
                    <li>
                        C. Daugiau nei 2 mm gylio
                    </li>
                    <li>
                        D. Daugiau nei 3 mm gylio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.65</b> 33 m. šviesiaplaukė, strazdanota moteris skundžiasi iš lėto didėjančia pigmentine dėme ant priekinio blauzdos paviršiaus, kuri atsirado prieš 10 metų.  Priekiniame blauzdos paviršiuje matyti monetos dydžio, nelygiais kraštais, nelygiu paviršiumi tamsiai ruda–juoda pigmentinė dėmė, kurios centre – pigmentas išnykęs, sritiniai limfmazgiai nepadidėję. Dermatoskopu matyti melanomai būdingi požymiai. Radiologiniais tyrimais limfmazgių ir vidaus organų metastazės nenustatytos.  Po operacijos histologiniais tyrimais nustatytas melanomos gylis yra 2,5 mm pagal Breslow, pašalintame sarginiame limfmazgyje rastos melanomos mikrometastazės, koks tolimesnis tyrimų ir gydymo planas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sritinių limfmazgių ultragarsinis tyrimas ir adjuvantinis gydymas interferonu   
                    </li>
                    <li>
                        B. Ligonės stebėjimas
                    </li>
                    <li>
                        C. Radikalus visų sritinių limfmazgių pašalinimas ir adjuvantinis gydymas interferonu 
                    </li>
                    <li>
                        D. Adjuvantinis gydymas ir chemoterpija 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.71</b> 30 metų amžiaus moteris pastebėjo liemens srityje rausvos spalvos plokštelę. Po kelių savaičių židinys tapo dramblio kaulo spalvos, kietas, išryškėjo šviesiai violetinio atspalvio pakraštys. Po metų laiko kreipėsi į gydytojus. Įvertinta objektyvi odos būklė: liemens odoje matomas apie 7 cm skersmens ovalus židinys, kurio odos piešinys išnykęs. Židinio plote plaukų nestebima, sumažėjusi odos pigmentacija. 
Kokią ligą įtarsite?


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Baltmę
                    </li>
                    <li>
                        B. Lokalią sklerodermiją
                    </li>
                    <li>
                        C. Įvairiaspalvę dedervinę
                    </li>
                    <li>
                        D. Dermatomiozitą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>20.72</b> 30 metų amžiaus moteris pastebėjo liemens srityje rausvos spalvos plokštelę. Po kelių savaičių židinys tapo dramblio kaulo spalvos, kietas, išryškėjo šviesiai violetinio atspalvio pakraštys. Po metų laiko kreipėsi į gydytojus. Įvertinta objektyvi odos būklė: liemens odoje matomas apie 7 cm skersmens ovalus židinys, kurio odos piešinys išnykęs. Židinio plote plaukų nestebima, sumažėjusi odos pigmentacija. Tyrimas diagnozei patvirtinti:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Videodermatoskopija
                    </li>
                    <li>
                        B. Tyrimas Vudo lempa
                    </li>
                    <li>
                        C. Histologinis odos ištyrimas
                    </li>
                    <li>
                        D. Bendras kraujo tyrimas, biocheminiai kraujo tyrimai
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>20.1 - 

                B
            </td>
            <td>20.2 - 

                A
            </td>
            <td>20.3 - 

                B
            </td>
            <td>20.4 - 

                B
            </td>
            <td>20.5 - 

                D
            </td>
            <td>20.6 - 

                B
            </td>
            <td>20.7 - 

                C
            </td>
            <td>20.8 - 

                C
            </td>
                </tr><tr>
            <td>20.9 - 

                C
            </td>
            <td>20.10 - 

                D
            </td>
            <td>20.11 - 

                B
            </td>
            <td>20.12 - 

                A
            </td>
            <td>20.13 - 

                C
            </td>
            <td>20.14 - 

                D
            </td>
            <td>20.15 - 

                B
            </td>
            <td>20.16 - 

                C
            </td>
                </tr><tr>
            <td>20.67 - 

                D
            </td>
            <td>20.68 - 

                D
            </td>
            <td>20.69 - 

                B
            </td>
                </tr><tr>
            <td>20.17
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - E </li>
                <li>5 - D </li>
            </ul></td>
            <td>20.18
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>20.19
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - E </li>
                <li>5 - B </li>
            </ul></td>
            <td>20.20
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - D </li>
                <li>5 - E </li>
            </ul></td>
            <td>20.21
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - B </li>
            </ul></td>
            <td>20.66
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>20.22
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>20.23
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>20.24
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>20.27
            <ul>
                <li>4</li>
            </ul></td>
            <td>20.28
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>20.29
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>20.30
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>20.31
            <ul>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>20.32
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>20.33
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>20.34
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>20.35
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>20.36
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>20.37
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>20.38
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>20.39
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>20.40
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>20.41
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>20.42
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>20.43
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>20.70
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>20.44 - 

                A
            </td>
            <td>20.45 - 

                A
            </td>
            <td>20.46 - 

                C
            </td>
            <td>20.47 - 

                C
            </td>
            <td>20.48 - 

                C
            </td>
            <td>20.49 - 

                C
            </td>
            <td>20.50 - 

                D
            </td>
            <td>20.51 - 

                A
            </td>
                </tr><tr>
            <td>20.52 - 

                A
            </td>
            <td>20.53 - 

                A
            </td>
            <td>20.54 - 

                C
            </td>
            <td>20.55 - 

                C
            </td>
            <td>20.56 - 

                A
            </td>
            <td>20.57 - 

                C
            </td>
            <td>20.58 - 

                A
            </td>
            <td>20.59 - 

                B
            </td>
                </tr><tr>
            <td>20.60 - 

                D
            </td>
            <td>20.61 - 

                D
            </td>
            <td>20.62 - 

                B
            </td>
            <td>20.63 - 

                B
            </td>
            <td>20.64 - 

                B
            </td>
            <td>20.65 - 

                C
            </td>
            <td>20.71 - 

                B
            </td>
            <td>20.72 - 

                C
            </td>

</tr></tbody></table></div>