<div class="Centre Kategorija">Ekstremalioji medicina</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>16.1</b> Kas turi vadovauti medicinos pagalbos teikimui katastrofos (avarijos) vietoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Policija
                    </li>
                    <li>
                        B. Civilinės saugos gelbėjimo tarnybos viršininkas
                    </li>
                    <li>
                        C. Pirmosios į nelaimės vietą atvykusios GMP gydytojas
                    </li>
                    <li>
                        D. Artimiausios GMP stoties vyr. gydytojas
                    </li>
                    <li>
                        E. Sveikatos apsaugos ministras
                    </li>
                    <li>
                        F. Iš visų į avarijos vietą atvykusių labiausiai patyręs gydytojas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.2</b> Pagal kurį kriterijų skirstomi katastrofoje nukentėję žmonės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pagal sužeidimo laipsnį 
                    </li>
                    <li>
                        B. Pagal sužeidimo lokalizaciją
                    </li>
                    <li>
                        C. Pagal medicinos pagalbos suteikimo skubumą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.3</b> Kuriam sužeistajam pirmiausiai turi būti suteikta pagalba:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Uždaras šlaunikaulio lūžimas
                    </li>
                    <li>
                        B. Šlaunikaulio kaklelio lūžimas
                    </li>
                    <li>
                        C. Dešiniosios plaštakos trauminė amputacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.4</b> Kuriam sužeistajam pirmiausia turi būti suteikta pagalba stacionare:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trauminė kairės rankos 2-3 pirštų amputacija
                    </li>
                    <li>
                        B. Uždaras dešiniojo žąstikaulio lūžimas
                    </li>
                    <li>
                        C. Dešiniojo peties sąnario išnirimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.5</b> Kuriam sužeistajam pirmiausia turi būti suteikta pagalba stacionare:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atviras kairiojo ir uždaras dešiniojo blauzdikaulių lūžimai.
                    </li>
                    <li>
                        B. Muštinė juosmens srities žaizda  (sistolinis kraujospūdis 90 mm Hg)
                    </li>
                    <li>
                        C. Uždaras dešiniojo šlaunikaulio lūžimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.6</b> Kuriam sužeistajam pirmiausia turi būti suteikta pagalba stacionare:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pacientas be sąmonės. Kairiojo smilkinio srityje yra kraujuojanti 3x4 cm skersmens žaizda.    Kvėpavimas nelygus, su pertrūkiais. Sistolinis kraujospūdis 80 mm Hg.
                    </li>
                    <li>
                        B. Dešiniojo peties sąnario išnirimas
                    </li>
                    <li>
                        C. Uždaras kairiojo blauzdikaulio lūžimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.7</b> Kuriam sužeistajam pirmiausia turi būti suteikta pagalba:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dešiniojo skruosto ir abiejų plaštakų nubrozdijimai. Plėštinė dešiniosios blauzdos žaizda.
                    </li>
                    <li>
                        B. Atviras kairiojo dilbio kaulų lūžimas. Arterinis kraujavimas.
                    </li>
                    <li>
                        C. Dešiniojo alkūnės sąnario išnirimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.8</b> Kuri būklė pavojingiausia gyvybei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apatinio žandikaulio abiejų šakų lūžimas. Sužeistasis be sąmonės.
                    </li>
                    <li>
                        B. Trauminė kairės plaštakos amputacija
                    </li>
                    <li>
                        C. Uždaras dešiniojo šlaunikaulio lūžimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.9</b> Kuriam sužeistajam pirmiausia turi būti suteikta medicinos pagalba:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Uždaras dubens kaulų lūžimas.Pulsas siūlinis - 100 k/min. Sistolinis kraujospūdis 70 mm Hg.
                    </li>
                    <li>
                        B. Dešiniojo kelio srities sumušimas
                    </li>
                    <li>
                        C. Uždaras kairiojo šlaunikaulio lūžimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.10</b> Koks yra fosforo organinių junginių veikimo mechanizmas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Blokuoja citochromoksidazę
                    </li>
                    <li>
                        B. Denatūruoja ląstelių baltymus
                    </li>
                    <li>
                        C. Blokuoja acetilcholinesterazę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.11</b> Koks yra cianidų veikimo mechanizmas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Blokuoja citochromoksidazę
                    </li>
                    <li>
                        B. Denatūruoja ląstelių baltymus
                    </li>
                    <li>
                        C. Blokuoja acetilcholinesterazę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.12</b> GMP automobiliu į rajoninės ligoninės  priėmimo skyrių atvežtas gama-spinduliais (nesilaikė saugaus darbo su gama-kamera taisyklių) apšvitintas žmogus. Radioaktyviomis medžiagomis neužterštas. Kuris teiginys teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dekontaminacija nereikalinga
                    </li>
                    <li>
                        B. Būtina degazacija
                    </li>
                    <li>
                        C. Būtina dekontaminacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.13</b> Į rajoninę ligoninę atvežtas darbuotojas, kuris avarijos metu buvo atominio reaktoriaus patalpoje. Nustatyta, kad pacientas užterštas radioaktyviomis medžiagomis. Kuris teiginys teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dekontaminacija nebūtina
                    </li>
                    <li>
                        B. Būtina dalinė dekontaminacija
                    </li>
                    <li>
                        C. Būtina visiška dekontaminacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.14</b> Gyvenamąjame name ant grindų buvo pribarstyta chloracetofenono (lakrimatorius) kristalų. Kuriuo būdu geriausia jį degazuoti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vandeniu
                    </li>
                    <li>
                        B. Druskos rūgštimi
                    </li>
                    <li>
                        C. Šarmų spiritiniais tirpalais, natrio sulfido tirpalu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.15</b> Kaip vadinamas procesas, kurio metu nuo žmogaus odos ir matomų gleivinių paviršiaus pašalinamos radioaktyvios medžiagos, nukenksminamos ir (ar) pašalinamos nuodingos ir biologinės medžiagos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sanitarine dekontaminacija
                    </li>
                    <li>
                        B. Degazacija
                    </li>
                    <li>
                        C. Dezinfekcija
                    </li>
                    <li>
                        D. Dezaktyvacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.16</b> Kaip vadinamas radioaktyvių medžiagų pašalinimas nuo įvairių užterštų objektų paviršiaus ir iš vandens:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Degazacija
                    </li>
                    <li>
                        B. Dezaktyvacija
                    </li>
                    <li>
                        C. Dezinfekcija
                    </li>
                    <li>
                        D. Deratizacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.17</b> Kaip vadinamas nuodingų medžiagų nukenksminimas (neutralizacija) ir (ar) pašalinimas nuo įvairių užterštų jomis objektų paviršiaus ir iš vandens:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Degazacija
                    </li>
                    <li>
                        B. Dezaktyvacija
                    </li>
                    <li>
                        C. Dezinfekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.18</b> Kaip veikia "CS" medžiaga, kuria dažniausiai užpildomi dirginančių dujų, skirtų savigynai, balionėliai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kaip lakrimatorius
                    </li>
                    <li>
                        B. Kaip sternitai
                    </li>
                    <li>
                        C. Būdingas mišrus veikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.19</b> Kaip siaurinama medicinos pagalbos apimtis ekstremalių situacijų metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 50% pacientų atidedama skubi pagalba 30 min.
                    </li>
                    <li>
                        B. Atidedami tik tokie veiksmai, dėl kurių nepablogės pacientų būklė ar sveikata
                    </li>
                    <li>
                        C. 30% pacientų atidedama skubi medicinos pagalba 1 val.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.20</b> Kaip turi būti pasielgta su žmogumi, išėjusiu iš HCN (ciano vandenilio rūgšties) židinio:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Būtina dalinė dekontaminacija
                    </li>
                    <li>
                        B. Būtina visiška dekontaminacija
                    </li>
                    <li>
                        C. Dekontaminacija nebūtina
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.21</b> Kuriuo atveju katastrofos metu asmens sveikatos priežiūros įstaigoje susidarys ekstremali situacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nukentėjusiųjų skaičius viršija tos įstaigos galimybes suteikti jiems medicinos pagalbą
                    </li>
                    <li>
                        B. Į priėmimo skyrių bus atvežta 10 nukentėjusiųjų iš karto
                    </li>
                    <li>
                        C. Minėta įstaiga galės suteikti pagalbą visiems nukentėjusiems
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.31</b> Į polikliniką kreipėsi pacientas, kuriam prieš 0,5 val. papurškė į akis dujiniu balionėliu. Kuo turi būti praplauta akis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tekančiu vandeniu
                    </li>
                    <li>
                        B. 5% boro rūgšties tirpalu
                    </li>
                    <li>
                        C. 2% sodos tirpalu
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>16.22</b> Koks yra optimalus medicinos pagalbos suteikimo laikas kiekvienos nurodytos situacijos metu</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pirmosios medicinos pagalbos suteikimas mechaninės traumos atveju
                    </li>
                    <li>
                        2 - Chirurginė (traumatologinė) pagalba mechaninės traumos atveju
                    </li>
                    <li>
                        3 - Kvalifikuota medicinos pagalba apsinuodijimų atveju
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 0,5-1 val.
                    </li>
                    <li>
                        B. 1-3 val. 
                    </li>
                    <li>
                        C. Iki 6 val.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.23</b> Koks turi būti medicinos pagalbos teikimo eiliškumas (nurodykite spalvinį žymėjimą) kiekvieno nurodyto sužeidimo atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pacientas be sąmonės. Kairiojo smilkinio srityje yra kraujuojanti 3x4 cm skersmens žaizda.  Kvėpavimas nelygus, su pertrūkiais, 32k/min. Sistolinis kraujospūdis 80 mm Hg.
                    </li>
                    <li>
                        2 - Dešiniosios blauzdos srities paviršinis nubrozdijimas
                    </li>
                    <li>
                        3 - Kairiojo blauzdikaulio uždaras lūžimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Raudona
                    </li>
                    <li>
                        B. Geltona
                    </li>
                    <li>
                        C. Žalia
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.24</b> Koks turi būti medicinos pagalbos teikimo eiliškumas (spalvinis žymėjimas) kiekvieno nurodyto sužeidimo atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - II-IV šonkaulių lūžimas kairėje vidurinėje pažasties linijoje.
                    </li>
                    <li>
                        2 - Pjautinė dilbio žaizda
                    </li>
                    <li>
                        3 - Uždaras kairiojo šlaunikaulio lūžimas
                    </li>
                    <li>
                        4 - Durtinė krūtinės žaizda, priverstinė sėdima padėtis (dusina).
                    </li>
                    <li>
                        5 - Atviras kairiojo ir uždaras dešiniojo blauzdikaulių lūžimas (gausiai kraujuoja)
                    </li>
                    <li>
                        6 - Juosmens srities nubrozdijimas
                    </li>
                    <li>
                        7 - Atviras dešiniojo šlaunikaulio lūžimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Raudona
                    </li>
                    <li>
                        B. Geltona
                    </li>
                    <li>
                        C. Žalia
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>16.25 </b> Kuriems sužeistiesiems reikia suteikti pagalbą pirmiausiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Uždaras šonkaulių lūžimas ties kairiąja vidurine pažasties linija
                    </li>
                    <li>
                        2. Pjautinė dilbio žaizda (yra arterinis kraujavimas)
                    </li>
                    <li>
                        3. Kairiojo šlaunikaulio kaklo lūžimas
                    </li>
                    <li>
                        4. Durtinė krūtinės žaizda, priverstinė sėdima padėtis (dusina)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.26 </b> Kuriuos pacientus rūšiuojant reikia pažymėti raudona spalva:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Uždara pilvo trauma (sistolinis kraujospūdis 80 mm Hg)
                    </li>
                    <li>
                        2. Dešiniojo alkūnės sąnario išnirimas
                    </li>
                    <li>
                        3. Trauminė dešiniosios plaštakos amputacija ir plėštinė dešiniojo žasto žaizda (yra arterinis kraujavimas)
                    </li>
                    <li>
                        4. Atviras kairiojo dilbio kaulų lūžimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.27 </b> Kuriuos pacientus rūšiuojant reikia pažymėti raudona spalva:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kaktos srities nubrozdijimas
                    </li>
                    <li>
                        2. Sutraiškyta kairioji pėda ir blauzda
                    </li>
                    <li>
                        3. Uždaras kairiojo žastikaulio lūžimas
                    </li>
                    <li>
                        4. Atviras dešiniojo šlaunikaulio lūžimas (yra arterinis kraujavimas)
                    </li>
                    <li>
                        5. Uždaras dešiniojo šlaunikaulio lūžimas
                    </li>
                    <li>
                        6. Dešiniojo peties sąnario išnirimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.28 </b> Kurios medžiagos yra fosforo organiniai junginiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Zarinas
                    </li>
                    <li>
                        2. Dichlofosas (Cobra)
                    </li>
                    <li>
                        3. Zomanas
                    </li>
                    <li>
                        4. Ipritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.29 </b> Kuriomis pramoninėmis nuodingomis medžiagomis yra didžiausia masinių apsinuodijimų rizika Kaune:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Zarinu
                    </li>
                    <li>
                        2. Amoniaku
                    </li>
                    <li>
                        3. Cianidais
                    </li>
                    <li>
                        4. Chloru
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.30 </b> Nuo ko priklausys apsinuodijusių žmonių skaičius, jeigu įvyks avarija chemijos gamykloje, kuri yra tankiai apgyvendinto miesto centre:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuo paros meto
                    </li>
                    <li>
                        2. Nuo meteorologinių sąlygų
                    </li>
                    <li>
                        3. Nuo žmonių, gyvenančių netoli pavojingo objekto, tankio
                    </li>
                    <li>
                        4. Nuo nuodingos medžiagos savybių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.32 </b> Kuriomis medžiagomis apsinuodijus, būdinga rausva kūno odos ir gleivinių spalva:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Fosforo organiniais junginiais
                    </li>
                    <li>
                        2. Cianidais
                    </li>
                    <li>
                        3. Chloru
                    </li>
                    <li>
                        4. Smalkėmis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.33 </b> Kokios yra dekontaminacijos rūšys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dezaktyvacija
                    </li>
                    <li>
                        2. Degazacija
                    </li>
                    <li>
                        3. Dezinfekcija
                    </li>
                    <li>
                        4. Sanitarinė dekontaminacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.34 </b> Kurie pažeidimai būdingi branduolinės energetikos objektų avarijoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ūmi spindulinė liga
                    </li>
                    <li>
                        2. Nudegimai
                    </li>
                    <li>
                        3. Mechaniniai sužalojimai
                    </li>
                    <li>
                        4. Hipotermija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.35 </b> Kurie tipiniai pažeidimai būdingi potvyniams ir laivų avarijoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hipotermija
                    </li>
                    <li>
                        2. Mechaniniai sužalojimai
                    </li>
                    <li>
                        3. Skendimas
                    </li>
                    <li>
                        4. Apsinuodijimai dūmais ir dujomis
                    </li>
                    <li>
                        5. Terminiai ir cheminiai nudegimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.36 </b> Kurie pažeidimai būdingi geležinkelio katastrofoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mechaninai sužalojimai
                    </li>
                    <li>
                        2. Hipotermija
                    </li>
                    <li>
                        3. Nudegimai.
                    </li>
                    <li>
                        4. Hipertermija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.37 </b> Kurie pažeidimai būdingi visų rūšių didelio masto katastrofoms ir avarijoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Psichinės traumos
                    </li>
                    <li>
                        2. Peršalimai
                    </li>
                    <li>
                        3. Infekciniai susirgimai
                    </li>
                    <li>
                        4. Nudegimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.38 </b> Kurie pažeidimai būdingi aviacijos katastrofoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mechaniniai sužalojimai
                    </li>
                    <li>
                        2. Nudegimai
                    </li>
                    <li>
                        3. Apsinuodijimai
                    </li>
                    <li>
                        4. Nušalimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.39 </b> Kurie reiškiniai būdingi bet kokio masto katastrofai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tai yra netikėtas (nelauktas) reiškinys
                    </li>
                    <li>
                        2. Katastrofos metu yra faktorių, keliančių grėsmę žmonių sveikatai ar gyvybei
                    </li>
                    <li>
                        3. Nebūtinai žūsta ar sužeidžiami žmonės
                    </li>
                    <li>
                        4. Vienu metu skubios medicinos pagalbos prireikia didelei grupei nukentėjusiųjų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>16.40 </b> Kokios yra katastrofų medicininės pasekmės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nukentėjusieji
                    </li>
                    <li>
                        2. Sanitarinės - higieninės ir epidemiologinės būklės pakitimai katastrofos zonoje
                    </li>
                    <li>
                        3. Vietinių sveikatos priežiūros įstaigų nuostoliai ir netektys
                    </li>
                    <li>
                        4. Sugriautos komunikacijos
                    </li>
                    <li>
                        5. Nutrauktas elektros tiekimas
                    </li>
            </ul>
        </li>
    </ul>


<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>16.1 - 

                C
            </td>
            <td>16.2 - 

                C
            </td>
            <td>16.3 - 

                C
            </td>
            <td>16.4 - 

                A
            </td>
            <td>16.5 - 

                B
            </td>
            <td>16.6 - 

                A
            </td>
            <td>16.7 - 

                B
            </td>
            <td>16.8 - 

                A
            </td>
                </tr><tr>
            <td>16.9 - 

                A
            </td>
            <td>16.10 - 

                C
            </td>
            <td>16.11 - 

                A
            </td>
            <td>16.12 - 

                A
            </td>
            <td>16.13 - 

                C
            </td>
            <td>16.14 - 

                C
            </td>
            <td>16.15 - 

                A
            </td>
            <td>16.16 - 

                B
            </td>
                </tr><tr>
            <td>16.17 - 

                A
            </td>
            <td>16.18 - 

                C
            </td>
            <td>16.19 - 

                B
            </td>
            <td>16.20 - 

                C
            </td>
            <td>16.21 - 

                A
            </td>
            <td>16.31 - 

                A
            </td>
                </tr><tr>
            <td>16.22
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>16.23
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>16.24
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - B </li>
                <li>4 - A </li>
                <li>5 - A </li>
                <li>6 - C </li>
                <li>7 - B </li>
            </ul></td>
                </tr><tr>
            <td>16.25
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>16.26
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>16.27
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>16.28
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>16.29
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>16.30
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>16.32
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>16.33
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>16.34
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>16.35
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>16.36
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>16.37
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>16.38
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>16.39
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>16.40
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>

</tr></tbody></table></div>