<div class="Centre Kategorija">Fizika</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>23.1</b> Kaip kinta garso tono aukštis, matuojant kraujo greitį Doplerio metodu, jeigu nuo eritrocito atsispindėjusio signalo ir kraujo tekėjimo kryptys sutampa:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Didėja
                    </li>
                    <li>
                        B. Mažėja
                    </li>
                    <li>
                        C. Nepakinta
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.2</b> Ar pasikeis girdimo tono aukštis, stetoskopą stipriau prispaudus prie odos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nepasikeis
                    </li>
                    <li>
                        B. Sumažės
                    </li>
                    <li>
                        C. Padidės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.3</b> Dėl kokios priežasties tekančio kraujo forminiai elementai susitelkia centrinėje arterijos dalyje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dėl slėgio kitimo išilgai kraujagyslės
                    </li>
                    <li>
                        B. Dėl kraujo greičio skirtumų įvairiose kraujagyslės spindžio vietose
                    </li>
                    <li>
                        C. Dėl didelio kraujagyslės skersmens, lyginant su eritrocitu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.4</b> Nuo kurių parametrų labiausiai priklauso kraujagyslėmis pratekančio kraujo kiekis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo slėgio gradiento išilgai kraujagyslės
                    </li>
                    <li>
                        B. Nuo kraujo klampumo
                    </li>
                    <li>
                        C. Nuo kraujagyslės skersmens
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.5</b> Kaip pasikeis kraujo tekėjimo pobūdis arterijoje, jei iš išorės veiks slėgis, šiek tiek mažesnis už kraujo sistolinį slėgį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tekėjimas nutruks
                    </li>
                    <li>
                        B. Taps sūkuriniu
                    </li>
                    <li>
                        C. Išliks sluoksniniu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.6</b> Nuo ko nepriklauso eritrocitų judrumas mėgintuvėlyje, nustatant eritrocitų nusėdimo greitį (ENG):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo plazmos klampumo
                    </li>
                    <li>
                        B. Nuo eritrocito diametro
                    </li>
                    <li>
                        C. Nuo gravitacinės jėgos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.7</b> Ar tuo metu, kai širdyje susidaro elektrinis dipolis, apie širdį susikuria magnetinis laukas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kartais, ne visada, būtinos dar ir kitos sąlygos
                    </li>
                    <li>
                        B. Tik apie tekantį iš širdies kraują
                    </li>
                    <li>
                        C. Taip, visada susidaro
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.8</b> Kuriose kūno dalyse galima sukelti branduolinį magnetinį rezonansą ir padaryti tomogramą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tose, kuriose yra kaulų
                    </li>
                    <li>
                        B. Tose, kuriose susikaupę sunkieji elementai
                    </li>
                    <li>
                        C. Tose, kuriose yra skysčių judėjimas (pvz., teka kraujas ar limfa)
                    </li>
                    <li>
                        D. Bet kuriose kūno dalyse
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.9</b> Kodėl kurioje nors reogramos dalyje laikui bėgant varža didėja:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tiriamas audinys prisipildo krauju
                    </li>
                    <li>
                        B. Audinys netenka kraujo
                    </li>
                    <li>
                        C. Kraujo kiekis audinyje nesikeičia, tik didėja kraujo įsotinimas anglies dioksidu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.10</b> Kaip EKG nustatyti, kelių milivoltų yra R dantelio aukštis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reikia žinoti juostos slinkimo greitį
                    </li>
                    <li>
                        B. Reikia išmatuoti R dantelį milimetrais: kiek bus milimetrų, tiek bus ir milivoltų
                    </li>
                    <li>
                        C. Reikia panaudoti kalibracinį signalą
                    </li>
                    <li>
                        D. Reikia lyginti su kito paciento EKG, kurios R dantelio aukštis žinomas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.11</b> Ar skiriasi žodžių „elekrokardiograma“, „ritmograma“, „ritmo histograma“ reikšmės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Visi žodžiai yra sinonimai
                    </li>
                    <li>
                        B. Tik elektrokardiograma ir ritmo histograma yra sinonimai
                    </li>
                    <li>
                        C. Tai skirtingos reikšmės žodžiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.12</b> Kodėl yra trys pagrindinės EKG derivacijos (I, II, III), o ne dvi ar keturios ir t. t.:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Norint nustatyti širdies elektrinio vektoriaus padėtį frontalinėje plokštumoje, reikia mažiausiai trijų kūno taškų, tarp kurių gali būti išmatuotas potencialų skirtumas
                    </li>
                    <li>
                        B. Tai – susitarimo dalykas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.13</b> Kelias pagrindines EKG derivacijas pakanka užrašyti, kad būtų galima nustatyti širdies elektrinio vektoriaus padėtį frontalinėje plokštumoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vieną
                    </li>
                    <li>
                        B. Dvi
                    </li>
                    <li>
                        C. Tris
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.14</b> Rašant EKG I ir II derivacijas, elektrodas pritvirtinamas ne prie dešiniosios rankos, bet dešniojo peties srityje. Ar tai neprieštarauja Einthoveno derivacijų modeliui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Prieštarauja
                    </li>
                    <li>
                        B. Ne
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.15</b> Kodėl gama ir rentgeno spinduliai pavojingi gyviems organizmams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Yra skvarbūs
                    </li>
                    <li>
                        B. Dėl šiluminio poveikio
                    </li>
                    <li>
                        C. Sužadina aplinkoje esančių objektų atomus ir molekules
                    </li>
                    <li>
                        D. Jonizuoja audinius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.16</b> Kurių rentgeno spindulių charakteristikų rentgenoskopuojant gydytojas negali pakeisti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bangos ilgio (dažnio)
                    </li>
                    <li>
                        B. Spinduliavimo energijos
                    </li>
                    <li>
                        C. Bangos greičio
                    </li>
                    <li>
                        D. Ekspozicinės dozės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.17</b> Kurie spinduliai turi didžiausią biologinį poveikį žmogui, jei vienkartinė absorbuotoji dozė vienoda:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Alfa
                    </li>
                    <li>
                        B. Beta
                    </li>
                    <li>
                        C. Neutronai
                    </li>
                    <li>
                        D. Gama
                    </li>
                    <li>
                        E. Rentgeno
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.18</b> Kokiomis elektros grandinės savybėmis pasižymi biologinė membrana:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tik talpinėmis
                    </li>
                    <li>
                        B. Tik elektrine varža
                    </li>
                    <li>
                        C. Elektrine varža ir talpa
                    </li>
                    <li>
                        D. Induktyvumu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.19</b> Nuo ko priklauso ramybės potencialo dydis ląstelėse:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tik nuo K⁺ pasiskirstymo abipus membranos
                    </li>
                    <li>
                        B. Tik nuo Na⁺  pasiskirstymo abipus membranos
                    </li>
                    <li>
                        C. Tik nuo membranos laidumo jonams
                    </li>
                    <li>
                        D. Nuo membranos laidumo jonams ir K⁺, Na⁺, Cl⁻ pasiskirstymo abipus membranos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.20</b> Nuo ko priklauso joninės srovės pro biologinę membraną dydis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo jonų tipo
                    </li>
                    <li>
                        B. Nuo jonų koncentracijos skirtumo ląstelės viduje ir jos išorėje
                    </li>
                    <li>
                        C. Nuo membraninio potencialo dydžio
                    </li>
                    <li>
                        D. Nuo membraninio potencialo dydžio ir jonų tipo
                    </li>
                    <li>
                        E. Nuo membranos storio ir jonų tipo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.21</b> Kuris veiksnys turi įtakos, kad ramybės potencialas yra mažesnis už nulį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ląstelės viduje yra Cl⁻ perteklius
                    </li>
                    <li>
                        B. Ląstelės viduje trūksta Na⁺ jonų
                    </li>
                    <li>
                        C. Ląstelės viduje yra organinių anijonų perteklius
                    </li>
                    <li>
                        D. Ląstelės viduje trūksta K⁺ jonų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.22</b> Ar reikia energijos medžiagų pernešimui pro ląstelės membraną:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reikia tik aktyviam pernešimui
                    </li>
                    <li>
                        B. Reikia ir aktyviam, ir pasyviam pernešimui
                    </li>
                    <li>
                        C. Nereikia
                    </li>
                    <li>
                        D. Reikia tik elektriškai įkrautoms dalelėms pernešti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.23</b> Dėl kokių priežasčių gali atsirasti veikimo potencialas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dėl natrio-kalio siurblio poveikio
                    </li>
                    <li>
                        B. Dėl ikislenkstinės depoliarizacijos
                    </li>
                    <li>
                        C. Dėl Na⁺ ir K⁺ jonų koncentracijų gradiento abipus membranos
                    </li>
                    <li>
                        D. Dėl depoliarizacijos ir Na⁺  bei K⁺  jonų gradiento abipus membranos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.24</b> Kodėl įžeminus iš elektros tinklo maitinamą ir metalinį korpusą turintį aparatą, išvengiama elektros traumų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Akimirksniu sudega saugiklis ir išjungia aparatą iš tinklo
                    </li>
                    <li>
                        B. Metalinis aparato korpusas neįgyja įtampos
                    </li>
                    <li>
                        C. Sutrinka aparato darbas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.25</b> Kuris elektrokardiografas turi turėti apsauginį įžeminimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Elektrokardiografas su metaliniu korpusu ir maitinamas iš elektros tinklo
                    </li>
                    <li>
                        B. Elektrokardiografas su metaliniu korpusu ir maitinamas iš baterijos
                    </li>
                    <li>
                        C. Elektrokardiografas su plastmasiniu korpusu ir maitininamas iš elektros tinklo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.26</b> Kodėl funkcinis įžeminimas slopina tinklo triukšmus ir pagerina biopotencialų registravimo kokybę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žemės potencialas yra pastovus, ir jokie išoriniai elektromagnetiniai laukai negali pakeisti nei jo, nei su žeme sujungto bioobjekto potencialo
                    </li>
                    <li>
                        B. Padidėja biopotencialų amplitudė
                    </li>
                    <li>
                        C. Padidėja elektrokardiografo jautrumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.27</b> Kodėl, pakeitus elektrodų padėtį ar šildomą kūno dalį, reikia iš naujo derinti UAD aparato rezonansą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pakinta fizioterapinio kontūro talpa
                    </li>
                    <li>
                        B. Mažėja aparato maitinimo įtampa
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.28</b> Kodėl ne visi žmogaus kūno audiniai vienodai įšyla UAD elektriniame lauke:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nevienodas jų elektrinis laidumas ir dielektrinė konstanta
                    </li>
                    <li>
                        B. Skirtingas tankis
                    </li>
                    <li>
                        C. Skiriasi jų inervacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.29</b> Kodėl fizioterapinės ultraaukšto 30–50 MHz dažnio (UAD) elektrinio lauko procedūros metu pacientui nedraudžiama būti su metaliniu laikrodžiu, įkabintais auskarais ir mūvėti žiedus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. UAD terapinio aparato elektrinis laukas nešildo nei dielektrikų, nei metalų
                    </li>
                    <li>
                        B. Šie daiktai yra maži
                    </li>
                    <li>
                        C. UAD terapinis aparatas veikia tik biologines medžiagas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.30</b> Ar priklauso imties vidurkis nuo imties tūrio:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Taip
                    </li>
                    <li>
                        B. Ne
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.31</b> Kuris vidurkis - populiacijos ar imties - yra pastovus, o ne atsitiktinis dydis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Populiacijos vidurkis yra pastovus dydis
                    </li>
                    <li>
                        B. Imties vidurkis yra pastovus dydis
                    </li>
                    <li>
                        C. Abu vidurkiai yra atsitiktiniai dydžiai
                    </li>
                    <li>
                        D. Abu vidurkiai yra pastovūs dydžiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.32</b> Kuriam vidurkiui - imties ar populiacijos - skaičiuojamas pasikliautinis intervalas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Populiacijos vidurkiui
                    </li>
                    <li>
                        B. Imties vidurkiui
                    </li>
                    <li>
                        C. Abiems vidurkiams
                    </li>
                    <li>
                        D. Nė vienam iš jų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.33</b> Kada skirtumas tarp lyginamųjų grupių parametrų yra statistiškai reikšmingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. p-reikšmė &lt; α
                    </li>
                    <li>
                        B. p-reikšmė ≥ α
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.34</b> Kur daugiausia mūsų organizme yra paramagnetikų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ten, kur daugiausia vandens molekulių
                    </li>
                    <li>
                        B. Ten, kur didžiausia deguonies koncentracija
                    </li>
                    <li>
                        C. Ten, kur daugiausia sukuriama laisvųjų radikalų
                    </li>
                    <li>
                        D. Ten, kur spartesnis ląstelių dalijimasis
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>23.35</b> Kuriam iš elektros tinklo maitinamam elektrokardiografui reikalingas kiekvienas nurodytas įžeminimas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Metalinis korpusas
                    </li>
                    <li>
                        2 - Plastmasinis korpusas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Reikia ir apsauginio ir funkcinio įžeminimo
                    </li>
                    <li>
                        B. Reikia tik funkcinio įžeminimo
                    </li>
                    <li>
                        C. Nereikia nei apsauginio, nei funkcinio įžeminimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.36</b> Kuriam įžeminimo tipui tinka kiekviena nurodyta paskirtis</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Apsauginis įžeminimas
                    </li>
                    <li>
                        2 - Funkcinis įžeminimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Įvykus elektriniam pramušimui, sumažina prisilietimo įtampą
                    </li>
                    <li>
                        B. Užrašant elektrokardiogramą, slopina tinklo triukšmus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.37</b> Kurie sisteminiai ir nesisteminiai vienetai tinka kiekvienai nurodytai jonizuojančio spinduliavimo dozei</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ekspozicinė dozė
                    </li>
                    <li>
                        2 - Absorbuotoji dozė
                    </li>
                    <li>
                        3 - Integralinė dozė
                    </li>
                    <li>
                        4 - Ekvivalentinė dozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Džaulis, gramradas
                    </li>
                    <li>
                        B. Sivertas, remas
                    </li>
                    <li>
                        C. Kulonas kilogramui, rentgenas
                    </li>
                    <li>
                        D. Grėjus, radas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.38</b> Kuris biologinis efektas būdingas kiekvienai nurodytai spindulių rūšiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Infraraudonieji spinduliai
                    </li>
                    <li>
                        2 - Matomi spinduliai
                    </li>
                    <li>
                        3 - Ultravioletiniai spinduliai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Regėjimo
                    </li>
                    <li>
                        B. Šiluminis
                    </li>
                    <li>
                        C. Baktericidinis
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>23.39 </b> Kurie auglių gydymo būdai yra efektyviausi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Švitinimas protonais
                    </li>
                    <li>
                        2. Švitinimas elektronais
                    </li>
                    <li>
                        3. Švitinimas sunkiųjų elementų branduoliais
                    </li>
                    <li>
                        4. Švitinimas gama spinduliais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.40 </b> Kurie reiškiniai veikia žmogų, kai jis tiriamas tomografu branduolinio magnetinio rezonanso (BMR) metodu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pastovus magnetinis laukas
                    </li>
                    <li>
                        2. Švitinimas protonais
                    </li>
                    <li>
                        3. Elektromagnetinės bangos
                    </li>
                    <li>
                        4. Aukšto dažnio srovės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.41 </b> Ką atspindi protonų magnetinio rezonanso (PMR) metodu gauta tomograma:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Visų branduolių tankį to sluoksnio taškuose
                    </li>
                    <li>
                        2. Protonų tankį to sluoksnio taškuose
                    </li>
                    <li>
                        3. Praėjusių pro švitinamą plokštumą protonų kiekį
                    </li>
                    <li>
                        4. Protonų relaksacijos laiką
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.43 </b> Kurie veiksniai turi reikšmės elektrotraumos ar elektrošoko baigčiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Srovės stiprumas
                    </li>
                    <li>
                        2. Įtampa
                    </li>
                    <li>
                        3. Odos varža
                    </li>
                    <li>
                        4. Srovės veikimo laikas
                    </li>
                    <li>
                        5. Srovės dažnis
                    </li>
                    <li>
                        6. Srovės tekėjimo kelias žmogaus kūnu
                    </li>
                    <li>
                        7. Širdies ciklo fazė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.44 </b> Kurios apsauginio aparatūros įžeminimo charakteristikos yra reikšmingos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Padidėja pro aparato saugiklį tekanti avarinė srovė
                    </li>
                    <li>
                        2. Mažėja žmogui tenkanti avarinės srovės dalis
                    </li>
                    <li>
                        3. Mažėja prisilietimo įtampa
                    </li>
                    <li>
                        4. Greičiau sudega saugiklis
                    </li>
                    <li>
                        5. Sutrumpėja srovės veikimo laikas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.45 </b> Kuriuos pirminius procesus sukelia 30-50 MHz UAD fizioterapinis aparatas, kai naudojami izoliacija dengti elektrodai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kintamą dielektrinių audinių poliarizaciją
                    </li>
                    <li>
                        2. Laisvų jonų svyruojamą judėjimą
                    </li>
                    <li>
                        3. Vandens molekulių sukiojimą lauko kitimo taktu
                    </li>
                    <li>
                        4. Laidžių audinių sukūrines elektros sroves
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.46 </b> Kas visiškai apibūdina atsitiktinį dydį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vidurkis
                    </li>
                    <li>
                        2. Pasiskirstymo funkcija
                    </li>
                    <li>
                        3. Dispersija
                    </li>
                    <li>
                        4. Įgyjamos reikšmės ir jų tikimybės
                    </li>
                    <li>
                        5. Įgyjamos reikšmės
                    </li>
                    <li>
                        6. Įgyjamų reikšmių tikimybės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.47 </b> Kas tiksliai apibūdina Normalųjį (Gauso) skirstinį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vidurkis ir dispersija
                    </li>
                    <li>
                        2. Pasiskirstymo funkcija
                    </li>
                    <li>
                        3. Pasiskirstymo tankis
                    </li>
                    <li>
                        4. Vidurkis
                    </li>
                    <li>
                        5. Dispersija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.48 </b> Kada siaurėja pasikliautinasis intervalas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Didinant atvejų skaičių
                    </li>
                    <li>
                        2. Mažinant atvejų skaičių
                    </li>
                    <li>
                        3. Mažinant pasikliovimo lygmenį
                    </li>
                    <li>
                        4. Didinant pasikliovimo lygmenį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.49 </b> Kuris statistinis kriterijus tinka dviejų populiacijų vidurkių palyginimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. McNemaro 
                    </li>
                    <li>
                        2. Fišerio (F)
                    </li>
                    <li>
                        3. Chi-kvadrato kriterijus (χ²)
                    </li>
                    <li>
                        4. Stjudento (t)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.50 </b> Kuris statistinis kriterijus tinka dviejų populiacijų dispersijų palyginimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. McNemaro 
                    </li>
                    <li>
                        2. Stjudento (t)
                    </li>
                    <li>
                        3. Chi-kvadrato kriterijus (χ²)
                    </li>
                    <li>
                        4. Fišerio (F)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.51 </b> Kuris statistinis kriterijus tinka dviejų populiacijų tikimybių palyginimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Stjudento (t)
                    </li>
                    <li>
                        2. Fišerio (F)
                    </li>
                    <li>
                        3. Vilkoksono kriterijus
                    </li>
                    <li>
                        4. z kriterijus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.52 </b> Kurie statistiniai kriterijai tinka gydymo efektyvumui patikrinti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. McNemaro kriterijus
                    </li>
                    <li>
                        2. Porinis Stjudento (t)
                    </li>
                    <li>
                        3. Vilkoksono kriterijus
                    </li>
                    <li>
                        4. Fišerio (F)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.53 </b> Kuris statistinis kriterijus tinka priklausomybei tarp dviejų nominalinių požymių tikrinti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Stjudento (t)
                    </li>
                    <li>
                        2. Fišerio (F)
                    </li>
                    <li>
                        3. Chi-kvadrato kriterijus (χ²) 
                    </li>
                    <li>
                        4. Vilkoksono kriterijus 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.54 </b> Kai žmogus yra BMR tomografe, kaip jis įsimagnetina: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Teigiami jonai atskiriami nuo neigiamų
                    </li>
                    <li>
                        2. Orientuojami nesuporinti elektronai
                    </li>
                    <li>
                        3. Polių kryptimi išsitempia ląstelės
                    </li>
                    <li>
                        4. Orientuojami magnetiniai atomų branduoliai
                    </li>
                    <li>
                        5. Orientuojami vandens molekulių dipoliai
                    </li>
                    <li>
                        6. Sukeliamas Kirlijano efektas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.55 </b> Kokie yra elektrinio skalpelio poveikio skirtumai, palyginus su mechaniniu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ne tik pjauna, bet ir sterilizuoja
                    </li>
                    <li>
                        2. Ne tik pjauna, bet ir koaguliuojami baltymai
                    </li>
                    <li>
                        3. Ne tik pjauna, bet ir palieka pėdsaką – sudegintas ląsteles
                    </li>
                    <li>
                        4. Ne tik pjauna, bet ir šalina skausmą 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.56 </b> Kurie vienetai yra srovės tankio vienetai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. A/m²  
                    </li>
                    <li>
                        2. mM/cm
                    </li>
                    <li>
                        3. V/cms
                    </li>
                    <li>
                        4. mA/cm²
                    </li>
                    <li>
                        5. mA/s
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.57 </b> Kada reikia atsižvelgti į srovės tankio didumą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kai veikiame žemo dažnio srovėmis
                    </li>
                    <li>
                        2. Gydomosios elektroforezės metu
                    </li>
                    <li>
                        3. Galvanizacijos procedūros metu
                    </li>
                    <li>
                        4. Kai šildome infraraudonaisiais spinduliais
                    </li>
                    <li>
                        5. Kai pacientą šildome aukšto dažnio elektriniu lauku
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.58 </b> Kaip veikia impulsinis magnetinis laukas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Turi veikti ilgą laiką, impulsai nespėja paveikti
                    </li>
                    <li>
                        2. Indukuoja sukūrines sroves
                    </li>
                    <li>
                        3. Labiausiai veikia organizmo paviršių
                    </li>
                    <li>
                        4. Gali sužadinti dirgliąsias ląsteles
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.59 </b> Kurie vienetai yra mikrobangų intensyvumo vienetai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. J/cm²
                    </li>
                    <li>
                        2. J/cm²s
                    </li>
                    <li>
                        3. V/s
                    </li>
                    <li>
                        4. W/m²
                    </li>
                    <li>
                        5. W/cm s
                    </li>
                    <li>
                        6. V/m³
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.60 </b> Kaip vadinamos elektromagnetinio lauko jėgos, veikiančios jonus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Holo
                    </li>
                    <li>
                        2. Kulono
                    </li>
                    <li>
                        3. Kirlijano
                    </li>
                    <li>
                        4. Lorenco
                    </li>
                    <li>
                        5. Bolcmano
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>23.61</b> Koks garso intensyvumo lygis belais ir decibelais, jeigu garso intensyvumas 1000 kartų didesnis už girdos slenkstį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 10 B, 100 dB
                    </li>
                    <li>
                        B. 10³ B, 10⁴dB
                    </li>
                    <li>
                        C. 3B, 30dB
                    </li>
                    <li>
                        D. 30B, 300dB
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.62</b> Ramaus pokalbio garsumas yra 40 fonų. Kokio intensyvumo W/m2 pokalbis, jei girdos slenkstis 1 kHz dažnio virpesiams yra 10⁻¹² W/m2:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 4*10⁻¹²
                    </li>
                    <li>
                        B. 40*10⁻¹²
                    </li>
                    <li>
                        C. 10⁻⁷
                    </li>
                    <li>
                        D. 10⁻⁸
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.63</b> Susilpnėjusios klausos ligonis tesugeba išgirsti 40 dB stiprumo garsą. Kiek kartų turi stiprinti elektroninis klausos aparatas, kad žmogus galėtų normaliai girdėti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 10⁴
                    </li>
                    <li>
                        B. 10³
                    </li>
                    <li>
                        C. 40
                    </li>
                    <li>
                        D. 4×10⁴
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.64</b> Gydymui buvo naudojamos 40 MHz dažnio elektromagnetinės bangos, moduliuotos 1 kHz dažniu. Impulsai trukdavo 100 milisekundžių, elektrinio lauko stiprumas svyruodavo nuo 1 iki 3 V/m. Kiek apytikriai trukdavo pauzė tarp impulsų, jei jie buvo duodami normalaus širdies ritmo dažniu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 0,3 s
                    </li>
                    <li>
                        B. 0,001 s
                    </li>
                    <li>
                        C. Tiek pat kiek ir impulsas, t. y. 100 ms
                    </li>
                    <li>
                        D. 0,9 s
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.65</b> Žmogus persikėlė gyventi į kitą vietovę, esančią 2 kartus arčiau televizijos siųstuvo. Kelis kartus daugiau elektromagnetinių bangų energijos per tą patį laiką tenka jo organizmui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kvadratinė šaknis iš 2, t. y. 1,4 karto daugiau
                    </li>
                    <li>
                        B. 2
                    </li>
                    <li>
                        C. Beveik 3 (tiksliau 2,8 karto)
                    </li>
                    <li>
                        D. 4
                    </li>
                    <li>
                        E. 8
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.66</b> Vienam širdies susitraukimui sukelti reikia apie 5 mA stiprumo ir 1 ms trukmės elektros impulso. Baterijos talpa 0,5 Ah. Kiek metų turėtų tarnauti implantuojamas elektrokardiostimuliatorius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 3
                    </li>
                    <li>
                        B. 5
                    </li>
                    <li>
                        C. 9
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.67</b> Praėjusių pro 5 cm betono sluoksnį, spindulių intensyvumas sumažėjo 50%. Kiek kartų sumažės intensyvumas, jei betono storis bus padidintas du kartus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 4
                    </li>
                    <li>
                        B. 10
                    </li>
                    <li>
                        C. 2,5
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>23.68</b> Atstumas tarp gama spindulių šaltinio ir žmogaus pakito nuo 3 iki 12 m. Kiek kartų pakito ekspozicinės dozės galia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėjo 4 kartus
                    </li>
                    <li>
                        B. Sumažėjo 4 kartus
                    </li>
                    <li>
                        C. Sumažėjo 9 kartus
                    </li>
                    <li>
                        D. Sumažėjo 16 kartų
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>23.1 - 

                A
            </td>
            <td>23.2 - 

                C
            </td>
            <td>23.3 - 

                B
            </td>
            <td>23.4 - 

                C
            </td>
            <td>23.5 - 

                B
            </td>
            <td>23.6 - 

                C
            </td>
            <td>23.7 - 

                C
            </td>
            <td>23.8 - 

                D
            </td>
                </tr><tr>
            <td>23.9 - 

                B
            </td>
            <td>23.10 - 

                C
            </td>
            <td>23.11 - 

                C
            </td>
            <td>23.12 - 

                A
            </td>
            <td>23.13 - 

                B
            </td>
            <td>23.14 - 

                B
            </td>
            <td>23.15 - 

                D
            </td>
            <td>23.16 - 

                C
            </td>
                </tr><tr>
            <td>23.17 - 

                A
            </td>
            <td>23.18 - 

                C
            </td>
            <td>23.19 - 

                D
            </td>
            <td>23.20 - 

                D
            </td>
            <td>23.21 - 

                C
            </td>
            <td>23.22 - 

                B
            </td>
            <td>23.23 - 

                D
            </td>
            <td>23.24 - 

                A
            </td>
                </tr><tr>
            <td>23.25 - 

                A
            </td>
            <td>23.26 - 

                A
            </td>
            <td>23.27 - 

                A
            </td>
            <td>23.28 - 

                A
            </td>
            <td>23.29 - 

                A
            </td>
            <td>23.30 - 

                A
            </td>
            <td>23.31 - 

                A
            </td>
            <td>23.32 - 

                A
            </td>
                </tr><tr>
            <td>23.33 - 

                A
            </td>
            <td>23.34 - 

                C
            </td>
                </tr><tr>
            <td>23.35
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
            </ul></td>
            <td>23.36
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
            </ul></td>
            <td>23.37
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>23.38
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
                </tr><tr>
            <td>23.39
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>23.40
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>23.41
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>23.43
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
            </ul></td>
            <td>23.44
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>23.45
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>23.46
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>23.47
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>23.48
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>23.49
            <ul>
                <li>4</li>
            </ul></td>
            <td>23.50
            <ul>
                <li>4</li>
            </ul></td>
            <td>23.51
            <ul>
                <li>4</li>
            </ul></td>
            <td>23.52
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>23.53
            <ul>
                <li>4</li>
            </ul></td>
            <td>23.54
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>23.55
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>23.56
            <ul>
                <li>4</li>
            </ul></td>
            <td>23.57
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>23.58
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>23.59
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>23.60
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>23.61 - 

                C
            </td>
            <td>23.62 - 

                D
            </td>
            <td>23.63 - 

                A
            </td>
            <td>23.64 - 

                D
            </td>
            <td>23.65 - 

                D
            </td>
            <td>23.66 - 

                C
            </td>
            <td>23.67 - 

                A
            </td>
            <td>23.68 - 

                D
            </td>

</tr></tbody></table></div>