<div class="Centre Kategorija">Gastroenterologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>37.1</b> Kuriai ūminio gastrito formai būdingi šie histologiniai pakitimai: hiperemija, pabrinkimas, visuose skrandžio sienelės sluoksniuose matoma ženkli polimorfonuklearinių leukocitų infiltracija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Katarinei 
                    </li>
                    <li>
                        B. Erozinei
                    </li>
                    <li>
                        C. Hemoraginei
                    </li>
                    <li>
                        D. Flegmoninei
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.2</b> Išskiriami šie funkcinės dispepsijos variantai (tipai), išskyrus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Opaligę primenanti dispepsija
                    </li>
                    <li>
                        B. Gastroezofaginio refliukso ligą primenanti dispepsija
                    </li>
                    <li>
                        C. Motorikus sutrikimus primenanti dispepsija
                    </li>
                    <li>
                        D. Nepatikslinta (nespecifinė) dispepsija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.3</b> Išvardinti teiginiai apie H. pylori diagnostikos metodus yra teisingi, išskyrus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ureazės (CLO) mėginio jautrumas sumažėja, esant skrandyje kraujo
                    </li>
                    <li>
                        B. Visi invaziniai mėginiai gali būti klaidingai neigiami, jei biopsija imama tik iš atrofiškai pakitusios gleivinės
                    </li>
                    <li>
                        C. Serologiniai metodai yra tinkamiausi H. pylori gydymo rezultatų įvertinimui 
                    </li>
                    <li>
                        D. Ureazės mėginys gali būti klaidingai neigiamas tuoj po gydymo antibiotikais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.4</b> Difuzinei skrandžio vėžio formai būdingi šie požymiai, išskyrus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vyrai ir moterys juo serga vienodai
                    </li>
                    <li>
                        B. Maždaug vienodas sergamumas įvairiose šalyse
                    </li>
                    <li>
                        C. Navikinės ląstelės infiltruoja sienelę, nesudarydamos naviko
                    </li>
                    <li>
                        D. Navikinės ląstelės gerai diferencijuotos, stipri stromos reakcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.5</b> Kuris pilvo skausmo požymis yra būdingiausias dirgliosios žarnos sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Diegiantis pobūdis
                    </li>
                    <li>
                        B. Užeinantis po riebaus maisto
                    </li>
                    <li>
                        C. Praeinantis pasituštinus ar išėjus dujoms
                    </li>
                    <li>
                        D. Lokalizacija vidurinėje pilvo dalyje, apie bambą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.6</b> Kuris ligonio išsakytas sutrikusio tuštinimosi apibūdinimas leidžia įtarti esant tiesiosios žarnos naviką</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Potraukio tuštinimuisi nebuvimas
                    </li>
                    <li>
                        B. Avies spirų pavidalo išmatos
                    </li>
                    <li>
                        C. Pirštų pagalbos reikalingumas sėkmingam išsituštinimui
                    </li>
                    <li>
                        D. Tenezmai, tuštinimasis su kraujo priemaiša
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.7</b> Kuris išmatų tyrimo požymis būdingiausias paūmėjusiam opiniam kolitui ?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Balta išmatų spalva
                    </li>
                    <li>
                        B. Skystos košės konsistencija
                    </li>
                    <li>
                        C. Didelis nesuvirškinamų skaidulų kiekis
                    </li>
                    <li>
                        D. Skystos išmatos su kraujo primaiša
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.8</b> Kuris opinių žarnos gleivinės pakitimų požymis būdingiausias opiniam kolitui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Segmentinis opinių pakitimų išsidėstymas
                    </li>
                    <li>
                        B. Opų atsiradimas ištisiniai uždegiminiai pakitusioje gleivinėje
                    </li>
                    <li>
                        C. Aftinės opos
                    </li>
                    <li>
                        D. Opos su pagraužtais kraštais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.9</b> Kuris teiginys apie gaubtinės žarnos divertikuliozę yra neteisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Divertikuliozė dažniausiai yra asimptominė
                    </li>
                    <li>
                        B. Dažniausiai divertikulai randasi riestinėje žarnoje
                    </li>
                    <li>
                        C. Išsivysčius divertikulitui, tampa rizikingu endoskopinis ir rentgenologinis žarnyno tyrimas
                    </li>
                    <li>
                        D. Divertikulitas dažniausiai gydomas chirurginiu būdu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.10</b> Kuris iš išvardintų požymių būdingiausias dešiniosios pusės storosios žarnos vėžio klinikiniam debiutui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ferodeficitinė anemija be akimi matomo kraujavimo pro išangę požymių,
                    </li>
                    <li>
                        B. Tenezmai su kraujingų gleivių išsiskyrimu,
                    </li>
                    <li>
                        C. Užkietėjimų kaitaliojimasis su trumpais viduriavimo periodais,
                    </li>
                    <li>
                        D. Obstrukcinio žarnų nepraeinamumo požymiai.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.11</b> Kuris fermentinio gydymo variantas yra optimaliausias gydant lėtinio pankreatito sąlygotą malabsorbciją (steatorėją):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. kasos fermentų tabletės, turinčios didelį lipazės kiekį (forte preparatai), padengtos rūgščiai atsparia kapsule,
                    </li>
                    <li>
                        B. kasos fermentų minimikkrosferos, turinčios didelį lipazės kiekį , padengtos rūgščiai atsparia kapsule,
                    </li>
                    <li>
                        C. nedidelio lipazės kiekio tabletės, padengtos rūgščiai atsparia kapsule vartojamos po 6 – 8 su kiekvienu valgymu,
                    </li>
                    <li>
                        D. paprastos didelio kasos fermentų kiekio tabletės, vartojamos kartu su HCl sekreciją mažinančiais vaistais.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.12</b> Kuris iš šių kriterijų nenaudojamas Child-Pugh kepenų cirozės funkcinei klasei įvertinti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Protrombino indeksas
                    </li>
                    <li>
                        B. Transaminazių aktyvumo padidėjimas
                    </li>
                    <li>
                        C. Ascito kiekis
                    </li>
                    <li>
                        D. Albumino kiekis kraujyje 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.13</b> Koks tyrimų derinys būdingiausias alkoholiniam hepatitui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. AST – 80 U/L, ALT – 120 U/L, ŠF – 150 U/L, γGT– 45 U/L
                    </li>
                    <li>
                        B. AST – 240 U/L, ALT – 120 U/L, ŠF – 120 U/L, γGT – 250 U/L
                    </li>
                    <li>
                        C. AST – 40 U/L, ALT – 60 U/L, ŠF – 600 U/L, γGT – 200 U/L
                    </li>
                    <li>
                        D. AST – 500 U/L, ALT – 700 U/L, ŠF – 210 U/L, γGT – 40 U/L
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.14</b> Kurie medikamentai vartojami aktyvaus lėtinio virusinio B hepatito gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Prednizolonas ir azatioprinas
                    </li>
                    <li>
                        B. Interferonas ir Ribavirinas
                    </li>
                    <li>
                        C. Interferonas ir Entecavir
                    </li>
                    <li>
                        D. Prednizolonas ir Ribavirinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.15</b> Kuris laboratorinių tyrimų derinys būdingas cholestazinei geltai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bilirubino koncentracijos padidėjimas tiesioginio bilirubino sąskaita, šarminės fosfatazės aktyvumo sumažėjimas, gama-gliutamiltranspeptidazės aktyvumo padidėjimas
                    </li>
                    <li>
                        B. Bilirubino koncentracijos padidėjimas netiesioginio bilirubino sąskaita, šarminės fosfatazės padidėjimas, gama-gliutamiltranspeptidazės padidėjimas
                    </li>
                    <li>
                        C. Bilirubino padidėjimas tiesioginio bilirubino sąskaita, šarminės fosfatazės padidėjimas, gama-gliutamiltranspeptidazės padidėjimas
                    </li>
                    <li>
                        D. Normalus bilirubino kiekis, šarminės fosfatazės padidėjimas, gama-gliutamiltranspeptidazės normalus aktyvumas
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>37.16</b> Kiekvienam požymių deriniui parinkite po vieną teisingą atsakymą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - HBsAg (+), HBeAg (+)
                    </li>
                    <li>
                        2 - antiHCV (+), HCV-RNR (+)
                    </li>
                    <li>
                        3 - Protrombino, albumino sumažėjimas, bilirubino koncentracijos padidėjimas
                    </li>
                    <li>
                        4 - HBsAg(-); Anti-HBs (+); AntiHBc IgG (-)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Infekuotumas hepatito C virusu
                    </li>
                    <li>
                        B. Aktyvi hepatito B viruso replikacija
                    </li>
                    <li>
                        C. Vakcinos sukeltas imunitetas prieš hepatito B virusą
                    </li>
                    <li>
                        D. Kepenų funkcijos nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.17</b> Kuriai opaligės lokalizacijai būdingi žemiau išvardinti  patfiziologiniai pokyčiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Padidėjusi maisto skatinama HCl sekrecija
                    </li>
                    <li>
                        2 - Sumažėjusi parietalinių ląstelių masė
                    </li>
                    <li>
                        3 - Padidėjusi naktinė HCl sekrecija
                    </li>
                    <li>
                        4 - Sulėtėjęs skrandžio išsituštinimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Skrandžio opaligei
                    </li>
                    <li>
                        B. Dvylikapirštės žarnos opaligei
                    </li>
                    <li>
                        C. Skrandžio ir dvylikapirštės žarnos opaligei
                    </li>
                    <li>
                        D. Opaligei šie pakitimai nebūdingi
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.18</b> Kuris endoskopinis vaizdas atitinka erozinio ezofagito laipsnį pagal Los-Angeles klasifikaciją</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Stemplės apatiniame trečdalyje stebimos kelios išilginės gleivinės erozijos &lt; nei 5 mm ilgio, nesusiliejančios tarpusavyje.
                    </li>
                    <li>
                        2 - Stemplės apatiniame trečdalyje stebimos kelios išilginės gleivinės erozijos 1 cm ilgio, cirkuliariai susiliejančios tarpusavyje, apimančios apie 50 procentų gleivinės spindžio.
                    </li>
                    <li>
                        3 - Stemplės apatiniame trečdalyje stebima viena išilginė gleivinės erozija 3 mm ilgio.
                    </li>
                    <li>
                        4 - Stemplės apatiniame trečdalyje stebimos gausios išilginės gleivinės erozijos, cirkuliariai susiliejančios tarpusavyje, apimančios beveik visą spindį (&gt;75 proc.)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. A laipsnis
                    </li>
                    <li>
                        B. B laipsnis
                    </li>
                    <li>
                        C. C laipsnis
                    </li>
                    <li>
                        D. D laipsnis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.44</b> Kuriai medikamentų grupei priklauso šie vaistai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ranitidinas
                    </li>
                    <li>
                        2 - Kalcio karbonatas
                    </li>
                    <li>
                        3 - Metoklopramidas
                    </li>
                    <li>
                        4 - Pantoprazolis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Antacida
                    </li>
                    <li>
                        B. H2 receptorių blokatoriai
                    </li>
                    <li>
                        C. Protonų siurblių inhibitoriai
                    </li>
                    <li>
                        D. Prokinetikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.45</b> Pasirinkite teisingą gydymą medikamentais šioms kepenų ligoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pirminė bilijinė cirozė
                    </li>
                    <li>
                        2 - Virusinis C hepatitas
                    </li>
                    <li>
                        3 - Virusinis B hepatitas
                    </li>
                    <li>
                        4 - Autoimuninis hepatitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ursodeoksicholinė rūgštis
                    </li>
                    <li>
                        B. Prednizolonas, azatioprinas
                    </li>
                    <li>
                        C. Lamivudinas, entecavir
                    </li>
                    <li>
                        D. Pegiliuotas interferonas, ribavirinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.46</b> Kokie kiekvienos pateiktos geltos patofiziologiniai mechanizmai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Parenchiminė
                    </li>
                    <li>
                        2 - Obstrukcinė
                    </li>
                    <li>
                        3 - Hemolitinė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Padidėjęs eritrocitų irimas
                    </li>
                    <li>
                        B. Tulžies nutekėjimo sutrikimas
                    </li>
                    <li>
                        C. Kepenų ląstelių pažeidimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.47</b> Parinkite tinkamą labaratorinių tyrimų derinį kiekvinai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Virusinis B hepatitas
                    </li>
                    <li>
                        2 - Virusinis C hepatitas
                    </li>
                    <li>
                        3 - Alkoholinis hepatitas
                    </li>
                    <li>
                        4 - Autoimuninis hepatitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. ANA(+); antiHCV(-); HBsAg(-)
                    </li>
                    <li>
                        B. HbsAg(+); antiHBsAg(-); antiHBc (+); HCV-RNR (-)
                    </li>
                    <li>
                        C. AntiHCV (+); HCV-RNR(+); antiHBc (-)
                    </li>
                    <li>
                        D. HBsAg(-); anti-HCV(-); ANA (-), padidėjęs vidutinis eritrocitų tūris (MCV) 
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>37.19 </b> Kurie teiginiai, apibūdinantys gastroezofaginio refliukso ligą (GERL), yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Šios ligos diagnostikai užtenka tipinių simptomų – rėmens, regurgitacijos – buvimo
                    </li>
                    <li>
                        2. Patikimas endoskopinis refliuksinio ezofagito požymis yra tik gleivinės defektai (erozijos)
                    </li>
                    <li>
                        3. GERL gali būti ir be erozinių pakitimų stemplėje
                    </li>
                    <li>
                        4. GERL metu nėra koreliacijos tarp klinikinių simptomų ir morfologinių pakitimų stemplėje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.20 </b> Kurie teiginiai apie Helicobacter pylori sukeltą gastritą yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ūminis H. pylori gastritas dažniausiai praeina kliniškai nepastebėtas
                    </li>
                    <li>
                        2. H. pylori infekcija dažniausiai lieka persistuoti visam gyvenimui, sukeldama lėtinį gastritą
                    </li>
                    <li>
                        3. Lėtinis H. pylori gastritas prasideda antruminėje skrandžio dalyje
                    </li>
                    <li>
                        4. Lėtinis H. pylori gastritas progresuoja nuo paviršinio gastrito link atrofinio su žarninės metaplazijos požymiais 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.21 </b> Kokie vėmimo požymiai leidžia įtarti skrandžio prievarčio obstrukciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Didelis vėmimo masių tūris
                    </li>
                    <li>
                        2. Seniai valgyto maisto buvimas vėmimo masėse
                    </li>
                    <li>
                        3. Vyraujantis vėmimas antroje dienos pusėje ir naktį
                    </li>
                    <li>
                        4. Tulžies priemaišų buvimas vėmimo masėse 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.22 </b> Gydant skrandžio ir dvylikapirštės žarnos opaligę vadovaujamasi šiais teiginiais: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. H. pylori sukeltos opos gydymas pradedamas nuo H. pylori išnaikinimo
                    </li>
                    <li>
                        2. H. pylori išnaikinimas yra svarbiausia jos sukeltos opaligės recidyvų profilaktikos priemonė
                    </li>
                    <li>
                        3. H. pylori gydoma vaistų deriniu: protonų siurblių inhibitorius (arba ranitidino bismuto citratas) + du iš šių antibiotikų (ampicilinas, metronidazolis, klaritromicinas)
                    </li>
                    <li>
                        4. kontrolinė fibrogastroskopija, įvertinanti opos užgijimą, nebūtina nei skrandžio, nei dvylikapirštės žarnos stormens opos atvejais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.23 </b> Kurie iš išvardintų endoskopinių požymių leistų įtarti išopėjusį skrandžio vėžį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kieti mazguoti opos kraštai
                    </li>
                    <li>
                        2. Uždegiminis volelis apie opą
                    </li>
                    <li>
                        3. Gleivinės raukšlių nutrūkimas ties opa
                    </li>
                    <li>
                        4. Taisyklinga opos forma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.24 </b> Kurios išvardintos ligos yra ikivėžinės skrandžio vėžio požiūriu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skrandžio adenomos
                    </li>
                    <li>
                        2. Lėtinis atrofinis autoimuninis gastritas
                    </li>
                    <li>
                        3. Atrofinis H.pylori sukeltas gastritas
                    </li>
                    <li>
                        4. Hiperplastinis skrandžio polipas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.25 </b> Kurie viduriavimo požymiai būdingi dirgliosios žarnos sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Viduriavimas rytais ar tuoj pavalgius
                    </li>
                    <li>
                        2. Naktinis viduriavimas
                    </li>
                    <li>
                        3. Skaidrių gleivių buvimas
                    </li>
                    <li>
                        4. Kraujas išmatose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.26 </b> Kurie teiginiai apie dirgliosios žarnos sindromo gydymą teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Medikamentinis gydymas yra tik simptominis 
                    </li>
                    <li>
                        2. Yra ženklus placebo efektas
                    </li>
                    <li>
                        3. Labai svarbi gydymo dalis yra ligonio mokymas ir raminimas
                    </li>
                    <li>
                        4. Būtina skirti neuroleptikus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.27 </b> Kurių ligų metu galimos simptominės obstipacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tyrotoksikozės
                    </li>
                    <li>
                        2. Parkinsono ligos
                    </li>
                    <li>
                        3. Zollinger-Ellison sindromo 
                    </li>
                    <li>
                        4. Lėtinio apsinuodijimo švinu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.28 </b> Kokios kilmės viduriavimai praeina badaujant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sekrecinės
                    </li>
                    <li>
                        2. Osmosinės
                    </li>
                    <li>
                        3. Uždegiminės (eksudacinės)
                    </li>
                    <li>
                        4. Malabsorbcinės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.29 </b> Kuriais iš išvardintų atvejų yra kontraindikuotina kepenų punkcinė biopsija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Trombocitų &lt;50 x 10⁹ l 
                    </li>
                    <li>
                        2. INR &lt; 1.4 - 1.5
                    </li>
                    <li>
                        3. Įtemptas ascitas
                    </li>
                    <li>
                        4. ALT &gt;1000 u/l
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.30 </b> Portinio ascito išsivystyme svarbiausi faktoriai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hipoalbuminemija
                    </li>
                    <li>
                        2. Portinė hipertenzija
                    </li>
                    <li>
                        3. Hiperaldosteronizmas
                    </li>
                    <li>
                        4. Transaminazių aktyvumo padidėjimas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.31 </b> Kurioms iš šių būklių būdinga hiperbilirubinemija, vyraujant nekonjuguotam bilirubinui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ūminis virusinis A hepatitas
                    </li>
                    <li>
                        2. Hemolizinė anemija
                    </li>
                    <li>
                        3. Ductus choledochus obstrukcija akmeniu
                    </li>
                    <li>
                        4. Įgimtas gliukuroniltransferazės deficitas (Žilbero sindromas)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.32 </b> Kurie teiginiai apie pirminę bilijinę cirozę teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Būdingas ligos simptomas – niežulys
                    </li>
                    <li>
                        2. Liga būdinga vyresnio amžiaus vyrams
                    </li>
                    <li>
                        3. Būdingi antimitochondriniai antikūnai (AMA)
                    </li>
                    <li>
                        4. ERCP metu stebimo bendrojo tulžies latako striktūros
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>37.33</b> 48 metų pacientas jau kelias dienas skundžiasi bendru silpnumu, galvos svaigimu, ūžimu ausyse. Nuo vakar dienos ėmė tuštintis 3-4 kartus per dieną juodomis skystomis išmatomis. Apie 2 mėn. nuo nugaros skausmų gydomas geriamu diklofenaku, kartais papildant ir  panašių į jį vaistų injekcijomis. Obj.: pacientas pablyškęs, blyškios oda ir gleivinės. Pulsas 92 k./min., AKS 116/78 mm Hg. Kitų pakitimų vidaus organų sistemose nekonstatuota. Tiriant pirštu per išeinamą angą – ant pirštinės juodų minkštų išmatų likutis. Kraujo tyr.: Hb 104 g/l, er. 3,52×10¹²/l. Kokią diagnostinę prielaidą galite padaryti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujavimo iš skrandžio požymiai
                    </li>
                    <li>
                        B. Kraujavimo iš viršutinės virškinimo trakto dalies požymiai
                    </li>
                    <li>
                        C. Kraujavimo iš storosios žarnos požymiai
                    </li>
                    <li>
                        D. Kraujavimo iš tiesiosios žarnos požymiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.34</b> 48 metų pacientas jau kelias dienas skundžiasi bendru silpnumu, galvos svaigimu, ūžimu ausyse. Nuo vakar dienos ėmė tuštintis 3-4 kartus per dieną juodomis skystomis išmatomis. Apie 2 mėn. nuo nugaros skausmų gydomas geriamu diklofenaku, kartais papildant ir  panašių į jį vaistų injekcijomis. Obj.: pacientas pablyškęs, blyškios oda ir gleivinės. Pulsas 92 k./min., AKS 116/78 mm Hg. Kitų pakitimų vidaus organų sistemose nekonstatuota. Tiriant pirštu per išeinamą angą – ant pirštinės juodų minkštų išmatų likutis. Kraujo tyr.: Hb 104 g/l, er. 3,52×10¹²/l.  Kokį pirmą nurodymą diagnostikos požiūriu duosite slaugos  personalui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vežti ligonį sigmoskopijos atlikimui be žarnų valymo
                    </li>
                    <li>
                        B. Valyti žarnyną, ruošiant kolonoskopijai
                    </li>
                    <li>
                        C. Zonduoti skrandį, radus kraujo, plauti šaltu vandeniu
                    </li>
                    <li>
                        D. Vežti ligonį gastroskopijai be skrandžio plovimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.35</b> 63 metų pacientas kreipėsi dėl kelis pastaruosius mėnesius sutrikusio tuštinimosi: viduriai tai užkietėja, tai 1 – 2 dienas viduriuoja. Kraujo, gleivių su išmatomis nėra pastebėjęs. Be to, pablogėjo apetitas, sumažėjo darbingumas. Iki šiol niekuo nesirgęs. Obj.: vidaus organų sistemose akivaizdžių pakitimų nerasta,.tiriant pirštu tiesiąją žarną, taip pat patologinių pakitimų nerasta. Kokią ligą įtarsite pirmiausia?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dirgliosios žarnos sindromą
                    </li>
                    <li>
                        B. Išeminį kolitą
                    </li>
                    <li>
                        C. Mikroskopinį kolitą
                    </li>
                    <li>
                        D. Distalinį storosios žarnos vėžį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.36</b> 32 metų pacientui diagnozuota funkcinė obstipacija. Mėginimas koreguoti netinkamus mitybos bei elgsenos įgūdžius nedavė laukiamo rezultato. Nuspręsta skirti vidurius laisvinančių vaistų.  Kurios grupės medikamentais reikėtų  pradėti šį gydymą?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išmatų apimtį didinančiais
                    </li>
                    <li>
                        B. Druskiniais osmosiniais
                    </li>
                    <li>
                        C. Stimuliuojančiais – antrachinono dariniais
                    </li>
                    <li>
                        D. Stimuliuojančiais – ricinos aliejumi
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.37</b> 38 metų pacientė stacionarizuota dėl viduriavimo 5-6 kartus per parą, išmatose mato įvairų kraujingų gleivių kiekį. Serga apie 6 metus, 2 kartus dėl viduriavimo paūmėjimo gydyta ligoninėje, po ilgalaikio medikamentinio gydymo viskas praeidavo. Liga paūmėjo prieš 2 savaites. Obj.: Tº 37,1ºC. Palpuojant pilvą, jaučia nedidelį skausmingumą kairėje jo pusėje pagal nusileidžiančią žarną. Pulsas ties a. radialis  86 k/min., AKS 122/82 mmHg. Kraujo tyr. Hb 132 g/l, eritr. 3,7×10¹²/l , CRB 8,3 mg/l. Rektoskopija be paruošimo: apžiūrėta 15 cm, gleivinėje ištisinis paburkimas, paraudimas, kraujuoja, vos prisilietus endoskopu, pavienės erozijos. Prieš 1metus buvo daryta fibrokolonoskopija, ištisiniai uždegiminiai pakitimai buvo rasti tiesiojoje, riestinėje, nusileidžiančioje žarnos dalyje ir kairiajame linkyje. Kokia diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mb. Crohn: colitis
                    </li>
                    <li>
                        B. Colitis ulcerosa recidiva exac.: proctosigmoiditis, forma levis
                    </li>
                    <li>
                        C. Colitis ulcerosa persistens: colitis sinistra, forma moderatus
                    </li>
                    <li>
                        D. Colitis ulcerosa recidiva exac.: colitis sinistra, forma moderatus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.38</b> 38 metų pacientė stacionarizuota dėl viduriavimo 5-6 kartus per parą, išmatose mato įvairų kraujingų gleivių kiekį. Serga apie 6 metus, 2 kartus dėl viduriavimo paūmėjimo gydyta ligoninėje, po ilgalaikio medikamentinio gydymo viskas praeidavo. Liga paūmėjo prieš 2 savaites. Obj.: Tº 37,1ºC. Palpuojant pilvą, jaučia nedidelį skausmingumą kairėje jo pusėje pagal nusileidžiančią žarną. Pulsas ties a. radialis  86 k/min., AKS 122/82 mmHg. Kraujo tyr. Hb 132 g/l, eritr. 3,7×10¹²/l , CRB 8,3 mg/l. Rektoskopija be paruošimo: apžiūrėta 15 cm, gleivinėje ištisinis paburkimas, paraudimas, kraujuoja, vos prisilietus endoskopu, pavienės erozijos. Prieš 1metus buvo daryta fibrokolonoskopija, ištisiniai uždegiminiai pakitimai buvo rasti tiesiojoje, riestinėje, nusileidžiančioje žarnos dalyje ir kairiajame linkyje. Kokį gydymą skirsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Geriamais mesalazino preparatais
                    </li>
                    <li>
                        B. Geriamais gliukokortikoidais ir sulfasalazinu
                    </li>
                    <li>
                        C. Į veną leidžiamais gliukokortikoidais ir sulfasalazinu
                    </li>
                    <li>
                        D. Azatioprinu ir mesalazinu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.39</b> 42 metų pacientei diagnozuota Krono liga. Ji subfebriliai karščiuoja, Hb 101 g/l, CRB 43 mg/l. Fibrokolonoskopijos metu pakitimų storojoje žarnoje nerasta. Padarius enteroklizę, visoje plonojoje žarnoje nuo pat tuščiosios žarnos pradžios išryškėjo segmentiniai uždegiminiai pakitimai: sustorėjusios gleivinės raukšlės, padidėję limfiniai folikulai, aftinės opos. Pacientė pradėta gydyti gliukokortikoidais, bet pagerėjimo negauta. Kurį gydymo metodą pasirinksite tolimesniam gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sulfasalaziną ir budezonidą
                    </li>
                    <li>
                        B. Mesalaziną ir azatiopriną
                    </li>
                    <li>
                        C. Ileum teriminale chirurginį pašalinimą
                    </li>
                    <li>
                        D. Infliximabą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.40</b> Ligonė 44 m. amžiaus skundžiasi bendru silpnumu. Prieš 2 metus buvo kraujo perpylimas. 7 mėnesius stebimas saikus transaminazių padidėjimas. Tyrimuose ALT – 86 U/l, AST- 74 U/l, ŠF – 120 U/l, gama GT – 50 U/l,  bilirubinas – 17 mikromol/l, protrombinas SPA – 88%, antiHCV – teigiamas, HCV-RNR – teigiamas, HBsAg – neigiamas, ANA – neigiamas, AMA – neigiamas, ANCA – neigiamas. Kepenų bioptato histologinis tyrimas – aktyvumas 4 balai, fibrozė 0 balų.  Kokia diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinis nedidelio aktyvumo B virusinis hepatitas
                    </li>
                    <li>
                        B. Lėtinis nedidelio aktyvumo C virusinis hepatitas
                    </li>
                    <li>
                        C. Alkoholinis hepatitas 
                    </li>
                    <li>
                        D. Autoimuninis hepatitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.41</b> Ligonė 44 m. amžiaus skundžiasi bendru silpnumu. Prieš 2 metus buvo kraujo perpylimas. 7 mėnesius stebimas saikus transaminazių padidėjimas. Tyrimuose ALT – 86 U/l, AST- 74 U/l, ŠF – 120 U/l, gama GT – 50 U/l,  bilirubinas – 17 mikromol/l, protrombinas SPA – 88%, antiHCV – teigiamas, HCV-RNR – teigiamas, HBsAg – neigiamas, ANA – neigiamas, AMA – neigiamas, ANCA – neigiamas. Kepenų bioptato histologinis tyrimas – aktyvumas 4 balai, fibrozė 1 balų. Kokį gydymą skirsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. alfa-interferonu 6 mln vienetų 3 kartus per savaitę 
                    </li>
                    <li>
                        B. Prednisolonu
                    </li>
                    <li>
                        C. Pegiliuoto interferono ir ribavirino deriniu 
                    </li>
                    <li>
                        D. Specifinio gydymo nereikia
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.42</b> Ligonis 15 metų serga B virusiniu hepatitu, stebėtas ir gydytas ambulatoriškai. Alkoholį vartojęs su saiku. Prieš 3 mėnesius ėmė didėti pilvo apimtis, tinti kojos. Prieš keletą savaičių pagelto, ėmė kraujuoti iš dantenų, išryškėjo bendras silpnumas. Objektyviai – teleangiektazijos, ascitas, edemos kojose, gelta. Tyrimuose: VPAE – padidėjusios grublėtos kepenys, padidėjusi blužnis, v. portae– 1,4 cm, pilve gausus ascitas; ALT– 126 U/l, AST- 134 U/l, ŠF– 180 U/l, gama GT– 120 U/l,  bilirubinas– 64 mikromol/l, tiesioginio– 49 mikromol/l, protrombinas– 46%, albuminas– 26 g/l,  antiHCV – neigiamas, HCV-RNR – neigiamas, HBsAg – teigiamas, ANA – neigiamas, AMA – neigiamas, pANCA – neigiamas, Hb– 102 g/l, eritrocitai – 3,0 x 10¹² l, leukocitai – 2,8 x 10⁹ l, trombocitai - 71 x 10⁹ l; EGDS – III laipsnio stemplės venų išsiplėtimas. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kriptogeninė kepenų cirozė
                    </li>
                    <li>
                        B. Lėtinis virusinis hepatitas
                    </li>
                    <li>
                        C. Virusinė B kepenų cirozė
                    </li>
                    <li>
                        D. Alkoholinė kepenų cirozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>37.43</b> Ligonis 15 metų serga B virusiniu hepatitu, stebėtas ir gydytas ambulatoriškai. Alkoholį vartojęs su saiku. Prieš 3 mėnesius ėmė didėti pilvo apimtis, tinti kojos. Prieš keletą savaičių pagelto, ėmė kraujuoti iš dantenų, išryškėjo bendras silpnumas. Objektyviai – teleangiektazijos, ascitas, edemos kojose, gelta. Tyrimuose: VPAE – padidėjusios grublėtos kepenys, padidėjusi blužnis, v. portae– 1,4 cm, pilve gausus ascitas; ALT– 126 U/l, AST- 134 U/l, ŠF– 180 U/l, gama GT– 120 U/l,  bilirubinas– 64 mikromol/l, tiesioginio– 49 mikromol/l, protrombinas– 46%, albuminas– 26 g/l,  antiHCV – neigiamas, HCV-RNR – neigiamas, HBsAg – teigiamas, ANA – neigiamas, AMA – neigiamas, pANCA – neigiamas, Hb– 102 g/l, eritrocitai – 3,0 x 10¹² l, leukocitai – 2,8 x 10⁹ l, trombocitai - 71 x 10⁹ l; EGDS – III laipsnio stemplės venų išsiplėtimas. Pirmiausiai kokį tyrimą papildomai atliksite šiam ligoniui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kepenų biopsiją
                    </li>
                    <li>
                        B. Diagnostinę ascito punkciją
                    </li>
                    <li>
                        C. Pilvo apžvalginę rentgenogramą
                    </li>
                    <li>
                        D. ERCP (endoskopinė retrogradinė cholangopankreatografija)
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>37.1 - 

                D
            </td>
            <td>37.2 - 

                B
            </td>
            <td>37.3 - 

                C
            </td>
            <td>37.4 - 

                D
            </td>
            <td>37.5 - 

                C
            </td>
            <td>37.6 - 

                D
            </td>
            <td>37.7 - 

                D
            </td>
            <td>37.8 - 

                B
            </td>
                </tr><tr>
            <td>37.9 - 

                D
            </td>
            <td>37.10 - 

                A
            </td>
            <td>37.11 - 

                B
            </td>
            <td>37.12 - 

                B
            </td>
            <td>37.13 - 

                B
            </td>
            <td>37.14 - 

                C
            </td>
            <td>37.15 - 

                C
            </td>
                </tr><tr>
            <td>37.16
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>37.17
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
            <td>37.18
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
            <td>37.44
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>37.45
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - C </li>
                <li>4 - B </li>
            </ul></td>
            <td>37.46
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>37.47
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
                </tr><tr>
            <td>37.19
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>37.20
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>37.21
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>37.22
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>37.23
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>37.24
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>37.25
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>37.26
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>37.27
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>37.28
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>37.29
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>37.30
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>37.31
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>37.32
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>37.33 - 

                B
            </td>
            <td>37.34 - 

                C
            </td>
            <td>37.35 - 

                D
            </td>
            <td>37.36 - 

                A
            </td>
            <td>37.37 - 

                D
            </td>
            <td>37.38 - 

                B
            </td>
            <td>37.39 - 

                D
            </td>
            <td>37.40 - 

                B
            </td>
                </tr><tr>
            <td>37.41 - 

                C
            </td>
            <td>37.42 - 

                C
            </td>
            <td>37.43 - 

                B
            </td>

</tr></tbody></table></div>