<div class="Centre Kategorija">Geriatrija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>39.1</b> Kada pagal demografus prasideda senatvė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo 50 metų
                    </li>
                    <li>
                        B. Nuo 60 metų
                    </li>
                    <li>
                        C. Nuo 70 metų
                    </li>
                    <li>
                        D. Nuo 80 metų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.2</b> Kurios žmonių virš 65 m. trys mirties priežastys yra dažniausios:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdies ligos, insultas ir traumos
                    </li>
                    <li>
                        B. Širdies ligos, Alzheimer’io liga ir vėžys
                    </li>
                    <li>
                        C. Širdies ligos, kaulų lūžimai ir plaučių uždegimas
                    </li>
                    <li>
                        D. Širdies ligos, vėžys ir insultas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.3</b> Pagrindinis geriatrinės medicinos principas yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kaip galima ilgiau pratęsti paciento gyvenimą
                    </li>
                    <li>
                        B. Gydyti visas ūmines ir lėtines ligas
                    </li>
                    <li>
                        C. Pagerinti paciento savarankiškumą ir gyvenimo kokybę
                    </li>
                    <li>
                        D. Kurti saugią aplinką
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.4</b> Kas būdinga pagyvenusio amžiaus žmonių ligoms:  </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dukart retesnės šalutinės vaistų reakcijos
                    </li>
                    <li>
                        B. Viena vyraujanti liga
                    </li>
                    <li>
                        C. Ligų eiga ir sveikimas trumpesni
                    </li>
                    <li>
                        D. Sutrikusios biopsichosocialinės funkcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.5</b> Kaip reaguoti į 66 m. moters nerimą dėl atsiradusio kairės rankos tremoro:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nukreipti neurologo konsultacijai
                    </li>
                    <li>
                        B. Tai amžiniai pokyčiai
                    </li>
                    <li>
                        C. Paskirti antidepresantų
                    </li>
                    <li>
                        D. Stebėti pacientę pusę metų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.6</b> Kaip tinkamiausiai bendrauti su žmogumi, kuriam dėl senatvės nusilpo klausa (presbiacusis):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Garsiai šaukti į pakenktą ausį
                    </li>
                    <li>
                        B. Kalbėti garsiai žemu tembru
                    </li>
                    <li>
                        C. Palengva šnabždėti
                    </li>
                    <li>
                        D. Bendrauti simboliais (gestais, susirašinėjimu ir kt.)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.7</b> Kokios anketos naudojamos vyresnio amžiaus žmonių nepakankamos mitybos patikrai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. MNA, NRS 2002, MUST, SGA, MST
                    </li>
                    <li>
                        B. MMSE, GDS, IADL
                    </li>
                    <li>
                        C. MNA, GDS, NRS 2002, SIM
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.8</b> Kuris teiginys tiksliausiai apibūdina vyresnio amžiaus žmonių kūno temperatūrą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sirgdami infekcinėmis ligomis vyresnio amžiaus žmonės nekarščiuoja
                    </li>
                    <li>
                        B. Normali kūno temperatūra yra žemesnė negu 38ºC
                    </li>
                    <li>
                        C. Senatvės involiuciniai procesai pakelia kūno temperatūrą 1–2ºC
                    </li>
                    <li>
                        D. Vyresnio amžiaus žmonėms hipotermija yra dažnesnė nei hipertermija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.9</b> Kodėl vyresnio amžiaus žmonės dažniau serga infekcinėmis ligomis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ląstelinio ir humoralinio imuniteto sutrikimai
                    </li>
                    <li>
                        B. Padidėjęs jautrumas įvairiems antigenams
                    </li>
                    <li>
                        C. Neefektyvi įprastinė infekcijų kontrolė
                    </li>
                    <li>
                        D. Dauguma senų žmonių yra silpni ir ligoti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.10</b> Kuris medikamentas vyresnio amžiaus žmonėms yra pirmo pasirinkimo vaistas gydant delyro sindromą:  </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sertralinas
                    </li>
                    <li>
                        B. Haloperidolis
                    </li>
                    <li>
                        C. Amitriptilinas
                    </li>
                    <li>
                        D. Alprazolamas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.11</b> Kuris kvėpavimo organų sistemos požymis būdingiausias vyresnio amžiaus žmonėms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėja krūtinės ląstos judesiai
                    </li>
                    <li>
                        B. Padidėjusi gyvybinė plaučių talpa
                    </li>
                    <li>
                        C. Sumažėjęs atsparumas hipoksijai ir hiperkpnijai
                    </li>
                    <li>
                        D. Padidėjęs O² įsisavinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.12</b> Kokie vyresnio amžiaus žmonių hipoglikemijos rizikos veiksniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Alkoholis, nepakankama mityba, inkstų funkcijos nepakankamumas, gydymas insulinu, griežta glikemijos kontrolė
                    </li>
                    <li>
                        B. Delyras, operacija, depresija, nutukimas, antibiotikai, rūkymas  
                    </li>
                    <li>
                        C. Pneumonija, inkstų funkcijos sutrikimas, demencija, insultas
                    </li>
                    <li>
                        D. Antidepresantai, antihipertenziniai, tiazidiniai diuretikai, gliukokortikoidai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.13</b> Kuris teiginys apie vyresnio amžiaus žmonių sinkopę yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. .Būdingas sąmonės praradimas
                    </li>
                    <li>
                        B. Sąmonės sutrikimo nebūna
                    </li>
                    <li>
                        C. Sinkopė nesusijusi su širdies ir kraujagyslių ligomis
                    </li>
                    <li>
                        D. Būna traukuliai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.14</b> Koks yra tikslinis AKS vyresniame amžiuje</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. &lt;140/90
                    </li>
                    <li>
                        B. &lt;160/90
                    </li>
                    <li>
                        C. &gt;140/90
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.15</b> Tualete rastas ant grindų nugriuvęs pusiau sąmoningas 82 m. vyras. Jo anamnezėje išeminė širdies liga, cukrinis diabetas, osteoporozė ir obstipacijos. Kuri šiuo atveju kolapso priežastis yra dažniausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Spontaninis šlaunikaulio kaklo lūžimas
                    </li>
                    <li>
                        B. Hiperglikeminė reakcija
                    </li>
                    <li>
                        C. Vazovagalinė (situacinė) sinkopė
                    </li>
                    <li>
                        D. Žarnų nepraeinamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.16</b> Koks dažniausias AKF inhibitorių (gydant padidėjusį arterinį kraujospūdį) šalutinis poveikis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kojų tinimas
                    </li>
                    <li>
                        B. Kosulys
                    </li>
                    <li>
                        C. Alergija
                    </li>
                    <li>
                        D. Pilvo skausmai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.17</b> Kuris teiginys apie vyresnio amžiaus žmonėms rekomenduojamą dietą yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Maitintis reikia labai kaloringais, riebiais produktais, valgyti rekomenduojama ramioje aplinkoje
                    </li>
                    <li>
                        B. Maistas turi būti šiltas, kvapnus, pakankamai kaloringas, valgyti reikia dažnai, reguliariai, ne vienam
                    </li>
                    <li>
                        C. Dvigubai didesnis vitaminų ir geležies kiekis
                    </li>
                    <li>
                        D. Rekomenduojama valgyti maisto produktus su mažesniu baltymų ir angliavandenių kiekiu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.18</b> Kokia dieta turėtų būti paskirta vyresnio amžiaus ligoniui, besiskundžiančiam vidurių užkietėjimu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dieta su didesniu baltymų kiekiu
                    </li>
                    <li>
                        B. Hipokalorinė dieta
                    </li>
                    <li>
                        C. Zondinė dieta
                    </li>
                    <li>
                        D. 6–8 stiklinės skysčių, skaidulingas maistas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.19</b> Kuris simptomas būdingas natūraliam virškinamojo kanalo senėjimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skonio jutimo sumažėjimas
                    </li>
                    <li>
                        B. Padidėjusi skrandžio kraujotaka
                    </li>
                    <li>
                        C. Skrandžio sulčių rūgštingumo padidėjimas
                    </li>
                    <li>
                        D. Riebaluose tirpių vitaminų rezorbcijos pablogėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.20</b> Kuris veiksnys teigiamai veikia Alzheimer’io liga sergančiųjų būklę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nevaržomas keliavimas
                    </li>
                    <li>
                        B. Dideli teigiami įspūdžiai
                    </li>
                    <li>
                        C. Nauji patyrimai kasdien
                    </li>
                    <li>
                        D. Įprastų gyvenimo stereotipų išlaikymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.21</b> Kuris teiginys teisingiausiai apibūdina vyresnio amžiaus žmonių šlapimo nelaikymą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Būklė, sukelianti socialines ir higienos problamas
                    </li>
                    <li>
                        B. Normali būklė vyresniame amžiuje
                    </li>
                    <li>
                        C. Šlapimo nelaikymas nesusijęs su gretutinėmis ligomis ir vaistų vartojimu
                    </li>
                    <li>
                        D. Daugiafaktorinis sindromas, atsirandantis dėl įvairių veiksnių sąveikos: amžinių veiksnių, gretutinių ligų, vaistų ir kt.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.22</b> Kokios yra menopauzės pasekmės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išeminė liga, osteoporozė, odos ir gleivinių pažeidimas, atminties ir pažinimo pokyčiai
                    </li>
                    <li>
                        B. Išeminė širdies liga, gimdos vėžys, žarnų vėžys  
                    </li>
                    <li>
                        C. Skydliaukės ligos, trombozės, negalėjimas pajusti orgazmo
                    </li>
                    <li>
                        D. Griuvimai, sinkopė, demencija 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.23</b> Kurie antidepresantai sukelia daugiausiai pašalinių reiškinių vyresnio amžiaus žmonėms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Selektyvios serotonino reabsorbcijos inhibitoriai
                    </li>
                    <li>
                        B. Selektyvios serotonino ir noradrenalino reabsorbcijos inhibitoriai
                    </li>
                    <li>
                        C. Jonažolės preparatai.
                    </li>
                    <li>
                        D. Tricikliai antidpresantai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.24</b> Kuris simptomas yra būdingiausias demencijos sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapimo nelaikymas
                    </li>
                    <li>
                        B. Galvos skausmas
                    </li>
                    <li>
                        C. Įvairialypiai somatiniai nusiskundimai
                    </li>
                    <li>
                        D. Progresuojantis atminties ir kitų pažintinių funkcijų silpnėjimas
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>39.25</b> Kaip senatvėje keičiasi kiekvieno nurodyto laboratorinio tyrimo duomenys</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kreatinino klirensas
                    </li>
                    <li>
                        2 - Gliukozės koncentracija kraujo serume nevalgius
                    </li>
                    <li>
                        3 - Folikulų stimuliuojamojo hormono (FSH) koncentracija
                    </li>
                    <li>
                        4 - Arterinio kraujo deguonies parcialinis slėgis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Didėja
                    </li>
                    <li>
                        B. Mažėja
                    </li>
                    <li>
                        C. Nekinta
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.26</b> Kokia yra pagrindinių skrandžio funkcijų dinamika organizmui senstant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - HCl išskyrimo
                    </li>
                    <li>
                        2 - Gleivių išskyrimo
                    </li>
                    <li>
                        3 - Motorinė
                    </li>
                    <li>
                        4 - Fermentų išskyrimo
                    </li>
                    <li>
                        5 - Gastrino gamyba
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Susilpnėja
                    </li>
                    <li>
                        B. Sustiprėja
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.27</b> Kokie požymiai būdingi vyresniems ligoniams, sergantiems hipotiroze ir hipertiroze</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Obstipacijos
                    </li>
                    <li>
                        2 - Tachikardija, ritmo sutrikimas
                    </li>
                    <li>
                        3 - Apetito stoka, svorio kritimas
                    </li>
                    <li>
                        4 - Žema temperatūra, sutrikusios pažinimo funkcijos
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Hipotirozė
                    </li>
                    <li>
                        B. Hipertirozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.28</b> Kokioms grupėms priklauso šie psichogeriatrijoje vartojami vaistai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Donepezilas
                    </li>
                    <li>
                        2 - Doxepinas
                    </li>
                    <li>
                        3 - Nicergolinas
                    </li>
                    <li>
                        4 - Sertralinas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Alfa adrenoblokatorius – gerina smegenų kraujotaką ir metabolizmą, ypač išemijos metu
                    </li>
                    <li>
                        B. Selektyvus serotonino reabsorbcijos inhibitorius
                    </li>
                    <li>
                        C. Triciklinis antidepresantas
                    </li>
                    <li>
                        D. Acetilcholinesterazės inhibitorius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.29</b> Vyresniame amžiuje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Riebaluose tirpstančių vaistų pasiskirstymo tūris
                    </li>
                    <li>
                        2 - Riebaluose tirpstančių vaistų išskyrimo pusperiodis
                    </li>
                    <li>
                        3 - Vandenyje tirpstančių vaistų pasiskirstymo tūris
                    </li>
                    <li>
                        4 - Intoksikacijos vaistais pavojus
                    </li>
                    <li>
                        5 - Kepenų kraujotaka
                    </li>
                    <li>
                        6 - Kūno masė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Didėja 
                    </li>
                    <li>
                        B. Mažėja
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.30</b> Kuriuos tyrimo metodus galima pritaikyti kievienai ligai :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Demencija
                    </li>
                    <li>
                        2 - Insultas
                    </li>
                    <li>
                        3 - Depresija
                    </li>
                    <li>
                        4 - Griuvimai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. GDS, Zungo skalė
                    </li>
                    <li>
                        B. MMSE, Blesedo skalė, laikrodžio piešimo užduotis, instrumentinės kasdienės veiklos vertinimas
                    </li>
                    <li>
                        C. MMSE, Bartel indeksas, Funkcinio nepriklausomumo testas
                    </li>
                    <li>
                        D. Morse skalė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.31</b> Kuris senatvinis kvėpavimo sistemos morfologinis pokytis sukelia kiekvieną nurodytą kvėpavimo funkcijos sutrikimą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Padidėjęs krūtinės rigidiškumas ir sumažėjęs stangrumas  (elastingumas)
                    </li>
                    <li>
                        2 - Pakitęs mukociliarinis klirensas
                    </li>
                    <li>
                        3 - Mažojo kraujo apytakos kapiliarų fibrozė ir obliteracija
                    </li>
                    <li>
                        4 - Peribronchinė sklerozė, bronchų deformacija ir deviacija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Bronchų turinio reologinių savybių pablogėjimas
                    </li>
                    <li>
                        B. Sumažėjusi gyvybinė plaučių talpa (VC)
                    </li>
                    <li>
                        C. Kvėpuojamojo tūrio sumažėjimas ir netolygi plaučių ventiliacija
                    </li>
                    <li>
                        D. Hipoksija ir hiperkapnija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.32</b> Kuris senų žmonių fiziologinis pokytis nulemia kiekvieną nurodytą fizinį rodiklį</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pseudohipertenzija
                    </li>
                    <li>
                        2 - Ortostatinė hipotenzija
                    </li>
                    <li>
                        3 - Sistolinė hipertenzija
                    </li>
                    <li>
                        4 - Kairiosios vidinės jungo venos pulsacija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sumažėjęs kraujagyslių baroreceptorių jautrumas
                    </li>
                    <li>
                        B. Rigidiška aorta
                    </li>
                    <li>
                        C. Rigidiška žastinė arterija
                    </li>
                    <li>
                        D. Aortos lanko pulsacija užspaudinėja žastinę galvos veną
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.33</b> Kas būdinga pagyvenusio amžiaus  žmonių anemijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Mikrocitinei
                    </li>
                    <li>
                        2 - Makrocitinei
                    </li>
                    <li>
                        3 - Normocitinei
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ataksija
                    </li>
                    <li>
                        B. Anamnezėje - lėtinė liga
                    </li>
                    <li>
                        C. Skonio sutrikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.34</b> Kuris vaistas seniems žmonėms gali sukelti kiekvieną nurodytą simptomą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Šlapimo nelaikymą
                    </li>
                    <li>
                        2 - Hiperglikemiją
                    </li>
                    <li>
                        3 - Dezorientaciją
                    </li>
                    <li>
                        4 - Periferinės kraujotakos pablogėjimą
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Trankviliantai
                    </li>
                    <li>
                        B. Tiazidiniai diuretikai
                    </li>
                    <li>
                        C. Beta adrenoblokatoriai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.35</b> Kuriuo nespecifiniu požymiu senatvėje gali manifestuoti kiekviena nurodyta liga</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Parkinsono liga
                    </li>
                    <li>
                        2 - Širdies nepakankamumas
                    </li>
                    <li>
                        3 - Tirotoksikozė
                    </li>
                    <li>
                        4 - Depresija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Prieširdžių virpėjimas, svorio kritimas, apetito stoka
                    </li>
                    <li>
                        B. Apatija, pseudodemencija
                    </li>
                    <li>
                        C. Rijimo sutrikimas ir lėta kalba
                    </li>
                    <li>
                        D. Demencija, silpnumas, edeminis sindromas
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>39.36 </b> Kurie simptomai yra būdingi hipoglikemijai senatvėje</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Silpnumas
                    </li>
                    <li>
                        2. Parestezijos
                    </li>
                    <li>
                        3. Griuvimai
                    </li>
                    <li>
                        4. Pažinimo funkcijų sutrikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.37 </b> Kurie simptomai yra būdingi besivystančiai demencijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Atminties sutrikimai
                    </li>
                    <li>
                        2. Agnozija
                    </li>
                    <li>
                        3. Kalbos sutrikimai
                    </li>
                    <li>
                        4. Apraksija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.38 </b> Kurie teiginiai būdingi gerofarmakoterapijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išskyrus digitalio preparatus, kitų vaistų vartojimo dozės turi būti didesnės arba tokios pačios
                    </li>
                    <li>
                        2. Seną organizmą vaistai veikia taip pat kaip ir jauną
                    </li>
                    <li>
                        3. Daugelis vaistų senam žmogui teikia daugiau žalos negu naudos
                    </li>
                    <li>
                        4. Daugelis vaistų vartojami mažesnėmis dozėmis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.39 </b> Ką patarti sveikam 66 m. vyrui, kuris skundžiasi vidurių užkietėjimu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Didinti skaidulų kiekį maiste
                    </li>
                    <li>
                        2. Daugiau judėti
                    </li>
                    <li>
                        3. Daugiau vartoti skysčių
                    </li>
                    <li>
                        4. Kasdien vartoti liuosuojančius vaistus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.40 </b> Kokiais simptomais gali pasireikšti cukrinis diabetas vyresniame amžiuje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pablogėjusios pažinimo funkcijos
                    </li>
                    <li>
                        2. Nicturia
                    </li>
                    <li>
                        3. Svorio kritimas
                    </li>
                    <li>
                        4. Šlapimo takų infekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.41 </b> Veiksniai, skatinantys pneumonijos atsiradimą vyresniame amžiuje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sumažėjęs kosulio refleksas, pakitę alveoliniai makrofagai, mukociliarinis klirensas, gleivinių atrofija.
                    </li>
                    <li>
                        2. Sunkios gretutinės ligos
                    </li>
                    <li>
                        3. Rijimo sutrikimas
                    </li>
                    <li>
                        4. Pasikartojančios šlapimo takų infekcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.42 </b> Kurie patarimai vyresnio amžiaus nepakankamos mitybos žmonėms yra teisingi: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vengti ilgų nevalgymo pertraukų nakties metu (&gt;12 val.)
                    </li>
                    <li>
                        2. Valgyti didelio kaloringumo ir padidinto baltymo kiekį turinčius produktus
                    </li>
                    <li>
                        3. Užkandžiauti socialinėje aplinkoje, gaminti maistą ir valgyti su kompanionais
                    </li>
                    <li>
                        4. Padidinti maitinimosi dažnį (užkandžiai)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.43 </b> Išvardinkite cerebrines insulto komplikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kognityviniai sutrikimai
                    </li>
                    <li>
                        2. Pragulos
                    </li>
                    <li>
                        3. Delyras
                    </li>
                    <li>
                        4. Pielonefritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.44 </b> Kurie požymiai būdingiausi kvėpavimo organų sistemos senatviniams pokyčiams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pablogėjusi bronchų drenažinė funkcija
                    </li>
                    <li>
                        2. Nusilpęs kosulio refleksas
                    </li>
                    <li>
                        3. Sumažėjęs vietinis ir bendras imuninis reaktyvumas
                    </li>
                    <li>
                        4. Pagreitėjusi audinių mikrocirkuliacija ir perfuzija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.45 </b> Kurių vyresnio amžiaus žmonių organizmo sistemų ligų atveju gali pasireikšti griuvimai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Judėjimo ir atramos sistemos
                    </li>
                    <li>
                        2. Nervų
                    </li>
                    <li>
                        3. Širdies ir kraujagyslių sistemos
                    </li>
                    <li>
                        4. Jutimo organų sistemos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.46 </b> Kuriomis ligomis sergantiems geriatriniams ligoniams dažniau išsivysto ūminis pielonefritas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gripu
                    </li>
                    <li>
                        2. Cukriniu diabetu
                    </li>
                    <li>
                        3. Hipotiroze
                    </li>
                    <li>
                        4. Nelaikant šlapimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.47 </b> Kurias komplikacijas vyresnio amžiaus žmonėms dažniausiai sukelia divertikuliozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kraujavimą
                    </li>
                    <li>
                        2. Peptinę opą
                    </li>
                    <li>
                        3. Peritonitą
                    </li>
                    <li>
                        4. Cholecistitą
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>39.48</b> Antrą parą po operacijos dėl šlaunikaulio kaklo lūžio  78 m. moteris tapo nerimastinga, neorientuota, nekoncentruojanti dėmesio, išryškėjo regos haliucinacijos, pradėjo neadekvačiai elgtis. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lewy kūnelių tipo demencija
                    </li>
                    <li>
                        B. Lengvas kognityvinis sutrikimas
                    </li>
                    <li>
                        C. Delyras
                    </li>
                    <li>
                        D. Panikos ataka
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.49</b> Antrą parą po operacijos dėl šlaunikaulio kaklo lūžio  78 m. moteris tapo nerimastinga, neorientuota, nekoncentruojanti dėmesio, išryškėjo regos haliucinacijos, pradėjo neadekvačiai elgtis. Kokia anketa/skalė būtų naudingiausia įvertinant šios moters būklę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Barthel indeksas
                    </li>
                    <li>
                        B. Geriatrinė depresijos skalė
                    </li>
                    <li>
                        C. Suglumimo įvertinimo metodas
                    </li>
                    <li>
                        D. Morse griuvimų skalė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.50</b> 78 m. moteriai dėl kompresinio slankstelio lūžimo atsirado patologinė kifozė. Ji yra sirgusi tirotoksikoze. Dėl to prieš 10 metų jai atlikta skydliaukės rezekcija. Menopauzė – nuo 40 m. Jos mama mirė 96 m. Gyvenimo pabaigoje jai buvo ryški osteoporozė ir daugybiniai kaulų lūžimai. Kuris osteoporozės rizikos veiksnys reikšmingas šiai moteriai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paveldimumas
                    </li>
                    <li>
                        B. Tirotoksikozė ir ankstyva menopauzė
                    </li>
                    <li>
                        C. Ankstyva menopauzė
                    </li>
                    <li>
                        D. Paveldimumas, ankstyva menopauzė ir tirotoksikozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.51</b> 78 m. moteriai dėl kompresinio slankstelio lūžimo atsirado patologinė kifozė. Ji yra sirgusi tirotoksikoze. Dėl to prieš 10 metų jai atlikta skydliaukės rezekcija. Menopauzė – nuo 40 m. Jos mama mirė 96 m. Gyvenimo pabaigoje jai buvo ryški osteoporozė ir daugybiniai kaulų lūžimai. Kaip šiuo atveju gydyti osteoporozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bisfosfonatais
                    </li>
                    <li>
                        B. Kalcio 1 g ir vit. D 1000 TV kasdien
                    </li>
                    <li>
                        C. Anabolinio veikimo vaistais (parathormonu, teriparatidu)
                    </li>
                    <li>
                        D. Visomis nurodytomis priemonėmis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.52</b> 82 m. osteoartroze sergančios su protezuotu sąnariu moters burna labai apleista. Reikia rauti dantų šaknis. Ar reikalinga profilaktika antibiotikais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ne
                    </li>
                    <li>
                        B. Taip
                    </li>
                    <li>
                        C. Tokiu atveju infekuojami tik širdies vožtuvų protezai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.53</b> 82 m. cukriniu diabetu ir osteoartroze sergančios su protezuotu sąnariu moters burna labai apleista. Reikia rauti dantų šaknis. Jei vis tik nuspręsta skirti antibiotikus, kurie labiausiai tiktų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Makrolidai
                    </li>
                    <li>
                        B. Aminoglikozidai
                    </li>
                    <li>
                        C. Cefalosporinai
                    </li>
                    <li>
                        D. Fluorochinolonai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.54</b> Planuojama operuoti 72 m. moterį. Gydytojas galvoja, kad moteris susijaudins, jei planuojama operacija ir jos rizika bus aptarta su pačia ligone ir prašo moters vyro sutikimo operacijai. Pastarasis pataria gauti jų sūnaus (kuris yra gydytojas ir geriau viską išmano) sutikimą. Kieno sutikimą reikia gauti planuojamai operacijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ligonės
                    </li>
                    <li>
                        B. Ligonės vyro
                    </li>
                    <li>
                        C. Ligonės sūnaus-gydytojo
                    </li>
                    <li>
                        D. Neminėdamas operacijos rizikos gydytojas turi gauti ligonės sutikimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.55</b> 78 m. vyrui dėl recidyvuojančios ir nuolat kraujuojančios skrandžio opos buvo atlikta skrandžio rezekcija. Ilgainiui pacientas ėmė jausti silpnumą, jam atsirado parestezijos, ataksija ir psichikos sutrikimai. Fe koncentracija kraujuje buvo normali.  MCV rodiklis buvo  105 fl.
Kokia gali būti šių negalavimų priežastis?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dempingo sindromas
                    </li>
                    <li>
                        B. Megaloblastinė anemija
                    </li>
                    <li>
                        C. Cukrinis diabetas
                    </li>
                    <li>
                        D. Geležies  stokos anemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.56</b> 78 m. vyrui dėl recidyvuojančios ir nuolat kraujuojančios skrandžio opos buvo atlikta skrandžio rezekcija. Ilgainiui pacientas ėmė jausti silpnumą, jam atsirado parestezijos, ataksija ir psichikos sutrikimai. Fe koncentracija kraujuje buvo normali.  MCV rodiklis buvo  105 fl.Kokia šiuo atveju turėtų būti gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Folio rūgštis
                    </li>
                    <li>
                        B. Parenteriniai Fe preparatai
                    </li>
                    <li>
                        C. Ciankobalaminas
                    </li>
                    <li>
                        D. Gydyti nereikia, svarbu stebėti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.57</b> Nutukusi 65 m. moteris serga arterine hipertenzija, IŠL ir lėtiniu širdies nepakankamumu. Gydosi metoprololiu, ramipriliu, nitratais ir furozemidu. Staigiai keldamasi iš lovos nukrito, sąmonės neprarado.
Kokia ligos preliminarinė diagnozė:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių trombinė embolija
                    </li>
                    <li>
                        B. Ortostazinė hipotenzija
                    </li>
                    <li>
                        C. Sinkopė
                    </li>
                    <li>
                        D. Insultas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.58</b> Nutukusi 65 m. moteris serga arterine hipertenzija, IŠL ir lėtiniu širdies nepakankamumu. Gydosi metoprololiu, ramipriliu, nitratais ir furozemidu. Staigiai keldamasi iš lovos nukrito, sąmonės neprarado. Kas galėjo sukelti  šią situaciją?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Insultas
                    </li>
                    <li>
                        B. Padidėjęs arterinis kraujo spaudimas
                    </li>
                    <li>
                        C. Vaistai
                    </li>
                    <li>
                        D. Sąnarių liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.59</b> 79 m. vyras, sergantis išemine širdies liga, pasireiškiančia stenokardija ir prieširdžių virpėjimu, cukriniu diabetu su komplikacijomis, kuris koreguojamas insulinu, vidurių užkietėjimu, prostatos hiperplazija, po žmonos mirties praėjus dviems mėnesiams pradėjo skųstis nemiga, nerimu, senestopatijomis, apetito pablogėjimu.  Dukra, su kuria kartu gyvena, pastebėjo nenorą ką nors daryti, išeiti iš namų, nesirūpinimą namais ir savimi. Kokia labiausiai tikėtina ligos diagnozė:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Demencija
                    </li>
                    <li>
                        B. Depresija
                    </li>
                    <li>
                        C. Delyras
                    </li>
                    <li>
                        D. Bipolinis sutrikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.60</b> 79 m. vyras, sergantis išemine širdies liga, pasireiškiančia stenokardija ir prieširdžių virpėjimu, cukriniu diabetu su komplikacijomis, kuris koreguojamas insulinu, vidurių užkietėjimu, prostatos hiperplazija, po žmonos mirties praėjus dviems mėnesiams pradėjo skųstis nemiga, nerimu, senestopatijomis, apetito pablogėjimu.  Dukra, su kuria kartu gyvena, pastebėjo nenorą ką nors daryti, išeiti iš namų, nesirūpinimą namais ir savimi.Kuris vaistas turėtų būti paskirtas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Amitriptilinas
                    </li>
                    <li>
                        B. Duloksetinas
                    </li>
                    <li>
                        C. Metforminas
                    </li>
                    <li>
                        D. Diazepamas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.61</b> 83 m. globos namų gyventojas, 30 metų rūkęs, anksčiau dirbęs suvirintoju, pradėjo jausti silpnumą, atsirado dusulys, kosulys, sunkumas krūtinėje. Ligonis vangus, mieguistas, nekarščiuoja., KD 26 k/min., SaO2 90 proc.
Kokia preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis bronchitas
                    </li>
                    <li>
                        B. Lėtinio bronchito paūmėjimas
                    </li>
                    <li>
                        C. Ūminis viršutinių kvėpavimo takų kataras
                    </li>
                    <li>
                        D. Ūminė pneumonija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.62</b> 83 m. Globos namų gyventojas, 30 metų rūkęs ir 20 metų dirbęs suvirintoju dujomis, pradėjo jausti silpnumą, atsirado sausas kosulys, sunkumas krūtinėje, temperatūra pakilo iki 39ºC. Dviejų savaičių kompleksinis gydymas nebuvo efektyvus. Ligoniui stiprėjo dusulys, didėjo bendras silpnumas, tęsėsi karščiavimas, neproduktyvus kosulys, atsirado artralgijos, simetriniai odos bėrimai, neteko 11 kg kūno masės. Kokia labiausiai tikėtina ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių pūlinys
                    </li>
                    <li>
                        B. Plaučių vėžys
                    </li>
                    <li>
                        C. Alergija
                    </li>
                    <li>
                        D. Fibrozuojantis alveolitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.63</b> 83 m. Globos namų gyventojas, 30 metų rūkęs, anksčiau dirbęs suvirintoju, pradėjo jausti silpnumą, atsirado dusulys, kosulys, sunkumas krūtinėje. Dviejų savaičių kompleksinis gydymas nebuvo efektyvus. Ligoniui stiprėjo dusulys, didėjo bendras silpnumas, tęsėsi karščiavimas, neproduktyvus kosulys, atsirado artralgijos, simetriniai odos bėrimai, neteko 11 kg kūno masės.Kuris tyrimas patikslintų diagnozę?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ig nustatymas kraujyje
                    </li>
                    <li>
                        B. KT
                    </li>
                    <li>
                        C. KT, bronchoskopija, biopsija
                    </li>
                    <li>
                        D. Bronchoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.64</b> Tiriant 68 m. moterį kryžkaulio srityje rasta epidermio ir dermos pratrūkimas su juosiančia eritema. Kokia ligos diagnozė labiausiai tikėtina?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Herpes zoster
                    </li>
                    <li>
                        B. Dermatitas
                    </li>
                    <li>
                        C. Pragula 
                    </li>
                    <li>
                        D. Niežai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.65</b> Tiriant 68 m. moterį kryžkaulio srityje rasta epidermio ir dermos pratrūkimas su juosiančia eritema. Kokia šio odos pažeidimo gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žaizdos revizija, dezinfekavimas ir tvarstis
                    </li>
                    <li>
                        B. Sisteminiai antibiotikai
                    </li>
                    <li>
                        C. Spiritinis kompresas
                    </li>
                    <li>
                        D. Tepalas su gliukortikoidais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.66</b> 69 m. Moteris skundžiasi pasikeitusiu šlapinimusi: atsirado dažnas šlapinimasis (8-10 kartų per dieną ir 2-3 kartus per naktį), nespėja laiku nueiti į tualetą, kartais nelaiko šlapimo. Kas įtakojo šlapinimosi pokyčius?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Įtampos (fizinio krūvio) šlapimo nelaikymas
                    </li>
                    <li>
                        B. Funkcinis nelaikymas
                    </li>
                    <li>
                        C. Hiperaktyvi šlapimo pūslė
                    </li>
                    <li>
                        D. Cistitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.67</b> 69 m. Moteris skundžiasi pasikeitusiu šlapinimusi: atsirado dažnas šlapinimasis (8-10 kartų per dieną ir 2-3 kartus per naktį), nespėja laiku nueiti į tualetą, kartais nelaiko šlapimo. Kokią gydymą rekomenduosite?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Anticholinerginiai vaistai 
                    </li>
                    <li>
                        B. Antidepresantai
                    </li>
                    <li>
                        C. Operacinis gydymas
                    </li>
                    <li>
                        D. Antibiotikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.68</b> 68 m. ligonė pasiskundė, kad prieš kelias dienas peršalus atsirado subfebrilitetas (37,5–37,8oC), dažnas ir skausmingas šlapinimasis, strėnų skausmai. 15 m. serga cukriniu diabetu. Panašūs nusiskundimai kartojasi apie 5 metus. Dvi dienas vartojo ampiciliną, tačiau būklė negerėjo. Lab. tyrimai: šlapime – baltymo–0,3 g/l, leuk. – 30–35  r.l., eritr. – 3–5 r.l., bakt (+), nit (+), CRB 76 mg/l. Kokia ligos diagnozė:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis glomerulonefritas
                    </li>
                    <li>
                        B. Lėtinio glomerulonefrito paūmėjimas
                    </li>
                    <li>
                        C. Ūminis pielonefritas
                    </li>
                    <li>
                        D. Lėtinio pielonefrito paūmėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.69</b> 68 m. ligonė pasiskundė, kad prieš kelias dienas peršalus atsirado subfebrilitetas (37,5–37,8oC), dažnas ir skausmingas šlapinimasis, strėnų skausmai. 15 m. serga cukriniu diabetu. Panašūs nusiskundimai kartojasi apie 5 metus. Dvi dienas vartojo ampiciliną, tačiau būklė negerėjo. Lab. tyrimai: šlapime – baltymo–0,3 g/l, leuk. – 30–35  r.l., eritr. – 3–5 r.l., bakt (+), nit (+), CRB 76 mg/l.Kokia turi būti gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pakartoti šlapimo tyrimą
                    </li>
                    <li>
                        B. Daryti šlapimo pasėlį, laukti atsakymo ir po to skirti antibakterinį gydymą
                    </li>
                    <li>
                        C. Daryti šlapimo pasėlį, paskirti ciprofloksaciną arba cefuroksimą
                    </li>
                    <li>
                        D. Iš karto skirti gentamiciną arba kanamiciną
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.70</b> 71 m. moteris, serganti trečios funkcinės klasės širdies nepakankamumu skundėsi, kad ją vargina skausmas už krūtinkaulio, dusulys didesnio fizinio krūvio metu; tuštinasi kas keturias dienas, kartojasi pilvo skausmai, vidurių pūtimas. Pacientei nustatytas vidurių užkietėjimas.
Ką turėtų patarti gydytojas:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vartoti skaidulingą maistą 
                    </li>
                    <li>
                        B. Vartoti daugiau nei 2  l skysčių  per parą
                    </li>
                    <li>
                        C. Didinti fizinį aktyvumą
                    </li>
                    <li>
                        D. Mažinti diuretikų dozę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.71</b> 71 m. moteris, serganti trečios funkcinės klasės širdies nepakankamumu skundėsi, kad ją vargina skausmas už krūtinkaulio, dusulys didesnio fizinio krūvio metu; tuštinasi kas keturias dienas, kartojasi pilvo skausmai, vidurių pūtimas. Pacientei nustatytas vidurių užkietėjimas.Kokias komplikacijas gali suketi vidurių užkietėjimas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apendicitą
                    </li>
                    <li>
                        B. Išmatų  nelaikymą
                    </li>
                    <li>
                        C. Cholecistitą
                    </li>
                    <li>
                        D. Pankreatitą
                    </li>
                    <li>
                        E. Gastritą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.72</b> 84 m. moteris hospitalizuota dėl pneumonijos, pragulų. KMI – 26,5 kg/m2, albumino konc. 33 g/l, abs. limfocitų skaičius 0,8 x 109 l/l, MNA – 17 balų, NRS 2002 – 3 balai.
Kaip apibūdinti jos mitybos būklę?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antsvoris
                    </li>
                    <li>
                        B. Sarkopenija
                    </li>
                    <li>
                        C. Kvašiorkoras
                    </li>
                    <li>
                        D. Nepakankama mityba
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>39.73</b> 84 m. moteris hospitalizuota dėl pneumonijos, pragulų. KMI – 26,5 kg/m2, albumino konc. 33 g/l, abs. limfocitų skaičius 0,8 x 109 l/l, MNA – 17 balų, NRS 2002 – 3 balai.Kokia turi būti mitybos būklės pokyčių gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sustiprintas maistas, geriamieji enteriniai mišiniai
                    </li>
                    <li>
                        B. Trintas maistas, tiršti skysčiai
                    </li>
                    <li>
                        C. Parenterinė mityba
                    </li>
                    <li>
                        D. Svorio korekcija, imunodieta
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>39.1 - 

                B
            </td>
            <td>39.2 - 

                D
            </td>
            <td>39.3 - 

                C
            </td>
            <td>39.4 - 

                D
            </td>
            <td>39.5 - 

                A
            </td>
            <td>39.6 - 

                B
            </td>
            <td>39.7 - 

                A
            </td>
            <td>39.8 - 

                D
            </td>
                </tr><tr>
            <td>39.9 - 

                A
            </td>
            <td>39.10 - 

                B
            </td>
            <td>39.11 - 

                C
            </td>
            <td>39.12 - 

                A
            </td>
            <td>39.13 - 

                A
            </td>
            <td>39.14 - 

                A
            </td>
            <td>39.15 - 

                C
            </td>
            <td>39.16 - 

                B
            </td>
                </tr><tr>
            <td>39.17 - 

                B
            </td>
            <td>39.18 - 

                D
            </td>
            <td>39.19 - 

                A
            </td>
            <td>39.20 - 

                D
            </td>
            <td>39.21 - 

                D
            </td>
            <td>39.22 - 

                A
            </td>
            <td>39.23 - 

                D
            </td>
            <td>39.24 - 

                D
            </td>
                </tr><tr>
            <td>39.25
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>39.26
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - A </li>
                <li>5 - B </li>
            </ul></td>
            <td>39.27
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
            <td>39.28
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>39.29
            <ul>
                <li>1 - A </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - A </li>
                <li>5 - B </li>
                <li>6 - B </li>
            </ul></td>
            <td>39.30
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
            <td>39.31
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>39.32
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>39.33
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>39.34
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - C </li>
            </ul></td>
            <td>39.35
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
                </tr><tr>
            <td>39.36
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>39.37
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>39.38
            <ul>
                <li>4</li>
            </ul></td>
            <td>39.39
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>39.40
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>39.41
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>39.42
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>39.43
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>39.44
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>39.45
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>39.46
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>39.47
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>39.48 - 

                C
            </td>
            <td>39.49 - 

                C
            </td>
            <td>39.50 - 

                D
            </td>
            <td>39.51 - 

                D
            </td>
            <td>39.52 - 

                B
            </td>
            <td>39.53 - 

                C
            </td>
            <td>39.54 - 

                A
            </td>
            <td>39.55 - 

                B
            </td>
                </tr><tr>
            <td>39.56 - 

                C
            </td>
            <td>39.57 - 

                B
            </td>
            <td>39.58 - 

                C
            </td>
            <td>39.59 - 

                B
            </td>
            <td>39.60 - 

                B
            </td>
            <td>39.61 - 

                D
            </td>
            <td>39.62 - 

                B
            </td>
            <td>39.63 - 

                C
            </td>
                </tr><tr>
            <td>39.64 - 

                C
            </td>
            <td>39.65 - 

                A
            </td>
            <td>39.66 - 

                C
            </td>
            <td>39.67 - 

                A
            </td>
            <td>39.68 - 

                D
            </td>
            <td>39.69 - 

                C
            </td>
            <td>39.70 - 

                A
            </td>
            <td>39.71 - 

                B
            </td>
                </tr><tr>
            <td>39.72 - 

                D
            </td>
            <td>39.73 - 

                A
            </td>

</tr></tbody></table></div>