<div class="Centre Kategorija">Ginekologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>26.1</b> Kas būdinga vaginitui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Karščiavimas
                    </li>
                    <li>
                        B. Kraujavimas
                    </li>
                    <li>
                        C. Makšties išskyrų pokyčiai
                    </li>
                    <li>
                        D. Mėnesinių susilaikymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.2</b> Kokio pobūdžio išskyros būdingos grybeliniam vaginitui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tąsios skaidrios
                    </li>
                    <li>
                        B. Putotos žalsvos
                    </li>
                    <li>
                        C. Tirštos gleivingos
                    </li>
                    <li>
                        D. Varškės pobūdžio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.3</b> Kaip gydomas grybelinis vaginitas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Metronidazoliu per os ar į makštį
                    </li>
                    <li>
                        B. Tinidazolio tabletėmis į makštį
                    </li>
                    <li>
                        C. Tetraciklino tabletėmis per os
                    </li>
                    <li>
                        D. Klotrimazolio tepalu  ar žvakutėmis į makštį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.4</b> Koks vietinis medikamentinis bakterinės vaginozės gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Estrogenais
                    </li>
                    <li>
                        B. Gestagenais
                    </li>
                    <li>
                        C. Irigacijos parūgštintais tirpalais
                    </li>
                    <li>
                        D. Klindamicino 2% vaginaliniu kremu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.5</b> Kokias uždegimines makšties ligas sukelia pirmuonys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kandidozę
                    </li>
                    <li>
                        B. Gonorėją
                    </li>
                    <li>
                        C. Trichomonozę
                    </li>
                    <li>
                        D. Bakterinę vaginozę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.6</b> Kuri patologija sąlygoja antro lygio amenorėją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos ar makšties aplazija
                    </li>
                    <li>
                        B. Prolaktinoma
                    </li>
                    <li>
                        C. Nervinė anoreksija
                    </li>
                    <li>
                        D. Gonadų disgenezija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.7</b> Kuri dubens uždegimo komplikacija reikalauja skubios laparotomijos atlikimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinis dubens skausmas
                    </li>
                    <li>
                        B. Nevaisingumas
                    </li>
                    <li>
                        C. Tuboovarinio absceso plyšimas
                    </li>
                    <li>
                        D. Abipusis hidrosalpingsas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.8</b> Kokiu tyrimo metodu galima patvirtinti gimdos kaklelio vėžio diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kolposkopiniu
                    </li>
                    <li>
                        B. Histologiniu
                    </li>
                    <li>
                        C. Ultragarsinis tyrimas
                    </li>
                    <li>
                        D. Laparoskopiniu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.9</b> Kurios lokalizacijos miomos sukelia gausiausius kraujavimus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Submukozinė mioma
                    </li>
                    <li>
                        B. Subserozinė mioma
                    </li>
                    <li>
                        C. Intramuralinė mioma
                    </li>
                    <li>
                        D. Intraligamentinė mioma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.10</b> Koks tiksliausias kiaušintakių  būklės vertinimo metodas nevaisingumo atvejais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ultragarsinis tyrimas 
                    </li>
                    <li>
                        B. Histerosalpingografija
                    </li>
                    <li>
                        C. Laparoskopija, suleidžiant dažo medžiagą į gimdos ertmę
                    </li>
                    <li>
                        D. Lytinių hormonų tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.11</b> Kas tai yra menopauzė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mėnesinių nėra 3 mėnesius
                    </li>
                    <li>
                        B. Mėnesinių nėra 6 mėnesius
                    </li>
                    <li>
                        C. Mėnesinių nėra 8 mėnesius
                    </li>
                    <li>
                        D. Paskutinių mėnesinių, įvykusių prieš 12 mėnesių data
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.12</b> Dėl kurio hormono deficito klimakteriniu laikotarpiu vystosi atrofiniai pokyčiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gestagenų
                    </li>
                    <li>
                        B. Androgenų
                    </li>
                    <li>
                        C. Estrogenų
                    </li>
                    <li>
                        D. Gonadotropinų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.13</b> Kada negalima skirti estrogenų klimakteriniams negalavimams šalinti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sergant cukralige
                    </li>
                    <li>
                        B. Sergant krūties vėžiu
                    </li>
                    <li>
                        C. Esant osteoporozei
                    </li>
                    <li>
                        D. Sergant bronchitu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.14</b> Kuris iš anomalinių kraujavimų iš makšties pasižymi cikliškumu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Metroragija
                    </li>
                    <li>
                        B. Hipermenorėja
                    </li>
                    <li>
                        C. Kraujavimas dėl gimdos kaklelio vėžio
                    </li>
                    <li>
                        D. Kraujavimas dėl kaklelio polipo
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>26.15</b> Kaip  nustatomos nevaisingumo priežastys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ovuliacijos sutrikimai
                    </li>
                    <li>
                        2 - Kiaušintakių pažeidimas
                    </li>
                    <li>
                        3 - Nevaisingumas dėl vyro susirgimų
                    </li>
                    <li>
                        4 - Dėl gimdos ertmės patologijos
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Atliekant spermogramą
                    </li>
                    <li>
                        B. Nustatant lytinių hormonų koncentraciją serume
                    </li>
                    <li>
                        C. Atliekant laparoskopiją
                    </li>
                    <li>
                        D. Atliekant histeroskopiją ir endometriumo biopsiją
                    </li>
                    <li>
                        E. Atliekant bendrą kraujo tyrimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.16</b> Kaip charakterizuojamas kiekvienas nurodytas kiaušidžių navikas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Folikuloma
                    </li>
                    <li>
                        2 - Dermoidinė cista
                    </li>
                    <li>
                        3 - Endometrioidinė cista
                    </li>
                    <li>
                        4 - Fibroma
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Lygiasienis paslankus navikas, užpildytas riebalais, gali būti plaukų, kremzlinio audinio
                    </li>
                    <li>
                        B. Androgenus produkuojantis navikas
                    </li>
                    <li>
                        C. Estrogenus produkuojantis navikas
                    </li>
                    <li>
                        D. Paslankus, kietas, ryškiomis ribomis navikas
                    </li>
                    <li>
                        E. Nepaslankus dėl mažajame dubenyje susidariusių sąaugų navikas, sukeliantis stiprėjančius skausmus mėnesinių metu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.17</b> Kurie požymiai būdingi išvardintiems patologiniams procesams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Išplitęs III-IV-os stadijos kiaušidžių vėžys.
                    </li>
                    <li>
                        2 - Gimdos kaklelio vėžys.
                    </li>
                    <li>
                        3 - Gimdos kūno vėžys.
                    </li>
                    <li>
                        4 - Gimdos kaklelio displazija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Acikliniai ir kontaktiniai kraujavimai.
                    </li>
                    <li>
                        B. Kraujavimai premenopauzėje ar pomenopauzėje.
                    </li>
                    <li>
                        C. Ascitas.
                    </li>
                    <li>
                        D. Intraepitelinė cervikalinė neoplazija histologiniame tyrime.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.18</b> Veiksniai, ryškiausiai didinantys atitinkamos lokalizacijos vėžio riziką.</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Gimdos kaklelio vėžio .
                    </li>
                    <li>
                        2 - Gimdos kūno vėžio.
                    </li>
                    <li>
                        3 - Epitelinio kiaušidžių vėžio.
                    </li>
                    <li>
                        4 - Krūties vėžio
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Užsitęsusi anovuliacija, hiperestremija.
                    </li>
                    <li>
                        B. Paveldimumas, amžius.
                    </li>
                    <li>
                        C. Nevaisingumas, ovuliacijos stimuliacija. 
                    </li>
                    <li>
                        D. Ankstyvas lytinis gyvenimas, didelis lytinių partnerių skaičius. 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.19</b> Kaip veikia kiekvienas nurodytas hormoninis vaistas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Etinilestradiolis
                    </li>
                    <li>
                        2 - Sudėtinės kontraceptinės tabletės
                    </li>
                    <li>
                        3 - Klomifeno citratas
                    </li>
                    <li>
                        4 - Bromokriptinas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Stimuliuoja ovuliaciją
                    </li>
                    <li>
                        B. Slopina prolaktino sekreciją
                    </li>
                    <li>
                        C. Skatina regeneraciją ir proliferaciją
                    </li>
                    <li>
                        D. Slopina ovuliaciją
                    </li>
                    <li>
                        E. Skatina sekreciją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.20</b> Kas būdinga kiekvienai iš nurodytų amenorėjos formų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pirminė amenorėja
                    </li>
                    <li>
                        2 - Antrinė amenorėja
                    </li>
                    <li>
                        3 - Pirmo lygio amenorėja
                    </li>
                    <li>
                        4 - Fiziologinė amenorėja
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Nėra mėnesinių laktacijos metu
                    </li>
                    <li>
                        B. Neatsirado mėnesinių iki 16 metų
                    </li>
                    <li>
                        C. Pranyko buvusios  mėnesinės daugiau nei 6-iems mėnesiams
                    </li>
                    <li>
                        D. Vyksta cikliniai pokyčiai kiaušidėse, bet nėra mėnesinių dėl anatominių lytinių organų pokyčių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.21</b> Kokia turi būti gydymo taktika kiekvienos ligos atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Disfunkcinis kraujavimas preklimakteriniu laikotarpiu
                    </li>
                    <li>
                        2 - Gausus disfunkcinis kraujavimas pubertiniu laikotarpiu
                    </li>
                    <li>
                        3 - Esant nepilnai įvykusiam persileidimui ir gausiam kraujavimui
                    </li>
                    <li>
                        4 - Esant negimdiniam nėštumui
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Hormoninė hemostazė
                    </li>
                    <li>
                        B. Gimdos abrazija ir histologinis tyrimas
                    </li>
                    <li>
                        C. Laparoskopija arba laparotomija
                    </li>
                    <li>
                        D. Kraujo krešėjimą skatinantys vaistai
                    </li>
                    <li>
                        E. Histeroskopija, gimdos abrazija ir histologinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.22</b> Kurie simptomai būdingiausi kiekvienam nurodytam sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Klimakterinis sindromas
                    </li>
                    <li>
                        2 - Adrenogenitalinis sindromas
                    </li>
                    <li>
                        3 - Policistinių kiaušidžių sindromas
                    </li>
                    <li>
                        4 - Hiperprolaktinemijos sindromas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Mėnesinių ciklo sutrikimas, nevaisingumas, padidėjusios  kiaušidės
                    </li>
                    <li>
                        B. Galaktorėja, nevaisingumas
                    </li>
                    <li>
                        C. Hirsutizmas, pseudohermafrodizmas
                    </li>
                    <li>
                        D. Vegetacinės sistemos sutrikimas, depresija
                    </li>
                    <li>
                        E. Kacheksija, padidėjusios  kiaušidės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.23</b> Kuris gydymas turi būti skiriamas kiekvienu nurodytu makšties ligos atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kandidamikozės
                    </li>
                    <li>
                        2 - Trichomonozės
                    </li>
                    <li>
                        3 - Bakterinės vaginozės
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Metronidazolis ar klindamicinas
                    </li>
                    <li>
                        B. Metronidazolis ar tinidazolis
                    </li>
                    <li>
                        C. Penicilinas ar gentamicinas
                    </li>
                    <li>
                        D. Flukanozolis ar klotrimazolis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.24</b> Kuris makšties išskyrų pakitimų kompleksas būdingas kiekvienos nurodytos ligos atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kandidamikozė
                    </li>
                    <li>
                        2 - Trichomonozė
                    </li>
                    <li>
                        3 - Bakterinė vaginozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Išskyros skaidrios ar balkšvos, homogeniškos, pH&lt;4,5, epitelio ląstelių daugiau nei leukocitų ir bakterijų, vyrauja laktobacilos, trichomonų ir grybelių nėra
                    </li>
                    <li>
                        B. Išskyros balkšvos, homogeniškos, pH&gt;4,5, epitelio ląstelių daugiau nei leukocitų, laktobacilų mažiau nei kitų bakterijų. Yra ląstelių “indikatorių”, teigiamas aminų kvapo testas, trichomonų ir grybelių nėra
                    </li>
                    <li>
                        C. Išskyros homogeniškos, putotos, gali būti žalsvos, pH&gt;4,5, nėra ląstelių “indikatorių”, yra žiuželinių pirmuonių, aminų kvapo testas neigiamas
                    </li>
                    <li>
                        D. Išskyros turi varškės pavidalą, pH&lt;4,5, laktobacilų daugiau nei kitų bakterijų, nėra ląstelių “indikatorių”, yra grybelio sporų ir micelių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.25</b> Kuris simptomas būdingas kiekvienai nurodytai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ūminis vulvitas
                    </li>
                    <li>
                        2 - Ūminis vaginitas
                    </li>
                    <li>
                        3 - Ūminis salpingitas
                    </li>
                    <li>
                        4 - Ūminis endocervicitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Nemalonaus kvapo pagausėjusios išskyros
                    </li>
                    <li>
                        B. Paraudusi su apnašomis iš gimdos kaklelio anga
                    </li>
                    <li>
                        C. Gausus aciklinis kraujavimas
                    </li>
                    <li>
                        D. Difuzinis išorinių lytinių organų paraudimas
                    </li>
                    <li>
                        E. Skausmas apatinėje pilvo dalyje, karščiavimas
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>26.26 </b> Kurie tyrimai leidžia įvertinti kiaušidžių funkciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Histeroskopija
                    </li>
                    <li>
                        2. Bazinės kūno temperatūros matavimas
                    </li>
                    <li>
                        3. Ultragarsinis tyrimas
                    </li>
                    <li>
                        4. Lytinių hormonų tyrimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.27 </b> Kurie tyrimai naudojami kiaušintakių praeinamumui įvertinti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Histerosalpingografija
                    </li>
                    <li>
                        2. Laparoskopija ir chromoskopija
                    </li>
                    <li>
                        3. Echoskopinis tyrimas su echokontrastine medžiaga
                    </li>
                    <li>
                        4. Histeroskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.28 </b> Dėl kurių įtariamų patologinių būklių atliekama laparoskopija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Negimdinis nėštumas
                    </li>
                    <li>
                        2. Kiaušidžių navikas
                    </li>
                    <li>
                        3. Kiaušintakinis nevaisingumas
                    </li>
                    <li>
                        4. Endometriumo vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.29 </b> Kurių patologinių būklių diagnostikai padeda echoskopinis tyrimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gimdos miomų
                    </li>
                    <li>
                        2. Kiaušidžių navikų
                    </li>
                    <li>
                        3. Negimdinio nėštumo
                    </li>
                    <li>
                        4. Tuboovarinio absceso
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.30 </b> Kokius hormonus gamina kiaušidės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Estrogenus
                    </li>
                    <li>
                        2. Progesteroną
                    </li>
                    <li>
                        3. Androgenus
                    </li>
                    <li>
                        4. Gonadotropinus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.31 </b> Kokie klinikiniai negimdinio nėštumo požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skausmas pilvo apatinėje dalyje
                    </li>
                    <li>
                        2. Karščiavimas
                    </li>
                    <li>
                        3. Mėnesinių ciklo sutrikimas
                    </li>
                    <li>
                        4. Echografiškai  gimdoje stebima gemalinė pūslytė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.32 </b> Kurie operacinio gydymo metodai taikomi negimdinio nėštumo kiaušintakyje metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Subtotalinė histerektomija
                    </li>
                    <li>
                        2. Kiaušintakio šalinimas
                    </li>
                    <li>
                        3. Priklausinių šalinimas
                    </li>
                    <li>
                        4. Tubotomija ir nėštuminių audinių šalinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.33 </b> Hipomenorėjos atveju menstruacijos būna:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Negausios
                    </li>
                    <li>
                        2. Retos
                    </li>
                    <li>
                        3. Trumpai trunkančios
                    </li>
                    <li>
                        4. Skausmingos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.34 </b> Kokie yra šeimos planavimo metodai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Intrauterininė spiralė
                    </li>
                    <li>
                        2. Hormoninė kontracepcija
                    </li>
                    <li>
                        3. Barjerinės  priemonės
                    </li>
                    <li>
                        4. Nėštumo nutraukimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.35 </b> Kokie tyrimai padeda diagnozuoti gimdos kaklelio ikivėžines ligas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mėginys su vandeniniu jodo tirpalu
                    </li>
                    <li>
                        2. Mėginys su acto rūgšties tirpalu
                    </li>
                    <li>
                        3. Kolposkopija
                    </li>
                    <li>
                        4. Histeroskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.36 </b> Kokie tyrimai padeda diagnozuoti kiaušidžių navikus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Bimanualinis ir rektovaginalinis
                    </li>
                    <li>
                        2. Ultragarsinis tyrimas
                    </li>
                    <li>
                        3. Kompiuterinė tomografija
                    </li>
                    <li>
                        4. Laparoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.37 </b> Kokie simptomai būdingi visiškam gimdos iškritimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Darinio atsiradimas lytiniame plyšyje
                    </li>
                    <li>
                        2. Negalėjimas pasišlapinti
                    </li>
                    <li>
                        3. Kraujuojančios pragulos atsiradimas darinyje
                    </li>
                    <li>
                        4. Kraujavimas iš gimdos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.38 </b> Koks operacinis gydymas taikomas moteriai po menopauzės, esant iškritusiai gimdai, neplanuojant lytinio gyvenimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gimdos šalinimas pro makštį
                    </li>
                    <li>
                        2. Gimdos kaklelio amputacija
                    </li>
                    <li>
                        3. Gimdos pakėlimo ir tvirtinimo operacija
                    </li>
                    <li>
                        4. Makšties sienų susiuvimas (Colpocleisis)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.39 </b> Kas būdinga policistinių kiaušidžių sindromui (PKS):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nevaisingumas
                    </li>
                    <li>
                        2. Anovuliaciniai ciklai kiaušidėse
                    </li>
                    <li>
                        3. Mėnesinių ciklo sutrikimai
                    </li>
                    <li>
                        4. Hirsutizmas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.40 </b> Kurie simptomai būdingi endometriozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tamsios išskyros iš makšties prieš ir po mėnesinių
                    </li>
                    <li>
                        2. Ascitas
                    </li>
                    <li>
                        3. Skausmai, stiprėjantys mėnesinių metu
                    </li>
                    <li>
                        4. Tąsios skaidrios išskyros
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>26.41</b> 18 m. ligonei, praėjus 1 savaitei po atsitiktinių lytinių santykių, pagausėjo išskyrų iš lytinių organų, pradėjo perštėti lytines lūpas ir dažniau šlapintis. Objekt. tyrimai: lytinės lūpos ir makštis paraudusios. Makštyje gausu skystų žalsvų, putotų išskyrų, gimdos kaklelio makštinė dalis paraudusi, gimda ir jos priklausiniai be apčiuopiamų pakitimų. Kokia ligos diagnozė: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vaginitas
                    </li>
                    <li>
                        B. Kandidamikozė
                    </li>
                    <li>
                        C. Trichomoninis vaginitas
                    </li>
                    <li>
                        D. Endometritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.42</b> 18 m. ligonei, praėjus 1 savaitei po atsitiktinių lytinių santykių, pagausėjo išskyrų iš lytinių organų, pradėjo perštėti lytines lūpas ir dažniau šlapintis. Objekt. tyrimai: lytinės lūpos ir makštis paraudusios. Makštyje gausu skystų putotų išskyrų, gimdos kaklelio makštinė dalis paraudusi, gimda ir jos priklausiniai be apčiuopiamų pakitimų.  Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antibiotikai ir fizioterapinės procedūros
                    </li>
                    <li>
                        B. Nistatinas per os
                    </li>
                    <li>
                        C. Makšties plovimas pieno rūgšties tirpalu
                    </li>
                    <li>
                        D. Metronidazolis per os ir vietinis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.43</b> 60 m. moteris skundžiasi gelsvomis makšties išskyromis ir skausmingais lytiniais santykiais. Mėnesinės pasibaigė prieš 10 m. Objekt. tyrimai: tiriant pro makštį - makšties sienos gleivinė plona, balkšva, su taškinėmis kraujosruvomis, prisilietus kraujuoja, gimdos kaklelis atrofiškas, iš jo kanalo nekraujuoja, gimda atrofiška, gimdos priklausiniai be apčiuopiamų pakitimų. Kokia ligos diagnozė labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos kūno vėžys
                    </li>
                    <li>
                        B. Endometriozė
                    </li>
                    <li>
                        C. Paprastas vaginitas
                    </li>
                    <li>
                        D. Senilinis (atrofinis) vaginitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.44</b> 60 m. moteris skundžiasi gelsvomis makšties išskyromis ir skausmingais lytiniais santykiais. Mėnesinės pasibaigė prieš 10 m. Objekt. tyrimai: tiriant pro makštį - makšties sienos gleivinė plona, balkšva, su taškinėmis kraujosruvomis, prisilietus kraujuoja, gimdos kaklelis atrofiškas, iš jo kanalo nekraujuoja, gimda atrofiška, gimdos priklausiniai be apčiuopiamų pakitimų. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plataus spektro antibiotikai
                    </li>
                    <li>
                        B. Vaginalinės žvakutės su levomicetinu
                    </li>
                    <li>
                        C. Vaginalinės žvakutės su estrogenais
                    </li>
                    <li>
                        D. Operacinis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.45</b> 20 m. moteris skundžiasi stipriu skausmu pilvo apatinėje dalyje virš sąvaržos, pagausėjusiomis išskyromis iš makšties. Mėnesinių ciklas nesutrikęs. Paskutinės mėnesinės baigėsi prieš 3 dienas. Objekt. tyrimai: T - 38,3º C, tiriant pro makštį – makštyje pagausėję, nemalonaus kvapo išskyros, gimdos kaklelio makštinė dalis   paraudusi, gimdos kūnas ir priklausiniai skausmingi ir nežymiai sustorėję, judinant gimdos kaklelį skausmingumas sustiprėja. Kokia preliminarinė ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trichomoninis vaginitas
                    </li>
                    <li>
                        B. Dubens uždegimas
                    </li>
                    <li>
                        C. Priklausinių apsisukimas
                    </li>
                    <li>
                        D. Ūmus apendicitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.46</b> 20 m. moteris skundžiasi stipriu skausmu pilvo apatinėje dalyje virš sąvaržos, pagausėjusiomis išskyromis iš makšties. Mėnesinių ciklas nesutrikęs. Paskutinės mėnesinės baigėsi prieš 3 dienas. Objekt. tyrimai: T - 38,3º C, tiriant pro makštį – makštyje pagausėję, nemalonaus kvapo išskyros, gimdos kaklelio makštinė dalis   paraudusi, gimdos kūnas ir priklausiniai skausmingi ir nežymiai sustorėję, judinant gimdos kaklelį skausmingumas sustiprėja. Kuris tyrimas padeda patikslinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Onkocitologinis tyrimas
                    </li>
                    <li>
                        B. Kolposkopija
                    </li>
                    <li>
                        C. Histerosalpingografija
                    </li>
                    <li>
                        D. Kraujo uždegiminiai rodikliai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.47</b> 20 metų mergina stacionarizuota dėl stiprių skausmų pilvo apačioje, daugiau iš dešinės, pykinimo, vėmimo. Skausmai sąrėminio pobūdžio, intensyvūs (pagal VAS – 10 balų), atsirado staiga sportuojant, šuolio į aukštį metu. Nusiskundimai vargina pastarąsias dvi valandas. Menstruacinis ciklas reguliarus, MC 4/27, paskutinės  mėnesinės – prieš tris savaites, normalios. Lytinių santykių neturėjusi. Obj.: pilvas palpuojant skausmingas, įtemptas, yra pilvaplėvės dirginimas pilvo apačioje. Virgo intacta. Ultragarsinio tyrimo metu dešniųjų gimdos priklausinių srityje matomas 5 cm diametro cistinis darinys, užpildytas skaidriu turiniu, gimda normalios struktūros, endometriumas 12 mm storio, kairioji kiaušidė n.y. Už gimdos – nedaug laisvo skysčio. Kokia diagnozė labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kiaušidės cista
                    </li>
                    <li>
                        B. Dubens uždegimas
                    </li>
                    <li>
                        C. Endometriozė
                    </li>
                    <li>
                        D. Gimdos priklausinių apsisukimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.48</b> 20 metų mergina stacionarizuota dėl stiprių skausmų pilvo apačioje, daugiau iš dešinės, pykinimo, vėmimo. Skausmai sąrėminio pobūdžio, intensyvūs (pagal VAS – 10 balų), atsirado staiga sportuojant, šuolio į aukštį metu. Nusiskundimai vargina pastarąsias dvi valandas. Menstruacinis ciklas reguliarus, MC 4/27, paskutinės  mėnesinės – prieš tris savaites, normalios. Lytinių santykių neturėjusi. Obj.: pilvas palpuojant skausmingas, įtemptas, yra pilvaplėvės dirginimas pilvo apačioje. Virgo intacta. Ultragarsinio tyrimo metu dešniųjų gimdos priklausinių srityje matomas 5 cm diametro cistinis darinys, užpildytas skaidriu turiniu, gimda normalios struktūros, endometriumas 12 mm storio, kairioji kiaušidė n.y. Už gimdos – nedaug laisvo skysčio. Kokia gydymo taktika tinkamiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Infuzoterapija, analgetikai 
                    </li>
                    <li>
                        B. GnRh agonistai.
                    </li>
                    <li>
                        C. Laparoskopinė operacija.
                    </li>
                    <li>
                        D. Laparotominė operacija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.49</b> 45 m. moteris skundžiasi gausiu kraujavimu iš lytinių organų. Metai laiko mėnesinės nereguliarios ir gausios. Paskutinės mėnesinės buvo prieš 6 savaites. Objekt. tyrimai: tiriant pro makštį - makštyje yra skysto tamsaus kraujo su krešuliais, gimdos kaklelio kanalas praleidžia 1,5 cm, gimda 8x6x6 cm dydžio, minkštoka, gimdos priklausiniai be apčiuopiamų pokyčių, neskausmingi. Nėštumo testas neigiamas. Echografiškai organinė gimdos patologija neįtariama. Kokia preliminari ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos gleivinės polipas
                    </li>
                    <li>
                        B. Kraujavimas premenopauzėje
                    </li>
                    <li>
                        C. Prasidėjęs persileidimas
                    </li>
                    <li>
                        D. Submukozinė gimdos mioma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.50</b> 45 m. moteris skundžiasi gausiu kraujavimu iš lytinių organų. Metai laiko mėnesinės nereguliarios ir gausios. Paskutinės mėnesinės buvo prieš 6 savaites. Objekt. tyrimai: tiriant pro makštį - makštyje yra skysto tamsaus kraujo su krešuliais, gimdos kaklelio kanalas praleidžia 1,5 cm, gimda 8x6x6 cm dydžio, minkštoka, gimdos priklausiniai be apčiuopiamų pokyčių, neskausmingi. Nėštumo testas neigiamas. Echografiškai organinė gimdos patologija neįtariama. Kokia turi būti diagnostikos ir gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Subtotalinė histerektomija
                    </li>
                    <li>
                        B. Histeroskopija, gimdos abrazija ir histologinis audinių tyrimas
                    </li>
                    <li>
                        C. Totalinė histerektomija
                    </li>
                    <li>
                        D. Smūginės estrogenų dozės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.51</b> 36 metų moteris kreipėsi į gydytoją dėl maudžiančio pobūdžio skausmų pilvo apačioje, sustiprėjančių mėnesinių metu bei skausmingų lytinių santykių. Menstruacinias ciklas 6-7/33 d., prieš ir po mėnesinių vargina tepimas rusvomis išskyromis, mėnesinės skausmingos. Gimdžiusi 2 kartus, turėjo  vieną nėštumo nutraukimą.  Paskutinės mėnesinės – prieš dešimt dienų. Objektyviai: makštyje – negausios balkšvos išskyros, gimda normalaus dydžio, čiuopiant jautri palpacijai, nepaslanki, gimdos priklausinių srityje dešinėje – 6 cm cisitinis darinys, jautrus palpacijai. Kairieji gimdos priklausiniai – n.y. Kokia diagnozė labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dubens uždegimas
                    </li>
                    <li>
                        B. Endometriozė.
                    </li>
                    <li>
                        C. Kiaušidžių vėžys
                    </li>
                    <li>
                        D. Negimdinis nėštumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.52</b> 36 metų moteris kreipėsi į gydytoją dėl maudžiančio pobūdžio skausmų pilvo apačioje, sustiprėjančių mėnesinių metu bei skausmingų lytinių santykių. Menstruacinias ciklas 6-7/33 d., prieš ir po mėnesinių vargina tepimas rusvomis išskyromis, mėnesinės skausmingos. Gimdžiusi 2 kartus, turėjo  vieną nėštumo nutraukimą.  Paskutinės mėnesinės – prieš dešimt dienų. Objektyviai: makštyje – negausios balkšvos išskyros, gimda normalaus dydžio, čiuopiant jautri palpacijai, nepaslanki, gimdos priklausinių srityje dešinėje – 6 cm cisitinis darinys, jautrus palpacijai. Kairieji gimdos priklausiniai – n.y. Koks tyrimas patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bendras kraujo tyrimas.
                    </li>
                    <li>
                        B. Ultragarsinis tyrimas. 
                    </li>
                    <li>
                        C. Diagnostinė laparoskopija.
                    </li>
                    <li>
                        D. Onkologinių žymenų ir lytinių hormonų tyrimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.53</b> 46 m. ligonė skundžiasi sąrėminio pobūdžio skausmu pilvo apačioje ir strėnose, kraujavimu iš lytinių organų, kuris nesutampa su mėnesinių laiku, karščiavimu iki 39º C. Serga savaitę, tačiau niekur nesikreipė. Jau du metai mėnesinės gausios ir skausmingos. Paskutinės mėnesinės buvo prieš 5 savaites. Objekt. tyrimai: makšties išskyros tamsios, nemalonaus kvapo, gimdos anga atvira, iš jos kyšo 5x4 cm dydžio nelygus, išopėjęs, pūlingomis apnašomis apklotu paviršiumi darinys, apie jį yra standžių audinių žiedas, gimdos kūnas nežymiai padidėjęs, gimdos priklausiniai nepakitę. Kokia ligos diagnozė labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos kūno vėžys
                    </li>
                    <li>
                        B. Gimdos kaklelio polipas
                    </li>
                    <li>
                        C. Kaklelinis nėštumas
                    </li>
                    <li>
                        D. Gimstanti submukozinė mioma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.54</b> 46 m. ligonė skundžiasi sąrėminio pobūdžio skausmu pilvo apačioje ir strėnose, kraujavimu iš lytinių organų, kuris nesutampa su mėnesinių laiku, karščiavimu iki 39º C. Serga savaitę, tačiau niekur nesikreipė. Jau du metai mėnesinės gausios ir skausmingos. Paskutinės mėnesinės buvo prieš 5 savaites. Objekt. tyrimai: makšties išskyros tamsios, nemalonaus kvapo, gimdos anga atvira, iš jos kyšo 5x4 cm dydžio nelygus, išopėjęs, pūlingomis apnašomis apklotu paviršiumi darinys, apie jį yra standžių audinių žiedas, gimdos kūnas nežymiai padidėjęs, gimdos priklausiniai nepakitę. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Subtotalinė histerektomija su priklausiniais
                    </li>
                    <li>
                        B. Gimdos pašalinimas  pro makštį
                    </li>
                    <li>
                        C. Polipo nusukimas ir frakcinė gimdos abrazija
                    </li>
                    <li>
                        D. Miomos mazgo nusukimas ir priešuždegiminis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.55</b> 59 m. moteris kreipėsi dėl kraujavimo iš lytinių organų. Mėnesinės pasibaigė prieš 7 metus. Kraujuoti pradėjo prieš metus. Pradžioje pasirodydavo išskyros su kraujo priemaiša. Prieš 2 mėn. kraujavimas pagausėjo ir išskyros įgijo nemalonų kvapą. Objekt. tyrimai: makštyje yra nedaug kraujo krešulių, gimdos kaklelis be patologinių pakitimų, gimda 9x8x8 cm dydžio, minkštokos konsistencijos, gimdos priklausiniai be apčiuopiamų pakitimų. Kokia preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pomenopauzinis kraujavimas iš gimdos
                    </li>
                    <li>
                        B. Gimdos kūno vėžys
                    </li>
                    <li>
                        C. Endometriozė
                    </li>
                    <li>
                        D. Submukozinė gimdos mioma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.56</b> 59 m. moteris kreipėsi dėl kraujavimo iš lytinių organų. Mėnesinės pasibaigė prieš 7 metus. Kraujuoti pradėjo prieš metus. Pradžioje pasirodydavo išskyros su kraujo priemaiša. Prieš 2 mėn. kraujavimas pagausėjo ir išskyros įgijo nemalonų kvapą. Objekt. tyrimai: makštyje yra nedaug kraujo krešulių, gimdos kaklelis be patologinių pakitimų, gimda 9x8x8 cm dydžio, minkštokos konsistencijos, gimdos priklausiniai be apčiuopiamų pakitimų. Kuris tyrimas padėtų patikimai patikslinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Histerosalpingografija
                    </li>
                    <li>
                        B. Ultragarsinis tyrimas
                    </li>
                    <li>
                        C. Histeroskopija , gimdos abrazija, medžiagos histologinis tyrimas
                    </li>
                    <li>
                        D. Laparoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.57</b> 30 m. moteris skundžiasi pagausėjusiomis išskyromis iš makštis. Objekt. tyrimai: tiriant pro makštį - iš gimdos kaklelio kanalo kyšo 2x1 cm dydžio, raudonos spalvos su plokščia viršūne išauga, palpuojant jaučiama plona išaugos kojytė, gimdos kaklelis neinfiltruotas, paslankus, gimda ir gimdos priklausiniai be pakitimų. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos kaklelio cistinė liauka
                    </li>
                    <li>
                        B. Gimdos kaklelio kanalo polipas
                    </li>
                    <li>
                        C. Gimstanti gimdos submukozinė mioma
                    </li>
                    <li>
                        D. Cervicitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.58</b> 30 m. moteris skundžiasi pagausėjusiomis išskyromis iš makštis. Objekt. tyrimai: tiriant pro makštį - iš gimdos kaklelio kanalo kyšo 2x1 cm dydžio, raudonos spalvos su plokščia viršūne išauga, palpuojant jaučiama plona išaugos kojytė, gimdos kaklelis neinfiltruotas, paslankus, gimda ir gimdos priklausiniai be pakitimų. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Polipo nusukimas ir gimdos abrazija
                    </li>
                    <li>
                        B. Miomos mazgo nusukimas
                    </li>
                    <li>
                        C. Gimdos kaklelio konizacija
                    </li>
                    <li>
                        D. Gydymas gestagenais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.59</b> 30 metų pacientė atvyko į skubios pagalbos skyrių dėl stiprių skausmų pilvo apačioje bei kraujavimo iš genitalijų. Moteris nurodė, kad paskutinės normalios mėnesinės buvo prieš 7 savaites, pastarąsias 2 savaites vargina "tepimas" iš makšties kraujingomis išskyromis. Skausmas maudžiančio pobūdžio, intensyvėjantis. Nėštumo testas teigiamas. Atvykus moters būklė stabili. Tiriant aptiktas nežymus pilvaplėvės dirginimas pilvo apačioje, echoskopuojant stebėtas gausus kiekis laisvo skysčio mažojo dubens ertmėje, nėštumo gimdoje nematyti. Kokia preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kiaušidės cistos apsisukimas
                    </li>
                    <li>
                        B. Negimdinis nėštumas
                    </li>
                    <li>
                        C. Savaiminis nėštumas
                    </li>
                    <li>
                        D. Endometriozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.60</b> 30 metų pacientė atvyko į skubios pagalbos skyrių dėl stiprių skausmų pilvo apačioje bei kraujavimo iš genitalijų. Moteris nurodė, kad paskutinės normalios mėnesinės buvo prieš 7 savaites, pastarąsias 2 savaites vargina "tepimas" iš makšties kraujingomis išskyromis. Skausmas maudžiančio pobūdžio, intensyvėjantis. Nėštumo testas teigiamas. Atvykus moters būklė stabili. Tiriant aptiktas nežymus pilvaplėvės dirginimas pilvo apačioje, echoskopuojant stebėtas gausus kiekis laisvo skysčio mažojo dubens ertmėje, nėštumo gimdoje nematyti. Kokia turi būti tolimesnė gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydymas antibiotikais ir infuzoterapija
                    </li>
                    <li>
                        B. Gimdos abrazija
                    </li>
                    <li>
                        C. Laparoskopija
                    </li>
                    <li>
                        D. Analgetikai bei ligonės būklės kontrolė ambulatoriškai po 1 savaitės 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.61</b> 52 metų moteris skundžiasi jaučianti “karščio” bangas, prakaitavimu naktimis, nemiga, padidėjusiu jautrumu, 2 metus išnykusiomis mėnesinėmis. Objekt. tyrimai: makšties gleivinė rausva, blizganti, išskyros makštyje negausios, balkšvos. Gimdos kaklelis lygus. Gimda normalaus dydžio, lygi, paslanki. Adneksuose patologinių pokyčių nerasta. Kokia preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pokastracinis sindromas
                    </li>
                    <li>
                        B. Klimakterinis sindromas
                    </li>
                    <li>
                        C. Policistinių kiašidžių sindromas
                    </li>
                    <li>
                        D. Adrenogenitalinis sindromas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>26.62</b> 52 metų moteris skundžiasi jaučianti “karščio” bangas, prakaitavimu naktimis, nemiga, padidėjusiu jautrumu, 2 metus išnykusiomis mėnesinėmis. Objekt. tyrimai: makšties gleivinė rausva, blizganti, išskyros makštyje negausios, balkšvos. Gimdos kaklelis lygus. Gimda normalaus dydžio, lygi, paslanki. Adneksuose patologinių pokyčių nerasta. Koks yra etiopatogenezinis gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Androgenais
                    </li>
                    <li>
                        B. Estrogenais
                    </li>
                    <li>
                        C. Estrogenais ir gestagenais
                    </li>
                    <li>
                        D. Gestagenais
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>26.1 - 

                C
            </td>
            <td>26.2 - 

                D
            </td>
            <td>26.3 - 

                D
            </td>
            <td>26.4 - 

                D
            </td>
            <td>26.5 - 

                C
            </td>
            <td>26.6 - 

                D
            </td>
            <td>26.7 - 

                C
            </td>
            <td>26.8 - 

                B
            </td>
                </tr><tr>
            <td>26.9 - 

                A
            </td>
            <td>26.10 - 

                C
            </td>
            <td>26.11 - 

                D
            </td>
            <td>26.12 - 

                C
            </td>
            <td>26.13 - 

                B
            </td>
            <td>26.14 - 

                B
            </td>
                </tr><tr>
            <td>26.15
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
            <td>26.16
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - E </li>
                <li>4 - D </li>
            </ul></td>
            <td>26.17
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
            <td>26.18
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - B </li>
            </ul></td>
            <td>26.19
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>26.20
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>26.21
            <ul>
                <li>1 - E </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>26.22
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
                </tr><tr>
            <td>26.23
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>26.24
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>26.25
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - E </li>
                <li>4 - B </li>
            </ul></td>
                </tr><tr>
            <td>26.26
            <ul>
                <li>4</li>
            </ul></td>
            <td>26.27
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>26.28
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>26.29
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>26.30
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>26.31
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>26.32
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>26.33
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>26.34
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>26.35
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>26.36
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>26.37
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>26.38
            <ul>
                <li>4</li>
            </ul></td>
            <td>26.39
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>26.40
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>26.41 - 

                C
            </td>
            <td>26.42 - 

                D
            </td>
            <td>26.43 - 

                D
            </td>
            <td>26.44 - 

                C
            </td>
            <td>26.45 - 

                B
            </td>
            <td>26.46 - 

                D
            </td>
            <td>26.47 - 

                D
            </td>
            <td>26.48 - 

                C
            </td>
                </tr><tr>
            <td>26.49 - 

                B
            </td>
            <td>26.50 - 

                B
            </td>
            <td>26.51 - 

                B
            </td>
            <td>26.52 - 

                C
            </td>
            <td>26.53 - 

                D
            </td>
            <td>26.54 - 

                D
            </td>
            <td>26.55 - 

                B
            </td>
            <td>26.56 - 

                C
            </td>
                </tr><tr>
            <td>26.57 - 

                B
            </td>
            <td>26.58 - 

                A
            </td>
            <td>26.59 - 

                B
            </td>
            <td>26.60 - 

                C
            </td>
            <td>26.61 - 

                B
            </td>
            <td>26.62 - 

                C
            </td>

</tr></tbody></table></div>