<div class="Centre Kategorija">Infekcinės ligos</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>18.1</b> Kas dažniausiai sukelia keliautojų viduriavimus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Leptospiros
                    </li>
                    <li>
                        B. Stafilokokai
                    </li>
                    <li>
                        C. Ešerichijos
                    </li>
                    <li>
                        D. Klostridijos
                    </li>
                    <li>
                        E. Pneumokokai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.2</b> Kas sukelia maisto toksinę infekciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šigelės
                    </li>
                    <li>
                        B. Choleros vibrionai
                    </li>
                    <li>
                        C. Leptospiros
                    </li>
                    <li>
                        D. Streptokokai
                    </li>
                    <li>
                        E. Salmonelės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.3</b> Koks mikroorganizmas dažniausiai sukelia sepsį po blužnies pašalinimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Auksinis stafilokokas
                    </li>
                    <li>
                        B. Listerija
                    </li>
                    <li>
                        C. Pneumokokas
                    </li>
                    <li>
                        D. Salmonelė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.4</b> &nbsp;Kuriai ligai būdinga normali ir subfebrili temperatūra, dispepsiniai reiškiniai, meteorizmas, bulbariniai simptomai ir regėjimo sutrikimai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apsinuodijimui nuodingais grybais
                    </li>
                    <li>
                        B. Botulizmui
                    </li>
                    <li>
                        C. Laimo boreliozei
                    </li>
                    <li>
                        D. Erkiniam encefalitui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.5</b> &nbsp;Kuriai ligai būdingas karščiavimas, sąnarių skausmai, kartais gelta, paraudę ir patinę delnai ir padai („pirštinės“ ir „kojinės“) bei simetriški bėrimai apie sąnarius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. A hepatitui
                    </li>
                    <li>
                        B. Trichineliozei
                    </li>
                    <li>
                        C. Leptospirozei
                    </li>
                    <li>
                        D. Toksoplazmozei
                    </li>
                    <li>
                        E. Pseudotuberkuliozei (jersiniozei)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.6</b> Kuriai ligai būdingi vienmomentiškai gastroenteritas, kvėpavimo takų kataras ir konjunktyvitas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Jersiniozei
                    </li>
                    <li>
                        B. Virusiniam gastroenteritui
                    </li>
                    <li>
                        C. Šigeliozei
                    </li>
                    <li>
                        D. Salmoneliozei
                    </li>
                    <li>
                        E. Trichineliozei
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.7</b> Kuri virusinio A hepatito baigtis yra dažniausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinis hepatitas
                    </li>
                    <li>
                        B. Žilbero sindromas
                    </li>
                    <li>
                        C. Kepenų cirozė
                    </li>
                    <li>
                        D. Pasveikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.8</b> Kurie klinikiniai požymiai būdingi trichineliozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Galvos skausmas, pykinimas, vėmimas
                    </li>
                    <li>
                        B. Didelis silpnumas, sąnarių skausmai ir šlapimo patamsėjimas
                    </li>
                    <li>
                        C. Vokų tinimas, paraudimas ir pūslelinis išbėrimas
                    </li>
                    <li>
                        D. Karščiavimas, akių obuolių junginės kraujosruvos, vokų tinimas ir raumenų skausmai
                    </li>
                    <li>
                        E. Padidėję kaklo limfmazgiai, karščiavimas ir viduriavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.9</b> Kuris požymis būdingas teniozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Epilepsiniai traukuliai
                    </li>
                    <li>
                        B. Ligoniai išmatose pastebi kaspinuočio gabaliukų
                    </li>
                    <li>
                        C. Pilvo skausmai ir tenezmai
                    </li>
                    <li>
                        D. Pykinimas ir maudimas po dešiniuoju šonkaulių lanku
                    </li>
                    <li>
                        E. Padidėjusios kepenys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.10</b> Kokiais laboratoriniais tyrimais patvirtinama ŽIV infekcija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vidalio reakcija
                    </li>
                    <li>
                        B. Imunofermentiniu, Western Blot metodais, polimerazės grandinine reakcija
                    </li>
                    <li>
                        C. Kraujo pasėlis
                    </li>
                    <li>
                        D. Likvoro mikroskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.11</b> Kurie klinikiniai simptomai būdingi pirminei ŽIV infekcijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Karščiavimas, viduriavimas su kraujo priemaiša
                    </li>
                    <li>
                        B. Karščiavimas, padidėję periferiniai limfmazgiai, makulopapulinis bėrimas
                    </li>
                    <li>
                        C. Karščiavimas, sąnarių skausmai, paraudę ir patinę delnai ir padai
                    </li>
                    <li>
                        D. Dispepsiniai požymiai, gelta, kepenų padidėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.12</b> Kuris laboratorinis tyrimas padeda patikslinti erkinio encefalito diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Imunologiniai tyrimai, ieškant savitųjų antikūnų kraujo serume
                    </li>
                    <li>
                        B. Kraujo bakterioskopinis tyrimas
                    </li>
                    <li>
                        C. Kraujo bakteriologinis tyrimas
                    </li>
                    <li>
                        D. Smegenų skysčio bakteriologinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.13</b> Kurie reiškiniai būdingi meningokokinei infekcijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Staigi pradžia, aukšta temperatūra, vėmimas ir meninginiai simptomai
                    </li>
                    <li>
                        B. Staigi pradžia, normali temperatūra, meninginiai simptomai ir vėmimas
                    </li>
                    <li>
                        C. Lėta pradžia, aukšta temperatūra, vėmimas ir viduriavimas
                    </li>
                    <li>
                        D. Staigi pradžia, normali temperatūra ir vėmimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.14</b> Kurią ligą galima įtarti, jeigu viduriavimas tęsiasi mėnesį ar ilgiau:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Norovirusinę infekciją
                    </li>
                    <li>
                        B. Maisto toksinę infekciją
                    </li>
                    <li>
                        C. Žmogaus imunodeficito virusinę infekciją
                    </li>
                    <li>
                        D. Adenovirusinę infekciją
                    </li>
                    <li>
                        E. Rota virusinę infekciją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.15</b> Kurie tyrimai atliekami prenatalinės toksoplazmozės diagnostikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo pasėlis
                    </li>
                    <li>
                        B. IgM ir IgG klasių savitųjų antikūnų nustatymas ir ultragarsinis vaisiaus tyrimas
                    </li>
                    <li>
                        C. Kraujo pasėlis ir ultragarsinis vaisiaus tyrimas
                    </li>
                    <li>
                        D. Bendras kraujo tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.16</b> Kuris tyrimas patvirtina pneumocistozės diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapimo bakteriologinis tyrimas
                    </li>
                    <li>
                        B. Koprograma
                    </li>
                    <li>
                        C. Sukėlėjo nustatymas kvėpavimo takų sekrete dažant specialiais dažymo būdais
                    </li>
                    <li>
                        D. Serologinis kraujo tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.17</b> Kuriai ligai būdinga ryškių kraštų ir į periferiją plintanti žiedo pavidalo odos eritema:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Maliarijai
                    </li>
                    <li>
                        B. Erkiniam encefalitui
                    </li>
                    <li>
                        C. Laimo boreliozei
                    </li>
                    <li>
                        D. Juosiančiajai pūslelinei
                    </li>
                    <li>
                        E. Pseudotuberkuliozei
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.18</b> Kuris tyrimas patvirtina žiočių difterijos diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Serologinės reakcijos poriniuose serumuose
                    </li>
                    <li>
                        B. Gomurinių migdolų apnašo bakteriologinis tyrimas
                    </li>
                    <li>
                        C. Kraujo pasėlis
                    </li>
                    <li>
                        D. Odos alerginis mėginys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.19</b> Kurią ligą galima įtarti, jeigu šaltkrėčio priepuoliai kartojasi kas trečią parą ir trunka 5—8  val.:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gripą
                    </li>
                    <li>
                        B. Sepsį
                    </li>
                    <li>
                        C. Tropinę maliariją
                    </li>
                    <li>
                        D. Trečiadienę maliariją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.20</b> Kada reikia pradėti ŽIV infekcijos gydymą antivirusiniais vaistais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. CD₄ mažiau kaip 350 mm³
                    </li>
                    <li>
                        B. Leukocitų skaičius periferiniame kraujyje daugiau kaip 9 × 10⁹/l
                    </li>
                    <li>
                        C. ENG daugiau kaip 20 mm/val.
                    </li>
                    <li>
                        D. Trombocitų skaičius periferiniame kraujyje daugiau kaip 320 × 10⁹/l
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.21</b> Listerijos yra genetiškai atsparios:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Cefalospirinams
                    </li>
                    <li>
                        B. Ampicilinui
                    </li>
                    <li>
                        C. Penicilinui
                    </li>
                    <li>
                        D. Trimetoprimui sulfametoksazoliui
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>18.22</b> Haemophilus influenzae b vakcina skiriama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - A hepatitas
                    </li>
                    <li>
                        2 - B hepatitas
                    </li>
                    <li>
                        3 - D hepatitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. visiems kūdikiams, pradedant 2 mėn. amžiuje
                    </li>
                    <li>
                        B. žmonėms prieš organų transplantaciją
                    </li>
                    <li>
                        C. su gyvūnais dirbantiems asmenims (medžiotojams, veterinarams)
                    </li>
                    <li>
                        D. vyresniems nei 65 m. amžiaus žmonėms
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.23</b> Kurioje situacijoje kokią neuroinfekciją įtarsite?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Meningokokinį meningitą
                    </li>
                    <li>
                        2 - Listerinį meningitą
                    </li>
                    <li>
                        3 - Pneumokokinį meningitą
                    </li>
                    <li>
                        4 - Neuroboreliozę
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kartu esant otitui ar sinusitui
                    </li>
                    <li>
                        B. Esant hemoraginiam bėrimui
                    </li>
                    <li>
                        C. Žmogui &gt; 50 m., nėščiai moteriai
                    </li>
                    <li>
                        D. Esant veidinio nervo paralyžiui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.24</b> Kuris odos pakitimas būdingas kiekvienai nurodytai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pseudotuberkuliozė
                    </li>
                    <li>
                        2 - Meningokokinis sepsis
                    </li>
                    <li>
                        3 - Laimo boreliozė
                    </li>
                    <li>
                        4 - Vidurių šiltinė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Rozeolinis bėrimas nuo 8—10 ligos paros
                    </li>
                    <li>
                        B. Veido, delnų, padų patinimas ir paraudimas („gaubtuvas“, „pirštinės“, „kojinės“)
                    </li>
                    <li>
                        C. Hemoraginis „žvaigždinis“ bėrimas
                    </li>
                    <li>
                        D. Žiedo pavidalo eritema
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.25</b> Kuris požymis būdingas kiekvienai nurodytai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Gripas
                    </li>
                    <li>
                        2 - &nbsp;Paragripas
                    </li>
                    <li>
                        3 - Adenovirusinė infekcija
                    </li>
                    <li>
                        4 - Infekcinė mononukleozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Konjunktyvitas, tracheitas ir bronchitas
                    </li>
                    <li>
                        B. Limfmazgių padidėjimas, konjunktyvitas ir tonzilofaringitas
                    </li>
                    <li>
                        C. Kepenų, blužnies, limfmazgių padidėjimas ir tonzilitas, karščiavimas
                    </li>
                    <li>
                        D. Laringitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.26</b> Kuris reiškinys būdingas kiekvienai nurodytai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Infekcinė mononukleozė
                    </li>
                    <li>
                        2 - Hepatitas B
                    </li>
                    <li>
                        3 - Salmoneliozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Geltinis sindromas
                    </li>
                    <li>
                        B. Limfadenopatijos sindromas
                    </li>
                    <li>
                        C. Gastroenteritinis sindromas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.27</b> Kuris simptomas ar jų kompleksas yra būdingas kiekvienai nurodytai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Toksokarozė
                    </li>
                    <li>
                        2 - Enterobiozė
                    </li>
                    <li>
                        3 - Echinokokozė
                    </li>
                    <li>
                        4 - Trichineliozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Vokų patinimas, karščiavimas ir raumenų skausmai
                    </li>
                    <li>
                        B. Bronchitas su astmos simptomu
                    </li>
                    <li>
                        C. Išeinamosios angos srities niežėjimas
                    </li>
                    <li>
                        D. Pakenkto organo ultragarsiniame tyrime matomos cistos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.28</b> Kuris simptomas būdingas kiekvienai nurodytai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Meningokokinė infekcija
                    </li>
                    <li>
                        2 - Kriptosporidiozė
                    </li>
                    <li>
                        3 - Infekcinė mononukleozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Enteritas
                    </li>
                    <li>
                        B. Poliadenitas ir hepatolienalinis sindromas
                    </li>
                    <li>
                        C. Meninginis sindromas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.29</b> Kuris simptomas būdingas kiekvienai nurodytai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Paragripas
                    </li>
                    <li>
                        2 - Virusinis hepatitas A
                    </li>
                    <li>
                        3 - Epideminė mialgija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Raumenų skausmas
                    </li>
                    <li>
                        B. Gerklų pažeidimas
                    </li>
                    <li>
                        C. Gelta
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.30</b> Kuris simptomas būdingas kiekvienai nurodytai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Botulizmas
                    </li>
                    <li>
                        2 - Pasiutligė
                    </li>
                    <li>
                        3 - Erkinis encefalitas
                    </li>
                    <li>
                        4 - Stabligė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Trizmas, sardoniška šypsena, opistotonusas, toninių ir kloninių traukulių priepuoliai
                    </li>
                    <li>
                        B. Karščiavimas, galvos skausmai, vangūs pečių lanko ir kaklo raumenų paralyžiai
                    </li>
                    <li>
                        C. &nbsp;Sujaudinimas, vandens baimė, disfagija, užkimęs balsas ir išsiplėtę vyzdžiai
                    </li>
                    <li>
                        D. Užkimęs balsas, sutrikusi kalba, mirgėjimas ir dvejinimasis akyse, žvairumas, vokų ptozė ir dusulys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.31</b> Kuris rizikos veiksnys būdingas kiekvienai nurodytai infekcijai: 




</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pneumokokinei infekcijai
                    </li>
                    <li>
                        2 - Meningokokinei infekcijai
                    </li>
                    <li>
                        3 -  Listeriozei
                    </li>
                    <li>
                        4 - Pseudomoninei infekcijai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ląstelinio imuniteto sutrikimas
                    </li>
                    <li>
                        B. Kelionė į tam tikras šalis Afrikoje
                    </li>
                    <li>
                        C. Asplenija
                    </li>
                    <li>
                        D. Neutropenija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.32</b> Kuris tyrimas yra reikšmingiausias kiekvienos nurodytos ligos diagnozei nustatyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Neuroboreliozė
                    </li>
                    <li>
                        2 - Infekcinė mononukleozė
                    </li>
                    <li>
                        3 - B hepatitas
                    </li>
                    <li>
                        4 - Leptospirozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Imunofermentinis tyrimas ieškant savitųjų IgM antikūnų prieš viruso kapsido antigeną
                    </li>
                    <li>
                        B. Anti—HBc IgM kraujo serume
                    </li>
                    <li>
                        C. Mikroagliutinacijos reakcija
                    </li>
                    <li>
                        D. Specifinių antikūnių nustatymas smegenų skystyje 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.33</b> Kuriuo antibiotiku turi būti gydoma kiekviena nurodyta liga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Stafilokokinė infekcija 
                    </li>
                    <li>
                        2 - Laimo liga
                    </li>
                    <li>
                        3 - Meningokokinė infekcija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Doksiciklinu
                    </li>
                    <li>
                        B. Oksacilinu 
                    </li>
                    <li>
                        C. Penicilinu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.34</b> Kuriuo metodu patvirtinama kiekvienos nurodytos ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Difterija
                    </li>
                    <li>
                        2 - Vidurių šiltinė
                    </li>
                    <li>
                        3 - Pneumocistozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kraujo pasėlis
                    </li>
                    <li>
                        B. Bakterioskopinis ir bakteriologinis žiočių apnašo tyrimas
                    </li>
                    <li>
                        C. Sukėlėjo nustatymas kvėpavimo takų sekrete dažant specialiais dažymo būdais  
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.35</b> Kuriuo antibiotiku reikia gydyti kiekvieną nurodytą infekciją:


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Mikoplazminė pneumonija
                    </li>
                    <li>
                        2 - Pneumocistinė pneumonija
                    </li>
                    <li>
                        3 - Listerinis meningitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ampicilinu
                    </li>
                    <li>
                        B. Trimetoprimu su sulfametoksazoliu 
                    </li>
                    <li>
                        C. Klaritromicinu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.36</b> Kuriuo vaistu turi būti gydoma kiekviena nurodyta liga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Gripas
                    </li>
                    <li>
                        2 - Laimo liga
                    </li>
                    <li>
                        3 - Difterija
                    </li>
                    <li>
                        4 - Šigeliozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ciprofloksacinas arba TMP/SMZ
                    </li>
                    <li>
                        B. Oseltamiviras arba zanamiviras
                    </li>
                    <li>
                        C. Doksiciklinas
                    </li>
                    <li>
                        D. Priešdifterinis serumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.37</b> Kas yra kiekvienos nurodytos ligos sukėlėjas:


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                         - Rožė
                    </li>
                    <li>
                         - Erkinis encefalitas
                    </li>
                    <li>
                         - Maliarija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Pirmuonys
                    </li>
                    <li>
                        B. Bakterijos
                    </li>
                    <li>
                        C. Virusai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.38</b> Kuris imunologinis žymuo reiškia kiekvienos nurodytos ligos diagnozę:

 
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                         - A hepatitas
                    </li>
                    <li>
                         - B hepatitas
                    </li>
                    <li>
                         - D hepatitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. HBsAg, anti—HBc IgM
                    </li>
                    <li>
                        B. HBsAg, anti—HD IgM
                    </li>
                    <li>
                        C. Anti—HAV IgM
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.39</b> Kurios ligos diagnozę patvirtina kiekvienas nurodyto tyrimo rezultatas:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                         - Toksokarozė
                    </li>
                    <li>
                         - Teniozė, cisticerkozė
                    </li>
                    <li>
                         - Enterobiozė
                    </li>
                    <li>
                         - Askaridozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Spalinių kiaušinėliai išeinamosios angos nuogramdose
                    </li>
                    <li>
                        B. Savitųjų antikūnų nustatymas kraujo serume
                    </li>
                    <li>
                        C. Askaridžių kiaušinėliai išmatose
                    </li>
                    <li>
                        D. Cisticerkai biopsinėje pakenktų audinių medžiagoje
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>18.40 </b> Kas būdinga pneumokokams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sukelia sepsį ir meningitą
                    </li>
                    <li>
                        2. Labai pavojingi blužnies neturintiems asmenims
                    </li>
                    <li>
                        3. Sukelia otitą, sinusitą, pneumoniją
                    </li>
                    <li>
                        4. Sukelia šlapimo takų infekcijas 
                    </li>
                    <li>
                        5. Gydomi metronidazoliu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.41 </b> Kurie imunologiniai žymenys gali rodyti virusinio B hepatito chronizaciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. HBsAg
                    </li>
                    <li>
                        2. Anti—HBs
                    </li>
                    <li>
                        3. HBeAg
                    </li>
                    <li>
                        4. Anti—HAV
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.42 </b> Kurie virusinio B hepatito imunologiniai žymenys yra ligos apogėjuje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Anti—HBc IgM
                    </li>
                    <li>
                        2. HBs Ag
                    </li>
                    <li>
                        3. HBe Ag
                    </li>
                    <li>
                        4. Anti—HBs
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.43 </b> Kurie tyrimai patvirtina trichineliozės diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Valgytos mėsos trichinelioskopija
                    </li>
                    <li>
                        2. Imunologiniai tyrimai savitiesiems antikūnams kraujo serume nustatyti
                    </li>
                    <li>
                        3. Eozinofilija ir leukocitozė
                    </li>
                    <li>
                        4. Trichinelių radimas ligonio išmatose
                    </li>
                    <li>
                        5. Trichinelių lervų radimas ligonio išmatose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.44 </b> Kurie klinikiniai požymiai būdingi salmoneliozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Staigi pradžia ir karščiavimas
                    </li>
                    <li>
                        2. Pykinimas ir vėmimas
                    </li>
                    <li>
                        3. Viduriavimas vandeningomis ir dvokiančiomis išmatomis
                    </li>
                    <li>
                        4. Meninginiai simptomai
                    </li>
                    <li>
                        5. Herpetinis bėrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.45 </b> Kurie vaistai vartojami difterijos gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Eritromicinas
                    </li>
                    <li>
                        2. Chloramfenikolis
                    </li>
                    <li>
                        3. Antitoksinis priešdifterinis serumas
                    </li>
                    <li>
                        4. Difterijos anatoksinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.46 </b> Virusinio B hepatito baigtimis gali būti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pasveikimas
                    </li>
                    <li>
                        2. Lėtinis hepatitas
                    </li>
                    <li>
                        3. HBs Ag nešiojimas
                    </li>
                    <li>
                        4. Kepenų cirozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.47 </b> Kurias ligas sukelia enterovirusai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Herpanginą
                    </li>
                    <li>
                        2. Juostinę pūslelinę
                    </li>
                    <li>
                        3. Epideminę mialgiją
                    </li>
                    <li>
                        4. Infekcinę mononukleozę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.48 </b> Kurie tyrimai patvirtina maliarijos diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sukėlėjo nustatymas smegenų skysčio leukocituose
                    </li>
                    <li>
                        2. Išmatų tyrimas
                    </li>
                    <li>
                        3. Teigiamas kraujo pasėlis
                    </li>
                    <li>
                        4. Mikroskopinis kraujo tepinėlio ir storo kraujo lašo, dažytų Romanovskio – Gimzos būdu, tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.49 </b> Kurie klinikiniai požymiai būdingi botulizmui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dispepsiniai reiškiniai
                    </li>
                    <li>
                        2. Regėjimo sutrikimai
                    </li>
                    <li>
                        3. Rijimo ir kvėpavimo sutrikimai
                    </li>
                    <li>
                        4. Haliucinacijos
                    </li>
                    <li>
                        5. Gelta
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.50 </b> Kurie žmogaus imunodeficito virusinės infekcijos ligos simptomai yra svarbiausi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Padidėję limfmazgiai
                    </li>
                    <li>
                        2. Kūno masės sumažėjimas
                    </li>
                    <li>
                        3. 1 mėn. ar ilgiau užtrukęs viduriavimas
                    </li>
                    <li>
                        4. 1 mėn. ar ilgiau trunkantis pastovus arba remituojantis karščiavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.51 </b> Kokie mikroorganizmai dažniausiai sukelia odos ir minkštųjų audinių infekcijas:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Listeria monocytogenes
                    </li>
                    <li>
                        2.  S.pyogenes
                    </li>
                    <li>
                        3.  Proteus 
                    </li>
                    <li>
                        4.  S.aureus
                    </li>
                    <li>
                        5. S.pneumoniae
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.52 </b> Kas būdinga legioneliozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sukelia sunkią pneumoniją arba Pontiako karštinę
                    </li>
                    <li>
                        2.  Neveikia beta-laktaminiai antibiotikai
                    </li>
                    <li>
                        3. Gydoma makrolidų arba fluorchinolonų grupės antibiotikais
                    </li>
                    <li>
                        4. Gali sukelti kraujavimą iš žarnyno
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.53 </b> Kurie klinikiniai požymiai būdingi šigeliozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gelta
                    </li>
                    <li>
                        2. Viduriavimas su gleivių ir kraujo priemaiša
                    </li>
                    <li>
                        3. Padidėjusios kepenys
                    </li>
                    <li>
                        4. Tenezmai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.54 </b> Kaip galima užsikrėsti erkiniu encefalitu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Geriant nevirintą pieną
                    </li>
                    <li>
                        2. Valgant oocistomis užkrėstą maistą
                    </li>
                    <li>
                        3. Įsisiurbus erkei
                    </li>
                    <li>
                        4. Per gyvulių odas ir kailius
                    </li>
                    <li>
                        5. Nuo sergančio žmogaus oro—lašeliniu keliu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.55 </b> Kurie požymiai būdingi meningokokinei infekcijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ūminė pradžia ir karščiavimas
                    </li>
                    <li>
                        2. Meninginiai simptomai
                    </li>
                    <li>
                        3. Likvore neutrofilinė pleocitozė
                    </li>
                    <li>
                        4. Kepenų ir blužnies padidėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.56 </b> Kurie klinikiniai požymiai būdingi rožei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Šaltkrėtis
                    </li>
                    <li>
                        2. Traukuliai
                    </li>
                    <li>
                        3. Ribotas odos paraudimas
                    </li>
                    <li>
                        4. Akių paraudimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.57 </b> Gydytojo taktika, atvykus gyvūno apkandžiotam pacientui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pirminis žaizdos sutvarkymas
                    </li>
                    <li>
                        2. Antivirusinių vaistų skyrimas
                    </li>
                    <li>
                        3. Vakcinacija
                    </li>
                    <li>
                        4. Gliukokortikoidų skyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.58 </b> Kaip užsikrečiama Laimo liga:



</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vartojant nevirintą karvės pieną
                    </li>
                    <li>
                        2. Vartojant nevirintą ožkos pieną
                    </li>
                    <li>
                        3.  Per kraujo transfuzijas
                    </li>
                    <li>
                        4. Per erkės įsisiurbimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.59 </b> Kokios yra profilaktikos priemonės prieš meningokokinę infekciją:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ligoniai izoliuojami 24 val. nuo antibakterinės terapijos pradžios
                    </li>
                    <li>
                        2. Kontaktą su ligonio respiraciniu sekretu turėjusiems asmenims skiriama chemioprofilaktika
                    </li>
                    <li>
                        3. Esant infekcijos protrūkiui galima kontaktą turėjusių asmenų vakcinacija
                    </li>
                    <li>
                        4. Per 48 val. suleidžiamas specifinis imunoglobulinas glaudų kontaktą turėjusiems asmenims
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.60 </b> Kurie tyrimai leidžia įvertinti, kad ŽIV infekcijos gydymas yra efektyvus:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išnyksta klinikiniai infekcijos požymiai
                    </li>
                    <li>
                        2. Iki neišmatuojamo arba &lt;50 kopijų/ml sumažėja viruso kiekis kraujyje
                    </li>
                    <li>
                        3.  ELISA ir imunobloto tyrimai tampa neigiami
                    </li>
                    <li>
                        4. Didėja CD4 ląstelių skaičius
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>18.61</b> 52 m. moteris prieš 3 dienas dešinėje blauzdoje erkės įsisiurbimo vietoje pastebėjo kraštais ir plintantį į periferiją žiedo pavidalo paraudimą. Regioniniai limfmazgiai nepadidinti, nekarščiuoja. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rožė
                    </li>
                    <li>
                        B. Laimo boreliozė
                    </li>
                    <li>
                        C. Herpes zoster 
                    </li>
                    <li>
                        D. Alergija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.62</b> 52 m. moteris prieš 3 dienas dešinėje blauzdoje erkės įsisiurbimo vietoje pastebėjo kraštais ir plintantį į periferiją žiedo pavidalo paraudimą. Regioniniai limfmazgiai nepadidinti, nekarščiuoja. Kuris vaistas turi būti skiriamas šios ligos etiotropiniam gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Doksiciklinas
                    </li>
                    <li>
                        B. Biseptolis
                    </li>
                    <li>
                        C. Furazolidonas
                    </li>
                    <li>
                        D. Levomicetinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.63</b> Grįžusį iš Gvinėjos 35 m. lakūną pradėjo krėsti šaltis ir iki 39,5°C pakilo temperatūra. Po 5 val. temperatūra savaime nukrito ir ligonis labai suprakaitavo. Po 3 dienų šaltkrėčio priepuolis vėl pasikartojo. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vidurių šiltinė
                    </li>
                    <li>
                        B. Gripas
                    </li>
                    <li>
                        C. Maliarija
                    </li>
                    <li>
                        D. Leptospirozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.64</b> Grįžusį iš Gvinėjos 35 m. lakūną pradėjo krėsti šaltis ir iki 39,5°C pakilo temperatūra. Po 5 val. temperatūra savaime nukrito ir ligonis labai suprakaitavo. Po 3 dienų šaltkrėčio priepuolis vėl pasikartojo. Kuris tyrimas patikslintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ligos sukėlėjo radimas mikroskopuojant kraujo tepinėlį
                    </li>
                    <li>
                        B. Sukėlėjo radimas mikroskopuojant kraujo lašą
                    </li>
                    <li>
                        C. Ligos sukėlėjo radimas mikroskopuojant kraujo tepinėlį ir sukėlėjo radimas mikroskopuojant kraujo lašą
                    </li>
                    <li>
                        D. Serologinės reakcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.65</b> 25 m. moteris atsiųsta konsultacijai pas infektologą dėl recidyvuojančio karščiavimo (apie 3 mėn.), astmatinio bronchito, leukocitozės, eozinofilijos. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trichineliozė
                    </li>
                    <li>
                        B. Sepsis
                    </li>
                    <li>
                        C. Toksokarozė
                    </li>
                    <li>
                        D. Žmogaus imunodeficito virusinė liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.66</b> 25 m. moteris atsiųsta konsultacijai pas infektologą dėl recidyvuojančio karščiavimo (apie 3 mėn.), astmatinio bronchito, leukocitozės, eozinofilijos. Kuris tyrimas patikslintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vidalio reakcija
                    </li>
                    <li>
                        B. Savitųjų antikūnų radimas kraujo serume
                    </li>
                    <li>
                        C. Antikūnų prieš ŽIV nustatymas imunologiniais metodais
                    </li>
                    <li>
                        D. Kraujo pasėlis į specialią terpę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.67</b> 18 m. moksleivis susirgo staiga: iki 38,5°C pakilo temperatūra, pradėjo skaudėti gerklę. Objekt. tyrimai: tonzilės padidėjusios, įraudusios, su baltu apnašu, padidėję kaklo, pažandžių, pažąstų ir kirkšnių limfmazgiai, čiuopiasi nejautrus kepenų kraštelis iš po dešinio šonkaulių lanko. Lab. tyrimai: kraujyje - Hb 130 g/l, leuk.-18,0x10⁹/l, lazd.-4%, segm.-39%, limf.-39%., monoc.-18%, ALT 250 U/l. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Infekcinė mononukleozė
                    </li>
                    <li>
                        B. Adenovirusinė infekcija
                    </li>
                    <li>
                        C. Hepatitas B
                    </li>
                    <li>
                        D. Pseudotuberkuliozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.68</b> 18 m. moksleivis susirgo staiga: iki 38,5°C pakilo temperatūra, pradėjo skaudėti gerklę. Objekt. tyrimai: tonzilės padidėjusios, įraudusios, su baltu apnašu, padidėję kaklo, pažandžių, pažąstų ir kirkšnių limfmazgiai, čiuopiasi nejautrus kepenų kraštelis iš po dešinio šonkaulių lanko. Lab. tyrimai: kraujyje - Hb 130 g/l, leuk.-18,0x10⁹/l, lazd.-4%, segm.-39%, limf.-39%., monoc.-18%, ALT 250 U/l. Kuris tyrimas patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. HBs antigenas kraujyje 
                    </li>
                    <li>
                        B. Kraujo pasėlis
                    </li>
                    <li>
                        C. Nosiaryklės sekreto tyrimas PGR metodu ieškant adenoviruso nukleininės rūgšties 
                    </li>
                    <li>
                        D. Heterofilinių antikūnų tyrimas ir EBV IgM tyrimas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.69</b> 45 m. verslininkas negaluoja apie mėnesį laiko, karščiuoja iki 38—38,2°C, per tą laiką neteko apie 5 kg svorio, viduriuoja. Objekt. tyrimai: padidėję kaklo, pažąstų ir kirkšnių limfmazgiai. Apie porą metų leidžiasi į veną narkotikus. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šigeliozė
                    </li>
                    <li>
                        B. Tuberkuliozė
                    </li>
                    <li>
                        C. Vidurių šiltinė
                    </li>
                    <li>
                        D. ŽIV infekcija 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.70</b> 45 m. verslininkas negaluoja apie mėnesį laiko, karščiuoja iki 38—38,2°C, per tą laiką neteko apie 5 kg svorio, viduriuoja. Objekt. tyrimai: padidėję kaklo, pažąstų ir kirkšnių limfmazgiai. Apie porą metų leidžiasi į veną narkotikus. Kuris tyrimas leistų patikslinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bakteriologinis nosiaryklės turinio tyrimas
                    </li>
                    <li>
                        B. Šlapimo pasėlis
                    </li>
                    <li>
                        C. Savitųjų antikūnų nustatymas imunofermentiniu ir Western Blot tyrimais
                    </li>
                    <li>
                        D. Likvoro mikroskopinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.71</b> 38 m. moteris susirgo staiga: pakilo temperatūra, atsirado raižantys pilvo skausmai, stipresni kairėje apatinėje dalyje, pradėjo viduriuoti su gleivių ir kraujo priemaiša. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šigeliozė
                    </li>
                    <li>
                        B. Rota virusinė infekcija
                    </li>
                    <li>
                        C. Jersiniozė
                    </li>
                    <li>
                        D. Maisto toksinė infekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.72</b> 38 m. moteris susirgo staiga: pakilo temperatūra, atsirado raižantys pilvo skausmai, stipresni kairėje apatinėje dalyje, pradėjo viduriuoti su gleivių ir kraujo priemaiša. Kuris tyrimas leistų patikslinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Koprologinis tyrimas
                    </li>
                    <li>
                        B. Bakteriologinis išmatų tyrimas
                    </li>
                    <li>
                        C. Koprologinis tyrimas ir Bakteriologinis išmatų tyrimas
                    </li>
                    <li>
                        D. Serologinės reakcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.73</b> 35 m. medžiotojas liepos pabaigoje pradėjo febriliai karščiuoti, skaudėjo galvą, pykimo, kelis kartus vėmė. Prieš porą savaičių keletą dienų taip pat karščiavo, buvo į gripą panašūs reiškiniai. Kokia ligos preliminarinė diagnozė:	</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pasiutligė
                    </li>
                    <li>
                        B. Trichineliozė
                    </li>
                    <li>
                        C. Erkinis encefalitas
                    </li>
                    <li>
                        D. Laimo liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.76</b> Vasarą 40 m. ūkininkui staiga pradėjo skaudėti strėnas, blauzdų raumenis ir krėsti šaltis. Temperatūra pakilo iki 39ºC. Atsirado odos hemoraginis išbėrimas, patamsėjo šlapimas ir sumažėjo jo kiekis, sklerose atsirado gelta, padidėjo kepenys ir blužnis. Kuris tyrimas leistų patikslinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo pasėlis į specialią terpę
                    </li>
                    <li>
                        B. Vidalio reakcija
                    </li>
                    <li>
                        C. Teigiama mikroagliutinacijos  (MAR) reakcija poriniuose serumuose
                    </li>
                    <li>
                        D. HBs Ag radimas kraujo serume
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.77</b> 62 m. moteris susirgo staiga: febriliai sukarščiavo, „raižė“ pilvą, suviduriavo 15-20 kartų per parą vandeningomis išmatomis be patologinių priemaišų. Prieš kelias dienas slaugė panašiai sirgusį 2 m. anūką. Kokia ligos preliminarinė diagnozė:
		
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A.  Salmoneliozė
                    </li>
                    <li>
                        B. Rota virusinė infekcija
                    </li>
                    <li>
                        C. Nora virusinė infekcija
                    </li>
                    <li>
                        D. Šigeliozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.78</b> 62 m. moteris susirgo staiga: febriliai sukarščiavo, „raižė“ pilvą, suviduriavo 15-20 kartų per parą vandeningomis išmatomis be patologinių priemaišų. Prieš kelias dienas slaugė panašiai sirgusį 2 m. anūką. Kuris tyrimas leistų patikslinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Viruso antigeno nustatymas išmatose 		
                    </li>
                    <li>
                        B.  Išmatų pasėlis 
                    </li>
                    <li>
                        C. Serologiniai tyrimai 
                    </li>
                    <li>
                        D.  Išmatų mikroskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.81</b> 66 m. vyriškis pagelto ir dėl to buvo paguldytas į infekcinių ligų skyrių. Gydant būklė negerėjo: dar labaiu pagelto, ėmė trikti sąmonė, odoje atsirado hemoragijos ir pradėjo kraujuoti dantenos. Kaip  turi būti vertinama ligonio būklė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Normali virusinio B hepatito eiga
                    </li>
                    <li>
                        B. Vystosi kepenų koma
                    </li>
                    <li>
                        C. Vystosi lėtinis hepatitas
                    </li>
                    <li>
                        D. Virusinio B hepatito cholestazinis variantas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.82</b> 66 m. vyriškis pagelto ir dėl to buvo paguldytas į infekcinę ligoninę. Gydant būklė negerėjo: dar labaiu pagelto, ėmė trikti sąmonė, odoje atsirado hemoragijos ir pradėjo kraujuoti dantenos. Kuris tyrimas padėtų įvertinti ligonio būklės sunkumą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Leukocitų skaičius ir protrombino laikas (SPA)
                    </li>
                    <li>
                        B. Gamagliutamiltranspeptidazės aktyvumas kraujyje
                    </li>
                    <li>
                        C. Šarminės fosfatazės aktyvumas kraujyje
                    </li>
                    <li>
                        D. Cukraus kiekis kraujyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.83</b> 50 m. namų šeimininkė staiga pradėjo karščiuoti, ėmė perštėti dešinę krūtinės pusę, o po 2 parų oda paraudo. Joje atsirado skaidraus skysčio pripildytos pūslelės, kurios apjuosė dešinę krūtinės pusę pagal nervo eigą. Vargino stiprūs tos vietos skausmai. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rožė
                    </li>
                    <li>
                        B. Vėjaraupiai
                    </li>
                    <li>
                        C. Laimo liga
                    </li>
                    <li>
                        D. Juostinė pūslelinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.85</b> 32 m. moteris buvo išvykusi su šeima grybauti. Po 8 d. dešinės šlaunies odoje pastebėjo ovalios formos paraudimą. Objekt. tyrimas: išorinėje dešiniosios šlaunies pusėje matomas 8x6 cm dydžio ovalus paraudimas ryškiomis ribomis su prašviesėjimu centre. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rožė
                    </li>
                    <li>
                        B. Jersiniozė
                    </li>
                    <li>
                        C. Juostinė pūslelinė
                    </li>
                    <li>
                        D. Laimo liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.87</b> 25 m. vyras dvi paras karščiavo iki 39°C, skaudėjo galvą, gerklę, „laužė“ kaulus ir kosėjo. Hospitalizacijos metu buvo įtartas gripas. Kuris tyrimas turėjo būti paskirtas diagnozės patikslinimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo pasėlis
                    </li>
                    <li>
                        B. Nosiaryklės tsekreto tyrimas ieškant gripo viruso nukleininės rūgšties
                    </li>
                    <li>
                        C. Krūtinės organų rentgenologinis tyrimas
                    </li>
                    <li>
                        D. Visi minėti tyrimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.88</b> 25 m. vyras dvi paras karščiavo iki 39°C, skaudėjo galvą, gerklę, „laužė“ kaulus ir ir kosėjo. Hospitalizacijos metu buvo įtartas gripas. Tyrimai patvirtino gripą, bet, nepaisant gydymo, išliko karščiavimas, atsirado kosulys ir skrepliavimas, krūtinės skausmai kvėpuojant. Kokia gripo komplikacija vystosi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sepsis
                    </li>
                    <li>
                        B. Pneumonija
                    </li>
                    <li>
                        C. Meningitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.84</b> 50 m. namų šeimininkė staiga pradėjo karščiuoti, ėmė perštėti dešinę krūtinės pusę, o po 2 parų oda paraudo. Joje atsirado skaidraus skysčio pripildytos pūslelės, kurios apjuosė dešinę krūtinės pusę pagal nervo eigą. Vargino stiprūs tos vietos skausmai. Kuris vaistas skiriamas šios ligos etiotropiniam gydymui:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Penicilinas 
                    </li>
                    <li>
                        B. Doksiciklinas
                    </li>
                    <li>
                        C. Acikloviras
                    </li>
                    <li>
                        D. Gancikloviras 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.86</b> 32 m. moteris buvo išvykusi su šeima grybauti. Po 8 d. dešinės šlaunies odoje
pastebėjo ovalios formos paraudimą. Objekt. tyrimas: išorinėje dešiniosios šlaunies pusėje matomas 8 × 6 cm dydžio ovalus paraudimas ryškiomis ribomis su prašviesėjimu centre. Kuris vaistas skiriamas gydymui:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ciprofloksacinas
                    </li>
                    <li>
                        B. Acikloviras
                    </li>
                    <li>
                        C. Abu minėti vaistai
                    </li>
                    <li>
                        D. Doksiciklinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.79</b> 42 m. moteris skundžiasi, kad po dešinės pėdos sužeidimo pradėjo karščiuoti su šaltkrėčiu, atsirado skausmas, paraudimas ryškiomis ribomis ir sutinimas ne tik pėdoje, bet ir blauzdoje. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Juostinė pūslelinė
                    </li>
                    <li>
                        B. Laimo liga
                    </li>
                    <li>
                        C. Alerginis dermatitas
                    </li>
                    <li>
                        D. Teniozė
                    </li>
                    <li>
                        E. Rožė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.80</b> 42 m. moteris skundžiasi, kad po dešinės pėdos sužeidimo pradėjo karščiuoti su šaltkrėčiu, atsirado skausmas, paraudimas ryškiomis ribomis ir sutinimas ne tik pėdoje, bet ir blauzdoje. Kuris vaistas skiriamas šios ligos etiotropiniam gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Acikloviras
                    </li>
                    <li>
                        B. Penicilinas
                    </li>
                    <li>
                        C. Norfloksacinas
                    </li>
                    <li>
                        D. Metronidazolis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.74</b> 35 m. medžiotojas liepos pabaigoje pradėjo febriliai karščiuoti, skaudėjo galvą, pykimo, kelis kartus vėmė. Prieš porą savaičių keletą dienų taip pat karščiavo, buvo į gripą panašūs reiškiniai. Kuris tyrimas leistų patikslinti diagnozę:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Likvoro tyrimas ir erkinio encefalito viruso IgM antikūnų nustatymas kraujyje
                    </li>
                    <li>
                        B. Eozinofilija kraujyje ir serologinė reakcija dėl trichineliozės
                    </li>
                    <li>
                        C. Likvoro tyrimas ir Borrelia burgdorferii antikūnų nustatymas smegenų skystyje
                    </li>
                    <li>
                        D. Pasiutligės viruso nustatymas seilėse PGR metodu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>18.75</b> Vasarą 40 m. ūkininkui staiga pradėjo skaudėti strėnas, blauzdų raumenis ir krėsti šaltis. Temperatūra pakilo iki 39ºC. Atsirado odos hemoraginis išbėrimas, patamsėjo šlapimas ir sumažėjo jo kiekis, sklerose atsirado gelta, padidėjo kepenys ir blužnis. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vidurių šiltinė 			
                    </li>
                    <li>
                        B. Leptospirozė 
                    </li>
                    <li>
                        C. Trichineliozė 	
                    </li>
                    <li>
                        D. Virusinis hepatitas
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>18.1 - 

                C
            </td>
            <td>18.2 - 

                E
            </td>
            <td>18.3 - 

                C
            </td>
            <td>18.4 - 

                B
            </td>
            <td>18.5 - 

                E
            </td>
            <td>18.6 - 

                B
            </td>
            <td>18.7 - 

                D
            </td>
            <td>18.8 - 

                D
            </td>
                </tr><tr>
            <td>18.9 - 

                B
            </td>
            <td>18.10 - 

                B
            </td>
            <td>18.11 - 

                B
            </td>
            <td>18.12 - 

                A
            </td>
            <td>18.13 - 

                A
            </td>
            <td>18.14 - 

                C
            </td>
            <td>18.15 - 

                B
            </td>
            <td>18.16 - 

                C
            </td>
                </tr><tr>
            <td>18.17 - 

                C
            </td>
            <td>18.18 - 

                B
            </td>
            <td>18.19 - 

                D
            </td>
            <td>18.20 - 

                A
            </td>
            <td>18.21 - 

                A
            </td>
                </tr><tr>
            <td>18.22
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>18.23
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
            <td>18.24
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>18.25
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>18.26
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>18.27
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>18.28
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>18.29
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
                </tr><tr>
            <td>18.30
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
            <td>18.31
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
            <td>18.32
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>18.33
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>18.34
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>18.35
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>18.36
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>18.37
            <ul>
                <li> - B </li>
                <li> - C </li>
                <li> - A </li>
            </ul></td>
                </tr><tr>
            <td>18.38
            <ul>
                <li> - C </li>
                <li> - A </li>
                <li> - B </li>
            </ul></td>
            <td>18.39
            <ul>
                <li> - B </li>
                <li> - D </li>
                <li> - A </li>
                <li> - C </li>
            </ul></td>
                </tr><tr>
            <td>18.40
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>18.41
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>18.42
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>18.43
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>18.44
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>18.45
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>18.46
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>18.47
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>18.48
            <ul>
                <li>4</li>
            </ul></td>
            <td>18.49
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>18.50
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>18.51
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>18.52
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>18.53
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>18.54
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>18.55
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>18.56
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>18.57
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>18.58
            <ul>
                <li>4</li>
            </ul></td>
            <td>18.59
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>18.60
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>18.61 - 

                B
            </td>
            <td>18.62 - 

                A
            </td>
            <td>18.63 - 

                C
            </td>
            <td>18.64 - 

                C
            </td>
            <td>18.65 - 

                C
            </td>
            <td>18.66 - 

                B
            </td>
            <td>18.67 - 

                A
            </td>
            <td>18.68 - 

                D
            </td>
                </tr><tr>
            <td>18.69 - 

                D
            </td>
            <td>18.70 - 

                C
            </td>
            <td>18.71 - 

                A
            </td>
            <td>18.72 - 

                C
            </td>
            <td>18.73 - 

                C
            </td>
            <td>18.76 - 

                C
            </td>
            <td>18.77 - 

                B
            </td>
            <td>18.78 - 

                A
            </td>
                </tr><tr>
            <td>18.81 - 

                B
            </td>
            <td>18.82 - 

                A
            </td>
            <td>18.83 - 

                D
            </td>
            <td>18.85 - 

                D
            </td>
            <td>18.87 - 

                B
            </td>
            <td>18.88 - 

                B
            </td>
            <td>18.84 - 

                C
            </td>
            <td>18.86 - 

                D
            </td>
                </tr><tr>
            <td>18.79 - 

                E
            </td>
            <td>18.80 - 

                B
            </td>
            <td>18.74 - 

                A
            </td>
            <td>18.75 - 

                B
            </td>

</tr></tbody></table></div>