<div class="Centre Kategorija">Intensyvi terapija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>48.1</b> Koks yra paspaudimų ir įpūtimų santykis suaugusio žmogaus gaivinimo metu?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 30:2
                    </li>
                    <li>
                        B. 15:2
                    </li>
                    <li>
                        C. 60:2
                    </li>
                    <li>
                        D. 30:1
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.2</b> Suaugusiojo gaivinimo metu krūtinės paspaudimų gylis turi būti ne mažesnis kaip:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 2 cm
                    </li>
                    <li>
                        B. 4 cm
                    </li>
                    <li>
                        C. 5 cm
                    </li>
                    <li>
                        D. 6 cm
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.3</b> Kurią krūtinkaulio dalį reikia ritmiškai spaudinėti dirbtinės kraujotakos sudarymui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtinkaulio rankeną
                    </li>
                    <li>
                        B. Krūtinkaulio viršutinę dalį
                    </li>
                    <li>
                        C. Krūtinkaulio vidurinę dalį
                    </li>
                    <li>
                        D. Krūtinkaulio apatinę dalį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.4</b> Kuris iš nurodytų teiginių apibūdina krūtinės paspaudimus ir įpūtimus suaugusiojo gaivinimo metu, kai nukentėjusiajam yra įvestas endotrachėjinis vamzdelis ir gaivinimą atlieka ne mažiau kaip du gelbėtojai ?




</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtinės paspaudimų greitis ne mažesnis kaip 100 k/min., 1 įpūtimas kas 6 - 8 sek.
                    </li>
                    <li>
                        B. Krūtinės paspaudimų greitis ne mažesnis kaip 100 k/min., 2 įpūtimai kas 10 sek.
                    </li>
                    <li>
                        C. Krūtinės paspaudimų greitis ne mažesnis kaip 100 k/min., 1 įpūtimas kas 3 - 5 sek.
                    </li>
                    <li>
                        D. Krūtinės paspaudimų greitis ne mažesnis kaip 100 k/min., 2 įpūtimai kas 6 - 8 sek.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.5</b> Kurį kraujotakos išnykimo mechanizmą sukelia aukštos įtampos kintama srovė?	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skilvelių virpėjimą
                    </li>
                    <li>
                        B. Skilvelinę tachikardiją be pulso
                    </li>
                    <li>
                        C. Asistoliją
                    </li>
                    <li>
                        D. Elektromechaninę disociaciją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.6</b> Kuris vaistas gaivinimo metu vartojamas visada, nepriklausomai nuo kraujotakos išnykimo mechanizmo?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lidokainas
                    </li>
                    <li>
                        B. Epinefrinas
                    </li>
                    <li>
                        C. Atropinas
                    </li>
                    <li>
                        D. Kalcio chloridas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.7</b> Kaip pasikeis kapnografijos metu nustatomo CO2 iškvepiamame ore rodmuo, gaivinimo metu atsistačius spontaninei kraujotakai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sumažės
                    </li>
                    <li>
                        B. Padidės
                    </li>
                    <li>
                        C. Nepasikeis
                    </li>
                    <li>
                        D. Pasikeis, jei keisis ventiliacijos dažnis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.8</b> Kokia rekomenduojama epinefrino dozė suaugusiojo gaivinimo metu?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 1 mg kas 3–5 min.
                    </li>
                    <li>
                        B. 1 mg/kg kas 3–5 min.
                    </li>
                    <li>
                        C. 10 mg kas 3–5 min.
                    </li>
                    <li>
                        D. 0,4 mg kas 3–5 min.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.9</b> Kokia yra normali anijonų spraga?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 2–4 mmol/l
                    </li>
                    <li>
                        B. 4–8 mmol/l
                    </li>
                    <li>
                        C. 8–16 mmo/l
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.10</b> Kokia yra taktika esant riebalų embolijai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Profilaktika, ankstyva diagnostika ir adekvatus simptominis gydymas
                    </li>
                    <li>
                        B. Euvolemijos palaikymas, antikoaguliantai, gliukokortikoidai
                    </li>
                    <li>
                        C. Euvolemijos palaikymas, antikoaguliantai, deguonies terapija
                    </li>
                    <li>
                        D. Antikoaguliantai ir adekvatus simptominis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.11</b> Kokį minimalų angliavandenių kiekį per parą turi gauti suaugęs žmogus infuzinės terapijos metu dėl ketozės profilaktikos?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 25–50 g
                    </li>
                    <li>
                        B. 100–150 g
                    </li>
                    <li>
                        C. 200–250 g
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.12</b> Koks K⁺ ir Cl⁻ jonų kiekis mmol yra  40 ml 7,45%  kalio chlorido tirpale?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 10 mmol
                    </li>
                    <li>
                        B. 20 mmol
                    </li>
                    <li>
                        C. 30 mmol
                    </li>
                    <li>
                        D. 40 mmol
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.13</b> Kiek mmol K⁺ reikia 1 kg idealios kūno masės žmogui per parą?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 1-1,5     mmol
                    </li>
                    <li>
                        B. 3,5-5,5  mmol
                    </li>
                    <li>
                        C. 6,7-7,8  mmol
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.14</b> Trisdešimtmetis pacientas nekvėpuoja ir neturi sąmonės. Aplinkiniai pastebėjo, kad valgydamas jis nustojo kalbėti ir tapo sujaudintu. Ką įtarsite?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių arterijos emboliją
                    </li>
                    <li>
                        B. Kvėpavimo takų obstrukciją
                    </li>
                    <li>
                        C. Anafilaksiją
                    </li>
                    <li>
                        D. Bronchų astmą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.15</b> Koks yra normalus bendrojo kalcio kiekis kraujo plazmoje?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 1,25–1,75 mmol/l
                    </li>
                    <li>
                        B. 2,20–2,60  mmol/l
                    </li>
                    <li>
                        C. 2,70–3,00 mmol/l
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.16</b> Kuris šarmų-rūgščių būklės sutrikimas būdingas užsitęsusiam šokui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Metabolinė acidozė
                    </li>
                    <li>
                        B. Metabolinė alkalozė
                    </li>
                    <li>
                        C. Respiracinė acidozė
                    </li>
                    <li>
                        D. Respiracinė alkalozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.17</b> Kuri iš nurodytų taktikų turėtų būti pasirinkta gydant nedidelės rizikos plaučių arterijos tromboemboliją?	
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tombolizė, antikoaguliantai, chirurginė arba perkateterinė embolektomija ir adekvatus simptominis gydymas
                    </li>
                    <li>
                        B. Trombolizė, antikoaguliantai, apatinės tuščiosios venos filtras ir adekvatus simptominis gydymas
                    </li>
                    <li>
                        C. Antikoaguliantai ir adekvatus simptominis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.18</b> Kada, gydant trombemboliją, turi būti panaudotas apatinės tuščiosios venos filtras?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Esant giliųjų venų trombozei ir plaučių arterijos tromboembolijai, kai antikoaguliantai kontraindikuotini
                    </li>
                    <li>
                        B. Pasikartojus plaučių arterijos troboembolijai, nepaisant skiriamo adekvataus gydymo antikoaguliantais
                    </li>
                    <li>
                        C. Abiem minėtais atvejais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.19</b> Į intensyvios terapijos skyrių atvežta 26 m. moteris, apsinuodijusi tricikliniais antidepresantais. Nesąmoninga, EKG– QRS komplekso išplitimas, QT intervalo pailgėjimas. Pirmą parą išsivystė plaučių edema. Kokia plaučių edemos genezė?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sutriko plaučių limfos drenažas
                    </li>
                    <li>
                        B. Sumažėjo kraujo plazmos onkotinis slėgis
                    </li>
                    <li>
                        C. Padidėjo hidrostatinis slėgis plaučių kapiliaruose
                    </li>
                    <li>
                        D. Padidėjo alveolinio epitelio ir kapiliarų endotelio pralaidumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.20</b> Kuris parenterinis hipotenzinis vaistas yra pasirinkimo vaistas hipertenzinės krizės gydymui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ganglioblokatoriai
                    </li>
                    <li>
                        B. Natrio nitroprusidas
                    </li>
                    <li>
                        C. Nitroglicerinas
                    </li>
                    <li>
                        D. Beta adrenoblokatoriai
                    </li>
                    <li>
                        E. Magnio sulfatas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.21</b> Kuo grindžiama ūminio kepenų nepakankamumo diagnozė?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėjusios kepenys, paryškėjusi gelta ir ryškiai padidėję bilirubino bei kepenų fermentų kiekiai kraujyje
                    </li>
                    <li>
                        B. Hipoalbuminemija, krešumo funkcijos sutrikimai ir geltos intensyvumas
                    </li>
                    <li>
                        C. Hepatinės encefalopatijos požymiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.22</b> Į intensyvios terapijos skyrių atvežtas hipotermijos būklėje (šerdinė T–30ºC) esantis ligonis. EKG–skilvelių virpėjimas. Kokia neatidėliotina pagalba turi būti suteikta ligoniui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kardioversija
                    </li>
                    <li>
                        B. Antiaritminiai vaistai
                    </li>
                    <li>
                        C. Specializuotas gaivinimas pagal skilvelių virpėjimo algoritmą, šildyti ligonį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.23</b> Kuriam vaistui turi būti teikiama pirmenybė anafilaksijos atveju?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. H1  receptorių blokatoriai
                    </li>
                    <li>
                        B. H2 receptorių blokatoriai
                    </li>
                    <li>
                        C. Epinefrinas
                    </li>
                    <li>
                        D. Gliukokortikoidai
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>48.24</b> Į kurį organizmo vandens sektorių patenka kiekvienas nurodytas infuzinis tirpalas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.69. Koloidų
                    </li>
                    <li>
                        2 - 20.70. Kristaloidų
                    </li>
                    <li>
                        3 - 20.71. Gliukozės
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Į intravaskulinį sektorių
                    </li>
                    <li>
                        B. Į intravaskulinį ir intersticinį sektorius
                    </li>
                    <li>
                        C. Į intravaskulinį, intersticinį ir intraceliulinį sektorius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.25</b> Koks yra vaistų ir defibriliacijos dozavimas suaugusiojo gaivinimo metu esant skilvelių virpėjimui? 

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.25. Defibriliacija
                    </li>
                    <li>
                        2 - 20.26. Epinefrinas
                    </li>
                    <li>
                        3 - 20.27. Amiodaronas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 300 mg į veną boliusu po trečio impulso. Antroji dozė 150 mg į veną skiriama, jei išlieka silvelių virpėjimas
                    </li>
                    <li>
                        B. 1 mg po trečio impulso. Kartojamas kas 3 - 5 min.
                    </li>
                    <li>
                        C. Pradinė dozė 120 - 200 J (bifazinis). Jei nežinomas aparato tipas, tai skiriama maksimali galima dozė.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.26</b> Kaip parenkamas individualiam naudojimui kiekvienas nurodytas instrumentas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.30. Orofaringinis vamzdelis
                    </li>
                    <li>
                        2 - 20.31. Nazofaringinis vamzdelis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Matuojamas atstumas nuo šnervės iki išorinės ausies spenelio
                    </li>
                    <li>
                        B. Matuojamas atstumas nuo burnos iki išorinės ausies landos
                    </li>
                    <li>
                        C. Matuojamas atstumas nuo burnos iki apatinio žandikaulio kampo
                    </li>
                    <li>
                        D. Matuojamas atstumas nuo šnervės iki apatinio žandikaulio kampo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.27</b> Kaip turi būti įvertintas suaugusio vyro kiekvieno kraujo plazmos elektrolito nurodytas kiekis?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.43. Na⁺ 120 mmol/l
                    </li>
                    <li>
                        2 - 20.44. K⁺ 6 mmol/l
                    </li>
                    <li>
                        3 - 20.45. Ca²⁺ (bendro) 1,5 mmol/l
                    </li>
                    <li>
                        4 - 20.46. Ca²⁺ (jonizuoto) 0,5 mmol/l
                    </li>
                    <li>
                        5 - 20.47. Mg²⁺ 0,5 mmol/l
                    </li>
                    <li>
                        6 - 20.48. Cl- 76 mmol/l
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Normalus
                    </li>
                    <li>
                        B. Sumažėjęs
                    </li>
                    <li>
                        C. Padidėjęs
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.28</b> Kaip turi būti vertinama šarmų-rūgščių balanso būklė pagal nurodytą tyrimo rezultatą?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.54. pH–7,4, pCO₂ mmHg–40, BE–0 mmol/l
                    </li>
                    <li>
                        2 - 20.55. pH–7,5, pCO₂ mmHg–30, BE–(–) 1 mmol/l
                    </li>
                    <li>
                        3 - 20.56. pH–7,6, pCO₂ mmHg–43, BE–(+) 19,1 mmol/l
                    </li>
                    <li>
                        4 - 20.57. pH–7,2, pCO₂ mmHg–33, BE–(–) 9 mmol/l
                    </li>
                    <li>
                        5 - 20.58. pH–7,25 pCO₂ mmHg–66, BE–(+) 8,2 mmol/l
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Normali
                    </li>
                    <li>
                        B. Metabolinė acidozė
                    </li>
                    <li>
                        C. Metabolinė alkalozė
                    </li>
                    <li>
                        D. Respiracinė acidozė
                    </li>
                    <li>
                        E. Respiracinė alkalozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.29</b> Kaip turi būti vertinamas kiekvienas nurodytas kraujo plazmos osmosinis slėgis?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.35. 240 mmol/kg H₂O
                    </li>
                    <li>
                        2 - 20.36. 290 mmol/kg H₂O
                    </li>
                    <li>
                        3 - 20.37. 340 mmol/kg H₂O
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Normalus
                    </li>
                    <li>
                        B. Padidėjęs
                    </li>
                    <li>
                        C. Sumažėjęs
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.30</b> Kaip turi būti vertinamas kiekvienas nurodytas vandens balansas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.32. Suvartota 2300 ml, išskirta 2600 ml
                    </li>
                    <li>
                        2 - 20.33. Suvartota 2600 ml, išskirta 2600 ml
                    </li>
                    <li>
                        3 - 20.34. Suvartota 2600 ml, išskirta 2300 ml
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Normalus balansas
                    </li>
                    <li>
                        B. Teigiamas balansas
                    </li>
                    <li>
                        C. Neigiamas balansas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.31</b> Kiek procentų vyro kūno masės sudaro nurodytas organizmo vanduo?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.38. Bendras vandens kiekis
                    </li>
                    <li>
                        2 - 20.39. Intraceliulinis vanduo
                    </li>
                    <li>
                        3 - 20.40. Ekstraceliulinis vanduo
                    </li>
                    <li>
                        4 - 20.41. Intersticinis vanduo
                    </li>
                    <li>
                        5 - 20.42. Intravaskulinis vanduo
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 5%
                    </li>
                    <li>
                        B. 10%
                    </li>
                    <li>
                        C. 15%
                    </li>
                    <li>
                        D. 20%
                    </li>
                    <li>
                        E. 30%
                    </li>
                    <li>
                        F. 40%
                    </li>
                    <li>
                        H. 60%
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.32</b> Kokiu būdu iš organizmo pasišalina didžioji dalis kiekvieno nurodyto elektrolito?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.49. Na⁺
                    </li>
                    <li>
                        2 - 20.50. K⁺
                    </li>
                    <li>
                        3 - 20.51. Ca²⁺
                    </li>
                    <li>
                        4 - 20.52. Mg²⁺
                    </li>
                    <li>
                        5 - 20.53. Cl⁻
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Su šlapimu pro inkstus
                    </li>
                    <li>
                        B. Su išmatomis pro virškinamąjį kanalą
                    </li>
                    <li>
                        C. Su prakaitu pro odą
                    </li>
                    <li>
                        D. Su iškvepiamu oru pro kvėpavimo takus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.33</b> Koks yra kiekvienos nurodytos būklės EKG specifinis požymis?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.84. Hipertermija
                    </li>
                    <li>
                        2 - 20.85. Hipotermija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Aukšti ir smailūs T danteliai
                    </li>
                    <li>
                        B. J (Osborno) bangos
                    </li>
                    <li>
                        C. Specifinių požymių nėra
                    </li>
                    <li>
                        D. Sumažėjusi T dantelių amplitudė ir ST segmento dislokacija žemiau izoelektrinės linijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.34</b> Koks yra kiekvienos nurodytos būklės EKG požymis?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.82. Hiperkalemija
                    </li>
                    <li>
                        2 - 20.83. Hipokalemija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sumažėjusi T dantelių ir padidėjusi U dantelių amplitudė, S-T segmento dislokacija žemiau izoelektrinės linijos
                    </li>
                    <li>
                        B. Aukšti smailūs T danteliai, galima S-T segmento dislokacija virš izoelektrinės linijos
                    </li>
                    <li>
                        C. J (Osborno) bangos
                    </li>
                    <li>
                        D. Specifinių požymių nėra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.35</b> Koks osmosinio slėgio požiūriu yra kiekvienas nurodytas infuzinis tirpalas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.72 0,9% natrio chlorido tirpalas
                    </li>
                    <li>
                        2 - 20.73 5% gliukozės tirpalas
                    </li>
                    <li>
                        3 - 20.74 4,2% natrio hidrokarbonato tirpalas
                    </li>
                    <li>
                        4 - 20.75 10% gliukozės tirpalas
                    </li>
                    <li>
                        5 - 20.76 0,45% natrio chlorido tirpalas
                    </li>
                    <li>
                        6 - 20.77 20% gliukozės tirpalas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Hipertoninis
                    </li>
                    <li>
                        B. Izotoninis
                    </li>
                    <li>
                        C. Hipotoninis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.36</b> Kuriai plaučių arterijos embolijai yra būdingiausi šie požymiai?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.78. Plaučių edema, ūminis kvėpavimo funkcijos nepakankamumas, smegenų edema, traukuliai, obstrukcinis šokas, koaguliopatija
                    </li>
                    <li>
                        2 - 20.79. Plaučių edema, ūminis kvėpavimo funkcijos nepakankamumas, petechiniai bėrimai odoje, smegenų edema, koma
                    </li>
                    <li>
                        3 - 20.80. Ūminis kvėpavimo funkcijos nepakankamumas, obstrukcinis šokas
                    </li>
                    <li>
                        4 - 20.81. Ūminis kvėpavimo funkcijos nepakankamumas, obstrukcinis šokas, židininė neurologinė simptomatika
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Embolijai amniono vandenimis
                    </li>
                    <li>
                        B. Oro embolijai
                    </li>
                    <li>
                        C. Riebalų embolijai
                    </li>
                    <li>
                        D. Plaučių arterijos tromboembolijai 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.37</b> Kuris kraujotakos išnykimo mechanizmas būdingas veikiant elektros srovei?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.28. Aukštos įtampos kintamos srovės
                    </li>
                    <li>
                        2 - 20.29. Žaibas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Skilvelių virpėjimas
                    </li>
                    <li>
                        B. Asistolija
                    </li>
                    <li>
                        C. Elektromechaninė disociacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.38</b> Kuris metodas turi būti panaudotas kiekvieno nurodyto rūgščių-šarmų balanso būklės sutrikimo korekcijai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.65. Metabolinė acidozė
                    </li>
                    <li>
                        2 - 20.66. Metabolinė alkalozė
                    </li>
                    <li>
                        3 - 20.67. Respiracinė acidozė
                    </li>
                    <li>
                        4 - 20.68. Respiracinė alkalozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sol. NaHCO₃
                    </li>
                    <li>
                        B. 7,45% KCl + 0,9% NaCl ir 0,1 N Sol.HCl
                    </li>
                    <li>
                        C. Dirbtinė plaučių ventiliacija
                    </li>
                    <li>
                        D. Didinama CO₂koncentraciją kvėpuojamajame mišinyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.39</b> Kuris šoko variantas vystosi kiekvienos nurodytos urgentinės būklės atveju?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.86. Odos nudegimas
                    </li>
                    <li>
                        2 - 20.87. Prieširdžių plazdėjimas
                    </li>
                    <li>
                        3 - 20.88. Plaučių arterijos embolija
                    </li>
                    <li>
                        4 - 20.89. Miokardo infarktas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Hipovoleminis šokas
                    </li>
                    <li>
                        B. Neurogeninis šokas
                    </li>
                    <li>
                        C. Obstrukcinis šokas
                    </li>
                    <li>
                        D. Sepsinis šokas
                    </li>
                    <li>
                        E. Kardiogeninis šokas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.40</b> Ką nurodo kapnografijos metu nustatomo CO2 iškvepiamame ore rodmuo suaugusiojo gaivinimo metu?
	
	
		</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.59. 5 mm Hg
                    </li>
                    <li>
                        2 - 20.60. 35 mm Hg
                    </li>
                    <li>
                        3 - 20.61. 15 mm Hg
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Reikia pagerinti krūtinės paspaudimų kokybę
                    </li>
                    <li>
                        B. Krūtinės paspaudimų kokybė yra gera
                    </li>
                    <li>
                        C. Galimai atsistatė širdies veikla
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.41</b> Koks yra komos gylis pagal Glasgow komos skalę (GKS)?	

	
	</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.62. GCS 13-15
                    </li>
                    <li>
                        2 - 20.63. GCS 9-12
                    </li>
                    <li>
                        3 - 20.64. GCS mažiau už 8
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sunki
                    </li>
                    <li>
                        B. Vidutinė
                    </li>
                    <li>
                        C. Lengva
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.42</b> Kuriuos adrenoreceptorius veikia kiekvienas nurodytas adrenomimetinis vaistas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 20.90. Epinefrinas
                    </li>
                    <li>
                        2 - 20.91. Norepinefrinas
                    </li>
                    <li>
                        3 - 20.92. Dopaminas
                    </li>
                    <li>
                        4 - 20.93. Fenilefrinas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Veikia tik alfa adrenoreceptorius
                    </li>
                    <li>
                        B. Veikia tik beta adrenoreceptorius
                    </li>
                    <li>
                        C. Veikia alfa ir beta adrenoreceptorius
                    </li>
                    <li>
                        D. Veikia alfa, beta ir dopaminerginius adrenoreceptorius
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>48.43 </b> Kurių kritinių būklių atvejais vartojamos kalcio druskos?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hiperkalemija
                    </li>
                    <li>
                        2. Beta-blokatorių perdozavimas
                    </li>
                    <li>
                        3. Hipokalcemija
                    </li>
                    <li>
                        4. Kalcio antagonistų perdozavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.44 </b> Kaip turi būti pradėtas teikti pradinis gaivinimas visiškai užspringusiam sąmoningam suaugusiajam?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Bandyti pašalinti svetimkūnį pirštu
                    </li>
                    <li>
                        2. Taikyti Heimlicho metodą stovint
                    </li>
                    <li>
                        3. Taikyti Heimlicho metodą gulint
                    </li>
                    <li>
                        4. Suduoti smūgį į tarpumentę 5 kartus, po to 5 kartus taikyti Heimlicho metodą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.45 </b> Kuriais kraujotakos išnykimo atvejais turi būti taikoma elektrinė širdies defibriliacija?


</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Asistolija
                    </li>
                    <li>
                        2. Skilvelių virpėjimas
                    </li>
                    <li>
                        3. Elektromechaninė disociacija
                    </li>
                    <li>
                        4. Skilvelinė tachikardija be pulso
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.46 </b> Pagrindiniai gydymo po gaivinimo komponentai pirmosiomis valandomis yra:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Optimali sisteminė perfuzija
                    </li>
                    <li>
                        2. Normokapnija, normoksemija
                    </li>
                    <li>
                        3. Terapinė hipotermija
                    </li>
                    <li>
                        4. Normotermija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.47 </b> Kurie vaistai gaivinimo metu gali būti švirkščiami į kaulų čiulpus?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Epinefrinas
                    </li>
                    <li>
                        2. Lidokainas
                    </li>
                    <li>
                        3. Amiodaronas
                    </li>
                    <li>
                        4. Magnio sulfatas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.48 </b> Kurių būklių metu turi būti taikoma elektrinė širdies stimuliacija?

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skilvelių virpėjimas
                    </li>
                    <li>
                        2. Skilvelių tachikardija
                    </li>
                    <li>
                        3. Elektromechaninė disociacija
                    </li>
                    <li>
                        4. Nestabili bradikardija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.49 </b> Pacientas gaivinamas pagal skilvelių virpėjimo algoritmą. Skilvelių virpėjimas išlieka ir po trečio defibriliacijos impulso. Kuriuos vaistus toliau planuojate skirti intraveniškai ar į kaulų čiulpus?	</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Natrio bikarbonatas 
                    </li>
                    <li>
                        2. Amiodaronas 
                    </li>
                    <li>
                        3. Atropinas 
                    </li>
                    <li>
                        4. Epinefrinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.50 </b> Gaivindami epinefriną naudosite, jei monitoriuje bus registruojamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skilvelių virpėjimas
                    </li>
                    <li>
                        2. Asistolija
                    </li>
                    <li>
                        3. Skilvelių tachikardija be pulso
                    </li>
                    <li>
                        4. Elektromechaninė disociacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.51 </b> Kada esant hipovoleminiam šokui, centrinis veninis kraujospūdis gali būti ne sumažėjęs, o padidėjęs?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pneumotoraksas
                    </li>
                    <li>
                        2. Širdies tamponada
                    </li>
                    <li>
                        3. Oro embolija
                    </li>
                    <li>
                        4. Širdies kontuzija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.52 </b> Kokie yra pooperacinio laikotarpio giliųjų venų trombozių išsivystymo rizikos veiksniai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nutukimas
                    </li>
                    <li>
                        2. Nėštumas
                    </li>
                    <li>
                        3. Piktybiniai procesai
                    </li>
                    <li>
                        4. Estrogenų vartojimas
                    </li>
                    <li>
                        5. Paralyžiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.53 </b> Kurios priemonės turi būti taikomos, teikiant pirmą pagalbą hemoraginio šoko atveju, įvykus traumai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Paguldyti ligonį horizontalioje padėtyje
                    </li>
                    <li>
                        2. Stabdyti kraujavimą
                    </li>
                    <li>
                        3. Imobilizuoti lūžgalius
                    </li>
                    <li>
                        4. Pradėti hipovolemijos korekciją izotoniniu NaCl tirpalu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.54 </b> Kurios patologinės būklės riboja infuzinės terapijos tūrį?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kvėpavimo funkcijos nepakankamumas
                    </li>
                    <li>
                        2. Širdies funkcijos nepakankamumas
                    </li>
                    <li>
                        3. Kepenų funkcijos nepakankamumas
                    </li>
                    <li>
                        4. Inkstų funkcijos nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.55 </b> Kurios priemonės tinka respiracinio distreso sindromo gydymui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ekstrakorporinė membraninė oksigenacija
                    </li>
                    <li>
                        2. Dirbtinė plaučių ventiliacija
                    </li>
                    <li>
                        3. Gliukokortikoidai
                    </li>
                    <li>
                        4. Nesteroidiniai priešuždegiminiai vaistai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.56 </b> Kurie vaistai kontraindikuotini sunkaus astminio priepuolio atveju?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kodeinas
                    </li>
                    <li>
                        2. Sedaciniai
                    </li>
                    <li>
                        3. Beta-adrenoblokatoriai
                    </li>
                    <li>
                        4. Eufilinas
                    </li>
                    <li>
                        5. Prednizolonas
                    </li>
                    <li>
                        6. Ipratropiumo bromidas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.57 </b> Oligoanurinio ūminio inkstų funkcijos nepakankamumo komplikacijos – plaučių edemos – gydymui netinka:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nitratai
                    </li>
                    <li>
                        2. Oksigenoterapija
                    </li>
                    <li>
                        3. Hemodializė
                    </li>
                    <li>
                        4. Diuretikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.58 </b> Kurie vaistai tinka eklampsijos metu išsivysčiusios hipertenzijos korekcijai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Natrio nitroprusidas
                    </li>
                    <li>
                        2. Diazoksidas
                    </li>
                    <li>
                        3. Labetalolio hidrochloridas
                    </li>
                    <li>
                        4. Hidralazinas
                    </li>
                    <li>
                        5. Klofelinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.59 </b> Kaip turi būti gydoma ūminiu miokardo infarktu sergančiam ligoniui išsivysčiusi plaučių edema?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Saluretikais
                    </li>
                    <li>
                        2. Nitratais
                    </li>
                    <li>
                        3. Fosfodiesterazės III inhibitoriais
                    </li>
                    <li>
                        4. Morfinu
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>48.60</b> 64 m. moteris gydoma reanimaciniame skyriuje dėl Q bangos priekinės kairiojo skilvelio sienos miokardo infarkto. Trečią ligos parą staiga neteko sąmonės. Kvėpavimas gilus, triukšmingas, miego arterijos pulso apčiuopti nepavyksta, kardiomonitoriuje matomas sinusinis ritmas. 
Kokia ligonės diagnozė?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apalpimas
                    </li>
                    <li>
                        B. Kardiogeninis šokas
                    </li>
                    <li>
                        C. Kraujotakos išnykimas dėl elektromechaninės disociacijos
                    </li>
                    <li>
                        D. Koma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.61</b> 64 m. moteris gydoma reanimaciniame skyriuje dėl Q bangos priekinės kairiojo skilvelio sienos miokardo infarkto. Trečią ligos parą staiga neteko sąmonės. Kvėpavimas gilus, triukšmingas, miego arterijos pulso apčiuopti nepavyksta, kardiomonitoriuje matomas sinusinis ritmas. 
Kaip turi būti suteikta pagalba ligonei?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nedelsiant pradėti krūtinės paspaudimus, į veną švirkšti 1 mg epinefrino ir vėl tęsti krūtinės paspaudimus bei bandyti nustatyti ir šalinti tokią būklę sukėlusią priežastį
                    </li>
                    <li>
                        B. Skirti dopamino infuziją
                    </li>
                    <li>
                        C. Skirti oksigenoterapiją ir švirkšti 10 mg epinefrino į/r
                    </li>
                    <li>
                        D. Paguldyti horizontaliai ir skirti oksigenoterapiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.62</b> Ligonis staiga neteko sąmonės. Miego arterijos pulsas neapčiuopiamas, kvėpavimas gilus, retas, triukšmingas, kardiomonitoriuje matomi tik P danteliai, o QRS kompleksų nėra. 
Dėl kurios priežasties išnyko kraujotaka?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skilvelių virpėjimas
                    </li>
                    <li>
                        B. Prieširdžių virpėjimas
                    </li>
                    <li>
                        C. Asistolija
                    </li>
                    <li>
                        D. Elektromechaninė disociacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.63</b> Ligonis staiga neteko sąmonės. Miego arterijos pulsas neapčiuopiamas, kvėpavimas gilus, retas, triukšmingas, kardiomonitoriuje matomi tik P danteliai, o QRS kompleksų nėra. 
Kurie vaistai turi būti skiriami šio ligonio gaivinimui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Epinefrinas ir lidokainas
                    </li>
                    <li>
                        B. Epinefrinas
                    </li>
                    <li>
                        C. Atropinas ir lidokainas
                    </li>
                    <li>
                        D. Jokių vaistų vartoti negalima
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.64</b> Trisdešimtmetis vyras dėl dešiniojo šlaunikaulio lūžio po motociklo autoįvykio pateko į ligoninę. Po 3 dienų pacientui padidėjo kvėpavimo dažnis ir išsivyste encefalopatija. Apžiūrint pastebėti petechiniai bėrimai krūtinės ląstos srityje. Kraujo dujos: pO2 yra 50, pCO2 - 28 mm Hg, pH 7,49. 
Kuri diagnozė labiausiai tikėtina?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių edema
                    </li>
                    <li>
                        B. Plaučių kontuzija
                    </li>
                    <li>
                        C. Riebalų embolija
                    </li>
                    <li>
                        D.  Plaučių arterijos tromboembolija
                    </li>
                    <li>
                        E. Pneumonija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.65</b> Trisdešimtmetis vyras dėl dešiniojo šlaunikaulio lūžio po motociklo autoįvykio pateko į ligoninę. Po 3 dienų pacientui padidėjo kvėpavimo dažnis ir išsivyste encefalopatija. Apžiūrint pastebėti petechiniai bėrimai krūtinės ląstos srityje. Kraujo dujos: pO2 yra 50, pCO2 - 28 mm Hg, pH 7,49. 
Kuri iš nurodytų gydymo taktikų turi būti pasirinkta?	</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ankstyva diagnostika ir adekvatus simptominis gydymas
                    </li>
                    <li>
                        B. Euvolemijos palaikymas, antikoaguliantai, gliukokortikoidai
                    </li>
                    <li>
                        C. Euvolemijos palaikymas, antikoaguliantai, deguonies terapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.66</b> Į intensyviosios terapijos skyrių hospitalizuota ligonė, kuri savaitę laiko badavo. Skundžiasi silpnumu, galvos svaigimu ir pykinimu. Oda ir gleivinės sausos, odos turgoras bogas, AKS–80/60 mmHg. Lab. tyrimai: Hb–170 g/l, hematokritas –0,65, Na⁺–115 mmol/l, Cl- 76 mmol/l, kraujo plazmos osmosinis slėgis – 260 mmol/kg H₂O. 
Kokia ligonės dehidratacijos forma?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Izotoninė
                    </li>
                    <li>
                        B. Hipotoninė
                    </li>
                    <li>
                        C. Hipertoninė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.67</b> Į intensyviosios terapijos skyrių hospitalizuota ligonė, kuri savaitę laiko badavo. Skundžiasi silpnumu, galvos svaigimu ir pykinimu. Oda ir gleivinės sausos, odos turgoras bogas, AKS–80/60 mmHg. Lab. tyrimai: Hb–170 g/l, hematokritas –0,65, Na⁺–115 mmol/l, Cl- 76 mmol/l, kraujo plazmos osmosinis slėgis – 260 mmol/kg H₂O. 
Kaip turi būti koreguojama dehidratacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 5% gliukozės tirpalu
                    </li>
                    <li>
                        B. 0.9% NaCl tirpalu
                    </li>
                    <li>
                        C. Izotoniniu-izojoniniu elektrolitų tirpalu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.68</b> Ištyrus kraujo plazmą rasta: K⁺ – 2 mmol/l, Cl⁻ – 79 mmol/l. 
Kokį kalio kiekį mmol reikia pridėti į 1 litrą infuzinio tirpalo ir kokiu greičiu lašinti?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 20 mmol/l, 10 mmol/val.
                    </li>
                    <li>
                        B. 40 mmol/l, 20 mmol/val.
                    </li>
                    <li>
                        C. 60 mmol/l, 30 mmol/val.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.69</b> 22 m. moteris stacionarizuota dėl eklampsijos. Yra didžiulės periferinės edemos. Kokie šios būklės patofiziologiniai mechanizmai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipernatremija, hiperchloremija ir hipervolemija
                    </li>
                    <li>
                        B. Padidėjęs periferinių kraujagyslių rezistentiškumas, padidėjęs jų pralaidumas ir hipovolemija
                    </li>
                    <li>
                        C. Sumažėjęs kraujo plazmos onkotinis slėgis (hipoalbuminemija)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.70</b> 22 m. moteris stacionarizuota dėl eklampsijos. Yra didžiulės periferinės edemos. Kaip turi būti gydoma diagnozuota būklė?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirti saluretikus ir apriboti NaCl kiekį
                    </li>
                    <li>
                        B. Koreguoti hipovolemiją
                    </li>
                    <li>
                        C. Koreguoti hipoalbuminemiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.71</b> Sergančiam aspiracine pneumonija ligoniui temperatūra pakilo iki 41,2ºC. Paskirti antipiretikai ir išorinis bei vidinis kūno šaldymas. 
Kuri iš nurodytų kūno išorinio šaldymo priemonių yra efektyviausia?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ledai ant stambių kraujagyslių
                    </li>
                    <li>
                        B. Šalto vandens vonios
                    </li>
                    <li>
                        C. Kūno drėkinimas šiltu vandeniu ir garinimas elektriniais džiovintuvais
                    </li>
                    <li>
                        D. Kūno drėkinimas šaltu vandeniu ir garinimas elektriniais džiovintuvais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.72</b> Sergančiam aspiracine pneumonija ligoniui temperatūra pakilo iki 41,2ºC. Paskirti antipiretikai ir išorinis bei vidinis kūno šaldymas. 
Kuri iš nurodytų kūno vidinio šaldymo priemonių yra efektyviausia?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šalto tirpalo infuzijos į/v
                    </li>
                    <li>
                        B. Šalto tirpalo klizmos
                    </li>
                    <li>
                        C. Skrandžio levažas šaltu izotoniniu vandeniu
                    </li>
                    <li>
                        D. Šlapimo pūslės levažas šaltu tirpalu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.73</b> Sunkaus astminio priepuolio metu ligonis skundžiasi oro stoka. Kvėpavimo dažnis –18 k/min., ŠSD –120 k/min., abiejuose plaučiuose girdimi sausi švilpiantys karkalai. Kraujo dujos: pH –7,35, BE –(–) 1 mmol/l, pCO₂ – 30 mmHg, pO₂ – 70 mmHg. 
Koks turi būti paskirtas gydymas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Oksigenoterapija, beta2 agonistai, prednizolonas, skysčiai 
                    </li>
                    <li>
                        B. Eufilinas ir prednizolonas
                    </li>
                    <li>
                        C. Beta2 agonistai, atropinas, eufilinas ir oksigenoterapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.74</b> Sunkaus astminio priepuolio metu ligonis skundžiasi oro stoka. Kvėpavimo dažnis –18 k/min., ŠSD –120 k/min., abiejuose plaučiuose girdimi sausi švilpiantys karkalai. Kraujo dujos: pH –7,35, BE –(–) 1 mmol/l, pCO₂ – 30 mmHg, pO₂ – 70 mmHg. 
Gydant kvėpavimas padažnėjo iki 30 k/min, paryškėjo hipoksemija: pO₂ – 45 mmHg, pCO₂ 40 mmHg, pH –7,30. Kaip toliau turi būti gydomas ligonis?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tęsti tą patį gydymą, ligonį intubuoti, pradėti dirbtinę plaučių ventiliaciją
                    </li>
                    <li>
                        B. Ligonį intubuoti, pradėti dirbtinę plaučių ventiliaciją ir organizuoti bronchų levažą
                    </li>
                    <li>
                        C. Tęsti tą patį gydymą, tik padidinti prednizolono dozę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.75</b> Į intensyvios terapijos skyrių atvežtas pirmine arterine hipertenzija sergantis 50 m. vyras. Šį rytą pajuto labai stiprų skausmą už krūtinkaulio. Pacientas išblyškęs, ŠSD – 105 k/min., AKS – dešinėje rankoje – 170/100 mmHg, kairėje – 225/145 mmHg, aortos vožtuvo projekcijoje girdimas diastolinis ūžesys, EKG – kairiojo skilvelio hipertrofijos požymiai. 
Kokia ligos diagnozė?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis miokardo infarktas
                    </li>
                    <li>
                        B. Disekuojanti aortos aneurizma
                    </li>
                    <li>
                        C. Hipertenzinė krizė ir ūminis miokardo infarktas
                    </li>
                    <li>
                        D. Hipertenzinė krizė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.76</b> Į intensyvios terapijos skyrių atvežtas pirmine arterine hipertenzija sergantis 50 m. vyras. Šį rytą pajuto labai stiprų skausmą už krūtinkaulio. Pacientas išblyškęs, ŠSD – 105 k/min., AKS – dešinėje rankoje – 170/100 mmHg, kairėje – 225/145 mmHg, aortos vožtuvo projekcijoje girdimas diastolinis ūžesys, EKG – kairiojo skilvelio hipertrofijos požymiai. 
Kuris vaistas turi būti paskirtas AKS mažinimui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Fentolaminas
                    </li>
                    <li>
                        B. Natrio nitroprusidas ir beta-adrenoblokatoriai
                    </li>
                    <li>
                        C. Diazoksidas
                    </li>
                    <li>
                        D. Hidralazinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.78</b> Ištyrus kraujo plazmą rasta: K⁺ – 2 mmol/l, Cl⁻ – 79 mmol/l.
Kiek maksimaliai reikia suvartoti K⁺ per parą?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 100 mmol/24 h
                    </li>
                    <li>
                        B. 200 mmol/24 val.
                    </li>
                    <li>
                        C. 300 mmol/24 val.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.79</b> Į intensyviosios terapijos skyrių hospitalizuotas sujaudintas ligonis. Kvėpavimas paviršinis, oda melsva. AKS  170/90 mmHg, pH 7.1, pCO2 80 mmHg, BE 10 mmol/l, pO2 60 mmHg.
Kurį šarmų-rūgščių balanso sutrikimą įtarsite?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Metabolinė acidozė
                    </li>
                    <li>
                        B. Metabolinė alkalozė
                    </li>
                    <li>
                        C. Respiracinė acidozė
                    </li>
                    <li>
                        D. Respiracinė alkalozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>48.80</b> Į intensyviosios terapijos skyrių hospitalizuotas sujaudintas ligonis. Kvėpavimas paviršinis, oda melsva. AKS  170/90 mmHg, pH 7.1, pCO2 70 mmHg, BE 10 mmol/l, pO2 60 mmHg.
Šio sutrikimo korekcijai naudosite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 4.2% arba 8.4% Sol. NaHCO3 IV
                    </li>
                    <li>
                        B. Oksigenoterapija per kaukę
                    </li>
                    <li>
                        C. Endotrachėjinė intubacija ir dirbtinė plaučių ventiliacija
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>48.1 - 

                A
            </td>
            <td>48.2 - 

                C
            </td>
            <td>48.3 - 

                D
            </td>
            <td>48.4 - 

                A
            </td>
            <td>48.5 - 

                A
            </td>
            <td>48.6 - 

                B
            </td>
            <td>48.7 - 

                B
            </td>
            <td>48.8 - 

                A
            </td>
                </tr><tr>
            <td>48.9 - 

                C
            </td>
            <td>48.10 - 

                A
            </td>
            <td>48.11 - 

                B
            </td>
            <td>48.12 - 

                D
            </td>
            <td>48.13 - 

                A
            </td>
            <td>48.14 - 

                B
            </td>
            <td>48.15 - 

                B
            </td>
            <td>48.16 - 

                A
            </td>
                </tr><tr>
            <td>48.17 - 

                C
            </td>
            <td>48.18 - 

                C
            </td>
            <td>48.19 - 

                C
            </td>
            <td>48.20 - 

                B
            </td>
            <td>48.21 - 

                C
            </td>
            <td>48.22 - 

                C
            </td>
            <td>48.23 - 

                C
            </td>
                </tr><tr>
            <td>48.24
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
            </ul></td>
            <td>48.25
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>48.26
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
            </ul></td>
            <td>48.27
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - B </li>
                <li>5 - B </li>
                <li>6 - B </li>
            </ul></td>
            <td>48.28
            <ul>
                <li>1 - A </li>
                <li>2 - E </li>
                <li>3 - C </li>
                <li>4 - B </li>
                <li>5 - D </li>
            </ul></td>
            <td>48.29
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>48.30
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>48.31
            <ul>
                <li>1 - H </li>
                <li>2 - F </li>
                <li>3 - D </li>
                <li>4 - C </li>
                <li>5 - A </li>
            </ul></td>
                </tr><tr>
            <td>48.32
            <ul>
                <li>1 - A </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - B </li>
                <li>5 - A </li>
            </ul></td>
            <td>48.33
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
            </ul></td>
            <td>48.34
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
            </ul></td>
            <td>48.35
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - A </li>
                <li>5 - C </li>
                <li>6 - A </li>
            </ul></td>
            <td>48.36
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - B </li>
            </ul></td>
            <td>48.37
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
            </ul></td>
            <td>48.38
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>48.39
            <ul>
                <li>1 - A </li>
                <li>2 - E </li>
                <li>3 - C </li>
                <li>4 - E </li>
            </ul></td>
                </tr><tr>
            <td>48.40
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>48.41
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>48.42
            <ul>
                <li>1 - C </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
                </tr><tr>
            <td>48.43
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>48.44
            <ul>
                <li>4</li>
            </ul></td>
            <td>48.45
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>48.46
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>48.47
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>48.48
            <ul>
                <li>4</li>
            </ul></td>
            <td>48.49
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>48.50
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>48.51
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>48.52
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>48.53
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>48.54
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>48.55
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>48.56
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>48.57
            <ul>
                <li>4</li>
            </ul></td>
            <td>48.58
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
                </tr><tr>
            <td>48.59
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>48.60 - 

                C
            </td>
            <td>48.61 - 

                A
            </td>
            <td>48.62 - 

                C
            </td>
            <td>48.63 - 

                B
            </td>
            <td>48.64 - 

                C
            </td>
            <td>48.65 - 

                A
            </td>
            <td>48.66 - 

                B
            </td>
            <td>48.67 - 

                B
            </td>
                </tr><tr>
            <td>48.68 - 

                B
            </td>
            <td>48.69 - 

                B
            </td>
            <td>48.70 - 

                B
            </td>
            <td>48.71 - 

                C
            </td>
            <td>48.72 - 

                A
            </td>
            <td>48.73 - 

                A
            </td>
            <td>48.74 - 

                A
            </td>
            <td>48.75 - 

                B
            </td>
                </tr><tr>
            <td>48.76 - 

                B
            </td>
            <td>48.78 - 

                B
            </td>
            <td>48.79 - 

                C
            </td>
            <td>48.80 - 

                C
            </td>

</tr></tbody></table></div>