<div class="Centre Kategorija">Kardiochirurgija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>11.1</b> Kas yra kaniuliuojama dirbtinės kraujo apytakos metu, atliekant vainikinių jungčių suformavimo ir dviburio vožtuvo plastikos operaciją ?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aorta, v. cava superior et inferior.
                    </li>
                    <li>
                        B. Arteria femoralis, v. cava inferior.
                    </li>
                    <li>
                        C. Aorta, v. cava inferior.
                    </li>
                    <li>
                        D. Arteria femoralis, v. femoralis.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.2</b> Ligoniui nustatytas kairiosios vainikinės arterijos kamieno 75% susiaurėjimas, kairiojo skilvelio funkcija nesutrikusi, kartojasi krūtinės anginos epizodai. Koks gydymo metodas šiuo atveju reikalingas ?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vainikinių jungčių suformavimo operacija.
                    </li>
                    <li>
                        B. Perkutaninė vainikinių arterijų angioplastika.
                    </li>
                    <li>
                        C. Medikamentinis gydymas.
                    </li>
                    <li>
                        D. Stebėjimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.3</b> Renalinės arterijos susiaurinimas sukelia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Proteonuriją.
                    </li>
                    <li>
                        B. Azotemiją.
                    </li>
                    <li>
                        C. Art. hipertenziją.
                    </li>
                    <li>
                        D. Pyelonefritą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.4</b> Falo tetrada:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Priskiriama baltųjų ydų grupė, kurią sudaro plautinio kamieno stenozė, skilvelio pertvaros defektas, aortos koorktacija, kairio skilvelio hipertrofija
                    </li>
                    <li>
                        B. Priskiriama mėlynųjų ydų grupei, kurią sudaro plautinio kamieno stenozė, skilvelio pertvaros defektas, aortos dextra pozicija, dešinio skilvelio hipertrofija
                    </li>
                    <li>
                        C. Priskiriama nešuntinių ydų grupei, kurią sudaro plautinio kamieno stenozė, prieširdžių pertvaros defektas,dešinio skilvelio hipertrofija,mitralinio vožtuvo nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.5</b> Kuriai ydų klasifikacijų grupei (pagal M.Abbott) priklauso aortos koarktacijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nešuntinių ydų grupei.
                    </li>
                    <li>
                        B. Šuntinių “baltųjų ydų” grupei.
                    </li>
                    <li>
                        C. Šuntinių “mėlynųjų ydų” grupei.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.6</b> Kritinė aortos vožtuvo stenozė 70 metų vyrui su gera kairio skilvelio funkcija, sinusiniu ritmu.</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Protezavimas mechaniniu protezu.
                    </li>
                    <li>
                        B. Protezavimas bioprotezu.
                    </li>
                    <li>
                        C. Aortos vožtuvo plastika.
                    </li>
                    <li>
                        D. Konservatyvus gydymas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.7</b> Operuojama sustabdant kraujotaką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Protezuojant aortos vožtuvą.
                    </li>
                    <li>
                        B. Protezuojant kylančią aortą.
                    </li>
                    <li>
                        C. Keičiant du ar daugiau širdies vožtuvų.
                    </li>
                    <li>
                        D. Protezuojant aortos lanką.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.8</b> Kokią komplikaciją po širdies operacijos galima įtarti, didėjant veniniam spaudimui, mažėjant arteriniam kraujo spaudimui ir mažėjant diurezei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vidinį kraujavimą.
                    </li>
                    <li>
                        B. Širdies tamponadą.
                    </li>
                    <li>
                        C. Pneumotoraksą.
                    </li>
                    <li>
                        D. Pneumomediastinumą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.9</b> Gydymo taktika, nustačius kylančiosios aortos atsisluoksniavimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Konservatyvus gydymas
                    </li>
                    <li>
                        B. Aortos endoprotezavimas
                    </li>
                    <li>
                        C. Skubi operacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.10</b> Gydymo taktika, esant ūmiam didelio laipsnio dviburio vožtuvo nesandarumui dėl trūkusio papiliarinio raumens:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Konservatyvus gydymas
                    </li>
                    <li>
                        B. Skubiai atliekant mitralinio vožtuvo plastiką (protezavimą)
                    </li>
                    <li>
                        C. Mitralinio vožtuvo plastika (protezavimas) po 2 mėnesių.
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>11.11</b> Kokia operacija turi būti daroma nurodytos ligos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Esant dviburio aortos vožtuvo stenozei ir proksimalinės aortos dalies išsiplėtimui
                    </li>
                    <li>
                        2 - Esant kairiosios širdies vainikinės arterijos daugiau nei 70 proc. stenozei
                    </li>
                    <li>
                        3 - Kai 55 metų ligoniui nustatyta kritinė aortos vožtuvo stenozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Vožtuvo protezavimas mechaniniu vožtuvu
                    </li>
                    <li>
                        B. Aortos vožtuvo ir kylančios aortos dalies protezavimas
                    </li>
                    <li>
                        C. Vainikinių jungčių suformavimo operacija
                    </li>
                    <li>
                        D. Vožtuvo pakeitimas biologiniu vožtuvu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.12</b> Kokios kraujagyslės yra kaniuliuojamos norint pajungti dirbtinę kraujo apytaką, kai norima</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Atlikti širdies vainikinių arterijų suformavimo operaciją
                    </li>
                    <li>
                        2 - Plastikuoti  dviburį širdies vožtuvą
                    </li>
                    <li>
                        3 - Plastikuoti trivartį širdies vožtuvą
                    </li>
                    <li>
                        4 - Plastikuoti prieširdžių pertvaros defektą
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Aorta, viršutinė ir apatinė tuščiosios venos
                    </li>
                    <li>
                        B. Aorta, dešinysis prieširdis ir apatinė tuščioji vena (dvipakopė veninė kaniulė)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.13</b> Kokios paliatyvinės širdies operacijos turi būti atliekamos nurodytos įgimtos širdies ydos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Falo tetrados metu
                    </li>
                    <li>
                        2 - Kai yra daugybiniai skilvelių pertvaros defektai ir padidėjęs kraujo spaudimas plaučių arterijoje
                    </li>
                    <li>
                        3 - Esant stambiųjų kraujagyslių susikeitimui
                    </li>
                    <li>
                        4 - Kai yra hipoplastinis dešinysis skilvelis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. &nbsp;&nbsp;&nbsp; Plaučių arterijos susiaurinimo operacija
                    </li>
                    <li>
                        B. &nbsp;&nbsp;&nbsp;&nbsp; Blalock – Taussig operacija
                    </li>
                    <li>
                        C. &nbsp;&nbsp;&nbsp;&nbsp; Dešinį skilvelį šuntuojančios operacijos
                    </li>
                    <li>
                        D. &nbsp;&nbsp;&nbsp; Prieširdinės septektomijos ar septostomijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.14</b> Kuri operacija gali  būti atliekama kiekvienos nurodytos įgimtos širdies ydos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Aortos koarktacija
                    </li>
                    <li>
                        2 - Atviras arterinis (Botalo) latakas
                    </li>
                    <li>
                        3 - Skilvelių pertvaros defektas (pradinė plaučių hipertenzijos stadija)
                    </li>
                    <li>
                        4 - Fallo tetrada
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Skilvelių pertvaros defekto plastika ir plaučių arterijos stenozės korekcija
                    </li>
                    <li>
                        B. Skilvelių pertvaros defekto plastika, panaudojant dirbtinę kraujo apytaką (DKA)
                    </li>
                    <li>
                        C. Perrišimas (ligatio)
                    </li>
                    <li>
                        D. Rezekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.15</b> Kurią operaciją pasirinktumėte, jei ligonis serga</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Morfano sindromu ir III laipsnio aortos vožtuvo nesandarumu
                    </li>
                    <li>
                        2 - Mitralinio vožtuvo III laipsnio nesandarumas dėl mitralinio vožtuvo miksoidinės degeneracijos
                    </li>
                    <li>
                        3 - Hipertrofine kardiomiopatija su ryškia povožtuvine aortos angos stenoze
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. &nbsp;&nbsp;&nbsp; Vožtuvo protezavimas
                    </li>
                    <li>
                        B. &nbsp;&nbsp;&nbsp;&nbsp; Davido (plastinė aortos) operacija
                    </li>
                    <li>
                        C. &nbsp;&nbsp;&nbsp;&nbsp; Plastinė vožtuvo operacija
                    </li>
                    <li>
                        D. &nbsp;&nbsp;&nbsp; Miektomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.16</b> Kuris operacijos metodas turi būti parinktas kiekvienos nurodytos ligos gydymui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Reino liga
                    </li>
                    <li>
                        2 - Pilvo aortos aneurizma
                    </li>
                    <li>
                        3 - Larišo sindromas
                    </li>
                    <li>
                        4 - Šlaunies arterijos okliuzija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Rezekcija ir protezavimas
                    </li>
                    <li>
                        B. Simpatektomija
                    </li>
                    <li>
                        C. Endarterektomija
                    </li>
                    <li>
                        D. Šuntavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.17</b> Ūminis galūnių arterijų nepraeinamumas sukelia įvairaus laipsnio ischemiją. Kuris simptomas būdingas kiekvieno nurodyto laipsnio ischemijai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - I° ischemija
                    </li>
                    <li>
                        2 - II° ischemija
                    </li>
                    <li>
                        3 - III° ischemija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Jutimo sutrikimas ir hipodinamija
                    </li>
                    <li>
                        B. Tirpimas ir pabalimas
                    </li>
                    <li>
                        C. Sąnarių sustingimas ir audinių sustandėjimas
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>11.18 </b> Kurie svarbiausi ūminio galūnių arterijų nepraeinamumo simptomai nulemia chirurginio gydymo taktiką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Galūnės skausmas
                    </li>
                    <li>
                        2. Jutimo sutrikimai
                    </li>
                    <li>
                        3. „Skruzdžių bėgiojimo“ jausmas ir tirpimas
                    </li>
                    <li>
                        4. Hipodinamija
                    </li>
                    <li>
                        5. Galūnės odos temperatūros sumažėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.19 </b> Kurie pirminės venų varikozės etiologijos ir patogenezės veiksniai yra svarbiausi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Veninė hipertenzija
                    </li>
                    <li>
                        2. Nėštumas
                    </li>
                    <li>
                        3. Venų vožtuvų displazija
                    </li>
                    <li>
                        4. Stovimas darbas
                    </li>
                    <li>
                        5. Lėtinis kosulys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.20 </b> Kurie požymiai nulemia būtinumą chirurgiškai koreguoti reumatinę širdies ydą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dusulys fizinio įtempimo metu
                    </li>
                    <li>
                        2. Židininis parenchiminių organų pažeidimas
                    </li>
                    <li>
                        3. Stenokardija
                    </li>
                    <li>
                        4. Kardialinė astma
                    </li>
                    <li>
                        5. Prieširdžių virpėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.21 </b> Kurios įgimtos širdies ydos yra šuntinės ir kombinuotos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Atviras arterinis latakas
                    </li>
                    <li>
                        2. Skilvelių pertvaros defektas
                    </li>
                    <li>
                        3. Fallo tetrada
                    </li>
                    <li>
                        4. Plaučių arterijos stenozė
                    </li>
                    <li>
                        5. Aortos koarktacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.22 </b> Kurių kraujotakos sutrikimo stadijų metu indikuotinas chirurginis pertvarų defekto uždarymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Plaučių hipovolemijos metu
                    </li>
                    <li>
                        2. Maksimalios plaučių arterijos hipertenzijos metu
                    </li>
                    <li>
                        3. Cianozės stadijos metu
                    </li>
                    <li>
                        4. Pradinės plaučių arterijų hipertenzijos metu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.23 </b> Kurių nurodytų požymių metu reikalinga perikardo ertmės punkcija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pūlingas perikarditas
                    </li>
                    <li>
                        2. Girdima perikardo trintis
                    </li>
                    <li>
                        3. Veninis kraujospūdis padidėjęs daugiau negu 200 mm H₂O
                    </li>
                    <li>
                        4. Veninis kraujospūdis svyruoja nuo 100 iki 150 mm H₂O
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.24 </b> Kurie simptomai atspindi pilvo organų arterinės kraujotakos dekompensacinę stadiją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skausmai, kurie atsiranda po valgio praėjus 1–2 val. ir kūno masės mažėjimas
                    </li>
                    <li>
                        2. Nesuvirškintos raumenų skaidulos kaprogramoje
                    </li>
                    <li>
                        3. Stiprus pakrūtinyje girdimas sistolinis ūžesys
                    </li>
                    <li>
                        4. Protarpinis viduriavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.25 </b> Kokia turi būti obliteruojančio endarterito (trombangito) konservatyvaus gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kova su skausmu
                    </li>
                    <li>
                        2. Kraujagyslių spazmų likvidavimas
                    </li>
                    <li>
                        3. Mikrocirkuliacijos pagerinimas
                    </li>
                    <li>
                        4. Audinių pažeidimo ir infekavimo perspėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.26 </b> Kurie simptomai būdingi endarteritui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Protarpinis šlubavimas
                    </li>
                    <li>
                        2. Migruojantis tromboflebitas
                    </li>
                    <li>
                        3. Smulkių arterijų pažeidimas
                    </li>
                    <li>
                        4. Lipoproteidų pagausėjimas kraujyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.27 </b> Kurie mitralinio vožtuvo pakitimai nulemia jo protezavimo būtinybę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skaidulinio (fibrozinio) žiedo ir burių kalcinozė
                    </li>
                    <li>
                        2. Sausgyslinių siūlų sutrumpėjimas
                    </li>
                    <li>
                        3. Burių surandėjimas
                    </li>
                    <li>
                        4. Skaidulinio (fibrozinio) žiedo išsiplėtimas
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>11.28</b> 6 m. vaikas niekuo nesiskundžia, yra judrus ir vystymusi neatsilieka nuo bendraamžių. Nuo gimimo yra ūžesys širdies plote. Klinikiniais tyrimais nustatyta aortos angos stenozė. Kokia turi būti gydytojo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nukreipimas širdies chirurgui
                    </li>
                    <li>
                        B. Stebėjimas (dispanserizacija)
                    </li>
                    <li>
                        C. Širdies zondavimas
                    </li>
                    <li>
                        D. Širdies echoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.29</b> Praėjus 3 paroms po gimdymo, 30 m. moteris staiga atsistojo ir pajuto stiprų krūtinės skausmą, dusulį, o vėliau trumpam neteko sąmonės. Įtarta masyvi plaučių arterijos embolija.Kuris tyrimas turi būti atliktas skubiausiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtinės organų rentgenologinis tyrimas
                    </li>
                    <li>
                        B. EKG
                    </li>
                    <li>
                        C. AKS išmatavimas
                    </li>
                    <li>
                        D. Veninio kraujospūdžio išmatavimas
                    </li>
                    <li>
                        E. Kontrastinė pulmoangiografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.30</b> Praėjus 3 paroms po gimdymo, 30 m. moteris staiga atsistojo ir pajuto stiprų krūtinės skausmą, dusulį, o vėliau trumpam neteko sąmonės. Paaiškėjo, kad yra dešiniosios plaučio arterijos embolija. Arterinė hipotonija laikosi. Kokia turi būti gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Spazmolitikai
                    </li>
                    <li>
                        B. Presoriniai aminai
                    </li>
                    <li>
                        C. Embolektomija
                    </li>
                    <li>
                        D. Filtro įstūmimas į apatinę tuščiąją veną
                    </li>
                    <li>
                        E. Trombolitinė  terapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.31</b> 33 m. ligonei prieš 4 metus buvo implantuotas mitralinio vožtuvo protezas. Metus jautėsi pakankamai gerai. Po to atsirado trumpalaikiai galvos skausmai su laikina kojų parestezija ir tinimu. Kuris tyrimas turi būti atliktas pirmiausia?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. EKG
                    </li>
                    <li>
                        B. Kraujo formulė
                    </li>
                    <li>
                        C. Krūtinės organų rentgenografija
                    </li>
                    <li>
                        D. Širdies echoskopija
                    </li>
                    <li>
                        E. Kraujo krešėjimo rodikliai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.32</b> Į ligoninę atvežė ligonį, kuriam prieš 0,5 val. peiliu įdūrė į krūtinę širdies projekcijoje.Kuris tyrimas turi būti pirmaeilis</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. AKS išmatavimas
                    </li>
                    <li>
                        B. Hb ir Ht tikrinimas
                    </li>
                    <li>
                        C. Veninio kraujospūdžio matavimas
                    </li>
                    <li>
                        D. EKG
                    </li>
                    <li>
                        E. Krūtinės organų rentgenograma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.33</b> Kuris simptomas nebūdingas širdies tamponadai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kaklo venų išsipūtimas
                    </li>
                    <li>
                        B. Cianozė
                    </li>
                    <li>
                        C. Kepenų padidėjimas
                    </li>
                    <li>
                        D. Sumažėjęs centrinis veninis kraujospūdis
                    </li>
                    <li>
                        E. Duslūs širdies tonai ir išnykęs ictus cordis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.34</b> 34 m. negimdžiusi, bet norinti turėti vaikų, moteris serga ryškia reumatinės kilmės kairiosios prieširdinės skilvelio angos stenoze. Yra 20 sav. nėštumas. Kokia turi būti gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skubus nėštumo nutraukimas
                    </li>
                    <li>
                        B. Skubi mitralinio vožtuvo komisurotomija
                    </li>
                    <li>
                        C. Komisurotomija po 1–1,5 mėn.
                    </li>
                    <li>
                        D. Nėštumo observacija ir gimdymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.35</b> Persirgęs miokardo infarktu 74 m. vyras skundžiasi širdies skausmais. Koronarolitiniai vaistai nepadeda. Kuris tyrimas turi būti atliktas pirmiausiai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. EKG
                    </li>
                    <li>
                        B. Širdies echoskopija
                    </li>
                    <li>
                        C. Koronarografija
                    </li>
                    <li>
                        D. Visi nurodyti tyrimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.36</b> Koronarografija parodė gaubiančios šakos difuzinę koronarosklerozę su priekinės tarpskilvelinės šakos ir dešinės vainikinės arterijos 90 proc. susiaurėjimus (širdies išstūmimo frakcija &lt;0,3). Kokia turi būti gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aortokoronarinių veninių jungčių su PTŠ ir DVA suformavimo operacija
                    </li>
                    <li>
                        B. Toracikokoronarinė jungtis su PTŠ, veninė-su DVA
                    </li>
                    <li>
                        C. Konservatyvus gydymas koronarolitikais ir antiagregantais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.37</b> 80 m. moteriai prieš 3 paras atšalo ir tapo nejautri dešinė koja. Objekt. tyrimai: kojos arterijos nepulsuoja, yra visiška anestezija ir paralyžius, čiurnos sąnarys sustingęs, blauzdos raumenys kieti. Koks yra kojos ishemijos laipsnis?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. I°
                    </li>
                    <li>
                        B. II°
                    </li>
                    <li>
                        C. III°
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.38</b> 80 m. moteriai prieš 3 paras atšalo ir tapo nejautri dešinė koja. Objekt. tyrimai: kojos arterijos nepulsuoja, yra visiška anestezija ir paralyžius, čiurnos sąnarys sustingęs, blauzdos raumenys kieti.Kokia turi būti gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirminė embolektomija
                    </li>
                    <li>
                        B. Kojos amputacija
                    </li>
                    <li>
                        C. Vėlyva embolektomija su fasciotomija
                    </li>
                    <li>
                        D. Konservatyvus gydymas heparinu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.39</b> Prieš 6 m. persirgęs miokardo infarktu 65 m. vyras kreipėsi dėl trumpalaikių sąmonės netekimo priepuolių, kurie atsirado prieš 2 savaites. Prieš priepuolius pradeda skaudėti už krūtinkaulio ir sustiprėja dusinimas. Priepuolių atsiradimo pradžią ligonis sieja su atsiradusiu ir nuolat didėjančiu blauzdų tinimu. Kuris tyrimas iš pradžių nėra būtinas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pulso dažnio skaičiavimas
                    </li>
                    <li>
                        B. Kraujospūdžio matavimas
                    </li>
                    <li>
                        C. EKG
                    </li>
                    <li>
                        D. Krūtinės organų rentgenologinis tyrimas
                    </li>
                    <li>
                        E. Encefalografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.40</b> Prieš 6 m. persirgęs miokardo infarktu 65 m. vyras kreipėsi dėl trumpalaikių sąmonės netekimo priepuolių, kurie atsirado prieš 2 savaites. Prieš priepuolius pradeda skaudėti už krūtinkaulio ir sustiprėja dusinimas. Priepuolių atsiradimo pradžią ligonis sieja su atsiradusiu ir nuolat didėjančiu blauzdų tinimu. Objekt. tyrimai: P–40 k/min., reguliarus, AKS–190/90 mmHg, yra širdies nepakankamumo požymiai, EKG–platūs QRS kompleksai, visiška atrioventrikulinė blokada, prieširdžių susitraukimo dažnis – 80 k/min., skilvelių – 40 k/min., rentgenologiškai – ryški kairiojo skilvelio hipertrofija ir staziniai plaučių pakitimai. Koks gydymas turi būti paskirtas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atropinas, izotroterenolis ir euspiranas
                    </li>
                    <li>
                        B. Smegenų kraujotaką gerinantys vaistai
                    </li>
                    <li>
                        C. Laikina širdies elektrostimuliacija
                    </li>
                    <li>
                        D. Nuolatinės širdies elektrostimuliacinės sistemos implantacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.41</b> 70 m. ligonis skundžiasi greitesniu nuovargiu, ypač padidėjusiu pastaraisiais metais. Kartais jaučia širdies permušimus. Kuris tyrimas iš pradžių nėra būtinas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hematograma
                    </li>
                    <li>
                        B. EKG
                    </li>
                    <li>
                        C. Krūtinės organų rentgenologinis tyrimas
                    </li>
                    <li>
                        D. Veloergometrija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.42</b> 70 m. ligonis skundžiasi greitesniu nuovargiu, ypač padidėjusiu pastaraisiais metais. Kartais jaučia širdies permušimus. Objekt. tyrimai: P–40 k/min., AKS–145/75 mmHg, širdies susitraukimų dažnis – 40-44&nbsp;k/min., reguliarus, EKG – visiška AV blokada (P dantenų dažnis – 70 k/min.), QRS kompleksai platūs (40 k/min.), rentgenogramoje – šiek tiek išsiplėtusi širdis. Koks turi būti paskirtas gydymas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuolatinė elektrostimuliacija
                    </li>
                    <li>
                        B. Laikina širdies stimuliacija
                    </li>
                    <li>
                        C. Laikina širdies stimuliacija ir ŠVG
                    </li>
                    <li>
                        D. Širdies ritmą greitinantys vaistai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>11.43</b> 70 m. ligonis prieš 3 metus persirgo miokardo infarktu, kuris komplikavosi kairiojo skilvelio lėtine aneurizma. Koronarografija parodė segmentinį dešiniosios vainikinės arterijos susiaurėjimą (80%) ir kairiosios vainikinės arterijos juosiančios šakos susiaurėjimą (70%) ir priekinės tarpskilvelinės šakos okliuzija su retrogradiniu užsipildymu. Kairiojo skilvelio išstūmimo frakcija – 0,25. Koks gydymas indikuotinas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aortokoronarinių jungčių suformavimas
                    </li>
                    <li>
                        B. Aortokoronarinių jungčių suformavimas ir KS aneurizmektomija
                    </li>
                    <li>
                        C. Konservatyvus gydymas
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>11.1 - 

                A
            </td>
            <td>11.2 - 

                A
            </td>
            <td>11.3 - 

                C
            </td>
            <td>11.4 - 

                B
            </td>
            <td>11.5 - 

                A
            </td>
            <td>11.6 - 

                B
            </td>
            <td>11.7 - 

                D
            </td>
            <td>11.8 - 

                B
            </td>
                </tr><tr>
            <td>11.9 - 

                C
            </td>
            <td>11.10 - 

                B
            </td>
                </tr><tr>
            <td>11.11
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>11.12
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - A </li>
                <li>4 - A </li>
            </ul></td>
            <td>11.13
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>11.14
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
            <td>11.15
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
            </ul></td>
            <td>11.16
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>11.17
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
                </tr><tr>
            <td>11.18
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>11.19
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>11.20
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>11.21
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>11.22
            <ul>
                <li>4</li>
            </ul></td>
            <td>11.23
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>11.24
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>11.25
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>11.26
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>11.27
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>11.28 - 

                D
            </td>
            <td>11.29 - 

                E
            </td>
            <td>11.30 - 

                E
            </td>
            <td>11.31 - 

                D
            </td>
            <td>11.32 - 

                A
            </td>
            <td>11.33 - 

                D
            </td>
            <td>11.34 - 

                C
            </td>
            <td>11.35 - 

                D
            </td>
                </tr><tr>
            <td>11.36 - 

                B
            </td>
            <td>11.37 - 

                C
            </td>
            <td>11.38 - 

                B
            </td>
            <td>11.39 - 

                E
            </td>
            <td>11.40 - 

                D
            </td>
            <td>11.41 - 

                D
            </td>
            <td>11.42 - 

                A
            </td>
            <td>11.43 - 

                B
            </td>

</tr></tbody></table></div>