<div class="Centre Kategorija">Kardiologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>50.1</b> Kurio rodiklio padidėjimas yra specifiškiausias miokardo nekrozės požymis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kreatinfosfokinazės
                    </li>
                    <li>
                        B. Troponino T ar I
                    </li>
                    <li>
                        C. Mioglobino
                    </li>
                    <li>
                        D. Laktatdehidrogenazės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.2</b> Kuriuo atveju sergant miokardo infarktu vystosi kardiogeninis šokas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kai pažeidžiama 15 % kairiojo skilvelio miokardo
                    </li>
                    <li>
                        B. Kai pažeidžiama 25 % kairiojo skilvelio miokardo
                    </li>
                    <li>
                        C. Kai pažeidžiama daugiau kaip 40 % kairiojo skilvelio miokardo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.3</b> Kurie vaistai nevartotini Q bangos plataus priekinio ūminio MI gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Beta adrenoblokatoriai
                    </li>
                    <li>
                        B. Ca kanalų blokatoriai 
                    </li>
                    <li>
                        C. Trombolitikai
                    </li>
                    <li>
                        D. Aspirinas
                    </li>
                    <li>
                        E. AKF inhibitoriai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.4</b> Kuris teiginys apie kairiosios atrioventrikulinės angos  stenozę yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kai ligonis sulaukia 30 metų, jau būna mitralinio vožtuvo kalcinozė
                    </li>
                    <li>
                        B. Kuo atstumas “II tonas - OS” ilgesnis, tuo stenozė ryškesnė
                    </li>
                    <li>
                        C. Perkutaninė baloninė valvuloplastika efektyvi, kai dar nėra vožtuvo kalcinozės
                    </li>
                    <li>
                        D. Kairiosios atrioventrikulinės angos stenoze dažniau serga vyrai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.5</b> Kada anksčiausiai turi būti operuojamas ligonis, kuriam nustatyta aortos angos stenozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Esant I funkcinei klasei
                    </li>
                    <li>
                        B. Atsiradus širdies nepakankamumo požymiams
                    </li>
                    <li>
                        C. Atsiradus prieširdžių virpėjimo paroksizmams
                    </li>
                    <li>
                        D. Išryškėjus krūtinės anginai, kai vidutinis slėgio gradientas &gt;40 mmHg
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.6</b> Kuris širdies tonų pakitimas leidžia įtarti skilvelių diastolinės funkcijos sutrikimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. I tono susilpnėjimas
                    </li>
                    <li>
                        B. I tono skilimas
                    </li>
                    <li>
                        C. Sistolinis klikas
                    </li>
                    <li>
                        D. Presistolinis galopas arba patologinis IV tonas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.7</b> Kurį efektą gali sukelti prostaglandino E infuzija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pagreitinti atviro arterinio latako obliteraciją
                    </li>
                    <li>
                        B. Padidinti plautinę hipertenziją
                    </li>
                    <li>
                        C. Sulėtinti atviro arterinio latako obliteraciją
                    </li>
                    <li>
                        D. Sumažinti kraujo oksigenaciją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.8</b> Kuris tyrimas tiksliausiai parodo kairiosios atrioventrikulinės angos stenozės laipsnį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Fonokardiograma
                    </li>
                    <li>
                        B. Krūtinės organų rentgenoskopija
                    </li>
                    <li>
                        C. Echokardioskopija M režimu
                    </li>
                    <li>
                        D. Dvimatė - doplerinė echokardioskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.9</b> Kuri kairės vainikinės arterijos  6-to segmento 75 % stenozės gydymo taktika yra teisingiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydymas vaistais
                    </li>
                    <li>
                        B. Aortos - koronarinio nuosrūvio operacija
                    </li>
                    <li>
                        C. Stebėjimas ir rizikos faktorių korekcija
                    </li>
                    <li>
                        D. Perkutaninė baloninė angioplastika
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.10</b> Kuri širdies funkcija sutrinka išsivysčius restrikcinei kardiomiopatijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sistolinė
                    </li>
                    <li>
                        B. Diastolinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.11</b> Kuris požymis nebūdingas hipertrofinei kardiomiopatijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Diastolinės funkcijos susilpnėjimas
                    </li>
                    <li>
                        B. Tarpskilvelinės pertvaros sustorėjimas
                    </li>
                    <li>
                        C. Sumažėjusi kairiojo skilvelio ertmė
                    </li>
                    <li>
                        D. Sistolinės funkcijos susilpnėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.12</b> Kuriuo atveju gliukokortikoidai skiriami miokardito gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Esant židininiam miokarditui
                    </li>
                    <li>
                        B. Sunkios eigos ir difuzinio miokardito atveju
                    </li>
                    <li>
                        C. Esant židininiam miokarditui ir ekstrasistolijai
                    </li>
                    <li>
                        D. Lengvos eigos difuzinio miokardito atveju
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.13</b> Kuriuo atveju ligonis turi būti nukreiptas perikardo punkcijos operacijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sergant konstrikciniu perikarditu
                    </li>
                    <li>
                        B. Sergant šlapiuoju perikarditu, kai perikardo ertmėje susikaupia daugiau negu 1000 ml skysčio
                    </li>
                    <li>
                        C. Įvykus širdies tamponadai (nepriklausomai nuo skysčio kiekio perikardo ertmėje)
                    </li>
                    <li>
                        D. Sergant ūminiu sausuoju perikarditu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.14</b> Kuris  širdies vožtuvas  dažniausiai  pažeidžiamas,  sergant infekciniu endokarditu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aortos
                    </li>
                    <li>
                        B. Mitralinis
                    </li>
                    <li>
                        C. Triburis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.15</b> Kuris simptomas priskiriamas “didiesiems” arba pagrindiniams reumato kriterijams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Artralgija
                    </li>
                    <li>
                        B. Karščiavimas
                    </li>
                    <li>
                        C. Disproteinemija
                    </li>
                    <li>
                        D. Poliartritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.16</b> Kuriuo atveju indikuotina greita intraveninė digitalizacija širdies ritmo sutrikimų gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Supraventrikulinio paroksizminio širdies ritmo sutrikimo atveju
                    </li>
                    <li>
                        B. Skilvelinės paroksizminės tachikardijos atveju
                    </li>
                    <li>
                        C. Antidrominės tachikardijos su Volfo-Parkinsono-Vaito sindromų atveju
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.17</b> Kuris požymis nebūdingas izoliuotam dešiniojo skilvelio nepakankamumui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išsipūtusios kaklo venos
                    </li>
                    <li>
                        B. Padidėjusios kepenys
                    </li>
                    <li>
                        C. Staziniai karkalai plaučiuose
                    </li>
                    <li>
                        D. Mažas AKS
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.18</b> Kurie vaistai nevartotini sinusinės tachikardijos gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Beta adrenoblokatoriai (propranololis)
                    </li>
                    <li>
                        B. Ca antagonistai (verapamilio hidrochloridas)
                    </li>
                    <li>
                        C. Širdį veikiantys glikozidai (digoksinas)
                    </li>
                    <li>
                        D. Beta adrenomimetikai (izadrinas)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.19</b> Kuris požymis nebūdingas reumatui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdies vožtuvų pažeidimo simptomai
                    </li>
                    <li>
                        B. Padidėjusi blužnis
                    </li>
                    <li>
                        C. Paraudę ir patinę sąnariai
                    </li>
                    <li>
                        D. Karščiavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.20</b> Kokį gydymo metodą tachiaritmijai mažinti dėl persistuojančio prieširdžių virpėjimo siūlysite pacientui, kuriam yra kardiomegalija ir lėtinis III-IV  funkcinės klasės širdies nepakankamumas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Elektrinė širdies defibriliacija
                    </li>
                    <li>
                        B. AAI tipo kardiostimuliacija
                    </li>
                    <li>
                        C. VVI tipo kardiostimuliacija 
                    </li>
                    <li>
                        D. Digitalizacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.21</b> Koks metodas efektyviausiai apsaugo nuo staigios mirties dėl skilvelių virpėjimo sergančiųjų išemine širdies liga, kuriems po persirgto miokardo infarkto kartojasi sinkopės dėl didelio dažnio skilvelinės paroksizminės tachikardijos priepuolių:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydymas metaprololiu
                    </li>
                    <li>
                        B. Gydymas amiodaronu
                    </li>
                    <li>
                        C. Gydymas digoksinu
                    </li>
                    <li>
                        D. Kardioverterio-defibriliatoriaus implantavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.22</b> Kurie ligoniai priklauso didelės rizikos grupei infekcinio endokardito požiūriu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Turintys prieširdžių pertvaros defektą
                    </li>
                    <li>
                        B. Turintys mitralinio vožtuvo prolapsą be hemodinamikos sutrikimų
                    </li>
                    <li>
                        C. Turintys dirbtinius vožtuvus
                    </li>
                    <li>
                        D. Sergantys hipertrofine kardiomiopatija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.23</b> Kuris preparatas efektyviausias idiopatinio ūminio sausojo perikardito gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tramadolis
                    </li>
                    <li>
                        B. Aspirinas 1 g per parą
                    </li>
                    <li>
                        C. Diklofenakas
                    </li>
                    <li>
                        D. Ibuprofenas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.24</b> Kokie požymiai nebūdingi reperfuzijai sergant ūminiu miokardo infarktu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Greita EKG dinamika
                    </li>
                    <li>
                        B. Aritmijos
                    </li>
                    <li>
                        C. Angininio skausmo sumažėjimas/išnykimas
                    </li>
                    <li>
                        D. Akinezės zonos padidėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.25</b> Koks medikamentas nėra pirmo pasirinkimo vaistas gydant nestabilią krūtinės anginą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nitroglicerinas į/v
                    </li>
                    <li>
                        B. Heparinas į/v
                    </li>
                    <li>
                        C. Atenololis į/v
                    </li>
                    <li>
                        D. Enalaprilis į/v
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>50.26</b> Kuri gydymo taktika optimaliausia nurodytais ūminio miokardo infarkto atvejais</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Priekinis nekomplikuotas ūminis miokardo infarktas, 3 val. nuo skausmo pradžios
                    </li>
                    <li>
                        2 - Platus priekinis miokardo infarktas, komplikuotas kardiogeniniu šoku
                    </li>
                    <li>
                        3 - Apatinis miokardo infarktas, 14 val. nuo skausmo pradžios
                    </li>
                    <li>
                        4 - Apatinis - užpakalinis - šoninis miokardo infarktas, 2-ra para nuo skausmo pradžios
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Pirminė angioplastika
                    </li>
                    <li>
                        B. Intraveninė trombolizė
                    </li>
                    <li>
                        C. Heparinas, aspirinas, AKF inhibitoriai ir beta- adrenoblokatoriai
                    </li>
                    <li>
                        D. Heparinas, aspirinas ir beta- adrenoblokatoriai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.27</b> Kuri stabilios krūtinės anginos klasė pagal Kanados klasifikaciją nustatoma kiekvienos nurodytos situacijos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Angininiai skausmai pasikartoja tik ypač sunkaus fizinio krūvio metu
                    </li>
                    <li>
                        2 - Angininiai skausmai pasikartoja šaltu ir vėjuotu oru ar einant lygiu keliu daugiau nei 500m
                    </li>
                    <li>
                        3 - Angininiai skausmai prasideda nuo menkiausių saviruošos veiksmų ir net ramybėje
                    </li>
                    <li>
                        4 - Angininiai skausmai pasikartoja, einant apie 200 m lygia vieta ar lipant laiptais į pirmąjį aukštą
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. I
                    </li>
                    <li>
                        B. II
                    </li>
                    <li>
                        C. IV
                    </li>
                    <li>
                        D. III
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.28</b> Kuriai perikardo ligai būdingi nurodyti klinikiniai požymiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Maža, “tyli” širdis, išpūstos kaklo venos ir ascitas
                    </li>
                    <li>
                        2 - Išplitusios perkusinės širdies ribos, nejaučiamas širdies viršūnės trinksnis, išpūstos kaklo venos ir paradoksinis pulsas
                    </li>
                    <li>
                        3 - Kvėpuojant, kosint ir judant sustiprėja skausmas krūtinėje ir girdima perikardo trintis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ūminis sausasis perikarditas
                    </li>
                    <li>
                        B. Šlapiasis perikarditas
                    </li>
                    <li>
                        C. Konstrikcinis perikarditas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.29</b> Kuriais atvejais širdies ligos atkryčio profilaktikai tinka</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Amiodaronas
                    </li>
                    <li>
                        2 - Benzatinpenicilinas 
                    </li>
                    <li>
                        3 - Amoksicilinas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Prieširdžių virpėjimo profilaktikai
                    </li>
                    <li>
                        B. Antrinei reumato profilaktikai
                    </li>
                    <li>
                        C. Infekcinio endokardito profilaktikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.30</b> Kurie echokardiografiškai nustatyti pakitimai būdingi kiekvienai nurodytai ligai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Dilatacinė kardiomiopatija
                    </li>
                    <li>
                        2 - Eksudacinis perikarditas
                    </li>
                    <li>
                        3 - Išeminė širdies liga
                    </li>
                    <li>
                        4 - Arterinė hipertenzija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kairiojo skilvelio galinis diastolinis dydis 4,5 cm, sienelių storis 1,2 cm, išstūmimo frakcija 50%
                    </li>
                    <li>
                        B. Kairiojo skilvelio galinis diastolinis dydis 6,4 cm, sienelių storis 0,9 cm, išstūmimo frakcija 25%
                    </li>
                    <li>
                        C. Kairiojo skilvelio galinis diastolinis dydis 5,5 cm. Laisvas echo tarpas apie visą širdį 1,4 cm, išstūmimo frakcija 50%
                    </li>
                    <li>
                        D. Kairiojo skilvelio galinis diastolinis dydis 5,2 cm.  Akinezė priekinės sienelės viduriniame ir viršūniniame segmente, išstūmimo frakcija 45%
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.31</b> Kurie echokardioskopiniai kriterijai (2D režimas) būdingi kiekvienas nurodytai ligai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Hipertrofinė obstrukcinė kardiomiopatija
                    </li>
                    <li>
                        2 - Kairiosios atrioventrikulinės angos stenozė
                    </li>
                    <li>
                        3 - Perikarditas
                    </li>
                    <li>
                        4 - Mitralinio vožtuvo prolapsas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Mitralinio vožtuvo priekinė burė kupoluoja diastolės metu, užpakalinė burė sustorėjusi, nejudri, tarpskilvelinės pertvaros storis – 11 mm
                    </li>
                    <li>
                        B. Mitralinio vožtuvo priekinė burė sistolės metu išsigaubia pertvaros link, tarpskilvelinė pertvara sustorėjusi - &gt; 11mm
                    </li>
                    <li>
                        C. Mitralinio vožtuvo užpakalinė burė sustorėjusi, sistolės pabaigoje išvirsta į kairįjį prieširdį. Tarpskilvelinės pertvaros storis – 11 mm
                    </li>
                    <li>
                        D. Mitralinio vožtuvo burės nepakitusios, vieno centimetro laisvas echo tarpas už kairiojo skilvelio užpakalinės sienos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.32</b> Kurie EKG pokyčiai būdingi  kiekvienam nurodytam širdies ritmo sutrikimui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Prieširdžių virpėjimas
                    </li>
                    <li>
                        2 - Skilvelinė paroksizminė tachikardija
                    </li>
                    <li>
                        3 - Antidrominė paroksizminė tachikardija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. QRS kompleksas trunka ilgiau negu 0,12 sek., RR intervalai trumpesni už PP intervalus
                    </li>
                    <li>
                        B. RR intervalai absoliučiai skirtingi,yra ff bangos
                    </li>
                    <li>
                        C. Yra delta banga, platūs QRS kompleksai, P dantelių ir QRS kompleksų  skaičius vienodas, dažnis didelis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.33</b> Kurios etiologijos infekcinio endokardito gydymui labiausiai tinka išvardyti antibiotikai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Sukelto Str.viridans
                    </li>
                    <li>
                        2 - Sukelto Staph.aureus
                    </li>
                    <li>
                        3 - Sukelto enterokoko
                    </li>
                    <li>
                        4 - Sukelto pseudomonos
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Imipenemas
                    </li>
                    <li>
                        B. Ampicilinas
                    </li>
                    <li>
                        C. Penicilinas
                    </li>
                    <li>
                        D. Oksacilinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.34</b> Kurių ligų atveju kokia  klasifikacija yra taikoma</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ūminis miokardo infarktas
                    </li>
                    <li>
                        2 - Nestabili krūtinės angina
                    </li>
                    <li>
                        3 - Stabili krūtinės angina
                    </li>
                    <li>
                        4 - Lėtinis širdies nepakankamumas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Niujorko širdies asociacijos (NYHA) funkcinės klasės
                    </li>
                    <li>
                        B. Grace rizikos grupės
                    </li>
                    <li>
                        C. Killip’o
                    </li>
                    <li>
                        D. Kanados funkcinės klasės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.35</b> Kurių širdies dalių hipertrofijos požymius atspindi šie EKG pakitimai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Sv₁+Rv₆ &gt; 35 mm
                    </li>
                    <li>
                        2 - R : S V₁ &gt; 1,0
                    </li>
                    <li>
                        3 - P trukmė &gt; 0,12”, jis dvikupris
                    </li>
                    <li>
                        4 - P  aukštis II derivacijoje &gt; 2,5 mm, trukmė neviršija 0,12”
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kairiojo skilvelio
                    </li>
                    <li>
                        B. Kairiojo prieširdžio
                    </li>
                    <li>
                        C. Dešiniojo skilvelio
                    </li>
                    <li>
                        D. Dešiniojo prieširdžio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.36</b> Nurodykite išvardintų  hipotenzinių vaistų grupių būdingiausią veikimo mechanizmą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Diuretikai
                    </li>
                    <li>
                        2 - Beta-adrenoblokatoriai
                    </li>
                    <li>
                        3 - Kalcio kanalų blokatoriai
                    </li>
                    <li>
                        4 - Angiotenziną konvertuojančio fermento inhibitoriai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Mažina cirkuliuojančio kraujo tūrį
                    </li>
                    <li>
                        B. Plečia periferines kraujagysles
                    </li>
                    <li>
                        C. Slopina renino angiotenzino aldosterono sistemą
                    </li>
                    <li>
                        D. Mažina minutinį širdies tūrį ir renino išsiskyrimą
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>50.37 </b> Kuriais atvejais galima konstatuoti lipidų apykaitos sutrikimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Plazmos aterogeniškumo rodiklis - 5,2
                    </li>
                    <li>
                        2. Plazmos aterogeniškumo rodiklis - 1,9
                    </li>
                    <li>
                        3. Cholesterolio koncentracija - 8,36 mmol/l
                    </li>
                    <li>
                        4. Plazmos trigliceridų koncentracija - 1,8 mmol/l
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.38 </b> 50 m. vyras persirgo apatiniu nekomplikuotu ūminiu miokardo infarktu. Po 8 dienų tredmilo testo metu EKG nustatyta ST segmento 1,5 mm depresija V3-6 derivacijose. Kurį tyrimą turi paskirti gydytojas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Radioizotopinę scintigrafiją
                    </li>
                    <li>
                        2. Dipiridamolio testą
                    </li>
                    <li>
                        3. Mažų dozių dobutamino mėginį
                    </li>
                    <li>
                        4. Koronarografiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.39 </b> 35 m. nerūkančiai moteriai yra II funkcinės klasės krūtinės angina. P-68 k/min., AKS 120/80 mmHg, kraujyje - cholesterolio 7,6 mmol/l, EKG krūvio testo metu 2 mm ST segmento depresija II, III ir V5-6 derivacijose. Koronarograma normali. Kuris vaistas turi būti paskirtas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Propranololis
                    </li>
                    <li>
                        2. Simvastatinas
                    </li>
                    <li>
                        3. Nifedipinas
                    </li>
                    <li>
                        4. Diltiazemas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.40 </b> Kokia yra AKF inhibitorių reikšmė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išreikšto širdies nepakankamumo metu jie prailgina gyvenimą
                    </li>
                    <li>
                        2. Po priekinio ūminio miokardo infarkto jie apsaugo nuo kairiojo skilvelio dilatacijos
                    </li>
                    <li>
                        3. Mažina  širdies nepakankamumo progresavimą, rehospitalizacijų skaičių
                    </li>
                    <li>
                        4. Širdies nepakankamumo metu lengvina ligonio būklę ir prailgina gyvenimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.41 </b> Kurie reiškiniai būdingi kritinei aortos angos stenozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Aortos angos plotas 0,6 cm²
                    </li>
                    <li>
                        2. Presistolinis galopas
                    </li>
                    <li>
                        3. Vidutinis slėgio gradientas tarp kairiojo skilvelio ir aortos &gt; 40 mmHg
                    </li>
                    <li>
                        4. Protodiastolinis galopas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.42 </b> Kurie teiginiai apie reumato gydymą yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Efektyviausiai uždegiminį procesą slopina diklofenakas
                    </li>
                    <li>
                        2. Užsitęsusio aktyvaus reumato gydymui efektyvus hidroksichlorochinas
                    </li>
                    <li>
                        3. Latentinį reumatą nepatartina gydyti prednizolonu
                    </li>
                    <li>
                        4. Antrinė reumato profilaktika skiriama recidyvų išvengimui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.43 </b> Kurie yra didieji infekcinio endokardito diagnostiniai kriterijai, pagal Durack’o klasifikaciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kraujo pasėlyje augantys mikrobai
                    </li>
                    <li>
                        2. Širdies ūžesių laipsnio padidėjimas
                    </li>
                    <li>
                        3. Echoskopuojant aptinkamos vegetacijos ant vožtuvų
                    </li>
                    <li>
                        4. “Rakšties" fenomenas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.44 </b> Kurie teiginiai apie širdies miksomą yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dažniausiai lokalizuojasi kairiajame prieširdyje
                    </li>
                    <li>
                        2. Būdinga aortos angos stenozės klinika
                    </li>
                    <li>
                        3. Būdinga kairiosios atrioventrikulinės angos stenozės klinika
                    </li>
                    <li>
                        4. Miksoma yra piktybinis širdies navikas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.45 </b> Kurie požymiai būdingi šlapiajam perikarditui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Širdies perkusinių ribų išplitimas
                    </li>
                    <li>
                        2. EKG QRS kompleksų voltažo sumažėjimas
                    </li>
                    <li>
                        3. Padidėjęs veninis kraujospūdis
                    </li>
                    <li>
                        4. ST segmento pakilimas virš izoelektrinės linijos visose EKG derivacijose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.46 </b> Kurie vaistai nevartotini hipertrofinės obstrukcinės kardiomiopatijos gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Beta adrenoblokatoriai
                    </li>
                    <li>
                        2. Širdį veikiantys glikozidai
                    </li>
                    <li>
                        3. Ca kanalų blokatoriai
                    </li>
                    <li>
                        4. Nitratai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.47 </b> Kurie vaistai dažniausiai pailgina QT intervalą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. IA klasės antiaritminiai vaistai (chinidinas ir kt
                    </li>
                    <li>
                        2. Beta adrenoblokatoriai (atenololis, metaprololis, ir kt.)
                    </li>
                    <li>
                        3. Fenotiazinai (aminazinas ir kt.)
                    </li>
                    <li>
                        4. IB klasės antiaritminiai vaistai (lidokainas ir kt.)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.48 </b> Kokios pačios dažniausios lėtinio prieširdžių virpėjimo komplikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Širdies nepakankamumas
                    </li>
                    <li>
                        2. Krūtinės angina
                    </li>
                    <li>
                        3. Embolijos
                    </li>
                    <li>
                        4. Arterinė hipertenzija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.49 </b> Kokios yra AKF inhibitorių sukeliamos pašalinės reakcijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Arterinė hipotenzija
                    </li>
                    <li>
                        2. Inkstų disfunkcija
                    </li>
                    <li>
                        3. Hiperkalemija
                    </li>
                    <li>
                        4. Hipokalemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.50 </b> 20 m. vyras persirgo virusine infekcija prieš 2 savaites. Dabar skundžiasi dusuliu einant lygia vieta, silpnumu,  širdies plakimu, kojų tinimu. EKG - sinusinė tachikardija, suplokštėję T visose derivacijose, trigeminus tipo  skilvelinės ekstrasistolės. Echokardiogramoje - kairiojo skilvelio galinis diastolinis dydis 64 mm, sienelių storis po 10 mm, visų segmentų hipokinezė. Išstūmimo frakcija 30%, CRB - 36 mg/l. Kokią ligą įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Židinio miokarditas
                    </li>
                    <li>
                        2. Ūminį miokardo infarktą
                    </li>
                    <li>
                        3. Aritmogeninę kardiomiopatiją
                    </li>
                    <li>
                        4. Difuzinį miokarditą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.51 </b> Kurie diagnostiniai požymiai būdingi triburio vožtuvo nesandarumui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išsiplėtusios pulsuojančios kaklo venos
                    </li>
                    <li>
                        2. Epigastrinė pulsacija
                    </li>
                    <li>
                        3. Sistolinis ūžesys dešinėje, II-me taške, sustiprėjantis įkvėpus
                    </li>
                    <li>
                        4. Sistolinė kepenų pulsacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.52 </b> Kokias ligas būtina įtarti ligoniui, kuris skundžiasi įtampos dusuliu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Stabilią krūtinės anginą (skausmo ekvivalentas)
                    </li>
                    <li>
                        2. Hipertrofinę obstrukcinę kardiomiopatiją
                    </li>
                    <li>
                        3. Lėtinę obstrukcinę plaučių ligą
                    </li>
                    <li>
                        4. Ūminį sausąjį perikarditą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.53 </b> Kokius tyrimus reikėtų atlikti įtarus arterinę hipertenziją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Šlapimo tyrimą
                    </li>
                    <li>
                        2. Nustatyti kalio koncentraciją serume
                    </li>
                    <li>
                        3. Ištirti bendro cholesterolio ir trigliceridų koncentraciją
                    </li>
                    <li>
                        4. Ištirti glikemiją
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>50.54</b> 50 m. vyrui prieš 2 mėn. dėl reumatinės kilmės stenozės protezuotas aortos vožtuvas. Dabar skundžiasi silpnumu ir karščiavimu. Objekt. tyrimai: T-37,6ºC, pablyškęs, P-90 k/min., AKS-120/80 mmHg, ties aorta ir Erbo-Botkino zonoje girdimas IIIº sistolinis ūžesys ir IIº protodiastolinis ūžesys, aiškūs protezo atsidarymo ir užsidarymo garsai. Lab. tyrimai: Hb-116 g/l, CRB -80 mg/l, leuk.- 10,2 x10⁹/l. Kokia ligos preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vožtuvo trombozė
                    </li>
                    <li>
                        B. Reumato paūmėjimas
                    </li>
                    <li>
                        C. Infekcinis endokarditas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.55</b> 50 m. vyrui prieš 2 mėn. dėl reumatinės kilmės stenozės protezuotas aortos vožtuvas. Dabar skundžiasi silpnumu ir karščiavimu. Objekt. tyrimai: T-37,6ºC, pablyškęs, P-90 k/min., AKS-120/80 mmHg, ties aorta ir Erbo-Botkino zonoje girdimas IIIº sistolinis ūžesys ir IIº protodiastolinis ūžesys, aiškūs protezo atsidarymo ir užsidarymo garsai. Lab. tyrimai: Hb-116 g/l, CRB -80 mg/l, leuk.- 10,2 x10⁹/l.Kuris tyrimo metodas tiksliausiai nustatytų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. EKG
                    </li>
                    <li>
                        B. Fonokardiograma
                    </li>
                    <li>
                        C. Dvimatė bedoplerinė echokardioskopija
                    </li>
                    <li>
                        D. Stemplinė - doplerinė echokardioskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.56</b> 45 m. vyras apie metus skundžiasi nesunkaus fizinio darbo metu atsirandančiu dusuliu ir sąnarių skausmu. 8 m. vaikui buvo padaryta tonsilektomija. Objekt. tyrimai: P-80 k/min., AKS-120/80   mmHg, girdimi nepastoviai protodiastolinis ūžesys ties širdies viršūne, III tonas, II tono akcentas ties plaučių arterijos projekcija. Abiejų plaučių apatinėse skiltyse nedaug (apie 2 cm) drėgnų karkalų.Rentgenologiškai nustatyta plautinė hipertenzija, kairiojo prieširdžio ir dešiniojo skilvelio dilatacija. 2D echokardiogramoje: kairysis prieširdis 6,9x5,2 cm, jame - paslankus ir intensyvus 4x5 cm dydžio darinys, kuris susiaurina kairiąją atrioventrikulinę angą iki 1,3 cm². Kairiojo skilvelio galinis diastolinis dydis - 4 cm, dešinysis skilvelis - 3 cm. Sistolinis  plaučių arterijoje - 45 mmHg. Kokia ligos preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kairiosios atrioventrikulinės angos stenozė
                    </li>
                    <li>
                        B. Pasikartojanti plaučių arterijos  embolija
                    </li>
                    <li>
                        C. Kairiojo prieširdžio miksoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.57</b> 45 m. vyras apie metus skundžiasi nesunkaus fizinio darbo metu atsirandančiu dusuliu ir sąnarių skausmu. 8 m. vaikui buvo padaryta tonsilektomija. Objekt. tyrimai: P-80 k/min., AKS-120/80   mmHg, girdimi nepastoviai protodiastolinis ūžesys ties širdies viršūne, III tonas, II tono akcentas ties plaučių arterijos projekcija. Abiejų plaučių apatinėse skiltyse nedaug (apie 2 cm) drėgnų karkalų.Rentgenologiškai nustatyta plautinė hipertenzija, kairiojo prieširdžio ir dešiniojo skilvelio dilatacija. 2D echokardiogramoje: kairysis prieširdis 6,9x5,2 cm, jame - paslankus ir intensyvus 4x5 cm dydžio darinys, kuris susiaurina kairiąją atrioventrikulinę angą iki 1,3 cm². Kairiojo skilvelio galinis diastolinis dydis - 4 cm, dešinysis skilvelis - 3 cm. Sistolinis  plaučių arterijoje - 45 mmHg.Kokia turi būti gydymo taktika</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirti gydymą diuretikais, nitratais ir Ca kanalų blokatoriais
                    </li>
                    <li>
                        B. Skirti priešreumatinį gydymą
                    </li>
                    <li>
                        C. Skirti gydymą antikoaguliantais
                    </li>
                    <li>
                        D. Skirti širdies chirurginį gydymą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.58</b> Intrakardinio tyrimo metu paaiškėjo, kad jaunai moteriai sistolinis kraujospūdis kairiajame skilvelyje ir aortoje - 110 mmHg, dešiniajame skilvelyje - 35 mmHg, kairiajame prieširdyje - 9 mmHg, dešiniajame prieširdyje - 8 mmHg, o plaučių arterijoje - 35 mmHg. Diastolinis kraujospūdis aortoje - 75 mmHg. Veninio kraujo prisotinimas deguonimi - 85%. Kokią  diagnozę nustatysite?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdis sveika
                    </li>
                    <li>
                        B. Tarpprieširdinės pertvaros defektas
                    </li>
                    <li>
                        C. Tarpskilvelinės pertvaros defektas
                    </li>
                    <li>
                        D. Atviras arterinis latakas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.59</b> 17 m. merginai būna sąmonės nustojimo epizodai - 3-4 kartus per metus, kurių metu AKS neišmatuojamas,  EKG - “piruetai”, tarp priepuolių - sinusinis ritmas 70 k/min., PQ - 0,18 sek., Q-Tc - 0,46 sek. Obj. - n.y. AKS - 120/70 mm Hg. . Kokią ligą labiausiai įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Miokarditą
                    </li>
                    <li>
                        B. Įgimtą širdies ydą
                    </li>
                    <li>
                        C. Įgimtą ilgo QT intervalo sindromą
                    </li>
                    <li>
                        D. VPV sindromą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.60</b> 17 m. merginai būna sąmonės nustojimo epizodai - 3-4 kartus per metus, kurių metu AKS neišmatuojamas,  EKG - “piruetai”, tarp priepuolių - sinusinis ritmas 70 k/min., PQ - 0,18 sek., Q-Tc - 0,46 sek. Obj. - n.y. AKS - 120/70 mm Hg. Kuris iš šių gydymo metodų pacientei netinkamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Amiodaronas
                    </li>
                    <li>
                        B. Beta-adrenoblokatoriai
                    </li>
                    <li>
                        C. Kardiostimuliacija
                    </li>
                    <li>
                        D. Kardioverterio-defibriliatoriaus  implantavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.61</b> 18 m. studentė skundžiasi ilgalaikiais diegiančiais skausmais širdies plote. Reumatinę anamnezę neigia. Ūgis - 176 cm, svoris - 56 kg. Skoliozė, pectus excavatum. Auskultuojant Iª taške mid. sistolinis kliKas, IIº telesistolinis ūžesys, sustiprėjantis atsistojus. ŠSD - 86 k./min., AKS - 120/76 mmHg. Kokią ligą įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Įgimtą skilvelių pertvaros defektą
                    </li>
                    <li>
                        B. Aortos stenozę
                    </li>
                    <li>
                        C. Mitralinio vožtuvo prolapsą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.62</b> 18 m. studentė skundžiasi ilgalaikiais diegiančiais skausmais širdies plote. Reumatinę anamnezę neigia. Ūgis - 176 cm, svoris - 56 kg. Skoliozė, pectus excavatum. Auskultuojant Iª taške trinaris ritmas, IIº telesistolinis ūžesys, sustiprėjantis atsistojus. ŠSD - 86 k./min., AKS - 120/76 mmHg. Kokį medikamentą paskirtumėte:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Verapamilį
                    </li>
                    <li>
                        B. Diazepamą
                    </li>
                    <li>
                        C. Magnio ir kalio papildus
                    </li>
                    <li>
                        D. Bisoprololį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.63</b> 52m. nutukęs, rūkantis ir sergantis arterine hipertenzija vyras skundžiasi skausmu už krūtinkaulio apatinio trečdalio, kurį provokuoja fizinė įtampa: skausmas kartojasi einant lygia vieta trumpesnį nei 100m. atstumą, lipant į pirmą aukštą. Nitroglicerino 1 sublingvalinė tabletė ne visada šalina skausmą. Be to, krūvio metu atsiranda blauzdų skausmai. Kontrolinėje EKG ramybėje išemijos ar pažeidimo neužregistruota. Kuriai iš žemiau išvardintų ligų tai yra būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nestabiliai krūtinės anginai 
                    </li>
                    <li>
                        B. Stabiliai II KFK anginai
                    </li>
                    <li>
                        C. Ūminiam miokardo infarktui
                    </li>
                    <li>
                        D. Stabiliai III KFK anginai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>50.64</b> 52m. nutukęs, rūkantis ir sergantis arterine hipertenzija vyras skundžiasi skausmu už krūtinkaulio apatinio trečdalio, kurį provokuoja fizinė įtampa: skausmas kartojasi einant lygia vieta trumpesnį nei 100m. atstumą, lipant į pirmą aukštą. Nitroglicerino 1 sublingvalinė tabletė ne visada šalina skausmą. Be to, krūvio metu atsiranda blauzdų skausmai. Kontrolinėje EKG ramybėje išemijos ar pažeidimo neužregistruota. . Kokius vaistus pirmiausiai skirsite pacientui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nitroglicerinas ir molsidominas
                    </li>
                    <li>
                        B. Nitroglicerinas ir diltiazemas
                    </li>
                    <li>
                        C. Nitroglicerinas ir atenololis
                    </li>
                    <li>
                        D. Diltiazemas ir verapamilis
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>50.1 - 

                B
            </td>
            <td>50.2 - 

                C
            </td>
            <td>50.3 - 

                B
            </td>
            <td>50.4 - 

                C
            </td>
            <td>50.5 - 

                D
            </td>
            <td>50.6 - 

                D
            </td>
            <td>50.7 - 

                C
            </td>
            <td>50.8 - 

                D
            </td>
                </tr><tr>
            <td>50.9 - 

                D
            </td>
            <td>50.10 - 

                B
            </td>
            <td>50.11 - 

                D
            </td>
            <td>50.12 - 

                B
            </td>
            <td>50.13 - 

                C
            </td>
            <td>50.14 - 

                B
            </td>
            <td>50.15 - 

                D
            </td>
            <td>50.16 - 

                A
            </td>
                </tr><tr>
            <td>50.17 - 

                C
            </td>
            <td>50.18 - 

                D
            </td>
            <td>50.19 - 

                B
            </td>
            <td>50.20 - 

                D
            </td>
            <td>50.21 - 

                D
            </td>
            <td>50.22 - 

                C
            </td>
            <td>50.23 - 

                C
            </td>
            <td>50.24 - 

                D
            </td>
                </tr><tr>
            <td>50.25 - 

                D
            </td>
                </tr><tr>
            <td>50.26
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>50.27
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>50.28
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>50.29
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
            </ul></td>
            <td>50.30
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>50.31
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>50.32
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>50.33
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
                </tr><tr>
            <td>50.34
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>50.35
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
            <td>50.36
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
                </tr><tr>
            <td>50.37
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>50.38
            <ul>
                <li>4</li>
            </ul></td>
            <td>50.39
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>50.40
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>50.41
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>50.42
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>50.43
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>50.44
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>50.45
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>50.46
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>50.47
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>50.48
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>50.49
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>50.50
            <ul>
                <li>4</li>
            </ul></td>
            <td>50.51
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>50.52
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>50.53
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>50.54 - 

                C
            </td>
            <td>50.55 - 

                D
            </td>
            <td>50.56 - 

                C
            </td>
            <td>50.57 - 

                D
            </td>
            <td>50.58 - 

                C
            </td>
            <td>50.59 - 

                C
            </td>
            <td>50.60 - 

                A
            </td>
            <td>50.61 - 

                C
            </td>
                </tr><tr>
            <td>50.62 - 

                D
            </td>
            <td>50.63 - 

                D
            </td>
            <td>50.64 - 

                B
            </td>

</tr></tbody></table></div>