<div class="Centre Kategorija">Medicininė diagnostika</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>49.1</b> Kaip vadinamas kvėpavimas, kurį sudaro normalaus kvėpavimo ir nekvėpavimo fazių kaita:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Čein-Stokso
                    </li>
                    <li>
                        B. Kusmaulio
                    </li>
                    <li>
                        C. Bioto
                    </li>
                    <li>
                        D. Groko
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.2</b> Kuris reiškinys būdingas ketoacidozinei komai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Normalus kvėpavimas
                    </li>
                    <li>
                        B. Pritemusi sąmonė
                    </li>
                    <li>
                        C. Drėgna oda
                    </li>
                    <li>
                        D. Iš burnos sklindantis acetono kvapas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.3</b> Plaučių auskultacijos metu įkvėpimo ir iškvėpimo santykis 1:2 ar didesnis būna:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sutankėjus plaučių audiniui
                    </li>
                    <li>
                        B. Padidėjus plaučių oringumui
                    </li>
                    <li>
                        C. Esant skysčiui pleuros ertmėje skysčio projekcijoje
                    </li>
                    <li>
                        D. Esant orui pleuros ertmėje
                    </li>
                    <li>
                        E. Esant ertmei plaučiuose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.4</b> Koks kvėpavimo garsas girdimas auskultuojant sveiką žmogų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tam tikroje plaučio srityje girdimas amforinis kvėpavimas
                    </li>
                    <li>
                        B. Tik bronchinis kvėpavimas
                    </li>
                    <li>
                        C. Bronchovezikulinis kvėpavimas
                    </li>
                    <li>
                        D. Vezikulinis ir bronchinis kvėpavimas
                    </li>
                    <li>
                        E. Vezikulinis kvėpavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.5</b> Kuris požymis padeda atskirti krepitaciją nuo smulkių drėgnų karkalų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krepitacija sumažėja pakosėjus
                    </li>
                    <li>
                        B. Krepitacija geriau girdima įkvėpimo pradžioje
                    </li>
                    <li>
                        C. Krepitacija girdima tik įkvėpimo gale
                    </li>
                    <li>
                        D. Krepitacija girdima tik iškvėpimo metu
                    </li>
                    <li>
                        E. Karkalų kiekis nekinta pakosėjus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.6</b> Kokia širdies trinksnio atsiradimo priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kairiojo skilvelio hipertrofija
                    </li>
                    <li>
                        B. Dešiniojo prieširdžio hipertrofija
                    </li>
                    <li>
                        C. Dešiniojo skilvelio hipertrofija
                    </li>
                    <li>
                        D. Dešiniosios širdies nepakankamumas
                    </li>
                    <li>
                        E. Širdies denudacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.7</b> Kokia yra apčiuopiamo „katiško murkimo“ semiotinė reikšmė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reiškia tik vožtuvų nesandarumą
                    </li>
                    <li>
                        B. Reiškia angų stenozę ir didelio laipsnio vožtuvų nesandarumą
                    </li>
                    <li>
                        C. Reiškia miokardo patologiją
                    </li>
                    <li>
                        D. Reiškia sausąjį perikarditą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.8</b> Kokia yra miego arterijų sustiprėjusios pulsacijos semiotinė reikšmė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dešiniosios širdies nepakankamumo požymis
                    </li>
                    <li>
                        B. Kairiosios širdies nepakankamumo požymis
                    </li>
                    <li>
                        C. Aortos vožtuvo nesandarumo požymis
                    </li>
                    <li>
                        D. Triburio vožtuvo nesandarumo požymis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.9</b> Kokia yra sistolinio venų pulsavimo semiotinė reikšmė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reiškia aortos vožtuvo nesandarumą
                    </li>
                    <li>
                        B. Reiškia mitralinio vožtuvo nesandarumą
                    </li>
                    <li>
                        C. Reiškia triburio vožtuvo nesandarumą
                    </li>
                    <li>
                        D. Reiškia dešiniosios širdies nepakankamumą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.10</b> Dėl kurios priežasties išsivysto ekstrakardiniai ūžesiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dėl kraujo tėkmės širdyje pagreitėjimo
                    </li>
                    <li>
                        B. Dėl perikardo pakitimų
                    </li>
                    <li>
                        C. Dėl kraujo klampumo sumažėjimo
                    </li>
                    <li>
                        D. Dėl reliatyvaus vožtuvų nesandarumo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.11</b> Kuriuo atveju būna neigiamas širdies viršūnės trinksnis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sergant eksudaciniu perikarditu
                    </li>
                    <li>
                        B. Nutukus
                    </li>
                    <li>
                        C. Dėl masyvių krūtinės raumenų
                    </li>
                    <li>
                        D. Dėl pleuroperikardinių sąaugų (mediastinoperikardito)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.12</b> Kuriuo atveju būna pulso deficitas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Visiškos atrioventrikulinės blokados metu
                    </li>
                    <li>
                        B. Prieširdžių virpėjimo atvejais
                    </li>
                    <li>
                        C. Sinoatrijinės blokados atveju
                    </li>
                    <li>
                        D. Taisyklingo prieširdžių plazdėjimo atveju
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.13</b> Kuriuo atveju širdies viršūnės trinksnis V tarpšonkaulyje ties vidurine raktikaulio linija yra stiprus ir keliantis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mitralinės stenozės metu
                    </li>
                    <li>
                        B. Ženklios tachikardijos metu
                    </li>
                    <li>
                        C. Arterinės hipertenzijos I stadijos metu
                    </li>
                    <li>
                        D. Arterinės hipertenzijos II stadijos metu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.14</b> Dėl kurios priežasties padidėja veninis kraujospūdis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dėl triburio vožtuvo nesandarumo
                    </li>
                    <li>
                        B. Dėl kairiosios širdies nepakankamumo
                    </li>
                    <li>
                        C. Dėl dešiniosios širdies nepakankamumo
                    </li>
                    <li>
                        D. Dėl šoko
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.15</b> Kuriai ligai būdinga lėtinė progresuojanti disfagija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Koroziniam (nudegiminiam) ezofagitui
                    </li>
                    <li>
                        B. Stemplės perforacijai
                    </li>
                    <li>
                        C. Stemplės vėžiui
                    </li>
                    <li>
                        D. Skrandžio achalazijai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.16</b> Kuris kraujo biocheminis rodiklis nereiškia kepenų citolizės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gliutamatpiruvattransaminazės aktyvumo padidėjimas
                    </li>
                    <li>
                        B. Gliutamatoksaloacetattransaminazės aktyvumo padidėjimas
                    </li>
                    <li>
                        C. γ-gliutamiltransferazės aktyvumo padidėjimas
                    </li>
                    <li>
                        D. gliutamatdehidrogenazės aktyvumo padidėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.17</b> Kuris reiškinys būdingas ikihepatinei geltai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nekonjuguota hiperbilirubinemija
                    </li>
                    <li>
                        B. Aminotransferazių aktyvumo padidėjimas
                    </li>
                    <li>
                        C. Konjuguota hiperbilirubinemija
                    </li>
                    <li>
                        D. Išmatose nėra sterkobilino
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.18</b> Dėl kurios priežasties vystosi odos teleangiektazijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dėl estrogenų inaktyvacijos kepenyse sutrikimo
                    </li>
                    <li>
                        B. Dėl konjuguotos hiperbilirubinemijos
                    </li>
                    <li>
                        C. Dėl odos kraujosruvų
                    </li>
                    <li>
                        D. Dėl odos niežėjimo ir nusikasymų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.19</b> Kuris reiškinys būdingas vartų venos baseino (vartinei) hipertenzijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hepatoceliulinė gelta
                    </li>
                    <li>
                        B. Hiperazotemija
                    </li>
                    <li>
                        C. Splenomegalija
                    </li>
                    <li>
                        D. Odos niežėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.20</b> Kuris biocheminis rodiklis nereiškia cholestazės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Cholinesterazės aktyvumo sumažėjimas kraujyje
                    </li>
                    <li>
                        B. γ-gliutamiltransferazės aktyvumo padidėjimas kraujyje
                    </li>
                    <li>
                        C. Hipercholesterolemija
                    </li>
                    <li>
                        D. Konjuguota hiperbilirubinemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.21</b> Kuris reiškinys yra vadinamas dizurija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skausmingas šlapinimasis
                    </li>
                    <li>
                        B. Nenumaldomas noras šlapintis
                    </li>
                    <li>
                        C. Skausmingas ir dažnas šlapinimasis
                    </li>
                    <li>
                        D. Labai dažnas šlapinimasis mažomis šlapimo porcijomis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.22</b> Nuo kurios medžiagos labiausiai priklauso normalaus šlapimo santykinis tankis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo baltymų
                    </li>
                    <li>
                        B. Nuo gliukozės
                    </li>
                    <li>
                        C. Nuo šlapalo
                    </li>
                    <li>
                        D. Nuo kreatinino
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.23</b> Kuris kraujo pakitimas būna hemoraginio sindromo metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Leukocitozė
                    </li>
                    <li>
                        B. Eozinofilija
                    </li>
                    <li>
                        C. Trombocitopenija
                    </li>
                    <li>
                        D. Hipoproteinemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.24</b> Kuris lėtinio inkstų nepakankamumo požymis yra ankstyviausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėjusi kreatinino koncentracija kraujyje
                    </li>
                    <li>
                        B. Sumažėjęs kreatinino klirensas
                    </li>
                    <li>
                        C. Padidėjusi šlapalo koncentracija kraujyje
                    </li>
                    <li>
                        D. Patologiniai šlapimo koncentravimo ir praskiedimo mėginių rezultatai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.25</b> Kuris reiškinys yra vadinamas polidipsija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėjęs apetitas
                    </li>
                    <li>
                        B. Gausus šlapinimasis
                    </li>
                    <li>
                        C. Burnos sausumas ir troškulys
                    </li>
                    <li>
                        D. Gausus prakaitavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.26</b> Kuris požymis būdingas hipoglikeminei komai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pritęmusi sąmonė
                    </li>
                    <li>
                        B. Gilus ir retas patologinis kvėpavimas
                    </li>
                    <li>
                        C. Gausus prakaitavimas
                    </li>
                    <li>
                        D. Minkšti akių obuoliai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.27</b> Kuris reiškinys yra būdingas Reino sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sąnarių skausmai
                    </li>
                    <li>
                        B. Raumenų skausmai
                    </li>
                    <li>
                        C. Rytinis sąnarių sustingimas
                    </li>
                    <li>
                        D. Rankų pirštų parestezijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.28</b> Kuriuo atveju daromas gliukozės tolerancijos testas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vyresniems nei 30m.  Pacientams
                    </li>
                    <li>
                        B. Kai yra neaiškios kilmės hipoglikemija
                    </li>
                    <li>
                        C. Esant aukštam arteriniam kraujospūdžiui
                    </li>
                    <li>
                        D. Kai padidėja potraukis saldumynams
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>49.29</b> Kaip pasisikirsto kūno riebalai nurodytų būsenų metu</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Icenkos-Kušingo sindromas
                    </li>
                    <li>
                        2 - Hipotirozė
                    </li>
                    <li>
                        3 - Alimentinis-konstitucinis nutukimas
                    </li>
                    <li>
                        4 - Hipogonadizmas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Tolygus kūno riebalų pasiskirstymas, suapvalėjusios formos ir padidėjusi kūno masė
                    </li>
                    <li>
                        B. Riebalai susikaupia pilvo, sėdmenų ir krūtinės srityse
                    </li>
                    <li>
                        C. Daugiausia riebalų - veide, sprande, liemens viršutinėje dalyje, o galūnės nenutukusios („buivolo“ išvaizda)
                    </li>
                    <li>
                        D. Būdingos riebalų sankaupos virš riešo, kulkšnių ir raktikaulių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.30</b> Kaip pažeidžiami sąnariai sergant nurodytomis ligomis</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Reumatoidinis artritas
                    </li>
                    <li>
                        2 - Deformuojanti artrozė
                    </li>
                    <li>
                        3 - Podagra
                    </li>
                    <li>
                        4 - Reumatinis poliartritas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Smulkių sąnarių simetrinis pažeidimas
                    </li>
                    <li>
                        B. Stambių sąnarių asimetrinis pažeidimas
                    </li>
                    <li>
                        C. Trumpalaikiai visų sąnarių sutrikimai
                    </li>
                    <li>
                        D. Smulkių sąnarių asimetrinis pažeidimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.31</b> Kokį patologinį tonų pakitimą atitinka nurodytos būklės</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Skilvelinį galopą
                    </li>
                    <li>
                        2 - Prieširdinį galopą
                    </li>
                    <li>
                        3 - I tono skilimą
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Iº atrioventrikulinė blokada
                    </li>
                    <li>
                        B. Hiso pluošto kojytės blokada
                    </li>
                    <li>
                        C. Visiška atrioventrikulinė blokada
                    </li>
                    <li>
                        D. Miokardo infarktas su Q banga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.32</b> Kuri širdies ūžesio plitimo kryptis yra būdinga nurodytoms ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Į kaklo arterijas
                    </li>
                    <li>
                        2 - Į kairę pažastį
                    </li>
                    <li>
                        3 - Į širdies viršūnės sritį
                    </li>
                    <li>
                        4 - Neplinta
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Triburio vožtuvo nesandarumas
                    </li>
                    <li>
                        B. Dviburio vožtuvo nesandarumas
                    </li>
                    <li>
                        C. Aortos vožtuvo nesandarumas
                    </li>
                    <li>
                        D. Aortos angos stenozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.33</b> Kurie EKG pakitimai labiausiai būdingi nurodytoms ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ūminis miokardo infarktas
                    </li>
                    <li>
                        2 - Morganji-Adams-Stokso priepuoliai
                    </li>
                    <li>
                        3 - Ūminis reumatinis miokarditas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Patologinis q dantelis ir S-T segmento dislokacija
                    </li>
                    <li>
                        B. P-Q segmento pailgėjimas
                    </li>
                    <li>
                        C. Visiška atrioventrikulinė blokada
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.34</b> Kurie hemoraginių diatezių tipai labiausiai būdingi nurodytoms ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Hemoraginis vaskulitas
                    </li>
                    <li>
                        2 - Hemofilija
                    </li>
                    <li>
                        3 - Lėtinis kepenų funkcijos nepakankamumas
                    </li>
                    <li>
                        4 - Idiopatinė trombocitopeninė purpura
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Koagulopatijos tipas
                    </li>
                    <li>
                        B. Vaskulopatijos tipas
                    </li>
                    <li>
                        C. Trombocitopatijos tipas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.35</b> Kurie koprologinio tyrimo duomenys būdingi nurodytiems sindromams</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Rūgimo dispepsija
                    </li>
                    <li>
                        2 - Puvimo dispepsija
                    </li>
                    <li>
                        3 - Gastrogeninis nepakankamumas
                    </li>
                    <li>
                        4 - Kasos egzokrininės funkcijos nepakankamumas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Išmatos suformuotos, šarminės reakcijos, kreatorėja, jungiamojo audinio (+), suvirškinama ląsteliena (++), gleivių nėra
                    </li>
                    <li>
                        B. Išmatos košės konsistencijos, šarminės reakcijos, kreatorėja, jungiamojo audinio (+), neutralių riebalų (+++), suvirškinama ląsteliena (++), gleivių nėra
                    </li>
                    <li>
                        C. Išmatos košės konsistencijos, putotos, rūgščios reakcijos, raumeninių skaidulų (+), jungiamojo audinio nėra, krakmolo grūdelių (+++), jodofilinė flora (+)
                    </li>
                    <li>
                        D. Išmatos skystos, šarminės reakcijos, raumeninių skaidulų (+), jungiamojo audinio nėra, krakmolo nėra, jodofilinė flora (+)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.36</b> Kurie patogeneziniai mechanizmai nurodytų sindromų metu keičia garso plitimo sąlygas plaučiuose</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Plaučių infiltracija
                    </li>
                    <li>
                        2 - Padidėjęs plaučių audinio oringumas
                    </li>
                    <li>
                        3 - Ertmė plaučiuose
                    </li>
                    <li>
                        4 - Kompresinė atelektazė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Garso plitimo kelio sutrumpėjimas
                    </li>
                    <li>
                        B. Plaučių audinio sutankėjimas
                    </li>
                    <li>
                        C. Plaučių audinio oringumo padidėjimas ir stangrumo (elastingumo) sumažėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.37</b> Kurie požymiai būdingi nurodytiems sindromams ir ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Lėtinis kepenų nepakankamumas
                    </li>
                    <li>
                        2 - Pohepatinė gelta
                    </li>
                    <li>
                        3 - Vartinė hipertenzija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Teleangiektazijos
                    </li>
                    <li>
                        B. Pilvo apimties didėjimas
                    </li>
                    <li>
                        C. Stiprus odos niežėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.38</b> Kurie požymiai labiausiai būdingi nurodytiems sindromams ar būklėms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ūmus antinksčių nepakankamumas
                    </li>
                    <li>
                        2 - Hiperosmolinė koma
                    </li>
                    <li>
                        3 - Hipoglikemija
                    </li>
                    <li>
                        4 - Ketoacidozinė koma
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Labai drėgna, prakaito išpilta oda 
                    </li>
                    <li>
                        B. Padidėjusi šlapalo ir kreatinino koncentracija kraujo serume 
                    </li>
                    <li>
                        C. Pykinimas, vėmimas, viduriavimas
                    </li>
                    <li>
                        D. Kusmaulio kvėpavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.39</b> Kurie reiškiniai būdingi nurodytoms ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Nuolat perpildytos kaklo venos
                    </li>
                    <li>
                        2 - Sustiprėjusi miego arterijų pulsacija
                    </li>
                    <li>
                        3 - Paradoksinė kaklo venų pulsacija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Aortos vožtuvo nesandarumas
                    </li>
                    <li>
                        B. Sąauginis perikarditas
                    </li>
                    <li>
                        C. Kairiosios širdies nepakankamumas
                    </li>
                    <li>
                        D. Dešiniosios širdies nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.40</b> Kurie skreplių pakitimai yra būdingi nurodytoms plaučių ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Bronchinė astma
                    </li>
                    <li>
                        2 - Pneumonija
                    </li>
                    <li>
                        3 - Bronchektazinė liga
                    </li>
                    <li>
                        4 - Ūminis bronchitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Negausūs ir gleivėti
                    </li>
                    <li>
                        B. Trijų sluoksnių
                    </li>
                    <li>
                        C. Skrepliuose yra Kuršmano spiralių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.41</b> Kurioms endokrininėms ligoms labiausiai būdingi nurodyti požymiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Sausa, paburkusi oda, siauri akių plyšiai ir negyva veido išraiška
                    </li>
                    <li>
                        2 - Apvalus mėnulio formos veidas, hipertrichozė, rausvos pilvo ir šlaunų vidinio paviršiaus odos ir paodžio išretėjimo juostos
                    </li>
                    <li>
                        3 - Išverstakumas, gyva veido mimika, liesumas, drėgna oda, rankų ir vokų drebėjimas
                    </li>
                    <li>
                        4 - Stambūs veido bruožai, plaštakos ir pėdos, stambios odos raukšlės
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Skydliaukės hiperfunkcija
                    </li>
                    <li>
                        B. Gliukokortikoidų hiperprodukcija
                    </li>
                    <li>
                        C. Skydliaukės hipofunkcija
                    </li>
                    <li>
                        D. Somatotropino hiperprodukcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.42</b> Kurios kilmės pleuros punktatą apibūdina nurodyti požymiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 33 g/l baltymo punktate
                    </li>
                    <li>
                        2 - Išpunktuota 1800 ml skysčio
                    </li>
                    <li>
                        3 - 2×10⁹/l leukocitų punktate
                    </li>
                    <li>
                        4 - LDG aktyvumo santykis su to paties fermento aktyvumo rodikliu kraujo plazmoje – 0,5
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Eksudatas
                    </li>
                    <li>
                        B. Transudatas
                    </li>
                    <li>
                        C. Neesminis skysčio diferencinis požymis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.43</b> Kuris hiperfermentemijos variantas yra tinkamiausias nurodytoms geltoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ikihepatinė gelta
                    </li>
                    <li>
                        2 - Hepatoceliulinė gelta
                    </li>
                    <li>
                        3 - Cholestazinė gelta
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Aminotransferazių aktyvumo padidėjimas
                    </li>
                    <li>
                        B. γ-gliutamiltransferazės aktyvumo padidėjimas
                    </li>
                    <li>
                        C. Normalus aminotransferazių ir γ-gliutamiltransferazės aktyvumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.44</b> Kuris reiškinys būdingiausias nurodytiems sindromams</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Inkstinė eklampsija
                    </li>
                    <li>
                        2 - Nefrozinis sindromas
                    </li>
                    <li>
                        3 - Nefritinis sindromas
                    </li>
                    <li>
                        4 - Inkstų funkcijos nepakankamumas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Hematurija
                    </li>
                    <li>
                        B. Hipoproteinemija
                    </li>
                    <li>
                        C. Toninių ir kloninių traukulių priepuolis
                    </li>
                    <li>
                        D. Hiperazotemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.45</b> Kuris simptomas tinkamiausias kiekvienam nurodytam sindromui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vartinė hipertenzija
                    </li>
                    <li>
                        2 - Ūminis kepenų nepakankamumas
                    </li>
                    <li>
                        3 - Lėtinis kepenų nepakankamumas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ryški hepatoceliulinė gelta
                    </li>
                    <li>
                        B. Odos teleangiektazijos ir delnų eritema
                    </li>
                    <li>
                        C. Splenomegalija
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>49.46 </b> Kurie nurodyti požymiai būdingi plaučių infiltracijos sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Rentgenologiškai matyti ribotas pašviesėjimas
                    </li>
                    <li>
                        2. Bronchinis kvėpavimas
                    </li>
                    <li>
                        3. Sausi švilpiantys karkalai
                    </li>
                    <li>
                        4. Paduslėjęs perkusinis garsas
                    </li>
                    <li>
                        5. Amforinis kvėpavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.47 </b> Kuris simptomas būdingas ertmei plaučiuose:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Duslus perkusinis garsas
                    </li>
                    <li>
                        2. Susilpnėjęs vezikulinis kvėpavimas
                    </li>
                    <li>
                        3. Rentgenologiškai matomas viso plaučio pašviesėjimas
                    </li>
                    <li>
                        4. Timpaninis garsas tam tikroje plaučio vietoje
                    </li>
                    <li>
                        5. Skrepliavimas (20 ml per parą)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.48 </b> Kokie yra plaučių audinio padidėjusio oringumo sindromo požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Visame plaučių plote yra susilpnėjęs vezikulinis kvėpavimas
                    </li>
                    <li>
                        2. Rentgenologiškai matyti plaučių audinio pašviesėjimas
                    </li>
                    <li>
                        3. Perkusinis dėžės garsas
                    </li>
                    <li>
                        4. Sausi švilpiantys karkalai
                    </li>
                    <li>
                        5. Timpaninis perkusinis garsas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.49 </b> Kokie yra oro susikaupimo pleuros ertmėje požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Susilpnėjęs vezikulinis kvėpavimas
                    </li>
                    <li>
                        2. Rentgenologiškai matyti ribotos plaučių dalies pritemimas
                    </li>
                    <li>
                        3. Timpaninis perkusinis garsas
                    </li>
                    <li>
                        4. Perkusinis dėžės garsas
                    </li>
                    <li>
                        5. Drėgni neskambūs karkalai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.50 </b> Kokie yra skysčio susikaupimo pleuros ertmėje būdingi požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Susilpnėjęs vezikulinis kvėpavimas
                    </li>
                    <li>
                        2. Rentgenologiškai matyti apatinės krūtinės ląstos dalies homogeniškas pritemimas
                    </li>
                    <li>
                        3. Duslus perkusinis garsas
                    </li>
                    <li>
                        4. Išnykusi bronchofonija
                    </li>
                    <li>
                        5. Rentgenologiškai matyti į sveikąją pusę pastumtas tarpuplautis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.51 </b> Kurie tūriai sudaro plaučių funkcinę liekamąją talpą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Liekamasis tūris
                    </li>
                    <li>
                        2. Kvėpuojamasis tūris
                    </li>
                    <li>
                        3. Rezervinis iškvėpimo tūris
                    </li>
                    <li>
                        4. Rezervinis įkvėpimo tūris
                    </li>
                    <li>
                        5. Forsuoto iškvėpimo tūris per 1 sek
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.52 </b> Sistolinis regurgitacinis ūžesys būdingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mitraliniam prolapsui
                    </li>
                    <li>
                        2. Triburio vožtuvo nesandarumui
                    </li>
                    <li>
                        3. Mitralinio vožtuvo nesandarumui 
                    </li>
                    <li>
                        4. Aortos vožtuvo nesandarumui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.53 </b> Kas būdinga aortinei širdies konfigūracijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išimtinai kairiojo skilvelio padidėjimas
                    </li>
                    <li>
                        2. Išlyginta širdies talija
                    </li>
                    <li>
                        3. Paryškėjusi širdies talija
                    </li>
                    <li>
                        4. Kairiojo skilvelio ir kairiojo prieširdžio padidėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.54 </b> Dėl kokių priežasčių įvyksta kaklo venų persipildymas krauju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dėl dekompensuoto cor pulmonale
                    </li>
                    <li>
                        2. Dėl eksudacinio perikardito
                    </li>
                    <li>
                        3. Dėl užtrukusio tachikardijos priepuolio
                    </li>
                    <li>
                        4. Dėl sąauginio perikardito
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.55 </b> Kokie garsai geriau girdimi su stetoskopu (piltuvėliu):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. III fiziologinis tonas
                    </li>
                    <li>
                        2. Aortos vožtuvo nesandarumo diastolinis ūžesys
                    </li>
                    <li>
                        3. IV tonas
                    </li>
                    <li>
                        4. Perikardo trynimosi ūžesys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.56 </b> Kokie garsai sustiprėja giliai įkvėpus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ūžesiai susiję su kairiosios širdies ydomis
                    </li>
                    <li>
                        2. Ūžesiai susiję su dešiniosios širdies ydomis
                    </li>
                    <li>
                        3. II tono skilimas dėl kairiosios Hiso pluošto kojytės blokados
                    </li>
                    <li>
                        4. Fiziologinis ir dėl dešiniosios Hiso pluošto kojytės blokados išsivystęs II tono skilimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.57 </b> Kokie ūžesiai gerai girdimi Erbo zonoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Diastolinis ūžesys dėl kairiosios atrioventrikulinės angos stenozės
                    </li>
                    <li>
                        2. Diastolinis ūžesys dėl aortos vožtuvo nesandarumo
                    </li>
                    <li>
                        3. Sistolinis ūžesys dėl aortos angos stenozės
                    </li>
                    <li>
                        4. Sistolinis ūžesys dėl mitralinio vožtuvo nesandarumo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.58 </b> Kokie yra kairiosios atrioventrikulinės angos stenozės metu girdimo middiastolinio crescendo ūžesio parametrai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Po tam tikro intervalo po II tono
                    </li>
                    <li>
                        2. Tuoj pat po II tono
                    </li>
                    <li>
                        3. Geriausiai girdimas širdies viršūnės projekcijoje
                    </li>
                    <li>
                        4. Geriausiai girdimas Erbo srityje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.59 </b> Kokios yra trinario širdies ritmo rūšys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Galopas
                    </li>
                    <li>
                        2. III fiziologinis tonas
                    </li>
                    <li>
                        3. Mitralinio vožtuvo atsidarymo tonas
                    </li>
                    <li>
                        4. Vožtuvų protezų sukeliamas tonas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.60 </b> Kokia yra „būgno lazdelių“ formos pirštų semiotinė reikšmė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Įgimtos širdies ydos (mėlynosios)
                    </li>
                    <li>
                        2. Lėtinės pūlingos plaučių ligos
                    </li>
                    <li>
                        3. Poūmis infekcinis endokarditas
                    </li>
                    <li>
                        4. Kepenų cirozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.61 </b> Kuriais atvejais padidėja pulsinis kraujospūdis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Aortos vožtuvo nesandarumas
                    </li>
                    <li>
                        2. Tirotoksikozė
                    </li>
                    <li>
                        3. Aterosklerozė
                    </li>
                    <li>
                        4. Dviburio vožtuvo nesandarumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.62 </b> Kokios yra malabsorbcijos sindromo priežastys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Žarnų dalies rezekcija
                    </li>
                    <li>
                        2. Radiacinis enteritas
                    </li>
                    <li>
                        3. Virškinimo fermentų stoka
                    </li>
                    <li>
                        4. Badavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.63 </b> Kurie reiškiniai sukelia meleną:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Geležies turinčių vaistų vartojimas
                    </li>
                    <li>
                        2. Kraujavimas iš dvylikapirštės žarnos
                    </li>
                    <li>
                        3. Stemplės achalazija
                    </li>
                    <li>
                        4. Kraujavimas iš skrandžio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.64 </b> Kurie reiškiniai būdingi malabsorbcijos sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pabrinkimai 
                    </li>
                    <li>
                        2. Viduriavimas
                    </li>
                    <li>
                        3. Anemija 
                    </li>
                    <li>
                        4. Melena
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.65 </b> Kurie kraujo biocheminiai pakitimai reiškia hepatocitolizę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hipercholesterolemija
                    </li>
                    <li>
                        2. Gliutamatdehidrogenazės aktyvumo padidėjimas
                    </li>
                    <li>
                        3. Šarminės fosfatazės aktyvumo padidėjimas
                    </li>
                    <li>
                        4. Aminotransferazių aktyvumo padidėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.66 </b> Kurie reiškiniai būdingi ūminiam kepenų nepakankamumui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dispepsinis sindromas
                    </li>
                    <li>
                        2. Hepatoceliulinė gelta
                    </li>
                    <li>
                        3. Hepatomegalija
                    </li>
                    <li>
                        4. Asteninis sindromas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.67 </b> Kurie reiškiniai nebūdingi ūminiam kepenų nepakankamumui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dispepsinis sindromas
                    </li>
                    <li>
                        2. Hemoraginis sindromas
                    </li>
                    <li>
                        3. Hepatomegalija
                    </li>
                    <li>
                        4. Odos teleangiektazijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.68 </b> Kurie reiškiniai nebūdingi ikihepatinei geltai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Konjuguota huperbilirubinemija
                    </li>
                    <li>
                        2. Aminotransferazių aktyvumo padidėjimas
                    </li>
                    <li>
                        3. Normalus urobilinogeno kiekis šlapime
                    </li>
                    <li>
                        4. Hipoprotrombinemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.69 </b> Kurie požymiai būdingi vartinei hipertenzijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Splenomegalija
                    </li>
                    <li>
                        2. Cholestazinė gelta
                    </li>
                    <li>
                        3. Ascitas
                    </li>
                    <li>
                        4. Pabrinkimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.70 </b> Kurie reiškiniai būdingi hepatorenaliniam sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hipostenurija
                    </li>
                    <li>
                        2. Normalus šlapimo santykinis tankis
                    </li>
                    <li>
                        3. Konjuguota hiperbilirubinemija
                    </li>
                    <li>
                        4. Hiperazotemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.71 </b> Kurie požymiai nebūdingi hepatinei cholestazinei geltai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. γ-gliutamiltransferazės aktyvumo padidėjimas kraujyje
                    </li>
                    <li>
                        2. Mišri hiperbilirubinemija
                    </li>
                    <li>
                        3. Konjuguota hiperbilirubinemija
                    </li>
                    <li>
                        4. Ductus choledochus obturacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.72 </b> Kokios yra hemoraginio sindromo išsivystymo priežastys sergant kepenų ligomis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Protrombino sintezės sutrikimas
                    </li>
                    <li>
                        2. VIII krešėjimo faktoriaus sintezės sutrikimai
                    </li>
                    <li>
                        3. Nuo vit. K priklausančių krešėjimo veiksnių sintezės sutrikimas
                    </li>
                    <li>
                        4. Trombocitopenija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.73 </b> Kurie reiškiniai būdingi nefritiniam sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Arterinė hipertenzija
                    </li>
                    <li>
                        2. Didelė proteinurija
                    </li>
                    <li>
                        3. Hematurija
                    </li>
                    <li>
                        4. Hipoproteinemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.74 </b> Dėl kurių priežasčių atsiranda funkcinė proteinurija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dėl karščiavimo
                    </li>
                    <li>
                        2. Po darbo
                    </li>
                    <li>
                        3. Dėl ortostazės
                    </li>
                    <li>
                        4. Dėl stazės didžiajame kraujo apytakos rate
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.75 </b> Kokie yra inkstų eklampsijos sindromo požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Toninių ir kloninių traukulių priepuolis
                    </li>
                    <li>
                        2. Prikąstas liežuvis
                    </li>
                    <li>
                        3. Koma
                    </li>
                    <li>
                        4. Retrogradinė amnezija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.76 </b> Kokie yra ūminės leukozės klinikiniai požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Generalizuotas limfmazgių padidėjimas
                    </li>
                    <li>
                        2. Poodinės kraujosruvos
                    </li>
                    <li>
                        3. Skrandžio achilija
                    </li>
                    <li>
                        4. Nekrozinė angina
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.77 </b> Kurie reiškiniai būdingi hiperglikeminei ketoacidozinei komai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kusmaulio kvėpavimas
                    </li>
                    <li>
                        2. Šlapimas be acetono
                    </li>
                    <li>
                        3. Minkšti akių obuoliai
                    </li>
                    <li>
                        4. Drėgna oda
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.78 </b> Kurie reiškiniai būdingi skydliaukės hiperfunkcijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Rausva ir drėgna oda
                    </li>
                    <li>
                        2. Išverstakumas
                    </li>
                    <li>
                        3. Gyva veido mimika
                    </li>
                    <li>
                        4. Padidėjęs svoris
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.79 </b> Kokia oda būdinga skydliaukės hipofunkcijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sausa
                    </li>
                    <li>
                        2. Stora ir paburkusi
                    </li>
                    <li>
                        3. Pleiskanojanti
                    </li>
                    <li>
                        4. Blyški
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.80 </b> Kuriais atvejais būtina padaryti gliukozės tolerancijos mėginį (GTT), net jei cukraus kiekis kraujyje nevalgius yra normalus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dažni furunkulai
                    </li>
                    <li>
                        2. Atsiradus nemotyvuotam troškuliui
                    </li>
                    <li>
                        3. Atsiradus niežėjimui (ypač apie lytinius organus)
                    </li>
                    <li>
                        4. Pirmosios eilės giminės serga cukriniu diabetu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.81 </b> Kurie požymiai yra būdingi sąnarių pažeidimo sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sustiprėję sausgyslių refleksai
                    </li>
                    <li>
                        2. Rytinis sąnarių sustingimas
                    </li>
                    <li>
                        3. Rankų pirštų tirpimas
                    </li>
                    <li>
                        4. Sumažėjęs sąnarių judrumas
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>49.82</b> 50 m. amžiaus ligonis sukarščiavo iki 37,5ºC. Jį vargino dešinės pusės pleurinis skausmas, kosėjo, skrepliavo gelsvais skrepliais. Po kurio laiko atsirado nuolatinis dusulys. Perkutuojant krūtinę, dešinėje pusėje duslu, o auskultuojant ten negirdėti kvėpavimo. Kokio sindromo nurodyti požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių infiltracijos
                    </li>
                    <li>
                        B. Padidėjusio plaučių oringumo
                    </li>
                    <li>
                        C. Skysčio pleuros ertmėje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.83</b> 50 m. amžiaus ligonis sukarščiavo iki 37,5ºC. Jį vargino dešinės pusės pleurinis skausmas, kosėjo, skrepliavo gelsvais skrepliais. Po kurio laiko atsirado nuolatinis dusulys. Perkutuojant krūtinę, dešinėje pusėje duslu, o auskultuojant ten negirdėti kvėpavimo. Kaip šiuo atveju bus pakitęs Tifno indeksas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 60–70%
                    </li>
                    <li>
                        B. Daugiau 70%
                    </li>
                    <li>
                        C. Mažiau 60%
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.84</b> Ligonis daug metų serga lėtiniu bronchitu. Prieš mėnesį pagelto akys, vėliau – oda, sutino kojos, sumažėjo paros diurezė. Kuriai širdies nepakankamumo formai būdinga aprašyta situacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kairiosios širdies nepakankamumui
                    </li>
                    <li>
                        B. Dešiniosios širdies nepakankamumui
                    </li>
                    <li>
                        C. Totaliniam širdies nepakankamumui
                    </li>
                    <li>
                        D. Hipodiastoliniam širdies nepakankamumui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.85</b> Ligonis daug metų serga lėtiniu bronchitu. Prieš mėnesį pagelto akys, vėliau – oda, sutino kojos, sumažėjo paros diurezė.Kokius reiškinius bus galima nustatyti palpacijos būdu: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sustiprėjusį, keliamą, išplitusį širdies viršūnės trinksnį
                    </li>
                    <li>
                        B. Minkštą, mažą, dažną stipininės arterijos pulsą
                    </li>
                    <li>
                        C. Širdies trinksnį
                    </li>
                    <li>
                        D. Neigiamą širdies viršūnės trinksnį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.86</b> Ligonis skundžiasi intensyviu, adekvatišku fiziniam krūviui dusuliu. Apžiūrint nustatyta ryški generalizuota periferinio tipo cianozė, jungo venų persipildymas krauju (be sistolinės pulsacijos), perkusinės širdies ribos nepadidėjusios, auskultuojant širdį – tachikardija ir duslūs tonai (ūžesių negirdėti), pilvo apimtis padidėjusi, kojose – edemos. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Triburio vožtuvo nesandarumas
                    </li>
                    <li>
                        B. Ūminis reumatinis miokarditas
                    </li>
                    <li>
                        C. Sąauginis perikarditas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.87</b> Ligonis skundžiasi intensyviu, adekvatišku fiziniam krūviui dusuliu. Apžiūrint nustatyta ryški generalizuota periferinio tipo cianozė, jungo venų persipildymas krauju (be sistolinės pulsacijos), perkusinės širdies ribos nepadidėjusios, auskultuojant širdį – tachikardija ir duslūs tonai (ūžesių negirdėti), pilvo apimtis padidėjusi, kojose – edemos.  Kuriam širdies nepakankamumo tipui atitinka nurodyti požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Totaliniam širdies nepakankamumui
                    </li>
                    <li>
                        B. Kairės širdies nepakankamumui
                    </li>
                    <li>
                        C. Hipodiastoliniam nepakankamumui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.88</b> 42 m. žmogui profilaktinio patikrinimo metu nustatyta: AKS–150/70 mm Hg, I tonas ties širdies viršūne susilpnėjęs, middiastolinis ūžesys ties širdies viršūne, be iradiacijos, švelnus, II tonas ties aorta taip pat susilpnėjęs, Erbo zonoje IVº ilgas, pučiantis, plintantis link širdies viršūnės protodiastolinis ūžesys. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dilatacinė kardiomiopatija
                    </li>
                    <li>
                        B. Hipertrofinė kardiomiopatija
                    </li>
                    <li>
                        C. Mitralinio vožtuvo nesandarumas
                    </li>
                    <li>
                        D. Sudėtinė mitralinė yda
                    </li>
                    <li>
                        E. Aortos vožtuvo nesandarumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.89</b> 48 m. vyras prieš 15 metų persirgo ūminiu artritu. Po to visą laiką jautėsi gerai. Dirbo lengvą fizinį darbą. Šiuo metu kreipėsi į gydytoją dėl galvos svaigimo. Objekt. tyrimai: pablyškęs veidas, stebima kapiliarų pulsacija. AKS–150/40 mm Hg. Pulso dažnis 80 k/min., yra gero prisipildymo. Širdies viršūnės trinksnis VI tarpšonkaulyje 1,5 cm kairiau vidurinės raktikaulio linijos. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mitralinio vožtuvo nesandarumas
                    </li>
                    <li>
                        B. Triburio vožtuvo nesandarumas
                    </li>
                    <li>
                        C. Postmiokarditinė miokardo sklerozė
                    </li>
                    <li>
                        D. Aortos angos stenozė
                    </li>
                    <li>
                        E. Aortos vožtuvo nesandarumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.90</b> 36 m. moteris dirba protinį darbą. Yra sirgusi prieš keletą metų ūminiu artritu. Šiuo metu jaučiasi sveika. Profilaktinio sveikatos patikrinimo metu terapeutas nustatė: sustiprėjęs I tonas ties širdies viršūne, IIIº presistolinis ūžesys ties širdies viršūne. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mitralinio vožtuvo nesandarumas
                    </li>
                    <li>
                        B. Kairiosios atrioventrikulinės angos stenozė
                    </li>
                    <li>
                        C. Sudėtinė mitralinė yda (vyrauja stenozė)
                    </li>
                    <li>
                        D. Postmiokarditinė miokardo fibrozė
                    </li>
                    <li>
                        E. Sudėtinė mitralinė yda (vyrauja vožtuvo nesandarumas)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.91</b> 32 m. moteris prieš 11 metų persirgo ūminiu artritu (gydėsi stacionare 4 savaites). Skundžiasi atipiniais skausmais širdies plote ir nestipriu dusuliu didesnio fizinio krūvio metu. Objekt.tyrimai: neryški lūpų cianozė, normalus širdies viršūnės trinksnis, neryškus širdies trinksnis ir diastolinis „katiškas murkimas“. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aortos angos stenozė
                    </li>
                    <li>
                        B. Mitralinio vožtuvo nesandarumas
                    </li>
                    <li>
                        C. Kairiosios atrioventrikulinės angos stenozė
                    </li>
                    <li>
                        D. Triburio vožtuvo nesandarumas
                    </li>
                    <li>
                        E. Sudėtinė mitralinė ir triburio vožtuvo ydos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.92</b> Pirmine arterine hipertenzija sergantis pacientas išgėrė didelę diuretikų dozę. Po kelių valandų, ligoniui besikeliant iš lovos, staiga atsirado didelis bendras silpnumas, galvos svaigimas, tachikardija. Ligonis išblyško, tačiau sąmonės neprarado. Nebegalėdamas pastovėti, jis nededsdamas atsigulė į lovą ir po kelių minučių pasijuto geriau. Kokiam sindromui būdingi reiškiniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sinkope
                    </li>
                    <li>
                        B. Kolapsas
                    </li>
                    <li>
                        C. Šokas
                    </li>
                    <li>
                        D. Eklampsija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.93</b> Pirmine arterine hipertenzija sergantis pacientas išgėrė didelę diuretikų dozę. Po kelių valandų, ligoniui besikeliant iš lovos, staiga atsirado didelis bendras silpnumas, galvos svaigimas, tachikardija. Ligonis išblyško, tačiau sąmonės neprarado. Nebegalėdamas pastovėti, jis nededsdamas atsigulė į lovą ir po kelių minučių pasijuto geriau. Kuris tyrimas patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bazinio arterinio kraujospūdžio matavimas
                    </li>
                    <li>
                        B. Centrinio veninio kraujospūdžio matavimas
                    </li>
                    <li>
                        C. Ortostatinis mėginys
                    </li>
                    <li>
                        D. Biocheminis kraujo tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.94</b> 32 m. moteriai prasidėjo gausus kraujavimas iš nosies ir genitalijų. Objekt. tyrimai: odoje yra kraujosruvų, padidėjusi blužnis. Trombocitų kraujyje 30×10⁹/l. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinė leukozė
                    </li>
                    <li>
                        B. Posthemoraginė anemija
                    </li>
                    <li>
                        C. Idiopatinė trombocitopeninė purpura
                    </li>
                    <li>
                        D. Hemofilija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.95</b> Gatvėje rastas nukritęs be sąmonės vyras. Iš švarko kišenės kyšo diabetiko pasas. Objekt. tyrimai: kelio ir vyzdžio refleksų nėra. Oda drėgna. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipoglikeminė koma
                    </li>
                    <li>
                        B. Hiperglikeminė ketoacidezinė koma
                    </li>
                    <li>
                        C. Sinkopė
                    </li>
                    <li>
                        D. Soporas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.96</b> Gatvėje rastas nukritęs be sąmonės vyras. Iš švarko kišenės kyšo diabetiko pasas. Objekt. tyrimai: kelio ir vyzdžio refleksų nėra. Oda drėgna. Kokie bus laboratorinių tyrimų rezultatai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gliukozės kraujyje daugiau kaip 8,0 mmol/l
                    </li>
                    <li>
                        B. Šlapime acetonas
                    </li>
                    <li>
                        C. Gliukozės kraujyje mažiau kaip 3,33 mmol/l
                    </li>
                    <li>
                        D. Proteinurija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.97</b> Gatvėje rastas nukritęs be sąmonės vyras. Iš švarko kišenės kyšo diabetiko pasas. Objekt. tyrimai: kelio ir vyzdžio refleksų nėra. Oda drėgna. Kokia turi būti pirmoji pagalba:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Insulinas į raumenis
                    </li>
                    <li>
                        B. 40% gliukozės tirpalas į veną
                    </li>
                    <li>
                        C. Cukrus per os
                    </li>
                    <li>
                        D. Didelis skysčio kiekis į veną
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.98</b> 30 metų moteris skundžiasi priepuoliniu dusuliu. Serga daugiau kaip 10 metų, gydosi ambulatoriškai, efektas saikingas, laikinas. Dabar pablogėjo prieš kelias dienas: padažnėjo ir sustiprėjo dusulio priepuoliai, ligonė stacionarizuota. Atlikus plaučių funkcinį  tyrimą, rasta: FVC – 3,2 l  (norma – 3,8 l; 84% norminio dydžio), FEV1 – 1,6 l (norma – 3,1 l; 51% norminio dydžio), Genslerio rodiklis – 50% (norma – 85,9%), MEF50 – 0,9 l/s (norma – 5 l/s; 18% norminio dydžio). Kokio tipo ventiliacijos sutrikimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Obstrukcinis
                    </li>
                    <li>
                        B. Restrikcinis
                    </li>
                    <li>
                        C. Mišrus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.99</b> 30 metų moteris skundžiasi priepuoliniu dusuliu. Serga daugiau kaip 10 metų, gydosi ambulatoriškai, efektas saikingas, laikinas. Dabar pablogėjo prieš kelias dienas: padažnėjo ir sustiprėjo dusulio priepuoliai, ligonė stacionarizuota. Atlikus plaučių funkcinį  tyrimą, rasta: FVC – 3,2 l  (norma – 3,8 l; 84% norminio dydžio), FEV1 – 1,6 l (norma – 3,1 l; 51% norminio dydžio), Genslerio rodiklis – 50% (norma – 85,9%), MEF50 – 0,9 l/s (norma – 5 l/s; 18% norminio dydžio). Kokiai ligai būdingas šis ventiliacijos sutrikimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pneumonijai
                    </li>
                    <li>
                        B. Astmai
                    </li>
                    <li>
                        C. Tracheitui
                    </li>
                    <li>
                        D. Eksudaciniam pleuritui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.100</b> 50 m. vyras skundžiasi kosuliu, saikingu skrepliavimu, pastoviu dusuliu. Serga nuo jaunystės. Nepastoviai gydosi poliklinikoje. Atlikus plaučių funkcinį tyrimą, rasta: VC – 1,3 (norma – 2,5 l.; 52 % norminio dydžio), FVC – 1,5 l. (norma – 2,5 l; 60% norminio dydžio), FEV1 – 0,8 l (norma – 2 l; 40% norminio dydžio), Genslerio rodiklis – 60% (norma – 82,2 %; 72% norminio dydžio),  MEF50 – 0,5 l/s (norma – 4,1 l/s; 12% norminio dydžio). Kokio tipo ventiliacijos sutrikimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Obstrukcinis
                    </li>
                    <li>
                        B. Restrikcinis
                    </li>
                    <li>
                        C. Mišrus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>49.101</b> 50 m. vyras skundžiasi kosuliu, saikingu skrepliavimu, pastoviu dusuliu. Serga nuo jaunystės. Nepastoviai gydosi poliklinikoje. Atlikus plaučių funkcinį tyrimą, rasta: VC – 1,3 (norma – 2,5 l.; 52 % norminio dydžio), FVC – 1,5 l. (norma – 2,5 l; 60% norminio dydžio), FEV1 – 0,8 l (norma – 2 l; 40% norminio dydžio), Genslerio rodiklis – 60% (norma – 82,2 %; 72% norminio dydžio),  MEF50 – 0,5 l/s (norma – 4,1 l/s; 12% norminio dydžio).  Kuriai būklei būdingas šis ventiliacijos sutrikimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pneumonijai
                    </li>
                    <li>
                        B. Eksudaciniam pleuritui
                    </li>
                    <li>
                        C. Kifoskoliozei su lėtiniu bronchitu
                    </li>
                    <li>
                        D. Tracheitui
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>49.1 - 

                C
            </td>
            <td>49.2 - 

                D
            </td>
            <td>49.3 - 

                A
            </td>
            <td>49.4 - 

                D
            </td>
            <td>49.5 - 

                C
            </td>
            <td>49.6 - 

                C
            </td>
            <td>49.7 - 

                B
            </td>
            <td>49.8 - 

                C
            </td>
                </tr><tr>
            <td>49.9 - 

                C
            </td>
            <td>49.10 - 

                B
            </td>
            <td>49.11 - 

                D
            </td>
            <td>49.12 - 

                B
            </td>
            <td>49.13 - 

                D
            </td>
            <td>49.14 - 

                C
            </td>
            <td>49.15 - 

                C
            </td>
            <td>49.16 - 

                C
            </td>
                </tr><tr>
            <td>49.17 - 

                A
            </td>
            <td>49.18 - 

                A
            </td>
            <td>49.19 - 

                C
            </td>
            <td>49.20 - 

                A
            </td>
            <td>49.21 - 

                C
            </td>
            <td>49.22 - 

                C
            </td>
            <td>49.23 - 

                C
            </td>
            <td>49.24 - 

                D
            </td>
                </tr><tr>
            <td>49.25 - 

                C
            </td>
            <td>49.26 - 

                C
            </td>
            <td>49.27 - 

                D
            </td>
            <td>49.28 - 

                C
            </td>
                </tr><tr>
            <td>49.29
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>49.30
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>49.31
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>49.32
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - A </li>
            </ul></td>
            <td>49.33
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>49.34
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - A </li>
                <li>4 - C </li>
            </ul></td>
            <td>49.35
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>49.36
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
                </tr><tr>
            <td>49.37
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>49.38
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
            <td>49.39
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>49.40
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
            <td>49.41
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
            <td>49.42
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>49.43
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>49.44
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>49.45
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
                </tr><tr>
            <td>49.46
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>49.47
            <ul>
                <li>4</li>
            </ul></td>
            <td>49.48
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>49.49
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>49.50
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>49.51
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>49.52
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>49.53
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>49.54
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>49.55
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>49.56
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>49.57
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>49.58
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>49.59
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>49.60
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>49.61
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>49.62
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>49.63
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>49.64
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>49.65
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>49.66
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>49.67
            <ul>
                <li>4</li>
            </ul></td>
            <td>49.68
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>49.69
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>49.70
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>49.71
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>49.72
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>49.73
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>49.74
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>49.75
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>49.76
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>49.77
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>49.78
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>49.79
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>49.80
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>49.81
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>49.82 - 

                C
            </td>
            <td>49.83 - 

                B
            </td>
            <td>49.84 - 

                B
            </td>
            <td>49.85 - 

                C
            </td>
            <td>49.86 - 

                C
            </td>
            <td>49.87 - 

                C
            </td>
            <td>49.88 - 

                E
            </td>
            <td>49.89 - 

                E
            </td>
                </tr><tr>
            <td>49.90 - 

                B
            </td>
            <td>49.91 - 

                C
            </td>
            <td>49.92 - 

                B
            </td>
            <td>49.93 - 

                C
            </td>
            <td>49.94 - 

                C
            </td>
            <td>49.95 - 

                A
            </td>
            <td>49.96 - 

                C
            </td>
            <td>49.97 - 

                B
            </td>
                </tr><tr>
            <td>49.98 - 

                A
            </td>
            <td>49.99 - 

                B
            </td>
            <td>49.100 - 

                C
            </td>
            <td>49.101 - 

                C
            </td>

</tr></tbody></table></div>