<div class="Centre Kategorija">Mikrobiologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>35.1</b> Kuris teiginys apie žmogaus papilomavirusus (ŽPV)yra neteisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dydis 40–60 nm
                    </li>
                    <li>
                        B. Sukelia karpas
                    </li>
                    <li>
                        C. Lengvai kultivuojami ląstelių kultūrose
                    </li>
                    <li>
                        D. Yra DNR virusai
                    </li>
                    <li>
                        E. Gali sukelti gimdos kaklelio vėžį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.2</b> Kurios mikroorganizmų substancijos jungiasi su Ig molekulės Fc fragmentu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gramneigiamų bakterijų endotoksinai
                    </li>
                    <li>
                        B. Stafilokokų plazmokoagulazė
                    </li>
                    <li>
                        C. Gramteigiamų bakterijų lipoteichojinės rūgštys
                    </li>
                    <li>
                        D. Streptokokų M baltymas
                    </li>
                    <li>
                        E. Stafilokokų A baltymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.3</b> Kuris teiginys apie citomegalovirusus (CMV) teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. CMV sukelia pasiutligę
                    </li>
                    <li>
                        B. CMV yra RNR virusai
                    </li>
                    <li>
                        C. CMV dažniausiai sukelia tik vietines kvėpavimo takų ligas
                    </li>
                    <li>
                        D. CMV yra herpes virusai
                    </li>
                    <li>
                        E. CMV yra paramiksovirusai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.4</b> Kurie fermentai padeda RNR onkogeniniams virusams integruotis į ląstelės genomą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo RNR priklausoma RNR polimerazė
                    </li>
                    <li>
                        B. Nuo RNR priklausoma DNR polimerazė
                    </li>
                    <li>
                        C. Nuo DNR priklausoma RNR polimerazė
                    </li>
                    <li>
                        D. Nuo DNR priklausoma DNR polimerazė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.5</b> Kodėl gripo vakcina turi būti nuolat atnaujinami:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dėl technologinių priežasčių
                    </li>
                    <li>
                        B. Dėl nuolatinės antigeninės cirkuliuojančių padermių kaitos
                    </li>
                    <li>
                        C. Dėl virulentiškumo padidėjimo pavojaus
                    </li>
                    <li>
                        D. Dėl alerginių reakcijų, naudojant tą pačią vakciną, pavojaus
                    </li>
                    <li>
                        E. Dėl palaipsniui ryškiai mažėjančio vakcinos antigeniškumo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.6</b> Kuris teiginys apie Mycoplasma pneumoniae yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Jos neturi ląstelės sienelės
                    </li>
                    <li>
                        B. Jos yra viduląsteliniai parazitai
                    </li>
                    <li>
                        C. Jos negali būti kultivuojamos mitybinėse terpėse
                    </li>
                    <li>
                        D. Jos yra pirmuonys
                    </li>
                    <li>
                        E. Jos priklauso mikobakterijoms
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.7</b> Kuris teiginys apie pneumokokus yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Visada dažytuose tepinėliuose išsidėsto grandinėlėmis
                    </li>
                    <li>
                        B. Sintetina egzotoksinus
                    </li>
                    <li>
                        C. Yra gramteigiami mikroorganizmai
                    </li>
                    <li>
                        D. Yra griežti anaerobai
                    </li>
                    <li>
                        E. Nesidaugina mitybinėse terpėse
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.8</b> Kuris teiginys apie meningokokus yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dažytini Cylio-Nilseno būdu
                    </li>
                    <li>
                        B. Išskiriami iš kraujo septinių procesų atvejais
                    </li>
                    <li>
                        C. Žmonėms perduodami graužikų
                    </li>
                    <li>
                        D. Yra gramteigiami diplokokai
                    </li>
                    <li>
                        E. Yra normalios mikrofloros atstovai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.9</b> Kuris teiginys apie Proteus spp. yra neteisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sukelia šlapimo takų infekcijas
                    </li>
                    <li>
                        B. Yra sąlygiškai patogeniški uždegiminių pūlinių infekcijų sukėlėjai
                    </li>
                    <li>
                        C. Būdingai auga „šliaužimu“ standžiose mitybinėse terpėse
                    </li>
                    <li>
                        D. Įeina į normalios žarnyno mikrofloros sudėtį
                    </li>
                    <li>
                        E. Yra gramteigiamos sporų nesudarančios bakterijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.10</b> Kaip derėtų suprasti teiginį „imunitetas prieš A grupės streptokokus yra tipospecifiškas“:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Susiformavęs imunitetas galioja visų streptokokų, sintetinančių tapatų hemoliziną, atžvilgiu
                    </li>
                    <li>
                        B. Susiformavęs imunitetas galioja tik prieš A grupės streptokokus, sintetinančius eritrogeninį toksiną
                    </li>
                    <li>
                        C. Susiformavęs imunitetas galioja prieš streptokokus su tapačiu C antigenu
                    </li>
                    <li>
                        D. Imunitetas susiformuoja prieš visus A grupės streptokokų variantus (tipus)
                    </li>
                    <li>
                        E. Susiformavęs imunitetas galioja tik prieš tam tikrus A grupės streptokokų variantus (tipus) su tapačiu M baltymu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.11</b> Pagal kokį požymį identifikuojami Staphylococcus aureus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plazmokoagulazės sintezę
                    </li>
                    <li>
                        B. Fagotipą
                    </li>
                    <li>
                        C. Katalazės sintezę
                    </li>
                    <li>
                        D. Morfologiją
                    </li>
                    <li>
                        E. Jautrumą antibiotikams
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.12</b> Kuriai infekcinei ligai ląstelinis imunitetas yra svarbiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tuberkuliozei
                    </li>
                    <li>
                        B. Difterijai
                    </li>
                    <li>
                        C. Pneumokokinei pneumonijai
                    </li>
                    <li>
                        D. Meningokokiniam meningitui
                    </li>
                    <li>
                        E. A grupės streptokokų sukeltai anginai (tonzilitui)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.13</b> Kaip derėtų vertinti α hemolizinių streptokokų radimą žiotyse:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hospitaliniai štamai
                    </li>
                    <li>
                        B. Anginos sukėlėjai
                    </li>
                    <li>
                        C. Normalios žiočių mikrofloros atstovai
                    </li>
                    <li>
                        D. Žiotyse aptinkami itin retai, todėl laikytini saprofitais
                    </li>
                    <li>
                        E. Skarlatinos sukėlėjai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.14</b> Kurie mikroorganizmai yra griežti anaerobai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Neisseria meningitidis
                    </li>
                    <li>
                        B. Escherichia  coli
                    </li>
                    <li>
                        C. Salmonella typhi
                    </li>
                    <li>
                        D. Corynebacterium diphtheriae
                    </li>
                    <li>
                        E. Clostridium perfringens
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.15</b> Kuri stafilokokų savybė yra reikšmingiausia jų patogeniškumui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mikrokapsulė
                    </li>
                    <li>
                        B. Jautrumas tam tikriems antibiotikams
                    </li>
                    <li>
                        C. Pigmento sintezė
                    </li>
                    <li>
                        D. Išsidėstymas „vynuogių kekėmis“ dažytuose tepinėliuose
                    </li>
                    <li>
                        E. Plazmokoagulazės sintezė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.16</b> Su kuo sietinas bėrimas, sergant skarlatina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Su bakterijų patekimu į odą
                    </li>
                    <li>
                        B. Su temperatūrine reakcija
                    </li>
                    <li>
                        C. Su eritrogeniniu toksinu
                    </li>
                    <li>
                        D. Su enterotoksinu
                    </li>
                    <li>
                        E. Nė vienas atsakymas (A–D) nėra teisingas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.17</b> Ką sukelia mikoplazmos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pneumonijas
                    </li>
                    <li>
                        B. Aktinomikozę
                    </li>
                    <li>
                        C. Kandidozę
                    </li>
                    <li>
                        D. Tuberkuliozę
                    </li>
                    <li>
                        E. Hepatitus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.18</b> Kurios ligos profilaktikai vartojamos atenuotos vakcinos: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Botulizmo
                    </li>
                    <li>
                        B. Kokliušo
                    </li>
                    <li>
                        C. Tuberkuliozės
                    </li>
                    <li>
                        D. Stabligės
                    </li>
                    <li>
                        E. Meningokokinės infekcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.19</b> Kuris teiginys apie antibiotikų veikimo mechanizmą yra neteisingas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vankomicinas inhibuoja peptidoglikano sintezę
                    </li>
                    <li>
                        B. Kvinolonai, kaip ciprofloksacinas, inhibuoja bakterijų DNR girazes  
                    </li>
                    <li>
                        C. Eritromicinas pažeidžia bakterijų citoplazminę membraną kaip ir detergentai 
                    </li>
                    <li>
                        D. Aminoglikozidai inhibuoja prokariotų baltymų sintezę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.20</b> Kurios ligos profilaktikai vartotini anatoksinai (toksoidai): </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Citomegalinės infekcijos
                    </li>
                    <li>
                        B. Vidurių šiltinės
                    </li>
                    <li>
                        C. Kokliušo
                    </li>
                    <li>
                        D. Difterijos
                    </li>
                    <li>
                        E. Poliomielito
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.21</b> Kurie mikroorganizmai nesudaro sporų: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dujinės gangrenos klostridijos
                    </li>
                    <li>
                        B. Stabligės klostridijos
                    </li>
                    <li>
                        C. Juodligės bacilos
                    </li>
                    <li>
                        D. Difterijos korinebakterijos
                    </li>
                    <li>
                        E. Botulizmo klostridijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.22</b> Kuriuos gramneigiamus diplokokus galima rasti mikroskopuojant ligonio nugaros smegenų skystį: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Streptococcus pneumoniae
                    </li>
                    <li>
                        B. Neisseria meningitidis
                    </li>
                    <li>
                        C. Escherichia  coli
                    </li>
                    <li>
                        D. Hemophilus influenzae
                    </li>
                    <li>
                        E. Nė vieną iš šių mikroorganizmų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.23</b> Kaip identifikuojamos hospitalinės stafilokokų padermės: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mikroskopuojant Gramo būdu dažytus išskirtų kultūrų tepinėlius
                    </li>
                    <li>
                        B. Pagal išskirtų stafilokokų kultūrų antigeninę sandarą
                    </li>
                    <li>
                        C. Fagotipuojant
                    </li>
                    <li>
                        D. Pagal jautrumą polivalentiniam stafilokokų fagui
                    </li>
                    <li>
                        E. Pagal toksiškumą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.24</b> Kuris Streptococcus pneumoniae kapsulės virulentiškumo mechanizmas yra svarbiausias: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kapsulė apsaugo streptokokus nuo dehidratacijos 
                    </li>
                    <li>
                        B. Kapsulė blokuoja fagocitozę
                    </li>
                    <li>
                        C. Kapsulė slopina chemotaksį
                    </li>
                    <li>
                        D. Kapsulės yra invazijos audiniuose veiksnys, turintis kolagenazinį aktyvumą  
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.25</b> Kuris apsaugos nuo pneumokokų polisacharidų mechanizmas yra veiksmingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. T limfocitų sensibilizacija
                    </li>
                    <li>
                        B. Fermentai ardantys kapsulės polisacharidus
                    </li>
                    <li>
                        C. Prieškapsuliniai antikūnai
                    </li>
                    <li>
                        D. Makrofagų suaktyvinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.26</b> Kuris žarnyno infekcijų sukėlėjas sukelia bakteriemiją: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Shigella flexneri 
                    </li>
                    <li>
                        B. Campylobacter jejuni
                    </li>
                    <li>
                        C. Vibrio cholerae 
                    </li>
                    <li>
                        D. Salmonella typhi
                    </li>
                    <li>
                        E. Sigella sonnei  
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.27</b> Kuris teiginys apie klostridijas yra neteisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Patogeninės klostridijos randamos dirvožemyje ir yra žarnyno normalios mikrofloros rūšis
                    </li>
                    <li>
                        B. Neracionaliai vartojant antibiotikus pseudomembraninį kolitą sukelia Clostridium difficile gaminami egzotoksinai
                    </li>
                    <li>
                        C. Stabligės sukėlėjo vystymuisi žaizdoje anaerobinės salygos nebūtinos, nes Clostridium tetani sporos susidaro atmosferinio deguonies aplinkoje 
                    </li>
                    <li>
                        D. Žaizdų botulizmu galima susirgti, patekus į žaizdą Clostridium botulinum sporoms  
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.28</b> Kuris teiginys apie gramneigiamasias bakterijas yra neteisingas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Escherichia coli yra storojo žarnyno autochtoninės mikrofloros atstovas 
                    </li>
                    <li>
                        B. Escherichia  coli nesukelia diarėjų 
                    </li>
                    <li>
                        C. Klebsiella pneumonia yra normalios mikrofloros atstovas, kuris gali sukelti kvėpavimo takų infekciją    
                    </li>
                    <li>
                        D. Proteus genties bakterijos yra labai judrios ir gali sukelti šlapimo takų infekciją 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.29</b> Kuris reiškinys nesusijęs su B grupės streptokokais – Streptococcus agalactiae: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sukelia piodermijas (impetigo)
                    </li>
                    <li>
                        B. 5–25% sveikų jaunų moterų makštyje gali nešioti šį streptokoką 
                    </li>
                    <li>
                        C. Sukelia naujagimių septinį meningitą
                    </li>
                    <li>
                        D. Auginant mitybinėje terpėje, būdinga eritrocitų β hemolizė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.30</b> Kurios nurodytos bakterijos nesukelia diarėjų:  </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Clostridium perfringens 
                    </li>
                    <li>
                        B. Enterococcus faecalis 
                    </li>
                    <li>
                        C. Escherichia coli 
                    </li>
                    <li>
                        D. Vibrio cholerae
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.31</b> Kurios nurodytos bakterijos nesukelia šlapimo takų infekcijų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Escherichia coli 
                    </li>
                    <li>
                        B. Proteus mirabilis
                    </li>
                    <li>
                        C. Klebsiella pneumonia 
                    </li>
                    <li>
                        D. Bacteroides fragilis 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.32</b> Kuris teiginys apie endotoksino veikimo mechanizmą yra neteisingas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Endotoksinas yra opsoninas 
                    </li>
                    <li>
                        B. Endotoksinas yra pirogenas
                    </li>
                    <li>
                        C. Endotoksinas aktyvina kraujo krešėjimo kaskadą 
                    </li>
                    <li>
                        D. Endotoksinas yra hipotenzijos priežastis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.33</b> Kuris teiginys apie antikūnų poveikį bakterijoms yra neteisingas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antikūnai aktyvina komplementą, kuris lizuoja gramneigiamasias bakterijas 
                    </li>
                    <li>
                        B. Antikūnai aktyvina fagocitozę 
                    </li>
                    <li>
                        C. Antikūnai didina lizogenijos dažnį 
                    </li>
                    <li>
                        D. Antikūnai blokuoja bakterijų adheziją ant mukozinių membranų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.34</b> Kuris teiginys apie bakterijų sunaikinimo mechanizmus yra neteisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lizocimas hidrolizuoja bakterijų ląstelių sienelę 
                    </li>
                    <li>
                        B. Sidabro nitratai inaktyvina bakterijų fermentus 
                    </li>
                    <li>
                        C. Detergentai suardo bakterijų membranas 
                    </li>
                    <li>
                        D. Ultravioletinė spinduliuotė suardo bakterijų kapsulę      
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.35</b> Pasyvus dirbtinas imunitetas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Suteikia ilgalaikį imunitetą prieš tam tikras infekcines ligas
                    </li>
                    <li>
                        B. Apsaugo asmenis, turėjusius kontaktą su sergančiais infekcinėmis ligomis, nuo susirgimo
                    </li>
                    <li>
                        C. Padidina  imuninės atminties ląstelių skaičių ir tuo apsaugo nuo reinfekcijos
                    </li>
                    <li>
                        D. Desensibilizuoja organizmą, įjautrintą tam tikrais alergenais
                    </li>
                    <li>
                        E. Susidaro suleidus  protekcinių mikroorganizmų antigenų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.36</b> Kuris teiginys apie MHC II klasės baltymus yra neteisingas:  </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Jie yra T limfocitų membranų paviršiuje
                    </li>
                    <li>
                        B. Jie yra labai polimorfiškos molekulės 
                    </li>
                    <li>
                        C. Jie dalyvauja, kai makrofagai pristato (prezentuoja) antigeną
                    </li>
                    <li>
                        D. Jie gali susijungti su CD4 limfocitų receptoriais 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.37</b> Kuris teiginys apie virusų patogeniškumo mechanizmus yra neteisingas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Virusai užkrėstose ląstelėse sukelia citopatinį efektą
                    </li>
                    <li>
                        B. Virusai gali sukelti užkrėstų ląstelių trasformaciją 
                    </li>
                    <li>
                        C. Virusai sukelia imunopatologines reakcijas
                    </li>
                    <li>
                        D. Virusai gamina egzotoksiną, kuris aktyvina adenilatciklazę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.38</b> Kuris teiginys apie antikūnų poveikį bakterijoms yra teisingas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antikūnai aktyvina lizocimą, kuris ardo ląstelės sienelę
                    </li>
                    <li>
                        B. Antikūnai didina egzotoksinų proteolizę 
                    </li>
                    <li>
                        C. Antikūnai stiprina fagocitozę 
                    </li>
                    <li>
                        D. Antikūnai slopina bakterijų baltymų sintezę 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.39</b> Kuris teiginys apie interferonus yra neteisingas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Interferonai yra baltymai, veikiantys virusus
                    </li>
                    <li>
                        B. Interferonus sintezuoja tik virusu užkrėstos ląstelės
                    </li>
                    <li>
                        C. Interferonai veikia visus virusus
                    </li>
                    <li>
                        D. Interferonai indukuoja antivirusinių fermentų sintezę neinfekuotose ląstelėse
                    </li>
                    <li>
                        E. Interferonai nėra specifiški virusų rūšiai 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.40</b> Kuris teiginys apie treponemas yra neteisingas:
  </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Treponema pallidum gamina egzotoksiną, kuris aktyvina adenilatciklazę
                    </li>
                    <li>
                        B. Treponema pallidum neauga mitybinėse terpėse 
                    </li>
                    <li>
                        C. Tam tikros treponemos yra nosiaryklės normalios mikrofloros atstovai 
                    </li>
                    <li>
                        D. Infekuotų Treponema pallidum asmenų organizme randama antikūnų, reaguojančių su jaučio širdies kardiolipidais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.41</b> Kuris teiginys apie virusų vakcinas yra neteisingas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gyvų atenuotų vakcinų virusai nesukelia ligos, bet skatina virusus neutralizuojančių antikūnų sintezę 
                    </li>
                    <li>
                        B. Gyvos atenuotos vakcinos gali būti pavojingos žmonėms su imunosupresija
                    </li>
                    <li>
                        C. Inaktyvintos vakcinos indukuoja mukozinio imuniteto IgA sintezę
                    </li>
                    <li>
                        D. Inaktyvintos vakcinos indukuoja protekcinių IgG sintezę
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>35.42</b> Kokios yra nurodytų diagnostikos metodų būdingos savybės</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Serodiagnostika
                    </li>
                    <li>
                        2 - Bakteriologinė diagnostika
                    </li>
                    <li>
                        3 - Molekulinė diagnostika - polimerazės grandininė reakcija (PGR)  
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Mikroorganizmų identifikavimas, nustatant jų antigeninę sandarą su diagnostiniais serumais
                    </li>
                    <li>
                        B. Grynų mikroorganizmų kultūrų išskyrimas ir identifikavimas
                    </li>
                    <li>
                        C. Antikūnų nustatymas kraujo serume 
                    </li>
                    <li>
                        D. Specifiškų mikroorganizmų polimerazių nustatymas infekuotose ląstelėse
                    </li>
                    <li>
                        E. Mikroorganizmų nukleorūgščių nustatymas tiriamuose bandiniuose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.43</b> Kuriam imuniniam atsakui būdingos nurodytos savybės</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Imuninis atsakas vystosi greičiau, imuniteto trukmė ilgesnė
                    </li>
                    <li>
                        2 - Imuninio atsako metu daugiau sintetinama IgG
                    </li>
                    <li>
                        3 - Imuninio atsako pradžioje sintetinami IgM
                    </li>
                    <li>
                        4 - Diagnostinis specifinių antikūnų kiekis kraujyje nustatomas po 7–10 dienų
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Pirminis imuninis atsakas
                    </li>
                    <li>
                        B. Antrinis imuninis atsakas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.44</b> Kurias ligas dažniausiai sukelia nurodyti mikroorganizmai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Epšteino-Baro virusas
                    </li>
                    <li>
                        2 - Chlamydia trachomatis
                    </li>
                    <li>
                        3 - Bacteroides spp.
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Infekcinę mononukleozę
                    </li>
                    <li>
                        B. Kokliušą
                    </li>
                    <li>
                        C. Pūlinius(abscesus)
                    </li>
                    <li>
                        D. Šlapimo ir lytinių takų infekcijas
                    </li>
                    <li>
                        E. Meningitus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.45</b> Kurie invazijos veiksniai būdingi nurodytiems mikroorganizmams</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Streptococcus pyogenes
                    </li>
                    <li>
                        2 - Neisseria gonorrhoeae
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Endotoksinas
                    </li>
                    <li>
                        B. Streptokinazė
                    </li>
                    <li>
                        C. Kapsulės antigenai
                    </li>
                    <li>
                        D. Žiuželiai
                    </li>
                    <li>
                        E. Išorinės membranos Por baltymas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.46</b> Kurie išvardinti mikroorganizmai dažniausiai randami nurodytuose sveikų žmonių organuose:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Odoje
                    </li>
                    <li>
                        2 - Žarnose
                    </li>
                    <li>
                        3 - Kvėpavimo takuose
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Streptococcus pneumoniae
                    </li>
                    <li>
                        B. Propionibacterium acne
                    </li>
                    <li>
                        C. Clostridum spp
                    </li>
                    <li>
                        D. Gardnerella spp
                    </li>
                    <li>
                        E. Pseudomonas spp
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.47</b> Kurie mikroorganizmai sukelia nurodytas infekcijas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Hospitalines infekcijas ir pneumonijas suaugusiems 
                    </li>
                    <li>
                        2 - Yra dažniausia šlapimo takų infekcijų priežastis
                    </li>
                    <li>
                        3 - Gali sukelti šlapimo takų infekcijas ir gamina ureazę
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Escherichia coli 
                    </li>
                    <li>
                        B. Klebsiella pneumonia 
                    </li>
                    <li>
                        C. Salmonella enteritidis 
                    </li>
                    <li>
                        D. Proteus mirabilis 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.48</b> Kuriems mikroorganizmams būdingos nurodytos savybės?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Gramneigiamos kokobakterijos, sukelia vaikams meningitą
                    </li>
                    <li>
                        2 - Gramneigiamos bakterijos, oksidazės reakcija teigiama, sukelia žaizdų ir nudegimų infekcijas 
                    </li>
                    <li>
                        3 - Sukelia atipinę pneumoniją esant imunosupresijai 
                    </li>
                    <li>
                        4 - Anaerobinės gramneigiamos bakterijos, sukelia peritonitą ir abscesus
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Bacteroides fragilis 
                    </li>
                    <li>
                        B. Haemophilus influenzae   
                    </li>
                    <li>
                        C. Pseudomonas aeruginosa 
                    </li>
                    <li>
                        D. Chlamydia pneumoniae  
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.49</b> Kuriems virusams būdingos nurodytos savybės</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - DNR virusas, turi apvalkalą, plinta krauju
                    </li>
                    <li>
                        2 - RNR virusas, turi apvalkalą, kuriame yra kito viruso paviršinių antigenų 
                    </li>
                    <li>
                        3 - RNR virusas, turi nuosavą apvalkalą, plinta krauju 
                    </li>
                    <li>
                        4 - RNR virusas, neturi apvalkalo, plinta fekaliniu-oraliniu būdu 
                    </li>
                    <li>
                        5 - Paviršinis viruso apvalkalo proteinas yra protekcinis vakcinos antigenas 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Hepatito A virusas
                    </li>
                    <li>
                        B. Hepatito B virusas
                    </li>
                    <li>
                        C. Hepatito C virusas
                    </li>
                    <li>
                        D. Hepatito D virusas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.50</b> Kurioms ląstelėms būdingos nurodytos funkcijos</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - CD4 limfocitai
                    </li>
                    <li>
                        2 - CD8 limfocitai
                    </li>
                    <li>
                        3 - Makrofagai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Specifinės lėto tipo padidėjusio jautrumo reakcijos
                    </li>
                    <li>
                        B. Citotoksiškumas
                    </li>
                    <li>
                        C. Greito tipo alerginės reakcijos
                    </li>
                    <li>
                        D. Antigeno prezentavimas
                    </li>
                    <li>
                        E. Bazofilų degranuliacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.51</b> Kurioms ląstelėms būdingos nurodytos savybės</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Sintetina interleukiną-1
                    </li>
                    <li>
                        2 - Interleukinas-1 aktyvina
                    </li>
                    <li>
                        3 - Sintetina interleukiną-2
                    </li>
                    <li>
                        4 - Parodo (ekspresuoja) MHC I klasės antigenus 
                    </li>
                    <li>
                        5 - Parodo (ekspresuoja) MHC II klasės antigenus 
                    </li>
                    <li>
                        6 - Parodo (ekspresuoja) limfocitų membranoje imunoglobulinų receptorius antigenams
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. T limfocitai 
                    </li>
                    <li>
                        B. B limfocitai 
                    </li>
                    <li>
                        C. Makrofagai
                    </li>
                    <li>
                        D. B limfocitai ir makrofagai 
                    </li>
                    <li>
                        E. T ir B limfocitai, makrofagai 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.52</b> Kurios nurodytų vakcinų savybės yra svarbiausios?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vakcina prieš difteriją
                    </li>
                    <li>
                        2 - Prieštuberkuliozinė vakcina
                    </li>
                    <li>
                        3 - Vakcina prieš Hepatito B virusą
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Gyva vakcina iš žmogui nevirulentiškų virusų 
                    </li>
                    <li>
                        B. Inaktyvinto toksino vakcina
                    </li>
                    <li>
                        C. Gyva vakcina iš atenuotų padermių
                    </li>
                    <li>
                        D. Vakcina iš užmuštų mikroorganizmų
                    </li>
                    <li>
                        E. Rekombinantinė vakcina iš protekcinio antigeno
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.53</b> Kurios savybės tinka nurodytiems mikroorganizmams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Helicobacter pylori
                    </li>
                    <li>
                        2 - Mycoplasma hominis
                    </li>
                    <li>
                        3 - Gardnerella vaginalis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Yra pirmuonys
                    </li>
                    <li>
                        B. Yra mikroaerofilai
                    </li>
                    <li>
                        C. Neturi pilnavertės ląstelės sienelės
                    </li>
                    <li>
                        D. Sukelia pneumonijas
                    </li>
                    <li>
                        E. Yra polimorfiškos, nevienodai Gramo būdu nusidažančios lazdelės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.54</b> Kurių  MHC klasių molekulės dalyvauja šiuose procesuose:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pateikia antigeną (prezentuoja) CD4 limfocitams
                    </li>
                    <li>
                        2 - Pateikia antigeną (prezentuoja) CD8 limfocitams
                    </li>
                    <li>
                        3 - Humoraliniame imuniniame atsake į antigenus, priklausančius nuo "thymus" 
                    </li>
                    <li>
                        4 - Svarbios atpažįstant ląsteles taikinius citotoksinių T limfocitų 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. MHC I klasės molekulės 
                    </li>
                    <li>
                        B. MHC II klasės molekulės 
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>35.55 </b> Kokios savybės būdingos Rhabdoviridae:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Yra RNR virusai
                    </li>
                    <li>
                        2. Jiems priskiriamas pasiutligės virusas
                    </li>
                    <li>
                        3. Yra efektyvi vakcina jų sukeliamų ligų prevencijai
                    </li>
                    <li>
                        4. Yra DNR virusai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.56 </b> Kas yra bakterijų koagulazė: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Patogeniškumo veiksnys
                    </li>
                    <li>
                        2. Kraujo serumo koagulazė, išsilaisvinanti veikiant stafilokokams
                    </li>
                    <li>
                        3. Bakterijų sintetinama proteazė, krešinanti gyvulių kraujo plazmą
                    </li>
                    <li>
                        4. Bakterijų sintetinama proteazė, koaguliuojanti pieno baltymus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.57 </b> Kokios yra egzotoksinų savybės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Didelis toksiškumas
                    </li>
                    <li>
                        2. Antigeniškumas
                    </li>
                    <li>
                        3. Imunogeniškumas
                    </li>
                    <li>
                        4. Termostabilumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.58 </b> Kokios savybės būdingos S. typhi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tai – gramneigiamos bakterijos
                    </li>
                    <li>
                        2. Sukelia tik žmonių ligas
                    </li>
                    <li>
                        3. Bakteriemijos metu gali patekti į kaulų čiulpus
                    </li>
                    <li>
                        4. Yra griežti aerobai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.59 </b> Kokias savybes turi patogeniniai stafilokokai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sintetina plazmokoagulazę
                    </li>
                    <li>
                        2. Sintetindami penicilinazę įgyja atsparumą penicilinui
                    </li>
                    <li>
                        3. Jų nešiotoju gali būti sveikas žmogus
                    </li>
                    <li>
                        4. Niekada infekcijos šaltiniu negali būti sergantis žmogus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.60 </b> Kas yra hemokultūra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mikroorganizmų kultūra, išskirta iš kraujo, sergant bet kurios kilmės infekcine liga
                    </li>
                    <li>
                        2. Mikroorganizmų kultūra, išskirta panaudojant kraujo turinčią mitybinę terpę
                    </li>
                    <li>
                        3. Mikroorganizmų kultūra, išskirta iš kraujo, sergant sepsiu
                    </li>
                    <li>
                        4. Mikroorganizmų kultūra, sukelianti hemolizę kraujo agare
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.61 </b> Kas būdinga eritrogeniniam streptokokų toksinui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Jį sintetina β hemolizinės A grupės streptokokų padermės
                    </li>
                    <li>
                        2. Jis yra streptokokų hemolizinas
                    </li>
                    <li>
                        3. Su juo siejamas bėrimas, sergant skarlatina
                    </li>
                    <li>
                        4. Jis inicijuoja kryžmiškai reaguojančių su visais streptokokais antikūnų sintezę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.62 </b> Kuriomis ligomis sergant ligonio kraujo serume neatsiranda antitoksinų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Salmoneliozėmis
                    </li>
                    <li>
                        2. Streptococcus pneumoniae sukelta pneumonija
                    </li>
                    <li>
                        3. Botulizmu
                    </li>
                    <li>
                        4. Difterija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.63 </b> Kurie mikroorganizmai nekultivuojami mitybinėse terpėse:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mycobacterium spp
                    </li>
                    <li>
                        2. Treponema pallidum 
                    </li>
                    <li>
                        3. Mycoplasma spp
                    </li>
                    <li>
                        4. Chlamydia spp
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.64 </b> Kurie virusai esti vieno serovaro:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tymų
                    </li>
                    <li>
                        2. Raudonukės
                    </li>
                    <li>
                        3. Parotito
                    </li>
                    <li>
                        4. Adenovirusai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.65 </b> Kas vartojama pasiutligės specifinei profilaktikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pagaminta iš diploidinėje audinių kultūroje išaugintų pasiutligės virusų užmušta vakcina
                    </li>
                    <li>
                        2. Atenuota vakcina
                    </li>
                    <li>
                        3. Vakcina naudojama, suleidžiant ją į jau infekuotą organizmą
                    </li>
                    <li>
                        4. Pastero pagaminta vakcina
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.66 </b> Kas yra prionai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Defektiniai, be nukleorūgšties, "virusai"
                    </li>
                    <li>
                        2. Defektiniai, be kapsidės, virusai
                    </li>
                    <li>
                        3. Lėtinių "virusinių" ligų sukėlėjai
                    </li>
                    <li>
                        4. Lėtinių centrinės nervų sistemos ligų sukėlėjai – pirmuonys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.67 </b> Kurie teiginiai apie Chlamydia trachomatis yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tai - viduląsteliniai parazitai
                    </li>
                    <li>
                        2. Jos sukelia urogenitalinės sistemos ligas
                    </li>
                    <li>
                        3. Jos sukelia akių ligas
                    </li>
                    <li>
                        4. Žmogus užsikrečia jomis nuo sergančių gyvulių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.68 </b> Kurių ligų diagnostikai naudojamas alerginis odos mėginys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tuberkuliozės
                    </li>
                    <li>
                        2. Bruceliozės
                    </li>
                    <li>
                        3. Raupsų
                    </li>
                    <li>
                        4. Difterijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.69 </b> Kokios yra ECHO virusų savybės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Jų genomas – viengrandininė RNR
                    </li>
                    <li>
                        2. Jie priskiriami enterovirusams
                    </li>
                    <li>
                        3. Žmogus gali būti šių virusų nešiotojas
                    </li>
                    <li>
                        4. Jiems priskiriami A hepatito virusai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.70 </b> Kokios yra  Reoviridae savybės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Jų genomas – dvispiralinė fragmentuota RNR
                    </li>
                    <li>
                        2. Jiems priskiriami rotavirusai
                    </li>
                    <li>
                        3. Jiems priskiriami respiracinių virusinių ligų sukėlėjai 
                    </li>
                    <li>
                        4. Jų genomas – dvispiralinė DNR
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.71 </b> Kurie kraujo serumo komponentai lemia įgytą individo atsparumą B hepatitui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. HBsAg
                    </li>
                    <li>
                        2. HBcAg
                    </li>
                    <li>
                        3. Antikūnai prieš HBcAg
                    </li>
                    <li>
                        4. Antikūnai prieš HBsAg
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.72 </b> Kurie teiginiai apie A hepatito virusus yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Jie priskiriami  Picornaviridae šeimai
                    </li>
                    <li>
                        2. Jie yra RNR virusai
                    </li>
                    <li>
                        3. Jie priskiriami enterovirusams
                    </li>
                    <li>
                        4. Jie yra DNR virusai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.73 </b> Kas yra bifidumbakterinas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tai – liofilizuotos, gyvos, anaerobinės, gramteigiamos bakterijos, priklausančios įprastinei žmogaus mikroflorai
                    </li>
                    <li>
                        2. Tai – liofilizuotos užmuštos, anaerobinės, gramteigiamos bakterijos, priklausančios įprastinei žmogaus mikroflorai
                    </li>
                    <li>
                        3. Tai – vaistas disbakteriozei gydyti
                    </li>
                    <li>
                        4. Tai – alergenas disbakteriozės diagnozavimui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.74 </b> Kas būdinga BCG vakcinai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Jos suleidus, produkuojami antikūnai, lemiantys atsparumą mikobakterijoms
                    </li>
                    <li>
                        2. Tai – atsparios rūgštims, nesporinės, aerobinės lazdelės
                    </li>
                    <li>
                        3. Tai – formalinu inaktyvuotos tuberkuliozės mikobakterijos
                    </li>
                    <li>
                        4. Jos suleidus, susiformuoja ląstelinis imunitetas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.75 </b> Kurioje medžiagoje derėtų ieškoti B hepatito viruso:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kraujyje
                    </li>
                    <li>
                        2. Spermoje
                    </li>
                    <li>
                        3. Kepenų punktate
                    </li>
                    <li>
                        4. Išmatose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.76 </b> Kurioje medžiagoje derėtų ieškoti A hepatito viruso:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išmatose
                    </li>
                    <li>
                        2. Kraujyje
                    </li>
                    <li>
                        3. Kepenų punktate
                    </li>
                    <li>
                        4. Spermoje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.77 </b> Kurie teiginiai apie Clostridium spp. yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sintetina egzotoksinus
                    </li>
                    <li>
                        2. Yra griežti anaerobai
                    </li>
                    <li>
                        3. Yra sporogeniniai mikroorganizmai
                    </li>
                    <li>
                        4. Atsparūs rūgštims
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.78 </b> Kurie teiginiai apie B hepatito virusus yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tai – DNR virusai
                    </li>
                    <li>
                        2. Jie plinta parenteraliai
                    </li>
                    <li>
                        3. Turi HBsAg
                    </li>
                    <li>
                        4. Jie plinta fekaliniu-oraliniu būdu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.79 </b> Kurie mikroorganizmų komponentai yra jų adhezijos veiksniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Lipoteichojinės streptokokų rūgštys
                    </li>
                    <li>
                        2. Streptococcus pyogenes M baltymas
                    </li>
                    <li>
                        3. Neisseria gonorrhoeae pilės
                    </li>
                    <li>
                        4. Escherichia  coli  A lipidas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.80 </b> Kurie tyrimai būtini Corynebacterium diphtheriae identifikavimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Fermentinio aktyvumo nustatymas
                    </li>
                    <li>
                        2. Toksigeniškumo in vitro nustatymas
                    </li>
                    <li>
                        3. Augimo pobūdžio mitybinėse terpėse nustatymas
                    </li>
                    <li>
                        4. Morfologijos ir nusidažymo Gramo arba Neiserio dažymo būdu nustatymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.81 </b> Kurios vakcinos pavojingos imunoideficitą turintiems asmenims:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Atenuotų padermių gripo vakcina
                    </li>
                    <li>
                        2. Atenuotų padermių raudonukės vakcina
                    </li>
                    <li>
                        3. Peroralinė poliomielito vakcina
                    </li>
                    <li>
                        4. Užmušta gripo vakcina
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.82 </b> Kurie teiginiai apie Mycobacterium tuberculosis yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Yra bakterijos
                    </li>
                    <li>
                        2. Turi ilgą generacijos trukmę, todėl gryną kultūrą galima išskirti tik per 2–3 savaites
                    </li>
                    <li>
                        3. Diferenciniam dažymui pasirinktinas Cylio-Nilseno būdas
                    </li>
                    <li>
                        4. Priskiriamos mikroskopinams grybams
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.83 </b> Kurie teiginiai apie disbakteriozes yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tai – organizmo-gnotobionto mikrofloros būklė
                    </li>
                    <li>
                        2. Tai – bakteroidų atsiradimas virškinamajame kanale
                    </li>
                    <li>
                        3. Ji gydytina plataus veikimo spektro antibiotikais
                    </li>
                    <li>
                        4. Tai – įprastinės organizmo mikrofloros disbalansas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.84 </b> Kas būdinga difterijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Imunitetas priklauso nuo kraujyje cirkuliuojančių antitoksinų
                    </li>
                    <li>
                        2. Žmogus yra vienintelis difterijos korinebakterijų šeimininkas
                    </li>
                    <li>
                        3. Toksiną sintetina tik turintys bakteriofagą su tox(+) genu lizogeniniai štamai
                    </li>
                    <li>
                        4. Skirtingų biotipų sintetinamas egzotoksinas imunologiniu požiūriu tapatus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.85 </b> Kurie teiginiai apie ŽIV (žmogaus imunodeficito virusą) teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. ŽIV priklauso  Retroviridae šeimai
                    </li>
                    <li>
                        2. Tai – DNR virusas
                    </li>
                    <li>
                        3. Jis sukelia integratyvinę virusinę infekciją
                    </li>
                    <li>
                        4. Jis yra onkogeniškas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.86 </b> Kaip galima greitai ir patikimai diagnozuoti virusinės kilmės ligą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Bandinius mikroskopuojant elektroniniu mikroskopu
                    </li>
                    <li>
                        2. Virusų antigenų ieškant jautriomis imunologinėmis reakcijomis
                    </li>
                    <li>
                        3. Virusus kultivuojant ląstelių kultūrose
                    </li>
                    <li>
                        4. Molekulinės hibridizacijos metodais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.87 </b> Kurie teiginiai apie įgyto imuniteto veiksnius yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tai – fagocitozė ir natūralūs kileriai
                    </li>
                    <li>
                        2. Tai – imunoglobulinai
                    </li>
                    <li>
                        3. Tai – komplemento sistema
                    </li>
                    <li>
                        4. Tai – T limfocitai-efektoriai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.88 </b> Kurie teiginiai apie B-grupės streptokokus yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Yra makšties normalios mikrofloros atstovai
                    </li>
                    <li>
                        2. Atsparūs bacitracinui
                    </li>
                    <li>
                        3. Teigiama agliutinacijos reakcija su Streptococcus agalactiae imuniniu serumu 
                    </li>
                    <li>
                        4. Sukelia naujagimių sepsį ir meningitą 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>35.89 </b> Streptococcus pneumoniae virulentiškumo veiksniai yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. C reaktyvus baltymas 
                    </li>
                    <li>
                        2. Žiuželiai 
                    </li>
                    <li>
                        3. Endotoksinas 
                    </li>
                    <li>
                        4. Kapsulinis polisacharidas 
                    </li>
            </ul>
        </li>
    </ul>


<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>35.1 - 

                C
            </td>
            <td>35.2 - 

                E
            </td>
            <td>35.3 - 

                D
            </td>
            <td>35.4 - 

                B
            </td>
            <td>35.5 - 

                B
            </td>
            <td>35.6 - 

                A
            </td>
            <td>35.7 - 

                C
            </td>
            <td>35.8 - 

                B
            </td>
                </tr><tr>
            <td>35.9 - 

                E
            </td>
            <td>35.10 - 

                E
            </td>
            <td>35.11 - 

                A
            </td>
            <td>35.12 - 

                A
            </td>
            <td>35.13 - 

                C
            </td>
            <td>35.14 - 

                E
            </td>
            <td>35.15 - 

                E
            </td>
            <td>35.16 - 

                C
            </td>
                </tr><tr>
            <td>35.17 - 

                A
            </td>
            <td>35.18 - 

                C
            </td>
            <td>35.19 - 

                C
            </td>
            <td>35.20 - 

                D
            </td>
            <td>35.21 - 

                D
            </td>
            <td>35.22 - 

                B
            </td>
            <td>35.23 - 

                C
            </td>
            <td>35.24 - 

                B
            </td>
                </tr><tr>
            <td>35.25 - 

                C
            </td>
            <td>35.26 - 

                D
            </td>
            <td>35.27 - 

                C
            </td>
            <td>35.28 - 

                B
            </td>
            <td>35.29 - 

                A
            </td>
            <td>35.30 - 

                B
            </td>
            <td>35.31 - 

                D
            </td>
            <td>35.32 - 

                A
            </td>
                </tr><tr>
            <td>35.33 - 

                C
            </td>
            <td>35.34 - 

                D
            </td>
            <td>35.35 - 

                B
            </td>
            <td>35.36 - 

                A
            </td>
            <td>35.37 - 

                D
            </td>
            <td>35.38 - 

                C
            </td>
            <td>35.39 - 

                B
            </td>
            <td>35.40 - 

                A
            </td>
                </tr><tr>
            <td>35.41 - 

                C
            </td>
                </tr><tr>
            <td>35.42
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - E </li>
            </ul></td>
            <td>35.43
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - A </li>
            </ul></td>
            <td>35.44
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - C </li>
            </ul></td>
            <td>35.45
            <ul>
                <li>1 - B </li>
                <li>2 - E </li>
            </ul></td>
            <td>35.46
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>35.47
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
            </ul></td>
            <td>35.48
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>35.49
            <ul>
                <li>1 - B </li>
                <li>2 - D </li>
                <li>3 - C </li>
                <li>4 - A </li>
                <li>5 - B </li>
            </ul></td>
                </tr><tr>
            <td>35.50
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - D </li>
            </ul></td>
            <td>35.51
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - A </li>
                <li>4 - E </li>
                <li>5 - D </li>
                <li>6 - B </li>
            </ul></td>
            <td>35.52
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - E </li>
            </ul></td>
            <td>35.53
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - E </li>
            </ul></td>
            <td>35.54
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
                </tr><tr>
            <td>35.55
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.56
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.57
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.58
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.59
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.60
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.61
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.62
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>35.63
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>35.64
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.65
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.66
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.67
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.68
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.69
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.70
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>35.71
            <ul>
                <li>4</li>
            </ul></td>
            <td>35.72
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.73
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.74
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>35.75
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.76
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.77
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.78
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>35.79
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.80
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.81
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.82
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>35.83
            <ul>
                <li>4</li>
            </ul></td>
            <td>35.84
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>35.85
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>35.86
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>35.87
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>35.88
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>35.89
            <ul>
                <li>4</li>
            </ul></td>

</tr></tbody></table></div>