<div class="Centre Kategorija">Nefrologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>40.1</b> Kuris teiginys ar laboratorinio tyrimo rezultatas apibūdina inkstų kanaliukų proteinuriją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Baltymo kiekis šlapime retai būna didesnis negu 2 g per parą
                    </li>
                    <li>
                        B. Proteinurijos metu dažnai būna nefrozinis sindromas
                    </li>
                    <li>
                        C. Baltymo šlapime dažnai būna daugiau negu 3,5 g per parą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.2</b> Ar galima nefrozinį sindromą gydyti diuretikais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Negalima, nes patinimai atsiranda dėl sumažėjusio onkotinio slėgio ir diuretikai neveiks
                    </li>
                    <li>
                        B. Galima, bet juos vartoti reikia atsargiai, nes tokiems ligoniams paprastai būna hipovolemija ir diuretikai gali ją dar pagilinti
                    </li>
                    <li>
                        C. Galima, bet reikalingos didelės diuretikų dozės, nes mažos neveikia
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.3</b> Kuris tyrimas leidžia tiksliausiai diagnozuoti inkstų amiloidozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Alfa 2 globulinų padidėjimo nustatymas kraujo baltyminėse frakcijose
                    </li>
                    <li>
                        B. Metileno mėlio mėginys
                    </li>
                    <li>
                        C. Tiesiosios žarnos gleivinės biopsija
                    </li>
                    <li>
                        D. Kongo raudonojo sukaupimo mėginys
                    </li>
                    <li>
                        E. Inksto biopsija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.4</b> Kuris klinikinis vaizdas ryškiausiai atspindi greitai progresuojantį glomerulonefritą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ryški arterinė hipertenzija, širdies kairiojo skilvelio nepakankamumas, hematurija ir cilindrurija
                    </li>
                    <li>
                        B. Ryški arterinė hipertenzija ir greitai progresuojantis inkstų nepakankamumas
                    </li>
                    <li>
                        C. Ryški arterinė hipertenzija, karščiavimas, dizurija ir lėtinis inkstų nepakankamumas
                    </li>
                    <li>
                        D. Nefrozinis sindromas, serozitai, hipergamaglobulinemija ir miokarditas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.5</b> Kuris lėtinio glomerulonefrito morfologinis variantas greičiausiai progresuoja:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Membraninis glomerulonefritas
                    </li>
                    <li>
                        B. Minimalių pakitimų glomerulopatija
                    </li>
                    <li>
                        C. Mezangioproliferacinis glomerulonefritas
                    </li>
                    <li>
                        D. Židininė-segmentinė glomerulosklerozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.6</b> Kaip keičiasi inkstų dydis, sergant analgetine nefropatija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Inkstai padidėja
                    </li>
                    <li>
                        B. Inkstai sumažėja
                    </li>
                    <li>
                        C. Inkstų dydis nekinta
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.7</b> Kuris procesas vystosi, sergant diabetine nefropatija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo pačios ligos pradžios mažėja inkstų dydis ir glomerulų filtracija
                    </li>
                    <li>
                        B. Nuo pačios ligos pradžios inkstai ima didėti ir didėja glomerulų filtracija
                    </li>
                    <li>
                        C. Nuo pačios ligos pradžios plonėja inkstų kapiliarų pamatinė membrana ir atrofuojasi mezangiumas
                    </li>
                    <li>
                        D. Diabetinei nefropatijai nebūdingi morfologiniai pakitimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.8</b> Kokia bakteriniu endokarditu sergančio ligonio prognozė, kuriam išsivystė difuzinis glomerulonefritas su inkstų nepakankamumu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Prognozė bloga, nes inkstų nepakankamumas visada progresuoja
                    </li>
                    <li>
                        B. Įmanomas visiškas inkstų funkcijos atsistatymas, jeigu pavyktų išgydyti pagrindinę ligą
                    </li>
                    <li>
                        C. Prognozė bloga, nes reikia nutraukti gydymą antibiotikais ir gydyti greitai progresuojantį glomerulonefritą citostatikais ir prednizolonu
                    </li>
                    <li>
                        D. Prognozė nebloga. Reikia tik nebevartoti antibiotikų, dėl kurių greičiausiai išsivystė ūminis intersticinis nefritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.9</b> Kaip gydyti aktyviu lupus nefritu su ryškiu nefroziniu sindromu be arterinės hipertenzijos ir inkstų nepakankamumo sergančią ligonę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Azatioprino po 25 mg 2 kartus per parą
                    </li>
                    <li>
                        B. Prednizolono po 5 mg 3 kartus per parą
                    </li>
                    <li>
                        C. Ciklofosfano po 50 mg 1 kartą per savaitę
                    </li>
                    <li>
                        D. Metilprednizolono po 1000 mg į/v kas antrą dieną (3 kartus), o po to palaikomasis gydymas prednizolonu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.10</b> Ką rekomenduoti lėtiniu inkstų nepakankamumu sergantiems ligoniams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Maistą turintį padidintą kalcio ir fosfatų kiekį ir kalcitriolį (vit. D₃)
                    </li>
                    <li>
                        B. Maistą turintį mažą fosfatų kiekį, fosforą jungiančias medžiagas (kalcio karbonatą, kalcio acetatą) ir kalcitriolį (vit. D₃)
                    </li>
                    <li>
                        C. Stebėti kalcio, fosfatų, parathormono (PTH) kiekį kraujyje, vartoti maistą, turinti  maža fosfatų kiekį, ir skirti fosforą jungiančias medžiagas ir kalcitriolį (vit. D₃) (pagal tyrimų rezultatus)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.11</b> Koks yra parathormono kiekis lėtiniu inkstų nepakankamumu sergančio ligonio kraujyje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėjęs
                    </li>
                    <li>
                        B. Sumažėjęs
                    </li>
                    <li>
                        C. Nepakitęs
                    </li>
                    <li>
                        D. Visi trys variantai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.12</b> Koks maistas mažina lėtiniu inkstų nepakankamumu sergantiems ligoniams besivystančią acidozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Augalinis (daržovių ir vaisių)
                    </li>
                    <li>
                        B. Pieniškas
                    </li>
                    <li>
                        C. Mėsiškas
                    </li>
                    <li>
                        D. Riebus maistas
                    </li>
                    <li>
                        E. Daug angliavandenių turintis maistas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.13</b> Kuriai ligai būdingiausios spontaninės remisijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Membraninei nefropatijai
                    </li>
                    <li>
                        B. Minimalių pakitimų nefropatijai
                    </li>
                    <li>
                        C. Židininei-segmentinei glomerulų sklerozei
                    </li>
                    <li>
                        D. Greitai progresuojančiam glomerulonefritui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.14</b> Kokia turi būti ūminio glomerulonefrito gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydymas turi būti „tausojantis“: gulimas režimas, bedruskė dieta, kai kada neilgam diuretikai ir priešhipertenziniai vaistai, o, jei yra ryšys su infekcija – antibakterinis gydymas
                    </li>
                    <li>
                        B. Gydymas turi būti intensyvus, nes reikia išvengti chronizacijos  (gliukokortikoidai, imunosupresantai, antiagregantai)
                    </li>
                    <li>
                        C. Gydymas turi būti nukreiptas kraujo krešumo sutrikimų korekcijai (antikoaguliantai, antiagregantai)
                    </li>
                    <li>
                        D. Svarbiausia – kuo anksčiau pašalinti infekcijos židinius (tonzilektomija, nesveikų dantų gydymas)
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>40.15</b> Kurie simptomų deriniai būdingi nurodytų ligų atvejais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Lėtinis pielonefritas
                    </li>
                    <li>
                        2 - Lėtinio glomerulonefrito hipertoninė forma
                    </li>
                    <li>
                        3 - Vazorenalinė hipertenzija
                    </li>
                    <li>
                        4 - Kono sindromas (pirminis aldosteronizmas)
                    </li>
                    <li>
                        5 - Pirminė arterinė hipertenzija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Liga trunka ilgai (10–15 m.). Iš pradžių AKS pakilimai yra trumpalaikiai. Epizodinė arterinė hipertenzija virsta į nuolatinę apie 40–50 amžiaus metus. Šlapimas nepakitęs. Radioizotopinės nefrogramos simetriškos.
                    </li>
                    <li>
                        B. Arterinė hipertenzija išsivysto per 1–2 metus. Šlapime pakitimų nėra. Radioizotopinės nefrogramos asimetriškos.
                    </li>
                    <li>
                        C. Arterinė hipertenzija išsivysto per kelis metus, yra atkakli, o AKS nuolat aukštas. Šlapime yra baltymo iki 2500 mg/l, eritr. 10–12 r/l., leuk. 10–40 r/l. Radioizotopinės nefrogramos – simetriškos.
                    </li>
                    <li>
                        D. Arterinė hipertenzija išsivysto per 10–15 m., yra atkakli, o AKS visuomet aukštas. Šlapime – baltymo 300 mg/l, eritr. 0–1 r/l., leuk. 10–14 r/l. Radioizotopinės nefrogramos – asimetriškos. 
                    </li>
                    <li>
                        E. Arterinė hipertenzija išsivysto per 1–2 metus, yra atkakli ir stabili. Šlapime pakitimų nėra. Kraujyje ryški hipokalemija. Radioizotopinės nefrogramos – simetriškos.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.16</b> Kurie šlapimo pakitimai būdingi nurodytoms ligoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ūminis pielonefritas
                    </li>
                    <li>
                        2 - Minimalių pakitimų nefropatija
                    </li>
                    <li>
                        3 - Ūminis glomerulonefritas
                    </li>
                    <li>
                        4 - Hipertoninės ligos krizė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Šlapimo santykinis tankis – 1,014, baltymo – pėdsakai, eritr. – 1–2 r/l., leuk. – 2–4 r/l.
                    </li>
                    <li>
                        B. Šlapimo santykinis tankis – 1,020, baltymo – pėdsakai, eritrocitų nėra, leukocitų – pilnas r/l.
                    </li>
                    <li>
                        C. Šlapimo santykinis tankis – 1,025, baltymo – 1500 mg/l, eritr. – 20–30 r/l., leuk. – 4–6 r/l.
                    </li>
                    <li>
                        D. Šlapimo santykinis tankis – 1,020, baltymo – 10000 mg/l, eritr. 1–2 r/l., leuk. 2–4 r/l.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.17</b> Kuris simptomų derinys yra būdingas nurodytoms ligoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ūminis pielonefritas
                    </li>
                    <li>
                        2 - Lėtinis pielonefritas
                    </li>
                    <li>
                        3 - Ūminis glomerulonefritas
                    </li>
                    <li>
                        4 - Minimalių pakitimų nefropatija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Strėnų skausmai, sumažėjęs šlapimo kiekis, normalus arba didelis šlapimo santykinis tankis, proteinurija, hematurija ir AKS padidėjimas
                    </li>
                    <li>
                        B. Strėnų skausmai, karščiavimas, dizurija, proteinurija, hematurija, leukociturija, bakteriurija
                    </li>
                    <li>
                        C. Patinimai, ryški proteinurija, hipoproteinemija, normalus arba didelis šlapimo santykinis tankis ir šlapimo kiekio sumažėjimas
                    </li>
                    <li>
                        D. Strėnų skausmai, padidėjęs AKS, sumažėjęs santykinis šlapimo tankis, proteinurija, leukociturija ir bakteriurija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.53</b> Kurie šlapimo pakitimai būdingi nurodytoms ligoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ūminis pielonefritas
                    </li>
                    <li>
                        2 - Minimalių pakitimų nefropatija
                    </li>
                    <li>
                        3 - Ūminis glomerulonefritas
                    </li>
                    <li>
                        4 - Hipertenzinė krizė sergant pirmine arterine hipertenzija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Šlapimo santykinis tankis - 1,014, baltymo - pėdsakai, eritr. - 1-2 r/l, leuk. - 2-4 r/l.
                    </li>
                    <li>
                        B. Šlapimo santykinis tankis - 1,020, baltymo - pėdsakai, eritrocitų nėra, leuk. - pilnas r/l.
                    </li>
                    <li>
                        C. Šlapimo santykinis tankis - 1,025, baltymo - 1500 mg/l, eritrocitų - 20-30 r/l, leuk. - 4-6 r/l.
                    </li>
                    <li>
                        D. Šlapimo santykinis tankis - 1,020, baltymo - 10000 mg/l, eritrocitų - 1-2 r/l, leuk. - 2-4 r/l.
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>40.18 </b> Kurie tyrimai parodo inkstų funkcijos būklę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Glomerulų filtracijos greičio (GFG) nustatymas
                    </li>
                    <li>
                        2. Kreatinino kiekio kraujyje nustatymas
                    </li>
                    <li>
                        3. Radioizotopinės nefrogramos
                    </li>
                    <li>
                        4. Šlapimo tyrimas (paros proteinurija)
                    </li>
                    <li>
                        5. Šlapimo tyrimas (nuosėdų mikroskopija)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.19 </b> Kurie simptomai būdingi nefroziniam sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Masyvi proteinurija
                    </li>
                    <li>
                        2. Hipoproteinemija
                    </li>
                    <li>
                        3. Patinimai
                    </li>
                    <li>
                        4. Arterinė hipertenzija
                    </li>
                    <li>
                        5. Bakteriurija
                    </li>
                    <li>
                        6. Hematurija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.20 </b> Kurių ligų metu gali išsivystyti AA tipo amiloidozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skrandžio opaligė
                    </li>
                    <li>
                        2. Reumatoidinis artritas
                    </li>
                    <li>
                        3. Mielominė liga
                    </li>
                    <li>
                        4. Bronchektazinė liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.21 </b> Kokios yra ūminio glomerulonefrito komplikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ūminis širdies kairiojo skilvelio nepakankamumas su plaučių edema
                    </li>
                    <li>
                        2. Staigi mirtis
                    </li>
                    <li>
                        3. Eklampsija
                    </li>
                    <li>
                        4. Poliurija ir dėl jos besivystanti hipokalemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.22 </b> Kuriuos inkstų pažeidimus gali sukelti podagra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Lėtinį intersticinį podagrinį nefritą
                    </li>
                    <li>
                        2. Inkstų akmenligę
                    </li>
                    <li>
                        3. Ūminį inkstų nepakankamumą
                    </li>
                    <li>
                        4. Inkstų amiloidozę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.23 </b> Dėl kurių priežasčių išsivysto analgetinė nefropatija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dėl analgetikų tiesioginio toksinio poveikio inkstų šerdiniam sluoksniui
                    </li>
                    <li>
                        2. Dėl prostaglandinų sintezės trikdymo, nuo kurio vystosi inkstų išemija
                    </li>
                    <li>
                        3. Dėl inkstų ląstelių membranų oksidacijos procesų sutrikdymo
                    </li>
                    <li>
                        4. Dėl imuninių kompleksų sukelto inkstų intersticinio audinio lėtinio uždegimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.24 </b> Ką reikia rekomenduoti diabetine nefropatija sergančiam ligoniui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dažną glikemijos kontrolę
                    </li>
                    <li>
                        2. Maisto baltymų apribojimą
                    </li>
                    <li>
                        3. Gerą padidėjusio kraujospūdžio kontrolę
                    </li>
                    <li>
                        4. Keisti insuliną į peroralinius vaistus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.25 </b> Kaip turi būti gydoma mielominė nefropatija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Citostatikais
                    </li>
                    <li>
                        2. Šlapimo šarminimu
                    </li>
                    <li>
                        3. Rekomenduoti vartoti daug skysčių
                    </li>
                    <li>
                        4. Antibiotikais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.26 </b> Kurie simptomai būdingi mielominei nefropatijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Proteinurija
                    </li>
                    <li>
                        2. Bens-Džonso baltymas šlapime
                    </li>
                    <li>
                        3. Inkstų kanaliukų funkcijos pakitimų požymiai
                    </li>
                    <li>
                        4. Makrohematurija
                    </li>
                    <li>
                        5. Skausmai inkstų plote
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.27 </b> Kurie ekskrecinių urogramų rentgenologiniai požymiai yra būdingi lėtiniam neobstrukciniam pielonefritui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Inkstų padidėjimas
                    </li>
                    <li>
                        2. Inkstų sumažėjimas
                    </li>
                    <li>
                        3. Ryškus geldelių išsiplėtimas
                    </li>
                    <li>
                        4. Taurelių deformacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.28 </b> Kurie intraveninių urogramų požymiai būdingi vazorenalinei hipertenzijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pažeistas inkstas yra mažesnis
                    </li>
                    <li>
                        2. Pavėluotas kontrasto atsiradimas pažeistame inkste
                    </li>
                    <li>
                        3. Labai ryškus (vėlyvas) pažeisto inksto kontrastavimas
                    </li>
                    <li>
                        4. Ankstyvas kontrasto atsiradimas pažeistame inkste
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.29 </b> Kurių ligų, komplikuotų lėtiniu inkstų nepakankamumu, metu inkstai būna normalaus dydžio arba net padidėję:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mielominė nefropatija
                    </li>
                    <li>
                        2. Diabetinė nefropatija
                    </li>
                    <li>
                        3. Amiloidozė
                    </li>
                    <li>
                        4. Lėtinis pielonefritas
                    </li>
                    <li>
                        5. Lėtinis glomerulonefritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.30 </b> Kas būdinga vazorenalinei hipertenzijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Intraveninėse urogramose pažeistoje pusėje matomas mažesnis inkstas ir kontrasto pasirodymas jame vėluoja
                    </li>
                    <li>
                        2. Iš pažeisto inksto ištekančiame veniniame kraujyje yra padidėjęs renino kiekis
                    </li>
                    <li>
                        3. Angiogramoje matoma pažeistos pusės susiaurėjusi a. renalis
                    </li>
                    <li>
                        4. Radioizotopinės nefrogramos asimetrinės. Šlapimo tyrimas normalus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.31 </b> Kurioms ligoms būdingas inkstų sumažėjimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Analgetinei nefropatijai
                    </li>
                    <li>
                        2. Diabetinei nefropatijai
                    </li>
                    <li>
                        3. Lėtiniam pielonefritui
                    </li>
                    <li>
                        4. Inkstų amiloidozei
                    </li>
                    <li>
                        5. Mielominei nefropatijai
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>40.32</b> 40 m. vairuotojas paguldytas į rajoninę ligoninę dėl pilvo skausmų ir vėmimo. Chirurginė liga paneigta. Objekt. tyrimai: AKS–160/100 mmHg, paros diurezė–800ml. Lab. tyrimai: kraujyje Hb–70 g/l, ENG–60mm/h., urea–50 mmol/l, kreatinino–0,8 mmol/l, kalio jonų–4,5 mmol/l, šlapime – santykinis tankis – 1,003, baltymo – 800 mg/l, leuk.– 8–10–12 r/l., eritr.– 4–6 r/l. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ligonis serga latentinės eigos lėtiniu pielonefritu su inkstų funkcijos nepakankumu. Reikia gydyti pielonefritą ir tikėtis, kad inkstų funkcija pagerės. Siūloma apriboti baltymų kiekį maiste ir skirti per parą 2–3 l skysčių infuzijomis.
                    </li>
                    <li>
                        B. Ligonis serga latentiniu lėtiniu glomerulonefritu su lėtiniu inkstų funkcijos nepakankamumu. Būtina kuo greičiau padaryti hemodializę.
                    </li>
                    <li>
                        C. Ligonis serga latentiniu lėtiniu glomerulonefritu su lėtiniu inkstų nepakankamumu. Reikia skirti tokį gydymą: režimas III, mažabaltyminė dieta, 1000 ml 5% gliukozės, 1000 ml Ringerio tirpalo infuzijos ir kaptoprilio po 0,025 g 3 kartus per parą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.33</b> 42 m. mechanizatorius prieš 20 m. sirgo ūminiu glomerulonefritu. Vėliau jautėsi gerai, tačiau profilaktinių patikrinimų metu būdavo padidėjęs AKS ir randama baltymo šlapime. Šiandieną darbe apalpo ir „Greitoji pagalba“ atvežė į ligoninę. Objekt. tyrimai: ligonis pablyškęs, paakiai patinę, pykina, vemia, AKS–200/120 mmHg. Lab. tyrimai: šlapimo sntykinis tankis–1,005, baltymo–3200 mg/l, leuk.– 4–6 r/l., eritr.– 10–20 r/l. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirminė arterinė hipertenzija, hipertenzinė nefropatija, hipertenzinė krizė. Hospitalizuoti, skirti antihipertenzinį gydymą.
                    </li>
                    <li>
                        B. Lėtinis glomerulonefritas su antrine hipertenzija. Hospitalizuoti, skirti antihipertenzinį gydymą, ištirit inkstų dydį ir funkciją, planuoti inksto biopsiją, patikslinti glomerulonefrito formą ir patogenezinio gydymo galimybes.
                    </li>
                    <li>
                        C. Lėtinis glomerulonefritas su antrine hipertenzija. Skirti antihipertenzinį gydymą ir, jeigu AKS pavyks sumažinti iki 140/90 mmHg, išleisti į namus.
                    </li>
                    <li>
                        D. Vazorenalinė hipertenzija. Hospitalizuoti, skirti antihipertenzinį gydymą, atlikti inkstų kraujagyslių angiografinį tyrimą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.34</b> 16 m. moksleivis skundžiasi veido ir kojų patinimu, kurie atsirado prieš tris dienas. Anksčiau niekuo nesirgo, tik prieš 2 savaites pakilo temperatūra iki 37,5ºC ir skaudėjo gerklę. Objekt. tyrimai: T–36,6ºC, veidas ir kojos patinusios, AKS – 160–100 mmHg, širdies veikla ritmiška, tonai dusloki, auskultuojant plaučius girdimas vezikulinis kvėpavimas. Lab. tyrimai: kraujyje – Hb–130 g/l, leuk.–5,2×10⁹/l, ENG–30 mm/h., šlapime – santykinis tankis–1,020, baltymo–2400 mg/l, leuk.–8–12 r/l., eritr.– 6–8–10 r/l. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis glomerulonefritas
                    </li>
                    <li>
                        B. Lėtinio glomerulonefrito paūmėjimas
                    </li>
                    <li>
                        C. Ūminis pielonefritas
                    </li>
                    <li>
                        D. Lėtinio pielonefrito paūmėjimas
                    </li>
                    <li>
                        E. Inkstų amiloidozė
                    </li>
                    <li>
                        F. Lupus nefritas
                    </li>
                    <li>
                        G. Mielominė nefropatija
                    </li>
                    <li>
                        H. Analgetinė nefropatija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.35</b> 48 m. mokytoja hospitalizuota inkstų nepakankamumo priežasčiai nustatyti, nes jos kraujyje urea–18 mmol/l, kreatinino–0,25 mmol/l. Prieš keturis metus buvo priepuolis, kurio metu skaudėjo dešinįjį šoną ir buvo raudonas šlapimas. Priepuolis buvo traktuotas kaip akmenligės, nors akmuo nepasišalino. Profilaktinių patikrinimų metu AKS būdavo normalus, o šlapime patologinių pakitimų nerasdavo. Nuo jaunystės ją vargina dažni ir sunkūs migreniniai priepuoliai. Objekt. tyrimai: dienos diurezė – 1200 ml, nakties – 900 ml šlapimo santykinis tankis – 1,005–1,009. Tiriant ultragarsu inkstuose akmenų nerasta. Lab. tyrimai: kraujyje – Hb 100 g/l, ENG 26 mm/h, šlapime – santykinis tankis 1,008, baltymo – pėdsakai, leuk.  2–3 r/l., eritr. nėra.  Šlapimo pasėlyje bakterijų neišaugo.  Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis glomerulonefritas
                    </li>
                    <li>
                        B. Lėtinis glomerulonefritas
                    </li>
                    <li>
                        C. Lėtinis pielonefritas
                    </li>
                    <li>
                        D. Inkstų amiloidozė
                    </li>
                    <li>
                        E. Lupus nefritas
                    </li>
                    <li>
                        F. Mielominė nefropatija
                    </li>
                    <li>
                        G. Mazginis poliarteritas
                    </li>
                    <li>
                        H. Analgetinė nefropatija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.36</b> 48 m. mokytoja hospitalizuota inkstų nepakankamumo priežasčiai nustatyti, nes jos kraujyje urea 18 mmol/l, kreatinino 0,25 mmol/l. Prieš keturis metus buvo priepuolis, kurio metu skaudėjo dešinįjį šoną ir buvo raudonas šlapimas. Priepuolis buvo traktuotas kaip akmenligės, nors akmuo nepasišalino. Profilaktinių patikrinimų metu AKS būdavo normalus, o šlapime patologinių pakitimų nerasdavo. Nuo jaunystės ją vargina dažni ir sunkūs migreniniai priepuoliai. Objekt. tyrimai: dienos diurezė – 1200 ml, nakties – 900 ml šlapimo santykinis tankis – 1,005–1,009. Tiriant ultragarsu inkstuose akmenų nerasta. Lab. tyrimai: kraujyje – Hb 100 g/l, ENG 26 mm/h, šlapime – santykinis tankis 1,008, baltymo – pėdsakai, leuk. 2–3 r/l., eritr. nėra.  Šlapimo pasėlyje bakterijų neišaugo. Kuris tyrimas padėtų patvirtinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. ASO titras
                    </li>
                    <li>
                        B. Kreatinino klirensas
                    </li>
                    <li>
                        C. Pakartotinas šlapimo pasėlis
                    </li>
                    <li>
                        D. Tiesiosios žarnos gleivinės biopsija
                    </li>
                    <li>
                        E. anti-DNR
                    </li>
                    <li>
                        F. Sternalinė punkcija
                    </li>
                    <li>
                        G. Odos ir paodžio biopsija
                    </li>
                    <li>
                        H. Kruopšti anamnezė apie analgetikų vartojimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.37</b> 45 m. audėja 25 m. serga lėtiniu pielonefritu. Pastaruoju metu džiūsta burna ir dėl to daug geria ir gausiai šlapinasi (maždaug 2 l per parą). Be to, atsirado silpnumas, lipdama laiptais dūsta. Objekt. tyrimai: pablyškusi, patinimų nėra. Lab. tyrimai: kraujyje – Hb 80 g/l, eritr. 2,4×10¹²/l, urea 25 mmol/l, kreatinino 0,35 mmol/l, šlapime – santykinis tankis 1,008, baltymo 200 mg/l, leuk. 10–14 r/l. Šlapimo pasėlyje bakterijos neišaugo. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reikia ligonę siųsti į dializės centrą, nes konservatyvus gydymas nebus efektyvus
                    </li>
                    <li>
                        B. Reikia skirti antibakterinį gydymą amikacinu arba gentamicinu, nes nuslopinus infekciją gali pagerėti inkstų funkcija
                    </li>
                    <li>
                        C. Reikia skirti empirinį antibakterinį gydymą cefuroksimu arba karbenicilinu
                    </li>
                    <li>
                        D. Reikia apriboti maisto baltymų kiekį ir duoti gerti daug skysčių, kad paros diurezė būtų 3–4 l. Antibakterinis gydymas netikslingas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.38</b> 18 m. technikumo moksleivis peršalo ir todėl pradėjo skaudėti gerklę, temperatūra pakilo iki 38ºC. Nesigydė. Po dviejų savaičių prasidėjo maudžiantys strėnų skausmai, ėmė rečiau ir mažiau šlapintis, patino veidas ir kojos. AKS 160/100 mmHg. Lab. tyrimai: kraujyje – urea 8 mmol, šlapime – santykinis tankis 1,026, baltymo 120 mg/l, leuk. 2–4–6 r/l., eritr. 4–6 r/l. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis glomerulonefritas
                    </li>
                    <li>
                        B. Ūminis pielonefritas
                    </li>
                    <li>
                        C. Lėtinio glomerulonefrito paūmėjimas
                    </li>
                    <li>
                        D. Lėtinio pielonefrito paūmėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.39</b> 18 m. technikumo moksleivis peršalo ir todėl pradėjo skaudėti gerklę, temperatūra pakilo iki 38ºC. Nesigydė. Po dviejų savaičių prasidėjo maudžiantys strėnų skausmai, ėmė rečiau ir mažiau šlapintis, patino veidas ir kojos. AKS 160/100 mmHg. Lab. tyrimai: kraujyje – urea 8 mmol, šlapime – santykinis tankis 1,026, baltymo 120 mg/l, leuk. 2–4–6 r/l., eritr. 4–6 r/l. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirti ampiciliną po 0,5g 4 kartus per parą, daug skysčių, gulimą režimą, šlapimo takus dezinfekuojančią arbatą. Hospitalizuoti nebūtina
                    </li>
                    <li>
                        B. Hospitalizuoti, skirti peniciliną po 300 000VV 6 kartus per parą (10 parų), gulimą režimą ir bedruskę dietą
                    </li>
                    <li>
                        C. Hospitalizuoti ir ruošti hemodializei
                    </li>
                    <li>
                        D. Hospitalizuoti dėl inkstų akmenligės ir pielonefrito įtarimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.40</b> 18 m. ligoniui inkstų liga buvo diagnozuota prieš 14 m. Dabar jis skundžiasi sustiprėjusiais galvos skausmais, patinimais ir pykinimu. Objekt. tyrimai: AKS 170/100 mmHg, paros diurezė 700 ml. Lab. tyrimai: kraujyje – Hb 68 g/l, leuk. 9×10⁹/l, urea 50 mmol/l, kreatinino 1,0 mmol/l, kalio 7,0 mmol/l, ENG 50 mm/h, šlapime – santykinis tankis 1,004, baltymo 300 mg/l, leuk. 3–6 r/l, eritr. 8–10 r/l, yra pavienių hialininių cilindrų. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reikia skubiai pradėti hemodializę ir planuoti inksto transplantaciją
                    </li>
                    <li>
                        B. Hemodializė kontraindikuotina dėl ryškios anemijos
                    </li>
                    <li>
                        C. Kadangi ligos trukmė ilga, o ligonis jaunas, hemodializė neindikuotina. Reikia gydyti konservatyviai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.41</b> 18 m. ligoniui inkstų liga buvo diagnozuota prieš 14 m. Dabar jis skundžiasi sustiprėjusiais galvos skausmais, patinimais ir pykinimu. Objekt. tyrimai: AKS 170/100 mmHg, paros diurezė 700 ml. Lab. tyrimai: kraujyje – Hb 68 g/l, leuk. 9×10⁹/l, urea 50 mmol/l, kreatinino 1,0 mmol/l, kalio 7,0 mmol/l, ENG 50 mm/h, šlapime – santykinis tankis 1,004, baltymo 300 mg/l, leuk. 3–6 r/l, eritr. 8–10 r/l, yra pavienių hialininių cilindrų. Kuris rodiklis nulemia hemodializės skubumą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapalo kiekis kraujyje
                    </li>
                    <li>
                        B. Kalio kiekis kraujyje
                    </li>
                    <li>
                        C. Kreatinino kiekis kraujyje
                    </li>
                    <li>
                        D. Hemoglobino kiekis kraujyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.42</b> Į polikliniką kreipėsi 26 m. moteris dėl sąnarių skausmų ir karščiavimo, kurie tęsiasi jau keturios savaitės. Gydėsi ibuprofenu, voltarenu, tačiau vaistai nepadėjo. Hospitalizuota dėl patologinių šlapimo tyrimo rezultatų: šlapimo santykinis tankis 1,015, baltymo 4000 mg/l, leuk. 4–6 r/l, eritr. 8–10 r/l. Objekt. tyrimai: AKS 160/100 mmHg, plaštakų ir pėdų sąnariai patinę, ties širdies viršūne girdimas IIº sistolinis ūžesys. ENG 60 mm/h. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Inkstų amiloidozė
                    </li>
                    <li>
                        B. Ūminis pielonefritas
                    </li>
                    <li>
                        C. Lupus nefritas
                    </li>
                    <li>
                        D. Lėtinio glomerulonefrito paūmėjimas
                    </li>
                    <li>
                        E. Mielominė nefropatija
                    </li>
                    <li>
                        F. Ūminis glomerulonefritas
                    </li>
                    <li>
                        G. Lėtinio pielonefrito paūmėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.43</b> 18 m. studentas hospitalizuotas intensyvios terapijos skyriuje dėl buvusių dviejų epileptiforminių traukulių priepuolių. Prieš tris savaites skaudėjo gerklę, karščiavo ir dėl to tris dienas gydėsi ampicilinu. Prieš dvi dienas ėmė skaudėti galvą ir pykinti. Objekt. tyrimai: veidas paburkęs, meninginių siptomų nėra, AKS 200/120 mmHg. Lab. tyrimai: kraujyje – urea 15 mmol/l, šlapime – santykinis tankis 1,030, baltymo 3000 mg/l, eritr. pilnas r/l. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis glomerulonefritas ir eklampsija. Gydymui skirti natrio nitroprusido infuziją, o vėliau – nifedipiną, furozemidą (0,08g į/v) ir ampiciliną po 0,5g  4 kartus per parą.
                    </li>
                    <li>
                        B. Ūminis meningitas. Perkelti į infekcinę ligoninę, o traukulių aktyvumui slopinti skirti diazepamą į/v.
                    </li>
                    <li>
                        C. Lėtinis pielonefritas (greičiausiai inkstų akmenligės fone), antrinė hipertenzija ir hipertenzinė krizė. Skirti kaptoprilį, nifedipiną ir priešbakterinį gydymą ciprofloksacinu.
                    </li>
                    <li>
                        D. Lėtinio glomerulonefrito hipertoninė krizė ir lėtinis inkstų nepakankamumas. Skirti kaptoprilį, nifedipiną ir lespenefrilį.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.44</b> 58 m. valstietė dažnai sirgo cistitu. Šiuo metu vėl skundžiasi atsiradusiais dizurijos reiškiniais. Lab. tyrimai: kraujyje – Hb 80 g/l, urea 20 mmol/l, šlapime – santykinis tankis 1,010, baltymų 200 mg/l, leuk. pilnas r/l, eritr. 1–2 r/l, pasėlyje – E. coli 10⁶KFV. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinio pielonefrito paūmėjimas. Išleisti į namus ir paskirti ambulatorinį gydymą priešrecidyviniais kursais (1 sav. priešbakterinis gydymas, 3 sav. žolių arbata).
                    </li>
                    <li>
                        B. Lėtinio pielonefrito paūmėjimas. Hospitalizuoti ir paskirti gydymą gentamicinu (po 0,08g 3 kartus per parą į/r), o vėliau vaistais pagal šlapimo pasėlyje išaugusios mikrofloros jautrumą.
                    </li>
                    <li>
                        C. Lėtinio pielonefrito paūmėjimas. Hospitalizuoti ir gydyti ciprofloksacinu po 0,5g 2 kartus per parą.
                    </li>
                    <li>
                        D. Ūminis pielonefritas. Hospitalizuoti ir skirti oksaciliną po 1g 4 kartus per parą į/r.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.45</b> 37 m. inžinierius 14 metų serga lėtiniu glomerulonefritu. Pastaruoju metu džiūsta burna, svaigsta galva, silpna ir pykina. Objekt. tyrimai: AKS 200/110 mmHg, paros diurezė 500 ml. Lab. tyrimai: kraujyje – Hb 60 g/l, urea 50 mmol/l, kalio 4,5 mmol/l, kreatinino 0,9 mmol/l, šlapime – santykinis tankis 1,006, baltymo 300 mg/l, leuk. 4–6 r/l, eritr. 8–10 r/l. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reikia skubiai pradėti hemodializę
                    </li>
                    <li>
                        B. Dėl ryškios anemijos hemodializė kontraindikuotina
                    </li>
                    <li>
                        C. Gydyti konservatyviai maisto baltymų ribojimu, diuretikais, geležies preparatais ir eritropoetinu
                    </li>
                    <li>
                        D. Reikia suformuoti arterioveninę fistulę ir po 4-6 sav. pradėti hemodializę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.46</b> 16 m. moksleiviui skauda galvą, silpna ir truputį dusina. Susirgo išvakarėse. Iš anamnezės – dažni faringitai (paskutinis – prieš dvi savaites). Objekt. tyrimai: veidas ir kojos patinusios, AKS 160/100 mmHg, paros diurezė 600 ml. Lab. tyrimai: kraujyje - urea 20 mmol/l, šlapime - santykinis tankis 1,028, baltymo 2400 mg/l, leuk. 14–20 r/l, eritr. 30–40 r/l. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis pielonefritas. Hospitalizuoti ir skirti ampiciliną po 0,5g 4 kartus per parą, o vėliau vaistais pagal šlapimo pasėlyje išaugusios mikrofloros jautrumą.
                    </li>
                    <li>
                        B. Lėtinis glomerulonefritas ir lėtinio inkstų nepakankamumo paūmėjimas. Hospitalizuoti ir skirti prednizoloną po 40 mg per parą, furozemidą po 40 mg per parą ir lerkanidipiną 10 mg 1 kartą per parą.
                    </li>
                    <li>
                        C. Lėtinis glomerulonefritas ir lėtinio inkstų nepakankamumo paūmėjimas. Hospitalizuoti ir skirti ciprofloksaciną po 0,25g  2 kartus per parą, izotoninio tirpalo infuzijas.
                    </li>
                    <li>
                        D. Ūminis glomerulonefritas. Hospitalizuoti ir skirti gulimą režimą, bedruskę dietą, eritromiciną po 0,5g 3 kartus per parą, furozemidą po 40 mg kas dvi paras ir lerkanidipiną po 10 mg 1 kartą per parą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.47</b> Prieš du mėn. 35 m. inžinierius susirūpino pradėjęs šlapintis tamsiai rudu šlapimu. Kitkuo nesiskundė. Tuo metu ligoninėje jis buvo ištirtas. Objekt. tyrimai: AKS 120/70 mmHg, cistoskopija, intraveninės urogramos ir kompiuterinė tomografija jokių patologinių pakitimų neužfiksavo. Lab. tyrimai: šlapime – santykinis tankis 1,020, baltymo pėdsakai, leuk. 4–5 r/l, eritr. pilnas r/l. Po to jis buvo išleistas į namus. Tuo metu šlapimo tyrimo rezultatai buvo beveik normalūs (tik 2–3 eritrocitai r/l). Dabar vėl atvyko skųsdamasis tuo pačiu (makrohematurija. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Inkstų akmenligės pasikartojimas. Hospitalizuoti ir skirti analgetikus bei spazmolitikus.
                    </li>
                    <li>
                        B. Lėtinio pielonefrito paūmėjimas. Hospitalizuoti ir skirti ciprofloksaciną po 0,25g  2 kartus per parą.
                    </li>
                    <li>
                        C. Ūminio glomerulonefrito chronizacija. Hospitalizuoti ir skirti ciklofosfamidą po 150 mg per parą.
                    </li>
                    <li>
                        D. Lėtinis glomerulonefritas (galima IgA nefropatija). Hospitalizuoti ir skirti inkstų biopsiją (būtinai ir imunofluorescentinį tyrimą). Jeigu bus nustatyta IgA nefropatija - gydymo neskirti.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.48</b> 40 m. audėja skundžiasi padidėjusiu kraujospūdžiu (AKS 200/110 mmHg) galvos skausmais ir svaigimu. Iš anamnezės – dažnai sirgdavo tonzilitu, vaikystėje – dažni cistitai, hipertenzija jau 10 m. Lab. tyrimai: šlapime – santykinis tankis 1,010, baltymo 300 mg/l, leuk. 15–20 r/l, eritr. 1–2 r/l, bakterijų &gt;10⁵KFV. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis pielonefritas. Hospitalizuoti ir skirti ampiciliną, o vėliau vaistais pagal šlapimo pasėlyje išaugusios mikrofloros jautrumą.
                    </li>
                    <li>
                        B. Lėtinis pielonefritas ir antrinė hipertenzija. Gydyti ambulatoriškai priešrecidyviniais kursais, lerkanidipinu po 10 mg 1 kartą per parą (arba kitais priešhipertenziniais vaistais).
                    </li>
                    <li>
                        C. Lėtinis latentinis glomerulonefritas. Gydyti ambulatoriškai prednizolonu po 30 mg per parą.
                    </li>
                    <li>
                        D. Lėtinio glomerulonefrito hipertenzinis variantas. Hospitalizuoti, atlikti inksto biopsiją.
                    </li>
                    <li>
                        E. Vazorenalinė hipertenzija. Hospitalizuoti ir atlikti inkstų arterijų angiografiją.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.49</b> 55 m. inžinierius hospitalizuotas dėl stiprių galvos skausmų, svaigimo ir aukšto kraujospūdžio (AKS 240/140 mmHg). Ambulatorinėje kortelėje AKS normalus, tačiau paskutinį kartą matuotas prieš tris metus (130/80 mmHg). Kraujo ir šlapimo tyrimų rezultatai be patologinių pakitimų. Kokia ligos preliminarinė diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vazorenalinė hipertenzija. Hospitalizuoti, padaryti izotopines nefrogramas, inkstų angiografiją, perkutaninę angioplastiką ir skirti priešhipertenzinus vaistus.
                    </li>
                    <li>
                        B. Pirminė arterinė hipertenzija ir hipertenzinė krizė. Hospitalizuoti ir skirti priešhipertenzinį gydymą.
                    </li>
                    <li>
                        C. Hipertoninės ligos krizė. Priėmimo kambaryje paskirti priešhipertenzinius vaistus ir išleisti į namus ambulatoriniam gydymui.
                    </li>
                    <li>
                        D. Lėtinis pielonefritas ir antrinė hipertenzija. Gydyti ambulatoriškai priešrecidyviniais kursais ir priešhipertenziniais vaistais.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.50</b> 22 m. valstietė karščiuoja (iki 39ºC), dažnai ir skausmingai šlapinasi, labai skauda dešinįjį šoną. AKS 120/80 mmHg. Lab. tyrimai: kraujyje – urea 7 mmol/l, šlapime – santykinis tankis 1,025, baltymo 400 mg/l, leuk. pilnas r/l, eritr. 2–3 r/l, bakterijų &gt;10⁵KFV. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinio pielonefrito paūmėjimas. Gydyti ambulatoriškai priešrecidyviniais kursais.
                    </li>
                    <li>
                        B. Ūminis pielonefritas. Hospitalizuoti ir skirti cefuroksimą, o vėliau vaistais pagal šlapimo pasėlyje išaugusios mikrofloros jautrumą.
                    </li>
                    <li>
                        C. Lėtinio glomerulonefrito latentinė forma. Gydyti ambulatoriškai prednizolonu po 30 mg per parą.
                    </li>
                    <li>
                        D. Lėtinis glomerulonefritas. Hospitalizuoti, padaryti inksto biopsiją ir pagal jos rezultatus skirti atitinkamą gydymą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.51</b> 42 m. darbininkas skundžiasi silpnumu, pykinimu, galvos skausmais. 12 m. serga lėtiniu glomerulonefritu. Pastaruoju metu džiūsta burna ir pykina. Objekt. tyrimai: AKS 200/110 mmHg, paros diurezė 1,5 l. Lab. tyrimai: kraujyje – Hb 98 g/l, urea 20 mmol/l, kreatinino 0,3 mmol/l, šlapime – santykinis tankis 1,004, baltymo 800 mg/l, leuk. 2–4 r/l, eritr. 2–4 r/l. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinis glomerulonefritas ir lėtinis inkstų nepakankamumas. Hospitalizuoti ir, kadangi ligonio būklė sunki, reikia pradėti gydymą hemodializėmis.
                    </li>
                    <li>
                        B. Lėtinis glomerulonefritas ir terminalinis inkstų nepakankamumas. Hospitalizuoti. Tinkamiausias gydymas – peritoninės hemodializės.
                    </li>
                    <li>
                        C. Lėtinio glomerulonefrito paūmėjimas. Hospitalizuoti ir skirti patogenezinį gydymą citostatikais ir gliukokortikoidais. Inkstų funkcija turėtų pagerėti.
                    </li>
                    <li>
                        D. Lėtinis glomerulonefritas ir lėtinis inkstų nepakankamumas. Hospitalizuoti ir gydyti konservatyviai: sumažinti baltymų kiekį maiste, padidinti vartojamų skysčių kiekį (diurezė turėtų pasiekti 2-2,5 l), skirti priešaneminius, priešhipertenzinius vaistus ir fosfatų surišėjus.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.52</b> 38 m. invalidei pamažu patino visas kūnas, atsirado silpnumas. Anksčiau yra sirgusi plaučių uždegimu, adneksitu, dėl reumatoidinio artrito jau 10 m. yra II gr. invalidė. Objekt. tyrimai: AKS 120/80 mmHg. Lab. tyrimai: kraujyje – Hb 100 g/l, leuk. 6×10⁹/l, urea 8 mmol/l, baltymo 40 g/l, ENG 60 mm/h, šlapime – santykinis tankis 1,018, baltymo 5000 mg/l, leuk. 3–4 r/l. Kokia ligos diagnozė ir kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis glomerulonefritas ir nefrozinis sindromas. Hospitalizuoti, skirti gulimą režimą, bedruskę dietą ir gydyti benzilpenicilinu po 500 000VV  6 kartus per parą.
                    </li>
                    <li>
                        B. Reumatoidinio artrito sukelta antrinė inkstų amiloidozė (AA). Hospitalizuoti, diagnozės patvirtinimui padaryti tiesiosios žarnos gleivinės arba inkstų biopsiją. Patvirtinus diagnozę skirti diuretikus ir baltyminių preparatų infuzijas.
                    </li>
                    <li>
                        C. Membraninė nefropatija. Hospitalizuoti ir gydyti ciklofosfamidu po 100 mg per parą bei prednizolonu po 60 mg per parą.
                    </li>
                    <li>
                        D. Lėtinis intersticinis nefritas dėl ilgai trukusio nesteroidinių vaistų nuo uždegimo vartojimo. Ambulatorinis gydymas: nutraukti nesteroidinių priešuždegiminių vaistų naudojimą, sumažinti druskos kiekį maiste, padidinti skysčių vartojimą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.54</b> 46 m. slaugytojai birželio mėn. atsirado atkakli sloga, diagnozuotas sinusitas. Liepos mėn. pakilo kūno temperatūra iki 380 C, ėmė kosėti. Rentgenologiškai radus infiltraciją apatinėje dešinio plaučio skiltyje, hospitalizuota rajoninės ligoninės vidaus ligų skyriuje. Gydyta įvairiais antibiotikais, tačiau toliau kosėjo, ėmė dusti, rentgenologiškai infiltraciniai pakitimai plaučiuose progresavo. Perkėlus (rugsėjo mėn.) į universitetinės ligoninės pulmonologijos skyrių ir gydant rezerviniais antibiotikais būklė blogėjo, dėl dusulio negali būti be oksigenoterapijos,  atsirado atkosėjimas krauju. Jos tyrimai: kraujyje –  Hb 130 g/l, eritr. 4x1012 l, kreatinino 0,5 mmol/l, šlapime – baltymo 1500 mg/l, leuk. 2-3 r.l, eritr. 15-25 r/l, paros diurezė 1600 ml. Kokias ligas galima įtarti?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminį plaučių uždegimą, kuris komplikavosi ūminiu inkstų nepakankamumu.
                    </li>
                    <li>
                        B. Anti GBM sukelta Goodpasture sindromą arba sisteminį vaskulitą sukėlusius pulmo-renalinį sindromą.
                    </li>
                    <li>
                        C. Ūminį plaučių uždegimą ir meronemo (kuriuo gydyta) sukeltą nefrotoksinį inkstų pažeidimą.
                    </li>
                    <li>
                        D. Atipinį ūminį plaučių uždegimą su antriniu glomerulonefritu.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.55</b> 46 m. slaugytojai birželio mėn. atsirado atkakli sloga, diagnozuotas sinusitas. Liepos mėn. pakilo kūno temperatūra iki 380 C, ėmė kosėti. Rentgenologiškai radus infiltraciją apatinėje dešinio plaučio skiltyje, hospitalizuota rajoninės ligoninės vidaus ligų skyriuje. Gydyta įvairiais antibiotikais, tačiau toliau kosėjo, ėmė dusti, rentgenologiškai infiltraciniai pakitimai plaučiuose progresavo. Perkėlus (rugsėjo mėn.) į universitetinės ligoninės pulmonologijos skyrių ir gydant rezerviniais antibiotikais būklė blogėjo, dėl dusulio negali būti be oksigenoterapijos,  atsirado atkosėjimas krauju. Jos tyrimai: kraujyje –  Hb 130 g/l, eritr. 4x1012 l, kreatinino 0,5 mmol/l, šlapime – baltymo 1500 mg/l, leuk. 2-3 r.l, eritr. 15-25 r/l, paros diurezė 1600 ml. Kas padėtų nustatyti diagnozę?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo, skreplių ir šlapimo pasėliai
                    </li>
                    <li>
                        B. Kraujo dujų tyrimas
                    </li>
                    <li>
                        C. Anti GBM ir ANCA antikūnų tyrimas kraujyje  ir inksto biopsija
                    </li>
                    <li>
                        D. Plaučių kompiuterinės tomografijos tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.56</b> 80 m. pensininkui šeimos gydytojas nustatė ryškią anemiją (Hb 80 g/l), toliau tiriant rastas ryškus inkstų funkcijos nepakankamumas (kreatinino k. kraujyje 0,4 mmol/l). Šlapimo tyrime – santykinis tankis 1,015, baltymo nėra, leukoc. 3-4 r/l, eritr. 1-2 r/l. Tiriant ultragarsu abu inkstai 8 cm ilgio, ertminės sistemos nepraplėstos. Liekamojo šlapimo pūslėje 30 ml. Anamnezėje: 2 kartus sirgęs plaučių uždegimu, pašalinta tulžies pūslė, 2 kartus sirgo miokardo infarktu, prieš 3 m. buvęs insultas, prieš 6 metus protezuota kairė a. femoralis.  20 metų stebima arterinė hipertenzija, pasiekta gera AKS kontrolė vartojant fozinoprilį. Kokia labiausiai tikėtina diagnozė?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipertenzinės nefropatijos sukeltas lėtinis inkstų nepakankamumas
                    </li>
                    <li>
                        B. Lėtinio pielonefrito sukeltas lėtinis inkstų nepakankamumas
                    </li>
                    <li>
                        C. Lėtinio glomerulonefrito sukeltas lėtinis inkstų nepakankamumas
                    </li>
                    <li>
                        D. Išeminės nefropatijos sukeltas lėtinis inkstų nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.57</b> 23 m. studentas per kelias dienas smarkiai sutino (veidas, kojos). Prieš 10 d. buvo pakilusi  kūno temperatūra iki 380C, skaudėjo gerklę. Šeimos gydytojas, radęs šlapime 8 g/l baltymo, atsiuntė nefrologo konsultacijai. Objektyvus ištyrimas: smarkiai patinę kojos, veidas, AKS  120/80 mmHg, ŠSD 80 k/min. Paros proteinurija 12 g, GFG 120 ml/min. Šlapimo tyr.:  sant. tankis 1,025, baltymo 8,4 g/l, leukoc. 4-6 r/l, eritr. – nėra. Kraujyje kreatinino 80 mcmol/l, albumino 24 g/l, cholesterolio 14 mmol/l. Kokia tolesnė tyrimo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. ASO titras
                    </li>
                    <li>
                        B. Baltyminės frakcijos
                    </li>
                    <li>
                        C. Inksto biopsija
                    </li>
                    <li>
                        D. LOR konsultacija
                    </li>
                    <li>
                        E. Anti GBM ir ANCA antikūnų tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>40.58</b> 23 m. studentas per kelias dienas smarkiai sutino (veidas, kojos). Prieš 10 d. buvo pakilusi  kūno temperatūra iki 380C, skaudėjo gerklę. Šeimos gydytojas, radęs šlapime 8 g/l baltymo, atsiuntė nefrologo konsultacijai. Objektyvus ištyrimas: smarkiai patinę kojos, veidas, AKS  120/80 mmHg, ŠSD 80 k/min. Paros proteinurija 12 g, GFG 120 ml/min. Šlapimo tyr.:  sant. tankis 1,025, baltymo 8,4 g/l, leukoc. 4-6 r/l, eritr. – nėra. Kraujyje kreatinino 80 mcmol/l, albumino 24 g/l, cholesterolio 14 mmol/l. Kokia labiausiai tikėtina diagnozė?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis glomerulonefritas
                    </li>
                    <li>
                        B. Greitai progresuojantis glomerulonefritas
                    </li>
                    <li>
                        C. Membraninė nefropatija
                    </li>
                    <li>
                        D. Minimalių pakitimų nefropatija
                    </li>
                    <li>
                        E. Inkstų amiloidozė
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>40.1 - 

                A
            </td>
            <td>40.2 - 

                B
            </td>
            <td>40.3 - 

                E
            </td>
            <td>40.4 - 

                B
            </td>
            <td>40.5 - 

                D
            </td>
            <td>40.6 - 

                B
            </td>
            <td>40.7 - 

                B
            </td>
            <td>40.8 - 

                B
            </td>
                </tr><tr>
            <td>40.9 - 

                D
            </td>
            <td>40.10 - 

                C
            </td>
            <td>40.11 - 

                D
            </td>
            <td>40.12 - 

                A
            </td>
            <td>40.13 - 

                A
            </td>
            <td>40.14 - 

                A
            </td>
                </tr><tr>
            <td>40.15
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - E </li>
                <li>5 - A </li>
            </ul></td>
            <td>40.16
            <ul>
                <li>1 - B </li>
                <li>2 - D </li>
                <li>3 - C </li>
                <li>4 - A </li>
            </ul></td>
            <td>40.17
            <ul>
                <li>1 - B </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - C </li>
            </ul></td>
            <td>40.53
            <ul>
                <li>1 - B </li>
                <li>2 - D </li>
                <li>3 - C </li>
                <li>4 - A </li>
            </ul></td>
                </tr><tr>
            <td>40.18
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>40.19
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>40.20
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>40.21
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>40.22
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>40.23
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>40.24
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>40.25
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>40.26
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>40.27
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>40.28
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>40.29
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>40.30
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>40.31
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>40.32 - 

                B
            </td>
            <td>40.33 - 

                B
            </td>
            <td>40.34 - 

                A
            </td>
            <td>40.35 - 

                H
            </td>
            <td>40.36 - 

                H
            </td>
            <td>40.37 - 

                D
            </td>
            <td>40.38 - 

                A
            </td>
            <td>40.39 - 

                B
            </td>
                </tr><tr>
            <td>40.40 - 

                A
            </td>
            <td>40.41 - 

                B
            </td>
            <td>40.42 - 

                C
            </td>
            <td>40.43 - 

                A
            </td>
            <td>40.44 - 

                C
            </td>
            <td>40.45 - 

                A
            </td>
            <td>40.46 - 

                D
            </td>
            <td>40.47 - 

                D
            </td>
                </tr><tr>
            <td>40.48 - 

                B
            </td>
            <td>40.49 - 

                A
            </td>
            <td>40.50 - 

                B
            </td>
            <td>40.51 - 

                D
            </td>
            <td>40.52 - 

                B
            </td>
            <td>40.54 - 

                B
            </td>
            <td>40.55 - 

                C
            </td>
            <td>40.56 - 

                D
            </td>
                </tr><tr>
            <td>40.57 - 

                C
            </td>
            <td>40.58 - 

                D
            </td>

</tr></tbody></table></div>