<div class="Centre Kategorija">Neurochirurgija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>44.1</b> Būdingiausias padidėjusio intrakranijinio slėgio požymis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pusiausvyros sutrikimai
                    </li>
                    <li>
                        B. Rytiniai galvos skausmai su pykinimu ir vėmimu
                    </li>
                    <li>
                        C. Mieguistumas
                    </li>
                    <li>
                        D. Pablogėjęs matymas
                    </li>
                    <li>
                        E. Vakariniai galvos skausmai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.2</b> Kuris požymis dažniausiai nurodo, kurioje pusėje yra susiformavusi intrakranijinė ribota kraujosruva:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išsiplėtęs vyzdys kraujosruvos pusėje
                    </li>
                    <li>
                        B. Centrinio tipo galūnių paralyžius (parezė) kraujosrūvos pusėje
                    </li>
                    <li>
                        C. Išsiplėtęs vyzdys priešingoje kraujosrūvai pusėje
                    </li>
                    <li>
                        D. Abipusis centrinio tipo galūnių paralyžius
                    </li>
                    <li>
                        E. Užkritęs (nusileidęs) vokas priešingoje kraujosrūvai pusėje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.3</b> Kuris smegenų kompresijos (suspaudimo) požymis reikšmingiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bradikardija
                    </li>
                    <li>
                        B. Anizokorija
                    </li>
                    <li>
                        C. Stiprus galvos skausmas
                    </li>
                    <li>
                        D. Trinkanti sąmonė
                    </li>
                    <li>
                        E. Hemiplegija
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>44.4</b> Kuri operacija tinkamiausia nurodytiems galvos smegenų navikams gydyti</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Stereotaksinė cistos aspiracija.
                    </li>
                    <li>
                        2 - Naviko subtotalinis šalinimas matomumo ribose.
                    </li>
                    <li>
                        3 - Transfenoidalinis (per nosį, sfenoidalinį sinusą) naviko šalinimas.
                    </li>
                    <li>
                        4 - Likvoro nuosrūvio (šuntavimo) operacija.
                    </li>
                    <li>
                        5 - Radikalus naviko šalinimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Meningioma.
                    </li>
                    <li>
                        B. Cistinė kraniofaringioma.
                    </li>
                    <li>
                        C. Smegenų tilto srities glioma su besivystančia okliuzine vandene.
                    </li>
                    <li>
                        D. Hipofizės adenoma.
                    </li>
                    <li>
                        E. Kaktinės smegenų skilties glioblastoma.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.5</b> Kuri operacija tinkamiausia nurodytiems kraujotakos sutrikimams gydyti</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Arterinio nuosrūvio – arterinės jungties (anastomozės) tarp išorinių  (ekstrakranijinių) ir vidinių (intrakranijinių) kraujotakos baseinų suformavimas.
                    </li>
                    <li>
                        2 - Trombintimektomija.
                    </li>
                    <li>
                        3 - Endovaskulinė embolizacija.
                    </li>
                    <li>
                        4 - Aneurizmos klipsavimas.
                    </li>
                    <li>
                        5 - Kaukolės atvėrimas (kraniotomija) ir hematomos pašalinimas.
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Karotido-kaverninė jungtis.
                    </li>
                    <li>
                        B. Maišinė smegenų arterijos aneurizma.
                    </li>
                    <li>
                        C. Šoninis (lateralinis) hemoraginis insultas su intracerebrine hematoma.
                    </li>
                    <li>
                        D. Miego arterijos trombozė kakle.
                    </li>
                    <li>
                        E. Viduriniosios smegenų arterijos trombozė.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.6</b> Kuriems iš šių galvos smegenų navikų atitinka žemiau išvardinti požymiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - VIII nervo švanoma (neurinoma)
                    </li>
                    <li>
                        2 - Kraniofaryngioma
                    </li>
                    <li>
                        3 - Regimųjų nervų kryžmės glioma
                    </li>
                    <li>
                        4 - Smegenėlių meduloblastoma
                    </li>
                    <li>
                        5 - Glioblastoma
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Hipopituitarizmas
                    </li>
                    <li>
                        B. Akipločio ir regėjimo aštrumo sutrikimai
                    </li>
                    <li>
                        C. Cerebeliarinė ataksija ir hipertenziniai galvos skausmai
                    </li>
                    <li>
                        D. Klausos sutrikimas
                    </li>
                    <li>
                        E. Orientacijos, motorikos, kalbos sutrikimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.7</b> Kuriems nugaros smegenų pakenkimo aukščiams būdingi nurodyti neurologiniai sindromai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Simetrinis kojų jutimų ir judesių sutrikimas, šlapimo nelaikymas     (incontinentio urinae)
                    </li>
                    <li>
                        2 - Rankų judesiai ir jutimai išlikę peties srityje, sutrikę plaštakose ir kojose,   šlapimo susilaikymas (retentio urinae)
                    </li>
                    <li>
                        3 - Nesimetrinis jutimų ir judesių sutrikimas kojose, skausmai, šlapimo  susilaikymas (retentio urinae)
                    </li>
                    <li>
                        4 - Rankų judesiai ir jutimai išlikę, kojose sutrikę, šlapimo susilaikymas  (retentio urinae)
                    </li>
                    <li>
                        5 - Rankų, kojų nejautra ir paralyžius, sutrikęs kvėpavimas, šlapimo  susilaikymas (retentio urinae)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Nugaros smegenų arklio uodegos pažeidimas
                    </li>
                    <li>
                        B. Kūgio, virškūgio pakenkimas
                    </li>
                    <li>
                        C. Nugaros smegenų pakenkimas krūtininėje dalyje
                    </li>
                    <li>
                        D. Nugaros smegenų pakenkimas apatinėje kaklo dalyje
                    </li>
                    <li>
                        E. Nugaros smegenų pakenkimas viršutinėje kaklo dalyje
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>44.8 </b> Kaip gydoma ūmi trauminė intrakranijinė ribota kraujosrūva su smegenų kompresijos požymiais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ligonis skubiai intubuojamas ir hiperventiliuojamas
                    </li>
                    <li>
                        2. Intensyvi dehidracija manitolio infuzija
                    </li>
                    <li>
                        3. Tiriama kardiovaskulinė sistema ar nėra kontraindikacijų narkozei
                    </li>
                    <li>
                        4. Skubiai operuojama, šalinama hematomą
                    </li>
                    <li>
                        5. Atliekama skilvelių drenažo operacija, tikslu sumažinti intrakranijinį slėgį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.9 </b> Kuriais diagnostiniais tyrimais tiksliausiai galima atskirti (diferencijuoti) intrakranijinę ribotą kraujosrūvą nuo smegenų edemos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Angiografija
                    </li>
                    <li>
                        2. Juosmenine punkcija
                    </li>
                    <li>
                        3. Elektroencefalografija
                    </li>
                    <li>
                        4. Kompiuterinė ar magnetinio rezonanso tomografija
                    </li>
                    <li>
                        5. Transkranijine doplerografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.10 </b> Kokie tyrimai padeda diagnozuoti  aštuntojo galvinio nervo neurinomą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Klausos tyrimas (audiograma)
                    </li>
                    <li>
                        2. Magnetinio rezonanso tomografija
                    </li>
                    <li>
                        3. Klausos sukeltų potencialų tyrimas
                    </li>
                    <li>
                        4. Akių dugno tyrimas
                    </li>
                    <li>
                        5. Transkranijine doplerografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.11 </b> Kuriais atvejais skubiai chirurginiu būdu gydoma juosmens tarpslankstelinio disko išvarža:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sutrikus dubens organų funkcijai
                    </li>
                    <li>
                        2. Dėl skausmo esant priverstinei ligonio padėčiai, nemiegant naktimis
                    </li>
                    <li>
                        3. Nusilpus pėdos jėgai
                    </li>
                    <li>
                        4. Per savaitę nuo radikulito pradžios gydant vaistais skausmas dar ne visiškai išnykęs
                    </li>
                    <li>
                        5. Esant ryškiam stuburo iškrypimui, neišnykstančiam net ligoniui atsigulus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.12 </b> Kas būdinga subdurinei hematomai kompiuterinėse tomogramose:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hiperdensinė juostelė po kaukolės kaulu.
                    </li>
                    <li>
                        2. Pusmėnulio formos zona po kaukolės kaulu.
                    </li>
                    <li>
                        3. Skilvelių sistemos ir smegenų vidurinių struktūrų šoninė dislokacija
                    </li>
                    <li>
                        4. Izodensinė juostelė po kaukolės kaulu.
                    </li>
                    <li>
                        5. Hipodensinė juostelė po kaukolės kaulu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.13 </b> Kas gali sukelti likvoro rezorbcijos sutrikimus ir hidrocefaliją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Spontaninė subarachnoidinė hemoragija po arterinės aneurizmos plyšimo.
                    </li>
                    <li>
                        2. Meningoencefalitas.
                    </li>
                    <li>
                        3. Sunki galvos smegenų trauma.
                    </li>
                    <li>
                        4. Smegenų atrofija
                    </li>
                    <li>
                        5. Lakunarinis išeminis insultas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.14 </b> Kokiais atvejais gali būti atliekamos stereotaksinės smegenų operacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ekstrapiramidinėms hiperkinezėms gydyti.
                    </li>
                    <li>
                        2. skausminiams sindromams gydyti.
                    </li>
                    <li>
                        3. giliai smegenyse esančių navikų biopsijai.
                    </li>
                    <li>
                        4. smegenų arterioveninėms aneurizmoms šalinti
                    </li>
                    <li>
                        5. hipofizės ir kitiems seliarinės srities navikams šalinti
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>44.15</b> 53 metų vyras skundžiasi per pastarąsias 2 savaites užeinančiais dešiniosios rankos trūkčiojimais, kurie tęsiasi 10–15 min. Tuo metu sunku kalbėti, labai skauda galvą, sąmonės nepraranda. Pastaruoju metu tapo išsiblaškęs, užmaršus, rytais dažnai skauda galvą, atsikelia nepailsėjęs. Jaunystėje turėjęs traumą po avarijos, buvęs be sąmonės. Tiriant randama silpnesnė dešinioji ranka, seklesnė dešinė nosies lūpų raukšlė. Kojų jėga vienoda. Deš. pusėje didesni sausgysliniai refleksai, teigiamas patologinis Babinskio simptomas. Koks susirgimas įtariamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Židininė potrauminė epilepsija
                    </li>
                    <li>
                        B. Arterio-veninė didžiųjų smegenų pusrutulių aneurizma
                    </li>
                    <li>
                        C. Kaktinės ir smilkininės smegenų skilčių sandūros srities navikas - glijoma
                    </li>
                    <li>
                        D. Lėtinė subdurinė hematoma
                    </li>
                    <li>
                        E. Miego arterijos progresuojanti okliuzija (trombozė) kakle
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.16</b> 53 metų vyras skundžiasi per pastarąsias 2 savaites užeinančiais dešiniosios rankos trūkčiojimais, kurie tęsiasi 10–15 min. Tuo metu sunku kalbėti, labai skauda galvą, sąmonės nepraranda. Pastaruoju metu tapo išsiblaškęs, užmaršus, rytais dažnai skauda galvą, atsikelia nepailsėjęs. Jaunystėje turėjęs traumą po avarijos, buvęs be sąmonės. Tiriant randama silpnesnė dešinioji ranka, seklesnė dešinė nosies lūpų raukšlė. Kojų jėga vienoda. Deš. pusėje didesni sausgysliniai refleksai, teigiamas patologinis Babinskio simptomas. Koks metodas informatyviausias diagnozės patikslinimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Juosmeninė punkcija
                    </li>
                    <li>
                        B. Elektroencefalografija
                    </li>
                    <li>
                        C. Magnetinio rezonanso tomografija
                    </li>
                    <li>
                        D. Smegenų kraujotakos doplerografinis tyrimas
                    </li>
                    <li>
                        E. Sukeltų klausos potencialų tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.17</b> 45 metų pacientas serga juosmens radikulitu apie 10 metų. Skausmai plisdavo tai į vieną, tai į kitą koją, šiek tiek sumažėjo pėdų jėga. Dėl paūmėjusio radikulito gydėsi kurorte. Lipant į baseiną slystelėjo, atsitrenkė sėdyne į laiptelius; skausmai žymiai paūmėjo, sutriko šlapinimasis. Tiriant randami išreikšti nervų tempimo simptomai. Jutimai sutrikę vienos pėdoje dorzaliniame ir išoriniame paviršiuje, kitos - išoriniame ir užpakaliniame. Abipus nėra Achilo refleksų, sutrikęs šlapinimasis. Koks susirgimas įtariamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Juosmens srities nugaros smegenų suspaudimas epidurine hematoma
                    </li>
                    <li>
                        B. Ūmūs potrauminiai uodegikaulio skausmai (coccygodynia)
                    </li>
                    <li>
                        C. Abipusis trauminis sėdimojo nervo neuritas
                    </li>
                    <li>
                        D. Juosmens srities centrinės padėties tarpslankstelinio disko išvarža
                    </li>
                    <li>
                        E. Juosmens srities miozitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.18</b> 45 metų pacientas serga juosmens radikulitu apie 10 metų. Skausmai plisdavo tai į vieną, tai į kitą koją, šiek tiek sumažėjo pėdų jėga. Dėl paūmėjusio radikulito gydėsi kurorte. Lipant į baseiną slystelėjo, atsitrenkė sėdyne į laiptelius; skausmai žymiai paūmėjo, sutriko šlapinimasis. Tiriant randami išreikšti nervų tempimo simptomai. Jutimai sutrikę vienos pėdoje dorzaliniame ir išoriniame paviršiuje, kitos - išoriniame ir užpakaliniame. Abipus nėra Achilo refleksų, sutrikęs šlapinimasis. Kokiu tyrimu galima patikslinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Elektromiografija
                    </li>
                    <li>
                        B. Mielografija
                    </li>
                    <li>
                        C. Juosmeninės stuburo dalies kompiuterinė tomografija
                    </li>
                    <li>
                        D. Liumbosakralinės srities 2-jų krypčių spondilogramomis
                    </li>
                    <li>
                        E. Somatosensorinių sukeltų potencialų tyrimu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.19</b> Užmiesčio kelyje šalia sulaužyto dviračio rastas traumuotas 60 metų vyras. Sąmoningas, apie įvykį nieko nežino. Nejudina kojų, nepasišlapina. AKS – 120/80 mm Hg, pulsas – 72 k/min. Tiriant jutimus – anestezija nuo bambos žemyn. Girnelės ir Achilo refleksų abipus nėra. Patologinių refleksų taip pat nėra. Koks sužalojimas įtariamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Neurokomplikuotas stuburo lūžis apatinėje kaklo dalyje.
                    </li>
                    <li>
                        B. Neurokomplikuotas kryžkaulio lūžis
                    </li>
                    <li>
                        C. Neurokomplikuotas stuburo lūžis viršutinėje kaklo dalyje
                    </li>
                    <li>
                        D. Neurokomplikuotas stuburo lūžis juosmens srityje
                    </li>
                    <li>
                        E. Neurokomplikuotas stuburo lūžis krūtinės vidurinėje dalyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.20</b> Užmiesčio kelyje šalia sulaužyto dviračio rastas traumuotas 60 metų vyras. Sąmoningas, apie įvykį nieko nežino. Nejudina kojų, nepasišlapina. AKS – 120/80 mm Hg, pulsas – 72 k/min. Tiriant jutimus – anestezija nuo bambos žemyn. Girnelės ir Achilo refleksų abipus nėra. Patologinių refleksų taip pat nėra. Koks skubus tyrimas reikalingiausias diagnozei patikslinti ir gydymo taktikai nustatyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sukeltų somatosensorinių potencialų tyrimas
                    </li>
                    <li>
                        B. Juosmeninė punkcija
                    </li>
                    <li>
                        C. Stuburo kompiuterinė tomografija
                    </li>
                    <li>
                        D. Mielografija
                    </li>
                    <li>
                        E. Juosmeninė punkcija su likvoro dinaminiais mėginiais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.21</b> 58 metų moteris antri metai skundžiasi blogėjančia klausa dešine ausimi. Prieš tai ausyje ūždavo, cypdavo. Buvo lygsvaros sutrikimų, staigiai pasukus galvą. Vaikystėje sirgusi ausų uždegimu, pūliavo, tačiau tiksliai nepamena, kuri ausis,. Ištyrus nustatyta išnykusi klausa dešine ausimi. Būgnelis perforuotas, todėl kalorinis mėginys neatliktas. Dešinėje veido pusė lyg nutįsusi žemyn, atsilieka šiepiantis. Kitų neurologinių simptomų nėra. Koks susirgimas įtariamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. VIII-o nervo navikas (neurinoma)
                    </li>
                    <li>
                        B. Klausos nervo neuritas
                    </li>
                    <li>
                        C. Lėtinis dešinės ausies uždegimas (otitas)
                    </li>
                    <li>
                        D. Smegenėlių pusrutulio navikas
                    </li>
                    <li>
                        E. Smegenų tilto pirminis navikas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.22</b> 58 metų moteris antri metai skundžiasi blogėjančia klausa dešine ausimi. Prieš tai ausyje ūždavo, cypdavo. Buvo lygsvaros sutrikimų, staigiai pasukus galvą. Vaikystėje sirgusi ausų uždegimu, pūliavo, tačiau tiksliai nepamena, kuri ausis,. Ištyrus nustatyta išnykusi klausa dešine ausimi. Būgnelis perforuotas, todėl kalorinis mėginys neatliktas. Dešinėje veido pusė lyg nutįsusi žemyn, atsilieka šiepiantis. Kitų neurologinių simptomų nėra. Koks tyrimas geriausiai patikslintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Elektroencefalografija
                    </li>
                    <li>
                        B. Veido raumenų elektomiografija
                    </li>
                    <li>
                        C. Klausos sukeltų potencialų tyrimas
                    </li>
                    <li>
                        D. Vestibiulinio analizatoriaus reakcija kaloriniam dirgikliui
                    </li>
                    <li>
                        E. Galvos magnetinio rezonanso tomografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.23</b> Jau apie 2 mėn. 5 m. amžiaus mergytei sudreba deš. rankytė, ypač stengiantis ką nors paimti. Be to tėvams atrodo, kad ji pasidariusi neatidi, dažnai eidama pro duris, užkliūna už staktos ir pan. Pastarąjį mėnesį pradėjo nevikriai bėgioti – lyg užmeta į deš. šoną. Paskutines 2-3 savaites dažnai rytais paskauda galvelę. Šiandien nuo ankstaus ryto stiprūs galvos skausmai su pykinimu, kelis kartus vėmė. Atvežus į ligoninės priėmimo skyrių, vangi, dar kartą vėmė, skauda galvelę. Yra nedidelis sprando raumenų rigidiškumas, koordinacijos sutrikimai deš. rankyte ir kojyte, intensinis tremoras šiomis galūnėmis, nepastovi apsunkintoje Rombergo pozoje. Kokią ligą įtartumėte?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Galvos smegenų kairiojo pusrutulio navikas
                    </li>
                    <li>
                        B. Diseminuota sklerozė.
                    </li>
                    <li>
                        C. Smegenėlių pusrutulio navikas
                    </li>
                    <li>
                        D. Hidrocefalija
                    </li>
                    <li>
                        E. Meningitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.24</b> Jau apie 2 mėn. 5 m. amžiaus mergytei sudreba deš. rankytė, ypač stengiantis ką nors paimti. Be to tėvams atrodo, kad ji pasidariusi neatidi, dažnai eidama pro duris, užkliūna už staktos ir pan. Pastarąjį mėnesį pradėjo nevikriai bėgioti – lyg užmeta į deš. šoną. Paskutines 2-3 savaites dažnai rytais paskauda galvelę. Šiandien nuo ankstaus ryto stiprūs galvos skausmai su pykinimu, kelis kartus vėmė. Atvežus į ligoninės priėmimo skyrių, vangi, dar kartą vėmė, skauda galvelę. Yra nedidelis sprando raumenų rigidiškumas, koordinacijos sutrikimai deš. rankyte ir kojyte, intensinis tremoras šiomis galūnėmis, nepastovi apsunkintoje Rombergo pozoje. Kokie tyrimo metotai informatyviausi?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. radionuklidinė galvos komiuterinė  tomografija (SPECT),
                    </li>
                    <li>
                        B. Juosmeninė punkcija
                    </li>
                    <li>
                        C. Elektromiografijja
                    </li>
                    <li>
                        D. Galvos kompiuterinė ar magnetinio rezonanso tomografija
                    </li>
                    <li>
                        E. Klausos sukeltų potencialų tyrimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.25</b> Apie 30 metų vyrą rado gulintį be sąmonės ant pievos šalia plento. Gretimais – sudaužytas motociklas. Atvykus GMP, jau buvo atgavęs sąmonę, tačiau dezorientuotas, blaškėsi. Vėliau vėmė, skundėsi galvos skausmu ir vėl darėsi mieguistas. Sumušimai ir nubrozdinimai veide ir k. galvos pusėje. Po 1,5val. atvežus į ligoninę, nukentėjusysis nebeprižadinamas, nesueinamas į kontaktą, akys pasuktos į kairę, platesnis k. vyzdys. Į skausminį dirgiklį gynėsi deš. ranka, lenkė deš. koją. Kairėje teigiamas Babinskio simptomas. Bradikardija. Kvėpavimas normalus. Kokį trauminį galvos smegenų sužalojimą įtartumėte?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Galvos smegenų sukrėtimą.
                    </li>
                    <li>
                        B. Difuzinį aksoninį galvos smegenų pažeidimą.
                    </li>
                    <li>
                        C. Ūmią trauminę epidurinę kraujosrūvą kairėje temporoparietalinėje srityje.
                    </li>
                    <li>
                        D. Kaukolės pamato vidurinės daubos lūžį.
                    </li>
                    <li>
                        E. Ūmią trauminę subdurinė kraujosrūvą virš dešinio smegenų pusrutulio.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>44.26</b> Apie 30 metų vyrą rado gulintį be sąmonės ant pievos šalia plento. Gretimais – sudaužytas motociklas. Atvykus GMP, jau buvo atgavęs sąmonę, tačiau dezorientuotas, blaškėsi. Vėliau vėmė, skundėsi galvos skausmu ir vėl darėsi mieguistas. Sumušimai ir nubrozdinimai veide ir k. galvos pusėje. Po 1,5val. atvežus į ligoninę, nukentėjusysis nebeprižadinamas, nesueinamas į kontaktą, akys pasuktos į kairę, platesnis k. vyzdys. Į skausminį dirgiklį gynėsi deš. ranka, lenkė deš. koją. Kairėje teigiamas Babinskio simptomas. Bradikardija. Kvėpavimas normalus. Kokius gydymo metodus taikytumėte?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skubi kraniotomija ir kraujosrūvos šalinimas.
                    </li>
                    <li>
                        B. Skubus išorinis ventrikulinis drenažas.
                    </li>
                    <li>
                        C. Bifrontalinė dekompresinė kraniotomija.
                    </li>
                    <li>
                        D. Manitolio infuzija, stebėjimas ir tolesnis konservatyvus gydymas.
                    </li>
                    <li>
                        E. Skubi paciento intubacija , sedacija, analgezija ir miorelaksacija, gyvybinių funkcijų monitoravimas.
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>44.1 - 

                B
            </td>
            <td>44.2 - 

                A
            </td>
            <td>44.3 - 

                D
            </td>
                </tr><tr>
            <td>44.4
            <ul>
                <li>1 - B </li>
                <li>2 - E </li>
                <li>3 - D </li>
                <li>4 - C </li>
                <li>5 - A </li>
            </ul></td>
            <td>44.5
            <ul>
                <li>1 - E </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - B </li>
                <li>5 - C </li>
            </ul></td>
            <td>44.6
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - C </li>
                <li>5 - E </li>
            </ul></td>
            <td>44.7
            <ul>
                <li>1 - B </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - C </li>
                <li>5 - E </li>
            </ul></td>
                </tr><tr>
            <td>44.8
            <ul>
                <li>4</li>
            </ul></td>
            <td>44.9
            <ul>
                <li>4</li>
            </ul></td>
            <td>44.10
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>44.11
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>44.12
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>44.13
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>44.14
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>44.15 - 

                C
            </td>
            <td>44.16 - 

                C
            </td>
            <td>44.17 - 

                D
            </td>
            <td>44.18 - 

                C
            </td>
            <td>44.19 - 

                E
            </td>
            <td>44.20 - 

                C
            </td>
            <td>44.21 - 

                A
            </td>
            <td>44.22 - 

                E
            </td>
                </tr><tr>
            <td>44.23 - 

                C
            </td>
            <td>44.24 - 

                D
            </td>
            <td>44.25 - 

                C
            </td>
            <td>44.26 - 

                A
            </td>

</tr></tbody></table></div>