<div class="Centre Kategorija">Neurologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>36.1</b> Ar vystosi raumenų atrofija dėl periferinių motorinių neuronų pažeidimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Taip
                    </li>
                    <li>
                        B. Ne
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.2</b> Kaip kinta raumenų tonusas dėl periferinių motorinių neuronų pažeidimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėja
                    </li>
                    <li>
                        B. Sumažėja
                    </li>
                    <li>
                        C. Nekinta
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.3</b> Ar atsiranda tetraplegija dėl vienos pusės vidinės kapsulės pažeidimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Taip
                    </li>
                    <li>
                        B. Ne
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.4</b> Ar vystosi patologinės sinkinezės dėl periferinio motorinio nervo pažeidimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Taip
                    </li>
                    <li>
                        B. Ne
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.5</b> Kuris simptomų kompleksas parodo centrinio paralyžiaus požymius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Raumenų atrofija, atonija, arefleksija, fascikuliacijos ir nervų elektrinio laidumo pakitimai
                    </li>
                    <li>
                        B. Spazminė raumenų hipertonija, hiperrefleksija, patologiniai refleksai, patologinės sinkinezės ir odos refleksų išnykimas
                    </li>
                    <li>
                        C. Intensinis tremoras, skanduota kalba, nistagmas, raumenų hipotonija, „girtuoklio“ mimika, eisena ir adiadochokinezė
                    </li>
                    <li>
                        D. Amimija, bradilalija, bradifrenija, bradikinezija, visų raumenų grupių tonuso  padidėjimas, boksininko poza, riebaluotas veidas, „dantračio“ fenomenas, manekeno   poza ir mikrografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.6</b> Kuris simptomų komplesas parodo periferinio paralyžiaus požymius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Raumenų atrofija, atonija, arefleksija, fascikuliacijos ir nervų   elektrinio laidumo pakitimai
                    </li>
                    <li>
                        B. Spazminė raumenų hipertonija, hiperrefleksija, patologiniai refleksai, patologinės  sinkinezės ir odos refleksų išnykimas
                    </li>
                    <li>
                        C. Intensinis tremoras, skanduota kalba, nistagmas, raumenų hipotonija, „girtuoklio“   mimika ir eisena bei adiadochokinezė
                    </li>
                    <li>
                        D. Amimija, bradilalija, bradifrenija, bradikinezija, visų raumenų grupių tonuso  padidėjimas, boksininko poza, riebaluotas veidas, „dantračio“ fenomenas, manekeno  poza ir mikrografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.7</b> Kuris simptomų kompleksas parodo smegenėlių pažeidimo požymius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Raumenų atrofija, atonija, arefleksija, fascikuliacijos ir nervų    elektrinio laidumo pakitimai
                    </li>
                    <li>
                        B. Spazminė raumenų hipertonija, hiperrefleksija, patologiniai refleksai, patologinės sinkinezės ir odos refleksų išnykimas
                    </li>
                    <li>
                        C. Intensinis tremoras, skanduota kalba, nistagmas, raumenų hipotonija, „girtuoklio“ mimika ir eisena bei adiadochokinezė
                    </li>
                    <li>
                        D. Amimija, bradilalija, bradifrenija, bradikinezija, visų raumenų grupių tonuso  padidėjimas, boksininko poza, riebaluotas veidas, „dantračio“ fenomenas, manekeno  poza ir mikrografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.8</b> Kuris simptomų komplesas būdingas senosios ekstrapiramidinės nervų sistemos pažeidimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Raumenų atrofija, atonija, arefleksija, fascikuliacijos ir nervų    elektrinio laidumo pakitimai
                    </li>
                    <li>
                        B. Spazminė raumenų hipertonija, hiperrefleksija, patologiniai refleksai, patologinės   sinkinezės ir odos refleksų išnykimas
                    </li>
                    <li>
                        C. Intensinis tremoras, skanduota kalba, nistagmas, raumenų hipotonija, „girtuoklio“   mimika ir eisena bei adiadochokinezė
                    </li>
                    <li>
                        D. Amimija, bradilalija, bradifrenija, bradikinezija, visų raumenų grupių tonuso  padidėjimas, boksininko poza, riebaluotas veidas, „dantračio“ fenomenas, manekeno   poza ir mikrografija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.9</b> Kuris simptomų kompleksas būdingas demencijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. „Girtuoklio“ mimika ir eisena bei adiadochokinezė, intencinis tremoras, skanduota kalba, nistagmas, raumenų hipotonija
                    </li>
                    <li>
                        B. Amimija, bradilalija, bradifrenija, bradikinezija, visų raumenų grupių tonuso padidėjimas, boksininko poza, riebaluotas veidas, „dantračio“ fenomenas, manekeno poza ir mikrografija
                    </li>
                    <li>
                        C. Įgytas, progresuojantis, daugiau nei vienas pažinimo funkcijos sutrikimas, sutrikdantis kasdienę žmogaus veiklą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.10</b> Kuris simptomas būdingas L5 radikulopatijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kojos nykščio tiesiamųjų raumenų silpnumas
                    </li>
                    <li>
                        B. Achilo sausgyslės reflekso išnykimas
                    </li>
                    <li>
                        C. Mažojo kojos piršto hipestezija
                    </li>
                    <li>
                        D. Kojos nykščio lenkiamųjų raumenų silpnumas
                    </li>
                    <li>
                        E. Kelio reflekso išnykimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.11</b> Kuris simptomas būdingas S1 radikulopatijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kelio reflekso išnykimas
                    </li>
                    <li>
                        B. Kojos nykščio srities hipestezija
                    </li>
                    <li>
                        C. Kojos nykščio tiesiamųjų raumenų silpnumas
                    </li>
                    <li>
                        D. Kojos nykščio lenkiamųjų raumenų silpnumas
                    </li>
                    <li>
                        E. Girnelės srities hipestezija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.12</b> Kuris simptomas būdingas C7 radikulopatijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trigalvio žąsto raumens reflekso išnykimas
                    </li>
                    <li>
                        B. Rankos nykščio hipestezija
                    </li>
                    <li>
                        C. Dvigalvio žąsto raumens reflekso išnykimas
                    </li>
                    <li>
                        D. Stipinkaulio riešo reflekso išnykimas
                    </li>
                    <li>
                        E. Rankos mažylio (V piršto) hipestezija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.13</b> Kuris simptomas yra būdingas motorinei afazijai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nesugebėjimas suprasti savo ir kitų žmonių kalbos
                    </li>
                    <li>
                        B. Nesugebėjimas atpažinti matomo daikto
                    </li>
                    <li>
                        C. Nesugebėjimas sąvokų paversti žodžiais
                    </li>
                    <li>
                        D. Skanduota kalba
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.68</b> Kuris simptomas yra pažinimo sutrikimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skanduota kalba
                    </li>
                    <li>
                        B. Afazija
                    </li>
                    <li>
                        C. Bradilalija
                    </li>
                    <li>
                        D. Dizartrija
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>36.14</b> Kuri nervų sistemos vieta būna pažeista kiekvienos nurodytos ligos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Išsėtinė sklerozė
                    </li>
                    <li>
                        2 - Šoninė amiotrofinė sklerozė
                    </li>
                    <li>
                        3 - Siringomielija
                    </li>
                    <li>
                        4 - Miastenija
                    </li>
                    <li>
                        5 - Hantingtono chorėja
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ekstrapiramidinės sistemos branduoliai
                    </li>
                    <li>
                        B. Nervo ir raumens sinapsės
                    </li>
                    <li>
                        C. Motoriniai neuronai ir piramidiniai laidai
                    </li>
                    <li>
                        D. Nugaros smegenų užpakaliniai ragai
                    </li>
                    <li>
                        E. Baltoji galvos ir nugaros smegenų medžiaga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.15</b> Kuris simptomas būdingas kiekvienai nurodytai ligai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Herpetinis encefalitas
                    </li>
                    <li>
                        2 - Parkinsono liga
                    </li>
                    <li>
                        3 - Išsėtinė sklerozė
                    </li>
                    <li>
                        4 - Guillain – Barre sindromas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Bradikinezė
                    </li>
                    <li>
                        B. Traukuliai
                    </li>
                    <li>
                        C. Regimojo nervo temporalinių kraštų pablyškimas
                    </li>
                    <li>
                        D. Polineuropatija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.16</b> Kuris simptomas būdingas kiekvienam nurodytam pažeidimui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - N. radialis pažeidimas
                    </li>
                    <li>
                        2 - N. ulnaris pažeidimas
                    </li>
                    <li>
                        3 - N .medianus pažeidimas
                    </li>
                    <li>
                        4 - N .peroneus communis pažeidimas
                    </li>
                    <li>
                        5 - N. tibialis pažeidimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. „Lamintojo“ ranka
                    </li>
                    <li>
                        B. „Beždžionės“ plaštaka
                    </li>
                    <li>
                        C. „Vanago“ pirštai
                    </li>
                    <li>
                        D. „Žirgo“ eisena
                    </li>
                    <li>
                        E. „Vanago“ pėda
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>36.17 </b> Kurių grupių vaistai vartojami patogeneziniam išeminio insulto gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Antikoaguliantai
                    </li>
                    <li>
                        2. Antihipoksantai
                    </li>
                    <li>
                        3. Statinai
                    </li>
                    <li>
                        4. Antioksidantai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.18 </b> Kurie simptomai būdingi smegenų kamieno „įstrigimui“:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Bradikardija
                    </li>
                    <li>
                        2. Kvėpavimo ritmo sutrikimas
                    </li>
                    <li>
                        3. AKS sumažėjimas
                    </li>
                    <li>
                        4. Gausus prakaitavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.19 </b> Kurie klinikiniai požymiai būdingi subarachnoidinei hemoragijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ūminė ligos pradžia
                    </li>
                    <li>
                        2. Stiprus galvos skausmas ir vėmimas
                    </li>
                    <li>
                        3. Meninginiai simptomai
                    </li>
                    <li>
                        4. Psichomotorinis sujaudinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.20 </b> Kurie simptomai būdingi veidinio nervo periferiniam pažeidimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pažeistos pusės ašarojimas ir skonio sutrikimas (kartais)
                    </li>
                    <li>
                        2. Pažeistos veido pusės visų mimikos raumenų paralyžius
                    </li>
                    <li>
                        3. Hiperakuzija
                    </li>
                    <li>
                        4. Pažeistos veido pusės apatinės dalies mimikos raumenų paralyžius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.21 </b> Kurie klinikiniai požymiai būdingi ūminei uždegiminei demielinizuojančiai poliradikuloneuropatijai (Guillain-Barre sindromui):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Polineuritinio pobūdžio jutimo sutrikimas
                    </li>
                    <li>
                        2. Šaknelinis jutimo sutrikimas
                    </li>
                    <li>
                        3. Rankų ir kojų periferinės parezės
                    </li>
                    <li>
                        4. Baltymų-ląstelių disociacija smegenų skystyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.22 </b> Kurie vaistai skiriami trišakio nervo neuralgijos gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Karbamazepinas
                    </li>
                    <li>
                        2. Kortikosteroidai
                    </li>
                    <li>
                        3. Antidepresantai
                    </li>
                    <li>
                        4. Antibiotikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.23 </b> Kurie požymiai ir simptomai būdingi šoninei amiotrofinei sklerozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Atrofinė galūnių parezė
                    </li>
                    <li>
                        2. Randai po nudegimų
                    </li>
                    <li>
                        3. Raumenų fascikuliacijos nugaroje ir galūnėse
                    </li>
                    <li>
                        4. Disocijuotas segmentinis jutimo sutrikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.24 </b> Kurie simptomai būdingi demencijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Įgimtas pažinimo funkcijų sutrikimas
                    </li>
                    <li>
                        2. Progresuojantis pažinimo funkcijų sutrikimas
                    </li>
                    <li>
                        3. Tik vienos pažinimo funkcijos sutrikimas
                    </li>
                    <li>
                        4. Įgytas pažinimo funkcijų sutrikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.25 </b> Kurios nervų sistemos vietos pažeistos, jeigu liemenyje yra juostos formos disocijuotas skausmo ir temperatūros sutrikimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nugaros smegenų užpakalinis ragas
                    </li>
                    <li>
                        2. Tractus spinothalamicus
                    </li>
                    <li>
                        3. Užpakalinė šaknelė
                    </li>
                    <li>
                        4. Commissura anterior
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.26 </b> Kurie simptomai būdingi smegenų dangalų dirginimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hiperacusis
                    </li>
                    <li>
                        2. Parezės
                    </li>
                    <li>
                        3. Babinskio simptomas
                    </li>
                    <li>
                        4. Kernigo simptomas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.65 </b> Kurie požymiai būdingi trombozės tipo išeminiam insultui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Santykinai lėtas židininės simptomatikos vystymasis ir nesutrikusi sąmonė
                    </li>
                    <li>
                        2. Virpinamoji aritmija
                    </li>
                    <li>
                        3. Praeinantys galvos smegenų kraujotakos sutrikimų priepuoliai anamnezėje
                    </li>
                    <li>
                        4. Ūmi pradžia, sąmonės sutrikimas ir vėmimas
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>36.27</b> 10 m. ligoniui praėjusią savaitę pradėjo nevalingai judėti rankos ir kojos. Jis sunkiai pasėdi, vaikšto ir daro grimasas. Kalba tapo skanduota. Nesukaupia dėmesio. Objekt. tyrimai: galūnėse ir veide – hiperkinezės, raumenų tonusas silpnas, sausgyslių refleksai sustiprėję, simetriški, teigiamas Gordono simptomas, sunkiai išlaiko iškištą liežuvį, judesių koordinacija nepakankama, širdyje girdimas sistolinis ūžesys, ASO titras – padidėjęs. Kokia preliminarinė ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išsėtinė sklerozė
                    </li>
                    <li>
                        B. Hantingtono chorėja
                    </li>
                    <li>
                        C. Erkinis encefalitas
                    </li>
                    <li>
                        D. Reumatinė chorea (chorea minor)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.28</b> 10 m. ligoniui praėjusią savaitę pradėjo nevalingai judėti rankos ir kojos. Jis sunkiai pasėdi, vaikšto ir daro grimasas. Kalba tapo skanduota. Nesukaupia dėmesio. Objekt. tyrimai: galūnėse ir veide – hiperkinezės, raumenų tonusas silpnas, sausgyslių refleksai sustiprėję, simetriški, teigiamas Gordono simptomas, sunkiai išlaiko iškištą liežuvį, judesių koordinacija nepakankama, širdyje girdimas sistolinis ūžesys, ASO titras – padidėjęs. Kokia ligos priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reumatas
                    </li>
                    <li>
                        B. Erkės įkandimas
                    </li>
                    <li>
                        C. Endogeninė intoksikacija
                    </li>
                    <li>
                        D. Autosominis dominantinis paveldėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.29</b> 31 m. ligonė skundžiasi kojų silpnumu ir lygsvaros sutrikimu vaikštant. Prieš metus atsirado dvejinimasis. Žiūrėdama į kairę, negalėjo skaityti ir rašyti. Okulistas pasiuntė ligonę  neurologo konsultacijai, tačiau ligonė nenuvyko, nes dvejinimasis greitai pranyko. Objekt. tyrimai: horizontalus vidutinio stambumo nistagmas, sekli dešinė nosies-lūpų raukšlė, liežuvio  deviacija į kairę, atrofijų nėra, apatinė spazminė paraparezė, netikslūs ir su intensiniu tremoru atliekami koordinaciniai mėginiai, eisena – ataksinė, spazminė, yra nevalingas noras  šlapintis, jutimai nesutrikę. Kokia labiausiai tikėtina ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mielitas
                    </li>
                    <li>
                        B. Išsėtinė sklerozė
                    </li>
                    <li>
                        C. Erkinis encefalitas
                    </li>
                    <li>
                        D. Nugaros smegenų auglys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.30</b> 31 m. ligonė skundžiasi kojų silpnumu ir lygsvaros sutrikimu vaikštant. Prieš metus atsirado dvejinimasis. Žiūrėdama į kairę, negalėjo skaityti ir rašyti. Okulistas pasiuntė ligonę  neurologo konsultacijai, tačiau ligonė nenuvyko, nes dvejinimasis greitai pranyko. Objekt. tyrimai: horizontalus vidutinio stambumo nistagmas, sekli dešinė nosies-lūpų raukšlė, liežuvio  deviacija į kairę, atrofijų nėra, apatinė spazminė paraparezė, netikslūs ir su intensiniu tremoru atliekami koordinaciniai mėginiai, eisena – ataksinė, spazminė, yra nevalingas noras  šlapintis, jutimai nesutrikę. Ar šiai ligai būdingi akių dugno pakitimai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Taip
                    </li>
                    <li>
                        B. Ne
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.31</b> 31 m. ligonė skundžiasi kojų silpnumu ir lygsvaros sutrikimu vaikštant. Prieš metus atsirado dvejinimasis. Žiūrėdama į kairę, negalėjo skaityti ir rašyti. Okulistas pasiuntė ligonę  neurologo konsultacijai, tačiau ligonė nenuvyko, nes dvejinimasis greitai pranyko. Objekt. tyrimai: horizontalus vidutinio stambumo nistagmas, sekli dešinė nosies-lūpų raukšlė, liežuvio  deviacija į kairę, atrofijų nėra, apatinė spazminė paraparezė, netikslūs ir su intensiniu tremoru atliekami koordinaciniai mėginiai, eisena – ataksinė, spazminė, yra nevalingas noras  šlapintis, jutimai nesutrikę. Ar šiai ligai būdingas smegenėlių pažeidimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Taip
                    </li>
                    <li>
                        B. Ne
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.32</b> 31 m. ligonė skundžiasi kojų silpnumu ir lygsvaros sutrikimu vaikštant. Prieš metus atsirado dvejinimasis. Žiūrėdama į kairę, negalėjo skaityti ir rašyti. Okulistas pasiuntė ligonę  neurologo konsultacijai, tačiau ligonė nenuvyko, nes dvejinimasis greitai pranyko. Objekt. tyrimai: horizontalus vidutinio stambumo nistagmas, sekli dešinė nosies-lūpų raukšlė, liežuvio  deviacija į kairę, atrofijų nėra, apatinė spazminė paraparezė, netikslūs ir su intensiniu tremoru atliekami koordinaciniai mėginiai, eisena – ataksinė, spazminė, yra nevalingas noras  šlapintis, jutimai nesutrikę. Ar šiai ligai būdingi psichikos pakitimai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Taip
                    </li>
                    <li>
                        B. Ne
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.33</b> 25 m. ligonė du metus skundžiasi rankų ir kojų silpnumu, pasikeitusia kalba. Vaikštant ją mėto į šalis. Į gydytojus nesikreipė. Prieš metus buvo sutrikęs regėjimas dešiniąja akimi, tačiau savaime pagerėjo. Objekt. tyrimai: horizontalus nistagmas, skanduota kalba, spazminė tetraparezė, nėra pilvo odos refleksų, netiksliai atlieka koordinacinius mėginius, yra intensinis tremoras, nepastovi Rombergo pozoje, jutimo sutrikimų nėra, ligonė šiek tiek euforiška ir nekritiška savo būklės atžvilgiu. Kokia ligonės diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išsėtinė sklerozė
                    </li>
                    <li>
                        B. Nugaros smegenų džiūtis
                    </li>
                    <li>
                        C. Ūminis vertebrobazilinio baseino kraujotakos nepakankamumas
                    </li>
                    <li>
                        D. Podangtinis (subtentorinis) galvos smegenų auglys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.34</b> 25 m. ligonė du metus skundžiasi rankų ir kojų silpnumu, pasikeitusia kalba. Vaikštant ją mėto į šalis. Į gydytojus nesikreipė. Prieš metus buvo sutrikęs regėjimas dešiniąja akimi, tačiau savaime pagerėjo. Objekt. tyrimai: horizontalus nistagmas, skanduota kalba, spazminė tetraparezė, nėra pilvo odos refleksų, netiksliai atlieka koordinacinius mėginius, yra intensinis tremoras, nepastovi Rombergo pozoje, jutimo sutrikimų nėra, ligonė šiek tiek euforiška ir nekritiška savo būklės atžvilgiu. Koks gydymas turi būti paskirtas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gliukokortikoidai
                    </li>
                    <li>
                        B. Antibiotikai
                    </li>
                    <li>
                        C. Aspirinas
                    </li>
                    <li>
                        D. Operacinis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.35</b> 38 m. vyras, dirbdamas sode (kasė daržą), pajuto aštrų strėnų skausmą ir sustingo priverstinėje padėyje per kelių ir klubų sąnarius sulenktomis kojomis. Objekt. tyrimai: skausmingi bet kokie juosmens judesiai, išilginiai nugaros raumenys įtempti, abiejų pusių Lasego simptomai nežymiai teigiami, abiejų pusių kelio ir Achilo refleksai vienodi, kojų jutimai nesutrikę, dubens organų funkcija normali. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Radikulopatija
                    </li>
                    <li>
                        B. Nugaros smegenų insultas
                    </li>
                    <li>
                        C. Lumboišialgija
                    </li>
                    <li>
                        D. Ūminė lumbalgija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.36</b> 38 m. vyras, dirbdamas sode (kasė daržą), pajuto aštrų strėnų skausmą ir sustingo priverstinėje padėyje per kelių ir klubų sąnarius sulenktomis kojomis. Objekt. tyrimai: skausmingi bet kokie juosmens judesiai, išilginiai nugaros raumenys įtempti, abiejų pusių Lasego simptomai nežymiai teigiami, abiejų pusių kelio ir Achilo refleksai vienodi, kojų jutimai nesutrikę, dubens organų funkcija normali. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydymas vaistais
                    </li>
                    <li>
                        B. Manualinė terapija
                    </li>
                    <li>
                        C. Refleksoterapija
                    </li>
                    <li>
                        D. Fizinė terapija
                    </li>
                    <li>
                        E. Kompleksinis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.37</b> 42 m. vyras skundžiasi naktį atsirandančiais ir pasikartojančiais stipriais kairės rankos ir sprando skausmais, kurie protarpiais jį vargina apie 5 metus. Šiuo metu jie vėl paūmėjo. Objekt. tyrimai: riboti kaklinės stuburo dalies judesiai, išilginiai nugaros raumenys truputį įtempti, dešinės plaštakos jėga – 4 balai, raumenų atrofijos nėra, dešinės pusės sausgyslių refleksai sustiprėję, rankų jutimai nesutrikę. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Cervikobrachialgija
                    </li>
                    <li>
                        B. C7 radikulopatija
                    </li>
                    <li>
                        C. Vidurinio nervo neuropatija
                    </li>
                    <li>
                        D. Petinio rezginio pleksopatija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.38</b> 42 m. vyras skundžiasi naktį atsirandančiais ir pasikartojančiais stipriais kairės rankos ir sprando skausmais, kurie protarpiais jį vargina apie 5 metus. Šiuo metu jie vėl paūmėjo. Objekt. tyrimai: riboti kaklinės stuburo dalies judesiai, išilginiai nugaros raumenys truputį įtempti, dešinės plaštakos jėga – 4 balai, raumenų atrofijos nėra, dešinės pusės sausgyslių refleksai sustiprėję, rankų jutimai nesutrikę. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Chirurginis gydymas
                    </li>
                    <li>
                        B. Fizinė terapija
                    </li>
                    <li>
                        C. Kompleksinis gydymas
                    </li>
                    <li>
                        D. Gydymas vaistais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.39</b> 30 m. moteris skundžiasi strėnų skausmu, kuris plinta kojų lateraliniu paviršiumi iki nykščio, ir nusilpusia pėda (eidama užkliūva). Protarpiniai strėnų skausmai trunka apie 7 metus. Dabartinis paūmėjimas yra susijęs su priverstinėje padėtyje (sėdint) užsitęsusia kelione. Objekt. tyrimai: ligonė asteninės kūno sandaros, nežymiai apribotas liemens lenkimas ir atitraukimas į kairę, yra Iº dešinioji skoliozė, palpuojant skausmingi stuburo L4–5 segmentai. Lasego simptomai kairėje 60 laipsnių kampu, ryškiai susilpnėjusi kairės pėdos ekstenzija, kelio ir Achilo sausgyslės refleksai lygūs, kairiosios pėdos nugarinio ir medialinio paviršių bei didžiojo piršto hipestezija. Kokia preliminari ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lumbalgija
                    </li>
                    <li>
                        B. Sėdyninio nervo neuropatija
                    </li>
                    <li>
                        C. Kryžmeninio rezginio pleksopatija
                    </li>
                    <li>
                        D. L5 radikuliopatija
                    </li>
                    <li>
                        E. Polineuropatija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.40</b> 30 m. moteris skundžiasi strėnų skausmu, kuris plinta kojų lateraliniu paviršiumi iki nykščio, ir nusilpusia pėda (eidama užkliūva). Protarpiniai strėnų skausmai trunka apie 7 metus. Dabartinis paūmėjimas yra susijęs su priverstinėje padėtyje (sėdint) užsitęsusia kelione. Objekt. tyrimai: ligonė asteninės kūno sandaros, nežymiai apribotas liemens lenkimas ir atitraukimas į kairę, yra Iº dešinioji skoliozė, palpuojant skausmingi stuburo L4–5 segmentai. Lasego simptomai kairėje 60 laipsnių kampu, ryškiai susilpnėjusi kairės pėdos ekstenzija, kelio ir Achilo sausgyslės refleksai lygūs, kairiosios pėdos nugarinio ir medialinio paviršių bei didžiojo piršto hipestezija. Kuris tyrimas tiksliausiai patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Spondiliografija
                    </li>
                    <li>
                        B. Termovizija
                    </li>
                    <li>
                        C. Elektroneuromiografija
                    </li>
                    <li>
                        D. Mielografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.41</b> 64 m. vyras serga išemine liga, kuri pasireiškia širdies ritmo sutrikimais. Staiga jis pajuto galvos svaigimą ir nusilpo kairiosios ranka ir koja. Objek. tyrimai: sąmoningas, orientuotas, širdies veikla aritmiška, ŠSD–120 k/min., pulsas – ties a.radialis–96 k/min., AKS–140/90 mmHg, akies obuolių visiškai pasukti į kairę pusę negali, kairioji nosinė lūpos raukšlė seklesnė, kairioji liežuvio deviacija, nejudina kairiosios rankos, kairioji koja šiek tiek juda, kairiosios rankos ir kojos raumenų tonusas ir sausgysliniai refleksai silpni, kairėje – teigiami Babinskio refleksai, hemipestezija ir hemianopsija. Kokia preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Miokardo infarktas
                    </li>
                    <li>
                        B. Hemoraginis galvos smegenų insultas
                    </li>
                    <li>
                        C. Išeminis galvos smegenų insultas
                    </li>
                    <li>
                        D. Kraujagyslinė encefalopatija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.42</b> 64 m. vyras serga išemine liga, kuri pasireiškia širdies ritmo sutrikimais. Staiga jis pajuto galvos svaigimą ir nusilpo kairiosios ranka ir koja. Objek. tyrimai: sąmoningas, orientuotas, širdies veikla aritmiška, ŠSD–120 k/min., pulsas – ties a.radialis–96 k/min., AKS–140/90 mmHg, akies obuolių visiškai pasukti į kairę pusę negali, kairioji nosinė lūpos raukšlė seklesnė, kairioji liežuvio deviacija, nejudina kairiosios rankos, kairioji koja šiek tiek juda, kairiosios rankos ir kojos raumenų tonusas ir sausgysliniai refleksai silpni, kairėje – teigiami Babinskio refleksai, hemipestezija ir hemianopsija. Kuris tyrimas padėtų patvirtinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraniograma
                    </li>
                    <li>
                        B. Neurooftalmologinis tyrimas
                    </li>
                    <li>
                        C. Kraujagyslių ultragarsinis tyrimas
                    </li>
                    <li>
                        D. Galvos smegenų kompiuterinė tomograma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.43</b> 54 m. vyras, įmonės vadovas, darbo metu staiga pajuto stiprų galvos skausmą, svaigimą ir neteko sąmonės. Pastaruoju metu turėjo stiprų psichoemocinį išgyvenimą. Objekt. tyrimai: būklė sunki, be sąmonės, nereaguoja į dirgiklius, AKS–240/130 mmHg, pulsas – ritmiškas – 105 k/min., akių obuoliai “plaukioja”, dešinėje – „burės“ simptomas, Babinskio simptomas – d &gt; s. Kokia preliminarinė ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išeminis galvos smegenų insultas
                    </li>
                    <li>
                        B. Kraujagyslinė encefalopatija
                    </li>
                    <li>
                        C. Hemoraginis galvos smegenų insultas
                    </li>
                    <li>
                        D. Hipertoninė krizė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.44</b> 54 m. vyras, įmonės vadovas, darbo metu staiga pajuto stiprų galvos skausmą, svaigimą ir neteko sąmonės. Pastaruoju metu turėjo stiprų psichoemocinį išgyvenimą. Objekt. tyrimai: būklė sunki, be sąmonės, nereaguoja į dirgiklius, AKS–240/130 mmHg, pulsas – ritmiškas – 105 k/min., akių obuoliai “plaukioja”, dešinėje – „burės“ simptomas, Babinskio simptomas – d &gt; s. Kurį tyrimą netikslinga atlikti skubios diagnostikos atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Galvos smegenų kompiuterinę tomografiją
                    </li>
                    <li>
                        B. Elektroencefalografiją
                    </li>
                    <li>
                        C. Juosmeninę punkciją
                    </li>
                    <li>
                        D. Neurooftalmologinį tyrimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.45</b> 22 m. mergina fizinės ir emocinės įtampos metu (diskotekoje) staiga pajuto stiprų skausmą („smūgį“) pakaušio srityje ir trumpam neteko sąmonės. Atgaivinta, skundėsi galvos skausmu, pykinimu, vėmė. Objekt. tyrimai: sąmoninga, orientuota, oda ir gleivinės šiek tiek pablyškę, AKS – 150/90 mmHg, pulsas – 100 k/min. ritmiškas. Galviniai nervai be pakitimų, galūnių jėga vienoda, refleksai simetriški, patologinių refleksų nėra, jutimai nesutrikę, sprandas rigidiškas, abiejų pusių Kernigo simptomai teigiami. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Meningitas
                    </li>
                    <li>
                        B. Encefalitas
                    </li>
                    <li>
                        C. Povoratinklinė (subarachnoidinė) kraujosrūva
                    </li>
                    <li>
                        D. Epilepsijos priepuolis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.46</b> 22 m. mergina fizinės ir emocinės įtampos metu (diskotekoje) staiga pajuto stiprų skausmą („smūgį“) pakaušio srityje ir trumpam neteko sąmonės. Atgaivinta, skundėsi galvos skausmu, pykinimu, vėmė. Objekt. tyrimai: sąmoninga, orientuota, oda ir gleivinės šiek tiek pablyškę, AKS – 150/90 mmHg, pulsas – 100 k/min. ritmiškas. Galviniai nervai be pakitimų, galūnių jėga vienoda, refleksai simetriški, patologinių refleksų nėra, jutimai nesutrikę, sprandas rigidiškas, abiejų pusių Kernigo simptomai teigiami. Kurį tyrimą reikia atlikti pirmiausiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Magnetinio rezonanso tomografiją
                    </li>
                    <li>
                        B. Juosmeninę punkciją
                    </li>
                    <li>
                        C. Elektroencefalografiją
                    </li>
                    <li>
                        D. Kompiuterinę tomografiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.47</b> 37 m. vyras, prieš 3 savaites persirgęs virusine kvėpavimo takų infekcija, prieš dieną pradėjo jausti pėdų silpnumą, o šį vakarą jau visai nevaldė kojų, pajuto plaštakų silpnumą, ėmė gausiai prakaituoti ir plakti širdis. Objekt. tyrimai: raudonas dermografizmas, oda prakaituota, AKS–150/100 mmHg, pulsas – 96 k/min., ritmiškas. Galvinių nervų funkcija nepakitusi, kojų nejudina, rankų judesiai susilpnėję, plaštakų jėga – 3 balai, kojų raumenų tonusas silpnas, rankų – susilpnėję, galūnių raumenų sausgyslinių refleksų nėra, abiejų pusių pėdų hipestezija, Lasego simptomai abiejose pusėse. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mielitas
                    </li>
                    <li>
                        B. Ūminė uždegiminė demielinizuojanti polineuropatija
                    </li>
                    <li>
                        C. Išsėtinė sklerozė
                    </li>
                    <li>
                        D. Nugaros smegenų insultas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.48</b> 37 m. vyras, prieš 3 savaites persirgęs virusine kvėpavimo takų infekcija, prieš dieną pradėjo jausti pėdų silpnumą, o šį vakarą jau visai nevaldė kojų, pajuto plaštakų silpnumą, ėmė gausiai prakaituoti ir plakti širdis. Objekt. tyrimai: raudonas dermografizmas, oda prakaituota, AKS–150/100 mmHg, pulsas – 96 k/min., ritmiškas. Galvinių nervų funkcija nepakitusi, kojų nejudina, rankų judesiai susilpnėję, plaštakų jėga – 3 balai, kojų raumenų tonusas silpnas, rankų – susilpnėję, galūnių raumenų sausgyslinių refleksų nėra, abiejų pusių pėdų hipestezija, Lasego simptomai abiejose pusėse. Kuris požymis, progresuojant ligai, labiausiai tikėtinas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapinimosi susilaikymas
                    </li>
                    <li>
                        B. Širdies asistolija
                    </li>
                    <li>
                        C. Afazija
                    </li>
                    <li>
                        D. Kvėpavimo nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.49</b> 75 m. ūkininkas išvakarėse sunkiai dirbo (kasė bulves), o ryte nebevaldė kairiųjų galūnių ir pajuto galvos svaigimą. Prieš tai pastarąjį mėnesį kelis kartus jautė protarpinį kairiųjų galūnių tirpimą. Objekt. tyrimai: sąmoningas, orientuotas, širdies veikla ritmiška, pulsas – 84 k/min., AKS –110/70 mmHg, negali akių obuolių pasukti į kairę, kairioji hemiplegija, kairiųjų galūnių tonusas silpnesnis, kairės pusės sausgysliniai refleksai silpnesni negu dešinės, kairės pusės Babinskio refleksas. Kokia diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hemoraginis galvos smegenų insultas
                    </li>
                    <li>
                        B. Išeminis galvos smegenų insultas
                    </li>
                    <li>
                        C. Kraujagyslinė encefalopatija
                    </li>
                    <li>
                        D. Povoratinklinė kraujosrūva
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.50</b> 75 m. ūkininkas išvakarėse sunkiai dirbo (kasė bulves), o ryte nebevaldė kairiųjų galūnių ir pajuto galvos svaigimą. Prieš tai pastarąjį mėnesį kelis kartus jautė protarpinį kairiųjų galūnių tirpimą. Objekt. tyrimai: sąmoningas, orientuotas, širdies veikla ritmiška, pulsas – 84 k/min., AKS –110/70 mmHg, negali akių obuolių pasukti į kairę, kairioji hemiplegija, kairiųjų galūnių tonusas silpnesnis, kairės pusės sausgysliniai refleksai silpnesni negu dešinės, kairės pusės Babinskio refleksas. Kokia gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antihipertenzinis gydymas
                    </li>
                    <li>
                        B. Infuzoterapija
                    </li>
                    <li>
                        C. Diuretikai
                    </li>
                    <li>
                        D. Trombolizė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.51</b> 67 m. pensininką pas gydytoją atvedė žmona dėl „drebėjimo“. Ji papasakojo, kad vyrui ne tik dreba rankos, bet pastaruoju metu pasikeitė ir jo būdas. Ligonio judesiai tapo labai lėti, veidas neišraiškingas. Apžiūros metu stebėta 3 kartų per sekundę dažnumo ramybės tremoras, rigidiškumas kojose ir rankose, „dantračio“ fenomenas, sustingusi eisena. Intelektas normalus. Kokią ligą įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šeiminis (esencialinis) tremoras
                    </li>
                    <li>
                        B. Encefalitas
                    </li>
                    <li>
                        C. Alzheimerio liga
                    </li>
                    <li>
                        D. Parkinsono liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.52</b> 67 m. pensininką pas gydytoją atvedė žmona dėl „drebėjimo“. Ji papasakojo, kad vyrui ne tik dreba rankos, bet pastaruoju metu pasikeitė ir jo būdas. Ligonio judesiai tapo labai lėti, veidas neišraiškingas. Apžiūros metu stebėta 3 kartų per sekundę dažnumo ramybės tremoras, rigidiškumas kojose ir rankose, „dantračio“ fenomenas, sustingusi eisena. Intelektas normalus. Kur yra pažeidimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Smegenėlėse
                    </li>
                    <li>
                        B. Uodeguotajame branduolyje
                    </li>
                    <li>
                        C. Kamieno motoriniuose branduoliuose
                    </li>
                    <li>
                        D. Juodojoje medžiagoje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.53</b> 67 m. pensininką pas gydytoją atvedė žmona dėl „drebėjimo“. Ji papasakojo, kad vyrui ne tik dreba rankos, bet pastaruoju metu pasikeitė ir jo būdas. Ligonio judesiai tapo labai lėti, veidas neišraiškingas. Apžiūros metu stebėta 3 kartų per sekundę dažnumo ramybės tremoras, rigidiškumas kojose ir rankose, „dantračio“ fenomenas, sustingusi eisena. Intelektas normalus. Kurios grupės vaistai negali būti vartojami gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Anticholinerginiai
                    </li>
                    <li>
                        B. Anticholinesteraziniai
                    </li>
                    <li>
                        C. L-dopos preparatai
                    </li>
                    <li>
                        D. Dopamino agonistai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.54</b> 27 m. vyras atsibudęs pastebėjo kairės veido pusės nejudrumą. Prieš dieną jis skundėsi skausmu už kairės ausies, garsai kaire ausimi atrodė stipresni ir nemalonūs. Anksčiau buvo visiškai sveikas. Šeimoje yra sergančių hipertonine liga ir smegenų išemine liga. Objekt. tyrimai: visiškas kairiosios veido pusės paralyžius, negali iki galo užmerkti kairiosios akies, susilpnėjęs kairiosios liežuvio pusės skonio jutimas, akis ašaroja, kitos neurologinės simptomatikos nerasta. Kurioje vietoje yra pažeidimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Smegenų kamiene
                    </li>
                    <li>
                        B. Ties yline spenio anga (foramen stylomastodeum)
                    </li>
                    <li>
                        C. Veidinio nervo kanale
                    </li>
                    <li>
                        D. N.facialis motoriniame branduolyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.55</b> 27 m. vyras atsibudęs pastebėjo kairės veido pusės nejudrumą. Prieš dieną jis skundėsi skausmu už kairės ausies, garsai kaire ausimi atrodė stipresni ir nemalonūs. Anksčiau buvo visiškai sveikas. Šeimoje yra sergančių hipertonine liga ir smegenų išemine liga. Objekt. tyrimai: visiškas kairiosios veido pusės paralyžius, negali iki galo užmerkti kairiosios akies, susilpnėjęs kairiosios liežuvio pusės skonio jutimas, akis ašaroja, kitos neurologinės simptomatikos nerasta. Koks paralyžiaus pobūdis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Periferinis
                    </li>
                    <li>
                        B. Centrinis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.56</b> 26 m. vyras pasiskundė metalo skoniu burnoje, vėliau neteko sąmonės ir prasidėjo apie 10 min. trukę viso kūno traukuliai. Jiems praėjus, ligonis liko gulėti ir nereagavo į jokius dirgiklius. Po 5 min. traukuliai pasikartojo ir tęsėsi jau 25 min. Kokie vaistai pirmiausia turi būti skiriami:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Strofantino į veną
                    </li>
                    <li>
                        B. Eufilino į veną
                    </li>
                    <li>
                        C. Diazepamo į veną
                    </li>
                    <li>
                        D. Adrenalino į veną
                    </li>
                    <li>
                        E. Aminazino į veną
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.57</b> 51 m. vyras staiga nustojo valdyti dešiniasias galūnes, sutriko kalba, atsirado dusulys ir paraudo veidas. Prieš 2 dienas jis karščiavo, skundėsi skausmu dešiniojo peties srityje, o vėliau nualpo. Buvo diagnozuota plaučių embolija ir skirtas gydymas heparinu, kurį tęsė iki šiol. Objekt. tyrimai: kalbą supranta, tačiau pats kalba labai sunkiai, bet gali skaityti ir rašyti, pirmą parą kompiuterinės tomografijos tyrimas be pokyčių, EEG – lėto aktyvumo zona kairėje frontalinėje projekcijoje. Po 1 mėn. prasidėjo dešiniosios rankos kloninių traukulių priepuoliai be sąmonės sutrikimo.Kas sukėlė minėtus simptomus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo išsiliejimas į subarachnoidinį tarpą
                    </li>
                    <li>
                        B. Smegenų kraujagyslių embolija
                    </li>
                    <li>
                        C. Kraujo išsiliejimas į vidinės kapsulės sritį
                    </li>
                    <li>
                        D. Ūminis smegenų kraujagyslių spazmas
                    </li>
                    <li>
                        E. Neuroinfekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.58</b> 51 m. vyras staiga nustojo valdyti dešiniasias galūnes, sutriko kalba, atsirado dusulys ir paraudo veidas. Prieš 2 dienas jis karščiavo, skundėsi skausmu dešiniojo peties srityje, o vėliau nualpo. Buvo diagnozuota plaučių embolija ir skirtas gydymas heparinu, kurį tęsė iki šiol. Objekt. tyrimai: kalbą supranta, tačiau pats kalba labai sunkiai, bet gali skaityti ir rašyti, pirmą parą kompiuterinės tomografijos tyrimas be pokyčių, EEG – lėto aktyvumo zona kairėje frontalinėje projekcijoje. Po 1 mėn. prasidėjo dešiniosios rankos kloninių traukulių priepuoliai be sąmonės sutrikimo.Kaip pavadinti kalbos sutrikimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Brocca (motorinė) afazija
                    </li>
                    <li>
                        B. Wernicke (sensorinė) afazija
                    </li>
                    <li>
                        C. Bulbarinė disartrija
                    </li>
                    <li>
                        D. Pseudobulbarinė disartrija
                    </li>
                    <li>
                        E. Motorinė alalija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.59</b> 51 m. vyras staiga nustojo valdyti dešiniąsias galūnes, sutriko kalba, atsirado dusulys ir paraudo veidas. Prieš 2 dienas jis karščiavo, skundėsi skausmu dešiniojo peties srityje, o vėliau nualpo. Buvo diagnozuota plaučių embolija ir skirtas gydymas heparinu, kurį tęsė iki šiol. Objekt. tyrimai: kalbą supranta, tačiau pats kalba labai sunkiai, bet gali skaityti ir rašyti, pirmą parą kompiuterinės tomografijos tyrimas be pokyčių, EEG – lėto aktyvumo zona kairėje frontalinėje projekcijoje. Po 1 mėn. prasidėjo dešiniosios rankos kloninių traukulių priepuoliai be sąmonės sutrikimo. Kaip pavadinti atsiradusius traukulių priepuolius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išplitę toniniai kloniniai
                    </li>
                    <li>
                        B. Paprasti židininiai
                    </li>
                    <li>
                        C. Sudėtingi židininiai
                    </li>
                    <li>
                        D. Absansai
                    </li>
                    <li>
                        E. Choreoatetozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.60</b> 6 mėn. kūdikis prieš parą susirgo: temperatūra pakilo iki 38º C, neteko apetito, 1 kartą vėmė, tapo labai neramus, staiga tapo vangus, suglebo, išbyško, vėliau priblėso sąmonė, išsivystė toniniai-kloniniai traukuliai, kurie truko 2 min. Po to odoje atsirado hemoraginio bėrimo elementų, kurie tolydžio gausėjo. Sprando raumenų rigidiškumo nerasta, židininių neurologinių simptomų nėra. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Subarchnoidinė hemoragija
                    </li>
                    <li>
                        B. Epilepsija
                    </li>
                    <li>
                        C. Meningokokinis meningitas
                    </li>
                    <li>
                        D. Streptokokinis meningitas
                    </li>
                    <li>
                        E. Febriliniai traukuliai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.61</b> 6 mėn. kūdikis prieš parą susirgo: temperatūra pakilo iki 38º C, neteko apetito, 1 kartą vėmė, tapo labai neramus, staiga tapo vangus, suglebo, išbyško, vėliau priblėso sąmonė, išsivystė toniniai-kloniniai traukuliai, kurie truko 2 min. Po to odoje atsirado hemoraginio bėrimo elementų, kurie tolydžio gausėjo. Sprando raumenų rigidiškumo nerasta, židininių neurologinių simptomų nėra. Kurių priemonių reikia pirmiausia imtis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atlikti juosmeninę punkciją ir skirti antibiotikus, atsižvelgiant į floros jautrumą
                    </li>
                    <li>
                        B. Suleisti diazepamo į veną, paimti kraujo pasėlį, atlikti juosmeninę punkciją
                    </li>
                    <li>
                        C. Suleisti kortikosteroidų ir smūginę pencilino dozę
                    </li>
                    <li>
                        D. Suleisti didelę pencilino dozę ir diuretikų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.62</b> 8 metų mergaitė per pastaruosius 3 mėn. tapo išsiblaškiusi, ėmė blogiau mokytis. Mama paaiškino, kad mergaitė kartais neatsiliepia šaukiama, lyg užsisvajoja, žvilgsnį nukreipia aukštyn, nutyla keliolikai sekundžių, o po to toliau tęsia pradėtą veiksmą ar kalbą. Prieš kelis mėnesius išsiskyrė tėvai, mergaitė tapo jautresnė ir sunkiau užmiega, miegodama kalba ir blaškosi. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dėmesio ir aktyvumo sutrikimo sindromas
                    </li>
                    <li>
                        B. Parasomnija
                    </li>
                    <li>
                        C. Progresuojantis klausos sutrikimas
                    </li>
                    <li>
                        D. Epilepsija
                    </li>
                    <li>
                        E. Somatoforminė autonominė disfunkcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.63</b> 53 m. moteris rasta lovoje be sąmonės. Žinoma, kad anksčiau lankėsi pas gydytoją dėl nežymaus AKS padidėjimo. Pastaruoju metu patyrė nesėkmių, tačiau neatrodė depresiška. Objekt. tyrimai: gili koma, ligonė nereaguoja į jokius dirgiklius, AKS–90/50 mmHg, pulsas – 110 k/min., nereguliarus, kvėpavimas 20 k/min, reguliarus, meninginiai simptomai neigiami, vyzdžiai siauri, į šviesą nereaguoja, akių obuoliai nejudrūs, stebimas „lėlės akių“ simptomas, visiška arefleksija, Babinskio simptomų nėra, smegenų skystis nepakitęs. Kokia labiausiai tikėtina šios būklės priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atoninis epilepsinis priepuolis
                    </li>
                    <li>
                        B. Meningoencefalitas
                    </li>
                    <li>
                        C. Intoksikacija
                    </li>
                    <li>
                        D. Subarachnoidinė hemoragija
                    </li>
                    <li>
                        E. Išeminis insultas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.64</b> 24 m. vyras nuo paauglystės skundžiasi nevikrumu, pėdų silpnumu ir deformacija, kuris tolydžio stiprėja.. Ligonio tėvą vargino panašūs sutrikimai. Senatvėje jis nebegalėjo savarankiškai vaikščioti. Objekt. tyrimai: ryškios raumenų atrofijos ir vidutiniškai ryškus blauzdų ir pėdų raumenų silpnumas, kojos primena apverstą butelį, abiejų kojų distalinių dalių jutimai susilpnėję, kelio refleksai susilpnėję, Achilo sausgyslių refleksų nėra. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Miotonija
                    </li>
                    <li>
                        B. Paveldima motorinė ir sensorinė polineuropatija
                    </li>
                    <li>
                        C. Diušeno tipo raumenų distrofija
                    </li>
                    <li>
                        D. Spinalinė raumenų atrofija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.66</b> 28 m. moteris skundžiasi priepuoliniais galvos skausmais, kurie kartojasi 3-4 kartus per mėnesį Labai intensyviai skauda vieną arba abi galvos puses. Tuo metu ligonė vemia, ją vargina šviesa ir garsai. Priepuolis trunka 3-4 valandas. Tarp galvos skausmo priepuolių jaučiasi gerai.
Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. N. trigeminus neuralgija
                    </li>
                    <li>
                        B. Intrakranijinė hipertenzija
                    </li>
                    <li>
                        C. Migrena
                    </li>
                    <li>
                        D. Praeinantieji smegenų kraujotakos sutrikimai vertebrobaziliniame baseine
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>36.67</b> 28 m. moteris skundžiasi priepuoliniais galvos skausmais, kurie kartojasi 3-4 kartus per mėnesį Labai intensyviai skauda vieną arba abi galvos puses. Tuo metu ligonė vemia, ją vargina šviesa ir garsai. Priepuolis trunka 3-4 valandas. Tarp galvos skausmo priepuolių jaučiasi gerai.Kokį gydymą skirsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Karbamazepiną
                    </li>
                    <li>
                        B. Triptanus
                    </li>
                    <li>
                        C. Diuretikus
                    </li>
                    <li>
                        D. Aspiriną
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>36.1 - 

                A
            </td>
            <td>36.2 - 

                B
            </td>
            <td>36.3 - 

                B
            </td>
            <td>36.4 - 

                B
            </td>
            <td>36.5 - 

                B
            </td>
            <td>36.6 - 

                A
            </td>
            <td>36.7 - 

                C
            </td>
            <td>36.8 - 

                D
            </td>
                </tr><tr>
            <td>36.9 - 

                C
            </td>
            <td>36.10 - 

                A
            </td>
            <td>36.11 - 

                D
            </td>
            <td>36.12 - 

                A
            </td>
            <td>36.13 - 

                C
            </td>
            <td>36.68 - 

                B
            </td>
                </tr><tr>
            <td>36.14
            <ul>
                <li>1 - E </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - B </li>
                <li>5 - A </li>
            </ul></td>
            <td>36.15
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>36.16
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - D </li>
                <li>5 - E </li>
            </ul></td>
                </tr><tr>
            <td>36.17
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>36.18
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>36.19
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>36.20
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>36.21
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>36.22
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>36.23
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>36.24
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>36.25
            <ul>
                <li>4</li>
            </ul></td>
            <td>36.26
            <ul>
                <li>4</li>
            </ul></td>
            <td>36.65
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>36.27 - 

                D
            </td>
            <td>36.28 - 

                A
            </td>
            <td>36.29 - 

                B
            </td>
            <td>36.30 - 

                A
            </td>
            <td>36.31 - 

                A
            </td>
            <td>36.32 - 

                A
            </td>
            <td>36.33 - 

                A
            </td>
            <td>36.34 - 

                A
            </td>
                </tr><tr>
            <td>36.35 - 

                D
            </td>
            <td>36.36 - 

                E
            </td>
            <td>36.37 - 

                A
            </td>
            <td>36.38 - 

                C
            </td>
            <td>36.39 - 

                D
            </td>
            <td>36.40 - 

                C
            </td>
            <td>36.41 - 

                C
            </td>
            <td>36.42 - 

                D
            </td>
                </tr><tr>
            <td>36.43 - 

                C
            </td>
            <td>36.44 - 

                B
            </td>
            <td>36.45 - 

                C
            </td>
            <td>36.46 - 

                D
            </td>
            <td>36.47 - 

                B
            </td>
            <td>36.48 - 

                D
            </td>
            <td>36.49 - 

                B
            </td>
            <td>36.50 - 

                D
            </td>
                </tr><tr>
            <td>36.51 - 

                D
            </td>
            <td>36.52 - 

                D
            </td>
            <td>36.53 - 

                B
            </td>
            <td>36.54 - 

                C
            </td>
            <td>36.55 - 

                A
            </td>
            <td>36.56 - 

                C
            </td>
            <td>36.57 - 

                B
            </td>
            <td>36.58 - 

                A
            </td>
                </tr><tr>
            <td>36.59 - 

                B
            </td>
            <td>36.60 - 

                C
            </td>
            <td>36.61 - 

                C
            </td>
            <td>36.62 - 

                D
            </td>
            <td>36.63 - 

                C
            </td>
            <td>36.64 - 

                B
            </td>
            <td>36.66 - 

                C
            </td>
            <td>36.67 - 

                B
            </td>

</tr></tbody></table></div>