<div class="Centre Kategorija">Oftalmologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>17.1</b> Kada pradeda formuotis binokulinis matymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 2 mėn. kūdikiui
                    </li>
                    <li>
                        B. 6 mėn. kūdikiui
                    </li>
                    <li>
                        C. 8 mėn. kūdikiui
                    </li>
                    <li>
                        D. Vienų metų vaikui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.2</b> Kokio amžiaus kūdikiams išsivysto žvairumas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo 2 iki 6 mėnesių
                    </li>
                    <li>
                        B. Iki 2 mėnesių
                    </li>
                    <li>
                        C. Nuo 1 iki 1,5 mėnesio
                    </li>
                    <li>
                        D. Iki vieno mėnesio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.3</b> Kuris metodas tinkamiausias akomodaciniam žvairumui </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Judinamųjų akies raumenų mankšta
                    </li>
                    <li>
                        B. Konvergencijos lavinimas
                    </li>
                    <li>
                        C. Akomodacijos lavinimas
                    </li>
                    <li>
                        D. Refrakcijos ydų korekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.4</b> Kuris trumparegystės požymis yra būdingiausias</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sumažėjęs regėjimo aštrumas artimam nuotoliui. Vargsta akys
                    </li>
                    <li>
                        B. Sumažėjęs regėjimo aštrumas tolimam nuotoliui
                    </li>
                    <li>
                        C. Sumažėjęs regėjimo aštrumas artimam ir tolimam nuotoliams
                    </li>
                    <li>
                        D. Akių nuovargis, galvos skausmas ir mirgėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.5</b> Kiek skiriama histologinių ragenos sluoksnių:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 3
                    </li>
                    <li>
                        B. 4
                    </li>
                    <li>
                        C. 5
                    </li>
                    <li>
                        D. 6
                    </li>
                    <li>
                        E. 10
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.6</b> Kiek yra judinamųjų akies raumenų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 4
                    </li>
                    <li>
                        B. 5
                    </li>
                    <li>
                        C. 6
                    </li>
                    <li>
                        D. 7
                    </li>
                    <li>
                        E. 8
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.7</b> Kuria tinklainės dalimi geriausiai matoma:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Regos nervo disku (discus n.optici) 
                    </li>
                    <li>
                        B. Geltonąja dėme (macula lutea)
                    </li>
                    <li>
                        C. Dantytuoju tinklainės kraštu (ora serrata)
                    </li>
                    <li>
                        D. Tinklainės periferija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.8</b> Kiek skiriama tinklainės histologinių sluoksnių:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 5
                    </li>
                    <li>
                        B. 9
                    </li>
                    <li>
                        C. 8
                    </li>
                    <li>
                        D. 11
                    </li>
                    <li>
                        E. 10
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.9</b> Kas gamina akies skystį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Veninis odenos antis (sinus venosus sclerae)
                    </li>
                    <li>
                        B. Krumplyniniai raiščiai (zonula ciliaris)
                    </li>
                    <li>
                        C. Krumplyninės ataugos (processus ciliares)
                    </li>
                    <li>
                        D. Plokščioji krumplyno dalis (pars plana corporis ciliaris)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.10</b> Kur yra veninis odenos antis (Šlemo kanalas):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gyslainėje
                    </li>
                    <li>
                        B. Priekinės kameros kampe
                    </li>
                    <li>
                        C. Ragenoje
                    </li>
                    <li>
                        D. Krumplyno žiede
                    </li>
                    <li>
                        E. Užpakalinėje kameroje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.11</b> Kuris požymis būdingas afakijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sekli priekinė akies obuolio kamera ir hipotonija
                    </li>
                    <li>
                        B. Gili priekinė akies obuolio kamera, iridodonesis ir vienas Purkinje-Samsono vaizdelis
                    </li>
                    <li>
                        C. Sekli priekinė akies obuolio kamera ir rainelės kolomba
                    </li>
                    <li>
                        D. Gili priekinė akies obuolio kamera ir du Purkinje-Samsono vaizdeliai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.12</b> Kuris tyrimas padeda nustatyti glaukomos formą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tonometrija
                    </li>
                    <li>
                        B. Perimetrija
                    </li>
                    <li>
                        C. Gonioskopija
                    </li>
                    <li>
                        D. Oftalmoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.13</b> Kurią įgimtą kataraktą rekomenduojama operuoti anksčiausiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lęšiuko priekinio poliaus (poliarinė)
                    </li>
                    <li>
                        B. Sluoksninę
                    </li>
                    <li>
                        C. Lęšiuko užpakalinio poliaus
                    </li>
                    <li>
                        D. Totalinę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.14</b> Kuriai ligai būdingas „medžio šakelės“ išopėjimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Keratomycosis
                    </li>
                    <li>
                        B. Keratitis phlyctaenulosa
                    </li>
                    <li>
                        C. Keratitis dendritica
                    </li>
                    <li>
                        D. Keratitis sicca
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.15</b> Kuris nervas inervuoja m. orbicularis oculi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. N. abducens
                    </li>
                    <li>
                        B. N. oculomotorius
                    </li>
                    <li>
                        C. N. facialis
                    </li>
                    <li>
                        D. N. trochlearis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.16</b> Kaip vadinasi kraujo išsiliejimas į stiklakūnį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hyphaema
                    </li>
                    <li>
                        B. Hypopion
                    </li>
                    <li>
                        C. Haemophthalmus
                    </li>
                    <li>
                        D. Hemianopsija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.17</b> Kas yra tinklainės atšoka:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tinklainės išsisluoksniavimas tarp pigmentinio ir kolbelių-lazdelių sluoksnio
                    </li>
                    <li>
                        B. Tinklainės išsisluoksniavimas tarp gyslainės ir pigmentinio epitelio
                    </li>
                    <li>
                        C. Tinklainės ganglinių ląstelių sluoksnio išsisluoksniavimas
                    </li>
                    <li>
                        D. Bet kurio tinklainės sluoksnio išsisluoksniavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.18</b> Kuris požymis reiškia regmatogeninę tinklainės atšoką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Oftalmoskopijos metu matomos aukštos pilkšvos atšokusios tinklainės pūslės
                    </li>
                    <li>
                        B. Tinklainės plyšys, pro kurį patenka subretinalinis skystis ir pilkšvos atšokusios tinklainės pūslės
                    </li>
                    <li>
                        C. Geltonosios dėmės atšoka
                    </li>
                    <li>
                        D. Mechanofosfenų nebuvimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.19</b> Kurio tyrimo metodo reikėtų vengti, diagnozuojant geležinį intraokulinį svetimkūnį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ultragarso
                    </li>
                    <li>
                        B. Kompiuterinės tomografijos
                    </li>
                    <li>
                        C. Apžvalginės rentgenogramos
                    </li>
                    <li>
                        D. Magnetinio rezonanso
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.20</b> Gryno vario svetimkūnis akyje sukelia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Siderozę
                    </li>
                    <li>
                        B. Ūminę chalkozę
                    </li>
                    <li>
                        C. Simpatinę oftalmiją
                    </li>
                    <li>
                        D. Lėtinę chalkozę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.21</b> Kuris oftalmoskopinis vaizdas yra būdingas pigmentinei tinklainės degeneracijai (retinitis pigmentosa):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Stambus chorioretinalinis židinys su pigmentu
                    </li>
                    <li>
                        B. Smulkūs balti ir pigmentuoti židinėliai („pipirai su druska“)
                    </li>
                    <li>
                        C. Kaulų kūnelius primenantys pigmentuoti netaisyklingos formos židinėliai
                    </li>
                    <li>
                        D. Balti stambūs ir smulkūs chorioretinaliniai židiniai su pigmentu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.66</b> Koks akispūdis būdingas kompensuotai glaukomai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 15-21 mmHg
                    </li>
                    <li>
                        B. 10-15 mmHg
                    </li>
                    <li>
                        C. 21-27 mmHg
                    </li>
                    <li>
                        D. 27-36 mmHg
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>17.22</b> Kokių akinių reikėtų kiekvienam nurodyto amžiaus presbiopui, jei jis būtų emetropas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 40.
                    </li>
                    <li>
                        2 - 45.
                    </li>
                    <li>
                        3 - 50.
                    </li>
                    <li>
                        4 - 60.
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. +1,5D
                    </li>
                    <li>
                        B. +2,0D
                    </li>
                    <li>
                        C. +1,0D
                    </li>
                    <li>
                        D. +3,0
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.23</b> Kur lokalizuojasi kiekviena nurodyta liauka</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Glandulae lacrimales accessoriae
                    </li>
                    <li>
                        2 - Meibomo liaukos
                    </li>
                    <li>
                        3 - Molio ir Ceiso Liaukos
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Voko kremzlė
                    </li>
                    <li>
                        B. Junginės skliautas
                    </li>
                    <li>
                        C. Voko blakstieninis kraštas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.24</b> Kuri afakijos korekcija turi būti rekomenduojama kiekvienos nurodytos klinikinės situacijos metu</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vienpusė katarakta, kita akis sveika
                    </li>
                    <li>
                        2 - Įgimta katarakta, kita akis afakinė
                    </li>
                    <li>
                        3 - Įgimta abipusė katarakta, kūdikis operuojamas pirmaisiais gyvenimo mėnesiais
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kontaktinis lęšis
                    </li>
                    <li>
                        B. Dirbtinio lęšio implantacija
                    </li>
                    <li>
                        C. Akiniai su sferiniais pliusiniais lęšiais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.25</b> Kuris požymis būdingas kiekvienai nurodytai ligai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Sifilinis parenchiminis keratitas
                    </li>
                    <li>
                        2 - Dendritinis keratitas
                    </li>
                    <li>
                        3 - Lagoftalminis keratitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ragenos infiltracija ir gili vaskuliarizacija
                    </li>
                    <li>
                        B. Ragenos jautrumo sumažėjimas
                    </li>
                    <li>
                        C. Miegant vokai neuždengia apatinio ragenos krašto ir dėl to ji džiūsta bei opėja
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.26</b> Kuriai ligai būdingas kiekvienas nurodytas akių dugno pakitimų kompleksas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Susiaurėjusios arterijos, Gvisto, Saluso-Guno simptomai, smulkūs balti židiniai šalia kraujagyslių, tinklainės kraujosrūvos ir žvaigždės figūra
                    </li>
                    <li>
                        2 - Plačios akių dugno venos, mikroaneurizmos, įvairaus dydžio kraujosruvos ir „kieti“ eksudatai
                    </li>
                    <li>
                        3 - Plačios venos, mikroaneurizmos, „kieti“ ir „vatos“ pavidalo eksudatai, nuo regimojo nervo disko tinklainės paviršiumi slenkančios naujadarės kraujagyslės, į stiklakūnį einantys proliferaciniai dryžiai, masyvios tinklainės ir stiklakūnio kraujosruvos
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Retinopathia diabetica simplex
                    </li>
                    <li>
                        B. Retinopathia diabetica proliferans
                    </li>
                    <li>
                        C. Retinopathia hypertonica
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.27</b> Kuris gydymo metodas turi būti taikomas kiekvienos nurodytos ligos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Cataracta senilis incipiens
                    </li>
                    <li>
                        2 - Cataracta senilis matura
                    </li>
                    <li>
                        3 - Cataracta secundaria
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Gydymas lazeriu
                    </li>
                    <li>
                        B. Sekimas
                    </li>
                    <li>
                        C. Chirurginis gydymas - fakoemulsifikacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.28</b> Kuris nervas inervuoja kiekvieną nurodytą judinamąjį akies raumenį</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - M. rectus lateralis (lateralinis tiesusis raumuo)
                    </li>
                    <li>
                        2 - M. obliquus superior (viršutinis įstrižinis raumuo)
                    </li>
                    <li>
                        3 - M. rectus superior (viršutinis tiesusis raumuo)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. N. oculomotorius
                    </li>
                    <li>
                        B. N. trochlearis
                    </li>
                    <li>
                        C. N. trigemimus
                    </li>
                    <li>
                        D. N. abducens
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.29</b> Kuris požymis būdingas kiekvienai nurodytai ligai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Šliaužianti ragenos opa
                    </li>
                    <li>
                        2 - Dendritinis keratitas
                    </li>
                    <li>
                        3 - Skritulinis keratitas
                    </li>
                    <li>
                        4 - Sifilinis parenchiminis keratitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ragenoje yra pilkšvas ar gelsvai balkšvas išopėjęs infiltratas. Vienas opos kraštas lygus, kitas tarsi išgraužtas
                    </li>
                    <li>
                        B. Ragenos centre gilus balkšvai pilkas disko formos infiltratas
                    </li>
                    <li>
                        C. Ragenoje balkšvas infiltratas primena nudžiūvusią medžio šakelę
                    </li>
                    <li>
                        D. Ragenos pakraštyje yra trikampio formos balkšvai pilkas gilus infiltratas, kurio viršūnė pakrypusi į ragenos centrą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.30</b> Kuris požymis būdingas kiekvienai nurodytai ligai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Regimojo nervo auglys
                    </li>
                    <li>
                        2 - Akiduobės flegmona
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ragenos infiltratai
                    </li>
                    <li>
                        B. Regimojo nervo atrofija ir centrinė akipločio skotoma
                    </li>
                    <li>
                        C. Karščiavimas ir vokų bei akiduobės skausmas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.31</b> Kuris simtomas būdingiausias kiekvienai nurodytai ligai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Uždaro kampo glaukoma
                    </li>
                    <li>
                        2 - Atviro kampo glaukoma
                    </li>
                    <li>
                        3 - Įgimta glaukoma
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Akies obuolio didėjimas ir rageninis sindromas
                    </li>
                    <li>
                        B. Subjektyvių simptomų nebuvimas
                    </li>
                    <li>
                        C. Galvos (kaktos srities) skausmai ir vaivorykštės ratilai aplink šviesos šaltinį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.32</b> Kuris vaistas pirmiausia turi būti skiriamas kiekvienos nurodytos ligos gydymui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Sifilinis keratitas
                    </li>
                    <li>
                        2 - Keratomikozė
                    </li>
                    <li>
                        3 - Dendritinis keratitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Antibiotikų, kortikosteroidų ir midriatikų lašai
                    </li>
                    <li>
                        B. Priešgrybeliniai vaistai
                    </li>
                    <li>
                        C. Priešvirusiniai vaistai
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>17.33 </b> Kurie požymiai yra charakteringi hipermetropiniam astigmatizmui :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Susilpnėjęs regėjimo aštrumas artimam nuotoliui
                    </li>
                    <li>
                        2. Susilpnėjęs regėjimo aštrumas toliui
                    </li>
                    <li>
                        3. Galvos skausmas
                    </li>
                    <li>
                        4. Akies optinės ašies pailgėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.34 </b> Kuriais požymiais pasireiškia presbiopija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nutolsta artimasis ryškaus matymo taškas
                    </li>
                    <li>
                        2. Neryškios laikraščio ar knygos raidės
                    </li>
                    <li>
                        3. Ilgiau paskaičius, skauda galvą
                    </li>
                    <li>
                        4. Žiūrint į elektros lempą matomi aplink ją vaivorykštės ratilai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.35 </b> Kurie požymiai būdingi akiduobės navikams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išverstakumas
                    </li>
                    <li>
                        2. Akies judesių apribojimas
                    </li>
                    <li>
                        3. Vokų patinimas
                    </li>
                    <li>
                        4. Tinklainės kraujosruvos
                    </li>
                    <li>
                        5. Stiklakūnio drumstys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.36 </b> Kurie požymiai charakteringi akiduobės flegmonai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vokų ir akiduobės skausmas
                    </li>
                    <li>
                        2. Aukšta temperatūra
                    </li>
                    <li>
                        3. Akies judesių apribojimas
                    </li>
                    <li>
                        4. Tinklainės pigmentiniai židiniai
                    </li>
                    <li>
                        5. Lęšio drumstys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.37 </b> Kokie yra akispūdžio tyrimo būdai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Oftalmoskopija
                    </li>
                    <li>
                        2. Perimetrija
                    </li>
                    <li>
                        3. Skenuojanti lazerinė polarimetrija
                    </li>
                    <li>
                        4. Tonometrija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.38 </b> Kokios yra antrinės glaukomos priežastys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Perbrendusi katarakta
                    </li>
                    <li>
                        2. Pseudoeksfoliacijos
                    </li>
                    <li>
                        3. Centrinės tinklainės venos trombozė
                    </li>
                    <li>
                        4. Atviras priekinės kameros kampas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.39 </b> Kokios yra įgimtų kataraktų formos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Branduolinė katarakta
                    </li>
                    <li>
                        2. Lęšiuko priekinio poliaus katarakta (poliarinė)
                    </li>
                    <li>
                        3. Sluoksninė katarakta
                    </li>
                    <li>
                        4. Totalinė katarakta
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.40 </b> Kurie požymiai būdingi keratitams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Šviesos baimė
                    </li>
                    <li>
                        2. Ašarojimas
                    </li>
                    <li>
                        3. Vokų spazmas
                    </li>
                    <li>
                        4. Akipločio pakitimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.41 </b> Kurie požymiai būdingi šliaužiančiai ragenos opai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mišri akies obuolio injekcija
                    </li>
                    <li>
                        2. Pilkšvas, apskritas ir išopėjęs ragenos infiltratas, kurio vienas kraštas epitelizuojasi, o kitas – šliaužia gilyn ir tolyn
                    </li>
                    <li>
                        3. Hypopion
                    </li>
                    <li>
                        4. Šliaužianti ragenos opa niekada neprakiūra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.42 </b> Kokios skiriamos akies junginės (conjuctiva) dalys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Akies obuolio junginė
                    </li>
                    <li>
                        2. Skliauto junginė
                    </li>
                    <li>
                        3. Vokų junginė
                    </li>
                    <li>
                        4. Ašarų maišelio junginė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.43 </b> Kokios yra uveitų komplikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Antrinė glaukoma
                    </li>
                    <li>
                        2. Antrinė katarakta
                    </li>
                    <li>
                        3. Endoftalmitas
                    </li>
                    <li>
                        4. Regimojo nervo uždegimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.44 </b> Kokios yra uveitų priežastys;</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. TBC
                    </li>
                    <li>
                        2. Toksoplazmozė
                    </li>
                    <li>
                        3. Reumatas
                    </li>
                    <li>
                        4. Infekcijos židiniai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.45 </b> Kurie akių dugno pakitimai būdingi aterosklerozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Praplėstas arterijų šviesos refleksas
                    </li>
                    <li>
                        2. „Sidabrinės vielos“ fenomenas
                    </li>
                    <li>
                        3. Apie tinklainės geltonąją dėmę ratu išsidėstę smulkūs židiniai (circinata tipo distrofija)
                    </li>
                    <li>
                        4. „Žvaigždės“ figūrą geltonojoje dėmėje sudarantys židiniai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.46 </b> Kurie požymiai būdingi akių hipertoninei retinopatijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Siauros arterijos
                    </li>
                    <li>
                        2. Tinklainės kraujosrūvos
                    </li>
                    <li>
                        3. Saluso-Guno simptomas
                    </li>
                    <li>
                        4. „Žvaigždės“ figūra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.47 </b> Kurie akių dugno pakitimai būdingi paprastąjai, neproliferacinei (simplex) diabetinei retinopatijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Įvairaus dydžio tinklainės kraujosruvos
                    </li>
                    <li>
                        2. „Kieti“ tinklainės eksudatai
                    </li>
                    <li>
                        3. Mikroaneurizmos
                    </li>
                    <li>
                        4. Vatos formos eksudatai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.48 </b> Kurie būdai taikytini preproliferacinės diabetinės retinopatijos gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Cukraus kiekio kraujyje sureguliavimas
                    </li>
                    <li>
                        2. Kortikosteroidai, angioprotektoriai per os ir vietiškai
                    </li>
                    <li>
                        3. Panretininė lazerkoaguliacija
                    </li>
                    <li>
                        4. Vitrektomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.49 </b> Kurie tyrimai turi būti atlikti įtarus tinklainės atšoką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Oftalmoskopija
                    </li>
                    <li>
                        2. Ultragarsinis B skenavimas
                    </li>
                    <li>
                        3. Perimetrija
                    </li>
                    <li>
                        4. Fluorescentinė angiografija
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>17.50</b> 3 m. vaiko mama kreipėsi į oftalmologą sakydama, kad vaikas prieš 2 mėnesius pradėjo žvairuoti. Dešinioji akis iš pradžių nepastoviai pakrypdavo link nosies, o pastaruoju metu yra pakrypusi nuolat. Kuris tyrimas turi būti padarytas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išorinė apžiūra
                    </li>
                    <li>
                        B. Ištyrimas šoniniame apšvietime
                    </li>
                    <li>
                        C. Skiaskopavimas, oftalmoskopavimas, žvairumo kampo matavimas ir akių judesių paslankumo ištyrimas
                    </li>
                    <li>
                        D. Skiaskopavimas, žvairumo kampo matavimas ir akių judesių paslankumo ištyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.51</b> Oftalmoskopijos rezultatai: akių dugne pakitimų nepastebėta. Skiaskopijos metu cikloplegikais nustatyta dešiniosios akies H 5,0D, kairiosios akies H 3,0D, akies obuolių judesiai laisvi, pirminis nuokrypos kampas lygus antriniam. Kuri priežastis galėjo nulemti žvairumą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Intraokulinė patologija
                    </li>
                    <li>
                        B. N. abducens paralyžius
                    </li>
                    <li>
                        C. Toliaregystė ir anizometropija
                    </li>
                    <li>
                        D. Stresinė situacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.52</b> 60 metų moteriai prieš pusę metų „padidėjo“ kairioji akis, išverstakumas pamažu progresavo, patino vokai. Iš anamnezės – ligonis nekarščiavo, nesirgo infekcinėmis, skydliaukės ligomis bei prienosinių ančių uždegimais. Objekt. tyrimai: egzoftalmometrijos duomenimis OD – 15,0 mm, OS – 22,0 mm (ryški asimetrija), į viršų, į vidų ir į šoną akies judesiai apriboti. Kuris tyrimas turėtų būti padarytas šios ligos diagnozavimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ultragarsinis tyrimas, kompiuterinė tomografija, rentgenografija ir egzoftalmometrija
                    </li>
                    <li>
                        B. Biomikroskopija
                    </li>
                    <li>
                        C. Išorinė apžiūra ir Širmerio mėginys
                    </li>
                    <li>
                        D. Ištyrimas šoniniame apšvietime ir oftalmoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.53</b> 60 metų moteriai prieš pusę metų „padidėjo“ kairioji akis, išverstakumas pamažu progresavo, patino vokai. Iš anamnezės – ligonis nekarščiavo, nesirgo infekcinėmis, skydliaukės ligomis bei prienosinių ančių uždegimais. Objekt. tyrimai: egzoftalmometrijos duomenimis OD – 15,0 mm, OS – 22,0 mm (ryški asimetrija), į viršų, į vidų ir į šoną akies judesiai apriboti. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Akiduobės flegmona
                    </li>
                    <li>
                        B. Glaukoma
                    </li>
                    <li>
                        C. Akiduobės navikas
                    </li>
                    <li>
                        D. Endokrininė oftalmopatija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.54</b> 55 metų moteriai prieš tris savaites buvo diagnozuotas prienosinių ančių uždegimas. Dabar prieš dieną sutino dešiniosios akies vokai, pradėjo skaudėti galvą, atsirado silpnumas ir dvejinimasis. Objekt. tyrimai: vokai OD paburkę ir paraudę, egzoftalmometrijos duomenimis OD 21 mm, OS 16,5 mm (dešiniosios akies išverstakumas), visi akies obuolio judesiai apriboti, OD junginė paburkusi, hiperemiška, ligonė karščiuoja. Lab. tyrimai: kraujyje – leukocitozė ir padidėjęs ENG. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Akiduobės auglys
                    </li>
                    <li>
                        B. Akiduobės flegmona
                    </li>
                    <li>
                        C. Endokrininė oftalmopatija
                    </li>
                    <li>
                        D. Pulsuojantis išverstakumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.55</b> 55 metų moteriai prieš tris savaites buvo diagnozuotas prienosinių ančių uždegimas. Dabar prieš dieną sutino dešiniosios akies vokai, pradėjo skaudėti galvą, atsirado silpnumas ir dvejinimasis. Objekt. tyrimai: vokai OD paburkę ir paraudę, egzoftalmometrijos duomenimis OD 21 mm, OS 16,5 mm (dešiniosios akies išverstakumas), visi akies obuolio judesiai apriboti, OD junginė paburkusi, hiperemiška, ligonė karščiuoja. Lab. tyrimai: kraujyje – leukocitozė ir padidėjęs ENG. Kuris tyrimas padėtų patikslinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Oftalmoskopija ir skiaskopija
                    </li>
                    <li>
                        B. Išorinė apžiūra
                    </li>
                    <li>
                        C. Išorinė apžiūra biomikroskopu, egzoftalmometrija ir akių judesių ištyrimas
                    </li>
                    <li>
                        D. Ištyrimas šoniniame apšvietime ir kolargolio mėginys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.56</b> Ligonis skundžiasi dešiniosios akies ir kaktos bei smilkinio srities galvos skausmu, pykinimu, vėmimu ir pablogėjusiu matymu. Objekt. tyrimai: yra stazinė akies obuolio injekcija, paburkusi ragena, sekli priekinė kamera, platus ir rigidiškas vyzdys. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis iridociklitas
                    </li>
                    <li>
                        B. Glaukomos priepuolis
                    </li>
                    <li>
                        C. Endoftalmitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.57</b> Ligonis skundžiasi dešiniosios akies ir kaktos bei smilkinio srities galvos skausmu, pykinimu, vėmimu ir pablogėjusiu matymu. Objekt. tyrimai: yra stazinė akies obuolio injekcija, paburkusi ragena, sekli priekinė kamera, platus ir rigidiškas vyzdys. Koks turėtų būti skiriamas gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antibiotikai ir kortikosteroidiniai priešuždegiminiai vaistai
                    </li>
                    <li>
                        B. Midriatikai ir nesteroidiniai priešuždegiminiai vaistai
                    </li>
                    <li>
                        C. Osmodiuretikai, vietiniai beta adrenoblokatoriai, karboanhidrazės inhibitoriai, miotikai 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.58</b> Profilaktinio patikrinimo metu vidutinio amžiaus žmogui rasta: V OD–0,4, OS–0,8, Tn OD–28 mmHg, OS–24 mmHg. Biomikroskopuojant nustatyta labiau apie vyzdinį kraštą išreikšta rainelės atrofija. Oftalmoskopuojant matomi abiejų akių ekskavuoti, riboti regimųjų nervų diskai su kraujagyslių pluošto dislokacija. Kuris papildomas tyrimas šiuo atveju turi būti atliktas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Perimetrija
                    </li>
                    <li>
                        B. Struktūrinė regos nervo pakitimų analizė
                    </li>
                    <li>
                        C. Gonioskopija
                    </li>
                    <li>
                        D. Visi minėti tyrimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.59</b> Profilaktinio patikrinimo metu vidutinio amžiaus žmogui rasta: V OD–0,4, OS–0,8, Tn OD–28 mmHg, OS–24 mmHg. Biomikroskopuojant nustatyta labiau apie vyzdinį kraštą išreikšta rainelės atrofija. Oftalmoskopuojant matomi abiejų akių ekskavuoti, riboti regimųjų nervų diskai su kraujagyslių pluošto dislokacija. Tyrimo rezultatai leido diagnozuoti atviro kampo glaukomą. Koks gydymas turi būti rekomenduotas pirmiausiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Midriatikai
                    </li>
                    <li>
                        B. Prostaglandinų analogai
                    </li>
                    <li>
                        C. Operacija
                    </li>
                    <li>
                        D. Gydymas lazeriu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.60</b> 35 m. ligonis skundžiasi dešiniosios akies vokų spazmu ir pablogėjusiu matymu. Prieš 3 dienas smarkiai sušalo ir pradėjo sloguoti. Objekt. tyrimai: stipriai išreikšta perikornealinė injekcija, ragenos centre yra netaisyklingos formos išopėjimas, kuris, padažius fluoresceinu, primena nudžiūvusią medžio šakelę, ragenos jautrumas išnykęs. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Keratitis metaherpetica
                    </li>
                    <li>
                        B. Trachoma
                    </li>
                    <li>
                        C. Keratitis dendritica
                    </li>
                    <li>
                        D. Keratomycosis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.61</b> 35 m. ligonis skundžiasi dešiniosios akies vokų spazmu ir pablogėjusiu matymu. Prieš 3 dienas smarkiai sušalo ir pradėjo sloguoti. Objekt. tyrimai: stipriai išreikšta perikornealinė injekcija, ragenos centre yra netaisyklingos formos išopėjimas, kuris, padažius fluoresceinu, primena nudžiūvusią medžio šakelę, ragenos jautrumas išnykęs. Koks gydymas turi būti paskirtas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Specifinis priešvirusinis
                    </li>
                    <li>
                        B. Desensibilizuojantis
                    </li>
                    <li>
                        C. Antibiotikai
                    </li>
                    <li>
                        D. Visi minėti vaistai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.62</b> 60 m. ligonis prieš savaitę pastebėjo, kad kairiosios akies apačioje blykčioja. Prieš 2 dienas pastebėjo, kad nuo apačios prieš kairę akį užslinko lyg pilka užuolaida, kuri pablogino matymą. Objekt. tyrimai: V OD – 1,0; OS – 1/∞, PLI, spalvų neskiria. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tinklainės atšoka
                    </li>
                    <li>
                        B. Centrinės tinkalinės arterijos obstrukcija (nepraeinamumas)
                    </li>
                    <li>
                        C. Regimojo nervo neuritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.63</b> 60 m. ligonis prieš savaitę pastebėjo, kad kairiosios akies apačioje blykčioja. Prieš 2 dienas pastebėjo, kad nuo apačios prieš kairę akį užslinko lyg pilka užuolaida, kuri pablogino matymą. Objekt. tyrimai: V OD – 1,0; OS – 1/∞, PLI, spalvų neskiria. Pagal ligonio nusiskundimus galima įtarti tinklainės atšoką. Kurie papildomi tyrimai galėtų patvirtinti jūsų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Biomikroskopija
                    </li>
                    <li>
                        B. Oftalmoskopija, ultragarsinis B skenavimas ir perimetrija
                    </li>
                    <li>
                        C. Fluorescentinė angiografija, keratometrija ir tamsinė adaptacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.64</b> 70 m. ligonis prieš savaitę pastebėjo dešiniosios akies apačioje fiksuotą juodą tašką. Prieš dieną ši dėmė pradėjo didėti ir šiuo metu ligonis dešiniąja akimi skiria tik šviesą. Objekt. tyrimai: AKS-200/120 mmHg, oftalmoskopuojant OD dugno reflekso nėra, vyzdys tamsus, OS dugne – hipertoninė retinopatija (siauros arterijos, sidabrinės vielos fenomenas, Salus – Guno III simptomas, smulkios kraujosrūvos, tinklainės židiniai pagal kraujagyslių eigą) , V OD – 1/, PLC OS – 1,0. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Occlusio v. centralis retinae OD
                    </li>
                    <li>
                        B. Tumor intraoculare OD
                    </li>
                    <li>
                        C. Haemophthalmus OD
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>17.65</b> 70 m. ligonis prieš savaitę pastebėjo dešiniosios akies apačioje fiksuotą juodą tašką. Prieš dieną ši dėmė pradėjo didėti ir šiuo metu ligonis dešiniąja akimi skiria tik šviesą. Objekt. tyrimai: AKS-200/120 mmHg, oftalmoskopuojant OD dugno reflekso nėra, vyzdys tamsus, OS dugne – hipertoninė retinopatija (siauros arterijos, sidabrinės vielos fenomenas, Salus – Guno III simptomas, smulkios kraujosrūvos, tinklainės židiniai pagal kraujagyslių eigą) , V OD – 1/, PLC OS – 1,0. Kuris tyrimas padėtų patvirtinti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Biomikroskopija ir ultragarsinis tyrimas
                    </li>
                    <li>
                        B. Perimetrija ir tamsinė adaptacija
                    </li>
                    <li>
                        C. Elektrofiziologinis tyrimas ir fluorescentinė angiografija
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>17.1 - 

                A
            </td>
            <td>17.2 - 

                A
            </td>
            <td>17.3 - 

                D
            </td>
            <td>17.4 - 

                B
            </td>
            <td>17.5 - 

                C
            </td>
            <td>17.6 - 

                C
            </td>
            <td>17.7 - 

                B
            </td>
            <td>17.8 - 

                E
            </td>
                </tr><tr>
            <td>17.9 - 

                C
            </td>
            <td>17.10 - 

                B
            </td>
            <td>17.11 - 

                B
            </td>
            <td>17.12 - 

                C
            </td>
            <td>17.13 - 

                D
            </td>
            <td>17.14 - 

                C
            </td>
            <td>17.15 - 

                C
            </td>
            <td>17.16 - 

                C
            </td>
                </tr><tr>
            <td>17.17 - 

                A
            </td>
            <td>17.18 - 

                B
            </td>
            <td>17.19 - 

                D
            </td>
            <td>17.20 - 

                B
            </td>
            <td>17.21 - 

                C
            </td>
            <td>17.66 - 

                A
            </td>
                </tr><tr>
            <td>17.22
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
            <td>17.23
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>17.24
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>17.25
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
            </ul></td>
            <td>17.26
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>17.27
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>17.28
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>17.29
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>17.30
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
            </ul></td>
            <td>17.31
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>17.32
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
            </ul></td>
                </tr><tr>
            <td>17.33
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>17.34
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>17.35
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>17.36
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>17.37
            <ul>
                <li>4</li>
            </ul></td>
            <td>17.38
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>17.39
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>17.40
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>17.41
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>17.42
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>17.43
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>17.44
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>17.45
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>17.46
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>17.47
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>17.48
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>17.49
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>17.50 - 

                C
            </td>
            <td>17.51 - 

                C
            </td>
            <td>17.52 - 

                A
            </td>
            <td>17.53 - 

                C
            </td>
            <td>17.54 - 

                B
            </td>
            <td>17.55 - 

                C
            </td>
            <td>17.56 - 

                B
            </td>
            <td>17.57 - 

                C
            </td>
                </tr><tr>
            <td>17.58 - 

                D
            </td>
            <td>17.59 - 

                B
            </td>
            <td>17.60 - 

                C
            </td>
            <td>17.61 - 

                D
            </td>
            <td>17.62 - 

                A
            </td>
            <td>17.63 - 

                B
            </td>
            <td>17.64 - 

                C
            </td>
            <td>17.65 - 

                A
            </td>

</tr></tbody></table></div>