<div class="Centre Kategorija">Onkologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>6.1</b> Sergamumas vėžiu Lietuvoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. &gt; 400 atv./100 000
                    </li>
                    <li>
                        B. &gt; 200 atv./100 000
                    </li>
                    <li>
                        C. &gt; 100 atv./100 000
                    </li>
                    <li>
                        D. &gt; 50 atv. /100 000
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.2</b> Mirtingumo struktūroje onkologinės ligos užima:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirmą vietą
                    </li>
                    <li>
                        B. Antrą vietą po širdies ir kraujagyslių ligų
                    </li>
                    <li>
                        C. Trečią vietą po širdies- kraujagyslių ligų ir traumų
                    </li>
                    <li>
                        D. Trečią vietą po širdies - kraujagyslių ligų ir virškinamojo trakto ligų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.3</b> Dažniausia moterų onkologinė liga Lietuvoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Odos piktybiniai navikai
                    </li>
                    <li>
                        B. Krūties vėžys
                    </li>
                    <li>
                        C. Gimdos kūno navikai
                    </li>
                    <li>
                        D. Gimdos kaklelio navikai
                    </li>
                    <li>
                        E. Skrandžio vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.4</b> Kas yra pirminė vėžio profilaktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vėžį sukeliančių priežasčių šalinimas ar ribojimas
                    </li>
                    <li>
                        B. Laiku nustatoma ikinavikinių ligų diagnozė
                    </li>
                    <li>
                        C. Laiku nustatoma vėžio diagnozė
                    </li>
                    <li>
                        D. Onkologinių ligonių reabilitacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.5</b> Koks yra pagrindinis antrinės navikų profilaktikos tikslas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Laiku nustatoma ikinavikinių ligų diagnozė, jų  kvalifikuotas gydymas, ankstyvoji vėžio diagnostika
                    </li>
                    <li>
                        B. Kokybiškas sergančiųjų onkologinėmis ligomis gydymas
                    </li>
                    <li>
                        C. Onkologinių ligonių reabilitacija
                    </li>
                    <li>
                        D. Klinikinių komplikacijų vengimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.6</b> Kas yra onkologinio ligonio paliatyvus gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skausmo mažinimas
                    </li>
                    <li>
                        B. Simptomų gydymas
                    </li>
                    <li>
                        C. Slauga
                    </li>
                    <li>
                        D. Gyvenimo kokybės gerinimas ir/ar gyvenimo trukmės ilginimas, taikant specifinius gydymo metodus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.7</b> Kaip pasiekti onkologinių ligų kontrolę?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Įdiegiant naujus priešvėžinius vaistus į klinikinę praktiką
                    </li>
                    <li>
                        B. Atskleidžiant navikų atsiradimo priežastis ir vystymąsi
                    </li>
                    <li>
                        C. Įgyvendinant onkologinių ligų profilaktiką, anksti diagnozuojant ir gydant vėžį, suteikiant paliatyvią pagalbą sergantiesiems
                    </li>
                    <li>
                        D. Vystant spindulinės terapijos technologijas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.8</b> Kaip galima prognozuoti naviko jautrumą spinduliams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atsižvelgiant į naviko infiltracijos gylį
                    </li>
                    <li>
                        B. Atsižvelgiant į histologinę struktūrą
                    </li>
                    <li>
                        C. Atsižvelgiant į naviko lokalizaciją
                    </li>
                    <li>
                        D. Atsižvelgiant į naviko plitimo laipsnį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.9</b> Kurių ląstelės dalijimosi fazių metu ji yra jautriausia spinduliams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. G1
                    </li>
                    <li>
                        B. S
                    </li>
                    <li>
                        C. G2
                    </li>
                    <li>
                        D. M
                    </li>
                    <li>
                        E. M ir G2
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.10</b> Pagrindinis plaučių vėžio kontrolės būdas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirminė profilaktika
                    </li>
                    <li>
                        B. Antrinė profilaktika
                    </li>
                    <li>
                        C. Įrodymais pagrįstas gydymas
                    </li>
                    <li>
                        D. Paliatyvi pagalba
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.11</b> Tikimasi, jog hormoninis krūties vėžio gydymas padės, jei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Diagnozuota ankstyvoji krūties vėžio stadija
                    </li>
                    <li>
                        B. Teigiami estrogenų ir/ar progesteronų receptoriai
                    </li>
                    <li>
                        C. Neigiami estrogenų ir/ar progesteronų receptoriai
                    </li>
                    <li>
                        D. Nėra metastazių pažasties limfmazgiuose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.12</b> Didžiausia rizika sirgti krūties vėžiu, jei pirmos eilės giminės susirgo krūties vėžiu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Premenopauzėje
                    </li>
                    <li>
                        B. Premenopauzėje ir buvo diagnozuotas abiejų krūtų vėžys
                    </li>
                    <li>
                        C. Po menopauzės
                    </li>
                    <li>
                        D. Buvo diagnozuotas abiejų krūtų vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.13</b> Kokią visų krūties navikų dalį sudaro paveldimas krūties vėžys?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo 5 iki 10 procentų
                    </li>
                    <li>
                        B. Apie 50 procentų
                    </li>
                    <li>
                        C. Nuo 80 iki  90 procentų
                    </li>
                    <li>
                        D. Nežinoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.14</b> Kokie gydymo metodai taikomi po krūtį tausojančios naviko operacijos, esant metastazėms limfmazgiuose ir neigiamiems hormonų receptoriams?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Chemoterapija ir spindulinė terapija
                    </li>
                    <li>
                        B. Chemoterapija ir hormonoterapija
                    </li>
                    <li>
                        C. Hormonoterapija ir biologinė terapija
                    </li>
                    <li>
                        D. Spindulinė terapija ir ligonės stebėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.15</b> Kuri infekcija susijusi su gimdos kaklelio vėžiu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hepatito B virusas
                    </li>
                    <li>
                        B. Žmogaus papilomos virusas
                    </li>
                    <li>
                        C. Herpes virusas
                    </li>
                    <li>
                        D. Helicobacter pyliori infekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.16</b> Kurie medikamentai nevartojami vėžio chemoterapijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antimetabolitai
                    </li>
                    <li>
                        B. Estrogenai
                    </li>
                    <li>
                        C. Antibiotikai nuo vėžio
                    </li>
                    <li>
                        D. Alkilinantieji citostatikai
                    </li>
                    <li>
                        E. Vinca alkaloidai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.17</b> Atrankinė patikra taikoma šių piktybinių navikų profilaktikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skrandžio vėžio
                    </li>
                    <li>
                        B. Gerklų vėžio
                    </li>
                    <li>
                        C. Krūties vėžio
                    </li>
                    <li>
                        D. Plaučių vėžio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.18</b> Gimdos kaklelio vėžio atrankinės patikros dažnis priklauso nuo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Citologiniame tepinėlyje nustatyto ląstelių atipijos laipsnio
                    </li>
                    <li>
                        B. Moters amžiaus
                    </li>
                    <li>
                        C. Gimdymų skaičiaus
                    </li>
                    <li>
                        D. Lėšų, skiriamų atrankinei gimdos kaklelio patikrai, dydžio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.19</b> Krūties vėžio mamografinė atrankinė patikra pradedama nuo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 30 metų
                    </li>
                    <li>
                        B. 40 metų
                    </li>
                    <li>
                        C. 50 metų
                    </li>
                    <li>
                        D. 60 metų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.20</b> Krūties vėžio atrankinės patikros metu mamografija atliekama kas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 6 mėnesius
                    </li>
                    <li>
                        B. 2 metus
                    </li>
                    <li>
                        C. 5 metus
                    </li>
                    <li>
                        D. 10 metų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.21</b> Viršutinės tuščiosios venos spaudimo sindromo diagnostikos metodai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kaklo venų ultragarsinis tyrimas
                    </li>
                    <li>
                        B. Galvos ir kaklo smegenų magnetinio rezonanso tomografija
                    </li>
                    <li>
                        C. Angiografija
                    </li>
                    <li>
                        D. Krūtinės ląstos kompiuterinė tomografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.22</b> Metastazės dažniausiai aptinkamos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kaklo slanksteliuose
                    </li>
                    <li>
                        B. Krūtininiuose slanksteliuose
                    </li>
                    <li>
                        C. Juosmens slanksteliuose
                    </li>
                    <li>
                        D. Kryžkaulyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.23</b> Stuburo smegenų kompresijos chirurginio gydymo indikacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kompresinis lūžis
                    </li>
                    <li>
                        B. Paciento amžius virš 70 metų
                    </li>
                    <li>
                        C. Blogai diferencijuotas pirminis navikas
                    </li>
                    <li>
                        D. Daugiau nei 1 mėnesį besitęsiantis silpnumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.24</b> Hiperkalcemijos, sergant piktybiniu naviku, priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidintas kalcio kiekis maiste
                    </li>
                    <li>
                        B. Inkstų funkcijos sutrikimas
                    </li>
                    <li>
                        C. Naviko išskiriamos osteolizinės medžiagos
                    </li>
                    <li>
                        D. Skydliaukės ligos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.25</b> Melanomos gydymo taktika, esant T1N0M0 ligos stadijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plati lokali ekscizija ir jokio kito gydymo
                    </li>
                    <li>
                        B. Plati lokali ekscizija su limfonodektomija
                    </li>
                    <li>
                        C. Plati lokali ekscizija su limfonodektomija ir imunoterapija
                    </li>
                    <li>
                        D. Plati lokali ekscizija ir imunoterapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.26</b> Metastazavusios melanomos atveju po chemoterapijos ar imunoterapijos navikas sumažėja:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 10-15 proc. pacientų
                    </li>
                    <li>
                        B. 30-45 proc. pacientų
                    </li>
                    <li>
                        C. 50-65 proc. pacientų
                    </li>
                    <li>
                        D. 70-85 proc. pacientų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.27</b> Metastazavusios melanomos atveju 2 metus išgyvena:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 80 proc. pacientų
                    </li>
                    <li>
                        B. 50 proc. pacientų
                    </li>
                    <li>
                        C. 20 proc. pacientų
                    </li>
                    <li>
                        D. 2 proc. pacientų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.28</b> Krūties vėžio patogenezei lemiančią reikšmę turi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Augimo hormonas
                    </li>
                    <li>
                        B. Estrogenai
                    </li>
                    <li>
                        C. Testosteronas
                    </li>
                    <li>
                        D. Prostaglandinai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.29</b> IV vėžio stadija ligoniui nustatoma, jei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Yra metastazės regioniniuose limfmazgiuose
                    </li>
                    <li>
                        B. Navikas yra virš 5 cm dydžio
                    </li>
                    <li>
                        C. Yra bent viena atokioji metastazė
                    </li>
                    <li>
                        D. Nėra specifinio gydymo galimybių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.30</b> Onkologinio skausmo gydymo principai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Remiantis PSO pakopomis, atsižvelgiant į ligos eigą, pradėti nuo geriamųjų vaistų
                    </li>
                    <li>
                        B. Remiantis PSO pakopomis
                    </li>
                    <li>
                        C. Skirti vaistus, kai labiausiai skauda
                    </li>
                    <li>
                        D. Pradėti gydymą morfinu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.31</b> TNM klasifikacijoje R1 reiškia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nustatytas vietinis naviko recidyvas
                    </li>
                    <li>
                        B. Nustatytas atokusis naviko recidyvas (metastazės)
                    </li>
                    <li>
                        C. Navikas infiltruoja rezekcinį kraštą (matoma šviesiniu mikroskopu), operacija neradikali
                    </li>
                    <li>
                        D. Navikas infiltruoja rezekcinį kraštą (matoma akimi, t.y makroskopiškai), operacija neradikali
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.32</b> Patologinė TNM klasifikacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atstoja klinikinę TNM klasifikaciją
                    </li>
                    <li>
                        B. Nepadeda numatyti vėžio prognozės
                    </li>
                    <li>
                        C. Abi TNM klasifikacijos (klinikinė ir patologinė) turi būti įrašytos diagnozėje
                    </li>
                    <li>
                        D. Nepadeda parinkti tolesnio gydymo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.33</b> Koks dažniausias pirminis piktybinis odos navikas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Piktybinė melanoma
                    </li>
                    <li>
                        B. Pagrindinių ląstelių (bazoceliulinis) odos vėžys
                    </li>
                    <li>
                        C. Plokščialąstis odos vėžys
                    </li>
                    <li>
                        D. Odos T-ląstelių limfoma
                    </li>
                    <li>
                        E. Ne krūties (ekstramamarinė) Pedžeto liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.34</b> Seilių liaukų navikų ankstyvi simptomai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ausų skausmas
                    </li>
                    <li>
                        B. Užkimimas
                    </li>
                    <li>
                        C. Sausumas burnoje, skonio pokyčiai
                    </li>
                    <li>
                        D. Kraujavimas iš ausies
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.35</b> IV b stadija galvos kaklo navikams diagnozuojama, kai yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tolimosios metastazės
                    </li>
                    <li>
                        B. Lokaliai išplitęs, rezektabilus vėžys
                    </li>
                    <li>
                        C. Metastazės kaklo limfmazgiuose
                    </li>
                    <li>
                        D. Lokaliai išplitęs, nerezektabilus vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.36</b> Koks neišplitusios melanomos (N0 M0) histologinis požymis turi didžiausią prognostinę vertę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mitozių skaičius
                    </li>
                    <li>
                        B. Naviko plotis
                    </li>
                    <li>
                        C. Naviko įaugimo į odą gylis
                    </li>
                    <li>
                        D. Nekrozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.37</b> Diagnostinės priemonės, įtarus melanomą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Punkcija ir citologinis punktato tyrimas
                    </li>
                    <li>
                        B. Dalinė darinio biopsija
                    </li>
                    <li>
                        C. Ekscizinė biopsija
                    </li>
                    <li>
                        D. Dermoskopija (epiliuminescentinė mikroskopija)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.38</b> Specifinis vėžio gydymas galimas, kai paciento funkcinė būklė pagal ECOG skalę yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. ≥2balai
                    </li>
                    <li>
                        B. ≤2 balai
                    </li>
                    <li>
                        C. &lt;2 balų
                    </li>
                    <li>
                        D. &gt;2 balų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.39</b> Metastazės yra sinchroninės, jei jos nustatytos nuo pirminio naviko diagnozės praėjus ne daugiau kaip:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 2 sav
                    </li>
                    <li>
                        B. 1 mėn.
                    </li>
                    <li>
                        C. 2 mėn.
                    </li>
                    <li>
                        D. 6 mėn.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.40</b> Pagrindinis žarnyno vėžio žymuo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. CEA
                    </li>
                    <li>
                        B. GI 19-9
                    </li>
                    <li>
                        C. CA 125
                    </li>
                    <li>
                        D. CA 15-3
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.41</b> Kodėl nerekomenduotina dalinė pigmentinio odos darinio biopsija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Didelė diseminacijos rizika melanomos atveju
                    </li>
                    <li>
                        B. Negalima įvertinti viso naviko infiltracijos gylio ir storio melanomos atveju
                    </li>
                    <li>
                        C. Blogesnis kosmetinis efektas
                    </li>
                    <li>
                        D. Infekcinių komplikacijų rizika
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.42</b> Dažniausias galvos-kaklo navikų histologinis tipas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sarkoma
                    </li>
                    <li>
                        B. Plokščialąstė karcinoma
                    </li>
                    <li>
                        C. Adenokarcinoma
                    </li>
                    <li>
                        D. Limfoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.43</b> Daugiadisciplininėje galvos-kaklo navikų gydymo komandoje turi būti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Veido-žandikaulių chirugas, plastikos chirurgas, onkologai-radioterapeutai ir chemoterapeutai, odontologas
                    </li>
                    <li>
                        B. Chirurgai ir onkologai
                    </li>
                    <li>
                        C. Otolaringologas ir slaugytojas
                    </li>
                    <li>
                        D. Šeimos gydytojas ir otolaringologas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.44</b> Kokios anatominės viršutinių kvėpavimo takų srities navikai dažniausi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nosiaryklės
                    </li>
                    <li>
                        B. Burnos ertmės
                    </li>
                    <li>
                        C. Gerklų
                    </li>
                    <li>
                        D. Hipofarinkso
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.45</b> Dažniausias ankstyvas gerklų navikų simptomas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Užkimimas
                    </li>
                    <li>
                        B. Sunkesnis kvėpavimas
                    </li>
                    <li>
                        C. Kraujo atkosėjimas
                    </li>
                    <li>
                        D. Disfagija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.46</b> Informatyviausias galvos-kaklo navikų radiologinės diagnostikos metodas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sonografija
                    </li>
                    <li>
                        B. Kompiuterinė tomografija
                    </li>
                    <li>
                        C. MR tomografija
                    </li>
                    <li>
                        D. Radioizotopiniai tyrimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.47</b> Kokio ankstyvojo (I ir II stadijos) gerklų vėžio gydymo rezultatai yra geriausi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Spindulinė terapija
                    </li>
                    <li>
                        B. Operacinis gydymas
                    </li>
                    <li>
                        C. Kombinuotas (operacinis ir spindulinis)
                    </li>
                    <li>
                        D. Operacinio ir spindulinio gydymo rezultatai vienodi
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.48</b> Kuris veiksnys yra nereikšmingas paciento, sergančio prostatos vėžiu, prognozei?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Naviko išplitimas (T)
                    </li>
                    <li>
                        B. Karcinoembrioninio antigeno lygmuo
                    </li>
                    <li>
                        C. Serumo PSA lygis
                    </li>
                    <li>
                        D. Histologinė diferenciacija (Gleasono laipsnis)
                    </li>
                    <li>
                        E. Amžius ir gretutinės ligos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.49</b> Kokia liga dažniausiai sukelia v. cava superior spaudimo sindromą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aortos aneurizma
                    </li>
                    <li>
                        B. Nesmulkialąstis plaučių vėžys
                    </li>
                    <li>
                        C. Smulkialąstis plaučių vėžys
                    </li>
                    <li>
                        D. Krūties vėžys
                    </li>
                    <li>
                        E. Hodgkin’o limfoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.50</b> Koks gydymas rekomenduotinas v. cava superior spaudimo atveju, diagnozavus į tarpuplautį plintantį vidutinės diferenciacijos nesmulkialąstį plaučių vėžį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Chemoterapija
                    </li>
                    <li>
                        B. Radioterapija
                    </li>
                    <li>
                        C. Kombinuotas (chemospindulinis) gydymas
                    </li>
                    <li>
                        D. V. cava superior plėtimas stentu
                    </li>
                    <li>
                        E. Trombolizė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.51</b> Koks gydymas rekomenduojamas, esant ryškesniam v. cava superior spaudimo sindromui diagnozavus į tarpuplautį plintantį smulkialąstį vėžį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Chemoterapija
                    </li>
                    <li>
                        B. Radioterapija
                    </li>
                    <li>
                        C. Kombinuotas (chemospindulinis) gydymas
                    </li>
                    <li>
                        D. V. cava superior plėtimas stentu
                    </li>
                    <li>
                        E. Trombolizė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.52</b> Dažniausiai į skeletą metastazuoja šie navikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Limfomos ir kraujodaros sistemos navikai
                    </li>
                    <li>
                        B. Seminoma ir kiaušidžių vėžys
                    </li>
                    <li>
                        C. Virškinimo trakto ir minkštųjų audinių navikai
                    </li>
                    <li>
                        D. Plaučių, krūties ir priešinės liaukos vėžys
                    </li>
                    <li>
                        E. Galvos-kaklo navikai ir melanoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.53</b> Atliekant radikalią storosios žarnos vėžio operaciją būtina pašalinti bent:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 10-12 sritinių limfmazgių
                    </li>
                    <li>
                        B. 8-9 sritinius limfmazgius
                    </li>
                    <li>
                        C. 15-16 sritinių limfmazgių
                    </li>
                    <li>
                        D. Virš 20 sritinių limfmazgių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.54</b> Gaubtinės (kylančiosios, skersinės, nusileidžiančiosios, riestinės) žarnos vėžiui klinikinėje praktikoje dažniausiai naudojami gydymo metodai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Operacija+spindulinė terapija
                    </li>
                    <li>
                        B. Operacija+chemoterapija
                    </li>
                    <li>
                        C. Operacija+chemoterapija+spindulinė terapija
                    </li>
                    <li>
                        D. Operacija+biologinė terapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.55</b> Tiesiosios žarnos vėžiui klinikinėje praktikoje dažniausiai naudojami gydymo metodai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vien operacija
                    </li>
                    <li>
                        B. Operacija+chemoterapija
                    </li>
                    <li>
                        C. Operacija+chemoterapija+spindulinė terapija
                    </li>
                    <li>
                        D. Operacija+biologinė terapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.56</b> Storojo žarnyno vėžiu dažniausiai serga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 25–35 metų žmonės
                    </li>
                    <li>
                        B. Vyresni nei 40 metų žmonės
                    </li>
                    <li>
                        C. Jauni vyrai
                    </li>
                    <li>
                        D. Moterys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.57</b> Dažniausia storojo žarnyno vėžio histologinė forma:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plokščialąstis vėžys
                    </li>
                    <li>
                        B. Adenokarcinoma
                    </li>
                    <li>
                        C. Smulkialąstis vėžys
                    </li>
                    <li>
                        D. Karcinoidas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.58</b> Kuris tyrimo metodas yra paprasčiausias tiesiosios žarnos vėžio antrinei profilaktikai ir tinka tikrinimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Fibrokolonoskopija
                    </li>
                    <li>
                        B. Rentgenologinis žarnyno tyrimas pasažu
                    </li>
                    <li>
                        C. Tiesiosios žarnos apčiuopa ir slapto kraujo tyrimas išmatose
                    </li>
                    <li>
                        D. Rektoskopija
                    </li>
                    <li>
                        E. Retrogradinis rentgenologinis žarnyno tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.59</b> Kuris piktybinis navikas yra jautriausias hormonoterapijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skydliaukės vėžys
                    </li>
                    <li>
                        B. Priešinės liaukos vėžys
                    </li>
                    <li>
                        C. Endometriumo vėžys
                    </li>
                    <li>
                        D. Sėklidės vėžys
                    </li>
                    <li>
                        E. Antinksčių vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.60</b> Koks yra dažniausias chemopreparatų šalutinis toksinis poveikis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mielosupresija
                    </li>
                    <li>
                        B. Alerginis dermatitas
                    </li>
                    <li>
                        C. Dispepsinis sindromas
                    </li>
                    <li>
                        D. Kepenų funkcijos slopinimas
                    </li>
                    <li>
                        E. Inkstų funkcijos slopinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.61</b> Kam tiesiogiai proporcingas sergamumas plaučių vėžiu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vyresnio amžiaus gyventojų skaičiui
                    </li>
                    <li>
                        B. Rūkančių gyventojų skaičiui, surūkyto tabako kiekiui ir aplinkos užterštumui
                    </li>
                    <li>
                        C. Sergančiųjų nespecifinėmis plaučių ligomis skaičiui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.62</b> Kuris profilaktinių apžiūrų metu naudojamas gimdos kaklelio vėžio ankstyvosios diagnostikos metodas (tikrinimas) yra svarbiausias ir ekonomiškiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos kaklelio apžiūra ir apčuopa
                    </li>
                    <li>
                        B. Kolposkopija
                    </li>
                    <li>
                        C. Kolpomikroskopija
                    </li>
                    <li>
                        D. Biopsija
                    </li>
                    <li>
                        E. Gimdos kaklelio tepinėlio citologinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.63</b> Kokia turi būti taktika, nustačius padidėjusį kaklo limfmazgį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Patikrinti po 3 mėnesių
                    </li>
                    <li>
                        B. Reikia gydyti antibiotikais ir fizioterapija
                    </li>
                    <li>
                        C. Reikia gydyti vaistais nuo tuberkuliozės
                    </li>
                    <li>
                        D. Reikia daryti mazgo biopsiją
                    </li>
                    <li>
                        E. Reikia gydyti vitaminais, antibiotikais ir fizioterapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.64</b> Histologiškai patvirtinote plokščialąstelinės karcinomos metastazę kaklo limfmazgyje. Kur ieškosite pirminio naviko?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtyse
                    </li>
                    <li>
                        B. Plaučiuose
                    </li>
                    <li>
                        C. Skrandyje
                    </li>
                    <li>
                        D. Galvos kaklo srityje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.65</b> Kuris piktybinis navikas dažniausiai metastazuoja į dubens kaulus ir juosmens slankstelius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kasos vėžys
                    </li>
                    <li>
                        B. Osteosarkoma
                    </li>
                    <li>
                        C. Priešinės liaukos vėžys
                    </li>
                    <li>
                        D. Inksto vėžys
                    </li>
                    <li>
                        E. Sėklidės piktybiniai navikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.66</b> Kuris priešinės liaukos vėžio diagnostikos metodas yra svarbiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Priešinės liaukos palpacija
                    </li>
                    <li>
                        B. Priešinės liaukos sekreto tyrimas
                    </li>
                    <li>
                        C. Priešinės liaukos punkcinė biopsija ir PSA tyrimas
                    </li>
                    <li>
                        D. Angiografija
                    </li>
                    <li>
                        E. Kompiuterinė tomografija
                    </li>
            </ul>
        </li>
    </ul>


    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>6.67 </b> Virusai, lemiantys vėžio atsiradimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Žmogaus papilomos virusas
                    </li>
                    <li>
                        2. Hepatito B ir C virusai
                    </li>
                    <li>
                        3. Žmogaus imunodeficito virusas (ŽIV)
                    </li>
                    <li>
                        4. Helicobacter pylori
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.68 </b> Krūties vėžio atrankinės patikros programų metodai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Krūtų savikontrolė
                    </li>
                    <li>
                        2. Klinikinis krūties tyrimas
                    </li>
                    <li>
                        3. Mamografija
                    </li>
                    <li>
                        4. Ultrasonografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.69 </b> Krūties vėžio prognozės veiksniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ligos stadija
                    </li>
                    <li>
                        2. Ligonės amžius
                    </li>
                    <li>
                        3. Estrogeno ir progesterono receptoriai
                    </li>
                    <li>
                        4. Naviko histologinė struktūra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.70 </b> Kokių genų mutacijos padidina riziką sirgti krūties vėžiu 50-80 procentų?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. p53
                    </li>
                    <li>
                        2. BRCA1
                    </li>
                    <li>
                        3. HER2
                    </li>
                    <li>
                        4. BRCA2
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.71 </b> Krūties vėžio rizikos veiksniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Neturinti vaikų arba vėlai gimdžiusi moteris
                    </li>
                    <li>
                        2. Ankstyva menarche, vėlyva menopauzė
                    </li>
                    <li>
                        3. Krūties proliferacinės ligos
                    </li>
                    <li>
                        4. Šeimyninė anamnezė- pirmos eilės giminės sirgo krūties vėžiu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.72 </b> Kur dažniausiai metastazuoja krūties vėžys?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Į skeletą
                    </li>
                    <li>
                        2. Į kepenis
                    </li>
                    <li>
                        3. Į plaučius
                    </li>
                    <li>
                        4. Į antinksčius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.73 </b> Pagrindiniai krūties vėžio diagnostikos metodai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mamografija
                    </li>
                    <li>
                        2. Ultragarsinis tyrimas
                    </li>
                    <li>
                        3. Aspiracinė biopsija
                    </li>
                    <li>
                        4. Magnetinio rezonanso tomografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.74 </b> Nepalankios krūties vėžio prognozės veiksniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Metastazės regioniniuose limfmazgiuose
                    </li>
                    <li>
                        2. Neigiami estrogenų ir progesteronų receptoriai
                    </li>
                    <li>
                        3. Teigiamas HER-2
                    </li>
                    <li>
                        4. Postmenopauzė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.75 </b> Navikų klasifikacija onkologijai reikalinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kompleksinio gydymo strategijai numatyti
                    </li>
                    <li>
                        2. Ligos prognozei nustatyti
                    </li>
                    <li>
                        3. Gydymui (radikaliam ar paliatyviam) planuoti
                    </li>
                    <li>
                        4. Onkologijos mokslui vystyti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.76 </b> Melanomos rizikos veiksniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ultravioletiniai spinduliai
                    </li>
                    <li>
                        2. Rūkymas
                    </li>
                    <li>
                        3. Šviesi oda
                    </li>
                    <li>
                        4. Kancerogenai
                    </li>
                    <li>
                        5. Jaunas amžius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.77 </b> Pagrindiniai vaistai vėžinio skausmo gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Opioidai ir pagalbiniai vaistai
                    </li>
                    <li>
                        2. Anaboliniai hormonai ir kortikosteroidai
                    </li>
                    <li>
                        3. Nesteroidiniai vaistai nuo uždegimo ir kodeinas, tramadolis
                    </li>
                    <li>
                        4. Vietiniai anestetikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.78 </b> Vėžinio skausmo priežastys gali būti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pats navikas
                    </li>
                    <li>
                        2. Gydymo nuo vėžio pasekmės
                    </li>
                    <li>
                        3. Vėžio komplikacijos (pragulos, paralyžius ir kt.)
                    </li>
                    <li>
                        4. Kitos ligos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.79 </b> Operacinio gydymo galimybės onkologijoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Radikali operacija
                    </li>
                    <li>
                        2. Paliatyvi operacija
                    </li>
                    <li>
                        3. Vėžio metastazių operacinis gydymas
                    </li>
                    <li>
                        4. Rekonstrukcinės operacijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.80 </b> Hiperkalcemijos simptomai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Raumenų silpnumas
                    </li>
                    <li>
                        2. Apatija ir psichikos sutrikimai
                    </li>
                    <li>
                        3. Prieširdžių ar skilvelių aritmija
                    </li>
                    <li>
                        4. Uremija
                    </li>
                    <li>
                        5. Gelta
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.81 </b> Kuriuos ligonio tyrimo metodus rinksitės, jei gali būti metastazių skelete:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skeleto scintigrafiją
                    </li>
                    <li>
                        2. Rentgenologinį tyrimą
                    </li>
                    <li>
                        3. Kompiuterinę tomografiją
                    </li>
                    <li>
                        4. Ultrasonografiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.82 </b> Melanomos rizikos veiksniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Lėtinis apgamo pažeidimas
                    </li>
                    <li>
                        2. Imunosupresija
                    </li>
                    <li>
                        3. Buvę stiprūs nudegimai nuo saulės
                    </li>
                    <li>
                        4. Architektūriškai netipiškas apgamas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.83 </b> Blogiausia yra šių piktybinių navikų prognozė</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sarkoma
                    </li>
                    <li>
                        2. Limfoma
                    </li>
                    <li>
                        3. Glioblastoma
                    </li>
                    <li>
                        4. Karcinoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.84 </b> Stuburo smegenų kompresijos simptomai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Galvos skausmas
                    </li>
                    <li>
                        2. Šlapimo retencija ir vidurių užkietėjimas
                    </li>
                    <li>
                        3. Disfagija
                    </li>
                    <li>
                        4. Jutimo praradimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.85 </b> Viršutinės tuščiosios venos spaudimo sindromo simptomai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Veido ir kaklo tinimas
                    </li>
                    <li>
                        2. Neryškus matymas
                    </li>
                    <li>
                        3. Dusulys
                    </li>
                    <li>
                        4. Nugaros skausmas
                    </li>
                    <li>
                        5. Traukuliai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.87 </b> Galvos-kaklo navikų rizikos veiksniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Rūkymas
                    </li>
                    <li>
                        2. Alkoholio vartojimas
                    </li>
                    <li>
                        3. Jonizuojamosios radiacijos poveikis
                    </li>
                    <li>
                        4. Virusinė infekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.88 </b> Pacientui prieš metus operuota tiesiosios žarnos adenokarcinoma. Šiuo metu pilvo KT nustatytos trys metastazės iki 2,5 cm dešinėje kepenų skiltyje. Kurie gydymo metodai gali būti taikomi šiam pacientui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Chemoterapija
                    </li>
                    <li>
                        2. Kepenų operacija
                    </li>
                    <li>
                        3. Biologinė terapija
                    </li>
                    <li>
                        4. Spindulinė terapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.89 </b> Vėžio žymenys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pradinės diagnozės nustatymui naudotini tik kartu su kitais metodais
                    </li>
                    <li>
                        2. Gali būti padidėjusi jų koncentracija ir nesant vėžio
                    </li>
                    <li>
                        3. Tinka vertinti ligos eigą ir gydymo veiksmingumą
                    </li>
                    <li>
                        4. Yra pagrindinis ir pakankamas diagnozės nustatymo kriterijus (ligos nebūtina verifikuoti morfologiškai)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.90 </b> Kurios klinikinės situacijos yra neatidėliotinos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kompresinis patologinis slankstelio lūžis su minimalia neurologinio deficito simptomatika
                    </li>
                    <li>
                        2. Slankstelio metastazė, auganti į epiduralinį tarpą ir sukelianti minimalią neurologinio deficito simptomatiką
                    </li>
                    <li>
                        3. Paraplegija ir dubens organų funkcijos sutrikimas, išsivystęs dėl metastazinės smegenų kompresijos per 2 paras
                    </li>
                    <li>
                        4. Paraplegija ir dubens organų funkcijos sutrikimas, išsivystęs dėl metastazinės nugaros smegenų kompresijos prieš 2 savaites
                    </li>
                    <li>
                        5. Asimptominė slankstelio kūno metastazė, esant daugybinėms skeleto metastazėms
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.91 </b> Kas būdinga stuburo metastazės sukeltam skausmui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skausmas sumažėja gulint
                    </li>
                    <li>
                        2. Skausmas sustiprėja gulint
                    </li>
                    <li>
                        3. Skausmui neturi įtakos kosulys
                    </li>
                    <li>
                        4. Skausmas labiau vargina naktį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.92 </b> Kokioms klinikinėms situacijoms esant indikuotina skeleto scintigrafija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Diagnozavus ankstyvąjį krūties vėžį
                    </li>
                    <li>
                        2. Diagnozavus priešinės liaukos vėžį, PSA – 100 ng/ml
                    </li>
                    <li>
                        3. Diagnozavus plaučių vėžį su metastazėmis smegenyse, nors pacientas nesiskundžia skausmais skelete
                    </li>
                    <li>
                        4. Diagnozavus bet kokį galintį metastazuoti naviką, jei ligonis skundžiasi nugaros skausmais
                    </li>
                    <li>
                        5. Diagnozavus smegenų naviką, sukeliantį hemiparezę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.93 </b> cTNM:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nustatoma prieš pradedant pirminį naviko specifinį gydymą, įvertinus klinikinio ištyrimo rezultatus, radiologinių tyrimų rezultatus ir morfologiškai iš biopsinės medžiagos patvirtinus naviką
                    </li>
                    <li>
                        2. Ja remiantis parenkamas pirminis naviko gydymas
                    </li>
                    <li>
                        3. Tai klinikinė klasifikacija
                    </li>
                    <li>
                        4. Nustato patologas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.94 </b> pTNM:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Naudojama numatyti ligos prognozę ir parinkti adjuvantinį gydymą
                    </li>
                    <li>
                        2. Nustatoma įvertinus klinikinių tyrimų rezultatus ir histologiškai ištyrus visą operacinę medžiagą (pašalintą naviką)
                    </li>
                    <li>
                        3. Tai patologinė klasifikacija
                    </li>
                    <li>
                        4. Nustato patologas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.95 </b> Storojo žarnyno vėžio patikrai naudojamos priemonės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kasmetinis digitalinis tikrinimas
                    </li>
                    <li>
                        2. Kasmetinis išmatų tyrimas dėl kraujavimo
                    </li>
                    <li>
                        3. Sigmoskopija kas 3–5 metai
                    </li>
                    <li>
                        4. Pilvo srities kompiuterinė tomografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.96 </b> Storojo žarnyno vėžio rizikos veiksniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Amžius – daugiau kaip 40 metų
                    </li>
                    <li>
                        2. Nejudrus gyvenimo būdas
                    </li>
                    <li>
                        3. Netaisyklinga mityba
                    </li>
                    <li>
                        4. Antsvoris
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>6.98</b> 60 metų amžiaus vyrui diagnozuotas kairiojo plaučio viršutinės skilties smulkialąstis vėžys. Ligoniui taikytas chemospindulinis gydymas pagal radikalią programą. Jį baigus, prasidėjo stiprūs galvos skausmai, pykinimas, vėmimas. Preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Intoksikacija po chemoterapijos
                    </li>
                    <li>
                        B. Spindulinė liga
                    </li>
                    <li>
                        C. Metastazės smegenyse
                    </li>
                    <li>
                        D. Insultas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.99</b> 60 metų amžiaus vyrui diagnozuotas kairiojo plaučio viršutinės skilties smulkialąstis vėžys. Ligoniui taikytas chemospindulinis gydymas pagal radikalią programą. Jį baigus, prasidėjo stiprūs galvos skausmai, pykinimas, vėmimas. Koks diagnostikos metodas būtų informatyviausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bendras kraujo tyrimas
                    </li>
                    <li>
                        B. Galvos rentgenograma
                    </li>
                    <li>
                        C. Elektroencefalografija
                    </li>
                    <li>
                        D. Galvos smegenų kompiuterinė tomografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.100</b> 36 metų moteris skundžiasi kosuliu, kartais atkosti kraujo. Krūtinės ląstos rentgenogramoje matyti šešėlis ties dešiniąja plaučio šaknimi. Optimali gydytojo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bronchoskopija su darinio biopsija
                    </li>
                    <li>
                        B. Antibiotikoterapija, rentgenologinė kontrolė po 2 mėn.
                    </li>
                    <li>
                        C. Skreplių citologinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.101</b> 36 metų moteris skundžiasi kosuliu, kartais atkosti kraujo. Krūtinės ląstos rentgenogramoje matyti šešėlis ties dešiniąja plaučio šaknimi. Jei pasitvirtintų centrinio plaučių vėžio diagnozė, koks gydymo metodas tikslingas šios situacijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Chemoterapija
                    </li>
                    <li>
                        B. Spindulinė terapija
                    </li>
                    <li>
                        C. Operacija
                    </li>
                    <li>
                        D. Priklauso nuo naviko histologinės struktūros ir ligos išplitimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.102</b> 72 metų vyras skundžiasi skausmais kauluose, ypač dešiniajame peties sąnaryje. Prieš metus atlikta nefrektomija dėl dešiniojo inksto naviko. Kuris tyrimo metodas informatyviausias, įtariant metastazes kauluose:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vėžinis embrioninis antigenas
                    </li>
                    <li>
                        B. Rentgenologinis tyrimas
                    </li>
                    <li>
                        C. Osteodensitometrija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.103</b> 72 metų vyras skundžiasi skausmais kauluose, ypač dešiniajame peties sąnaryje. Prieš metus atlikta nefrektomija dėl dešiniojo inksto naviko. Kai randama  metastazių kauluose, kokia yra gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paliatyvi spindulinė terapija, vaistai nuo skausmo
                    </li>
                    <li>
                        B. Tik morfinas
                    </li>
                    <li>
                        C. Chemoterapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.104</b> 58 metų rūkantis vyras skundžiasi 6 mėnesius trunkančiu kosuliu. Plaučių rentgenogramoje ir KT – 4 cm dydžio periferinis navikas ir padidėję tarpuplaučio limfmazgiai. Kokia tolimesnė tyrimų taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Diagnozė aiški
                    </li>
                    <li>
                        B. Atlikti magnetinio rezonanso tomografiją
                    </li>
                    <li>
                        C. Atlikti naviko biopsiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.105</b> 58 metų rūkantis vyras skundžiasi 6 mėnesius trunkančiu kosuliu. Plaučių rentgenogramoje ir KT – 4 cm dydžio periferinis navikas ir padidėję tarpuplaučio limfmazgiai. Klasifikacija remiantis TNM:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. T1 N1 M0
                    </li>
                    <li>
                        B. T2 N0 M0
                    </li>
                    <li>
                        C. T3 N1 M0
                    </li>
                    <li>
                        D. T2 N2 MX
                    </li>
                    <li>
                        E. T3 N2 MX
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.106</b> 63 metų amžiaus rūkantis vyras skundžiasi stipriu nugaros skausmu, neišnykstančiu nuo analgetikų. Kokia tolimesnė gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirti fizioterapiją
                    </li>
                    <li>
                        B. Skirti gydymą nuo uždegimo
                    </li>
                    <li>
                        C. Atlikti rentgenologinį tyrimą ir/ar skeleto scintigrafiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.107</b> 63 metų amžiaus rūkantis vyras skundžiasi stipriu nugaros skausmu, neišnykstančiu nuo analgetikų. Nustatyti destrukcijos židiniai Th11 ir Th12 slanksteliuose. Kokia tolimesnė gydymo ar ištyrimo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirti chemoterapiją
                    </li>
                    <li>
                        B. Atlikti visapusį ligonio tyrimą, ieškant pirminio naviko
                    </li>
                    <li>
                        C. Skirti gydymą nuo skausmo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.108</b> 52 metų amžiaus moteris postmenopauzės metu pastebėjo naviką kairioje krūtyje. Apčiuopiamas 26×25 mm dydžio navikas, prisitvirtinęs prie odos, bet nėra apelsino žievelės simptomo. Kairioje pažastyje yra vienas padidėjęs kietas limfmazgis. Kokius tyrimus turite pirmiausiai atlikti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Limfmazgio biopsiją
                    </li>
                    <li>
                        B. Mamografiją ir krūties naviko punkcinę biopsiją
                    </li>
                    <li>
                        C. Ultragarsinį krūties tyrimą
                    </li>
                    <li>
                        D. Plaučių rentgenogramą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.109</b> 52 metų amžiaus moteris postmenopauzės metu pastebėjo naviką kairioje krūtyje. Apčiuopiamas 26×25 mm dydžio navikas, prisitvirtinęs prie odos, bet nėra apelsino žievelės simptomo. Kairioje pažastyje yra vienas padidėjęs kietas limfmazgis. Klinikinė TNM:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. T1 N1 M0
                    </li>
                    <li>
                        B. T2 N1 MX
                    </li>
                    <li>
                        C. T3 N1 MX
                    </li>
                    <li>
                        D. T4 N1 MX
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.110</b> 56 metų moteris prieš 3 sav. pastebėjo naviką krūtyje. Apžiūrint: deš. krūtyje, viršutiniame lateraliniame kvadrate yra 2,5×2,0 cm navikas. Pažasties limfmazgiai neapčiuopiami. Mamografija: 20×15 mm dydžio navikas su mažomis kalcio sankaupomis. Naviko punkcija pagrindžia piktybinio naviko diagnozę. Siūloma operacinio gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mastektomija
                    </li>
                    <li>
                        B. Krūtį tausojanti operacija
                    </li>
                    <li>
                        C. Krūtį tausojanti operacija, limfadenektomija arba sarginio limfmazgio biopsija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.111</b> 50 metų moteris skundžiasi apie 2 mėnesius varginančiais stipriais skausmais tarp menčių. Paskutinę savaitę atsirado dusulys lipant laiptais. Apžiūrint ligonę: 3×3,5 cm navikas kairiojoje krūtyje, keli 1 cm diametro limfmazgiai pažastyje. Siūlomas tyrimų planas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mamografija ir krūties naviko punkcija
                    </li>
                    <li>
                        B. Mamografija, naviko punkcija, scintigrafija ir kaulų rentgenologinis tyrimas, krūtinės ląstos rentgenologinis tyrimas
                    </li>
                    <li>
                        C. Krūtinės ląstos rentgenologinis tyrimas ir menčių taikomoji rentgenograma
                    </li>
                    <li>
                        D. EKG ir kardiologinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.112</b> 67 metų vyras skundžiasi tuštinimusi su kraujo ir gleivių priemaišomis. Per pastaruosius kelis mėnesius neteko 10 kg svorio. Vargina į tarpvietę plintantis skausmas. Jūsų preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hemorojiniai mazgai
                    </li>
                    <li>
                        B. Storosios žarnos navikas
                    </li>
                    <li>
                        C. Priešinės liaukos vėžys
                    </li>
                    <li>
                        D. Krono liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.113</b> 67 metų vyras skundžiasi tuštinimusi su kraujo ir gleivių priemaišomis. Per pastaruosius kelis mėnesius neteko 10 kg svorio. Vargina į tarpvietę plintantis skausmas. Informatyviausias tyrimo metodas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tyrimas pirštu
                    </li>
                    <li>
                        B. Išmatų tyrimas dėl kraujavimo
                    </li>
                    <li>
                        C. Žarnyno endoskopija
                    </li>
                    <li>
                        D. PSA
                    </li>
                    <li>
                        E. Viršutinės pilvo dalies echoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.114</b> 60 metų vyras buvo gydytas chemoterapija dėl T3N1M1 stadijos smulkialąstelinio plaučių vėžio. Po gydymo praėjus 6 mėnesiams, ištino veidas ir kaklas, išsiplėtė kaklo venos. Preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių vėžio metastazės galvos smegenyse
                    </li>
                    <li>
                        B. Plaučių vėžio metastazės kaklo limfmazgiuose
                    </li>
                    <li>
                        C. Viršutinės tuščiosios venos spaudimo sindromas
                    </li>
                    <li>
                        D. Hiperkalcemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.115</b> 60 metų vyras buvo gydytas chemoterapija dėl T3N1M1 stadijos smulkialąstelinio plaučių vėžio. Po gydymo praėjus 6 mėnesiams, ištino veidas ir kaklas, išsiplėtė kaklo venos. Koks diagnostikos metodas būtų informatyviausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ultragarsinis tyrimas
                    </li>
                    <li>
                        B. &nbsp; Krūtinės ląstos rentgenografija
                    </li>
                    <li>
                        C. Krūtinės ląstos kompiuterinė tomografija
                    </li>
                    <li>
                        D. Kaklo srities kompiuterinė tomografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>6.116</b> 57 m. amžiaus moteriai diagnozuotas 4.5×3.8 cm dydžio kairiosios krūties navikas, metastazavęs į pažasties limfmazgius (T2N1M0).Nuo ko pradėsite kompleksinį gydymą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtį tausojanti operacija
                    </li>
                    <li>
                        B. Mastektomija
                    </li>
                    <li>
                        C. Neoadjuvantinė chemoterapija
                    </li>
                    <li>
                        D. Ikioperacinė didelių frakcijų spindulinė terapija
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>6.1 - 

                A
            </td>
            <td>6.2 - 

                B
            </td>
            <td>6.3 - 

                B
            </td>
            <td>6.4 - 

                A
            </td>
            <td>6.5 - 

                A
            </td>
            <td>6.6 - 

                D
            </td>
            <td>6.7 - 

                C
            </td>
            <td>6.8 - 

                B
            </td>
                </tr><tr>
            <td>6.9 - 

                E
            </td>
            <td>6.10 - 

                A
            </td>
            <td>6.11 - 

                B
            </td>
            <td>6.12 - 

                B
            </td>
            <td>6.13 - 

                A
            </td>
            <td>6.14 - 

                A
            </td>
            <td>6.15 - 

                B
            </td>
            <td>6.16 - 

                B
            </td>
                </tr><tr>
            <td>6.17 - 

                C
            </td>
            <td>6.18 - 

                D
            </td>
            <td>6.19 - 

                C
            </td>
            <td>6.20 - 

                B
            </td>
            <td>6.21 - 

                D
            </td>
            <td>6.22 - 

                B
            </td>
            <td>6.23 - 

                A
            </td>
            <td>6.24 - 

                C
            </td>
                </tr><tr>
            <td>6.25 - 

                A
            </td>
            <td>6.26 - 

                A
            </td>
            <td>6.27 - 

                D
            </td>
            <td>6.28 - 

                B
            </td>
            <td>6.29 - 

                C
            </td>
            <td>6.30 - 

                A
            </td>
            <td>6.31 - 

                C
            </td>
            <td>6.32 - 

                C
            </td>
                </tr><tr>
            <td>6.33 - 

                B
            </td>
            <td>6.34 - 

                C
            </td>
            <td>6.35 - 

                D
            </td>
            <td>6.36 - 

                C
            </td>
            <td>6.37 - 

                C
            </td>
            <td>6.38 - 

                B
            </td>
            <td>6.39 - 

                C
            </td>
            <td>6.40 - 

                A
            </td>
                </tr><tr>
            <td>6.41 - 

                B
            </td>
            <td>6.42 - 

                B
            </td>
            <td>6.43 - 

                A
            </td>
            <td>6.44 - 

                C
            </td>
            <td>6.45 - 

                A
            </td>
            <td>6.46 - 

                C
            </td>
            <td>6.47 - 

                D
            </td>
            <td>6.48 - 

                B
            </td>
                </tr><tr>
            <td>6.49 - 

                C
            </td>
            <td>6.50 - 

                B
            </td>
            <td>6.51 - 

                A
            </td>
            <td>6.52 - 

                D
            </td>
            <td>6.53 - 

                A
            </td>
            <td>6.54 - 

                B
            </td>
            <td>6.55 - 

                C
            </td>
            <td>6.56 - 

                B
            </td>
                </tr><tr>
            <td>6.57 - 

                B
            </td>
            <td>6.58 - 

                C
            </td>
            <td>6.59 - 

                B
            </td>
            <td>6.60 - 

                A
            </td>
            <td>6.61 - 

                B
            </td>
            <td>6.62 - 

                E
            </td>
            <td>6.63 - 

                D
            </td>
            <td>6.64 - 

                D
            </td>
                </tr><tr>
            <td>6.65 - 

                C
            </td>
            <td>6.66 - 

                C
            </td>
                </tr><tr>
            <td>6.67
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.68
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.69
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>6.70
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>6.71
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>6.72
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.73
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>6.74
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>6.75
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>6.76
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>6.77
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>6.78
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.79
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>6.80
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.81
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.82
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>6.83
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>6.84
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>6.85
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>6.87
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>6.88
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.89
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.90
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.91
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>6.92
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>6.93
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.94
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>6.95
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>6.96
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>6.98 - 

                C
            </td>
            <td>6.99 - 

                D
            </td>
            <td>6.100 - 

                A
            </td>
            <td>6.101 - 

                D
            </td>
            <td>6.102 - 

                B
            </td>
            <td>6.103 - 

                A
            </td>
            <td>6.104 - 

                C
            </td>
            <td>6.105 - 

                D
            </td>
                </tr><tr>
            <td>6.106 - 

                C
            </td>
            <td>6.107 - 

                B
            </td>
            <td>6.108 - 

                B
            </td>
            <td>6.109 - 

                B
            </td>
            <td>6.110 - 

                C
            </td>
            <td>6.111 - 

                B
            </td>
            <td>6.112 - 

                B
            </td>
            <td>6.113 - 

                C
            </td>
                </tr><tr>
            <td>6.114 - 

                C
            </td>
            <td>6.115 - 

                C
            </td>
            <td>6.116 - 

                C
            </td>

</tr></tbody></table></div>