<div class="Centre Kategorija">Otorinolaringologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>45.1</b> Kuriai ligai būdingi otoskopijos metu matomi įtrauktas būgnelis ir skysčio linija su oro burbuliukais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtiniam pūlingam otitui
                    </li>
                    <li>
                        B. Eksudaciniam/ seroziniam otitui
                    </li>
                    <li>
                        C. Ūminiam pūlingam otitui
                    </li>
                    <li>
                        D. Piramindės lūžimui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.2</b> Kuri nosies polipų atsiradimo priežastis yra dažniausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Infekcija
                    </li>
                    <li>
                        B. Alergija
                    </li>
                    <li>
                        C. Navikinis procesas
                    </li>
                    <li>
                        D. Idiopatinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.3</b> Kuri iš šių situacijų nėra indikacija būgnelio įpjovimui (paracentezei) ūminio otito metu?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Papūstas būgnelis ir nekontroliujamas skausmas
                    </li>
                    <li>
                        B. Hiperemiškas, nepapūstas būgnelis
                    </li>
                    <li>
                        C. Otogeninio meningito požymiai
                    </li>
                    <li>
                        D. Hiperemiškas, infiltruotas būgnelis ir febrilus karščiavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.4</b> Gerklų stenozės stadiją/ laipsnį vertiname pagal:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Stridoro stiprumą
                    </li>
                    <li>
                        B. Balso plyšį (mm)
                    </li>
                    <li>
                        C. Klinikinius požymius (stridorą, cianozę, paciento padėtį, bendrą būklę)
                    </li>
                    <li>
                        D. Pulsoksimetro parodymus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.5</b> Kokį gydymą rekomenduosite knarkiančiam pacientui, kurio AHI yra 10k/val?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. CPAP aparatą
                    </li>
                    <li>
                        B. Uvulopalatofaringoplastiką (UVPP)
                    </li>
                    <li>
                        C. Radiodažnuminę termoabliaciją (RDTA) obstrukcijos vietoje
                    </li>
                    <li>
                        D. Gydymo neskirsiu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.6</b> Ką pirmiausia daryti pradėjus kraujuoti iš nosies?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Įkišti vatą į nosies landą
                    </li>
                    <li>
                        B. Įlašinti į nosį hemostatinio tirpalo
                    </li>
                    <li>
                        C. Suspausti nosį pirštais ir užversti galvą aukštyn
                    </li>
                    <li>
                        D. Suspausti nosį pirštais ir palenkti galvą žemyn
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.7</b> Kuri liga yra absoliuti indikacija tonzilektomijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinis kompensuotas tonzilitas
                    </li>
                    <li>
                        B. Pielonefritas
                    </li>
                    <li>
                        C. Lakuninė angina
                    </li>
                    <li>
                        D. Gomurio tonzilių hipertrofija su OMAS
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.8</b> Kuris simptomas būdingiausias nosies ertmės piktybiniam navikui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dažni kraujavimai iš nosies
                    </li>
                    <li>
                        B. Galvos skausmai
                    </li>
                    <li>
                        C. Nuolatinės kraujingai pūlingos nosies išskyros
                    </li>
                    <li>
                        D. Uoslės sutrikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.9</b> Progresuojantis, lydimas dusulio vaikų užkimimas gali būti dėl:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Balso klosčių mazgelių
                    </li>
                    <li>
                        B. Gerklų papilomatozės
                    </li>
                    <li>
                        C. Lėtinio tonzilito
                    </li>
                    <li>
                        D. Adenoidų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.10</b> Lėtiniu cholesteatominiu otitu sergantis ligonis giliai valė išorinę klausomąją landą ir staiga pajuto stiprų galvos svaigimą. Kokia preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Horizontalaus pusratinio kanalo fistulė
                    </li>
                    <li>
                        B. Smegenų abscesas
                    </li>
                    <li>
                        C. Būgnelio perforacija
                    </li>
                    <li>
                        D. Klausos kauliukų grandinės defektas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.11</b> Kokia turi būti gydymo taktika ūminio apkurtimo atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydymas vaistais ambulatorinėmis sąlygomis
                    </li>
                    <li>
                        B. Specialistų (okulisto, neurologo, terapeuto) konsultacijos apkurtimo priežasčių išsiaiškinimui
                    </li>
                    <li>
                        C. Kuo skubiau skirti antineuropatinį gydymą ir tirti galimas priežastis
                    </li>
                    <li>
                        D. Specialaus gydymo nereikia, nes tokiais atvejais klausa atsistato savaime
                    </li>
            </ul>
        </li>
    </ul>


    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>45.12 </b> Kurias ligas leidžia įtarti ausies skausmas ir klausos susilpnėjimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ūminį vidurinės ausies eksudacinį otitą
                    </li>
                    <li>
                        2. Ūminį vidurinės ausies uždegimą
                    </li>
                    <li>
                        3. Ūminį neurosensorinį klausos sutrikimą
                    </li>
                    <li>
                        4. Lėtinės atikoantralinės ligos paūmėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.13 </b> Kurie simptomai yra būdingiausi gerklų vėžiui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuolatinis užkimimas
                    </li>
                    <li>
                        2. Gerklės skausmas
                    </li>
                    <li>
                        3. Progresuojantis dusulys
                    </li>
                    <li>
                        4. Sausas priepuolinis kosulys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.14 </b> Kuriais atvejais indikuotina adenoidotomija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Peršalimas dažnai komplikuojasi ausų uždegimu
                    </li>
                    <li>
                        2. Vaikas ruošiamas mokyklai
                    </li>
                    <li>
                        3. „Adenoidinis veidas“, apsunkintas kvėpavimas pro nosį, sąkandžio problemos
                    </li>
                    <li>
                        4. Dažnai vargina nosies kraujavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.15 </b> Kurios gerklų būklės yra ikivėžinės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Suaugusiųjų papiloma
                    </li>
                    <li>
                        2. Balso klostės polipas
                    </li>
                    <li>
                        3. Lėtinis hiperplastinis laringitas su keratoze
                    </li>
                    <li>
                        4. Gerklų sifilis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.16 </b> Kurie simptomai yra būdingi ūminiam mastoiditui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pūlių rezervuaro požymis
                    </li>
                    <li>
                        2. Neurosensorinis prikurtimas
                    </li>
                    <li>
                        3. Užausinės srities infiltracija, ausies atvėpimas 
                    </li>
                    <li>
                        4. Galvos svaigimas
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>45.19</b> 60 m. vyras skundžiasi gerklės dešinės pusės skausmu ryjant, svetimkūnio jausmu ryklėje ir jos perštėjimu. Prieš 2 sav. pastebėjo kietą guzelį dešinėje kaklo pusėje. Ambulatoriškai gydėsi ryklės skalavimais, antibiotikais, tačiau be žymesnio efekto. Objekt. tyrimai: dešinioji gomurio tonzilė ryškiai padidėjusi, standi, viršutinio poliaus srityje stebimas nelygių kraštų išopėjimas su pilkšvu apnašu. Palpuojant, kaklo dešinėje pusėje jaučiamas kietas, fiksuotas, 5×3 cm skersmens limfmazgių konglomeratas. Kokia preliminarinė diagnozė?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paratonzilinis pūlinys
                    </li>
                    <li>
                        B. Parafaringinis pūlinys
                    </li>
                    <li>
                        C. Gomurio  tonzilės piktybinis navikas
                    </li>
                    <li>
                        D. Nekrotinė angina
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.20</b> 44 m. moteris pasiskundė dusuliu fizinio krūvio metu, svetimkūnio pojūčiu ryklėje, užkimimu. Kelis metus periodiškai gydėsi dėl rėmens ir atpylimų. Prieš 2 mėn. po komplikuotos skrandžio operacijos buvo 10 parų intubuota. Laringoskopija: ant balso klosčių užpakalinių trečdalių stebimos grublėtos masės, nusitęsiančios į poklostinį tarpą. Balso klostės judrios. Kokia preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Abipusis balso kločių paralyžius
                    </li>
                    <li>
                        B. Balso klosčių granulomos
                    </li>
                    <li>
                        C. Balso klosčių cistos
                    </li>
                    <li>
                        D. Balso klosčių polipai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.21</b> Pacientė skundžiasi stipriu kairės ausies ir galvos skausmu, pūliavimu iš kairės ausies bei susilpnėjusia klausa. Kairė ausis po persirgtos skarlatinos nesveika nuo vaikystės. Buvo siūlyta operuoti, tačiau ligonė atsisakė. Prieš 3 dienas po peršalimo ir slogavimo pūliavimas atsinaujino. Objekt. tyrimai: kairiojoje klausomoje landoje yra gelsvų nemalonaus kvapo pūlių, kuriuos išvalius matoma būgnelio laisvosios dalies kraštinė perforacija, pro kurią išsikiša balzgana masė. Speninės ataugos aplinka be pakitimų. Kuris papildomas tyrimas reikalingas diagnozei nustatyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo ir audiometrinis tyrimai
                    </li>
                    <li>
                        B. Kraujo, audiometrinis tyrimai ir elektroencefalograma
                    </li>
                    <li>
                        C. Otomikroskopija bei smilkinkaulių kompiuterinė tomografija 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.22</b> 8 mėnesių kūdikis sloguoja keturias dienas. Dvi dienas yra neramus, verkdamas  sukinėja galvą ir tiesia ranką link dešinės ausies, atsisako valgyti iš krūties, vemia, viduriuoja. Paskutinę naktį dažnai prabudinėjo, buvo trumpalaikiai traukuliai. Objekt. tyrimai: T- 39,2oC, vangus, blyškus, sausas liežuvis. Nosies gleivinė paraudusi,  paburkusi. Ryklės gleivinė rausva, be apnašo. Dešinys būgnelis raudonas, išpūstas, nematyti plaktuko rankenos bei šviesos reflekso. Kairysis būgnelis yra be pakitimų. Kokią diagnozę nustatysite?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis serozinis otitas
                    </li>
                    <li>
                        B. Ūminis rinitas
                    </li>
                    <li>
                        C. Ūminis vidurinės ausies uždegimas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.23</b> 10 metų vaikas skundžiasi pasikartojančiu pūliavimu iš kairės ausies bei susilpnėjusia klausa. Prieš 3 dienas po peršalimo ir slogavimo pūliavimas atsinaujino, ėmė skaudėti galvą, atvėpo kairė ausis. Objekt. tyrimai: T- 38,8oC, kairiojoje klausomoje landoje yra daug gelsvų pūlių, kuriuos atsiurbus išvalius matoma būgnelio kraštinė perforacija, viršutinės ir užpakalinės landos sienos infiltracija. Užausio sritis papūsta, skausminga. Smilkinkaulių KT – atikoantralinės srities kaulo destrukcija su heterogeninio tankio turiniu speninėje ataugoje bei būgninėje ertmėje. Užausio srityje formuojasi poantkaulinis pūlinys.Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ausies išvalymas, dekongestantai ir geriami antibiotikai
                    </li>
                    <li>
                        B. Mastoidektomija ir antibiotikai
                    </li>
                    <li>
                        C. Būgnelio perforacijos plastika ir geriami antibiotikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.24</b> 28m. statybininkui po šalto gėrimo ėmė skaudėti dešinę ryklės ryklę, pakilo kūno temperatūra iki  37,6C0.  Kadangi ši situacija buvusi ir anksčiau, 3 dienas vyras gydėsi pats: antiseptinėmis pastilėmis bei arbata. Būklei pagerėjus išėjo į darbą. Prieš 2 dienas ryklės skausmas atsinaujino, patino kaklas, užkimo balsas. Šeimos gydytojas paskyrė Amoksicilino. Sekančią dieną vyriškis negalėjo praryti net seilių, krėtė šaltis, ryškiau sutino kaklas, atsirado dusulys, skausmas už krūtinkaulio. Išsikvietė GMP ir buvo  atvežtas į ligoninės SPS. Atvykus: kūno temperatūra 38,6C0, P – 84k/min, AKS 120/80mm/Hg, KD – 30k/min.  Apžiūrint: ryklės gleivinė hiperemiška, tonzilės ir gomurys be žymesnių pokyčių, dešinysis užpakalinis žiočių lankas paburkęs,  dešinė šoninė ryklės siena papūsta. Punktuojant pūlių negauta. Angerklis ir dešinysis vedegos gumburas paburkęs, balso klostės lygios, judrios, balso plyšys laisvas. Dešinėje kaklo audiniai sutinę, palpacija itin skausminga.  Kokia preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paratonzilinis pūlinys
                    </li>
                    <li>
                        B. Parafaringinis pūlinys
                    </li>
                    <li>
                        C. Ūmus tonzilitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.25</b> Vaiko tėvai kreipėsi į ANG specialistą dėl 5 metų sūnaus užkimimo, knarkimo, dusulio, kvėpavimo sustojimo epizodų nakties metu. Įprastinės LOR apžiūros metu konstatuota III0 ryklinės ir IV0 gomurio tonzilių hipertrofija. Videolaringoskopijos metu ant abiejų balso klosčių vidurinių trečdalių stebėti mazgeliai. Kokia turi būti gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Endolaringinė balso klosčių mazgelių operacija
                    </li>
                    <li>
                        B. Stebėjimas
                    </li>
                    <li>
                        C. Adenotonzilektomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.26</b> 46 metų vyriškis kreipėsi dėl pasikartojančių kraujavimų iš kairės nosies pusės, visiško negalėjimo kvėpuoti per kairiąją nosies pusę, galvos skausmo, veido asimetrijos ir dvejinimosi akyse, pasikeitusios nosies formos. Nusiskundimai vargina apie 3 metus. Objektyviai: kairys akies obuolys pastumtas į priekį ir žemyn. Rinoskopija  ir endoskopija: kairė nosies landa užpildyta tamsiai raudonos spalvos, grublėtu, standžiu dariniu, kuris prisilietus kraujuoja. Dešinė nosies landa laisva be pakitimų. Kokį susirgimą įtariate?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinis rinosinusitas su nosies polipoze
                    </li>
                    <li>
                        B. Ūminis komplikuotas rinosinusitas
                    </li>
                    <li>
                        C. Nosies svetimkūnis
                    </li>
                    <li>
                        D. Nosies ir prienosinių sinusų vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.27</b> 46 metų vyriškis kreipėsi dėl pasikartojančių kraujavimų iš kairės nosies pusės, visiško negalėjimo kvėpuoti per kairiąją nosies pusę, galvos skausmo, veido asimetrijos ir dvejinimosi akyse, pasikeitusios nosies formos. Nusiskundimai vargina apie 3 metus. Objektyviai: kairys akies obuolys pastumtas į priekį ir žemyn. Rinoskopija  ir endoskopija: kairė nosies landa obturuota tamsiai raudonos spalvos, grublėtu, standžiu dariniu, kuris prisilietus kraujuoja. Dešinė nosies landa laisva be pakitimų. Kokį pirmąjį tyrimą reikia atlikti diagnozės patikslinimui?

Kokį pirmąjį tyrimą reikia atlikti diagnozės patikslinimui?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apžvalginę veido daubų rentgenogramą
                    </li>
                    <li>
                        B. MRT
                    </li>
                    <li>
                        C. Biopsiją ir KT
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.28</b> Ligonė skundžiasi šalčio krėtimu, karščiavimu iki 39ºC, dešinės pusės galvos skausmu. Nuo vaikystės nesveika dešinė ausis – kartojasi pūliavimas. Buvo siūlyta operuoti. Prieš 3 dienas po peršalimo (slogavo) pūliavimas atsinaujino. Objekt. tyrimai: dešiniojoje išorinėje klausomojoje landoje – nemalonaus kvapo pūliai, pulsuojantis pūlių refleksas ir būgnelio kraštinė perforacija, kurioje matyti balzgana masė, palpacijai skausminga speninės ataugos viršūnė. Smilkinkaulių KT nustatyta: sklerotiniai abiejų speninių ataugų pakitimai su kaulo destrukcijos požymiais dešinėje pusėje. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis recidyvuojantis otitas
                    </li>
                    <li>
                        B. Paūmėjusi tubotimpaninė liga su mastoiditu
                    </li>
                    <li>
                        C. Lėtinė paūmėjusi atikoantralinė liga su cholesteatoma 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.29</b> Kokia preliminari diagnozė, jei pacientą apie 5 sav. vargina nuolatinės išskyros iš nosies ir į nosiaryklę, nosies užburkimas,  kaktos skausmo ir karščiavimo epizodai, uoslės susilpnėjimas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis rinitas
                    </li>
                    <li>
                        B. Lėtinis rinitas
                    </li>
                    <li>
                        C. Ūminis rinosinusitas
                    </li>
                    <li>
                        D. Lėtinis rinosinusitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.30</b> 60 m. ligonis skundžiasi 5 mėn. trunkančiu nuolatiniu užkimimu. Dirba chemijos gamykloje. Daugiau kaip 20 metų rūko. Objekt. tyrimai: Dešinioji balso klostė sustorėjusi, grublėta, balkšvu paviršiumi, fonuojant nejudri. Kaklo limfmazgiai dešinėje padidėję. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinis laringitas
                    </li>
                    <li>
                        B. Gerklų paralyžius
                    </li>
                    <li>
                        C. Gerklų vėžys
                    </li>
                    <li>
                        D. Gerklų polipas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.31</b> Studentas skundžiasi kaktos skausmu, nosies užburkimu, išskyromis į nosiaryklę, susilpnėjusia uosle. Apie 2 sav. sloguoja, nekarščiuoja. Gydosi arbatomis, plauna nosį  jūros vandeniu. Kuo papildysite gydymą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sekretolitikais
                    </li>
                    <li>
                        B. Dekongestantais arba/ir intranazaliniais hormonais
                    </li>
                    <li>
                        C. Antibiotikais
                    </li>
                    <li>
                        D. Sisteminiais hormonais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.32</b> 26 m. ligoniui dėl kaklo traumos ir išsivysčiusios gerklų stenozės skubiai atlikta tracheostomija įstatytas Nr. 7 tracheostominis vamzdelis. Kvėpavimas atsistatė. Po 3 val. ligoniui stipriai pakosėjus, kvėpavimas vėl labai pasunkėjo, atsirado kaklo ir krūtinės emfizema. Kokia įtariama kvėpavimo pasunkėjimo priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trachėjos plyšimas
                    </li>
                    <li>
                        B. Širdies nepakankamumas
                    </li>
                    <li>
                        C. Tracheostominio vamzdelio iškritimas iš trachėjos
                    </li>
                    <li>
                        D. Gerklų edema
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.33</b> 25m. vyrui prieš 5 dienas atlikta tonzilektomija. Po operacijos karščiavo, dėl skausmo nedaug gėrė skysčių. Pavalgius, burnoje atsirado šviežio kraujo. Pakosėjus, kraujavimas sustiprėjo. Pacientas išspjovė apie pusę stiklinės kraujo krešulių. Išvėmė apie pusę litro tamsaus skrandžio turinio. Pajuto prakaito pylimą, bendrą silpnumą. Kokia gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydymo nereikia
                    </li>
                    <li>
                        B. Patarti išgerti daugiau skysčių, 1 parą nevalgyti
                    </li>
                    <li>
                        C. Ambulatoriškai skirti antihemoraginį gydymą
                    </li>
                    <li>
                        D. Gydyti stacionare: potonzilektominių žaizdų revizija, infuzoterapija, stebėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.34</b> 33 m. ligonė skundžiasi fizinio krūvio metu sustiprėjančiu dusuliu. Prieš 2 mėn. padaryta strumektomija. Po operacijos užkimo ir pasunkėjo kvėpavimas. Dusulys pamažu stiprėjo. Tapo nedarbinga. Sunku vaikščioti, miega pusiau sėdėdama. Objekt. tyrimai: lūpų cianozė, balsas prikimęs, įkvepiant girdimas stridoras, įdumba viršraktikaulinės ir jungo duobės. Plaučiuose – vezikulinis alsavimas, be karkalų, AKS–130/70 mmHg, P–110 k/min. Kuris tyrimas padėtų nustatyti diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtinės organų rentgenografija
                    </li>
                    <li>
                        B. Netiesioginė laringoskopija, videolaringoskopija
                    </li>
                    <li>
                        C.  Bronchoskopija
                    </li>
                    <li>
                        D. Spirometrija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>45.35</b> 40m. moteris po prieš 2 paras atliktos stumektomijos užkimusi, springsta, pakalbėjus ar pavaikščiojus dūsta. Miega pusiau sėdėdama, girdimas triukšmingas kvėpavimas. Objekt. tyrimai: lūpų cianozė, balsas šiek tiek prikimęs, įkvepiant girdimas stridoras, įdumba viršraktikaulinės ir jungo duobės, 130/70 mmHg, P–110 k/min. Laringoskopijos metu nustatyta, jog balso klostės balkšvos, paramedialinėje padėtyje, fonuojant plyšys 1–2 mm. Kokia ligos diagnozė ir gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinis laringitas. Skirti priešuždegiminius vaistus ir inhaliacijas
                    </li>
                    <li>
                        B. Bronchinė astma. Skirti priešastminį gydymą
                    </li>
                    <li>
                        C. Abipusis balso klosčių paralyžius. Reikalinga balso klosčių laterofiksaciją ar tracheostomija
                    </li>
                    <li>
                        D. Gerklų edema. Skirti priešedeminį gydymą
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>45.1 - 

                B
            </td>
            <td>45.2 - 

                B
            </td>
            <td>45.3 - 

                B
            </td>
            <td>45.4 - 

                C
            </td>
            <td>45.5 - 

                C
            </td>
            <td>45.6 - 

                D
            </td>
            <td>45.7 - 

                D
            </td>
            <td>45.8 - 

                C
            </td>
                </tr><tr>
            <td>45.9 - 

                B
            </td>
            <td>45.10 - 

                A
            </td>
            <td>45.11 - 

                C
            </td>
                </tr><tr>
            <td>45.12
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>45.13
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>45.14
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>45.15
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>45.16
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>45.19 - 

                C
            </td>
            <td>45.20 - 

                B
            </td>
            <td>45.21 - 

                C
            </td>
            <td>45.22 - 

                C
            </td>
            <td>45.23 - 

                B
            </td>
            <td>45.24 - 

                B
            </td>
            <td>45.25 - 

                C
            </td>
            <td>45.26 - 

                D
            </td>
                </tr><tr>
            <td>45.27 - 

                C
            </td>
            <td>45.28 - 

                C
            </td>
            <td>45.29 - 

                C
            </td>
            <td>45.30 - 

                C
            </td>
            <td>45.31 - 

                B
            </td>
            <td>45.32 - 

                C
            </td>
            <td>45.33 - 

                D
            </td>
            <td>45.34 - 

                B
            </td>
                </tr><tr>
            <td>45.35 - 

                C
            </td>

</tr></tbody></table></div>