<div class="Centre Kategorija">Patanatomija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>15.1</b> Kuri funkcija nebūdinga T limfocitams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Citolizė
                    </li>
                    <li>
                        B. B limfocitų aktyvinimas
                    </li>
                    <li>
                        C. T limfocitų slopinimas
                    </li>
                    <li>
                        D. Antigeno suėmimas ir apdorojimas
                    </li>
                    <li>
                        E. Limfokinų produkcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.2</b> Kurias ląsteles ardo imunodeficito virusas (ŽIV):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. T kilerius
                    </li>
                    <li>
                        B. B limfocitus
                    </li>
                    <li>
                        C. T helperius
                    </li>
                    <li>
                        D. Plazmocitus
                    </li>
                    <li>
                        E. Neutrofilus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.3</b> AIDS sergantys ligoniai dažniausiai miršta nuo komplikacijų, susijusių su visais šiais procesais, išskyrus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Citomegalinę infekciją
                    </li>
                    <li>
                        B. Kapoši sarkomą
                    </li>
                    <li>
                        C. Pneumokokinę pneumoniją
                    </li>
                    <li>
                        D. Tuberkuliozę 
                    </li>
                    <li>
                        E. Limfomą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.4</b> Kuriai patologinei situacijai nebūdinga arterinė hipertenzija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kušingo sindromui
                    </li>
                    <li>
                        B. Feochromocitomai
                    </li>
                    <li>
                        C. Antinksčių šerdinei hiperplazijai
                    </li>
                    <li>
                        D. Kasos navikui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.5</b> Kuri fibrokavernine plaučių tuberkulioze sergančių ligonių mirties priežastis yra dažniausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Choninis plaučių ir širdies funkcijos nepakankamumas
                    </li>
                    <li>
                        B. Kraujavimas iš plaučių
                    </li>
                    <li>
                        C. Amiloidozė
                    </li>
                    <li>
                        D. Tuberkuliozinio proceso progresavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.6</b> Kuriame organe gali išsivystyti „šaltasis abscesas“ sergant tuberkulioze:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plautyje
                    </li>
                    <li>
                        B. Inkste
                    </li>
                    <li>
                        C. Kiaušidėje arba sėklidėje
                    </li>
                    <li>
                        D. Stubure
                    </li>
                    <li>
                        E. Kelio sąnaryje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.7</b> Kurioje ląstelių struktūroje gali atsirasti intarpų virusinės infekcijos atvejais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Citoplazmoje
                    </li>
                    <li>
                        B. Branduolyje
                    </li>
                    <li>
                        C. Citoplazmoje ir branduolyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.8</b> Kurią medžiagą gamina ląstelė, kai į ją patenka virusas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Serotoniną
                    </li>
                    <li>
                        B. Interferoną
                    </li>
                    <li>
                        C. Bradikininą
                    </li>
                    <li>
                        D. Lecitiną
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.9</b> Kuri organų infarktų priežastis yra dažniausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Arterijos užspaudimas
                    </li>
                    <li>
                        B. Arterijos spazmas
                    </li>
                    <li>
                        C. Arterijos trombas
                    </li>
                    <li>
                        D. Arterijos sienos uždegimas
                    </li>
                    <li>
                        E. Arterijos aneurizma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.10</b> Kuri patologija būdinga ūminei širdies išeminės ligos būklei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Poinfarktinis miokardo randas
                    </li>
                    <li>
                        B. Židininė miokardo fibrozė
                    </li>
                    <li>
                        C. Miokardo infarktas
                    </li>
                    <li>
                        D. Poinfarktinė chroninė širdies skilvelio aneurizma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.11</b> Kuris patologinis procesas dažniausiai sutrikdo širdies vainikinių arterijų kraujotaką ir nulemia miokardo infarkto vystymąsi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Stenozuojanti širdies vainikinių arterijų aterosklerozė
                    </li>
                    <li>
                        B. Širdies vainikinės arterijos obturacinė trombozė
                    </li>
                    <li>
                        C. Širdies vainikinių arterijų spazmas
                    </li>
                    <li>
                        D. Širdies vainikinių arterijų trombinė embolija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.12</b> Kuriame organe vystosi raudonasis infarktas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdyje
                    </li>
                    <li>
                        B. Blužnyje
                    </li>
                    <li>
                        C. Plautyje
                    </li>
                    <li>
                        D. Inkste
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.13</b> Kurią ligą leidžia įtarti inkstų biopsinėje medžiagoje rasta kapiliarų kilpų trombozė, nekrozė ir daug didelių „pusmėnulių“:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminį difuzinį proliferacinį glomerulonefritą
                    </li>
                    <li>
                        B. Greitai progresuojantį glomerulonefritą
                    </li>
                    <li>
                        C. Membraninį glomerulonefritą
                    </li>
                    <li>
                        D. Membraninį proliferacinį glomerulonefritą
                    </li>
                    <li>
                        E. Minimalių pakitimų glomerulonefritą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.14</b> Kurią ligą leidžia įtarti grubus, netaisyklingas, randėtas inksto paviršius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Inksto policistozę
                    </li>
                    <li>
                        B. Inksto vėžį
                    </li>
                    <li>
                        C. Chroninį glomerulonefritą
                    </li>
                    <li>
                        D. Ūminį inkstų pažeidimo sindromą
                    </li>
                    <li>
                        E. Chroninį pielonefritą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.15</b> Kurią ligą leidžia įtarti nustatyta proteinurija, hipoalbuminemija, išplitusi edema ir hiperlipidemija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapimo takų akmenligę
                    </li>
                    <li>
                        B. Inksto policistozę
                    </li>
                    <li>
                        C. Nefrozinį sindromą
                    </li>
                    <li>
                        D. Inksto naviką
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.16</b> Kurį procesą leidžia įtarti organų ir jų struktūrų sunykimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipertrofiją
                    </li>
                    <li>
                        B. Metaplaziją
                    </li>
                    <li>
                        C. Atrofiją
                    </li>
                    <li>
                        D. Hiperplaziją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.17</b> Kuri priežastis nulemia įgipsuotos galūnės raumenų atrofiją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Laipsniškai pablogėjęs aprūpinimas krauju
                    </li>
                    <li>
                        B. Nejudrumas
                    </li>
                    <li>
                        C. Tvarsčio spaudimas
                    </li>
                    <li>
                        D. Sutrikusi inervacija
                    </li>
                    <li>
                        E. Hormoninės stimuliacijos nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.18</b> Kuriame audinyje vyksta tik viduląstelinė regeneracija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujyje
                    </li>
                    <li>
                        B. Kardiomiocituose
                    </li>
                    <li>
                        C. Kremzliniame audinyje
                    </li>
                    <li>
                        D. Kauliniame audinyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.19</b> Kuris tyrimo metodas anksčiausiai parodo adaptacinius persitvarkymus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Elektroninė mikroskopija
                    </li>
                    <li>
                        B. Autoradiografija
                    </li>
                    <li>
                        C. Imunomorfologija
                    </li>
                    <li>
                        D. Citochemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.20</b> Ką reiškia frazė „carcinoma in situ“:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Neišplitusią intraepitelinę karcinomą
                    </li>
                    <li>
                        B. Neinfiltratyviai augančią intraepitelinę karcinomą
                    </li>
                    <li>
                        C. Iš palyginti diferencijuotų ląstelių sudarytą intraepitelinę karcinomą
                    </li>
                    <li>
                        D. Dar bazinės membranos neperaugusią intraepitelinę karcinomą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.21</b> Kaip ir kur metastazuoja epitelinės kilmės piktybiniai skrandžio navikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirmiausia krauju į kepenis ir plaučius
                    </li>
                    <li>
                        B. Pirmiausia krauju į kaulų čiulpus ir kepenis
                    </li>
                    <li>
                        C. Pirmiausia limfa į kepenis, plaučius, smegenis ir kaulų čiulpus
                    </li>
                    <li>
                        D. Pirmiausia limfa į sritinius limfinius mazgus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.22</b> Kurios pikybinio naviko metastazės vadinamos Krukenbergo naviku:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Limfogeninės retrogradinės vėžio metastazės iš krūties ar skrandžio į kiaušides
                    </li>
                    <li>
                        B. Hematogeninės ortogradinės metastazės iš skrandžio ar krūties į kiaušides
                    </li>
                    <li>
                        C. Hematogeninės retrogradinės metastazės iš krūties į kiaušides
                    </li>
                    <li>
                        D. Limfogeninės ortogradinės metastazės iš skrandžio į kiaušides
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.23</b> Kuri savybė nebūdinga pusiau piktybiniams navikams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Infiltruojantis augimas
                    </li>
                    <li>
                        B. Pooperacinis recidyvas
                    </li>
                    <li>
                        C. Ankstyvas metastazavimas
                    </li>
                    <li>
                        D. Ekspansyvus augimas
                    </li>
                    <li>
                        E. Lėtas augimas
                    </li>
                    <li>
                        F. Vėlyvas metastazavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.24</b> Uždegimo metu susikaupęs skystis, kuriame baltymo yra daugiau negu 3g/dl ir jo specifinis tankis yra didesnis negu 1,015, vadinamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Edema
                    </li>
                    <li>
                        B. Skysčiais ertmėse
                    </li>
                    <li>
                        C. Transudatu
                    </li>
                    <li>
                        D. Serumu
                    </li>
                    <li>
                        E. Eksudatu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.25</b> Kurios iš šių ląstelių gali sintetinti imunoglobulinus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Neutrofilai
                    </li>
                    <li>
                        B. Bazofilai
                    </li>
                    <li>
                        C. B ląstelės
                    </li>
                    <li>
                        D. T ląstelės
                    </li>
                    <li>
                        E. Plazminės ląstelės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.26</b> Labai ryški, hipertrofinė kolageninė reakcija, kuri gali atsirasti po sužeidimo, vadinama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kaliusu
                    </li>
                    <li>
                        B. Randu
                    </li>
                    <li>
                        C. Kontraktūra
                    </li>
                    <li>
                        D. Keloidu
                    </li>
                    <li>
                        E. Sąaugomis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.27</b> Svarbiausias vėžio prognozės veiksnys yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Naviko laipsnis
                    </li>
                    <li>
                        B. Naviko stadija
                    </li>
                    <li>
                        C. Metastazės limfmazgiuose
                    </li>
                    <li>
                        D. Invazija į kraujagysles
                    </li>
                    <li>
                        E. Mitozinis indeksas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.28</b> Obliteruojantis trombangitas dažniausiai išsivysto dėl:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tarpprieširdžio įgimto defekto
                    </li>
                    <li>
                        B. Išeminės širdies ligos
                    </li>
                    <li>
                        C. Dietos su gausiais didelio tankio lipidais
                    </li>
                    <li>
                        D. Intensyvaus rūkymo
                    </li>
                    <li>
                        E. Intensyvaus fizinio krūvio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.29</b> Kuriam navikui vystytis didžiausią įtaką turi darbas su asbestu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bronchoalveolinei karcinomai
                    </li>
                    <li>
                        B. Smulkiųjų ląstelių karcinomai
                    </li>
                    <li>
                        C. Mezoteliomai
                    </li>
                    <li>
                        D. Plokščiųjų ląstelių karcinomai
                    </li>
                    <li>
                        E. Adenokarcinomai
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>15.30</b> Kaip traktuoti kraujagyslių pakitimus dėl cukrinio diabeto</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Diabetinė makroangiopatija
                    </li>
                    <li>
                        2 - Diabetinė mikroangiopatija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Nefroangiopatija (nefroangiosklerozė)
                    </li>
                    <li>
                        B. Širdies vainikinių arterijų aterosklerozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.31</b> Kiekvienam sarkomos tipui nurodykite audinį, iš kurio ji kilusi</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Rhabdomyosarcoma
                    </li>
                    <li>
                        2 - Neurofibrosarcoma
                    </li>
                    <li>
                        3 - Angiosarcoma
                    </li>
                    <li>
                        4 - Liposarcoma
                    </li>
                    <li>
                        5 - Fibrosarcoma
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Endotelis
                    </li>
                    <li>
                        B. Riebalinis audinys
                    </li>
                    <li>
                        C. Jungiamasis audinys
                    </li>
                    <li>
                        D. Skersaruožiai raumenys
                    </li>
                    <li>
                        E. Švano ląstelės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.32</b> Kokia yra prognozinė nurodytų navikų charakteristika</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Gėrybiniai
                    </li>
                    <li>
                        2 - Piktybiniai
                    </li>
                    <li>
                        3 - Pusiau piktybiniai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Osteoblastoklastoma, basalioma ir karcinoidas
                    </li>
                    <li>
                        B. Haemangioma cavernosum
                    </li>
                    <li>
                        C. Melanoma ir seminoma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.33</b> Kokiems patologiniams procesams būdingi nurodyti širdies nepakankamumo geneziniai mechanizmai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Skilvelių ir prieširdžių perkrovimas dėl padidėjusio kraujospūdžio
                    </li>
                    <li>
                        2 - Skilvelių ir prieširdžių perkrovimas dėl kai kuriose širdies ertmėse padidėjusio kraujo tūrio
                    </li>
                    <li>
                        3 - Optimalaus širdies susitraukimų dažnio pakitimai
                    </li>
                    <li>
                        4 - Širdies kontrakcijos sutrikimai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Aortos angos stenozė
                    </li>
                    <li>
                        B. Aortos ir mitralinio vožtuvo nepakankamumas su tarpskilvelinės pertvaros defektu
                    </li>
                    <li>
                        C. Tachikardija ir bradikardija
                    </li>
                    <li>
                        D. Endokardo fibrozė, miokardo nekrozė ir randas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.34</b> Kokios yra dažniausios pirminio tuberkuliozės židinio morfologinės baigtys</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Progresuojant tuberkuliozei
                    </li>
                    <li>
                        2 - Rimstant tuberkuliozei
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kavernizacija ir diseminacija
                    </li>
                    <li>
                        B. Petrifikacija ir inkapsulacija
                    </li>
                    <li>
                        C. Kazeozinė pneumonija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.35</b> Koks yra kiekvienos hipererginės reakcijos būdingas mechanizmas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Atopinė (anafilaksinė) reakcija
                    </li>
                    <li>
                        2 - Imunokompleksinė reakcija
                    </li>
                    <li>
                        3 - Uždelsto tipo ląstelinė reakcija
                    </li>
                    <li>
                        4 - Izoimuninė reakcija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. IgM ir IgG fiksacija ląstelių paviršiuje
                    </li>
                    <li>
                        B. Antigeno ir IgM bei IgG kompleksų susidarymas su fiksuotu komplementu
                    </li>
                    <li>
                        C. Stimuliuotų limfocitų mediatorių poveikis
                    </li>
                    <li>
                        D. Ag ir IgE fiksacija prie mastocitų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.36</b> Kur aptinkamos nurodytos lokalizacijos vėžio pirmosios limfogeninės metastazės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Plaučių vėžio
                    </li>
                    <li>
                        2 - Skrandžio vėžio
                    </li>
                    <li>
                        3 - Krūties vėžio
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Viršraktikauliniuose ir pažastiniuose limfmazgiuose
                    </li>
                    <li>
                        B. Limfmazgiuose pagal didžiąją ir mažąją skrandžio kreives
                    </li>
                    <li>
                        C. Peribifurkaciniuose ir paratrachėjiniuose limfmazgiuose
                    </li>
                    <li>
                        D. Stubure
                    </li>
                    <li>
                        E. Smegenyse
                    </li>
                    <li>
                        F. Kepenyse
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.37</b> Kurie eksudatą sudarantys elementai būdingi nurodytoms pneumonijoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Bronchopneumonija
                    </li>
                    <li>
                        2 - Skiltinė pneumonija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Fibrinas
                    </li>
                    <li>
                        B. Neutrofilai
                    </li>
                    <li>
                        C. Limfocitai
                    </li>
                    <li>
                        D. Plazmocitai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.38</b> Kurie histologiniai vaizdai yra būdingi nurodytoms skydliaukės ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Koloidinė struma
                    </li>
                    <li>
                        2 - Parenchiminė (tirotoksinė) struma
                    </li>
                    <li>
                        3 - Autoimuninis tiroiditas (Hašimoto struma)
                    </li>
                    <li>
                        4 - Skydliaukės karcinoma
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Daug įvairaus dydžio tirštu koloidu pripildytų folikulų. Folikulų epitelis suplokštėjęs
                    </li>
                    <li>
                        B. Daug įvairaus dydžio ir formos folikulų su papiliarinėmis epitelio išaugomis į spindį.  Gausios mitozės. Kai kur ląstelių grupės folikulų neformuoja.  Ląstelių yra limfiniuose plyšiuose ir kapsulėje
                    </li>
                    <li>
                        C. Folikulai daugiausia smulkūs, „žvaigždiški“. Epitelis – aukštas, kubinis, kai kur panašus į stulpinį.  Nedaug skysto koloido, kuriame gausu rezorbcinių vakuolių.  Stromoje yra  limfoidinių infiltratų.
                    </li>
                    <li>
                        D. Stromoje daug jungiamojo audinio, stambūs limfocitinių elementų  infiltratai, kai kur sudarantys limfinius  folikulus su šviesiais centrais.  Folikulų epitelis dažniausiai aukštas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.39</b> Kurie požymiai būdingi nurodytoms ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Respiracinės virusinės ligos
                    </li>
                    <li>
                        2 - Mikrobinė infekcija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Taškinės hemoragijos bronchų gleivinėje ir rausvas gleivingas turinys
                    </li>
                    <li>
                        B. Fibrininis arba pūlinis kvėpavimo takų uždegimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.40</b> Kurioms ląstelėms būdingos nurodytos morfofiziologinės savybės</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Efektyviai kovoja su viduląsteliniais parazitais ir sugeba perduoti informaciją apie antigeną imunokompetentinėms ląstelėms
                    </li>
                    <li>
                        2 - Turi daug acidofilinių granulių ir gali sustabdyti hipererginę reakciją
                    </li>
                    <li>
                        3 - Turi daug lizosomų ir pačios pirmosios atsiranda uždegimo vietoje
                    </li>
                    <li>
                        4 - Turi daug metachromatinių granulių
                    </li>
                    <li>
                        5 - Išskiria limfokinus
                    </li>
                    <li>
                        6 - Turi ryškų grūdėtąjį endoplazminį tinklą ir ekscentrišką branduolį
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Makrofagai
                    </li>
                    <li>
                        B. Neutrofilai
                    </li>
                    <li>
                        C. Mastocitai
                    </li>
                    <li>
                        D. Eozinofilai
                    </li>
                    <li>
                        E. Plazmocitai
                    </li>
                    <li>
                        F. T limfocitai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.41</b> Kurios komplikacijos būdingos nurodytoms ligoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Centrinė bronchogeninė plaučių karcinoma
                    </li>
                    <li>
                        2 - Periferinė plaučių karcinoma
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Broncho obstrukcija ir plaučių atelektazė
                    </li>
                    <li>
                        B. Buliozinė emfizema
                    </li>
                    <li>
                        C. Pleuritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.42</b> Kurios morfologinės savybės būdingos nurodytoms struktūroms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Trombas
                    </li>
                    <li>
                        2 - Pomirtinis krešulys
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Elastingas ir laisvai plūduriuoja kraujagyslės spindyje
                    </li>
                    <li>
                        B. Trapus, sausas ir sukibęs su kraujagyslės siena
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.43</b> Kuriuo keliu skrandžio karcinoma plinta į nurodytus organus</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Plaučius
                    </li>
                    <li>
                        2 - Kiaušides
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Limfogeniniu keliu
                    </li>
                    <li>
                        B. Hematogeniniu keliu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.44</b> Kuriuose organuose yra ryškiausi morfologiniai pakitimai, sergant nurodytomis ligomis</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Gripas
                    </li>
                    <li>
                        2 - Paragripas
                    </li>
                    <li>
                        3 - Adenovirozė
                    </li>
                    <li>
                        4 - Respiracinė sincitiovirozė
                    </li>
                    <li>
                        5 - Rinovirozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Akių junginėje ir nosiaryklėje
                    </li>
                    <li>
                        B. Gerklose
                    </li>
                    <li>
                        C. Bronchuose, bronchiolėse ir plaučiuose
                    </li>
                    <li>
                        D. Gerklėje
                    </li>
                    <li>
                        E. Nosies gleivinėje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.45</b> Parinkite tikslų apibrėžimą kiekvienam ląstelių tipui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ląstelės, kurios pirmos atsiranda pažeidimo vietoje
                    </li>
                    <li>
                        2 - Ląstelės, kurios gali nutraukti hiperergines reakcijas
                    </li>
                    <li>
                        3 - Ląstelės, kurios  turi metachromatines granules ir yra randamos audiniuose
                    </li>
                    <li>
                        4 - Ląstelės, kurios dalyvauja abiejų tipų (I ir II) hipererginėse reakcijose
                    </li>
                    <li>
                        5 - Ląstelės, kurios labai efektyvios prieš intraląstelinius ir inkapsuliuotus mikrobus
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Makrofagai
                    </li>
                    <li>
                        B. Putliosios ląstelės
                    </li>
                    <li>
                        C. Neutrofilai
                    </li>
                    <li>
                        D. Eozinofilai
                    </li>
                    <li>
                        E. Bazofilai
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>15.46 </b> Sergančių sarkoma prognozė priklauso nuo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dydžio
                    </li>
                    <li>
                        2. Stadijos
                    </li>
                    <li>
                        3. Laipsnio
                    </li>
                    <li>
                        4. Audinių infiltracijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.47 </b> Daugeliu atvejų ūminis hemoraginis pankreatitas yra susijęs su:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hiperparatiroidizmu ar vaisto toksiniu poveikiu
                    </li>
                    <li>
                        2. Normalia serumo amilazės koncentracija
                    </li>
                    <li>
                        3. Kasos audinio autolize aktyvintais pepsinogenu ir disacharidoze
                    </li>
                    <li>
                        4. Kasos latakų obstrukcija ar tiesioginiu toksiniu poveikiu kasos kekinėms (acinarinėms) ląstelėms
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.48 </b> Kokie morfologiniai požymiai būdingi suaugusiųjų respiracinio distreso sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Plaučių edema
                    </li>
                    <li>
                        2. Hialininių membranų susidarymas
                    </li>
                    <li>
                        3. Hemoragijos
                    </li>
                    <li>
                        4. Plaučių fibrozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.49 </b> Trombocitopeniją dažniausiai sukelia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Folio rūgšties deficitas
                    </li>
                    <li>
                        2. Mielofibrozė
                    </li>
                    <li>
                        3. Ūmine leukozė
                    </li>
                    <li>
                        4. Ryški splenomegalija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.50 </b> Kokios yra uždegiminės reakcijos funkcijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Infekuotų audinių izoliacija
                    </li>
                    <li>
                        2. Žalingo veiksnio inaktyvacija
                    </li>
                    <li>
                        3. Toksinų neutralizacija
                    </li>
                    <li>
                        4. Negyvų audinių (detrito) pašalinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.51 </b> Kurioms imuninėms granuliomoms būdinga kazeozinė (ar kitokia) nekrozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tuberkuliozės
                    </li>
                    <li>
                        2. Sifilio
                    </li>
                    <li>
                        3. Kačių įdrėskimo ligos
                    </li>
                    <li>
                        4. Sarkoidozės
                    </li>
                    <li>
                        5. Jersiniozės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.52 </b> Kurie reiškiniai būdingi prostatos hipertrofijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Urocistitas
                    </li>
                    <li>
                        2. Šlapimo retencija
                    </li>
                    <li>
                        3. Šlaplės kompresija
                    </li>
                    <li>
                        4. Paraproktitas
                    </li>
                    <li>
                        5. Šlapimo pūslės sienos navikinė infiltracija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.53 </b> Kurios gimdos kaklelio ligos dažniausiai būna dishormoninės kilmės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Erosio vera
                    </li>
                    <li>
                        2. Pseudoerosio papillaris
                    </li>
                    <li>
                        3. Ectropion
                    </li>
                    <li>
                        4. Pseudoerosio glandularis
                    </li>
                    <li>
                        5. Visos minimos ligos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.54 </b> Kaip insulinas veikia angliavandenių medžiagų apykaitos procesus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gerina gliukozės perėjimą pro ląstelių membranas ir jos oksidaciją
                    </li>
                    <li>
                        2. Skatina glikogeno susidarymą
                    </li>
                    <li>
                        3. Stabdo gliukoneogenezę
                    </li>
                    <li>
                        4. Skatina gliukoneogenezę
                    </li>
                    <li>
                        5. Stabdo gliukozės perėjimą pro ląstelių membranas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.55 </b> Kurių lipoproteidų padaugėja kraujyje dėl cukraligės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pre-beta lipoproteidų
                    </li>
                    <li>
                        2. Alfa lipoproteidų
                    </li>
                    <li>
                        3. Beta lipoproteidų
                    </li>
                    <li>
                        4. Chilomikronų
                    </li>
                    <li>
                        5. Flotuojančių lipoproteidų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.56 </b> Kurie inkstų pakitimai atsiranda dėl cukraligės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Inksto kūnelio kapsulės epitelio ir padocitų proliferacija
                    </li>
                    <li>
                        2. PAS teigiamų medžiagų sankaupos kapiliarų kamuolėlio membranose ir mezangiume
                    </li>
                    <li>
                        3. Amiloido sankaupos kapiliarų kamuolėlio membranose
                    </li>
                    <li>
                        4. Glikogeno sankaupos proksimalinių kanalėlių nefrocituose
                    </li>
                    <li>
                        5. Visi minimi pakitimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.57 </b> Kurie simptomai būdingi prieskydinių liaukų adenomai (hiperfunkcijai):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Šlapiminė akmenligė
                    </li>
                    <li>
                        2. Metastazinė (plaučių, skrandžio, miokardo) kalcinozė
                    </li>
                    <li>
                        3. Venų trombozė
                    </li>
                    <li>
                        4. Skrandžio opa
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.58 </b> Kurie patologiniai procesai svarbūs bronchopneumonijos genezei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Plaučių ventiliacijos sutrikimas
                    </li>
                    <li>
                        2. Virusinės kilmės kvėpavimo takų uždegimas
                    </li>
                    <li>
                        3. Plaučių chroninė veninė hiperemija
                    </li>
                    <li>
                        4. Plaučių emfizema
                    </li>
                    <li>
                        5. Plaučių arterijos aterosklerozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.59 </b> Dėl kurių patologinių procesų vystosi plaučių emfizema:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dėl lėtinio bronchito
                    </li>
                    <li>
                        2. Dėl padidėjusio proteolizinių fermentų išsiskyrimo
                    </li>
                    <li>
                        3. Dėl proteolizinių fermentų inhibitorių kiekio sumažėjimo
                    </li>
                    <li>
                        4. Dėl ūminės fibrininės pneumonijos
                    </li>
                    <li>
                        5. Dėl plaučių lėtinės  veninės  hiperemijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.60 </b> Kurie veiksniai predisponuoja kojų giliųjų venų trombozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ilgas gulimas režimas po operacijų
                    </li>
                    <li>
                        2. Dešiniosios širdies chroninis nepakankamumas
                    </li>
                    <li>
                        3. Išplitusio naviko
                    </li>
                    <li>
                        4. Ilgas gulimas režimas po traumų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.61 </b> Kurie patologiniai pakitimai yra būdingiausi dešinės širdies chroniniam nepakankamumui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kojų edemos
                    </li>
                    <li>
                        2. Ascitas
                    </li>
                    <li>
                        3. Ūminės skrandžio opos
                    </li>
                    <li>
                        4. „Muškatinės“ kepenys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.62 </b> Kurie patologiniai pakitimai būdingi kairiosios širdies chroniniam nepakankamumui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Plaučių audinio induracija ir hemosiderozė
                    </li>
                    <li>
                        2. Chroninis bronchitas su „rudais“ makrofagais skrepliuose
                    </li>
                    <li>
                        3. Plaučių arterijų aterosklerozė
                    </li>
                    <li>
                        4. Skysčio susikaupimas pleuros ertmėje
                    </li>
                    <li>
                        5. Krūtinės sienos poodinė edema
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.63 </b> Kurie patologiniai procesai gali būti mechaninės geltos priežastimi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kasos galvos vėžys
                    </li>
                    <li>
                        2. Bendrojo tulžies latako vėžys
                    </li>
                    <li>
                        3. Bendrojo tulžies latako akmuo
                    </li>
                    <li>
                        4. Tulžies pūslės latako akmuo
                    </li>
                    <li>
                        5. Tulžies pūslės akmuo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.64 </b> Koks eksudatas būdingas ureminiam uždegimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Serozinis
                    </li>
                    <li>
                        2. Pūlinis
                    </li>
                    <li>
                        3. Hemoraginis
                    </li>
                    <li>
                        4. Fibrininis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.65 </b> Kurie reiškiniai yra prekarcinominės būklės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Odos diskeratozė, leukoplakijos ir pigmentinės dėmės
                    </li>
                    <li>
                        2. Chroninės opos (skrandžio, burnos gleivinės, odos)
                    </li>
                    <li>
                        3. Žarnų polipozė
                    </li>
                    <li>
                        4. Gimdos kaklelio pseudoerozija
                    </li>
                    <li>
                        5. Liaukinė hiperplazija (endometriumo, krūties, prostatos)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.66 </b> Kokie yra Adisono-Birmerio anemijos morfologiniai požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Liežuvio ir skrandžio gleivinės atrofija
                    </li>
                    <li>
                        2. Porfirinė blužnis
                    </li>
                    <li>
                        3. Eritrocitų patologinių formų atsiradimas
                    </li>
                    <li>
                        4. Hipochrominio tipo anemija
                    </li>
                    <li>
                        5. Agranuliocitozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.67 </b> Kokie reiškiniai atsiranda Hodžkino limfomos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tarpusavyje suaugusių limfmazgių konglomeratai
                    </li>
                    <li>
                        2. Hodžkino ląstelės
                    </li>
                    <li>
                        3. Rido - Šternbergo gigantinės ląstelės
                    </li>
                    <li>
                        4. Padidėję ir tarpusavyje nesuaugę limfmazgiai
                    </li>
                    <li>
                        5. Langerhanso gigantinės ląstelės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.68 </b> Kokios gali būti sifilinio aortito komplikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Aortos plyšimas
                    </li>
                    <li>
                        2. Aortinė yda
                    </li>
                    <li>
                        3. Miokardo infarktas
                    </li>
                    <li>
                        4. Plaučių arterijos embolija
                    </li>
                    <li>
                        5. Plaučių atelektazė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.69 </b> Kurie nespecifinio imuninio atsako veiksniai yra reikšmingiausi gynybai nuo virusų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nukleazės
                    </li>
                    <li>
                        2. Interferonas
                    </li>
                    <li>
                        3. Proteazės
                    </li>
                    <li>
                        4. Organų dengiamojo epitelio mechaninis barjeras
                    </li>
                    <li>
                        5. Granulocitai
                    </li>
                    <li>
                        6. Lizocimas
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>15.70</b> Ligonis sirgo lėtine limfoleukoze (limfoblastomatoze), tačiau mirė dėl išplitusios tuberkuliozės. Kokia buvo ligonio organizmo imunodeficitinė būklė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirminė humoralinė
                    </li>
                    <li>
                        B. Antrinė ląstelinė
                    </li>
                    <li>
                        C. Pirminė ląstelinė
                    </li>
                    <li>
                        D. Antrinė humoralinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.71</b> 30 m. moteris skundėsi nereguliariu kraujavimu iš genitalijų. Tiriant patomorfologiškai gimdos abrazijos medžiagą rasta: endometriumo liaukos proliferacijos  fazėje, stromoje nemažai limfoplazmocitinių elementų (chroniško endometrito reiškiniai). Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Endometriumo prekarcinominė būklė
                    </li>
                    <li>
                        B. Stein-Leventhal sindromas
                    </li>
                    <li>
                        C. Negimdinis nėštumas
                    </li>
                    <li>
                        D. Estrogenų perteklius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.72</b> 30 m. moteris po 1,5 mėn. trukusios menopauzės  pajuto nestiprius strėnų ir papilvės skausmus, prasidėjo nežymus kraujavimas iš genitalijų. Tiriant patomorfologiškai gimdos abrazinę medžiagą, rasta: sekrecijos fazėje esančios vingiuotos endometriumo liaukos ir ląstelinga stroma su ryškia decidualine reakcija. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimdos mioma
                    </li>
                    <li>
                        B. Kiaušidės folikuloma
                    </li>
                    <li>
                        C. Nėštumas gimdoje
                    </li>
                    <li>
                        D. Endometritas
                    </li>
                    <li>
                        E. Negimdinis nėštumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.73</b> Sutepus akies voką penicilino tepalu, ligonis staiga pradėjo dusti, paraudo, nevalingai pasituštino ir mirė nuo kolapso. Kuri reakcija įvyko ligoniui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Uždelsto tipo ląstelinė hipererginė reakcija
                    </li>
                    <li>
                        B. Generalizuota imunokompleksinė reakcija
                    </li>
                    <li>
                        C. Izoimuninė hipererginė reakcija
                    </li>
                    <li>
                        D. Vietinė Artiuso tipo hipererginė reakcija
                    </li>
                    <li>
                        E. Atopinė (anafilaksinė 1 tipo) reakcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.74</b> Sutepus akies voką penicilino tepalu, ligonis staiga pradėjo dusti, paraudo, nevalingai pasituštino ir mirė nuo kolapso. Koks reakcijos mechanizmas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ag ir IgE komplekso fiksacija prie mastocitų
                    </li>
                    <li>
                        B. Stimuliuotų limfocitų mediatorių (limfokinų) poveikis
                    </li>
                    <li>
                        C. Ag ir IgM bei IgG fiksacija ląstelių paviršiuje
                    </li>
                    <li>
                        D. Ag ir IgM bei IgG su aktyvuoju komplementu susidarymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.75</b> Reumatu sirgęs ligonis mirė dėl intoksikacijos ir širdies nepakankamumo. Skrodimo metu rasta didelė hiperplastiška blužnis, padidėję minkštos konsistencijos su kraujosruvomis inkstai, ryškiai hipertrofuotas širdies kairysis skilvelis, sustorėję, sklerozuoti, kai kur sukalkėję ir išopėję aortos vožtuvai. Opos apdengtos polipų išvaizdos trombine mase. Kokia reumato komplikacija nulėmė mirtį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hemoraginis glomerulonefritas
                    </li>
                    <li>
                        B. Generalizuotas vaskulitas
                    </li>
                    <li>
                        C. Sepsis lenta
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.76</b> Pagyvenusią moterį daugelį metų vargino dubens, stuburo ir kitų kaulų skausmai. Stiprėjant juosmens skausmams, ligonė stacionarizuota. Nustačius kraujyje didelį ureos  kiekį, o šlapime proteinuriją, ligonei diagnozuotas glomerulonefritas. Nespėjus iki galo ištirti, prisidėjo pneumonija ir ligonė mirė. Skrodimo metu rasti padidėję, kieti, balzgani „lašinių išvaizdos“ inkstai. Kaukolės, stuburo kaulų ir šonkaulių čiulpuose yra destrukcinių mėsingos išvaizdos židinių, kurie histologiškai sudaryti iš ovalių ląstelių su ekscentriškais  branduoliais.  Plaučių apatinėse skiltyse yra sutankėjusio audinio židinių. Kokia pagrindinės ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pielonefritas
                    </li>
                    <li>
                        B. Glomerulonefritas
                    </li>
                    <li>
                        C. Plazmocitoma
                    </li>
                    <li>
                        D. Mieloblastinė leukemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.77</b> 25 m. moteris mirė dėl nukraujavimo į virškinimo kanalą.  Skrodimo metu rasta labai blyški oda ir su gausiomis taškinėmis  kraujosruvomis skrandžio ir žarnų gleivinė. Šių organų turinys kruvinas, nors opų nerasta. Blužnis tamsiai violetinė, kietoka su gausiais infarktais. Jos masė – 3000g. Blyškių kepenų svoris irgi 3000g. Kaulų čiulpai pilkšvai rausvi. Prieš mirtį darytame kraujo tepinėlyje leuk. 40×10⁹/l, kurių tarpe vyrauja mielocitai ir promielocitai. Kokia pagrindinės ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lėtinė  mieloleukozė
                    </li>
                    <li>
                        B. Lėtinė limfoleukozė
                    </li>
                    <li>
                        C. Limfosarkoma
                    </li>
                    <li>
                        D. Aplastinė anemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.78</b> 58 m. vyras staiga pajuto stiprų skausmą širdies plote, bendrą silpnumą ir po 15 min. mirė. Skrodimo metu nustatyta: kairiosios vainikinės arterijos apsukinės šakos aterosklerotinės plokštelės ir arterijos spindį  obturuojantis šviežias trombas. Priekinėje-šoninėje kairiojo skilvelio sienoje rastas miokardo margumas. Dešinysis ir kairysis plautis sveria atitinkamai 850 ir 1150 g. Į jų pjūvio paviršių išsispaudžia daug rausvo skysčio. Kokia pagrindinė mirties priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdies sienos plyšimas
                    </li>
                    <li>
                        B. Skilvelių virpėjimas
                    </li>
                    <li>
                        C. Tromboembolinės komplikacijos
                    </li>
                    <li>
                        D. Ūminis širdies kairiojo skilvelio nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.79</b> Ligonis skundėsi dusuliu, širdies plakimais ir kojų tinimu. Visi nusiskundimai sustiprėdavo dėl menkiausio fizinio krūvio. Jam mirus, skrodimo metu nustatytas ryškus kairiojo skilvelio išsiplėtimas, jo sienos hipertrofija ir lėtinė veninė plaučių  hiperemija. Kokiai kompensacinio proceso fazei galima priskirti širdies pakitimus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Avarinei
                    </li>
                    <li>
                        B. Įsitvirtinimo
                    </li>
                    <li>
                        C. Dekompensacijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.80</b> Kokį virusinį hepatitą charakterizuoja sudribusios ir sumažėjusios (sveria 1200 g) kepenys bei patomorfologiškai nustatyta jų totalinė panlobulinė nekrozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Klasikinį ūminį skiltelinį
                    </li>
                    <li>
                        B. Ūminį skiltelinį su susiliejančiomis nekrozėmis
                    </li>
                    <li>
                        C. Žaibinį
                    </li>
                    <li>
                        D. Lėtinį progresuojantį
                    </li>
                    <li>
                        E. Lėtinį  persistuojantį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.81</b> Nuolat vartojusi alkoholinius gėrimus, 46 m. tarnautoja skundėsi kepenų funkcijos sutrikimais. Parą prieš mirtį pajuto pilvo skausmus, staiga krito arterinis kraujospūdis. Operacijos metu  kraujavimo šaltinio nerasta. Progresuojant anemijai, ligonė mirė. Skrodimo metu nustatyta: priekinės pilvo sienos venų išsiplėtimas, padidėjusios kepenys (1700 g) su nelygiu smulkiai gruoblėtu gelsvu ir kietu paviršiumi. Kepenų pjūviuose – gelsvi, smulkūs mazgeliai. Kasos masė – 40 g. Skrandyje ir žarnose – kraujo krešuliai, Stemplės venos išsiplėtusios, o viena  jų plyšusi.  Kokia pagrindinės ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis virusinis hepatitas
                    </li>
                    <li>
                        B. Chroninis virusinis hepatitas
                    </li>
                    <li>
                        C. Alkoholizmas
                    </li>
                    <li>
                        D. Kepenų cirozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.82</b> Nuolat vartojusi alkoholinius gėrimus, 46 m. tarnautoja skundėsi kepenų funkcijos sutrikimais. Parą prieš mirtį pajuto pilvo skausmus, staiga krito arterinis kraujospūdis. Operacijos metu  kraujavimo šaltinio nerasta. Progresuojant anemijai, ligonė mirė. Skrodimo metu nustatyta: priekinės pilvo sienos venų išsiplėtimas, padidėjusios kepenys (1700 g) su nelygiu smulkiai gruoblėtu gelsvu ir kietu paviršiumi. Kepenų pjūviuose – gelsvi, smulkūs mazgeliai. Kasos masė – 40 g. Skrandyje ir žarnose – kraujo krešuliai, Stemplės venos išsiplėtusios, o viena  jų plyšusi.Kokia mirties priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Stemplės venų išsiplėtimas
                    </li>
                    <li>
                        B. Nukraujavimas dėl venų plyšimo
                    </li>
                    <li>
                        C. Priekinės pilvo sienos venų išsiplėtimas
                    </li>
                    <li>
                        D. Kepenų funkcijos nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>15.83</b> Skrodimo metu nustatyta prasidedanti dešiniojo plaučio 3-čio segmento kazeozinės nekrozės židinio inkapsuliacija ir padidėję bei suvarškėję peribronchiniai ir bifurkaciniai limfmazgiai. Kokia tiksli tokios tuberkuliozės formos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tuberculosis focalis fibrocaseosa
                    </li>
                    <li>
                        B. Tuberculosis focalis caseosa acuta
                    </li>
                    <li>
                        C. Complexus  primarius tuberculosus
                    </li>
                    <li>
                        D. Pneumonia caseosa tuberculosa
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>15.1 - 

                D
            </td>
            <td>15.2 - 

                C
            </td>
            <td>15.3 - 

                C
            </td>
            <td>15.4 - 

                D
            </td>
            <td>15.5 - 

                A
            </td>
            <td>15.6 - 

                D
            </td>
            <td>15.7 - 

                C
            </td>
            <td>15.8 - 

                B
            </td>
                </tr><tr>
            <td>15.9 - 

                C
            </td>
            <td>15.10 - 

                C
            </td>
            <td>15.11 - 

                B
            </td>
            <td>15.12 - 

                C
            </td>
            <td>15.13 - 

                B
            </td>
            <td>15.14 - 

                E
            </td>
            <td>15.15 - 

                C
            </td>
            <td>15.16 - 

                C
            </td>
                </tr><tr>
            <td>15.17 - 

                B
            </td>
            <td>15.18 - 

                B
            </td>
            <td>15.19 - 

                D
            </td>
            <td>15.20 - 

                D
            </td>
            <td>15.21 - 

                D
            </td>
            <td>15.22 - 

                A
            </td>
            <td>15.23 - 

                C
            </td>
            <td>15.24 - 

                E
            </td>
                </tr><tr>
            <td>15.25 - 

                E
            </td>
            <td>15.26 - 

                D
            </td>
            <td>15.27 - 

                B
            </td>
            <td>15.28 - 

                D
            </td>
            <td>15.29 - 

                C
            </td>
                </tr><tr>
            <td>15.30
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
            </ul></td>
            <td>15.31
            <ul>
                <li>1 - D </li>
                <li>2 - E </li>
                <li>3 - A </li>
                <li>4 - B </li>
                <li>5 - C </li>
            </ul></td>
            <td>15.32
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>15.33
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>15.34
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
            </ul></td>
            <td>15.35
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - A </li>
            </ul></td>
            <td>15.36
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>15.37
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
            </ul></td>
                </tr><tr>
            <td>15.38
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - B </li>
            </ul></td>
            <td>15.39
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
            </ul></td>
            <td>15.40
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - B </li>
                <li>4 - C </li>
                <li>5 - F </li>
                <li>6 - E </li>
            </ul></td>
            <td>15.41
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
            </ul></td>
            <td>15.42
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
            </ul></td>
            <td>15.43
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
            </ul></td>
            <td>15.44
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - C </li>
                <li>5 - E </li>
            </ul></td>
            <td>15.45
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - B </li>
                <li>4 - E </li>
                <li>5 - A </li>
            </ul></td>
                </tr><tr>
            <td>15.46
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>15.47
            <ul>
                <li>4</li>
            </ul></td>
            <td>15.48
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.49
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>15.50
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>15.51
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.52
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.53
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>15.54
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.55
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>15.56
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>15.57
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>15.58
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.59
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.60
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>15.61
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>15.62
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.63
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.64
            <ul>
                <li>4</li>
            </ul></td>
            <td>15.65
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>15.66
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>15.67
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.68
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>15.69
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>15.70 - 

                B
            </td>
            <td>15.71 - 

                D
            </td>
            <td>15.72 - 

                E
            </td>
            <td>15.73 - 

                E
            </td>
            <td>15.74 - 

                A
            </td>
            <td>15.75 - 

                C
            </td>
            <td>15.76 - 

                C
            </td>
            <td>15.77 - 

                A
            </td>
                </tr><tr>
            <td>15.78 - 

                D
            </td>
            <td>15.79 - 

                C
            </td>
            <td>15.80 - 

                C
            </td>
            <td>15.81 - 

                C
            </td>
            <td>15.82 - 

                B
            </td>
            <td>15.83 - 

                C
            </td>

</tr></tbody></table></div>