<div class="Centre Kategorija">Patolfiziologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>9.1</b> Kliniškai ekstraląstelinio skysčio trūkumas organizme pasireiškia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Svorio kritimu, kraujospūdžio kritimu perinant vertikalioje pozicijoje, kaklo venų subliuškimu, galvos svaigimu ir oligurija. 
                    </li>
                    <li>
                        B. Svorio kritimu, hipertenzija, bradikardija, kaklo venų išsiplėtimu. 
                    </li>
                    <li>
                        C. Svorio kritimu, dažnu širdies plakimu, padidėjusiu šlapimo išskyrimu.
                    </li>
                    <li>
                        D. Svorio kritimu, hipotenzija, kaklo venų išsiplėtimu, pykinimu, vėmimu. 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.2</b> Kuris iš išvardintų poveikių nėra būdingas histaminui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Didina kraujagyslių pralaidumą
                    </li>
                    <li>
                        B. Atpalaiduoja bronchų lygiuosius raumenis
                    </li>
                    <li>
                        C. Sukelia edemą
                    </li>
                    <li>
                        D. Padidina kraujo pritekėjimą į pažeidimo sritį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.3</b> Kokia yra neurogeninio šoko priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sumažėjęs skysčių tūris organizme
                    </li>
                    <li>
                        B. Pernelyg didelė simpatinė stimuliacija
                    </li>
                    <li>
                        C. Padidėjęs sisteminis kraujagyslių rezistentiškumas
                    </li>
                    <li>
                        D. Masyvus kraujagyslių išsiplėtimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.4</b> Streso metu padidėjusi adrenalino sekrecija sukelia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėja širdies susitraukimų dažnis ir arterinis kraujospūdis
                    </li>
                    <li>
                        B. Bronchų ir raumenų kraujagyslių išsiplėtimą
                    </li>
                    <li>
                        C. Kraujagyslių susitraukimą daugelyje kūno dalių
                    </li>
                    <li>
                        D. Visus aukščiau išvardintus reiškinius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.5</b> Kur paprastai įstrigs embolas iš kojų venų?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Smegenyse
                    </li>
                    <li>
                        B. Plaučiuose
                    </li>
                    <li>
                        C. Vainikinėse kraujagyslėse
                    </li>
                    <li>
                        D. Bet kuriame vidaus organe
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.6</b> Kurio tipo šokas nėra sisijęs su mažu sisteminiu kraujagyslių rezistentiškumu?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sepsinis
                    </li>
                    <li>
                        B. Neurogeninis
                    </li>
                    <li>
                        C. Anafilaksisnis
                    </li>
                    <li>
                        D. Kardiogeninis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.7</b> Kas yra mikrocirkuliacijos funkcinis vienetas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Arteriolė
                    </li>
                    <li>
                        B. Venulė
                    </li>
                    <li>
                        C. Kapiliaronas
                    </li>
                    <li>
                        D. Kapiliaras
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.8</b> Kuris elektrolitų disbalansas gali turėti įtakos edemos formavimuisi: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipokalemija 
                    </li>
                    <li>
                        B. Hiperkalcemija
                    </li>
                    <li>
                        C. Hipofosfatemija
                    </li>
                    <li>
                        D. Hipernatremija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.9</b> Kurio tipo padidėjusio jautrumo reakcijų metu atsakas priklauso nuo T ląstelių:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. I-ojo tipo hipererginės reakcijos
                    </li>
                    <li>
                        B. II-ojo tipo hipererginės reakcijos
                    </li>
                    <li>
                        C. III-ojo tipo hipererginės reakcijos
                    </li>
                    <li>
                        D. IV-ojo tipo hipererginės reakcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.10</b> Kurie išvardinti virusai nesusiję su piktybinių navikų išsivystymu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Epštein- Bar virusas
                    </li>
                    <li>
                        B. Hepatito B virusas
                    </li>
                    <li>
                        C. Hepatito A virusas
                    </li>
                    <li>
                        D. Žmogaus papilomos virusas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.11</b> Kurie išvardinti genai savo įprastoje būklėje neigiamai veikia ląstelės proliferaciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Onkogenai
                    </li>
                    <li>
                        B. Navikų supresijos genai
                    </li>
                    <li>
                        C. Proto-onkogenai
                    </li>
                    <li>
                        D. Telomeros
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.12</b> Kurio tipo padidėjusio jautrumo reakcijų metu atsakas priklauso nuo IgE:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. I-ojo tipo padidėjusio jautumo reakcijos
                    </li>
                    <li>
                        B. II-ojo tipo padidėjusio jautumo reakcijos
                    </li>
                    <li>
                        C. III-ojo tipo padidėjusio jautumo reakcijos
                    </li>
                    <li>
                        D. IV-ojo tipo padidėjusio jautumo reakcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.13</b> Kas yra ląsteliniai uždegimo mediatoriai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Histaminas ir prostaglandinai
                    </li>
                    <li>
                        B. Komplemento sistema
                    </li>
                    <li>
                        C. Hagemano faktorius
                    </li>
                    <li>
                        D. Kraujo kininų sistema
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.14</b> Kas yra humoraliniai (kraujo plazmos) uždegimo mediatoriai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Leukotrienai
                    </li>
                    <li>
                        B. Eozinofilų chemotaksio faktorius
                    </li>
                    <li>
                        C. Kininai, komplemento ir kraujo krešėjimo sistemos
                    </li>
                    <li>
                        D. Histaminas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.15</b> Kas atsitinka staiga sumažėjus atmosferos slėgiui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dujų embolija 
                    </li>
                    <li>
                        B. Trombozė
                    </li>
                    <li>
                        C. Dujų saturacija 
                    </li>
                    <li>
                        D. Riebalinė embolija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.16</b> Kuri priežastis nėra susijusi su edemos formavimusi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sumažėjęs hidrostatinis slėgis kapiliaruose
                    </li>
                    <li>
                        B. Sumžėjęs plazmos onkotinis slėgis
                    </li>
                    <li>
                        C. Padidėję kapiliarų sienelės pralaidumas
                    </li>
                    <li>
                        D. Limfagyslių obstrukcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.17</b> Kuris teiginys teisingiausiai apibūdina naviko metastazes:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Histologiškai jos skiriasi nuo pirminio naviko
                    </li>
                    <li>
                        B. Iš pirminio židinio  jos plinta tik į vieną kitą židinį
                    </li>
                    <li>
                        C. Jos išsivyto esant piktybiniams ir gėrybiniams navikams 
                    </li>
                    <li>
                        D. Jų buvimas nusako blogesnę prognozę nei jų nesant
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.18</b> Kuris teiginys teisingiausiai apibūdina aldosteroną:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tai hormonas, kuris išsiskiria sumažėjus natrio kiekiui kraujo plazmoje
                    </li>
                    <li>
                        B. Tai hormonas, kuris išsiskiria sumažėjus kalio kiekiui kraujo plazmoje
                    </li>
                    <li>
                        C. Jis veikia mažindamas natrio išsaugojimą organizme
                    </li>
                    <li>
                        D. Jis veikia mažindamas kalio išskyrimą iš organizmo 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.19</b> Kuri priežastis nesukelia širdies homeometrinio kompensacijos me­chanizmo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Arterinė hipertenzija
                    </li>
                    <li>
                        B. Širdies angų stenozė
                    </li>
                    <li>
                        C. Aortos aterosklerozė
                    </li>
                    <li>
                        D. Širdies vožtuvų nesandarumas
                    </li>
                    <li>
                        E. Padidėjęs arterijų pasipriešinimas kraujo tekėjimui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.20</b> Kuri priežastis nesukelia širdies heterometrinio kompensacijos mecha­nizmo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdies vožtuvų nesandarumas
                    </li>
                    <li>
                        B. Eritremija
                    </li>
                    <li>
                        C. Cirkuliuojančio kraujo tūrio padidėjimas
                    </li>
                    <li>
                        D. Širdies angų stenozės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.21</b> Ligoniui diagnozuotas atrofinis gastritas. Kuri iš žemiau išvardintų anemijų yra su juo susijusi?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Geležies stokos anemija
                    </li>
                    <li>
                        B. Aplastinė anemija
                    </li>
                    <li>
                        C. Vit B12 stokos anemija
                    </li>
                    <li>
                        D. Hemolizinė anemija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.22</b> Kuris teiginys apie vandens balansą yra teisingiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Izotoniniai skysčiai didina ląstelių pabrinkimą
                    </li>
                    <li>
                        B. Hipertoniniai skysčiai didina ląstelių pabrinkimą
                    </li>
                    <li>
                        C. Hipotoniniai skysčiai sukelia ląstelių pabrinkimą 
                    </li>
                    <li>
                        D. Hipernatremija sukelia ląstelių pabrinkimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.23</b> Visos išvardintos būklės būdingos galutinei inkstų funkcijos nepakankamumo stadijai, išskyrus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdies nepakankamumas
                    </li>
                    <li>
                        B. Hipokalemija
                    </li>
                    <li>
                        C. Plaučių edema
                    </li>
                    <li>
                        D. Anemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.24</b> Kokio tipo hipoksija vystosi esant smarkiam viduriavimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aneminė
                    </li>
                    <li>
                        B. Histotoksinė
                    </li>
                    <li>
                        C. Cirkuliacinė
                    </li>
                    <li>
                        D. Respiracinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.25</b> Kurio tipo šokas NĖRA susijęs su sumažėjusiu kraujo tūriu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šokas po nukraujavimo
                    </li>
                    <li>
                        B. Kardiogeninis šokas
                    </li>
                    <li>
                        C. Šokas po vėmimo
                    </li>
                    <li>
                        D. Hipovoleminis šokas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.26</b> Padidėjęs gliukokortikoidų kiekis nustatomas esant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Greivso ligai
                    </li>
                    <li>
                        B. Adisono ligai
                    </li>
                    <li>
                        C. Kušingo sindromui
                    </li>
                    <li>
                        D. Gūžiui 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.27</b> Kuris terminas apibūdina situaciją, kuomet kraujagyslė užkemšama cirkuliuojančio kraujyje kokios nors medžiagos rutuliuko (boliuso):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trombozė
                    </li>
                    <li>
                        B. Embolizmas
                    </li>
                    <li>
                        C. Troboflebitas
                    </li>
                    <li>
                        D. Putotųjų ląstelių susikaupimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.28</b> Necukrinis diabetas vystosi esant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Isulino hiposekrecijai
                    </li>
                    <li>
                        B. Insulino hipersekrecijai
                    </li>
                    <li>
                        C. Aldosterono hiposekrecijai
                    </li>
                    <li>
                        D. ADH hipersekrecijai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.29</b> Kuris perniciozinės (piktybinės) arba Adisono-Birmerio anemijos atsiradimo patogenezės veiksnys yra esminis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vit. B12 stoka maiste
                    </li>
                    <li>
                        B. Sutrikęs vit. B12 jungimasis su gastromukoproteinu (Kastlio veiksnys)
                    </li>
                    <li>
                        C. Sutrikęs vit. B12 aktyvinimas foline rūgštimi
                    </li>
                    <li>
                        D. Sutrkęs vit.B12 transportas (Transkobalaminas I ir II)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.30</b> Autoimuninė liga, kurios metu antikūnai imituoja TSH veikimą, yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Miksedema
                    </li>
                    <li>
                        B. Kretinizmas
                    </li>
                    <li>
                        C. Akromegalija
                    </li>
                    <li>
                        D. Kušingo liga/sindromas
                    </li>
                    <li>
                        E. Greivso liga
                    </li>
                    <li>
                        F. Kušingo liga/sindromas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.31</b> Kas didina vandens ir natrio jonų reabsorbciją inkstų kanalėliuose:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aldosterono hiposekrecija
                    </li>
                    <li>
                        B. Aldosterono hipersekrecija
                    </li>
                    <li>
                        C. Osmosinė diurezė (esant gliukozurijai)
                    </li>
                    <li>
                        D. Vasopresino hiposekrecija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.32</b> Kuris reiškinys būna didelės gliukozurijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Oligurija
                    </li>
                    <li>
                        B. Poliurija
                    </li>
                    <li>
                        C. Anurija
                    </li>
                    <li>
                        D. Hematurija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.33</b> Kuri Kušingo sindromo išsivystymo priežastis yra esminė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vazopresino hiposekrecija
                    </li>
                    <li>
                        B. Gliukokortikoidų hipersekrecija
                    </li>
                    <li>
                        C. Somatotropino hiposekrecija
                    </li>
                    <li>
                        D. Mineralkortikoidų hipersekrecija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.34</b> Kuris teiginys teisingiausiai apibūdina adrenalino efektus bendrinio adaptacijos sindromo aliarmo stadijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdies ritmas suretėja
                    </li>
                    <li>
                        B. Mažėja širdies kontraktiliškumas
                    </li>
                    <li>
                        C. Susitraukia skersaruožių raumenų kraujagyslės
                    </li>
                    <li>
                        D. Išsivysto laikina hiperglikemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.35</b> Kokio tipo hipoksija vystosi esant sumažėjusiam atmosferos slėgiui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aneminė
                    </li>
                    <li>
                        B. Hipoksinė
                    </li>
                    <li>
                        C. Cirkuliacinė
                    </li>
                    <li>
                        D. Respiracinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.36</b> Kuri iš išvardintų nėra bendrinio adaptacijos sindromo stadija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aliarmo stadija
                    </li>
                    <li>
                        B. Adaptacijos arba rezistentiškumo stadija
                    </li>
                    <li>
                        C. Baigties stadija
                    </li>
                    <li>
                        D. Išsekimo stadija
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>9.37</b> Kokią įtaką atsirasti skrandžio opai turi šie veiksniai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Skrandžio sulčių rūgštingumo padidėjimas
                    </li>
                    <li>
                        2 - Skrandžio gleivinės kraujotakos sutrikimai
                    </li>
                    <li>
                        3 - Prostaglandinai E1 ir E2
                    </li>
                    <li>
                        4 - Tulžies rūgštys
                    </li>
                    <li>
                        5 - Salicilatai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Slopina
                    </li>
                    <li>
                        B. Skatina
                    </li>
                    <li>
                        C. Neturi įtakos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.39</b> Kokios yra esminės koronarogeninio ir nekoronarogeninio miokardo pažeidimo priežastys</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Anemija
                    </li>
                    <li>
                        2 - Imuninis miokardo pažeidimas
                    </li>
                    <li>
                        3 - Hipernatremija ir hiperaldosteronizmas
                    </li>
                    <li>
                        4 - Hipoglikemija
                    </li>
                    <li>
                        5 - Hipoksinė hipoksija
                    </li>
                    <li>
                        6 - Arterinė hipotenzija
                    </li>
                    <li>
                        7 - Katecholaminų hipersekrecija
                    </li>
                    <li>
                        8 - Vainikinių arterijų sienos aterosklerozė
                    </li>
                    <li>
                        9 - Simpatinės nervų sistemos aktyvumo padidėjimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Koronarogeninės
                    </li>
                    <li>
                        B. Nekoronarogeninės
                    </li>
                    <li>
                        C. Mišrios
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.40</b> Kurie esminiai patogenezės veiksniai sukelia atitinkamus bendruosius uždegimo reiškinius</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Karščiavimas
                    </li>
                    <li>
                        2 - Leukocitozė ir fagocitozė
                    </li>
                    <li>
                        3 - ENG padidėjimas
                    </li>
                    <li>
                        4 - Hiperglobulinemija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Eritrocitų elektrostatinio krūvio sumažėjimas
                    </li>
                    <li>
                        B. Leukopoezės suintensyvėjimas
                    </li>
                    <li>
                        C. Pirogenų veikimas
                    </li>
                    <li>
                        D. Specifinis imuninis atsakas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.42</b> Kurios priežastys sukelia nurodytą dusulio formą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Bronchinė astma
                    </li>
                    <li>
                        2 - Plaučių emfizema
                    </li>
                    <li>
                        3 - Viršutinių kvėpavimo takų susiaurėjimas
                    </li>
                    <li>
                        4 - Plaučių uždegimas
                    </li>
                    <li>
                        5 - Anemija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ekspiracinis dusulys
                    </li>
                    <li>
                        B. Inspiracinis dusulys
                    </li>
                    <li>
                        C. Dažnas paviršutinis kvėpavimas
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>9.43 </b> Kokios yra lėtinio inkstų funkcijos nepakankamumo komplikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Anemija
                    </li>
                    <li>
                        2. Hiperkalemija
                    </li>
                    <li>
                        3. Osteomaliacija
                    </li>
                    <li>
                        4. Perikarditas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.44 </b> Kodėl vystosi osteodistrofija esant lėtiniam inkstų funkcijos nepakankamumui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sumažėja Ca resorbcija iš žarnyno
                    </li>
                    <li>
                        2. Dėl padidėjusio paratiroidinio hormono išsiskyrimo stimuliuojami osteoklastai
                    </li>
                    <li>
                        3. Sumažėja vittamino D aktyvinimas inkstuose
                    </li>
                    <li>
                        4. Padidėja kalcio išskyrimas per inkstus
                    </li>
                    <li>
                        5. Sumažėjęs fosfatų kiekis plazmoje slopina osteoblastų aktyvumą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.45 </b> Kas lemia ascito išsivytymą esant kepenų cirozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Inkstų veiklos sutrikimas
                    </li>
                    <li>
                        2. Sumažėjęs albuminų kiekis kraujo plazmoje
                    </li>
                    <li>
                        3. Padidėjęs cirkuliuojančio kraujo tūris
                    </li>
                    <li>
                        4. Portalinė hipertenzija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.46 </b> Kaip kinta O₂ ir CO₂ apykaita tarp kraujo ir audinių didelės hiperbarinės (virš 3 atmosf.) hiperoksijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Audiniai vartoja oksihemoglobino O₂
                    </li>
                    <li>
                        2. Audiniai vartoja plazmos O₂
                    </li>
                    <li>
                        3. CO₂ išnešimas iš audinių nekinta
                    </li>
                    <li>
                        4. CO₂ kaupiasi audiniuose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.47 </b> Kurie kompensaciniai mechanizmai inicijuojami pradinėje hipovolemijos stadijoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Padidėja antidiuretinio hormono sekrecija
                    </li>
                    <li>
                        2. Padidėja antinksčių šerdinės ir žievinės dalies hormonų sekrecija
                    </li>
                    <li>
                        3. Aktyvinama simpatinė nervų sistema
                    </li>
                    <li>
                        4. Sumažėja renino sekrecija
                    </li>
                    <li>
                        5. Generalizuota vasodilatacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.48 </b> Kas sukelia gliukozės kiekio kraujyje padidėjimą streso metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Adrenalinas
                    </li>
                    <li>
                        2. Skydliaukės hormonas
                    </li>
                    <li>
                        3. Kortizolis
                    </li>
                    <li>
                        4. Augimo hormonas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.49 </b> Koks yra teigiamas arterinės hiperemijos poveikis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gerėja aprūpinimas krauju 
                    </li>
                    <li>
                        2. Izoliuojami mikroorganizmai
                    </li>
                    <li>
                        3. Daugiau deguonies
                    </li>
                    <li>
                        4. Vystosi hipoksija
                    </li>
                    <li>
                        5. Lokaliai mažėja medžiagų apykaita
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.50 </b> Kokios yra neurogeninio šoko priežastys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sumažėja kraujo tūris
                    </li>
                    <li>
                        2. Padidėja kraujagyslių sisteminis rezistentiškumas
                    </li>
                    <li>
                        3. padidėja simpatinė stimuliacija
                    </li>
                    <li>
                        4. Masyvi vasodilatacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.51 </b> Kurie poveikiai nebūdingi histaminui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sukelia pabrinkimą
                    </li>
                    <li>
                        2. Mažina kraujagyslių pralaidumą 
                    </li>
                    <li>
                        3. Didina krajo pritekėjimą į paveiktą vietą
                    </li>
                    <li>
                        4. Atpalaiduoja bronchų lygiuosius raumenis 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.52 </b> Kuriais atvejais mažėja nefrono kamuolėlių filtracijos funkcija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nudegiminės ligos metu
                    </li>
                    <li>
                        2. Vystantis edemoms
                    </li>
                    <li>
                        3. Hiperproteinemijos atveju
                    </li>
                    <li>
                        4. Rezorbuojantis transudatams
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.53 </b> Kuriais atvejais intensyvėja nefrono kamuolėlių filtracijos funkcija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Padidėjus inkstų kamuolėlių hidrostatiniam slėgiui
                    </li>
                    <li>
                        2. Rezorbuojantis transudatams
                    </li>
                    <li>
                        3. Sumažėjus kraujo onkotiniam slėgiui
                    </li>
                    <li>
                        4. Padidėjus slėgiui kamuolėlių kapsulėje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.54 </b> Kurie teiginiai teisingiausiai apibūdina I-ojo tipo cukrinį diabetą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tai yra autoimuninis susirgimas
                    </li>
                    <li>
                        2. Susergama paprastai vaikystėja ar paauglystėje
                    </li>
                    <li>
                        3. Būna absoliutus insulino trūkumas 
                    </li>
                    <li>
                        4. Sergntieji paprastai turi viršsvorį
                    </li>
                    <li>
                        5. Siptomai ryškėja palaipsniui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.55 </b> Koks yra teigiamas veninės hiperemijos poveikis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Issoliuojami mikroorganizmai
                    </li>
                    <li>
                        2. Vystosi hipoksija
                    </li>
                    <li>
                        3. Leukocitų migracija
                    </li>
                    <li>
                        4. Geresnis aprūpinimas krauju 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.56 </b> Kas stimuliuoja renino-angiotenzino-aldosterono sistemą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sumažėjęs kraujo patekimas į inkstus
                    </li>
                    <li>
                        2. Padidėjęs ekstraceliulinio skysčio kiekis organizme
                    </li>
                    <li>
                        3. Sumažėjęs ekstraceliulinio skysčio kiekis organizme
                    </li>
                    <li>
                        4. Padidėjęs kraujo patekimas į inkstus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.57 </b> Veninę hiperemiją gali sukelti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Venos užspaudimas
                    </li>
                    <li>
                        2. Embolo įstrigimas arterijoje
                    </li>
                    <li>
                        3. Venos trombozė 
                    </li>
                    <li>
                        4. Arterijos ligiųjų raumenų konstrikcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.58 </b> Nuo ko priklauso edemos išsivystymas inkstų funkcijos nepakankamumo metu esant proteinurijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Natrio susilaikymas
                    </li>
                    <li>
                        2. Plazmos albuminų kiekio sumažėjimas
                    </li>
                    <li>
                        3. Sumažėjusi skysčių filtracija
                    </li>
                    <li>
                        4. Hipovolemija 
                    </li>
                    <li>
                        5. Portalinė hipertenzija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.59 </b> Kurie reiškiniai būna policiteminės hipovolemijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Santykinė policitemija
                    </li>
                    <li>
                        2. Sumažėjęs hematokritas
                    </li>
                    <li>
                        3. Padidėjęs hematokritas
                    </li>
                    <li>
                        4. Absoliuti policitemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.60 </b> Kurio tipo šokas yra susijęs su mažu sisteminiu kraujagyslių resistentiškumu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Septinis 
                    </li>
                    <li>
                        2. Neurogeninis
                    </li>
                    <li>
                        3. Anafilaksinis
                    </li>
                    <li>
                        4. Kardiogeninis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.61 </b> Kurie pateikti teiginiai apie leukemines blastines ląsteles yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Blastinių ląstelių buvimas patvirtina leukemijos diagnozę
                    </li>
                    <li>
                        2. Periferiniame kraujyje jų yra daugiau esant ūminei leukemijai nei lėtinei leukemijai
                    </li>
                    <li>
                        3. Jos gali infiltruoti limfoidinius ir kitus organizmo audinius
                    </li>
                    <li>
                        4. Blastinės ląstelės funkciškai yra normalios
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>9.62 </b> Kurie požymiai yra būdingi pirminiam aldosteronizmui (Kono ligai):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Arterinė hipertenzija
                    </li>
                    <li>
                        2. Hipokalemija
                    </li>
                    <li>
                        3. Hipernatremija
                    </li>
                    <li>
                        4. Renino hipersekrecija
                    </li>
            </ul>
        </li>
    </ul>


<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>9.1 - 

                A
            </td>
            <td>9.2 - 

                B
            </td>
            <td>9.3 - 

                D
            </td>
            <td>9.4 - 

                D
            </td>
            <td>9.5 - 

                B
            </td>
            <td>9.6 - 

                D
            </td>
            <td>9.7 - 

                C
            </td>
            <td>9.8 - 

                D
            </td>
                </tr><tr>
            <td>9.9 - 

                D
            </td>
            <td>9.10 - 

                C
            </td>
            <td>9.11 - 

                B
            </td>
            <td>9.12 - 

                A
            </td>
            <td>9.13 - 

                A
            </td>
            <td>9.14 - 

                C
            </td>
            <td>9.15 - 

                A
            </td>
            <td>9.16 - 

                A
            </td>
                </tr><tr>
            <td>9.17 - 

                D
            </td>
            <td>9.18 - 

                A
            </td>
            <td>9.19 - 

                D
            </td>
            <td>9.20 - 

                D
            </td>
            <td>9.21 - 

                C
            </td>
            <td>9.22 - 

                C
            </td>
            <td>9.23 - 

                B
            </td>
            <td>9.24 - 

                C
            </td>
                </tr><tr>
            <td>9.25 - 

                B
            </td>
            <td>9.26 - 

                C
            </td>
            <td>9.27 - 

                B
            </td>
            <td>9.28 - 

                D
            </td>
            <td>9.29 - 

                B
            </td>
            <td>9.30 - 

                E
            </td>
            <td>9.31 - 

                B
            </td>
            <td>9.32 - 

                B
            </td>
                </tr><tr>
            <td>9.33 - 

                B
            </td>
            <td>9.34 - 

                D
            </td>
            <td>9.35 - 

                B
            </td>
            <td>9.36 - 

                C
            </td>
                </tr><tr>
            <td>9.37
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - B </li>
                <li>5 - B </li>
            </ul></td>
            <td>9.39
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - B </li>
                <li>4 - B </li>
                <li>5 - B </li>
                <li>6 - B </li>
                <li>7 - B </li>
                <li>8 - A </li>
                <li>9 - B </li>
            </ul></td>
            <td>9.40
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
            <td>9.42
            <ul>
                <li>1 - A </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - C </li>
                <li>5 - C </li>
            </ul></td>
                </tr><tr>
            <td>9.43
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>9.44
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>9.45
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>9.46
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>9.47
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>9.48
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>9.49
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>9.50
            <ul>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>9.51
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>9.52
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>9.53
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>9.54
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>9.55
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>9.56
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>9.57
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>9.58
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>9.59
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>9.60
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>9.61
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>9.62
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>

</tr></tbody></table></div>