<div class="Centre Kategorija">Profilaktinė medicina</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>43.1</b> Kaip suprantama populiacinė strategija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Visų gyventojų sveikatos patikrinimas
                    </li>
                    <li>
                        B. Sveikos gyvensenos ugdymas ir pirminės profilaktikos priemonių taikymas visai populiacijai, siekiant sumažinti rizika sirgti
                    </li>
                    <li>
                        C. Sveikos gyvensenos propagavimas per žiniasklaidą
                    </li>
                    <li>
                        D. Pirminės profilaktikos priemonių taikymas tik asmenims su lėtinių neinfekcinių ligų rizikos veiksniais
                    </li>
                    <li>
                        E. Tik asmenų, besilankančių gydymo-profilaktikos įstaigose, sveikatos mokymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.2</b> Kaip suprantama padidėjusios rizikos strategija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ankstyva lėtinių ligų diagnostika
                    </li>
                    <li>
                        B. Ankstyvas rizikos veiksnių nustatymas ir jų koregavimas, siekiant išvengti lėtinių ligų atsiradimo
                    </li>
                    <li>
                        C. Lėtinių ligų pradinių stadijų gydymas
                    </li>
                    <li>
                        D. Rizikos veiksnių nustatymas
                    </li>
                    <li>
                        E. Visų lėtinėmis ligomis sergančių gyventojų stebėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.3</b> Kuri strategija (populiacinė ar padidėjusios rizikos) ir kodėl yra efektyvesnė gyventojų sergamumo ir mirtingumo nuo lėtinių ligų mažinimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėjusios rizikos strategija, nes tikslingiau panaudojamos lėšos, skirtos gyventojų medicininiam aptarnavimui
                    </li>
                    <li>
                        B. Populiacinė strategija, nes taikomos priemonės padeda išaiškinti visus lėtinėmis ligomis sergančius ligonius
                    </li>
                    <li>
                        C. Padidėjusios rizikos strategija, nes profilaktinės priemonės taikomos tik tiems asmenims, kurie turi didžiausią riziką susirgti lėtinėmis ligomis
                    </li>
                    <li>
                        D. Populiacinė strategija, nes taikomos profilaktinės priemonės visiems gyventojams apsaugo juos nuo rizikos veiksnių atsiradimo ir sumažina riziką susirgti lėtinėmis ligomis
                    </li>
                    <li>
                        E. Populiacinė strategija, nes išaiškinami visi turintys rizikos veiksnius asmenys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.4</b> Ko nerekomenduojama vėžio profilaktikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atsisakyti rūkymo ir vengti alkoholio
                    </li>
                    <li>
                        B. Vengti tiesioginių saulės spindulių ir laikytis darbo saugumo taisyklių
                    </li>
                    <li>
                        C. Stengtis nenutukti
                    </li>
                    <li>
                        D. Vartoti vitaminus ir kitus maisto papildus
                    </li>
                    <li>
                        E. Kasdien valgyti daržoves ir vaisius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.5</b> Kuris profilaktinio patikrinimo (patikros)apibūdinimas yra teisingiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žmonių, sergančių tam tikra liga, reguliarus sveikatos patikrinimas
                    </li>
                    <li>
                        B. Žmonių, kuriems nustatyti rizikos veiksniai, kasmetinis sveikatos patikrinimas
                    </li>
                    <li>
                        C. Didelės žmonių grupės tyrimas, kuriuo nustatoma anksčiau nediagnozuotos ligos ir rizikos veiksniai, taikant nesudėtingus tyrimo metodus
                    </li>
                    <li>
                        D. Tam tikrų socialinių grupių gyventojų sveikatos patikrinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.6</b> Kokia pagrindinė nutukimo plitimo priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Genetiniai veiksniai
                    </li>
                    <li>
                        B. Energijos perteklius dėl gausios mitybos ir mažėjančio fizinio aktyvumo
                    </li>
                    <li>
                        C. Ligų, skatinančių nutukimą, plitimas
                    </li>
                    <li>
                        D. Hormonų  ir kitų vaistų, skatinančių svorio didėjimą, vartojimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.7</b> Kuris veiksnys labiausiai didina cholesterolio koncentraciją kraujyje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Maisto cholesterolis
                    </li>
                    <li>
                        B. Sočios riebalų rūgštys
                    </li>
                    <li>
                        C. Per didelė maisto energetinė vertė
                    </li>
                    <li>
                        D. Bendras riebalų kiekis maisto davinyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.8</b> Ko nereikėtų rekomenduoti Lietuvos gyventojams siekiant pagerinti jų mitybą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Daugiau vartoti daržovių ir vaisių
                    </li>
                    <li>
                        B. Mažiau vartoti gyvulinių riebalų
                    </li>
                    <li>
                        C. Daugiau valgyti mėsos ir pieno produktų, kad netrūktų baltymų
                    </li>
                    <li>
                        D. Mažiau vartoti didelės energetinės vertės produktų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.9</b> Su kurios lokalizacijos piktybiniais navikais nesusijęs nutukimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Storosios žarnos
                    </li>
                    <li>
                        B. Gimdos gleivinės
                    </li>
                    <li>
                        C. Skrandžio
                    </li>
                    <li>
                        D. Inkstų
                    </li>
                    <li>
                        E. Krūties vėžiu po menopauzės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.10</b> Kuri priemonė kovojant prieš rizikingo alkoholio vartojimo plitimą mūsų šalyje gali būti efektyviausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sveikatos mokymas ir alkoholio socialinė reklama
                    </li>
                    <li>
                        B. Alkoholinių gėrimų kainų didinimas
                    </li>
                    <li>
                        C. Griežtas draudimas vartoti alkoholinius gėrimus
                    </li>
                    <li>
                        D. Įstatyminės priemonės, reglamentuojančios prekybą alkoholiniais gėrimais bei jų vartojimą, derinyje su sveikatos mokymu
                    </li>
                    <li>
                        E. Specializuota nemokama medicininė pagalba
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.11</b> Kuri hipertenzijos kontrolės visuomenėje strategija yra pagrindinė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Visuotiniai sveikatos patikrinimai
                    </li>
                    <li>
                        B. Pirminė hipertenzijos profilaktika
                    </li>
                    <li>
                        C. Ankstyvas hipertenzijos nustatymas ir gydymas
                    </li>
                    <li>
                        D. Turinčių padidėjusį AKS asmenų mokymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.12</b> Kuris rūkymo paplitimo mažinimo būdas yra svarbiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sveikatos mokymas ir pagalba metantiems rūkyti
                    </li>
                    <li>
                        B. Įstatyminių, medicininių, ugdymo bei visuomeninio poveikio priemonių kompleksas
                    </li>
                    <li>
                        C. Visiškas rūkalų reklamos uždraudimas ir rūkymo apribojimas viešose vietose
                    </li>
                    <li>
                        D. Rūkymo profilaktikos programos įgyvendinimas mokyklose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.13</b> Kuri sėkmingo metimo rūkyti sąlyga yra svarbiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pakankamas pakaitinės nikotino terapijos kursas
                    </li>
                    <li>
                        B. Artimųjų ir draugų parama
                    </li>
                    <li>
                        C. Motyvuotas noras mesti rūkyti
                    </li>
                    <li>
                        D. Pakartotini apsilankymai pas gydytoją (atkryčio profilaktika)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.14</b> Kuris laboratorinis tyrimas turėtų būti atliekamas vidutinio amžiaus žmogui profilaktinio patikrinimo metu: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bendro kraujo tyrimo
                    </li>
                    <li>
                        B. Šlapimo tyrimo
                    </li>
                    <li>
                        C. Cholesterolio koncentracijos kraujyje tyrimo.
                    </li>
                    <li>
                        D. Šlapalo koncentracijos kraujyje tyrimo
                    </li>
                    <li>
                        E. Kalio koncentracijos kraujyje tyrimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.39</b> Kuris AKS vertinimas kaip padidėjęs:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sistolinis AKS &gt;=140 mmHg ir/arba diastolinis AKS  &gt;= 90 mmHg
                    </li>
                    <li>
                        B. Sistolinis AKS &gt;=160 mmHg ir/arba diastolinis AKS  &gt;= 95 mmHg
                    </li>
                    <li>
                        C. Sistolinis AKS &gt;= 140 mmHg ir/arba diastolinis AKS  &gt;= 100 mmHg
                    </li>
                    <li>
                        D. Sistolinis AKS &gt;=170 mmHg ir/arba diastolinis AKS  &gt;=100 mmHg
                    </li>
                    <li>
                        E. Sistolinis AKS&gt;= 175 mmHg ir/arba diastolinis AKS &gt;=105 mmHg
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>43.15</b> Kaip išvardintos maisto medžiagos keičia mažo tankio lipoproteinų cholesterolio koncentraciją</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Trans riebalų rūgštys
                    </li>
                    <li>
                        2 - Maisto cholesterolis
                    </li>
                    <li>
                        3 - N 6 polinesočiosios riebalų rūgštys
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Didina
                    </li>
                    <li>
                        B. Mažina
                    </li>
                    <li>
                        C. Nekeičia
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.16</b> Koks yra ryšys tarp arterinio kraujospūdžio ir išvardintų veiksnių pokyčių</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kūno masės didėjimas
                    </li>
                    <li>
                        2 - Natrio (valgomosios druskos) vartojimo mažėjimas
                    </li>
                    <li>
                        3 - Cukraus vartojimo didėjimas
                    </li>
                    <li>
                        4 - Alkoholio vartojimo mažėjimas
                    </li>
                    <li>
                        5 - Fizinio aktyvumo mažėjimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Didina AKS
                    </li>
                    <li>
                        B. Mažina AKS
                    </li>
                    <li>
                        C. Neturi poveikio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.17</b> Kurį iš nurodytų rizikos veiksnių reguliuojant labiausiai galima sumažinti išvardintų ligų atsiradimą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Smegenų insultas
                    </li>
                    <li>
                        2 - Storosios žarnos vėžys
                    </li>
                    <li>
                        3 - Cukrinis diabetas
                    </li>
                    <li>
                        4 - Lėtinis bronchitas
                    </li>
                    <li>
                        5 - Dantų ėduonis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Cukraus vartojimas
                    </li>
                    <li>
                        B. Rūkymas
                    </li>
                    <li>
                        C. Nutukimas
                    </li>
                    <li>
                        D. Padidėjęs AKS
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.18</b> Kuriai narkotikų grupei priskiriamos išvardintos medžiagos</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Benzodiazepinai
                    </li>
                    <li>
                        2 - Haliucinogenai
                    </li>
                    <li>
                        3 - Opiatai
                    </li>
                    <li>
                        4 - Psichostimuliatoriai
                    </li>
                    <li>
                        5 - Tirpikliai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kodeinas
                    </li>
                    <li>
                        B. Acetonas
                    </li>
                    <li>
                        C. Diazepamas
                    </li>
                    <li>
                        D. LSD
                    </li>
                    <li>
                        E. Kokaino hidrochloridas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.19</b> Kuriai arterinės hipertenzijos profilaktikos rūšiai priskirtumėte išvardintas veiklas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ankstyvas hipertenzijos nustatymas
                    </li>
                    <li>
                        2 - Persirgusių insultu reabilitacija
                    </li>
                    <li>
                        3 - Nutukimo profilaktika
                    </li>
                    <li>
                        4 - Rizikos veiksnių korekcija sergantiems hipertenzija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Pirminė profilaktika
                    </li>
                    <li>
                        B. Antrinė profilaktika
                    </li>
                    <li>
                        C. Tretinė profilaktika
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.20</b> Kurios ligos atsiradimą skatina kiekviena tabako dūmuose esanti medžiaga</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Anglies monoksidas
                    </li>
                    <li>
                        2 - Dervos
                    </li>
                    <li>
                        3 - Nikotinas
                    </li>
                    <li>
                        4 - Lakios dirginančios medžiagos
                    </li>
                    <li>
                        5 - Radioaktyvūs elementai
                    </li>
                    <li>
                        6 - Aromatiniai angliavandeniliai
                    </li>
                    <li>
                        7 - Nitrozaminai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ischeminė širdies liga
                    </li>
                    <li>
                        B. Vėžys
                    </li>
                    <li>
                        C. Lėtinis bronchitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.21</b> Sudėkite išvardintas maisto produktų grupes į Lietuvos sveikos mitybos piramidę</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vaisiai ir daržovės
                    </li>
                    <li>
                        2 - Mėsos ir pieno produktai
                    </li>
                    <li>
                        3 - Saldumynai ir riebalai
                    </li>
                    <li>
                        4 - Grūdiniai produktai ir bulvės
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Piramidės pagrindas
                    </li>
                    <li>
                        B. Vidurinė dalis
                    </li>
                    <li>
                        C. Piramidės viršūnė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.43</b> Lyginant su PSO sveikos mitybos rekomendacijomis, kiek vidutiniame Lietuvos gyventojų maisto davinyje yra šių maisto medžiagų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Riebalų
                    </li>
                    <li>
                        2 - Sočių riebalų rūgščių
                    </li>
                    <li>
                        3 - Baltymų
                    </li>
                    <li>
                        4 - Folio rūgšties
                    </li>
                    <li>
                        5 - Maistinių skaidulų
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Per mažai
                    </li>
                    <li>
                        B. Per daug
                    </li>
                    <li>
                        C. Pakankamas kiekis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.44</b> Koks yra ryšys tarp arterinio kraujospūdžio ir išvardintų veiksnių pokyčių:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kūno masės didėjimas
                    </li>
                    <li>
                        2 - Natrio (valgomosios druskos) vartojimo mažėjimas
                    </li>
                    <li>
                        3 - Cukraus vartojimo didėjimas
                    </li>
                    <li>
                        4 - Alkoholio vartojimo mažėjimas
                    </li>
                    <li>
                        5 - Fizinio aktyvumo mažėjimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Didina AKS
                    </li>
                    <li>
                        B. Mažina AKS
                    </li>
                    <li>
                        C. Neturi poveikio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.45</b> Kuriam priklausomybės tipui būdingas kiekvienas nurodytas požymis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Dažniausiai rūkoma darbe ar draugijoje
                    </li>
                    <li>
                        2 - Rūkymas iš ryto, nevalgius
                    </li>
                    <li>
                        3 - Ne daug ir įvairių cigarečių rūkymas
                    </li>
                    <li>
                        4 - Automatinis rūkymas (dažnai nepastebi kada užsirūko)
                    </li>
                    <li>
                        5 - Intensyvus ir nepriklausantis nuo situacijos rūkymas
                    </li>
                    <li>
                        6 - Nerūkyti kelias valandas sunku
                    </li>
                    <li>
                        7 - Nevienodas, priklausantis nuo aplinkos ir situacijos rūkymas
                    </li>
                    <li>
                        8 - Kurį laiką nerūkius, nuolat prisimenamos cigaretės
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Farmakologinė (fizinė) priklausomybė nuo nikotino
                    </li>
                    <li>
                        B. Psichologinė (psichosocialinė) priklausomybė nuo nikotino
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>43.22 </b> Kokia profilaktinė veikla atitinka pirminės profilaktikos sampratą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Imunizacija
                    </li>
                    <li>
                        2. Rūkymo kontrolė
                    </li>
                    <li>
                        3. Sveikos mitybos ugdymas
                    </li>
                    <li>
                        4. Ankstyva ligų diagnostika
                    </li>
                    <li>
                        5. Rizikos veiksnių korekcija sergantiems ischemine širdies liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.23 </b> Kas rekomenduojama širdies ir kraujagyslių ligų profilaktikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Rizikos susirgti širdies ir kraujagyslių ligomis įvertinimas
                    </li>
                    <li>
                        2. Hipercholesterolemijos korekcija
                    </li>
                    <li>
                        3. Hipertenzijos gydymas
                    </li>
                    <li>
                        4. Nutukimo kontrolę
                    </li>
                    <li>
                        5. Fizinio aktyvumo skatinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.24 </b> Kurios iš išvardintų priemonių rekomenduojamos vėžio profilaktikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sumažinti alkoholinių gėrimų vartojimą
                    </li>
                    <li>
                        2. Daugiau vartoti šviežių daržovių ir vaisių
                    </li>
                    <li>
                        3. Moterims atlikti gimdos kaklelio tepinėlį
                    </li>
                    <li>
                        4. Nevartoti maisto produktų, kuriuose yra konservantų ir kitų maisto priedų
                    </li>
                    <li>
                        5. Reguliariai vartoti maisto papildus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.25 </b> Fizinis aktyvumas mažina išeminės širdies ligos riziką, nes:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Didina didelio tankio lipoproteinų koncentraciją kraujyje
                    </li>
                    <li>
                        2. Mažina AKS
                    </li>
                    <li>
                        3. Gerina širdies raumens aprūpinimą krauju
                    </li>
                    <li>
                        4. Mažina krešumo sistemos aktyvumą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.26 </b> Kurių ligų rizikos veiksnys yra nutukimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išeminė širdies liga
                    </li>
                    <li>
                        2. Krūties vėžys
                    </li>
                    <li>
                        3. Cukrinis diabetas
                    </li>
                    <li>
                        4. Osteoporozė
                    </li>
                    <li>
                        5. Skrandžio vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.27 </b> Kokios yra mitybos rekomendacijos, siekiant sumažinti išeminės širdies ligos riziką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mažiau vartoti riebių mėsos ir pieno produktų
                    </li>
                    <li>
                        2. Bent du kartus per savaitę valgyti pagrindinį patiekalą iš žuvies
                    </li>
                    <li>
                        3. Kasdien vartoti bent 400 g daržovių ir vaisių
                    </li>
                    <li>
                        4. Nevartoti kietų margarinų
                    </li>
                    <li>
                        5. Maisto ruošimui naudoti augalinius aliejus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.28 </b> Kuri iš išvardintų būklių yra indikacija skirti gydymą etilo alkoholiu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išeminės širdies liga
                    </li>
                    <li>
                        2. Gręsiantis priešlaikinis gimdymas
                    </li>
                    <li>
                        3. Hipotermija
                    </li>
                    <li>
                        4. Intoksikacija  metilo alkoholiu
                    </li>
                    <li>
                        5. Alkoholinė psichozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.29 </b> Koks rodiklis geriausiai atspindi priklausomybės nuo alkoholio paplitimo kitimus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Su alkoholio vartojimu susijusių nelaimingų atsitikimų skaičius
                    </li>
                    <li>
                        2. Registruotų priklausomybę nuo alkoholio turinčių pacientų skaičius
                    </li>
                    <li>
                        3. Nusikaltimų, susijusių su girtumu, skaičius
                    </li>
                    <li>
                        4. Alkoholinių psichozių skaičius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.30 </b> Kaip apibūdintumėte antrinę hipertenzijos profilaktiką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sveikos gyvensenos ugdymas
                    </li>
                    <li>
                        2. Ankstyvas padidėjusio AKS nustatymas
                    </li>
                    <li>
                        3. Širdies nepakankamumo ankstyva diagnostika ir gydymas
                    </li>
                    <li>
                        4. Sergančiųjų hipertenzija efektyvus gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.31 </b> Kas sudaro nemedikamentinį hipertenzijos gydymą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kūno svorio kontrolė
                    </li>
                    <li>
                        2. Natrio (valgomosios druskos) kiekio maiste ribojimas
                    </li>
                    <li>
                        3. Fizinio aktyvumo didinimas
                    </li>
                    <li>
                        4. Rūkymo kontrolė
                    </li>
                    <li>
                        5. Alkoholio vartojimo ribojimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.32 </b> Kurių rizikos veiksnių korekcijos, siekiant išvengti hipertenzijos atsiradimo, efektyvumas yra įrodytas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kūno masės mažinimas
                    </li>
                    <li>
                        2. Alkoholio vartojimo ribojimas
                    </li>
                    <li>
                        3. Natrio (valgomosios druskos) vartojimo mažinimas
                    </li>
                    <li>
                        4. Streso kontrolė
                    </li>
                    <li>
                        5. Kalcio ir magnio preparatų papildomas vartojimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.33 </b> Kuri paciento su išreikšta fizine priklausomybe nuo nikotino ir nepajėgiančio savarankiškai mesti rūkyti gydymo taktika yra tinkamiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Patarti palaipsniui mažinti surūkomų cigarečių skaičių
                    </li>
                    <li>
                        2. Patarti skalauti burną 0,25% sidabro nitrato tirpalu
                    </li>
                    <li>
                        3. Skirti psichostimuliatorius
                    </li>
                    <li>
                        4. Patarti vartoti nikotino pakaitinės terapijos medikamentus arba skirti receptinius medikamentus (vareniklino tartratą, arba bupropioną, arba citiziną)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.34 </b> Tarp kurios iš išvardintų ligų ir rūkymo nustatytas stipriausias priežastinis ryšys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Lūpos ir burnos ertmės vėžio
                    </li>
                    <li>
                        2. Išeminės širdies ligos
                    </li>
                    <li>
                        3. Lėtinio bronchito ir plaučių emfizemos
                    </li>
                    <li>
                        4. Plaučių vėžio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.35 </b> Kuris rizikos veiksnių derinys labiausiai didina riziką susirgti išemine širdies liga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Rūkymas, viršsvoris ir alkoholis
                    </li>
                    <li>
                        2. Padidėjęs cholesterolio kiekis kraujyje, viršsvoris ir stresas
                    </li>
                    <li>
                        3. Nepakankama fizinė veikla, padidėjęs cholesterolio kiekis kraujyje ir rūkymas
                    </li>
                    <li>
                        4. Rūkymas, padidėjęs AKS ir padidėjęs cholesterolio kiekis kraujyje
                    </li>
                    <li>
                        5. Hipertenzija ir rizikingas alkoholio vartojimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.36 </b> Kokius tyrimus būtina atlikti profilaktinių patikrinimų metu siekiant įvertinti širdies ir kraujagyslių ligų riziką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pamatuoti AKS
                    </li>
                    <li>
                        2. Nustatyti kalio koncentraciją kraujyje
                    </li>
                    <li>
                        3. Nustatyti cholesterolio koncentraciją kraujyje
                    </li>
                    <li>
                        4. Nustatyti hemoglobino koncentraciją kraujyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.37 </b> Svarbiausia sąlyga paciento alkoholio vartojimo problemai spręsti yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kvalifikuota narkologo pagalba
                    </li>
                    <li>
                        2. Gerai organizuotas sveikatos mokymas
                    </li>
                    <li>
                        3. Efektyvus ir prieinamas medikamentinis gydymas
                    </li>
                    <li>
                        4. Problemos suvokimas ir noras ją spręsti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>43.38 </b> Kokios yra PSO fizinio aktyvumo rekomendacijos suaugusiems gyventojams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. 150 min. vidutinio intensyvumo arba 75 min. didelio intensyvumo fizinės veiklos per savaitę 
                    </li>
                    <li>
                        2. Vieno fizinės veiklos epizodo minimali trukmė – 10 min.
                    </li>
                    <li>
                        3. Bent 2 dienas per savaitę atlikti pratimus pagrindinėms raumenų grupėms treniruoti
                    </li>
                    <li>
                        4. Kasdien atlikti 5 min. trukmės rytinę mankštą.
                    </li>
                    <li>
                        5. Kasdien nueiti 1 km. 
                    </li>
            </ul>
        </li>
    </ul>


<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>43.1 - 

                B
            </td>
            <td>43.2 - 

                B
            </td>
            <td>43.3 - 

                D
            </td>
            <td>43.4 - 

                D
            </td>
            <td>43.5 - 

                C
            </td>
            <td>43.6 - 

                B
            </td>
            <td>43.7 - 

                B
            </td>
            <td>43.8 - 

                C
            </td>
                </tr><tr>
            <td>43.9 - 

                C
            </td>
            <td>43.10 - 

                D
            </td>
            <td>43.11 - 

                B
            </td>
            <td>43.12 - 

                B
            </td>
            <td>43.13 - 

                C
            </td>
            <td>43.14 - 

                C
            </td>
            <td>43.39 - 

                A
            </td>
                </tr><tr>
            <td>43.15
            <ul>
                <li>1 - A </li>
                <li>2 - A </li>
                <li>3 - B </li>
            </ul></td>
            <td>43.16
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - B </li>
                <li>5 - A </li>
            </ul></td>
            <td>43.17
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - C </li>
                <li>4 - B </li>
                <li>5 - A </li>
            </ul></td>
            <td>43.18
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - E </li>
                <li>5 - B </li>
            </ul></td>
            <td>43.19
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>43.20
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - C </li>
                <li>5 - B </li>
                <li>6 - B </li>
                <li>7 - B </li>
            </ul></td>
            <td>43.21
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - A </li>
            </ul></td>
            <td>43.43
            <ul>
                <li>1 - B </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - A </li>
                <li>5 - A </li>
            </ul></td>
                </tr><tr>
            <td>43.44
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - B </li>
                <li>5 - A </li>
            </ul></td>
            <td>43.45
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - B </li>
                <li>5 - A </li>
                <li>6 - A </li>
                <li>7 - B </li>
                <li>8 - A </li>
            </ul></td>
                </tr><tr>
            <td>43.22
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>43.23
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>43.24
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>43.25
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>43.26
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>43.27
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>43.28
            <ul>
                <li>4</li>
            </ul></td>
            <td>43.29
            <ul>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>43.30
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>43.31
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>43.32
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>43.33
            <ul>
                <li>4</li>
            </ul></td>
            <td>43.34
            <ul>
                <li>4</li>
            </ul></td>
            <td>43.35
            <ul>
                <li>4</li>
            </ul></td>
            <td>43.36
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>43.37
            <ul>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>43.38
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>

</tr></tbody></table></div>