<div class="Centre Kategorija">Psichiatrija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>34.1</b> Pacientė skundžiasi, kad veido odoje jaučia šliaužiojančius “vabalus“, tiksliai nurodo „vabalų“ judėjimo kryptį, bando juos iškrapštyti, odoje matosi gausios ir gilios nukasymo žymės. Kokiems psichopatologiniams sutrikimams priskirtumėte šiuos pacientės pojūčius?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Afektinėms iliuzijoms;
                    </li>
                    <li>
                        B. Visceralinėms  haliucinacijoms;
                    </li>
                    <li>
                        C. Psichosensorinės sintezės sutrikimams;
                    </li>
                    <li>
                        D. Taktilinėms  haliucinacijoms.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.2</b> Aura yra būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Didiesiems epilepsiniams priepuoliams;
                    </li>
                    <li>
                        B. Mažiesiems epilepsiniams priepuoliams;
                    </li>
                    <li>
                        C. Jacksono traukulių priepuoliams;
                    </li>
                    <li>
                        D. Isteriniams traukuliams.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.3</b> Kuris iš žemiau išvardintų psichopatologinių simptomų nepriskiriamas valios patologijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Abulija;
                    </li>
                    <li>
                        B. Hipobulija;
                    </li>
                    <li>
                        C. Hiperbulija;
                    </li>
                    <li>
                        D. Bulimija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.4</b> Kuriam psichoorganinio sindromo variantui yra būdingi ryškūs demencijos simptomai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apatiniam;
                    </li>
                    <li>
                        B. Asteniniam;
                    </li>
                    <li>
                        C. Eksploziniam;
                    </li>
                    <li>
                        D. Euforiniam.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.5</b> Kuri funkcija nukenčia pirmiausia vėlyvosios Alzhaimerio ligos atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kalba;
                    </li>
                    <li>
                        B. Atmintis;
                    </li>
                    <li>
                        C. Rašymas;
                    </li>
                    <li>
                        D. Praktinė veikla.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.6</b> Kuris teiginys apie patologinį girtumą yra neteisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atsiranda išgėrus nedidelį alkoholio kiekį;
                    </li>
                    <li>
                        B. Gali būti vienintelį kartą gyvenime;
                    </li>
                    <li>
                        C. Dažniau pasitaiko sergant epilepsija;
                    </li>
                    <li>
                        D. Greta nebūna afektinių sutrikimų.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.7</b> Vienu būdingiausių intoksikacijos opioidais požymių yra laikomi siaurutėliai ir simetriški vyzdžiai. Kuris iš išvardintų opiatų nesukelia vyzdžių susiaurėjimo :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Heroinas;
                    </li>
                    <li>
                        B. Kodeinas;
                    </li>
                    <li>
                        C. Metadonas;
                    </li>
                    <li>
                        D. Morfinas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.8</b> Kuris iš žemiau išvardintų psichopatologinių simptomų yra būdingas alkoholiniam delyriniam sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Fiksacinė amnezija;
                    </li>
                    <li>
                        B. Pareidolija;
                    </li>
                    <li>
                        C. Intermetamorfozinis kliedesys;
                    </li>
                    <li>
                        D. Kinezinis automatizmas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.9</b> Kokiam susirgimui nebūdingas apkvaitimo sindromas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipertoninei krizei;
                    </li>
                    <li>
                        B. Hemoraginiam insultui;
                    </li>
                    <li>
                        C. Apsinuodijimui švinu;
                    </li>
                    <li>
                        D. Galvos smegenų navikui.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.10</b> Apibrėžkite asmenybės sutrikimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tai būsena, kurios metu sąmonė būna susiaurėjusi, tarsi pereinama į kitą, žemesnį psichikos funkcijų lygmenį;
                    </li>
                    <li>
                        B. Tai liga, kurios metu pasireiškia atskirų psichikos procesų vienovės nebuvimas, savotiškas jų skilimas;
                    </li>
                    <li>
                        C. Tai visuma stabilių asmenybės bruožų, kurie trikdo žmogaus prisitaikymą prie aplinkos, sąlygodami socialines, darbinės veiksenos sutrikimus arba subjektyvų distresą;
                    </li>
                    <li>
                        D. Tai sutrikimas, kuris kelia didelį distresą, o atsiradę simptomai pacientui nepriimtini bei svetimi, nors paciento ryšys su tikrove yra visiškai nepakitęs.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.11</b> Koks yra pagrindinis priklausomos asmenybės bruožas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Impulsyvumas;
                    </li>
                    <li>
                        B. Pasyvumas;
                    </li>
                    <li>
                        C. Perfekcionizmas;
                    </li>
                    <li>
                        D. Įtarumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.12</b> Kuris asmenybės tipas labiausiai linkęs disociaciniams sutrikimams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šizoidinis;
                    </li>
                    <li>
                        B. Histrioninis;
                    </li>
                    <li>
                        C. Asocialus;
                    </li>
                    <li>
                        D. Paranoidinis.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.13</b> Kuriam asmenybės sutrikimo tipui būdingas savęs žalojimas, suicidiniai grasinimai ir veiksmai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. &nbsp; Histrioniniam;
                    </li>
                    <li>
                        B. &nbsp;&nbsp;&nbsp;Šizoidiniam;
                    </li>
                    <li>
                        C. &nbsp;&nbsp;&nbsp;Emociškai nestabiliam;
                    </li>
                    <li>
                        D. &nbsp;&nbsp;Paranoidiniam.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.14</b> Apibrėžkite obsesinį - kompulsinį sutrikimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. &nbsp;&nbsp;&nbsp; Mintys, vaizdiniai, veiksmai, kurie įkyriai ir stereotipiškai grįžta į sąmonę ir nepaklūsta paciento valiai. Pacientas nekritiškas ir įkyrumus suvokia kaip savo charakterio ypatybę;
                    </li>
                    <li>
                        B. &nbsp;&nbsp;&nbsp;&nbsp; Sutrikimas, pasireiškiantis įvairiais įkyrumais, kylančiais prieš paciento valią, sukeliančiais ryškų stresą bei emocinę įtampą. Pacientas kritiškas įkyrumų atžvilgiu ir bando jais atsikratyti;
                    </li>
                    <li>
                        C. &nbsp;&nbsp;&nbsp;&nbsp; Sutrikimas pasireiškiantis įkyriomis, prieš paciento valią kylančiomis baimėmis susitvarkyti su tam tikra gyvenimiška situacija. Pacientas šiai baimei kritiškas, nori ją nugalėti.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.15</b> Kuris teiginys apie specifines fobijas yra neteisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Prasideda vaikystėje ar paauglystėje;
                    </li>
                    <li>
                        B. Trunka trumpai (iki 1mėn.);
                    </li>
                    <li>
                        C. Ligonis vengia baimę keliančių situacijų;
                    </li>
                    <li>
                        D. Baimė gali siekti panikos priepuolio lygį.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.16</b> Kuris iš žemiau išvardintų psichosomatozės ligos modelių teigia, kad liga pradeda vystytis tada, kai žmogaus patirtų stresų kiekis perauga jo adaptacines galimybes ir iššaukia fiziologinių reakcijų bei metabolinių procesų sutrikimus?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kognityvinis;
                    </li>
                    <li>
                        B. Biologinis;
                    </li>
                    <li>
                        C. Psichoanalitinis;
                    </li>
                    <li>
                        D. Biopsichosocialinis.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.17</b> Psichikos sveikatos priežiūros paslaugų teikimo organizavimo lygiai Lietuvoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Savivaldybių, apskričių;
                    </li>
                    <li>
                        B. Savivaldybių, valstybės;
                    </li>
                    <li>
                        C. Apskričių, psichiatrijos klinikų;
                    </li>
                    <li>
                        D. Savivaldybių, apskričių, valstybės.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.18</b> Pirminių psichikos sveikatos priežiūros centrų uždaviniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vykdyti psichikos sveikatos priežiūrą, teikti socialinę pagalbą psichikos ligoniams;
                    </li>
                    <li>
                        B. Teikti socialinę pagalbą ir nukreipti į stacionarą gydymui;
                    </li>
                    <li>
                        C. Teikti socialinę pagalbą ūmių psichikos sutrikimų atvejais;
                    </li>
                    <li>
                        D. Teikti psichoterapinę ir psichologinę pagalbą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.19</b> Asmuo, sergantis psichikos liga ir atsisakantis hospitalizavimo, gali būti priverstinai hospitalizuojamas ir prievarta gydomas tada, kai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paciento gydymu suinteresuoti jo artimieji, prašymą patvirtinantys parašu medicininėje dokumentacijoje;
                    </li>
                    <li>
                        B. Trijų gydytojų psichiatrų komisija patvirtina prievartinio gydymo būtinumą;
                    </li>
                    <li>
                        C. Yra reali grėsmė, kad jis savo veiksmais gali padaryti žalos savo ir aplinkinių sveikatai ir gyvybei;
                    </li>
                    <li>
                        D. Priverstinis gydymas nenumatytas Lietuvos respublikos įstatymuose (pažeidžia žmogaus teises).
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.20</b> Pacientas gali būti gydomas stacionare be jo raštiško sutikimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Iki 12 val.
                    </li>
                    <li>
                        B. Iki 24 val.
                    </li>
                    <li>
                        C. Iki 48 val.
                    </li>
                    <li>
                        D. Iki 72 val.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.21</b> Psichikos sutrikimo diagnozė nustatoma vadovaujantis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Psichikos būsenos aprašymu, anamneze, paraklinikiniais tyrimais;
                    </li>
                    <li>
                        B. Psichikos sutrikimo anamneze, klinikiniais ir biocheminiais tyrimais;
                    </li>
                    <li>
                        C. Psichikos būsenos aprašymu, psichinių procesų tyrimais;
                    </li>
                    <li>
                        D. Psichinių procesų tyrimais, paraklinikiniais tyrimais.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.22</b> Rezistentiškos (atsparios) gydymui šizofrenijos gydymui skiriama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Klozapinas (clozapine);
                    </li>
                    <li>
                        B. Chlorpromazinas (chlorpromazine);
                    </li>
                    <li>
                        C. Risperidonas (risperidone);
                    </li>
                    <li>
                        D. Amisulpridas (amisulpridum).
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.23</b> Labiausiai pavojingas gyvybei yra šių antidepresantų grupių medikamentų perdozavimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Selektyvių sertotonino grįžtamojo ryšio inhibitorių;
                    </li>
                    <li>
                        B. Selektyvių serotonino ir noradrenalino grįžtamojo ryšio inhibitorių;
                    </li>
                    <li>
                        C. Noradrenalino grįžtamojo ryšio inhibitorių;
                    </li>
                    <li>
                        D. Triciklių antidepresantų.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.24</b> Šviesos terapijos skyrimo indikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vidutinė ir sunki depresija;
                    </li>
                    <li>
                        B. Užsitęsusi depresija;
                    </li>
                    <li>
                        C. Sezoninė (žiemos) depresija;
                    </li>
                    <li>
                        D. Sunki pogimdyminė depresija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.25</b> Kurie nurodyti schizofrenijos simptomai yra vadinami pozityviaisiais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Minčių turinio skurdumas;
                    </li>
                    <li>
                        B. Kliedėjimo idėjos;
                    </li>
                    <li>
                        C. Blankios emocijos;
                    </li>
                    <li>
                        D. Hipobulija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.26</b> Kuris teiginys teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Schizofrenijos paplitimas – 15 – 20 proc., dažniau serga vidutinio amžiaus vyrai;
                    </li>
                    <li>
                        B. Schizofrenijos paplitimas – 1 – 1,5 proc., vienodai serga jauni abiejų lyčių asmenys;
                    </li>
                    <li>
                        C. Schizofrenijos paplitimas – 20 - 30 proc. dažniau serga jaunos moterys;
                    </li>
                    <li>
                        D. Schizofrenijos paplitimas – 5 – 6 proc. dažniau serga menininkai ir mokslininkai.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.27</b> 32 m. moteris skundžiasi liūdna nuotaika, nerimo jausmu, kurį lydi sunkumo ir spaudimo jausmas krūtinėje. Objekt. tyrimai: liūdna veido išraiška, sulėtėję judesiai, sėdi susikūprinusi viena poza, pokalbio metu išryškėja susilpnėjusi atmintis, mąstymo ir kalbos tempo sulėtėjimas. Diagnozuota depresija. Kuris vaistas būtų tinkamiausias  šio sindromo gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Haloperidol
                    </li>
                    <li>
                        B. Leponex (Clozapin)
                    </li>
                    <li>
                        C. Coaxil (Tianeptin)
                    </li>
                    <li>
                        D. Sydnocarbum
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.28</b> Vidutinio sunkumo ir sunkios depresijos gydymas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Psichoterapija ir antidepresantais;
                    </li>
                    <li>
                        B. Tik psichoterapija;
                    </li>
                    <li>
                        C. Tik antidepresantais;
                    </li>
                    <li>
                        D. Tik benzodiazepinais;
                    </li>
                    <li>
                        E. Antipsichotikais ir antidepresantais.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.29</b> Somatizuota (slapta) depresija diagnozuojama tuo atveju, kai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pacientas, vengdamas gydymo, slepia savo prastą savijautą nuo artimųjų ir gydytojo;
                    </li>
                    <li>
                        B. Depresijos klinikoje vyrauja somatiniai ir vegetaciniai simptomai.
                    </li>
                    <li>
                        C. Paciento depresija sąlygojama sunkios, nepagydomos ligos;
                    </li>
                    <li>
                        D. Depresija atsiranda kaip gaunamų somatinių vaistų pašalinis poveikis.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.30</b> Nusižudyti ketinantis asmuo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Visada slepia savo ketinimus nuo aplinkinių;
                    </li>
                    <li>
                        B. Dažniausiai tiesiogiai ar netiesiogiai praneša apie savo ketinimus;
                    </li>
                    <li>
                        C. Daro tai „rimtai“ ir negrįžtamai;
                    </li>
                    <li>
                        D. Visada tikisi būti išgeltėtas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.31</b> Kuris iš išvardintų sutrikimų nepriskiriamas seksualiniams sutrikimams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Frotažas;
                    </li>
                    <li>
                        B. Pedofilija;
                    </li>
                    <li>
                        C. Ekshibicionizmas;
                    </li>
                    <li>
                        D. Dromomanija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.32</b> Kuris iš teiginių netinka nervinės anoreksijos atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bendras endokrininis sutrikimas apima pagumburio – hipofizės – gonadinę ašį, pasireikšdamas moterims amenorėja, vyrams – seksualinio potraukio ir potencijos sumažėjimu;
                    </li>
                    <li>
                        B. Nervinė anoreksija – varginantis, tačiau nepavojingas susirgimas, kurį galima pagydyti tinkama dieta;
                    </li>
                    <li>
                        C. Dažniausiai serga paauglės mergaitės ir jaunos moterys;
                    </li>
                    <li>
                        D. Nervinė anoreksija – lėtinis psichikos sutrikimas, lydimas antrinių endokrininių ir metabolinių sutrikimų, galinčių lemti paciento mirtį.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.33</b> Somnambulizmas, tai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pakitusi sąmonės būsena, kurios metu kartu pasireiškia ir miego, ir budrumo būsenoms būdingi fenomenai, naktinis vaikščiojimas, amnezija;
                    </li>
                    <li>
                        B. Vienas iš kliedesinių sindromų, pasireiškiančių sudėtingais motoriniais aktais tik nakties metu;
                    </li>
                    <li>
                        C. Miego sutrikimas, dažniausiai pasireiškianti tik senyvame amžiuje, ir sąlygojamas sunkių psichikos ligų (pvz.: šizofrenijos);
                    </li>
                    <li>
                        D. Potraukių sutrikimo rūšis, pasireiškianti padidėjusiu mieguistumu dieną ir padidėjusiu aktyvumu nakties metu.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.34</b> Kuris iš teiginių netinka naktinio siaubo diagnostikoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pagrindinis simptomas – vienas ar daugiau prabudimo epizodų, paniškas riksmas, nerimas, ažitacija, vegetacinis hiperaktyvumas;
                    </li>
                    <li>
                        B. Trukmė 1 - 10 min., pradžia pirmame miego periodo trečdalyje;
                    </li>
                    <li>
                        C. Pacientą lengva pažadinti ir nuraminti;
                    </li>
                    <li>
                        D. Pacientas silpnai reaguoja į aplinkinių pastangas paveikti siaubo epizodą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.35</b> Kuris iš paminėtų sutrikimų priskiriamas seksualinių sutrikimų grupei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kleptomanija;
                    </li>
                    <li>
                        B. Pigmalionizmas;
                    </li>
                    <li>
                        C. Trichotilomanija;
                    </li>
                    <li>
                        D. Dipsomanija.
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>34.36</b> Kuri sutrikimų grupė būdinga kiekvienam iš išvardintų asmenybės sutrikimų</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Asocialaus tipo asmenybės sutrikimas -
                    </li>
                    <li>
                        2 - Nerimastingo tipo asmenybės sutrikimas – 
                    </li>
                    <li>
                        3 - Šizoidinio tipo asmenybės sutrikimas –
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Emocionaliai blyškus, introspektyvus, nesugebantys kitiems išreikšti savo jausmus, atsiribojęs;
                    </li>
                    <li>
                        B. Abejingumas kitų žmonių jausmams, nesugebėjimas jausti kaltę, palaikyti ilgalaikius santykius;
                    </li>
                    <li>
                        C. Nuolatiniai nugąstavimai dėl galimų nesėkmių, jautrus kritikai, greičiau besirenkantis vienatvę, negu pasijausti atmestu, nemėgiamu;
                    </li>
                    <li>
                        D. Netinka nei vienas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.37</b> Kuriai kliedesių grupei priskiriamas kiekvienas iš išvardintų kliedesių</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Persekiojimo kliedesys -
                    </li>
                    <li>
                        2 - Savikaltos kliedesys -
                    </li>
                    <li>
                        3 - Nekaltumo kliedesys -
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Psichogeninių kliedesių grupei;
                    </li>
                    <li>
                        B. Afektinių kliedesių grupei;
                    </li>
                    <li>
                        C. Interpretavimo kliedesių grupei.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.38</b> Kurie asmenybės bruožai atsiranda sergant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Alkoholizmu (priklausomybės III stadija) –
                    </li>
                    <li>
                        2 - Traumine galvos smegenų liga (prieš 20 metų buvusi trauma sukėlė ilgalaikį, 3 paras trukusį sąmonės sutrikimą)  – 
                    </li>
                    <li>
                        3 - Epilepsija (sergama nuo 12 metų; priepuoliai grand mal tipo, 2 – 3 kartus per savaitę; dabar pacientui 38 metai) -
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Klampus, smulkmeniškas, kerštingas, linkęs disforijom, neigiamų emocijų kaupimui ir staigiems agresijos proveržiams;
                    </li>
                    <li>
                        B. Arogantiškas, familiarus, kiek ciniškas, linkęs įtarinėti savo seksualinį partnerį neištikimybėje (kartais įtarimai perauga į pavydo kliedėjimo idėjas);
                    </li>
                    <li>
                        C. Emocionaliai labilus, lėkštas, greitai besikeičiančių poreikių, nuotaikų, impulsų, nesugebantis susikoncentruoti ilgesnei  kryptingai veiklai.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.39</b> Kuris iš duotų aprašymą atitinka tam tikrą alkoholio koncentraciją kraujyje</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Euforija, susilpnėjęs dėmesys, padidėjęs šnekumas.
                    </li>
                    <li>
                        2 - Emocinis nestabilumas, savikritikos stoka, sulėtėjusi reakcija, sutrikusi eisena, neaiški kalba-
                    </li>
                    <li>
                        3 - Apatija, ryškiai sutrikusi koordinacija, sutrikusi sąmonė, somnolencija, pereinanti į komą.
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Virš 2,5 prom.
                    </li>
                    <li>
                        B. 0,4 – 1,5 prom.
                    </li>
                    <li>
                        C. 1,5 – 2,5 prom.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.40</b> Kuris iš nurodytų lytinio potraukio sutrikimų geriausiai atitinka pateiktą apibūdinimą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vojerizmas -
                    </li>
                    <li>
                        2 - Fetišizmas - 
                    </li>
                    <li>
                        3 - Sadizmas –
                    </li>
                    <li>
                        4 - Transvestizmas -
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Seksualinis pasitenkinimas, glamonėjant priešingos lyties asmens daiktus;
                    </li>
                    <li>
                        B. Lytinis pasitenkinimas, matant lytinį aktą;
                    </li>
                    <li>
                        C. Liguistas potraukis dėvėti priešingos lyties asmens daiktus;
                    </li>
                    <li>
                        D. Lytinis pasitenkinimas pasiekiamas kankinat partnerį.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.41</b> Kuris stupuro variantas yra būdingiausias kiekvienai nurodytai ligai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Schizofrenija –
                    </li>
                    <li>
                        2 - Bipoliais sutrikimas  –
                    </li>
                    <li>
                        3 - Reaktyvinė psichozė  – 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Depresinis stuporas;
                    </li>
                    <li>
                        B. Katatoninis stuporas;
                    </li>
                    <li>
                        C. Psichogeninis stuporas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.42</b> Parinkite tinkamiausią kiekvieno iš šių sutrikimų apibūdinimą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Disociacinė amnezija -
                    </li>
                    <li>
                        2 - Disociacinė fuga - 
                    </li>
                    <li>
                        3 - Ganser‘o sindromas -
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Atminties praradimas, kurią lydi tikslingas paciento keliavimas, peržengiant kasdienybei būdingas ribas ir palaikant paprastus socialinius kontaktus su kitais;
                    </li>
                    <li>
                        B. Po psichotraumuojančios situacijos atsirandantis nepertraukiamas kalbėjimas, minčių chaosas;
                    </li>
                    <li>
                        C. Po traumavusios situacijos atsiradęs atminties praradimas, dažniausiai apimantis svarbius praeities įvykius ir patį įvykį;
                    </li>
                    <li>
                        D. Netinka nei vienas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.43</b> Parinkite tinkamiausią kiekvieno iš šių sutrikimų apibūdinimą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Hipomnezija -
                    </li>
                    <li>
                        2 - Hipermnezija -
                    </li>
                    <li>
                        3 - Amnezija -
                    </li>
                    <li>
                        4 - Kriptomnezija -
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Atminties sutrikimas, kurio metu ligonis nesugeba atskirti, kas yra jo paties sugalvota, kas išgirsta, skaityta, matyta;
                    </li>
                    <li>
                        B. Įsiminimo, saugojimo arba atkūrimo procesų sutrikimas, pasireiškiantis atminties netekimu;
                    </li>
                    <li>
                        C. Liguistas atminties sustiprėjimas;
                    </li>
                    <li>
                        D. Atminties susilpnėjimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.44</b> Parinkite tinkamiausią kiekvieno iš šių sutrikimų apibūdinimą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Reakcija į sunkų stresą - 
                    </li>
                    <li>
                        2 - Adaptacijos sutrikimai - 
                    </li>
                    <li>
                        3 - Disociacinis sutrikimas - 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Po stresogeniško įvykio, gana staigiai, atsiranda pojūčių ar kūno judesių kontrolės dalinis ar visiškas praradimas, sutrinka tapatumo suvokimas, praeities atsiminimų integracija;
                    </li>
                    <li>
                        B. Po stresogeniško įvykio žmogui susiaurėja sąmonės ratas, sumažėja sugebėjimas suvokti aplinką, tampa lyg „apdujęs“, dezorientuotas. Vėliau seka užsisklendimas savyje arba ažitacija;
                    </li>
                    <li>
                        C. Po stresogeniško įvykio žmogus tampa susirūpinęs, nerimastingas, apimtas depresiškos nuotaikos. Jis sunkiai susitvarko su kasdieniniais darbais, nesugeba planuoti ateities.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.45</b> Parinkite tinkamiausią schizofrenijos klinikinės formos apibūdinimą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Paranoidinė schizofrenija –
                    </li>
                    <li>
                        2 - Paprastoji schizofrenija  – 
                    </li>
                    <li>
                        3 - Hebefreninė schizofrenija – 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sutrikimas, atsirandantis nepastebimai progresuojant elgesio keistumams, pasireiškiantis nesugebėjimu vykdyti visuomenės keliamų reikalavimų ir bendru darbingumo sumažėjimu;
                    </li>
                    <li>
                        B. Sutrikimas, kurio klinikiniame vaizde vyrauja sąlyginai stabilūs kliedesiai, kuriuos paprastai lydi haliucinacijos ir kiti suvokimo sutrikimai;
                    </li>
                    <li>
                        C. Sutrikimas, kai afektiniai sutrikimai yra ryškūs, kliedesiai ir haliucinacijos yra trumpalaikiai ir fragmentiški, elgesys neatsakingas ir neprognozuojamas, būdingas manieringumas.
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>34.46 </b> Haliucinacijos gali būti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tikrosios haliucinacijos;
                    </li>
                    <li>
                        2. Pseudohaliucinacijos;
                    </li>
                    <li>
                        3. Paprastos;
                    </li>
                    <li>
                        4. Sudėtingos.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.47 </b> Kurių smegenų skilčių atrofija randama patomorfologinio tyrimo metu sergant Picko liga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Frontalinių skilčių;
                    </li>
                    <li>
                        2. Okcipitalinių skilčių;
                    </li>
                    <li>
                        3. Temporalinių skilčių;
                    </li>
                    <li>
                        4. Visos skiltys atrofuojasi vienodai.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.48 </b> Kokie simptomai yra būdingi ūminei intoksikacijai kokainu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Euforija;
                    </li>
                    <li>
                        2. Hiperseksualumas;
                    </li>
                    <li>
                        3. Ažitacija;
                    </li>
                    <li>
                        4. Tachikardija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.49 </b> Kokie bruožai būdingi paranoidinio tipo asmenybės sutrikimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Polinkis nuolat būti priešiškai nusiteikus, atsisakymas atleisti už įžeidimą, skriaudą;
                    </li>
                    <li>
                        2. Įtarumas, polinkis iškreipti faktus, laikant neutralius kitų veiksmus priešiškais;
                    </li>
                    <li>
                        3. Atkaklus asmeninių teisių jutimas, neatsižvelgiant į realią situaciją;
                    </li>
                    <li>
                        4. Nesugebėjimas palaikyti ilgalaikius santykius, neturint problemų juos užmezgant.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.50 </b> Kokie bruožai būdingi anankastinio tipo asmenybės sutrikimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. &nbsp;Perdėtas susirūpinimas fiziniu patrauklumu;
                    </li>
                    <li>
                        2. Ribotas sugebėjimas priimti sprendimus be kitų asmenų patarimų;
                    </li>
                    <li>
                        3. Įtaigumas, polinkis lengvai pasiduoti kitų asmenų arba aplinkybių įtakai;
                    </li>
                    <li>
                        4. Perfekcionizmas, kuris trukdo užbaigti užduotis.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.51 </b> Antriniai asmenybės sutrikimai (psichopatizacija) tai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sutrikimai, kuriuos formuoja konstitucinės, idiopatinės priežastys;
                    </li>
                    <li>
                        2. Sutrikimai, kurie formuojasi ryškių pergyvenimų įtakoje;
                    </li>
                    <li>
                        3. Sutrikimai, kurie formuojasi konstitucinių, socialinių, psichologinių faktorių įtakoje.
                    </li>
                    <li>
                        4. Sutrikimai, kurie apsprendžiami kito psichikos sutrikimo ar smegenų ligos;
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.52 </b> Kuris simptomas yra netinkamas emociškai nestabiliai asmenybei apibūdinti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Emocinis nestabilumas;
                    </li>
                    <li>
                        2. Nepakankama impulsų kontrolė;
                    </li>
                    <li>
                        3. Polinkis į emocines krizes.
                    </li>
                    <li>
                        4. Polinkis koketuoti.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.53 </b> Kurie simptomai yra būdingi šizoidinei asmenybei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Emocinis nestabilumas;
                    </li>
                    <li>
                        2. Emocinis šaltumas;
                    </li>
                    <li>
                        3. Polinkis į emocines krizes;
                    </li>
                    <li>
                        4. Abejingumo socialinėms normoms.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.54 </b> Kurie teiginiai apie panikos sutrikimus yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Panikos priepuolio negalima prognozuoti;
                    </li>
                    <li>
                        2. Dominuojantys priepuolio simptomai yra staigiai prasidedantys širdies plakimai, skausmai krūtinėje, svaigimas, smaugimo pojūtis;
                    </li>
                    <li>
                        3. Beveik visada atsiranda antrinė mirties, savitvardos praradimo baimė;
                    </li>
                    <li>
                        4. Po panikos priepuolio dažnai išlieka baimė, jog ištiks kitas priepuolis.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.55 </b> Panikos ataką gali išprovokuoti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Emocinė įtampa;
                    </li>
                    <li>
                        2. Fizinis krūvis;
                    </li>
                    <li>
                        3. Psichinė trauma;
                    </li>
                    <li>
                        4. Seksualinis aktyvumas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.56 </b> Nuo kokių susirgimų reikia diferencijuoti somatoforminę autonominę disfunkciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Somatinės patologijos;
                    </li>
                    <li>
                        2. Generalizuoto nerimo sutrikimo;
                    </li>
                    <li>
                        3. Somatizacinio sutrikimo;
                    </li>
                    <li>
                        4. Schizofrenijos.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.57 </b> Kurios išvardintos ligos laikomos psichosomatoze?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Bronchinė astma;
                    </li>
                    <li>
                        2. Hipertoninė liga;
                    </li>
                    <li>
                        3. Opinis kolitas;
                    </li>
                    <li>
                        4. Žvynelinė.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.58 </b> Gydant sergantį somatizaciniu sutrikimu reikėtų:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Susilaikyti nuo įtikinėjimų jog esąs sveikas;
                    </li>
                    <li>
                        2. Be reikalo nedaryti paciento nurodomų tyrimų;
                    </li>
                    <li>
                        3. Pirmenybę teikti paciento ligos valdymui, o ne medikamentams;
                    </li>
                    <li>
                        4. Sudaryti išankstinį reguliarių vizitų tvarkaraštį.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.59 </b> Somatizacinių sutrikimų eigai būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Periodiškumas: ligos paūmėjimas pereina į visiško pasveikimo periodus;
                    </li>
                    <li>
                        2. Liga prasideda po patirto streso ir metų bėgyje, adekvačiai gydant, praeina;
                    </li>
                    <li>
                        3. Liga nepertraukiamai progresuoja ir pasibaigia asmenybiniu defektu;
                    </li>
                    <li>
                        4. Liga chroninė, su savais paūmėjimais ir remisijomis, praktiškai nepasveikstama.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.60 </b> Somatoforminiam sutrikimui būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nusiskundimai nefunkcionuojančiais organais, pasikeitusiu kūnu, nenormalia išvaizda;
                    </li>
                    <li>
                        2. Būsenos, kurias lydi ryškios vegetacinės disfunkcijos, tirpimai, skausmai, kraujospūdžio svyravimai.
                    </li>
                    <li>
                        3. Būsenos, kurias lydi nuolatinė baimė, kad susirgs nepagydoma liga.
                    </li>
                    <li>
                        4. Nuolatiniai skundai įvairiais sunkiai nusakomais kūno pojūčiais ir negalavimais.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.61 </b> Antrinės psichikos sveikatos priežiūros paslaugos teikiamos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Apskričių psichiatrijos ligoninėse;
                    </li>
                    <li>
                        2. Apskričių ligoninių psichiatrijos skyriuose;
                    </li>
                    <li>
                        3. Psichiatrijos ligoninių konsultacinėse poliklinikose;
                    </li>
                    <li>
                        4. Apskričių ligoninių konsultacinėse poliklinikose ir dieniniuose stacionaruose.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.62 </b> Tretinės psichikos sveikatos priežiūros paslaugos teikiamos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vilniaus universiteto Psichiatrijos klinikoje;
                    </li>
                    <li>
                        2. Vilniaus universiteto vaiko raidos centre;
                    </li>
                    <li>
                        3. Lietuvos sveikatos mokslų universiteto Psichiatrijos klinikoje;
                    </li>
                    <li>
                        4. Sveikatos apsaugos ministerijos nustatytuose tretinio lygio psichiatrijos ligoninėse ar skyriuose.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.63 </b> Teismo psichiatrinės ekspertizės rūšys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Teismo psichiatrinė ekspertizė;
                    </li>
                    <li>
                        2. Teismo narkologinė ekspertizė;
                    </li>
                    <li>
                        3. Teismo psichologinė ekspertizė;
                    </li>
                    <li>
                        4. Teismo aplinkybinė ekspertizė.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.64 </b> Teismo psichiatrinės ekspertizės metu nustatomas asmens:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pakaltinamumas;
                    </li>
                    <li>
                        2. Nepakaltinamumas;
                    </li>
                    <li>
                        3. Ribotas pakaltinamumas;
                    </li>
                    <li>
                        4. Ribotas nepakaltinamumas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.65 </b> Gydytojas psichiatras, atlikdamas pirminę ūmaus ligonio apžiūrą, turi įvertinti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Psichopatologinių ir somatinių simptomų ryškumą ir sunkumą;
                    </li>
                    <li>
                        2. Agresyvių veiksmų tikimybę;
                    </li>
                    <li>
                        3. Autoagresyvių veiksmų tikimybę;
                    </li>
                    <li>
                        4. Darbovietės charakteristiką:
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.66 </b> Tipiniai (klasikiniai) antipsichotikai, skirtingai nuo atipinių (naujųjų) antipsichotikų, dažniau sukelia tokias nepageidaujamas organizmo reakcijas, kaip:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Padidėjusi prolaktino sekrecija;
                    </li>
                    <li>
                        2. Medikamentinis parkinsoninis sindromas;
                    </li>
                    <li>
                        3. Kūno masės padidėjimas;
                    </li>
                    <li>
                        4. Vėlyvoji diskinezija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.67 </b> Piktybiniam neurolepsiniam sindromui būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Staigi pradžia (24 - 72 val., pirmosios 10 dienų pradėjus vartoti neuroleptikus);
                    </li>
                    <li>
                        2. Visų kūno raumenų hipertonusas (disfagija, kvėpavimo sutrikimas);
                    </li>
                    <li>
                        3. Akinezinis mutizmas;
                    </li>
                    <li>
                        4. Hipertermija, ryškūs vegetaciniai sutrikimai.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.68 </b> Atipiniai (naujieji) antipsichotikai skiriasi nuo tipinių (klasikinių) antipsichotikų tuo, kad:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Veiksmingesni gydant pozityvius simptomus (haliucinacijos, kliedėjiminiai sindromai, pykčio afektas);
                    </li>
                    <li>
                        2. Veiksmingesni gydant senyvo amžiaus psichozinius sutrikimus;
                    </li>
                    <li>
                        3. Veiksmingesni gydant gydymui atsparius psichozinius sutrikimus;
                    </li>
                    <li>
                        4. Veiksmingesni gydant negatyvius simptomus (emocijų blankumas, socialinis atsiribojimas, motyvacijos stoka).
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.69 </b> Selektyvių serotonino grįžtamojo ryšio inhibitorių skyrimo indikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Depresija;
                    </li>
                    <li>
                        2. Panikos sutrikimas;
                    </li>
                    <li>
                        3. Obsesinis - kompulsinis sutrikimas;
                    </li>
                    <li>
                        4. Socialinio nerimo sutrikimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.70 </b> Selektyvių serotonino grįžtamojo ryšio inhibitorių (SSRI) grupei priklauso:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sertralinas (sertralinum);
                    </li>
                    <li>
                        2. Venlafaksinas (venlafaxinum);
                    </li>
                    <li>
                        3. Citalopramas (citalopramum;)
                    </li>
                    <li>
                        4. Mirtazapinas (mirtazapinum).
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.71 </b> Benzodiazepinų grupės medikamentai skiriami:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nerimo sutrikimams gydyti;
                    </li>
                    <li>
                        2. Trumpalaikiam nemigos gydymui;
                    </li>
                    <li>
                        3. Traukulių sindromams ir epilepsinėms būsenoms gydyti;
                    </li>
                    <li>
                        4. Skeleto raumenų spastinėms būklėms gydyti.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.72 </b> Benzodiazepinų grupės medikamentams priklauso:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Alprazolamas (alprazolamum);
                    </li>
                    <li>
                        2. Bromazepamas (bromazepamum);
                    </li>
                    <li>
                        3. Lorazepamas (lorazepamum);
                    </li>
                    <li>
                        4. Reboksetinas (reboxetinum).
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.73 </b> Nuotaikos stabilizatorių grupei (normotimikai) priklauso:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Karbamazepinas;
                    </li>
                    <li>
                        2. Ličio druskos;
                    </li>
                    <li>
                        3. Valproinės rūgšties preparatai;
                    </li>
                    <li>
                        4. Donepezilis.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.74 </b> Elektros impulsų (elektros traukulių) terapijos skyrimo indikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sunki depresija su savižudybės rizika;
                    </li>
                    <li>
                        2. Rezistentiška (atspari) gydymui depresija;
                    </li>
                    <li>
                        3. Užsitęsę kliedėjiminiai sutrikimai;
                    </li>
                    <li>
                        4. Katatoninė šizofrenija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.75 </b> Schizoafektiniam sutrikimui nebūdingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Schizofrenijos simptomai;
                    </li>
                    <li>
                        2. Depresijos simptomai;
                    </li>
                    <li>
                        3. Manijos simptomai;
                    </li>
                    <li>
                        4. Silpnaprotystės simptomai.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.76 </b> Kurie psichopatologiniai simptomai būdingi paranoidinei schizofrenijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pirminis interpretacinis kliedesys (pavydo, išradimų, persekutorinis);
                    </li>
                    <li>
                        2. Haliucinacijos ir pseudohaliucinacijos;
                    </li>
                    <li>
                        3. Paralogiškas ir smulkmeniškai argumentuotas (aplinkybiškas) mąstymas;
                    </li>
                    <li>
                        4. Euforiška, pakili nuotaika;
                    </li>
                    <li>
                        5. Katatoninis stuporas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.77 </b> Kurie veiksniai didina suicido rizika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Vienišumas;
                    </li>
                    <li>
                        2. Gyvenimo stereotipo lūžis;
                    </li>
                    <li>
                        3. Buvę bandymai nusižudyti;
                    </li>
                    <li>
                        4. Savižudybės atvejai giminėje;
                    </li>
                    <li>
                        5. Psichopatologinės ypatybės: ažitacija, atkakli nemiga ir savęs apkaltinimo idėja.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.78 </b> Kurie vaistai gali sukelti į maniją panašų sindromą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Amfetaminai;
                    </li>
                    <li>
                        2. Tricikliniai antidepresantai;
                    </li>
                    <li>
                        3. Kortikosteroidai;
                    </li>
                    <li>
                        4. Rezerpinas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.79 </b> Kurių somatinių ligų metu gali išsivystyti depresinis sindromas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kasos vėžys;
                    </li>
                    <li>
                        2. Hipertenzija;
                    </li>
                    <li>
                        3. Hipotiroidizmas;
                    </li>
                    <li>
                        4. Peptinė skrandžio opa.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.80 </b> Kurie somatiniai simptomai būdingi tipiniam depresijos epizodui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. SŠD sulėtėjimas;
                    </li>
                    <li>
                        2. Apetito sumažėjimas;
                    </li>
                    <li>
                        3. Vidurių užkietėjimas;
                    </li>
                    <li>
                        4. Lytinio potraukio sumažėjimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.81 </b> Nervinei anoreksijai būdingi šie požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kūno svoris bent 15 proc. mažesnis, nei turėtų būti;
                    </li>
                    <li>
                        2. Sąmoningas svorio mažinimas (dietos, vėmimas, liuosuojamųjų vartojimas, dideli fiziniai krūviai ir pan.);
                    </li>
                    <li>
                        3. Sutrikęs kūno formos suvokimas, dismorfofobijos;
                    </li>
                    <li>
                        4. Poveikio kliedesiai, pseudohaliucinacijos.
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>34.82</b> Į ligoninės priėmimo skyrių palydimas kelių draugų GMP atvežtas 27 m. vaikinas. Iš palydėjusių draugų sužinota, kad pacientas apie 7 metus piktnaudžiauja įvairiomis narkotinėmis medžiagomis (heroinu, LSD, amfetaminu, yra bandęs kokaino). Tuo pačiu metu pas pacientą būdavo alkoholio naudojimo epizodai. Gerdavo užgėrimais, kurie trukdavo po3-4 dienas.  Paskutines kelias dienas didesnę laiko dalį pacientas buvo apatiškas, mieguistas, neadekvačiai šypsodavosi, ne į visus klausimus atsakydavo pagal prasmę, gulėdavo lovoje. Retkarčiais tapdavo neramus, sujaudintas, skųsdavosi stipriu kaulų ir raumenų skausmu. Po kurio laiko vėl tapdavo mieguistas. Kiek laiko trukdavo apatijos ir sujaudinimo epizodai, draugai pasakyti negali. Šiandieną atėję į svečius, rado draugą gulintį lovoje, kvėpavimas buvo trūkčiojantis, veidas „ mėlynas“, prižadinti nepavyko. Objektyviai: apžiūrint pacientą oda sausa, pleiskanota, nagai lūžinėjantys, abiejų rankų dilbių srityje daugybiniai randai, veidas cianotiškas, kvėpavimas trinkantis, verbaliniam kontaktui ligonis neprieinamas,  vyzdžiai susitraukę, vyzdžių reakcijos į šviesą nėra.  Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Intoksikacija opiatais;
                    </li>
                    <li>
                        B. Intoksikacija kokainu;
                    </li>
                    <li>
                        C. Intoksikacija haliucinogenais;
                    </li>
                    <li>
                        D. Intoksikacija alkoholiu.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.83</b> Į ligoninės priėmimo skyrių palydimas kelių draugų GMP atvežtas 27 m. vaikinas. Iš palydėjusių draugų sužinota, kad pacientas apie 7 metus piktnaudžiauja įvairiomis narkotinėmis medžiagomis (heroinu, LSD, amfetaminu, yra bandęs kokaino). Tuo pačiu metu pas pacientą būdavo alkoholio naudojimo epizodai. Gerdavo užgėrimais, kurie trukdavo po3-4 dienas.  Paskutines kelias dienas didesnę laiko dalį pacientas buvo apatiškas, mieguistas, neadekvačiai šypsodavosi, ne į visus klausimus atsakydavo pagal prasmę, gulėdavo lovoje. Retkarčiais tapdavo neramus, sujaudintas, skųsdavosi stipriu kaulų ir raumenų skausmu. Po kurio laiko vėl tapdavo mieguistas. Kiek laiko trukdavo apatijos ir sujaudinimo epizodai, draugai pasakyti negali. Šiandieną atėję į svečius, rado draugą gulintį lovoje, kvėpavimas buvo trūkčiojantis, veidas „ mėlynas“, prižadinti nepavyko. Objektyviai: apžiūrint pacientą oda sausa, pleiskanota, nagai lūžinėjantys, abiejų rankų dilbių srityje daugybiniai randai, veidas cianotiškas, kvėpavimas trinkantis, verbaliniam kontaktui ligonis neprieinamas,  vyzdžiai susitraukę, vyzdžių reakcijos į šviesą nėra. Kokia gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skrandžio plovimas ir infuzoterapija skysčiais;
                    </li>
                    <li>
                        B. Skiriami opiatų antagonistai;
                    </li>
                    <li>
                        C. Skiriami neuroleptikai.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.84</b> 22 metų vyras. Paciento charakteris impulsyvus, lengvai išprovokuojamas, nepastovios nuotaikos, linkęs įsivelti į konfliktus. Išgėręs alkoholio pacientas tampa nekontroliuojamas, piktas, agresyvus ir disforiškas. Dažni agresijos ir autoagresijos priepuoliai. Kelis kartus anksčiau bandė pjautis venas. Alkoholiu piknaudžiauja dažnai. Dažnai anamnezinės pasigėrimo formos. Buvo nubaustas dėl vairavimo išgėrus alkoholio. Šiandien išgėrė apie butelį degtinės, ir alkoholio fone išgėrė 10 tab. diazepamo, 10 tab. validolio, 8 tab. paracetamolio, norėdamas nusižudyti. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Psichikos ir elgesio sutrikimas vartojant alkoholį, žalingas vartojimas.
                    </li>
                    <li>
                        B. Emociškai nestabilaus tipo asmenybės sutrikimas;
                    </li>
                    <li>
                        C. Asocialaus tipo asmenybės sutrikimas;
                    </li>
                    <li>
                        D. Histrioninio tipo asmenybės sutrikimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.85</b> 28 metų pacientas skundžiasi protinio darbo metu sustiprėjančiais galvos skausmais ir padidėjusiu nuovargiu. Įprastas darbas reikalauja didelio fizinių bei dvasinių jėgų įtempimo. Rytais jaučiasi gerai, tačiau po 1 – 2 val. darbo atsiranda didelis nuovargis, nebegali susikaupti, pradeda varginti galvos skausmai. Pacientas tapo jautrus, dirglus, padidėjo jautrumas, erzina durų trinksėjimas, mažamečių vaikų žaidimai ir šūkavimai, erzina net drabužių prisilietimas prie kūno. Dėl menkiausių smulkmenų pacientas konfliktuoja su namiškiais, vėliau dėl to labai pergyvena. Sutriko miegas, vakarais negali ilgai užmigti. Kokį sindromą nustatysite?:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipochondrinis sindromas;
                    </li>
                    <li>
                        B. Paranojinis sindromas;
                    </li>
                    <li>
                        C. Asteninis sindromas;
                    </li>
                    <li>
                        D. Depresinis sindromas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.86</b> 28 metų pacientas skundžiasi protinio darbo metu sustiprėjančiais galvos skausmais ir padidėjusiu nuovargiu. Įprastas darbas reikalauja didelio fizinių bei dvasinių jėgų įtempimo. Rytais jaučiasi gerai, tačiau po 1 – 2 val. darbo atsiranda didelis nuovargis, nebegali susikaupti, pradeda varginti galvos skausmai. Pacientas tapo jautrus, dirglus, padidėjo jautrumas, erzina durų trinksėjimas, mažamečių vaikų žaidimai ir šūkavimai, erzina net drabužių prisilietimas prie kūno. Dėl menkiausių smulkmenų pacientas konfliktuoja su namiškiais, vėliau dėl to labai pergyvena. Sutriko miegas, vakarais negali ilgai užmigti. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Psichofarmakoterapija;
                    </li>
                    <li>
                        B. Psichoterapija;
                    </li>
                    <li>
                        C. Elektroimpulsinė terapija;
                    </li>
                    <li>
                        D. Psichofarmakoterapijos ir psichoterapijos derinys.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.87</b> 29 metų amžiaus vyras skundžiasi, kad bijo žiūrėti žmonėms į akis, nes yra nusikaltęs žmonijai, „jo viduje sėdi velnias“, girdi velnio balsą galvoje. Pacientas teigia, kad psichikos problemų turi seniai („visą gyvenimą bėgu nuo savęs, mane reikia globoti, savęs nesuprantu“). Namiškių teigimu, neadekvatus elgesys stebimas apie 2 metus, būklė ypač pablogėjo 3 – 4 mėn. laiko – pacientas tapęs nerimastingas, neadekvataus elgesio, buvo sujaudintas, pradėjo nemiegoti naktimis, išpasakojo „kvailas“ idėjas – kad radęs O. Bin Ladeno slėptuvę savo namuose, kad padarė reikšmingų žmonijai išradimų. Pats pacientas teigia, kad namiškiai pradėjo jo bijoti, nesupratę jo minčių, „netradicinio elgesio“, todėl bendru sutarimu nusprendę, kad reikia gydytis psichiatrijos skyriuje. Psichinė būsena: sąmoningas. Teisingas orientuotas savyje, vietoje, laike. Verbaliniam kontaktui prieinamas. Išvaizda: netvarkinga. Įtarokas, pokalbio metu įsitempęs, nerimastingas. Mąstymas nenuoseklus, paralogiškas, su rezonavimo elementais. Į klausimus atsako po ilgos pauzės, monotonišku balsu, teigia, kad galvoje daug minčių, tačiau sunku išsakyti, „sudėlioti“ – jos chaotiškos, netvarkingos. Emocijos blankios, veidas stokoja mimikos gyvumo. Išsako savęs apkaltinimo idėjas („nusidėjau didžiausiomis nuodėmėmis – puikybe ir godumu“, „nedrįstu žiūrėti žmonėms į akis“), apsėdimo kliedesį („manyje sėdi velnias ir negaliu niekaip jo išleisti“), teigia galintis daryti įtaką kitiems žmonėms, „kai laikau rankas delnais į viršų, nuo jų sklindanti energija gali išgydyti visas pasaulio ligas“. Išsako klausos pseudohaliucinacijos. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Schizoafektinis sutrikimas, manijos tipas;
                    </li>
                    <li>
                        B. Ūminis panašus į schizofreniją psichozinis sutrikimas;
                    </li>
                    <li>
                        C. Kliedesinis sutrikimas;
                    </li>
                    <li>
                        D. Paranoidinė schizofrenija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.88</b> 29 metų amžiaus vyras skundžiasi, kad bijo žiūrėti žmonėms į akis, nes yra nusikaltęs žmonijai, „jo viduje sėdi velnias“, girdi velnio balsą galvoje. Pacientas teigia, kad psichikos problemų turi seniai („visą gyvenimą bėgu nuo savęs, mane reikia globoti, savęs nesuprantu“). Namiškių teigimu, neadekvatus elgesys stebimas apie 2 metus, būklė ypač pablogėjo 3 – 4 mėn. laiko – pacientas tapęs nerimastingas, neadekvataus elgesio, buvo sujaudintas, pradėjo nemiegoti naktimis, išpasakojo „kvailas“ idėjas – kad radęs O. Bin Ladeno slėptuvę savo namuose, kad padarė reikšmingų žmonijai išradimų. Pats pacientas teigia, kad namiškiai pradėjo jo bijoti, nesupratę jo minčių, „netradicinio elgesio“, todėl bendru sutarimu nusprendę, kad reikia gydytis psichiatrijos skyriuje. Psichinė būsena: sąmoningas. Teisingas orientuotas savyje, vietoje, laike. Verbaliniam kontaktui prieinamas. Išvaizda: netvarkinga. Įtarokas, pokalbio metu įsitempęs, nerimastingas. Mąstymas nenuoseklus, paralogiškas, su rezonavimo elementais. Į klausimus atsako po ilgos pauzės, monotonišku balsu, teigia, kad galvoje daug minčių, tačiau sunku išsakyti, „sudėlioti“ – jos chaotiškos, netvarkingos. Emocijos blankios, veidas stokoja mimikos gyvumo. Išsako savęs apkaltinimo idėjas („nusidėjau didžiausiomis nuodėmėmis – puikybe ir godumu“, „nedrįstu žiūrėti žmonėms į akis“), apsėdimo kliedesį („manyje sėdi velnias ir negaliu niekaip jo išleisti“), teigia galintis daryti įtaką kitiems žmonėms, „kai laikau rankas delnais į viršų, nuo jų sklindanti energija gali išgydyti visas pasaulio ligas“. Išsako klausos pseudohaliucinacijos. Koks yra pirmo pasirinkimo medikamentas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Karbamazepinas;
                    </li>
                    <li>
                        B. Olanzapinas;
                    </li>
                    <li>
                        C. Klozapinas;
                    </li>
                    <li>
                        D. Escitalopramas;
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.89</b> 43 m. moteris. Jau apie 6 – 7 m. pacientė jaučiasi nervingesnė, dirglesnė, ėmė svyruoti nuotaika. Tuomet pacientei tapo sunku susikaupti darbe, išryškėjo nerimas, įtampa, verksmingumas, sutriko miegas, krito nuotaika. Kreipėsi pas psichiatrus, skirtas gydymas Zoloftu 50 mg/p p/os. Pradėjus vartoti vaistus savijauta kiek pagerėjo, tačiau išliko nepakankama. Vėliau ėmė blogėti apetitas, krito svoris, atsirado baimė dėl ateities, nerimas, įtampa, anhedonija, krito darbingumas, negalėjo susikaupti, vargino bloga nuotaika, verksmingumas. Dėl šių skundų pacientė buvo gydyta psichiatrijos stacionare, skirtas gydymas Citalopramu 20 mg/p p/os, Amitriptilinu 75 mg/p p/os. Pagerėjus psichinei būsenai nukreipta ambulatoriniam gydymui. Ambulatoriškai tęsė gydymą Escitalopramu. Dabar savijauta pablogėjusi apie mėnesį laiko, kuomet pacientė tapo dirglesnė, piktesnė, ėmė blogiau miegoti naktimis. Apie 2 sav. pacientė tapusi neadekvataus elgesio, (ligonė pradėjo smarkiai išlaidauti, pirkti nereikalingus daiktus), pakilios nuotaikos, epizodais sujaudinta, net agresyvi, ėmusi padrikai kalbėti, kurti nerealius planus, nemiegoti naktimis. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipomanija;
                    </li>
                    <li>
                        B. Pasikartojantis vidutinio sunkumo depresijos epizodas;
                    </li>
                    <li>
                        C. Manija be psichozės simptomų;
                    </li>
                    <li>
                        D. Dvipolis afektinis sutrikimas, manija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>34.90</b> 43 m. moteris. Jau apie 6 – 7 m. pacientė jaučiasi nervingesnė, dirglesnė, ėmė svyruoti nuotaika. Tuomet pacientei tapo sunku susikaupti darbe, išryškėjo nerimas, įtampa, verksmingumas, sutriko miegas, krito nuotaika. Kreipėsi pas psichiatrus, skirtas gydymas Sertralinu 50 mg/p p/os. Pradėjus vartoti vaistus savijauta kiek pagerėjo, tačiau išliko nepakankama. Vėliau ėmė blogėti apetitas, krito svoris, atsirado baimė dėl ateities, nerimas, įtampa, anhedonija, krito darbingumas, negalėjo susikaupti, vargino bloga nuotaika, verksmingumas. Dėl šių skundų pacientė buvo gydyta psichiatrijos stacionare, skirtas gydymas Citalopramu 20 mg/p p/os, Amitriptilinu 75 mg/p p/os. Pagerėjus psichinei būsenai nukreipta ambulatoriniam gydymui. Ambulatoriškai tęsė gydymą Escitalopramu. Dabar savijauta pablogėjusi apie mėnesį laiko, kuomet pacientė tapo dirglesnė, piktesnė, ėmė blogiau miegoti naktimis. Apie 2 sav. pacientė tapusi neadekvataus elgesio, (ligonė pradėjo smarkiai išlaidauti, pirkti nereikalingus daiktus), pakilios nuotaikos, epizodais sujaudinta, net agresyvi, ėmusi padrikai kalbėti, kurti nerealius planus, nemiegoti naktimis. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ambulatorinis gydymas antidepresantais ir psichoterapija;
                    </li>
                    <li>
                        B. Stacionarinis gydymas neuroleptikais ir psichoterapija;
                    </li>
                    <li>
                        C. Stacionarinis gydymas neuroleptikais, nuotaikos stabilizatoriais ir psichoterapija;
                    </li>
                    <li>
                        D. Gydymo nereikia.
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>34.1 - 

                D
            </td>
            <td>34.2 - 

                A
            </td>
            <td>34.3 - 

                D
            </td>
            <td>34.4 - 

                A
            </td>
            <td>34.5 - 

                B
            </td>
            <td>34.6 - 

                D
            </td>
            <td>34.7 - 

                C
            </td>
            <td>34.8 - 

                B
            </td>
                </tr><tr>
            <td>34.9 - 

                A
            </td>
            <td>34.10 - 

                C
            </td>
            <td>34.11 - 

                B
            </td>
            <td>34.12 - 

                B
            </td>
            <td>34.13 - 

                C
            </td>
            <td>34.14 - 

                B
            </td>
            <td>34.15 - 

                B
            </td>
            <td>34.16 - 

                B
            </td>
                </tr><tr>
            <td>34.17 - 

                D
            </td>
            <td>34.18 - 

                A
            </td>
            <td>34.19 - 

                C
            </td>
            <td>34.20 - 

                C
            </td>
            <td>34.21 - 

                A
            </td>
            <td>34.22 - 

                A
            </td>
            <td>34.23 - 

                D
            </td>
            <td>34.24 - 

                C
            </td>
                </tr><tr>
            <td>34.25 - 

                B
            </td>
            <td>34.26 - 

                B
            </td>
            <td>34.27 - 

                C
            </td>
            <td>34.28 - 

                A
            </td>
            <td>34.29 - 

                B
            </td>
            <td>34.30 - 

                B
            </td>
            <td>34.31 - 

                D
            </td>
            <td>34.32 - 

                B
            </td>
                </tr><tr>
            <td>34.33 - 

                A
            </td>
            <td>34.34 - 

                C
            </td>
            <td>34.35 - 

                B
            </td>
                </tr><tr>
            <td>34.36
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>34.37
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>34.38
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>34.39
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>34.40
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>34.41
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>34.42
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - D </li>
            </ul></td>
            <td>34.43
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
                </tr><tr>
            <td>34.44
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>34.45
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
                </tr><tr>
            <td>34.46
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.47
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>34.48
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.49
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>34.50
            <ul>
                <li>4</li>
            </ul></td>
            <td>34.51
            <ul>
                <li>4</li>
            </ul></td>
            <td>34.52
            <ul>
                <li>4</li>
            </ul></td>
            <td>34.53
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>34.54
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.55
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>34.56
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>34.57
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.58
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.59
            <ul>
                <li>4</li>
            </ul></td>
            <td>34.60
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>34.61
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>34.62
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.63
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>34.64
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>34.65
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>34.66
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>34.67
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.68
            <ul>
                <li>4</li>
            </ul></td>
            <td>34.69
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>34.70
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>34.71
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.72
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>34.73
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>34.74
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.75
            <ul>
                <li>4</li>
            </ul></td>
            <td>34.76
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>34.77
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
                </tr><tr>
            <td>34.78
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>34.79
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>34.80
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>34.81
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>34.82 - 

                A
            </td>
            <td>34.83 - 

                B
            </td>
            <td>34.84 - 

                B
            </td>
            <td>34.85 - 

                C
            </td>
            <td>34.86 - 

                D
            </td>
            <td>34.87 - 

                D
            </td>
            <td>34.88 - 

                B
            </td>
            <td>34.89 - 

                D
            </td>
                </tr><tr>
            <td>34.90 - 

                C
            </td>

</tr></tbody></table></div>