<div class="Centre Kategorija">Pulmonologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>31.1</b> Kuris teiginys apie ūminę pneumoniją yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tai – staiga prasidedantis viso plaučių audinio uždegimas
                    </li>
                    <li>
                        B. Tai – staiga prasidedantis tik intersticinio plaučių audinio uždegimas
                    </li>
                    <li>
                        C. Tai – ūminis alveolių membranos uždegimas
                    </li>
                    <li>
                        D. Tai – bronchų gleivinės ir alveolių membranos uždegimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.2</b> Kuris mikroorganizmas yra dažniausias visuomenėje įgytos pneumonijos sukėlėjas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Streptokokas
                    </li>
                    <li>
                        B. Pneumokokas
                    </li>
                    <li>
                        C. Stafilokokas
                    </li>
                    <li>
                        D. Žaliamėlė pseudomona
                    </li>
                    <li>
                        E. Mikoplazma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.3</b> Kurie mikroorganizmai dažniausiai sukelia pneumonijas ligoninėse:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Stafilokokai, žaliamėlės pseudomonos ir klebsielės
                    </li>
                    <li>
                        B. Pneumokokai, streptokokai ir gramneigiamos lazdelės
                    </li>
                    <li>
                        C. Grybeliai ir virusai
                    </li>
                    <li>
                        D. Riketsijos ir mikoplazmos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.4</b> Kaip pagal klinikinę eigą klasifikuojamos pneumonijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Stafilokokinė ir streptokokinė 
                    </li>
                    <li>
                        B. Krupinė ir židininė
                    </li>
                    <li>
                        C. Pirminė ir antrinė
                    </li>
                    <li>
                        D. Virusinė ir bakterinė
                    </li>
                    <li>
                        E. Labai didelė ir atipinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.5</b> Kurios pneumonijų komplikacijos yra dažniausios:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šokas ir miokarditas
                    </li>
                    <li>
                        B. Plaučių abscesas ir eksudacinis pleuritas
                    </li>
                    <li>
                        C. Kolapsas ir pleuros empiema
                    </li>
                    <li>
                        D. Bronchų obstrukcija ir hepatitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.6</b> Kuris tyrimas patvirtina pneumonijos diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skreplių pasėlis
                    </li>
                    <li>
                        B. Periferinio kraujo tyrimas
                    </li>
                    <li>
                        C. Rentgenologinis krūtinės organų tyrimas
                    </li>
                    <li>
                        D. Pneumonijai nustatyti nebūtini laboratoriniai tyrimai. Užtenka anamnezės ir objektyvaus tyrimo duomenų
                    </li>
                    <li>
                        E. Krūtinės kompiuterinė tomografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.7</b> Kurie reiškiniai būdingi mikoplazminei pneumonijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ryški leukocitozė ir polinkis abscedavimui
                    </li>
                    <li>
                        B. Gydymas antibiotikais būna neefektyvus
                    </li>
                    <li>
                        C. Rūdžių spalvos arba pūlingi skrepliai ir karščiavimas su šaltkrėčiu
                    </li>
                    <li>
                        D. Serga kamerinių kolektyvų jauni žmonės. Neatitinka auskultaciniai ir rentgenologiniai požymiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.8</b> Kuris antibiotikas tinka mikoplazminei pneumonijai gydyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Penicilinas
                    </li>
                    <li>
                        B. Ceftazidimas
                    </li>
                    <li>
                        C. Augmentinas
                    </li>
                    <li>
                        D. Tetraciklinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.9</b> Kuris antibiotikas tinka streptokokinei pneumonijai gydyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Levomicetinas
                    </li>
                    <li>
                        B. Tetraciklinas
                    </li>
                    <li>
                        C. Penicilinas
                    </li>
                    <li>
                        D. Oksacilinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.10</b> Kuris antibiotikas tinka stafilokokinei pneumonijai gydyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Oksacilinas
                    </li>
                    <li>
                        B. Tetraciklinas
                    </li>
                    <li>
                        C. Penicilinas
                    </li>
                    <li>
                        D. Levomicetinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.11</b> Kuri ūminės pneumonijos gydymo taktika yra teisinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nedelsiant pradėti gydymą penicilinu ir gentamicinu
                    </li>
                    <li>
                        B. Nepradėti gydymo tol, kol nebus skreplių pasėlio tyrimo rezultatų
                    </li>
                    <li>
                        C. Gydyti cefalosporinais
                    </li>
                    <li>
                        D. Skubiai mikroskopiškai ištirti skreplius Gramo būdu ir pagal tyrimo rezultatus paskirti antibiotikus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.12</b> Kaip pagal klinikinę eigą klasifikuojama astma:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aspirininė ir profesinė
                    </li>
                    <li>
                        B. Infekcinė ir alerginė
                    </li>
                    <li>
                        C. Atopinė ir alerginė
                    </li>
                    <li>
                        D. Endogeninė ir egzogeninė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.13</b> Kuri astmos patogenezės grandis yra pagrindinė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Putliųjų ląstelių degranuliacija ir biologiškai aktyvių medžiagų išskyrimas
                    </li>
                    <li>
                        B. Arachidono rūgšties ir tromboksano poveikis bronchų gleivinei
                    </li>
                    <li>
                        C. Oksidantų ir teršalų poveikis putliosioms ląstelėms
                    </li>
                    <li>
                        D. Ciklinio adenozinmonofosfato (cAMF) koncentracijos sumažėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.14</b> Kuris reiškinys būdingas astminei būklei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dusulio priepuolis trunka ilgiau kaip 24 val
                    </li>
                    <li>
                        B. Dusulio priepuolis trunka ilgiau kaip 12 val
                    </li>
                    <li>
                        C. Dusulio priepuolis kartojasi 3–4 kartus per parą
                    </li>
                    <li>
                        D. Dusulio priepuolis nepraeina nuo anksčiau padėjusių vaistų (ypač β2 agonistų) ir neįmanoma atsikosėti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.15</b> Kuris vaistas yra inhaliacinis gliukokortikoidas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Fenoterolis
                    </li>
                    <li>
                        B. Ipratropiumo bromidas
                    </li>
                    <li>
                        C. Salbutamolis
                    </li>
                    <li>
                        D. Budezonidas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.16</b> Kurie vaistai vartojami sunkiai bronchinės astmos formai gydyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tik simpatomimetikai ir cholinolitikai
                    </li>
                    <li>
                        B. Įprastinis astmos gydymas bei peroraliniai gliukokortikoidai 
                    </li>
                    <li>
                        C. Tik metilksantinai ir β2 agonistai  
                    </li>
                    <li>
                        D. Natrio chromoglikato preparatai, antros kartos antihistamininiai vaistai ir β2 agonistai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.17</b> Kaip turi būti gydoma astminė būklė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. β2 agonistai, ksantinai ir deguonis
                    </li>
                    <li>
                        B. Rehidratacija, metilksantinai ir β2 agonistai
                    </li>
                    <li>
                        C. Rehidratacija, deguonis, ksantinai ir inhaliaciniai gliukokortikoidai
                    </li>
                    <li>
                        D. Rehidratacija, gliukokortikoidai į/v, metilksantinai ir deguonis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.18</b> Kuris vaistas yra β2 agonistas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Salbutamolis
                    </li>
                    <li>
                        B. Beklametazonas
                    </li>
                    <li>
                        C. Flunizolidas
                    </li>
                    <li>
                        D. Ketotifenas
                    </li>
                    <li>
                        E. Montelukastas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.19</b> Kuriuo būdu astma sergantiems ligoniams skiriami gliukokortikoidai turi mažiausią sisteminį poveikį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Per burną
                    </li>
                    <li>
                        B. Į raumenis
                    </li>
                    <li>
                        C. Į veną
                    </li>
                    <li>
                        D. Inhaliacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.20</b> Kas yra svarbiausia ambulatoriškai gydant bronchine persistuojančia astma sergantį ligonį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ligonis bent kartą per savaitę turi apsilankyti poliklinikoje 
                    </li>
                    <li>
                        B. Būtina bent kartą per metus ligonį pasiųsti reabilitacijai į sanatoriją
                    </li>
                    <li>
                        C. Rekomenduoti nuolat vartoti β2 agonistus ir inhaliacinius gliukokortikoidus
                    </li>
                    <li>
                        D. Būtina išaiškinti ligoniui vaistų vartojimo tvarką
                    </li>
                    <li>
                        E. Kartą per metus atlikti krūtinės rentgenogramą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.21</b> Kuris reiškinys gali būti plaučių emfizemos priežastimi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. α1 antitripsino deficitas 
                    </li>
                    <li>
                        B. cAMF koncentracijos padidėjimas
                    </li>
                    <li>
                        C. Kolageninių skaidulų išbujojimas
                    </li>
                    <li>
                        D. Surfaktanto stoka
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.22</b> Kokios yra dvi lėtinio bronchito klinikinės formos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Katarinis ir pūlingas
                    </li>
                    <li>
                        B. Obstrukcinis ir kataralinis
                    </li>
                    <li>
                        C. Pūlingas ir obstrukcinis
                    </li>
                    <li>
                        D. Obstrukcinis ir neobstrukcinis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.23</b> Kuris rentgenologinis požymis būdingas lėtiniam bronchitui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Peribronchinė infiltracija
                    </li>
                    <li>
                        B. Plaučių emfizemos požymiai
                    </li>
                    <li>
                        C. Išsiplėtusi plaučių arterija
                    </li>
                    <li>
                        D. Nespecifiniai pokyčiai - sustiprėjęs plaučių audinio drūžėtumas abipus dėl peribronchinės ir perivaskulinės fibrozės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.24</b> Kuris idiopatinio fibrozuojančio alveolito (Hamano-Ričo sindromas) klinikinis požymis yra svarbiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sausas kosulys
                    </li>
                    <li>
                        B. Karščiavimas
                    </li>
                    <li>
                        C. Naktiniai dusulio priepuoliai
                    </li>
                    <li>
                        D. Progresuojantis dusulys
                    </li>
                    <li>
                        E. Silpnumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.25</b> Kaip turi būti gydomi idiopatiniu fibrozuojančiu alveolitu (Hemo-Ričo liga) sergantys ligoniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nespecifiniais priešuždegiminiais vaistais ir gliukokortikoidais
                    </li>
                    <li>
                        B. Imunosupresantais ir antibiotikais
                    </li>
                    <li>
                        C. Antibiotikais ir gliukokortikoidais
                    </li>
                    <li>
                        D. Gliukokortikoidais ir imunosupresantais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.26</b> Kurie morfologiniai pakitimai būdingi sarkoidozei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nenekrotizuojančios granuliomos
                    </li>
                    <li>
                        B. Granuliomos su kazeozine nekroze
                    </li>
                    <li>
                        C. Granuliomos su eozinofilų ir bazofilų infiltracija 
                    </li>
                    <li>
                        D. Granuliomos su leukocitų ir eritrocitų infiltracija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.27</b> Kuriais vaistais turi būti gydoma sarkoidozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Imunosupresantais
                    </li>
                    <li>
                        B. Nespecifiniais priešuždegiminiais vaistais
                    </li>
                    <li>
                        C. Antibiotikais
                    </li>
                    <li>
                        D. Gliukokortikoidais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.28</b> Kokie morfologiniai Vegenerio granuliomatozės su plaučių pažeidimu ypatumai: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Granuliomos, sudarytos iš epitelioidinių, Langhanso gigantinių ląstelių bei smulkiųjų ir vidutinio dydžio kraujagyslių nekrotizuojantis uždegimas
                    </li>
                    <li>
                        B. Nenekrotizuojančios granuliomos
                    </li>
                    <li>
                        C. Granuliomos su kazeozine nekroze
                    </li>
                    <li>
                        D. Granuliomos, sudarytos iš epitelioidinių bei Langhanso gigantinių ląstelių 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.29</b> Kurie organai paprastai pažeidžiami Goodpasture sindromo atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučiai ir kepenys
                    </li>
                    <li>
                        B. Plaučiai ir širdis
                    </li>
                    <li>
                        C. Plaučiai ir lytiniai organai
                    </li>
                    <li>
                        D. Plaučiai ir inkstai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.30</b> Koks Goodpasture sindromu sergančiųjų gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antibiotikais, imunosupresantais ir plazmaferezėmis
                    </li>
                    <li>
                        B. Imunosupresantais, nespecifiniais priešuždegiminiais vaistais ir hemosorbcijomis
                    </li>
                    <li>
                        C. Gliukokortikoidais, antibiotikais ir plazmaferezėmis
                    </li>
                    <li>
                        D. Gliukokortikoidais, imunosupresantais ir plazmaferezėmis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.31</b> Kuris simptomų derinys būdingas bronchektazėms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pūlingi skrepliai, svorio kritimas, drėgni karkalai ir „būgno lazdelių“ pirštai
                    </li>
                    <li>
                        B. Pūlingi skrepliai su krauju, karščiavimas ir amforinis kvėpavimas
                    </li>
                    <li>
                        C. Gleivingi skrepliai, dusulys ir sausi švilpiantys karkalai
                    </li>
                    <li>
                        D. „Būgno lazdelių“ pirštai, pūlingi skrepliai ir sausi švilpiantys karkalai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.32</b> Kuriuo tyrimu galima patvirtinti bronchektazių diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtinės KT
                    </li>
                    <li>
                        B. Tiesinė krūtinės ląstos organų rentgenograma
                    </li>
                    <li>
                        C. Bronchoskopija
                    </li>
                    <li>
                        D. Plaučių scintigrama
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.33</b> Kuri komplikacija būdinga bronchektazėms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sepsinis endokarditas
                    </li>
                    <li>
                        B. Ferodeficitinė anemija
                    </li>
                    <li>
                        C. Amiloidozė
                    </li>
                    <li>
                        D. Kušingo sindromas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.34</b> Kuris simptomų derinys būdingas plaučių abscesui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pūlingi skrepliai, karščiavimas ir ryški leukocitozė
                    </li>
                    <li>
                        B. Kraujo atkosėjimas, subfebrili temperatūra ir „būgno lazdelių“ pirštai
                    </li>
                    <li>
                        C. Gausūs gleivėti skrepliai, karščiavimas ir leukopenija
                    </li>
                    <li>
                        D. Rūdžių spalvos skrepliai, subfebrili temperatūra ir leukocitozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.35</b> Kuris plaučių arterijos tromboembolijos šaltinis yra dažniausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kairiojo prieširdžio trombai
                    </li>
                    <li>
                        B. Viršutinės tuščiosios venos baseino trombai
                    </li>
                    <li>
                        C. Apatinės tuščiosios venos baseino trombai
                    </li>
                    <li>
                        D. Dešiniojo prieširdžio trombai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.36</b> Kuris simptomų derinys būdingas masyviai plaučių arterijos tromboembolijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šokas, cianozė, dusulys ir tachikardija
                    </li>
                    <li>
                        B. Plaučių edema, dusulys ir cianozė
                    </li>
                    <li>
                        C. Ūminė psichozė, bradikardija ir kolapsas
                    </li>
                    <li>
                        D. Masyvus kraujavimas iš plaučių, šokas, tachikardija ir cianozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.37</b> Kuris simpotomų derinys būdingas plaučių arterijos riebalinei embolijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dusulys, tachikardija, cianozė, smulkus petechinis,palpuojant neišnykstantis krūtinės, pažastų, junginės ir kaklo hemoraginis bėrimas
                    </li>
                    <li>
                        B. Plaučių edema, dusulys ir cianozė
                    </li>
                    <li>
                        C. Masyvus kraujavimas iš plaučių, šokas ir tachikardija
                    </li>
                    <li>
                        D. Cianozė, dusulys, šokas ir anurija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.38</b> Kurie gyvybei pavojingi sindromai vystosi embolijos vaisiaus vandenimis metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Respiracinio distreso ir Goodpasture sindromas
                    </li>
                    <li>
                        B. Diseminuotos intravazalinės koaguliacijos ir Goodpasture sindromas 
                    </li>
                    <li>
                        C. Goodpasture ir Kaplano sindromas 
                    </li>
                    <li>
                        D. Respiracinio distreso ir diseminuotos intravazalinės koaguliacijos sindromas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.39</b> Koks masyvios plaučių arterijos tromboembolijos gydymas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Trombolitikais, o jeigu jie neefektyvūs – embolektomija
                    </li>
                    <li>
                        B. Heparinu, o jeigu jis neefektyvus – embolektomija
                    </li>
                    <li>
                        C. Embolektomija
                    </li>
                    <li>
                        D. Varfarinu, o jeigu jis neefektyvus – embolektomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.40</b> Venų tromboembolinės ligos metu būna:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Giliųjų venų trombozė
                    </li>
                    <li>
                        B. Pėdos gangrena
                    </li>
                    <li>
                        C. Išeminis insultas
                    </li>
                    <li>
                        D. Centrinės tinklainės arterijos trombozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.41</b> „Būgno lazdelių“ formos pirštų nebūna sergant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Infekciniu endokarditu
                    </li>
                    <li>
                        B. Kepenų ciroze
                    </li>
                    <li>
                        C. Pirmine plaučių emfizema
                    </li>
                    <li>
                        D. Lėtiniu obstrukciniu bronchitu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.42</b> Smarkaus kraujavimo iš plaučių metu ligoniai miršta dėl:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aspiracijos krauju
                    </li>
                    <li>
                        B. Hemoraginio šoko
                    </li>
                    <li>
                        C. Posthemoraginės anemijos 
                    </li>
                    <li>
                        D. Ūminio širdies nepakankamumo
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>31.43</b> Kuri nurodytų pūlingų plaučių ligų gydymo taktika yra teisinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 12.76. Lokalios, apimančios 2 segmentus bronchektazės
                    </li>
                    <li>
                        2 - 12.77. Periferinis plaučių abscesas
                    </li>
                    <li>
                        3 - 12.78. Centrinis plaučių abscesas
                    </li>
                    <li>
                        4 - 12.79. Žaliamėlės pseudomonos sukelta absceduojanti pneumonija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Perkutaninis absceso drenažas
                    </li>
                    <li>
                        B. Operacinis gydymas (segmentektomija)
                    </li>
                    <li>
                        C. Gydomosios bronchoskopijos
                    </li>
                    <li>
                        D. Gydymas ceftazidimu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.44</b> Kurie sukėlėjai gali būti nurodytų pneumonijų priežastimi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 12.64. Absceduojanti pneumonija
                    </li>
                    <li>
                        2 - 12.65. Gangreninė pneumonija
                    </li>
                    <li>
                        3 - 12.66. Krupinė pneumonija
                    </li>
                    <li>
                        4 - 12.77. Intersticinė pneumonija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Anaerobai
                    </li>
                    <li>
                        B. Stafilokokai
                    </li>
                    <li>
                        C. Pneumokokai
                    </li>
                    <li>
                        D. Mikoplazmos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.45</b> Kuris antibiotikas turi būti pasirinktas nurodytų pneumonijų gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 12.72. Pneumokokinė
                    </li>
                    <li>
                        2 - 12.73. Auksinis stafilokokas 
                    </li>
                    <li>
                        3 - 12.74. Žaliamėlės pseudomonos sukelta absceduojanti pneumonija
                    </li>
                    <li>
                        4 - 12.75. Mikoplazminė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Eritromicinas
                    </li>
                    <li>
                        B. Ceftazidimas
                    </li>
                    <li>
                        C. Oksacilinas
                    </li>
                    <li>
                        D. Penicilinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.95</b> Kokia geriausia nurodytų skirtingų plaučių embolijos formų gydymo taktika:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Masyvi plaučių embolija
                    </li>
                    <li>
                        2 - Mikrotromboembolija
                    </li>
                    <li>
                        3 - Embolija riebalais
                    </li>
                    <li>
                        4 - Pasikartojanti plaučių arterijos tromboembolija nepaisant adekvataus gydymo
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Trombolizė arba embolektomija
                    </li>
                    <li>
                        B. Priešembolinio filtro implantacija
                    </li>
                    <li>
                        C.  Lipostabilis
                    </li>
                    <li>
                        D.  Heparinas
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>31.46 </b> Kurie teiginiai apie astmą yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Lėtinė recidyvuojanti liga
                    </li>
                    <li>
                        2. Jos patogenezei didelę įtaką turi padidėjęs bronchų reaktyvumas
                    </li>
                    <li>
                        3. Kliniškai pasireiškia bronchų obstrukcijos priepuoliais ir švokštimu
                    </li>
                    <li>
                        4. Gydymas inhaliaciniais gliukokortikoidais būna neefektyvus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.47 </b> Kurie teiginiai apie sarkoidozę yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Neaiškios etiologijos ir patogenezės sisteminė granuliominė liga
                    </li>
                    <li>
                        2. Ja sergant visada būna teigiama Mantu reakcija
                    </li>
                    <li>
                        3. Ja sergant Kveimo reakcija būna teigiama
                    </li>
                    <li>
                        4. Sarkoidozei būdinga hipokalcemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.48 </b> Kurie požymiai būdingi astminei būklei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sunkus, užsitęsęs ir gyvybei pavojingas dusulio priepuolis
                    </li>
                    <li>
                        2. Priepuolis likviduojamas β2 agonistų inhaliacijomis
                    </li>
                    <li>
                        3. Įprastiniai vaistai – inhaliuojamieji β2 agonistai priepuolio nelikviduoja
                    </li>
                    <li>
                        4. Priepuolį likviduoja atropino injekcija į veną
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.49 </b> Kurios komplikacijos būdingos ūminėms pneumonijoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Eksudacinis pleuritas
                    </li>
                    <li>
                        2. Atelektazė
                    </li>
                    <li>
                        3. Bakterinis šokas
                    </li>
                    <li>
                        4. Plaučių arterijos tromboembolija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.50 </b> Kaip turi būti gydomas ligonis, kuris atkosti kraujo iš plaučių (haemoptoe):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ramybė ir šaltis krūtinės plote
                    </li>
                    <li>
                        2. Kraujo perpylimas
                    </li>
                    <li>
                        3. Koaguliaciją skatinantys vaistai
                    </li>
                    <li>
                        4. Operacinis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.51 </b> Kurios komplikacijos būdingos lėtinei plautinei širdžiai (cor pulmonale):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Antrinė eritrocitozė
                    </li>
                    <li>
                        2. Anemija
                    </li>
                    <li>
                        3. Kraujavimas iš skrandžio
                    </li>
                    <li>
                        4. Hiperkalcemija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.52 </b> Esant centrinio tipo plaučių vėžiui būna: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Atkosėjimas krauju
                    </li>
                    <li>
                        2. Besikartojančios plaučių infekcijos
                    </li>
                    <li>
                        3. Atelektazė
                    </li>
                    <li>
                        4. Harnerio sindromas
                    </li>
                    <li>
                        5. Pleuriniai skausmai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.53 </b> Esant vidurinės skilties sindromui, nustatome:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dešinės vidurinės skilties uždegimą
                    </li>
                    <li>
                        2. Bronchinį alsavimą auskultuojant dešinės vidurinės skilties projekcijoje
                    </li>
                    <li>
                        3. Dešinės vidurinės skilties hipoventiliaciją
                    </li>
                    <li>
                        4. Dešinės pusės pleuritą
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>31.54</b> 28m. studentas skundžiasi karščiavimu, šaltkrėčiu, dešiniojo šono skausmais, kurie kosint sustiprėja. Susirgo staiga, po peršalimo. Objektyvūs tyrimai. T – 38°C. Kvėpavimo dažnis – 28 k./min. Dešinės apatinės krūtinės sienos srityje perkusinis garsas duslus, kvėpavimas bronchinis.  Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Eksudacinis pleuritas
                    </li>
                    <li>
                        B. Alveolitas
                    </li>
                    <li>
                        C. Židininė pneumonija
                    </li>
                    <li>
                        D. Krupinė pneumonija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.55</b> 28m. studentas skundžiasi karščiavimu, šaltkrėčiu, dešiniojo šono skausmais, kurie kosint sustiprėja. Susirgo staiga, po peršalimo. Objektyvūs tyrimai. T – 38°C. Kvėpavimo dažnis – 28 k./min. Dešinės apatinės krūtinės sienos srityje perkusinis garsas duslus, kvėpavimas bronchinis. Kurio sukėlėjo tikimybė yra didžiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pneumokokas
                    </li>
                    <li>
                        B. Žaliamėlė pseudomona
                    </li>
                    <li>
                        C. Anaerobas
                    </li>
                    <li>
                        D. Grybelis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.56</b> 28m. studentas skundžiasi karščiavimu, šaltkrėčiu, dešiniojo šono skausmais, kurie kosint sustiprėja. Susirgo staiga, po peršalimo. Objektyvūs tyrimai. T – 38°C. Kvėpavimo dažnis – 28 k./min. Dešinės apatinės krūtinės sienos srityje perkusinis garsas duslus, kvėpavimas bronchinis. Kuris tyrimas patvirtina diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. EKG
                    </li>
                    <li>
                        B. Šlapimo tyrimas
                    </li>
                    <li>
                        C. Spirograma
                    </li>
                    <li>
                        D. Krūtinės organų rentgenograma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.57</b> 28m. studentas skundžiasi karščiavimu, šaltkrėčiu, dešiniojo šono skausmais, kurie kosint sustiprėja. Susirgo staiga, po peršalimo. Objektyvūs tyrimai. T – 38°C. Kvėpavimo dažnis – 28 k./min. Dešinės apatinės krūtinės sienos srityje perkusinis garsas duslus, kvėpavimas bronchinis. Kuris antibiotikas turi būti skiriamas gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Oksacilinas
                    </li>
                    <li>
                        B. Cefotaksimas
                    </li>
                    <li>
                        C. Pencilinas
                    </li>
                    <li>
                        D. Eritromicinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.58</b> 48 m. dažnai alkoholį vartojantis vyras skundžiasi kosuliu, karščiavimu ir gausiu skrepliavimu vandeningais rusvos spalvos skrepliais. Objektyvūs tyrimai. T – 39°C. Kvėpavimo dažnis – 28 k./min. Dešiniojo plaučio apatinėje dalyje girdimi drėgni karkalai. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis bronchitas
                    </li>
                    <li>
                        B. Bronchektazės 
                    </li>
                    <li>
                        C. Plaučių arterijos embolija
                    </li>
                    <li>
                        D. Pneumonija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.59</b> 48 m. dažnai alkoholį vartojantis vyras skundžiasi kosuliu, karščiavimu ir gausiu skrepliavimu vandeningais rusvos spalvos skrepliais. Objektyvūs tyrimai. T – 39°C. Kvėpavimo dažnis – 28 k./min. Dešiniojo plaučio pamate girdimi drėgni karkalai. Kurio sukėlėjo tikimybė yra didžiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pneumokokas
                    </li>
                    <li>
                        B. Mikoplazma
                    </li>
                    <li>
                        C. Klebsiela
                    </li>
                    <li>
                        D. Anaerobas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.60</b> 48 m. dažnai alkoholį vartojantis vyras skundžiasi kosuliu, karščiavimu ir gausiu skrepliavimu vandeningais rusvos spalvos skrepliais. Objektyvūs tyrimai. T – 39°C. Kvėpavimo dažnis – 28 k./min. Dešiniojo plaučio pamate girdimi drėgni karkalai. Kuris antibiotikas turi būti skiriamas gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Penicilinas
                    </li>
                    <li>
                        B. Oksacilinas
                    </li>
                    <li>
                        C. Ceftazidimas
                    </li>
                    <li>
                        D. Eritromicinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.61</b> Sergantis reumatoidiniu artritu 65 m. vyras, gydosi reumatologijos skyriuje. Gydytas voltareno injekcijomis į raumenis bei elektroforeze novokainu. Po penktos voltareno injekcijos temperatūra pakilo iki 39°C, ėmė kosėti, pradėjo skaudėti krūtinę. Objektyvūs tyrimai. Kairiojo plaučio pamate nedaug drėgnų karkalų. Rentgenologiškai  – įvairaus dydžio neryškūs homogeniniai židiniai kairiajame plautyje. Lab. tyrimai: periferiniame kraujyje  – leuk. – 10,0×10⁹/l, eoz. – 40%, lazd. – 4%, segm. – 26%, limf. – 20%, mon. – 10%. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Infarktpneumonija
                    </li>
                    <li>
                        B. Židininė pneumonija
                    </li>
                    <li>
                        C. Krupinė pneumonija
                    </li>
                    <li>
                        D. Ūminis eozinofilinis plaučių infiltratas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.62</b> Sergantis reumatoidiniu artritu 65 m. vyras, gydosi reumatologijos skyriuje. Gydytas voltareno injekcijomis į raumenis bei elektroforeze novokainu. Po penktos voltareno injekcijos temperatūra pakilo iki 39°C, ėmė kosėti, pradėjo skaudėti krūtinę. Objektyvūs tyrimai. Kairiojo plaučio pamate nedaug drėgnų karkalų. Rentgenologiškai  – įvairaus dydžio neryškūs homogeniniai židiniai kairiajame plautyje. Lab. tyrimai: periferiniame kraujyje  – leuk. – 10,0×10⁹/l, eoz. – 40%, lazd. – 4%, segm. – 26%, limf. – 20%, mon. – 10%. Kurie vaistai turi būti skiriami gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antibiotikai
                    </li>
                    <li>
                        B. Sulfanilamidai
                    </li>
                    <li>
                        C. Antihistamininiai vaistai
                    </li>
                    <li>
                        D. Gliukokortikoidai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.63</b> Gydant penicilinu nekomplikuota židinine pneumonija sergantį 25 m. ligonį, po 10 dienų atsirado alerginiai makulopapuliniai niežintys bėrimai. Kokia turi būti tolesnio gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Peniciliną keisti kitu antibiotiku
                    </li>
                    <li>
                        B. Tęsti gydymą penicilinu ir skirti priešalerginius vaistus
                    </li>
                    <li>
                        C. Tęsti gydymą penicilinu ir skirti gliukokortikoidus
                    </li>
                    <li>
                        D. Nutraukti gydymą penicilinu ir skirti priešalerginius vaistus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.64</b> 50 m. moteris skundžiasi dusulio priepuoliais, kurie užeina paryčiais arba įkvėpus garų ir dulkių. Objektyvūs tyrimai. Kvėpavimo dažnis – 24 k./min. Visame plaučių plote gausūs švilpiantys karkalai. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Preastma
                    </li>
                    <li>
                        B. Obstrukcinis bronchitas
                    </li>
                    <li>
                        C. Asthma cardiale
                    </li>
                    <li>
                        D. Astma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.65</b> 50 m. moteris skundžiasi dusulio priepuoliais, kurie užeina paryčiais arba įkvėpus garų ir dulkių. Objektyvūs tyrimai. Kvėpavimo dažnis – 24 k./min. Visame plaučių plote gausūs švilpiantys karkalai. Kurie vaistai turi būti skiriami gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ksantinai ir beta adrenoblokatoriai
                    </li>
                    <li>
                        B. Inhaliaciniai gliukokortikoidai ir atropinas
                    </li>
                    <li>
                        C. β-2 agonistai ir nitratai
                    </li>
                    <li>
                        D. β-2 agonistai, inhaliaciniai gliukokortikoidai ir chromoglikatai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.66</b> Sergantį bronchine astma 50 m. vyrą vargina intensyvus dusulio priepuolis, nepraeinantis nuo β2 agonistų inhaliacijų. Objektyvūs tyrimai. Kvėpavimo dažnis – 30 k./min. ŠSD – 100 k./min. AKS – 120/80 mHg. Visame plaučių plote – švilpiantys karkalai. Kokia komplikacija vystosi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių edema
                    </li>
                    <li>
                        B. Sunkus bronchinės astmos priepuolis
                    </li>
                    <li>
                        C. Plaučių arterijos tromboembolija
                    </li>
                    <li>
                        D. Astminė būklė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.67</b> Sergantį bronchine astma 50 m. vyrą vargina intensyvus dusulio priepuolis, nepraeinantis nuo β2 agonistų inhaliacijų. Objektyvūs tyrimai. Kvėpavimo dažnis – 30 k./min. ŠSD – 100 k./min. AKS – 120/80 mHg. Visame plaučių plote – švilpiantys karkalai. Kuriame skyriuje reiktų sekti ligonį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pulmonologijos
                    </li>
                    <li>
                        B. Vidaus ligų
                    </li>
                    <li>
                        C. Intensyvios terapijos 
                    </li>
                    <li>
                        D. Ligonį galima gydyti namuose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.68</b> Sergantį bronchine astma 50 m. vyrą vargina intensyvus dusulio priepuolis, nepraeinantis nuo β2 agonistų inhaliacijų. Objektyvūs tyrimai. Kvėpavimo dažnis – 30 k./min. ŠSD – 100 k./min. AKS – 120/80 mHg. Visame plaučių plote – švilpiantys karkalai. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Deguonis, rehidracija, gliukokortikoidai ir ksantinai
                    </li>
                    <li>
                        B. Deguonis, β2 agonistai ir ksantinai
                    </li>
                    <li>
                        C. Gliukokortikoidai
                    </li>
                    <li>
                        D. Rehidratacija, deguonis, β-2 agonistai ir ksantinai   
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.69</b> 56 m. moteris po prieš 8 dienas padarytos cholecistektomijos atsikėlė ir ėjo į tualetą. Staiga jos veidas pamėlo, paryškėjo ir ėmė pulsuoti kaklo venos, pradėjo dažnai kvėpuoti ir krito be sąmonės. Objektyvios apžiūros duomenys: Kvėpavimo dažnis – 40 k./min. SD – 146 k./min., AKS – 50/30 mmHg. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Insultas
                    </li>
                    <li>
                        B. Kolapsas
                    </li>
                    <li>
                        C. Masyvi plaučių arterijos tromboembolija
                    </li>
                    <li>
                        D. Miokardo infarktas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.70</b> 56 m. moteris po prieš 8 dienas padarytos cholecistektomijos atsikėlė ir ėjo į tualetą. Staiga jos veidas pamėlo, paryškėjo ir ėmė pulsuoti kaklo venos, pradėjo dažnai kvėpuoti ir krito be sąmonės. Objektyvūs tyrimai. Tachipnoe (kvėpavimo dažnis – 40 k./min.). Tachikardija (ŠSD – 146 k./min.). AKS – 50/30 mmHg. . Kuri tolesnio tyrimo ir gydymo taktika yra teisinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Užrašyti EKG
                    </li>
                    <li>
                        B. Ištirti kraujo dujas
                    </li>
                    <li>
                        C. Padaryti plaučių scintigrafiją
                    </li>
                    <li>
                        D. Skirti vazopresorius, spazmolitikus ir ligonę perkelti į reanimacinį skyrių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.71</b> 56 m. moteris po prieš 8 dienas padarytos cholecistektomijos atsikėlė ir ėjo į tualetą. Staiga jos veidas pamėlo, paryškėjo ir ėmė pulsuoti kaklo venos, pradėjo dažnai kvėpuoti ir krito be sąmonės. Objektyvūs tyrimai. Tachipnoe (kvėpavimo dažnis – 40 k./min.). Tachikardija (ŠSD – 146 k./min.). AKS – 50/30 mmHg. Kaip turi keistis gydymo taktika, kai hemodinamika stabilizuojasi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydyti heparinu ir eufilinu
                    </li>
                    <li>
                        B. Gydyti heparinu
                    </li>
                    <li>
                        C. Fibrinolizė ir tolesnis gydymas heparinu
                    </li>
                    <li>
                        D. Gydyti varfarinu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.72</b> Skubiai paguldyta į kardiologijos skyrių 70 m. moteris skundėsi didžiuliu silpnumu, širdies plakimu ir kraujo atkosėjimu. Iš anamnezės – apie 10 metų serga išemine širdies liga, gydymui vartoja nitratus, širdį veikiančius glikozidus, būklė ryškiai pablogėjusi prieš 2 mėn.: progresuoja silpnumas ir dusulys. Objektyvi apžiūra: Ryški veido cianozė, išsipūtusios, pulsuojančios kaklo venos. ŠSD – 146k./min. AKS – 80/40 mmHg. Plaučių apatinėse dalyse girdėti staziniai karkalai. Kojose – edemos, išsiplėtusios paviršinės venos, dešinėje blauzdoje – teigiamas Homandso simptomas. Kokia preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paroksizminis prieširdžių virpėjimas
                    </li>
                    <li>
                        B. Miokardo infarktas
                    </li>
                    <li>
                        C. Insultas
                    </li>
                    <li>
                        D. Plaučių arterijos tromboembolija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.73</b> Skubiai paguldyta į kardiologijos skyrių 70 m. moteris skundėsi didžiuliu silpnumu, širdies plakimu ir kraujo atkosėjimu. Iš anamnezės – apie 10 metų serga išemine širdies liga, gydymui vartoja nitratus, širdį veikiančius glikozidus, būklė ryškiai pablogėjusi prieš 2 mėn.: progresuoja silpnumas ir dusulys. Objektyvūs tyrimai. Ryški veido cianozė, išsipūtusios, pulsuojančios kaklo venos. ŠSD – 146k./min. AKS – 80/40 mmHg. Plaučių pamate girdėti staziniai karkalai. Kojose – edemos, išsiplėtusios paviršinės venos, dešinėje blauzdoje – teigiamas Homandso simptomas. Kokie tokiu atveju turėtų būti EKG pakitimai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. S1,Q3, T3, P pulmonale II, III ir aVF derivacijose, dalinė dešinės Hiso pluošto kojytės blokada
                    </li>
                    <li>
                        B. Gilus Q dantelis III, aVL ir aVF derivacijose, ST segmento depresija V2 ir V3 derivacijose 
                    </li>
                    <li>
                        C. Aukšti R danteliai V5 ir V6 derivacijose, neigiami T danteliai V3 ir V4 derivacijose
                    </li>
                    <li>
                        D. Kairės Hiso pluošto kojytės blokada, aukšti R danteliai V5, V6 derivacijose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.74</b> Skubiai paguldyta į kardiologijos skyrių 70 m. moteris skundėsi didžiuliu silpnumu, širdies plakimu ir kraujo atkosėjimu. Iš anamnezės – apie 10 metų serga išemine širdies liga, gydymui vartoja nitratus, širdį veikiančius glikozidus, būklė ryškiai pablogėjusi prieš 2 mėn.: progresuoja silpnumas ir dusulys. Objektyvūs tyrimai. Ryški veido cianozė, išsipūtusios, pulsuojančios kaklo venos. ŠSD – 146k./min. AKS – 80/40 mmHg. Plaučių pamate girdėti staziniai karkalai. Kojose – edemos, išsiplėtusios paviršinės venos, dešinėje blauzdoje – teigiamas Homandso simptomas. Kurių pakitimų reikia tikėtis tiesinėje krūtinės organų rentgenogramoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kairiojo prieširdžio ir skilvelio išsiplėtimas
                    </li>
                    <li>
                        B. Pagrindinių plaučių arterijų išsiplėtimas 
                    </li>
                    <li>
                        C. Trikampio formos plaučių infiltratas
                    </li>
                    <li>
                        D. Jokių rentgenologinių pakitimų nebus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.75</b> Skubiai paguldyta į kardiologijos skyrių 70 m. moteris skundėsi didžiuliu silpnumu, širdies plakimu ir kraujo atkosėjimu. Iš anamnezės – apie 10 metų serga išemine širdies liga, gydymui vartoja nitratus, širdį veikiančius glikozidus, būklė ryškiai pablogėjusi prieš 2 mėn.: progresuoja silpnumas ir dusulys. Objektyvūs tyrimai. Ryški veido cianozė, išsipūtusios, pulsuojančios kaklo venos. ŠSD – 146k./min. AKS – 80/40 mmHg. Plaučių pamate girdėti staziniai karkalai. Kojose – edemos, išsiplėtusios paviršinės venos, dešinėje blauzdoje – teigiamas Homandso simptomas. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Analgetikus
                    </li>
                    <li>
                        B. Skirti dideles nitratų dozes
                    </li>
                    <li>
                        C. Skirti antikoaguliantus (varfariną) ir vazopresorius
                    </li>
                    <li>
                        D. Skirti vazopresorius, fibrinolitikus ir antikoaguliantus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.76</b> 62 m. ligonis skundžiasi karščiavimu, dusuliu, širdies plakimu, dešinės krūtinės pusės skausmu, kuris sustiprėja giliau įkvėpus, kraujo atkosėjimu. Iš anamnezės – prieš 4 dienas pajuto dešinės krūtinės pusės skausmą, širdies plakimą, atkosėjo krauju. Vėliau prasidėjo dusulys bei karščiavimas iki 38°C. Objektyvūs tyrimai. Veido cianozė. Kvėpavimo dažnis – 28 k./min. Dešinėje žemiau mentės perkusinis garsas paduslėjęs, auskultuojant šioje vietoje girdėti drėgni karkalai. ŠSD – 120 k./min. AKS – 130/80 mmHg. Dešinioji blauzda 3 cm storesnė už kairiąją. Rentgenologiškai – dešinio plaučio apatinėje skiltyje – trikampio formos homogeniškas pritemimas ir praplatėjęs plautinio kamieno šešėlis. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Židininė pneumonija
                    </li>
                    <li>
                        B. Krupinė pneumonija
                    </li>
                    <li>
                        C. Infarktpneumonija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.77</b> 62 m. ligonis skundžiasi karščiavimu, dusuliu, širdies plakimu, dešinės krūtinės pusės skausmu, kuris sustiprėja giliau įkvėpus, kraujo atkosėjimu. Iš anamnezės – prieš 4 dienas pajuto dešinės krūtinės pusės skausmą, širdies plakimą, atkosėjo krauju. Vėliau prasidėjo dusulys bei karščiavimas iki 38°C. Objektyvūs tyrimai. Veido cianozė. Kvėpavimo dažnis – 28 k./min. Dešinėje žemiau mentės perkusinis garsas paduslėjęs, auskultuojant šioje vietoje girdėti skambūs drėgni karkalai. ŠSD – 120 k./min. AKS – 130/80 mmHg. Dešinioji blauzda 3 cm storesnė už kairiąją. Rentgenologiškai – dešinio plaučio apatinėje skiltyje – trikampio formos homogeniškas pritemimas ir praplatėjęs plautinio kamieno šešėlis. Kokie turi būti skiriami vaistai: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atsikosėjimą gerinantys (acetilcisteinas) ir analgetikai
                    </li>
                    <li>
                        B. Antibiotikai ir heparinas
                    </li>
                    <li>
                        C. Spazmolitikai ir antikoaguliantai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.78</b> 36 m. vyras skundžiasi 2 mėn. trunkančiu silpnumu, subfebriliu karščiavimu ir sausu kosuliu. Objektyvūs tyrimai. ŠSD – 80k./min. AKS – 130/80mmHg. Dešinės blauzdos priekiniame paviršiuje – mazginė eritema. Krūtinės organų tiesinėje rentgenogramoje – plaučių šaknys simetriškai praplatėjusios. Kolia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sarkoidozė
                    </li>
                    <li>
                        B. Plaučių vėžys
                    </li>
                    <li>
                        C. Pneumonija
                    </li>
                    <li>
                        D. Limfoma (Hodžkino liga)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.79</b> 36 m. vyras skundžiasi 2 mėn. trunkančiu silpnumu, subfebriliu karščiavimu ir sausu kosuliu. Objektyvūs tyrimai. ŠSD – 80k./min. AKS – 130/80mmHg. Dešinės blauzdos priekiniame paviršiuje – mazginė eritema. Krūtinės organų tiesinėje rentgenogramoje – plaučių šaknys simetriškai praplatėjusios. Kuris tyrimas patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių audinio ar limfmazgių biopsija
                    </li>
                    <li>
                        B. Krūtinės ląstos tomograma
                    </li>
                    <li>
                        C. Plaučių scintigrama
                    </li>
                    <li>
                        D. Krūtinės kompiuterinė tomograma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.80</b> 36 m. vyras skundžiasi 2 mėn. trunkančiu silpnumu, subfebriliu karščiavimu ir sausu kosuliu. Objektyvūs tyrimai. ŠSD – 80k./min. AKS – 130/80mmHg. Dešinės blauzdos priekiniame paviršiuje – mazginė eritema. Krūtinės organų tiesinėje rentgenogramoje – plaučių šaknys simetriškai praplatėjusios. Kurie vaistai turi būti paskirti šios ligos gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antibiotikai
                    </li>
                    <li>
                        B. Gliukokortikoidai
                    </li>
                    <li>
                        C. Citostatikai
                    </li>
                    <li>
                        D. Nespecifiniai vaistai nuo uždegimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.81</b> 45 m. moteris skundžiasi  kraujo atkosėjimu, karščiavimu iki 38°C, dusuliu. Serga apie mėnesį. Pirmieji simptomai buvo karščiavimas ir oro trūkumas. Kai ligonė pradėjo atkosėti kraujo, kreipėsi į medikus. Objektyvūs tyrimai. Kvėpavimo dažnis – 28k./min. Plaučių apatinėse dalyse yra drėgnų karkalų. ŠSD – 110k./min. AKS – 120/80mmHg. Lab. tyrimai: kraujyje – Hb – 80g/l, eritr. – 1,9×10¹²/l, eoz. – 1%, segm. – 70%, limf. – 19%, mon. – 10%, ENG – 45 mm/val., K – 6,5 mmol/l, urea – 40,1 mmol/l. Šlapime – santykinis tankis – 1.010, leuk. – 5–8 r/l, eritr. – pilnas regėjimo laukas. Krūtinės organų rentgenologinio tyrimo išvada – intersticinė plaučių edema. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis glomerulonefritas
                    </li>
                    <li>
                        B. Leptospirozė
                    </li>
                    <li>
                        C. Plaučių arterijos tromboembolija
                    </li>
                    <li>
                        D. Goodpasture sindromas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.82</b> 45 m. moteris skundžiasi  kraujo atkosėjimu, karščiavimu iki 38°C, dusuliu. Serga apie mėnesį. Pirmieji simptomai buvo karščiavimas ir oro trūkumas. Kai ligonė pradėjo atkosėti kraujo, kreipėsi į medikus. Objektyvūs tyrimai. Kvėpavimo dažnis – 28k./min. Plaučių apatinėse dalyse yra drėgnų karkalų. ŠSD – 110k./min. AKS – 120/80mmHg. Lab. tyrimai: kraujyje – Hb – 80g/l, eritr. – 1,9×10¹²/l, eoz. – 1%, lazd. – 0%, segm. – 70%, limf. – 19%, mon. – 10%, ENG – 45 mm/val., K – 6,5 mmol/l, urea – 40,1 mmol/l. Šlapime – santykinis tankis – 1.010, leuk. – 5–8 r/l, eritr. – pilnas regėjimo laukas. Krūtinės organų rentgenologinio tyrimo išvada – intersticinė plaučių edema. Kuris tyrimas patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Leptospirų radimas tamsiame regėjimo lauke
                    </li>
                    <li>
                        B. Plaučių scintigrama
                    </li>
                    <li>
                        C. Plaučių kompiuterinė tomograma
                    </li>
                    <li>
                        D. Antikūnių prieš inkstų bazalinę membraną nustatymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.83</b> 45 m. moteris po persirgtos virusinės infekcijos pajuto dusulį. Iš pradžių jį jautė tik dirbdama, o vėliau ir ilsėdamasi. Objektyvaus ištyrimo duomenys: Lūpų ir veido cianozė. ŠSD – 100 k./min. AKS – 110/60 mmHg. Auskultuojant – abiejuose plaučiuose žemiau menčių yra krepituojančių karkalų. Krūtinės organų tiesinėje rentgenogramoje – visame plote paryškėjęs plaučių audinio piešinys. Lab. tyrimai: kraujyje – Hb – 120g/l, leuk. – 2,8×10⁹/l, eoz. – 2%, segm. – 73%, limf. – 18%, mon. – 7%, ENG – 32 mm/h. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Idiopatinė intersticinė plaučių fibrozė (Hamano-Ričo liga)
                    </li>
                    <li>
                        B. Liekamieji reiškiniai po virusinės infekcijos
                    </li>
                    <li>
                        C. Pneumonija
                    </li>
                    <li>
                        D. Plaučių arterijos trombembolija 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.84</b> 45 m. moteris po persirgtos virusinės infekcijos pajuto dusulį. Iš pradžių jį jautė tik dirbdama, o vėliau ir ilsėdamasi. Objektyvūs tyrimai. Lūpų ir veido cianozė. ŠSD – 100 k./min. AKS – 110/60 mmHg. Auskultuojant – abiejuose plaučiuose žemiau menčių yra krepituojančių karkalų. Krūtinės organų tiesinėje rentgenogramoje – visame plote paryškėjęs plaučių audinio piešinys. Lab. tyrimai: kraujyje – Hb – 120g/l, leuk. – 2,8×10⁹/l, eoz. – 2%, segm. – 73%, limf. – 18%, mon. – 7%, ENG – 32 mm/h. Kuris tyrimas patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo dujų tyrimas
                    </li>
                    <li>
                        B. Spirograma
                    </li>
                    <li>
                        C. Plaučių augiografija
                    </li>
                    <li>
                        D. Plaučių audinio biopsija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.85</b> 45 m. moteris po persirgtos virusinės infekcijos pajuto dusulį. Iš pradžių jį jautė tik dirbdama, o vėliau ir ilsėdamasi. Objektyvūs tyrimai. Lūpų ir veido cianozė. ŠSD – 100 k./min. AKS – 110/60 mmHg. Auskultuojant – abiejuose plaučiuose žemiau menčių yra krepituojančių karkalų. Krūtinės organų tiesinėje rentgenogramoje – visame plote paryškėjęs plaučių audinio piešinys. Lab. tyrimai: kraujyje – Hb – 120g/l, leuk. – 2,8×10⁹/l, eoz. – 2%, segm. – 73%, limf. – 18%, mon. – 7%, ENG – 32 mm/h. Kurie vaistai turi būti skiriami ligos gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antibiotikai ir gliukokortikoidai
                    </li>
                    <li>
                        B. Antibiotikai ir citostatikai
                    </li>
                    <li>
                        C. Antibiotikai ir nespecifiniai priešuždegiminiai vaistai
                    </li>
                    <li>
                        D. Gliukokortikoidai ir citostatikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.86</b> 62 m. moteris skundžiasi karščiavimu iki 38°C, užsitęsusiu rinitu ir viršutinio žandikaulio sinusitu. Rinitais bei sinusitais ligonė serga daugiau kaip metus. Šiuo metu dėl tos priežasties gydosi ausų - nosies - gerklės ligų skyriuje. Lab. tyrimai: kraujyje – Hb – 110 g/l, leuk. – 5,0×10⁹/l, mon. – 10%, lazd. – 1%, eoz. – 1%, segm. – 68%, limf. – 20%, ENG – 60 mm/h. Šlapime – santykinis tankis – 1.015, leuk. – 6–10 r/l, eritr. – 12–14 r/l. Objektyvūs tyrimai. Rentgenologiškai – dešiniojo plaučio šaknyje matyti nelygių kontūrų darinys. Paimta biopsinė medžiaga iš viršutinio žandikaulio ančio ir bronchų. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių vėžys
                    </li>
                    <li>
                        B. Sarkoidozė
                    </li>
                    <li>
                        C. Goodpasture sindromas
                    </li>
                    <li>
                        D. Vegenerio granuliomatozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.87</b> 62 m. moteris skundžiasi karščiavimu iki 38°C, užsitęsusiu rinitu ir viršutinio žandikaulio sinusitu. Rinitais bei sinusitais ligonė serga daugiau kaip metus. Šiuo metu dėl tos priežasties gydosi ausų - nosies - gerklės ligų skyriuje. Lab. tyrimai: kraujyje – Hb – 110 g/l, leuk. – 5,0×10⁹/l, mon. – 10%, lazd. – 1%, eoz. – 1%, segm. – 68%, limf. – 20%, ENG – 60 mm/h. Šlapime – santykinis tankis – 1.015, leuk. – 6–10 r/l, eritr. – 12–14 r/l. Objektyvūs tyrimai. Rentgenologiškai – dešiniojo plaučio šaknyje matyti nelygių kontūrų darinys. Paimta biopsinė medžiaga iš viršutinio žandikaulio ančio ir bronchų. Kurie morfologiniai pakitimai turėtų būti biopsinėje medžiagoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Granuliomos su kazeozine nekroze
                    </li>
                    <li>
                        B. Epitelioidinės Langhanso ir gigantinės ląstelės
                    </li>
                    <li>
                        C. Granuliomos, infiltruotos limfocitais ir makrofagais
                    </li>
                    <li>
                        D. Granuliomos iš epitelioidinių Langhanso ir gigantinių ląstelių, fibrino sankaupos ir smulkiųjų kraujagyslių nekrozinės masės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.88</b> 56 m. vyras, nuo jaunystės sergantis hipertonine liga, skundžiasi karščiavimu iki 38–39°C ir progresuojančiu dusuliu. Iš anamnezės – serga apie dvi savaites, gydytas įvairiais antibiotikais (penicilinu, gentamicinu, klaforanu) – be efekto. Objektyvūs tyrimai. Veido cianozė. ŠSD – 110 k./min. AKS – 180/110 mmHg. Plaučių pamate girdėti krepituojančių karkalų (kaip celofaninio maišelio glamžymo garsas). Rentgenologiškai – paryškėjęs plaučių audinio piešinys, plaučių pamate – veninės stazės požymiai. Lab. tyrimai: kraujyje – Hb – 138 g/l, leuk. – 4.0×10⁹/l, eoz. – 1%, segm. – 70%, limf. – 19%, mon. – 10%, ENG – 45 mm/h. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių arterijos mikrotromboembolija
                    </li>
                    <li>
                        B. Vegenerio granuliomatozė
                    </li>
                    <li>
                        C. Pneumonija
                    </li>
                    <li>
                        D. Idiopatinė intersticinė plaučių fibrozė (Hamano-Ričo liga)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.89</b> 56 m. vyras, nuo jaunystės sergantis hipertonine liga, skundžiasi karščiavimu iki 38–39°C ir progresuojančiu dusuliu. Iš anamnezės – serga apie dvi savaites, gydytas įvairiais antibiotikais (penicilinu, gentamicinu, klaforanu) – be efekto. Objektyvūs tyrimai. Veido cianozė. ŠSD – 110 k./min. AKS – 180/110 mmHg. Plaučių pamate girdėti krepituojančių karkalų (kaip celofaninio maišelio glamžymo garsas). Rentgenologiškai – paryškėjęs plaučių audinio piešinys, plaučių pamate – veninės stazės požymiai. Lab. tyrimai: kraujyje – Hb – 138 g/l, leuk. – 4.0×10⁹/l, eoz. – 1%, segm. – 70%, limf. – 19%, mon. – 10%, ENG – 45 mm/h. Kuris tyrimas patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pulmoangiografija
                    </li>
                    <li>
                        B. Bronchoskopija
                    </li>
                    <li>
                        C. Tomograma per plaučių šaknis
                    </li>
                    <li>
                        D. Plaučių audinio biopsija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.90</b> Dažnai vartojantis alkoholį 45 m. vyras skundžiasi kosuliu ir gausiu skrepliavimu pūlingais skrepliais. Skrepliai kartais būna su kraujo gyslelėmis. Fizinio krūvio metu būna nedidelis dusulys. Yra nepastovus subfebrilitetas. Minėti nusiskundimai ligonį vargina jau penki metai. Objektyvūs tyrimai. Pablyškęs, kvėpavimas šiurkštokas, abiejų plaučių pamate girdėti nedaug smulkių drėgnų karkalų. Krūtinės organų rentgenogramoje – plaučių piešinys paryškėjęs ir netaisyklingas. Lab. tyrimai: kraujyje – leuk. – 7,2×10⁹/l; Hb – 90 g/l. šlapime – 1 g/l baltymo. Kokia  preliminarinė diagnozė:  </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Idiopatinis fibrozuojantis alveolitas
                    </li>
                    <li>
                        B. Randiu-Oslerio liga
                    </li>
                    <li>
                        C. Plaučių tuberkuliozė
                    </li>
                    <li>
                        D. Bronchektazės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.91</b> Dažnai vartojantis alkoholį 45 m. vyras skundžiasi kosuliu ir gausiu skrepliavimu pūlingais skrepliais. Skrepliai kartais būna su kraujo gyslelėmis. Fizinio krūvio metu būna nedidelis dusulys. Yra nepastovus subfebrilitetas. Minėti nusiskundimai ligonį vargina jau penki metai. Objektyvūs tyrimai. Pablyškęs, kvėpavimas šiurkštokas, abiejų plaučių pamate girdėti nedaug smulkių drėgnų karkalų. Krūtinės organų rentgenogramoje – plaučių piešinys paryškėjęs ir netaisyklingas. Lab. tyrimai: kraujyje – leuk. – 7,2×10⁹/l; Hb – 90 g/l. šlapime – 1 g/l baltymo. Kuris tyrimas patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Transbronchinė plaučių audinio biopsija
                    </li>
                    <li>
                        B. Bronchoskopija
                    </li>
                    <li>
                        C. Skreplių pasėlis
                    </li>
                    <li>
                        D. Krūtinės KT
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.92</b> Dažnai vartojantis alkoholį 45 m. vyras skundžiasi kosuliu ir gausiu skrepliavimu pūlingais skrepliais. Skrepliai kartais būna su kraujo gyslelėmis. Fizinio krūvio metu būna nedidelis dusulys. Yra nepastovus subfebrilitetas. Minėti nusiskundimai ligonį vargina jau penki metai. Objektyvūs tyrimai. Pablyškęs, kvėpavimas šiurkštokas, abiejų plaučių pamate girdėti nedaug smulkių drėgnų karkalų. Krūtinės organų rentgenogramoje – plaučių piešinys paryškėjęs ir netaisyklingas. Lab. tyrimai: kraujyje – leuk. – 7,2×10⁹/l; Hb – 90 g/l. šlapime – 1 g/l baltymo. Kokia anemijos priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujavimas iš plaučių
                    </li>
                    <li>
                        B. Amiloidozė
                    </li>
                    <li>
                        C. Hemolizė
                    </li>
                    <li>
                        D. Toks hemoglobino kiekis yra normalus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.93</b> Ištyrus ligonį, diagnozuotas dešinės vidurinės skilties plokščialąstelinis vėžys bei navikiniai mazgai apatinės skilties viršutiniame segmente, padidėję dešinės šaknies limfmazgiai. Kuri ligos stadija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. I A arba I B
                    </li>
                    <li>
                        B. II A arba II B
                    </li>
                    <li>
                        C. III A arba III B
                    </li>
                    <li>
                        D. IV
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>31.94</b> Ištyrus ligonį, diagnozuotas dešinės vidurinės skilties plokščialąstelinis vėžys bei navikiniai mazgai apatinės skilties viršutiniame segmente, padidėję dešinės šaknies limfmazgiai. Kaip gydyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Atlikti dešinę pulmonektomiją ir gydyti simptomiškai
                    </li>
                    <li>
                        B. Skirti radioterapiją ir/arba chemoterapiją
                    </li>
                    <li>
                        C. Gydyti simptomiškai
                    </li>
                    <li>
                        D. Skirti tik chemoterapiją
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>31.1 - 

                A
            </td>
            <td>31.2 - 

                B
            </td>
            <td>31.3 - 

                A
            </td>
            <td>31.4 - 

                B
            </td>
            <td>31.5 - 

                B
            </td>
            <td>31.6 - 

                C
            </td>
            <td>31.7 - 

                D
            </td>
            <td>31.8 - 

                D
            </td>
                </tr><tr>
            <td>31.9 - 

                C
            </td>
            <td>31.10 - 

                A
            </td>
            <td>31.11 - 

                D
            </td>
            <td>31.12 - 

                D
            </td>
            <td>31.13 - 

                A
            </td>
            <td>31.14 - 

                D
            </td>
            <td>31.15 - 

                D
            </td>
            <td>31.16 - 

                B
            </td>
                </tr><tr>
            <td>31.17 - 

                D
            </td>
            <td>31.18 - 

                A
            </td>
            <td>31.19 - 

                D
            </td>
            <td>31.20 - 

                D
            </td>
            <td>31.21 - 

                A
            </td>
            <td>31.22 - 

                D
            </td>
            <td>31.23 - 

                D
            </td>
            <td>31.24 - 

                D
            </td>
                </tr><tr>
            <td>31.25 - 

                D
            </td>
            <td>31.26 - 

                A
            </td>
            <td>31.27 - 

                D
            </td>
            <td>31.28 - 

                A
            </td>
            <td>31.29 - 

                D
            </td>
            <td>31.30 - 

                D
            </td>
            <td>31.31 - 

                A
            </td>
            <td>31.32 - 

                A
            </td>
                </tr><tr>
            <td>31.33 - 

                C
            </td>
            <td>31.34 - 

                A
            </td>
            <td>31.35 - 

                C
            </td>
            <td>31.36 - 

                A
            </td>
            <td>31.37 - 

                A
            </td>
            <td>31.38 - 

                D
            </td>
            <td>31.39 - 

                A
            </td>
            <td>31.40 - 

                A
            </td>
                </tr><tr>
            <td>31.41 - 

                C
            </td>
            <td>31.42 - 

                A
            </td>
                </tr><tr>
            <td>31.43
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>31.44
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>31.45
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
            <td>31.95
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - C </li>
                <li>4 - B </li>
            </ul></td>
                </tr><tr>
            <td>31.46
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>31.47
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>31.48
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>31.49
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>31.50
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>31.51
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>31.52
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>31.53
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>31.54 - 

                D
            </td>
            <td>31.55 - 

                A
            </td>
            <td>31.56 - 

                D
            </td>
            <td>31.57 - 

                C
            </td>
            <td>31.58 - 

                D
            </td>
            <td>31.59 - 

                C
            </td>
            <td>31.60 - 

                C
            </td>
            <td>31.61 - 

                D
            </td>
                </tr><tr>
            <td>31.62 - 

                D
            </td>
            <td>31.63 - 

                D
            </td>
            <td>31.64 - 

                D
            </td>
            <td>31.65 - 

                D
            </td>
            <td>31.66 - 

                D
            </td>
            <td>31.67 - 

                C
            </td>
            <td>31.68 - 

                A
            </td>
            <td>31.69 - 

                C
            </td>
                </tr><tr>
            <td>31.70 - 

                D
            </td>
            <td>31.71 - 

                C
            </td>
            <td>31.72 - 

                D
            </td>
            <td>31.73 - 

                A
            </td>
            <td>31.74 - 

                B
            </td>
            <td>31.75 - 

                D
            </td>
            <td>31.76 - 

                C
            </td>
            <td>31.77 - 

                B
            </td>
                </tr><tr>
            <td>31.78 - 

                A
            </td>
            <td>31.79 - 

                A
            </td>
            <td>31.80 - 

                B
            </td>
            <td>31.81 - 

                D
            </td>
            <td>31.82 - 

                D
            </td>
            <td>31.83 - 

                A
            </td>
            <td>31.84 - 

                D
            </td>
            <td>31.85 - 

                D
            </td>
                </tr><tr>
            <td>31.86 - 

                D
            </td>
            <td>31.87 - 

                D
            </td>
            <td>31.88 - 

                D
            </td>
            <td>31.89 - 

                D
            </td>
            <td>31.90 - 

                D
            </td>
            <td>31.91 - 

                D
            </td>
            <td>31.92 - 

                B
            </td>
            <td>31.93 - 

                D
            </td>
                </tr><tr>
            <td>31.94 - 

                B
            </td>

</tr></tbody></table></div>