<div class="Centre Kategorija">Radiologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>47.1</b> Tiesinėje krūtinės ląstos rentgenogramoje nematomi šešėliai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtų
                    </li>
                    <li>
                        B. Menčių
                    </li>
                    <li>
                        C. Šonkaulių užpakalinių galų
                    </li>
                    <li>
                        D. Krūtinkaulio
                    </li>
                    <li>
                        E. Šonkaulių priekinių galų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.2</b> Keičiant ligonio padėtį kinta organo vaizdas rentgenogramoje sergant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių vėžiu
                    </li>
                    <li>
                        B. Bronchitu
                    </li>
                    <li>
                        C. Pleuritu
                    </li>
                    <li>
                        D. Bronchektazine liga
                    </li>
                    <li>
                        E. Plaučių uždegimu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.3</b> Nehomogeniškas (nevienalytis) pritemimas plaučių audinyje, atlikus krūtinės ląstos rentgenogramą, matomas esant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių atelektazei
                    </li>
                    <li>
                        B. Pleuritui
                    </li>
                    <li>
                        C. Interlobitui
                    </li>
                    <li>
                        D. Plaučių cirozei
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.4</b> Krūtinės ląstos rentgenogramoje aortos lanko būklė tiksliausiai gali būti vertinama atlikus šią nuotraukos projekciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kairiąją šoninę
                    </li>
                    <li>
                        B. Dešiniąją šoninę
                    </li>
                    <li>
                        C. Kairiąją įstrižinę
                    </li>
                    <li>
                        D. Dešiniąją įstrižinę
                    </li>
                    <li>
                        E. Tiesinę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.5</b> Efektinė apšvitos dozė, tenkanti pacientui, yra didžiausia atliekant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtinės ląstos KT
                    </li>
                    <li>
                        B. Krūtinės ląstos rentgenogramą
                    </li>
                    <li>
                        C. Žarnyno rentgenoskopiją
                    </li>
                    <li>
                        D. Skrandžio rentgenoskopiją
                    </li>
                    <li>
                        E. Žarnyno rentgenogramą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.6</b> UG tyrimams kaip kontrastinė medžiaga gali būti naudojama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sol. Magnevist
                    </li>
                    <li>
                        B. Sol. Sonovue
                    </li>
                    <li>
                        C. Sol. Hypaque
                    </li>
                    <li>
                        D. Sol. Omnipaque
                    </li>
                    <li>
                        E. Sol. Ultravist
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.7</b> Jonizuojančiosios spinduliuotės žalą atspindi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lygiavertė dozė
                    </li>
                    <li>
                        B. Sugertoji dozė
                    </li>
                    <li>
                        C. Efektinė dozė
                    </li>
                    <li>
                        D. Ekvivalentinė dozė
                    </li>
                    <li>
                        E. Visos išvardintos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.8</b> Mažiausiai toksiškas (izoosmoliarus) rentgenokontrastinis preparatas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sol. Japamiro
                    </li>
                    <li>
                        B. Sol. Omnipaque
                    </li>
                    <li>
                        C. Sol. Hypaque
                    </li>
                    <li>
                        D. Sol. Visipaque
                    </li>
                    <li>
                        E. Sol. Ultravist
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.9</b> Bario sulfatas (BaSOu) kaip kontrastinė medžiaga nenaudojama tiriant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tulžies pūslę
                    </li>
                    <li>
                        B. Stemplę
                    </li>
                    <li>
                        C. Skrandį
                    </li>
                    <li>
                        D. Plonąją žarną
                    </li>
                    <li>
                        E. Storąją žarną
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.10</b> Telerentgenografija naudojama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Organo judesiams tirti
                    </li>
                    <li>
                        B. Smulkioms detalėms nustatyti
                    </li>
                    <li>
                        C. Vaizdų perdavimui nuotoliniu būdu
                    </li>
                    <li>
                        D. Normaliems organo matmenims nustatyti
                    </li>
                    <li>
                        E. Organų tankumui įvertinti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.11</b> Radiologinei apšvitai įtakos neturi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rentgeno aparato įtampa
                    </li>
                    <li>
                        B. Rentgeno aparato įvado varža
                    </li>
                    <li>
                        C. Rentgeno aparato galingumas
                    </li>
                    <li>
                        D. Atstumas tarp objekto ir spinduliuotės šaltinio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.12</b> Išplitusios diseminacijos sindromas krūtinės ląstos radiologiniuose tyrimuose nebūdingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Karcinomatozei
                    </li>
                    <li>
                        B. Židininei pneumonijai
                    </li>
                    <li>
                        C. Plaučių policistozei
                    </li>
                    <li>
                        D. Hemosiderozei
                    </li>
                    <li>
                        E. Pneumokoniozėms
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.13</b> Kliniškai įtariant perforuotą skrandžio opą gali būti atliekama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rentgenografija su dvigubu kontrastavimu
                    </li>
                    <li>
                        B. Rentgenografija su kontrastu ligoniui gulint
                    </li>
                    <li>
                        C. Rentgenografija su kontrastu ligoniui stovint
                    </li>
                    <li>
                        D. Rentgeninė tomografija
                    </li>
                    <li>
                        E. Apžvalginė rentgenografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.14</b> Lokalus stemplės prisipildymo defektas rentgenologiškai nebūdingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Įskrandžio achalazijai
                    </li>
                    <li>
                        B. Nepiktybiniam stemplės navikui
                    </li>
                    <li>
                        C. Piktybiniam stemplės navikui
                    </li>
                    <li>
                        D. Svetimkūniui
                    </li>
                    <li>
                        E. Stemplės venų varikozei
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.15</b> Endofitiniam skrandžio vėžiui rentgenologiškai būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Taisyklingos formos lokalus skrandžio prisipildymo defektas
                    </li>
                    <li>
                        B. Netaisyklingos formos lokalus skrandžio prisipildymo defektas
                    </li>
                    <li>
                        C. Cirkuliariai susiaurėjęs skrandžio spindis
                    </li>
                    <li>
                        D. Ryški skrandžio raukšlių konvergencija prisipildymo defekto link
                    </li>
                    <li>
                        E. Žymus pesifokalinis uždegiminis volas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.16</b> Perforuotai skrandžio opai rentgenologiškai būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skrandžio raukšlių konvergencija link opos
                    </li>
                    <li>
                        B. Laisvas oras po diafragma
                    </li>
                    <li>
                        C. Ryškus uždegiminis volas
                    </li>
                    <li>
                        D. Neryškus uždegiminis volas
                    </li>
                    <li>
                        E. Didžiulė skrandžio “niša”
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.17</b> Egzofitiškai augančiam skrandžio vėžiui rentgenologiškai nebūdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Raukšlių nutrūkimas
                    </li>
                    <li>
                        B. Raukšlių rigidiškumas
                    </li>
                    <li>
                        C. Raukšlių išnykimas
                    </li>
                    <li>
                        D. Raukšlių konvergencija
                    </li>
                    <li>
                        E. Skrandžio peristaltikos nebuvimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.18</b> Iškyšulys stemplės kontūre atlikus kontrastinę rentgenografiją nebūdingas esant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Stemplės opai
                    </li>
                    <li>
                        B. Nepiktybiniam stemplės navikui
                    </li>
                    <li>
                        C. Išopėjusiam stemplės vėžiui
                    </li>
                    <li>
                        D. Stemplės divertikului
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.19</b> Kalcinatai kepenų struktūroje radiologiškai nenustatomi esant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Alveokokozei
                    </li>
                    <li>
                        B. Echinokokui
                    </li>
                    <li>
                        C. Kepenų abscesui
                    </li>
                    <li>
                        D. Kepenų infarktui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.20</b> Inkstų būklė tiksliausiai įvertinama atliekant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apžvalginę rentgenografiją
                    </li>
                    <li>
                        B. Intraveninę urografiją
                    </li>
                    <li>
                        C. Pilvo echoskopiją
                    </li>
                    <li>
                        D. Pilvo rentgenoskopiją
                    </li>
                    <li>
                        E. Retrogradinę pielografiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.21</b> Difuzinis (didelės apimties) žarnos spindžio susiaurėjimas būdingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Endofitiškai augančiam žarnos vėžiui
                    </li>
                    <li>
                        B. Opiniam kolitui
                    </li>
                    <li>
                        C. Egzofitiškai augančiam žarnos vėžiui
                    </li>
                    <li>
                        D. Žarnų nepraeinamumui
                    </li>
                    <li>
                        E. Nepiktybiniam žarnų navikui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.22</b> Tulžies pūslės ir latakų būklė tiksliausiai įvertinama atlikus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Echoskopiją
                    </li>
                    <li>
                        B. Kontrastinę rentgenografiją
                    </li>
                    <li>
                        C. Apžvalginę rentgenografiją
                    </li>
                    <li>
                        D. Rentgenoskopiją
                    </li>
                    <li>
                        E. Fluorografiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.23</b> Tiriant nėščių moterų pilvo organus ar vertinant vaisiaus būklę atliekama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pilvo ir dubens organų KT
                    </li>
                    <li>
                        B. Pilvo ir dubens organų UG
                    </li>
                    <li>
                        C. Rentgenografinis pilvo ir dubens organų tyrimas
                    </li>
                    <li>
                        D. Rentgenoskopinis pilvo ir dubens organų tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.24</b> Apžvalginėje pilvo srities rentgenogramoje galima diagnozuoti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Inkstų akmenligę
                    </li>
                    <li>
                        B. Inkstų vėžį
                    </li>
                    <li>
                        C. Hidronefrozę
                    </li>
                    <li>
                        D. Inksto cistą
                    </li>
                    <li>
                        E. Inkstų akmenligę, inkstų vėžį, Hidronefrozę ir inksto cistą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.25</b> Hiperostozė – tai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kaulo tankumo padidėjimas
                    </li>
                    <li>
                        B. Fiziologinis kaulo apimties padidėjimas
                    </li>
                    <li>
                        C. Kaulo išsipūtimas
                    </li>
                    <li>
                        D. Ribotos kaulinės struktūros netekimas
                    </li>
                    <li>
                        E. Patologinis kaulo sustorėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.26</b> Kaulų tuberkuliozei nebūdingas rentgenologinis požymis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sąnario pakenkimas
                    </li>
                    <li>
                        B. Linijinė antkaulio reakcija
                    </li>
                    <li>
                        C. Destrukcijos židiniai
                    </li>
                    <li>
                        D. Spongioziniai sekvestrai
                    </li>
                    <li>
                        E. Kaulų epifizės pažeidimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.27</b> Ūmiam osteomielitui rentgenologiškai nebūdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pakitimai kaulo diafizėje
                    </li>
                    <li>
                        B. Besiformuojantys destrukcijos židiniai
                    </li>
                    <li>
                        C. Spongioziniai sekvestrai
                    </li>
                    <li>
                        D. Linijinė antkaulio reakcija
                    </li>
                    <li>
                        E. Dėmėtoji osteoporozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.28</b> Kaulo pseudoartrozė gali išsivystyti dėl:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Artrito
                    </li>
                    <li>
                        B. Artrozės
                    </li>
                    <li>
                        C. Osteomielito
                    </li>
                    <li>
                        D. Buvusio lūžio
                    </li>
                    <li>
                        E. Tuberkuliozės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.29</b> Rentgenologiškai diagnozuojama liepsnelių (“spikulių”) antkaulio reakcija būdinga sergant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Osteoklastinei sarkomai
                    </li>
                    <li>
                        B. Ūmiam osteomielitui
                    </li>
                    <li>
                        C. Recidyvuojančiam osteomielitui
                    </li>
                    <li>
                        D. Lėtiniam osteomielitui
                    </li>
                    <li>
                        E. Osteoblastinei sarkomai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.30</b> Kaulo apimties padidėjimas esant tos zonos kaulinio audinio sumažėjimui vadinamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipertrofija
                    </li>
                    <li>
                        B. Osteolize
                    </li>
                    <li>
                        C. Hiperostoze
                    </li>
                    <li>
                        D. Osteoporoze
                    </li>
                    <li>
                        E. Kaulo išsipūtimu
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>47.31</b> Kaip atrodo rentgenologiškai skrandžio oro pūslė priklausomai nuo tiriamojo konstitucinio tipo</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Skrandžio oro pūslė pusės apskritimo formos
                    </li>
                    <li>
                        2 - Žema ir plati skrandžio oro pūslė, lėkštu skliautu
                    </li>
                    <li>
                        3 - Skrandžio oro pūslės nėra
                    </li>
                    <li>
                        4 - Skrandžio oro pūslė pusės vertikalaus ovalo formos
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Įv. konstitucinio tipo skrandis, gulint
                    </li>
                    <li>
                        B. Asteninės konstitucinio skrandis
                    </li>
                    <li>
                        C. Normosteninės konstitucinio skrandis
                    </li>
                    <li>
                        D. Hipersteninės konstitucinio skrandis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.32</b> Kokiai virškinamojo trakto ligai būdingi išvardinti gleivinės pakitimai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Daugybiniai prašviesėjimai
                    </li>
                    <li>
                        2 - Raukšlių išnykimas uždegiminio volo srityje
                    </li>
                    <li>
                        3 - Gleivinės raukšlių sustorėjimas
                    </li>
                    <li>
                        4 - Raukšlių nutrūkimas naviko srityje
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Opaligė
                    </li>
                    <li>
                        B. Uždegiminiai procesai
                    </li>
                    <li>
                        C. Piktybinis navikas
                    </li>
                    <li>
                        D. Mazginis stemplės venų išplitimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.33</b> Kokiam patologiniam procesui plaučiuose esant stebimi šie rentgenologiniai plaučių piešinio pakitimai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Sustambėję plaučių piešinio elementai
                    </li>
                    <li>
                        2 - Sumenkėję plaučių piešinio elementai
                    </li>
                    <li>
                        3 - Deformuoti plaučių piešinio elementai
                    </li>
                    <li>
                        4 - Plaučių piešinio elementai, sudaryti iš neįprastų detalių.
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Įgimta a. pulmonalis stenozė
                    </li>
                    <li>
                        B. Pleuros sąaugos
                    </li>
                    <li>
                        C. Bronchitas
                    </li>
                    <li>
                        D. Įgimtos širdies ydos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.34</b> Kokiam plaučių susirgimui būdingi išvardinti apvalių šešėlių plaučių laukuose kontūrai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ryškus ir nevisai lygus kontūras.
                    </li>
                    <li>
                        2 - Neryškūs kontūrai
                    </li>
                    <li>
                        3 - Ryškūs ir lygūs kontūrai.
                    </li>
                    <li>
                        4 - Ryškūs, bet nelygūs (gaubrėti) kontūrai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ūmus plaučių uždegimas
                    </li>
                    <li>
                        B. Cista
                    </li>
                    <li>
                        C. Piktybinis navikas
                    </li>
                    <li>
                        D. Tuberkulioma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.35</b> Kokių virškinamojo trakto patologijų atveju atliekami išvardinti rentgenologiniai tyrimai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Apžvalginė pilvo rentgenograma
                    </li>
                    <li>
                        2 - Dvigubas storosios žarnos kontrastavimas
                    </li>
                    <li>
                        3 - Poligrama
                    </li>
                    <li>
                        4 - ERCP (endoskopinė retrogradinė cholangiopankreatograma)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Tulžies latakų akmenligė.
                    </li>
                    <li>
                        B. Ūminis žarnų nepraeinamumas
                    </li>
                    <li>
                        C. Storosios žarnos navikas
                    </li>
                    <li>
                        D. Skrandžio sienelių rigidiškumo išnykimas dėl naviko
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.36</b> Kuriai ligai būdingi išvardinti rentgenologiniai atskirų širdies dalių padidėjimai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kairiojo skilvelio padidėjimas
                    </li>
                    <li>
                        2 - Dešiniojo skilvelio padidėjimas
                    </li>
                    <li>
                        3 - Kairiojo prieširdžio padidėjimas
                    </li>
                    <li>
                        4 - Dešiniojo prieširdžio padidėjimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Lėtinės plaučių ligos
                    </li>
                    <li>
                        B. Aortos angos stenozė
                    </li>
                    <li>
                        C. Izoliuota trikuspidalinė stenozė
                    </li>
                    <li>
                        D. Mitralinio vožtuvo nepakankamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.37</b> Kuriai skrandžio opų rūšiai būdingi išvardinti rentgenologiniai požymiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Maža, trikampė niša
                    </li>
                    <li>
                        2 - Stambi, keturkampė niša
                    </li>
                    <li>
                        3 - Didelė, trijų sluoksnių niša
                    </li>
                    <li>
                        4 - Laisvas oras po diafragma
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Perforuota opa
                    </li>
                    <li>
                        B. Ūmi opa
                    </li>
                    <li>
                        C. Lėtinė opa
                    </li>
                    <li>
                        D. Lėtinė penetruojanti opa
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.38</b> Kuriam iš susirgimų būdingi išvardinti rentgenologiniai simptomai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Niša
                    </li>
                    <li>
                        2 - “Vamzdelio” formos skrandis
                    </li>
                    <li>
                        3 - Išgaubų išnykimas
                    </li>
                    <li>
                        4 - Viršstenotinis spindžio praplitimas.
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Endofitinis skrandžio vėžys
                    </li>
                    <li>
                        B. Nespecifinis opinis kolitas
                    </li>
                    <li>
                        C. Opa
                    </li>
                    <li>
                        D. Nudegimas šarmais ar rūgštimis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.40</b> Kuriam susirgimui būdingi išvardinti kaulų struktūros pokyčiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - osteoporozė
                    </li>
                    <li>
                        2 - Osteonekrozė
                    </li>
                    <li>
                        3 - Osteolizė
                    </li>
                    <li>
                        4 - Lūžio linija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Osteochondropatija
                    </li>
                    <li>
                        B. Reno liga
                    </li>
                    <li>
                        C. Trauminis sužalojimas
                    </li>
                    <li>
                        D. Senatvė ir išsekimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.42</b> Kuriems susirgimams būdinga išvardinta periosto (antkaulio) reakcija</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Linijinė
                    </li>
                    <li>
                        2 - Sluoksniuota
                    </li>
                    <li>
                        3 - Kauburiuota
                    </li>
                    <li>
                        4 - Spindulinė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Osteoblastinė sarkoma
                    </li>
                    <li>
                        B. Ūmus osteomielitas
                    </li>
                    <li>
                        C. Recidyvuojantis osteomielitas
                    </li>
                    <li>
                        D. Progresuojantis osteomielitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.43</b> Kuris iš apibūdinimų labiausiai tinka standartinėms širdies rentgenologinio tyrimo projekcijoms</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Tiesiojoje projekcijoje esantis ligonis pasisuka dešiniuoju petimi 45o kampu į ekraną
                    </li>
                    <li>
                        2 - Ligonis stovi priekine krūtinės ląstos sienele prigludęs prie ekrano arba kasetės, o nugara atsigręžęs į rentgeno vamzdį
                    </li>
                    <li>
                        3 - Tiesinėje projekcijoje esantis ligonis pasisuka kairiuoju petimi 45o kampu į ekraną
                    </li>
                    <li>
                        4 - Ligonis stovi pasisukęs kairiuoju šonu į ekraną
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Įstrižinė dešinioji (pirmoji)
                    </li>
                    <li>
                        B. Įstrižinė kairioji (antroji)
                    </li>
                    <li>
                        C. Tiesinė projekcija
                    </li>
                    <li>
                        D. Šoninė kairioji projekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.44</b> Kuris iš išvardintų plaučių rentgenologinių pakitimų pasireiškia šiais pagrindiniais sindromais</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Apvalus šešėlis plaučių lauke
                    </li>
                    <li>
                        2 - Ribotas plaučių lauko patamsėjimas
                    </li>
                    <li>
                        3 - Išplitusi diseminacija
                    </li>
                    <li>
                        4 - Žiedo formos šešėlis plaučių lauke
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Laisvas skystis pleuros ertmėje
                    </li>
                    <li>
                        B. Inkapsuliuotas skystis pleuros ertmėje
                    </li>
                    <li>
                        C. Plaučių abscesas
                    </li>
                    <li>
                        D. Ūminė hematogeninė diseminuota tuberkuliozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.45</b> Kuris susirgimas dažniausiai pažeidžia išvardintas kaulo dalis, sukeldamas jų destrukcijas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Kaulo metafizė ir išplinta į diafizę
                    </li>
                    <li>
                        2 - Trumpasis spongiozinis kaulas
                    </li>
                    <li>
                        3 - Diafizės žievinis sluoksnis
                    </li>
                    <li>
                        4 - Visos kaulo masės ardymas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sifilis
                    </li>
                    <li>
                        B. Nespecifinis osteomielitas
                    </li>
                    <li>
                        C. Tuberkuliozė
                    </li>
                    <li>
                        D. Piktybiniai navikai
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>47.46 </b> Radiologiniai tyrimai, kurie atliekami naudojant jonizuojančiąją spinduliuotę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. fluorografija
                    </li>
                    <li>
                        2. kompiuterinė tomografija
                    </li>
                    <li>
                        3. rentgenoskopija
                    </li>
                    <li>
                        4. ultragarsinis tyrimas
                    </li>
                    <li>
                        5. magnetinio rezonanso tomografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.47 </b> Negatyvios kontrastinės medžiagos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nesugeriančios rentgeno spinduliuotės 
                    </li>
                    <li>
                        2. Tirpios vandenyje, sudėtyje turinčios jodo
                    </li>
                    <li>
                        3. Oras, CO₂, N₂O,  ir kitos dujos
                    </li>
                    <li>
                        4. Netirpios vandenyje, sudėtyje turinčios bario sulfato
                    </li>
                    <li>
                        5. Paramagnetinės ir superparamegnetinės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.48 </b> Intervencinės echoskopijos metu atliekamos procedūros:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Abscesų drenavimas
                    </li>
                    <li>
                        2. Kasos latako drenavimas
                    </li>
                    <li>
                        3. Ascito aspiracija
                    </li>
                    <li>
                        4. Nefrostomija pro odą
                    </li>
                    <li>
                        5. Priešinės liaukos židinių biopsija.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.49 </b> Galimos (tikėtinos) svarbiausios šalutinės reakcijos naudojant joninį intraveninį (turintį jodo) kontrastinį preparatą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Alerginės reakcijos
                    </li>
                    <li>
                        2. Hematologinės reakcijos
                    </li>
                    <li>
                        3. Nefrotoksinės reakcijos
                    </li>
                    <li>
                        4. Neurotoksinės reakcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.50 </b> Gimdos ir kiaušidžių sienelių bei sluoksnių būklė tiksliausiai gali būti įvertinama atlikus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mažojo dubens UG tyrimą
                    </li>
                    <li>
                        2. Mažojo dubens apžvalginę rentgenografiją
                    </li>
                    <li>
                        3. Mažojo dubens MR tyrimą
                    </li>
                    <li>
                        4. Mažojo dubens KT tyrimą
                    </li>
                    <li>
                        5. Histerosalpingografiją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.51 </b> Žiedo formos šešėlis plaučių apžvalginėse rentgenogramose būdingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tuberkuliozės kavernai
                    </li>
                    <li>
                        2. Plaučių abscesui
                    </li>
                    <li>
                        3. Yrančiam periferiniam plaučių vėžiui
                    </li>
                    <li>
                        4. Pleuritui
                    </li>
                    <li>
                        5. Diafragminei išvaržai 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.52 </b> Šlapimo pūslės vėžio išplitimas nutukusiam pacientui tiksliausiai įvertinamas atlikus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dubens organų rentgenologinį tyrimą 
                    </li>
                    <li>
                        2. Dubens organų MR tyrimą
                    </li>
                    <li>
                        3. Dubens organų UG tyrimą
                    </li>
                    <li>
                        4. Dubens organų KT tyrimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.53 </b> Suagusio žmogaus normali širdies padėtis krūtinės ląstos rentgenogramoje yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. 2/3  širdies šešėlio yra kairėje, 1/3 – dešinėje krūtinės ląstos pusėje
                    </li>
                    <li>
                        2. 2/3  širdies šešėlio yra dešinėje, 1/3 – kairėje krūtinės ląstos pusėje
                    </li>
                    <li>
                        3. Įstriža, vertikali ar horizontali širdies padėtis, priklauso nuo žmogaus konstitucijos tipo
                    </li>
                    <li>
                        4. Netaisyklingo rutulio formos širdis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.54 </b> Kairiojo prieširdžio padidėjimo rentgenologiniai požymiai yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tiesinėje projekcijoje pailgėjęs ir akcentuotas II lankas kairėje
                    </li>
                    <li>
                        2. Tiesinėje projekcijoje pailgėjęs ir akcentuotas III lankas kairėje
                    </li>
                    <li>
                        3. Įstrižinėje kairiojoje projekcijoje matyti stuburo link prasikišusi kairiojo skilvelio sienelė, gerai matoma kontrastavus stemplę
                    </li>
                    <li>
                        4. Įstrižinėje dešiniojoje projekcijoje matyti stuburo link prasikišusi kairiojo prieširdžio sienelė, gerai matoma kontrastavus stemplę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.55 </b> Žmogaus „skeletinis amžius“ yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Apytiksliai nustatomas atlikus viso kūno skeleto rentgenogramą
                    </li>
                    <li>
                        2. Apytiksliai nustatomas atlikus galvos kaulų rentgenogramą
                    </li>
                    <li>
                        3. Tiksliai nustatomas atlikus ilgųjų kaulų rentgenogramą
                    </li>
                    <li>
                        4. Apytiksliai nustatomas atlikus plaštakų su riešo kaulais rentgenogramą 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.56 </b> Osteoporozei nebūdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kaulinio audinio sumažėjimas kaulo tūrio vienete
                    </li>
                    <li>
                        2. Nykstančių trabekulių vietą užima normalūs kaulo elementai – riebalai, čiulpai kraujas
                    </li>
                    <li>
                        3. Visiškas kaulo bestruktūriškumas, tik išlikęs ryškus, lyg pieštuku apibrėžtas kaulinis kontūras
                    </li>
                    <li>
                        4. Palaipsninis kaulo irimas, kai jo vietą užima kokia nors patologinė medžiaga ar audinys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.57 </b> Viršutinę virškinamojo trakto dalį sudaro:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ryklė, stemplė
                    </li>
                    <li>
                        2. Skrandis
                    </li>
                    <li>
                        3. Dvylikapirštė žarna
                    </li>
                    <li>
                        4. Tuščioji žarna
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.58 </b> Skrandžio „rodomojo piršto“ rentgenologinis simptomas būdingas šiam susirgimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mažam plokšteliniam skrandžio vėžiui
                    </li>
                    <li>
                        2. Opinei skrandžio vėžio formai
                    </li>
                    <li>
                        3. Polipoidinam ar grybo formos skrandžio vėžiui
                    </li>
                    <li>
                        4. Skandžio opai.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.59 </b> Mekelio divertikulo lokalizacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Stemplė
                    </li>
                    <li>
                        2. Dvylikapirštė žarna
                    </li>
                    <li>
                        3. Tuščioji žarna
                    </li>
                    <li>
                        4. Klubinė žarna
                    </li>
                    <li>
                        5. Akloji žarna
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.60 </b> Žarnų mechaniniam nepraeinamumui būdingi rentgenologiniai požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Plačios žarnų kilpos
                    </li>
                    <li>
                        2. “Kloiberio dubenėliai”
                    </li>
                    <li>
                        3. “Arkos”
                    </li>
                    <li>
                        4. Horizontali skysčio-oro riba žarnos ertmėje
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>47.61</b> 54 metų moteris, skundžiasi staiga atsiradusiu dusuliu.Daug metų rūko, kelis kartus gydėsi dėl dešinės kojos venų uždegimo. Apžvalginėje plaučių rentgenogramoje, (atliktoje stovint) matoma: pleuros sinusai laisvi, kairėje diafragmos kupolas ties V šonkaulio priekiniu galu, kairio plaučio apatiniame lauke piešinio nedaug, plati kairioji šaknis, širdies skersmuo padidėjęs į dešinę, talija išlyginta. Praplitęs tarpuplaučio šešėlis dešinėje. Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių vėžys
                    </li>
                    <li>
                        B. Plaučių arterijos tromboembolija
                    </li>
                    <li>
                        C. Miokarditas
                    </li>
                    <li>
                        D. Plaučių uždegimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.62</b> 27 metų vyras skundžiasi skausmais „po duobute“, atsirandančiais po valgio, dažnai „ėda rėmuo“. Skrandžio rentgeno-kontrastinio tyrimo metu matoma: tuščiame skrandyje yra laisvo skysčio, gleivinės raukšlės sustorėjusios, skrandžio kūno apatiniame trečdalyje gleivinės raukšlės konverguoja link mažosios kreivės, kur matomas kontrastinės medžiagos susikaupimas („niša“), išeinantis už skrandžio kontūro. Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skrandžio vėžys
                    </li>
                    <li>
                        B. Skrandžio uždegimas
                    </li>
                    <li>
                        C. Skrandžio divertikulas
                    </li>
                    <li>
                        D. Skrandžio opa.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.63</b> 48 metų moteris skundžiasi kelių sąnarių skausmu, daugiau dešiniojo, sumažėjusiu jų lankstumu, dienos bėgyje, judant lankstumas padidėja. Objektyviai: kelių sąnariai nedeformuoti, lankstant jaučiama krepitacija. Kelių sąnarių apžvalginėje rentgenogramoje matoma: sąnariniai tarpai abipus netolygiai susiaurėję, pokremzlinis kaulas intensyvesnis, sklerozuotas, blauzdikaulių tarpgumburinių pakylų gumburėliai“užaštrėję", sąnarinių paviršių kraštuose matomi osteofitai.Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Deformuojanti osteoartrozė
                    </li>
                    <li>
                        B. Reumatoidinis artritas
                    </li>
                    <li>
                        C. Disekuojantis osteochondritas
                    </li>
                    <li>
                        D. Sąnarių chondromatozė.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.64</b> 66 metų vyras, daug metų rūkantis, dažnai vartojantis alkoholį, prieš savaitę persirgo gripu, dabar išlieka sausas, neproduktyvus kosulys, dusulys, sustiprėjantis fizinio krūvio metu, bendras silpnumas, subfebrilus karščiavimas. Apžvalginėje krūtinės ląstos rentgenogramoje matoma: pleuros sinusai laisvi, diafragmos kupolai lygūs; abipus plaučiuose pagausėjęs piešinys intersticinių peribronchinių elementų sąskaita, dešinio plaučio apatinės skiltyje S8-S10 projekcijoje – daugybiniai smulkūs židiniai, Dešinioji šaknis praplitusi, nestruktūriška; širdies skersmuo padidėjęs į kairę, talija paryškinta, difuziškai praplitusi, suintensyvėjusi aorta.Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dešinio plaučio židininė tuberkuliozė
                    </li>
                    <li>
                        B. Dešinio palučio uždegimas
                    </li>
                    <li>
                        C. Plaučių atrerijos tromboembolija
                    </li>
                    <li>
                        D. Dešinio palučio centrinio tipo vėžys.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.65</b> 31 metų moteris skundžiasi bendru silpnumu, blogu apetitu bei virškinimu. Kraujo tyrimuose – anemija. Skrandžio rentgeno-kontrastinio tyrimo metu matoma: Skrandis sutrumpėjęs, mažoji ir didžioji kreivės išsilyginusios, skrandžio forma primena ragą, gleivinės raukšlės beveik neįžiūrimos, peristaltinės bangos, labai silpnos, matomos tik distalinėje didžiosios kreivės dalyje.Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skrandžio uždegimas
                    </li>
                    <li>
                        B. Sklerodermija 
                    </li>
                    <li>
                        C. Skrandžio opaligė
                    </li>
                    <li>
                        D. Skrandžio vėžys.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.66</b> 13 metų mergaitė skundžiasi nugaros apatinės dalies skausmu, bendru silpnumu, subfebriliu karščiavimu. Nepastovius nugaros skausmus, daugiau susijusius su judesiais, jaučia jau 3-4 mėn. kelis kartus buvo subfebrilus karščiavimas. Krūtininės stuburo dalies tiesinėje ir šoninėje rentgenogramoje matoma: sužemėjęs Th 10 ir 11 slankstelių kūnų aukštis, slankstelių kūnų kaulinė struktūra išretėjusi, dengiamosios plokštelės suardytos, po jomis – netolygaus kaulinės masės sumažėjimo (destrukcijos) židiniai. Tarpslankstelinis tarpas nepakitęs. Apie pakitusius slankstelius iš priekio ir iš abiejų šonų matomi šeivos formos sustorėjusių minkštųjų audinių šešėliai.Kokia patologija labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tuberkuliozinis spondilitas
                    </li>
                    <li>
                        B. Juvenilinė osteochondropatija
                    </li>
                    <li>
                        C. Nespecifinis spondilodiscitas
                    </li>
                    <li>
                        D. Metastazės 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.67</b> 34 metų moteris skundžiasi pykinimu, vėmimu, dujų, išmatų susilaikymu. Prieš metus operuota dėl perforavusio apendicito. Atliktoje pilvo apžvalginėje rentgenogramoje matomos dujomis praplėstos plonųjų žarnų kilpos ir Kloiberio dubenėliai, storojoje žarnoje dujų nėra.Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Storosios perforacija
                    </li>
                    <li>
                        B. Aukštas plonųjų žarnų nepraeinamumas
                    </li>
                    <li>
                        C. Žemas plonųjų žarnų nepraeinamumas
                    </li>
                    <li>
                        D. Nepraeinamumas storojoje žarnoje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.68</b> 59 metų vyras, mėgstantis labai aštrų maistą, skundžiasi prieš mėnesį atsiradusiu tiršto maisto rijimo sutrikimu.Stemplės rentgeno-kontrastinio tyrimo metu matoma: kontrastinė medžiaga stemple  prabėga laisvai, stemplės krūtininės dalies apatiniame trečdalyje, apie 3 cm ilgyje virš diafragmos stemplės spindis nedaug netolygiai susiaurėjęs, sienelės nelygios, rigidiškos, gleivinės raukšlės išnykusios, spindyje – įvairaus dydžio, netaisyklingos formos prisipildymo defektai.Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Refliuksinis ezofagitas
                    </li>
                    <li>
                        B. Stemplės venų varikozė
                    </li>
                    <li>
                        C. Stemplės vėžys
                    </li>
                    <li>
                        D. Achalazija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.69</b> 53 metų moteris skundžiasi vidurių užkietėjimu, kartais savaiminiu suviduriavimu, spąstiniais pilvo skausmais. Gyvena nuolatinėje nervinėje įtampoje. Irigoskopinio tyrimo metu matoma: išreikšti segmentiniai haustraliniai spazmai, evakuacija nepilna, gleivinės reljefas be žymesnių pokyčių, dvigubo kontrastavimo metu sienelės elastingos, spindyje papildomų struktūrų nematyti.Kokia patologija labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Divertikuliozė
                    </li>
                    <li>
                        B. Nespecifinis opinis kolitas
                    </li>
                    <li>
                        C. Funkciniai storosios žarnos pokyčiai
                    </li>
                    <li>
                        D. Krono liga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.70</b> 55 metų niekuo nesiskundžiančiam vyriškiui profilaktinio patikrinimo metu atliktoje apžvalginėje rentgenogramoje matoma: plaučiuose piešinys pagausėjęs, yra Iº veninės stazės požymiai,  kairio plaučio viduriniame lauke matomas apvalus apie 1,4 cm pritemimas neaiškiais kontūrais, kairė šaknis praplitusi, gali būti padidintų limfmazgių. Matomi apkalkėję bifurkaciniai ir paratrachėjiniai limfmazgiai. Paskutinio profilaktinio plaučių tyrimo prieš 2 metus pakitimų nebuvo.Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Abscesas
                    </li>
                    <li>
                        B. Komplikuota plaučių cista
                    </li>
                    <li>
                        C. Plaučių infarktas
                    </li>
                    <li>
                        D. Periferinis plaučių vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.71</b> 34 metų moteris skundžiasi metakarpofalanginių ir interfalanginių sąnarių skausmu su patinimu, rytiniu jų sustingimu, trunkančiu ilgiau nei valandą. Tiesinėje abiejų plaštakų rentgenogramoje matoma: kaulinės struktūros išretėjimas delnakaulių ir proksimalių bei vidurinių pirštakaulių epifizėse. Apie sąnarius simetriškai sustorėję minkštieji audiniai, pavienės smulkios subchondrinės cistelės ir uzūros.Kokią patologiją pradinę stadiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reumatoidinis artritas
                    </li>
                    <li>
                        B. Deformuojanti osteoartrozė
                    </li>
                    <li>
                        C. Bendrinė osteoporozė
                    </li>
                    <li>
                        D. Podagra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.72</b> 61 metų vyras skundžiasi apsunkintu tuštinimusi, po kurio išlieka nepilno pasituštinimo jausmas, 3 mėn su išmatomis būna nedaug šviežio kraujo. Irigoskopinio tyrimo metu matoma: tiesiosios žarnos ampulės vidurinėje dalyje 5 cm ilgyje – žarnos spindžio deformacija, siaurinanti spindį, deformacijos kontūre - netaisyklingos formos 1,5x0,7 mm kontrastinės medžiagos „niša“. Virš deformacijos storoji žarna nedaug praplitusi, spindyje gausu turinio. Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krono liga
                    </li>
                    <li>
                        B. Sąaugiminiai pokyčiai
                    </li>
                    <li>
                        C. Išopėjęs navikas
                    </li>
                    <li>
                        D. Divertikulitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.73</b> 18 metų vaikinas skundžiasi kairiojo kelio skausmu, sustiprėjančiu naktį. Prieš mėnesį nestipriai buvo susimušęs kelio sąnarį. Objektyviai: šlaunies distalinėj dalyje, užpakaliniame paviršiuje čiuopiamas neaiškių ribų, nepaslankus, neskausmingas čiuopiant sukietėjimas. Kairiojo kelio sąnario  tiesinėje ir šoninėje rentgenogramose matoma: sąnarys nepakitęs. Šlaunikaulio distalinėje metaepifizėje neryškių kontūrų, netaisyklingas kaulo suintensyvėjimas susiliejantis su šlaunikaulio užpakaliniu žieviniu sluoksniu; užpakaliniame kaulo paviršiuje išreikšta „liepsnelių“ ir „adatėlių“ antkaulio reakcija, aplink – suintensyvėjęs minkštųjų audinių šešėlis. Kokia patologija labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Piktybinis kaulo navikas
                    </li>
                    <li>
                        B. Gerybinis kaulo navikas
                    </li>
                    <li>
                        C. Lėtinis osteomielitas
                    </li>
                    <li>
                        D. Gyjantis lūžimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.74</b> 38 metų moteris skundžiasi stipriu pilvo skausmu dešiniau bambos. Stipriai skaudėti pradėjo aukščiau ir daugiau nugaroje prieš dvi valandas. Vieną kartą vėmė, pasišlapino rausvu šlapimu. Apžvalginėje pilvo srities rentgenogramoje matoma: šalia L3 slankstelio dešiniosios skersinės ataugos – 6 mm, lygiais kontūrais, netaisyklingo ovalo formos, kaulinio intensyvumo, homogeniškas šešėlis.Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Akmuo bendrajame tulžies latake
                    </li>
                    <li>
                        B. Akmuo žarnyne
                    </li>
                    <li>
                        C. Akmuo šlapimtakyje
                    </li>
                    <li>
                        D. Flebolitas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.75</b> 56 metų moteris skundžiasi atkosėjimu krauju, kitų nusiskundimų neturi. Bendras kraujo tyrimas – normos ribose. Krūtinės ląstos apžvalginėje rentgenogramoje matoma: plaučių oringumas nesutrikęs, piešinys be žymesnių pokyčių, plati tumorozinė kairioji šaknis; nedaug praplitęs viršutinio tarpuplaučio šešėlis iš kairės.Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių arterijos tromboembolija
                    </li>
                    <li>
                        B. Tuberkuliozė
                    </li>
                    <li>
                        C. Sarkoidozė
                    </li>
                    <li>
                        D. Centrinio tipo plaučių vėžys 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>47.76</b> 45 metų vyras skundžiasi labai stipriu ir staiga (tarsi „peilio dūris“) atsiradusiu pilvo skausmu. 8 metus serga skrandžio opalige. Apžvalginėje pilvo rentgenogramoje atliktoje stovint matoma: po dešiniuoju diafragmos kupolu, pagal kepenų paviršių - prašviesėjimo juosta iki 7 mm, po kairiuoju diafragmos kupolu nematyti skrandžio oro pūslės, storoji žarna išpūsta dujų. Kokią patologiją įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aukštas plonųjų žarnų nepraeinamumas
                    </li>
                    <li>
                        B. Nepraeinamumas storojoje žarnoje
                    </li>
                    <li>
                        C. Virškinimo trakto tuščiavidurio organo perforacija
                    </li>
                    <li>
                        D. Podiafragminis abscesas.
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>47.1 - 

                D
            </td>
            <td>47.2 - 

                C
            </td>
            <td>47.3 - 

                D
            </td>
            <td>47.4 - 

                A
            </td>
            <td>47.5 - 

                A
            </td>
            <td>47.6 - 

                B
            </td>
            <td>47.7 - 

                C
            </td>
            <td>47.8 - 

                D
            </td>
                </tr><tr>
            <td>47.9 - 

                A
            </td>
            <td>47.10 - 

                D
            </td>
            <td>47.11 - 

                B
            </td>
            <td>47.12 - 

                C
            </td>
            <td>47.13 - 

                E
            </td>
            <td>47.14 - 

                A
            </td>
            <td>47.15 - 

                C
            </td>
            <td>47.16 - 

                B
            </td>
                </tr><tr>
            <td>47.17 - 

                D
            </td>
            <td>47.18 - 

                B
            </td>
            <td>47.19 - 

                D
            </td>
            <td>47.20 - 

                C
            </td>
            <td>47.21 - 

                B
            </td>
            <td>47.22 - 

                A
            </td>
            <td>47.23 - 

                B
            </td>
            <td>47.24 - 

                A
            </td>
                </tr><tr>
            <td>47.25 - 

                E
            </td>
            <td>47.26 - 

                B
            </td>
            <td>47.27 - 

                C
            </td>
            <td>47.28 - 

                D
            </td>
            <td>47.29 - 

                E
            </td>
            <td>47.30 - 

                E
            </td>
                </tr><tr>
            <td>47.31
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>47.32
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>47.33
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - B </li>
            </ul></td>
            <td>47.34
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>47.35
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>47.36
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>47.37
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>47.38
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>47.40
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>47.42
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>47.43
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
            <td>47.44
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>47.45
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>47.46
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>47.47
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>47.48
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>47.49
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>47.50
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>47.51
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>47.52
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>47.53
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>47.54
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>47.55
            <ul>
                <li>4</li>
            </ul></td>
            <td>47.56
            <ul>
                <li>4</li>
            </ul></td>
            <td>47.57
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>47.58
            <ul>
                <li>4</li>
            </ul></td>
            <td>47.59
            <ul>
                <li>4</li>
            </ul></td>
            <td>47.60
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>47.61 - 

                B
            </td>
            <td>47.62 - 

                D
            </td>
            <td>47.63 - 

                A
            </td>
            <td>47.64 - 

                B
            </td>
            <td>47.65 - 

                D
            </td>
            <td>47.66 - 

                A
            </td>
            <td>47.67 - 

                C
            </td>
            <td>47.68 - 

                C
            </td>
                </tr><tr>
            <td>47.69 - 

                C
            </td>
            <td>47.70 - 

                D
            </td>
            <td>47.71 - 

                A
            </td>
            <td>47.72 - 

                C
            </td>
            <td>47.73 - 

                A
            </td>
            <td>47.74 - 

                C
            </td>
            <td>47.75 - 

                D
            </td>
            <td>47.76 - 

                C
            </td>

</tr></tbody></table></div>