<div class="Centre Kategorija">Reabilitacija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>8.1</b> Kada turi būti pradedama ligonių reabilitacija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Praėjus ūminiam ligos periodui
                    </li>
                    <li>
                        B. Kai tik susergama
                    </li>
                    <li>
                        C. Atsiradus neįgalumui
                    </li>
                    <li>
                        D. Kai nepadeda gydymas vaistais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.2</b> Kokia turi būti optimaliausia gydomojo baseino vandens temperatūra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 26-28ºC
                    </li>
                    <li>
                        B. 32-36ºC
                    </li>
                    <li>
                        C. 28-32ºC
                    </li>
                    <li>
                        D. 36-38ºC
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.4</b> Kaip apibūdinamas terminas "metabolinis koeficientas":</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Deguonies (mililitrais) suvartojimas per minutę vienam kilogramui kūno masės
                    </li>
                    <li>
                        B. Kiek kartų deguonies suvartojama daugiau, negu ramiai sėdint
                    </li>
                    <li>
                        C. Kiek kartų deguonies suvartojama daugiau, negu ramiai gulint
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.5</b> Kokia yra žmogaus fizinio darbingumo normos minimali riba:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 100 W
                    </li>
                    <li>
                        B. 75 W
                    </li>
                    <li>
                        C. 1,5 W/kg kūno masės
                    </li>
                    <li>
                        D. Sugebėjimas užlipti laiptais į 3 aukštą be dusulio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.6</b> Koks yra ligonių ištvermę treniruojantis krūvis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūvis, kai ŠSD=(220 - amžiaus metai)
                    </li>
                    <li>
                        B. 60-90% slenkstinio krūvio
                    </li>
                    <li>
                        C. Krūvis, kai ŠSD=(200 - amžiaus metai)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.7</b> Kuris fizioterapijos metodas geriausiai tinka pirmomis dienomis intensyvinti pooperacinio sindromo rezorbciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Induktotermija
                    </li>
                    <li>
                        B. Impulsinių srovių terapija
                    </li>
                    <li>
                        C. UAD elektrinio lauko terapija
                    </li>
                    <li>
                        D. Galvanizacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.8</b> Koks fizinis veiksnys veikia organizmą naudojant amplipulsterapiją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuolatinė srovė
                    </li>
                    <li>
                        B. Elektros laukas
                    </li>
                    <li>
                        C. Moduliuotos žemu dažniu sinusoidinės 5000 Hz dažnio srovės
                    </li>
                    <li>
                        D. Mechaniniai virpesiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.9</b> Po kiek laiko po apšvitinimo vertinama žmogaus individuali ultravioletinių spindulių biodozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Po 2-4 val.
                    </li>
                    <li>
                        B. Po 4-6 val.
                    </li>
                    <li>
                        C. Po 6-8 val.
                    </li>
                    <li>
                        D. Po 8-12 val.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.10</b> Kokie fizikiniai veiksniai sukelia giluminį  šiluminį poveikį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ultragarsas,UAD elektrinio lauko terapija
                    </li>
                    <li>
                        B. Parafino aplikacijos
                    </li>
                    <li>
                        C. Žemo dažnio kintamas magnetinis laukas
                    </li>
                    <li>
                        D. Poliarizuota šviesa
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.11</b> Kokios yra "Bioptron" aparato šviesos spindulių savybės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Poliariškumas, polichromatiškumas, nekoherentiškumas, maža galia
                    </li>
                    <li>
                        B. Monochromatiškumas, koherentiškumas
                    </li>
                    <li>
                        C. Poliariškumas, monochromatiškumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.12</b> Sergančio miokardo infarktu ligonio slenkstinis "dvigubos sandaugos" rodiklis yra 230, metabolinis koeficientas 5. Kuriai funkcinei klasei pagal Niujorko širdies asociacijos klasifikaciją priklauso šis ligonis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. I
                    </li>
                    <li>
                        B. II
                    </li>
                    <li>
                        C. III
                    </li>
                    <li>
                        D. IV
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.13</b> Kada pradedama miokardo infarktu sergančio ligonio kineziterapija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuo pirmų dienų
                    </li>
                    <li>
                        B. Po savaitės nuo ligos pradžios
                    </li>
                    <li>
                        C. Po dviejų savaičių nuo ligos pradžios
                    </li>
                    <li>
                        D. Po mėnesio nuo ligos pradžios
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.14</b> Kokią dalį negalumo priežasčių sudaro lėtinės ligos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 30-50%
                    </li>
                    <li>
                        B. 60-70%
                    </li>
                    <li>
                        C. 80-90%
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.15</b> Kiek laiko tarnauja nuolatinis amputuotos galūnės protezas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 1-2 metus
                    </li>
                    <li>
                        B. 3-4 metus
                    </li>
                    <li>
                        C. 6-12 mėn.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.16</b> Kada turi būti pradedama ligonio kineziterapija po krūtinės organų operacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Praėjus narkozės poveikiui
                    </li>
                    <li>
                        B. Praėjus 2-4 val. po operacijos
                    </li>
                    <li>
                        C. Praėjus 6-12 val. po operacijos
                    </li>
                    <li>
                        D. Praėjus 24 val. po operacijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.17</b> Kuris kvėpavimo tipas rekomenduojamas tuoj po pilvo organų operacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kvėpavimo tipas neturi reikšmės
                    </li>
                    <li>
                        B. Krūtininis tipas
                    </li>
                    <li>
                        C. Diafragminis tipas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.18</b> Kokios yra gamtinės  gydomosios procedūros:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Elektroterapija, ultragarsas
                    </li>
                    <li>
                        B. Lazerio terapija
                    </li>
                    <li>
                        C. Klimatoterapija,balneoterapija, peloterapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.20</b> Kurie saunos parametrai tinka reabilituojant sportininkus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. to - 45-60ºC, drėgnumas 40-60%
                    </li>
                    <li>
                        B. to - 70-80ºC, drėgnumas 10%
                    </li>
                    <li>
                        C. to - 90-100ºC, drėgnumas 5-10%
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.21</b> Kokios trukmės saunos procedūros rekomenduotinos sportininkams treniruočių dienomis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 30-40 min.
                    </li>
                    <li>
                        B. 20-30 min.
                    </li>
                    <li>
                        C. iki 10 min.
                    </li>
                    <li>
                        D. 10-20 min.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.22</b> Kokie kriterijai vertinami nustatant darbingumo lygį ligoniams:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Medicininiai
                    </li>
                    <li>
                        B. Funkciniai
                    </li>
                    <li>
                        C. Medicininiai, funkciniai, profesiniai
                    </li>
                    <li>
                        D. Profesiniai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.24</b> Kuris judėjimo režimas sanatorinės reabilitacijos metu turi būti skiriamas ligoniui, kuris serga ischemine širdies liga, su retais stenokardijos priepuoliais ir I stadijos širdies nepakankamumu, jeigu jis pasiekia 75-100 W slenkstinį krūvį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tausojantis
                    </li>
                    <li>
                        B. Tausojantis-treniruojantis
                    </li>
                    <li>
                        C. Treniruojantis
                    </li>
                    <li>
                        D. Laisvas
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>8.25</b> Kaip vertinamas ligonio darbingumo lygis, įvertinus darbingumą procentais </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - 0 - 25%
                    </li>
                    <li>
                        2 - 0 - 15%
                    </li>
                    <li>
                        3 - 30 - 55%
                    </li>
                    <li>
                        4 - 60 - 100%
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Iš dalies darbingas
                    </li>
                    <li>
                        B. Darbingas
                    </li>
                    <li>
                        C. Nedarbingas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.26</b> Kaip vertinamas vaikų ir suaugusių negalumas  ir darbingumas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Asmenims iki 18 m.
                    </li>
                    <li>
                        2 - Asmenims nuo 18 m. iki senatvės pensijos
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Trijų lygių neįgalumu
                    </li>
                    <li>
                        B. Išlikusio darbingumo procentais.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.27</b> Kokiais atvejais nustatoma nurodyta pragulos stadija</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - I
                    </li>
                    <li>
                        2 - II
                    </li>
                    <li>
                        3 - III
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Paviršinis išopėjimas, apimantis odą
                    </li>
                    <li>
                        B. Išopėjimas apima raumenis
                    </li>
                    <li>
                        C. Odos paraudimas ir sukietėjimas virš kaulinių išsikišimų
                    </li>
                    <li>
                        D. Išopėjimas apima poodinius audinius, bet ne raumenis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.28</b> Kokios priemonės tinka nurodytai negalumo profilaktikai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pirminei
                    </li>
                    <li>
                        2 - Antrinei
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Higiena, švietimas, racionali mityba, pirminės medicinos priežiūros tobulinimas, infekcijų ir lėtinių ligų profilaktika, imunizacija, kova su įvairių rūšių traumomis, nepagrįstu vaistų bei narkotikų vartojimu ir ekologijos būklė
                    </li>
                    <li>
                        B. Ankstyvas funkcinės būklės sutrikimų (defektų) nustatymas ir reabilitacijos priemonių taikymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.29</b> Kurioms šalims būdingos nurodytos  negalumo priežastys</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Besivystančios šalys
                    </li>
                    <li>
                        2 - Išsivysčiusios šalys
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Nelaimingi atsitikimai, somatinės ligos, lėtinis alkoholizmas, narkomanija, moderniosios medicinos pasekmės ir vidutinio gyventojų amžiaus didėjimas
                    </li>
                    <li>
                        B. Nepakankama mityba, infekcinės ligos, reikiamo dėmesio stoka iki gimdymo ir po gimdymo ir nelaimingi atsitikimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.30</b> Kuris apibūdinimas labiausiai tinka kiekvienai nurodyto mėginio su fiziniu krūviu rūšiai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Veloergometrinis mėginys
                    </li>
                    <li>
                        2 - Stepergometrinis mėginys
                    </li>
                    <li>
                        3 - Slenkančio takelio mėginys
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Fiziologiškiausias
                    </li>
                    <li>
                        B. Mūsų sąlygomis prieinamiausias
                    </li>
                    <li>
                        C. Galima taikyti ligoniui su koksartroze
                    </li>
                    <li>
                        D. Padarytas mechaninis darbas lygus išeikvotai energijai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.31</b> Kuris fizioterapijos metodas yra tinkamiausias kiekvienos nurodytos ligos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Diabetinės kilmės trofinė opa
                    </li>
                    <li>
                        2 - Juosmeninis kryžmens radikulitas (vyrauja skausminis sindromas)
                    </li>
                    <li>
                        3 - Sulėtėjusi kaulo konsolidacija po lūžio
                    </li>
                    <li>
                        4 - Ūminė pneumonija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Novokaino diadinamoelektroforezė
                    </li>
                    <li>
                        B. Lazerio terapija
                    </li>
                    <li>
                        C. UAD elektrinio lauko terapija
                    </li>
                    <li>
                        D. Ultragarso terapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.32</b> Kuris kiekvieno nurodyto fizioterapijos metodo fizinis veiksnys yra pagrindinis</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Galvanizacija
                    </li>
                    <li>
                        2 - Amplipulsterapija
                    </li>
                    <li>
                        3 - Induktotermija
                    </li>
                    <li>
                        4 - Ultragarsas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Moduliuotos žemu dažniu sinusoidinės 5000 Hz dažnio srovės
                    </li>
                    <li>
                        B. Nuolatinė elektros srovė
                    </li>
                    <li>
                        C. Kintamas aukšto dažnio elektromagnetinis laukas
                    </li>
                    <li>
                        D. Mechaniniai virpesiai
                    </li>
                    <li>
                        E. Elektros laukas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.33</b> Kuriuo atveju nerekomenduotina kiekviena nurodyta fizioterapijos procedūra</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - UAD elektrinio lauko terapija
                    </li>
                    <li>
                        2 - Magnetoterapija
                    </li>
                    <li>
                        3 - Induktotermija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sąauginiai procesai
                    </li>
                    <li>
                        B. Tireotoksikozė
                    </li>
                    <li>
                        C. Ryški hipotonija
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>8.34 </b> Koks diadinamoterapijos terapinis poveikis organizmui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuskausminantis
                    </li>
                    <li>
                        2. Stimuliuojantis
                    </li>
                    <li>
                        3. Mažinantis uždegimą
                    </li>
                    <li>
                        4. Mažinantis edemą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.35 </b> Koks yra UAD lauko terapinis poveikis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mažina uždegimą
                    </li>
                    <li>
                        2. Gerina audinių trofiką
                    </li>
                    <li>
                        3. Spazmolizinis
                    </li>
                    <li>
                        4. Slopina jungiamojo audinio regeneraciją ir sąauginius procesus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.36 </b> Kaip veikia fizinis krūvis virškinimo sistemos funkciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Intensyvus fizinis krūvis slopina skrandžio sekreciją, slopina skrandžio peristaltiką
                    </li>
                    <li>
                        2. Nedidelis fizinis krūvis skatina skrandžio sekreciją, stiprina skrandžio peristaltiką
                    </li>
                    <li>
                        3. Gerėja kraujotaka pilvo ertmės ir dubens organuose, pagreitėja veninio kraujo nutekėjimas
                    </li>
                    <li>
                        4. Krūvio intensyvumas virškinimo sistemos funkcijai įtakos neturi
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.37 </b> Kokį poveikį organizmui turi A ir B ultravioletiniai spinduliai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skatina vit. D sintezę
                    </li>
                    <li>
                        2. Ardo vit. D
                    </li>
                    <li>
                        3. Naudojami odos žvynelinės gydyme
                    </li>
                    <li>
                        4. Didina skrandžio sulčių rūgštingumą ir fermentų kiekį joje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.38 </b> Kokie nepageidaujami termoterapijos poveikiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nudegimas
                    </li>
                    <li>
                        2. Nualpimas
                    </li>
                    <li>
                        3. Kraujavimas
                    </li>
                    <li>
                        4. Akių  pažeidimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.39 </b> Kokios yra bendros indikacijos kineziterapijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ūminis ligos periodas
                    </li>
                    <li>
                        2. Dėl ligos išnykusi arba neadekvačia tapusi funkcija
                    </li>
                    <li>
                        3. AKS &lt; 90/50 mm Hg
                    </li>
                    <li>
                        4. Bendras fizinis darbingumas mažesnis kaip 1,5 W/kg kūno masės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.40 </b> Kokios yra fizinių pratimų vandenyje kontraindikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Įvairios odos ligos
                    </li>
                    <li>
                        2. Karščiavimas
                    </li>
                    <li>
                        3. Epilepsija
                    </li>
                    <li>
                        4. Kvėpavimo funkcijos dekompensacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.41 </b> Kokios priemonės naudotinos įvykus sausgyslės patempimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ledas vietiškai
                    </li>
                    <li>
                        2. Ramybės suteikimas galūnei
                    </li>
                    <li>
                        3. Galūnės pakėlimas
                    </li>
                    <li>
                        4. Ortopedinės priemonės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.42 </b> Kurie mechanoterapijos uždaviniai yra pagrindiniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Atstatyti sutrikusių judesių amplitudę
                    </li>
                    <li>
                        2. Stiprinti raumenų jėgą
                    </li>
                    <li>
                        3. Didinti fizinį darbingumą
                    </li>
                    <li>
                        4. Slopinti skausmą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.43 </b> Koks yra fizinių treniruočių poveikis sergant lėtinėmis plaučių ligomis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pagerėja pacientų motyvacija
                    </li>
                    <li>
                        2. Pagerėja kvėpavimo funkcija
                    </li>
                    <li>
                        3. Pagerėja raumenų funkcija
                    </li>
                    <li>
                        4. Suaktyvėja kaulų čiulpai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.44 </b> Kurie plaučių ligomis sergančių ligonių reabilitacijos uždaviniai yra pagrindiniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mažinti ligos simptomus
                    </li>
                    <li>
                        2. Didinti fizinio krūvio toleranciją
                    </li>
                    <li>
                        3. Gerinti ligonio funkcinę būklę
                    </li>
                    <li>
                        4. Mažinti sveikatos priežiūros išlaidas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.45 </b> Reabilituojant vaikus, pagrindinis vaidmuo tenka:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Fizinės medicinos ir reabilitacijos gydytojui
                    </li>
                    <li>
                        2. Psichologui
                    </li>
                    <li>
                        3. Kineziterapeutui
                    </li>
                    <li>
                        4. Tėvams
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>8.46</b> Nustatyta, kad ligonis, eidamas lygia vieta, dusulio nejaučia, bet lipdamas laiptais ar į kalną - dūsta. Kokia yra dusulio klasė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. I
                    </li>
                    <li>
                        B. II
                    </li>
                    <li>
                        C. III
                    </li>
                    <li>
                        D. IV
                    </li>
                    <li>
                        E. V
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.47</b> Nustatyta, kad ligonis, eidamas lygia vieta, dusulio nejaučia, bet lipdamas laiptais ar į kalną - dūsta. Ar ligonis darbingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Darbingas
                    </li>
                    <li>
                        B. Darbingas, jei dirba sėdimą darbą
                    </li>
                    <li>
                        C. Nedarbingas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.48</b> Į sanatorinės reabilitacijos skyrių atvyko ligonis, sergantis lėtiniu hepatitu. Kuri dieta jam turi būti paskirta:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. SK↓
                    </li>
                    <li>
                        B. R ↓
                    </li>
                    <li>
                        C. B↓
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.49</b> Į sanatorinės reabilitacijos skyrių atvyko ligonis, sergantis lėtiniu hepatitu. Kuri mineralinio vandens gėrimo procedūra tinkamiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gerti pašildytą mineralinį vandenį 40-45 min. prieš valgį
                    </li>
                    <li>
                        B. Gerti pašildytą iki 35º-40ºC mineralinį vandenį 3-3,5 val. prieš valgį
                    </li>
                    <li>
                        C. Gerti šaltą mineralinį vandenį 30 min. prieš valgį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.50</b> 40 m.amžiaus bronchine astma sergantis ligonis atvyko į sanatorinės reabilitacijos skyrių. Kuris tyrimas turi būti padarytas prieš individualios reabilitacijos programos sudarymą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Proceso aktyvumo nustatymas
                    </li>
                    <li>
                        B. Kvėpavimo funkcijos įvertinimas
                    </li>
                    <li>
                        C. Krūtinės organų rentgenoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.51</b> 40 m.amžiaus bronchine astma sergantis ligonis atvyko į sanatorinės reabilitacijos skyrių. Nustatyta, kad įprastomis sąlygomis (prausiantis, rengiantis) ligonis dūsta. Ramybės būsenoje - nedūsta. Įprastu greičiu gali nueiti kelis kvartalus,bet nuo bendramžių atsilieka.Kokia yra dusulio klasė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. I
                    </li>
                    <li>
                        B. II
                    </li>
                    <li>
                        C. III
                    </li>
                    <li>
                        D. IV
                    </li>
                    <li>
                        E. V
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.52</b> Į sanatorinės reabilitacijos skyrių atvyko 50 m. ligonis po miokardo infarkto. Kineziterapijos metu ligonį  pradėjo truputį dusinti,svaigti galva bei  varginti dažnas širdies plakimas. Kokia yra reiškinio priežastis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Osteochondrozė
                    </li>
                    <li>
                        B. Širdies raumens ischemijos pagilėjimas
                    </li>
                    <li>
                        C. Pakilęs AKS
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>8.53</b> Į sanatorinės reabilitacijos skyrių atvyko 50 m. ligonis po miokardo infarkto. Kineziterapijos metu ligonį  pradėjo truputį dusinti,svaigti galva bei  varginti dažnas širdies plakimas. Kuris tyrimas pirmiausiai turi būti padarytas diagnozės patikslinimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Stuburo kaklinės dalies rentgenograma
                    </li>
                    <li>
                        B. AKS išmatavimas
                    </li>
                    <li>
                        C. EKG
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>8.1 - 

                B
            </td>
            <td>8.2 - 

                C
            </td>
            <td>8.4 - 

                B
            </td>
            <td>8.5 - 

                C
            </td>
            <td>8.6 - 

                B
            </td>
            <td>8.7 - 

                C
            </td>
            <td>8.8 - 

                C
            </td>
            <td>8.9 - 

                D
            </td>
                </tr><tr>
            <td>8.10 - 

                A
            </td>
            <td>8.11 - 

                A
            </td>
            <td>8.12 - 

                B
            </td>
            <td>8.13 - 

                A
            </td>
            <td>8.14 - 

                C
            </td>
            <td>8.15 - 

                C
            </td>
            <td>8.16 - 

                A
            </td>
            <td>8.17 - 

                B
            </td>
                </tr><tr>
            <td>8.18 - 

                C
            </td>
            <td>8.20 - 

                B
            </td>
            <td>8.21 - 

                C
            </td>
            <td>8.22 - 

                C
            </td>
            <td>8.24 - 

                B
            </td>
                </tr><tr>
            <td>8.25
            <ul>
                <li>1 - C </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - B </li>
            </ul></td>
            <td>8.26
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
            </ul></td>
            <td>8.27
            <ul>
                <li>1 - C </li>
                <li>2 - A </li>
                <li>3 - D </li>
            </ul></td>
            <td>8.28
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
            </ul></td>
            <td>8.29
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
            </ul></td>
            <td>8.30
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>8.31
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - D </li>
                <li>4 - C </li>
            </ul></td>
            <td>8.32
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>8.33
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
                </tr><tr>
            <td>8.34
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>8.35
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>8.36
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>8.37
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>8.38
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>8.39
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>8.40
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>8.41
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>8.42
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>8.43
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>8.44
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>8.45
            <ul>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>8.46 - 

                B
            </td>
            <td>8.47 - 

                B
            </td>
            <td>8.48 - 

                B
            </td>
            <td>8.49 - 

                A
            </td>
            <td>8.50 - 

                B
            </td>
            <td>8.51 - 

                C
            </td>
            <td>8.52 - 

                B
            </td>
            <td>8.53 - 

                C
            </td>

</tr></tbody></table></div>