<div class="Centre Kategorija">Reumatologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>24.1</b> Kokie odos pažeidimo požymiai būdingi dermatomiozitui :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Saulės šviesai jautri eritema veido ir krūtinės odoje
                    </li>
                    <li>
                        B. Pleiskanojančios dėmės , primenančios psoriazę
                    </li>
                    <li>
                        C. Bėrimai pažastų ir kirkšnių odoje
                    </li>
                    <li>
                        D. Niežtintys bėrimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.2</b> Kuris požymis svarbus diagnostikai ankstyvoje reumatoidinio artrito stadijoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skausmingumas, čiuopiant  Achilo sausgysles
                    </li>
                    <li>
                        B. Plaštakų ulnarinė deviacija
                    </li>
                    <li>
                        C. Poodiniai mazgeliai
                    </li>
                    <li>
                        D. Patinę plaštakų proksimaliniai interfalanginiai sąnariai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.3</b> Sąnarių pažeidimui sergant sistemine raudonąja vilklige būdinga :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ligos pradžioje atsirandančios sąnarių deformacijos
                    </li>
                    <li>
                        B. Poodiniai mazgeliai
                    </li>
                    <li>
                        C. Erozyvinis artritas
                    </li>
                    <li>
                        D. Neerozyvinis artritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.4</b> Kuris HLA antigenas yra susijęs su seronegatyviomis spondiloartropatijomis: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. B8
                    </li>
                    <li>
                        B. B27
                    </li>
                    <li>
                        C. DR4
                    </li>
                    <li>
                        D. DR3 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.5</b> Nugaros skausmai 56 metų moteriai, kuri sveria 50 kg, prieš  8 metus pašalinta gimda ir abi kiaušidės, greičiausiai galimi dėl : </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Osteoporozės
                    </li>
                    <li>
                        B. Osteochondrozės
                    </li>
                    <li>
                        C. Scheuerman’o ligos
                    </li>
                    <li>
                        D. Inkstų akmenligės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.6</b> Nesteroidiniams vaistams nuo uždegimo būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Priešuždegiminis poveikis pasireiškia dėl ciklooksigenazės –1 slopinimo
                    </li>
                    <li>
                        B. Slopina prostaglandinų produkciją uždegimo metu
                    </li>
                    <li>
                        C. Pasižymi stipresniu priešuždegiminiu poveikiu negu gliukokortikoidai
                    </li>
                    <li>
                        D. Turi įrodytą chondroprotekcinį poveikį 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.7</b> Sausųjų akių sindromas būdingiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reumatoidiniam artritui
                    </li>
                    <li>
                        B. Sarkoidozei
                    </li>
                    <li>
                        C. Sklerodermijai
                    </li>
                    <li>
                        D. Sjogreno ligai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.8</b> Koks yra dažniausias kvėpavimo takų pažeidimas, sergant reumatoidiniu artritu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Obliteruojantis bronchiolitas
                    </li>
                    <li>
                        B. Plautinė hipertenzija
                    </li>
                    <li>
                        C. Fibrozuojantis alveolitas
                    </li>
                    <li>
                        D. Eksudacinis pleuritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.9</b> Ar dažnai, sergant ankiloziniu spondiloartritu, randamas HLA B27 antigenas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Daugiau nei 90 proc. sergančiųjų
                    </li>
                    <li>
                        B. Priklausomai nuo populiacijos
                    </li>
                    <li>
                        C. Priklausomai nuo ligos formos
                    </li>
                    <li>
                        D. Priklausomai nuo ligonio amžiaus ir lyties
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.10</b> Kuris vaistas turi geriausią ciklooksigenazių  slopinimo (COX-2/COX-1) santykį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Indometacinas
                    </li>
                    <li>
                        B. Ibuprofenas
                    </li>
                    <li>
                        C. Ketoprofenas
                    </li>
                    <li>
                        D. Celekoksibas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.11</b> Kurie inkstų patologiniai pakitimai tipiški aktyviai sisteminei raudonajai vilkligei su nefroziniu sindromu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Fokalinė segmentinė glomerulosklerozė
                    </li>
                    <li>
                        B. Mezanginis glomerulonefritas
                    </li>
                    <li>
                        C. Difuzinis proliferacinis glomerulonefritas
                    </li>
                    <li>
                        D. Amiloidozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.12</b> Kokios trukmės gydymas antibiotikais rekomenduojamas reaktyvaus chlamidijų sukelto artrito atvejais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Viena savaitė
                    </li>
                    <li>
                        B. Keturios savaitės
                    </li>
                    <li>
                        C. 3 mėn.
                    </li>
                    <li>
                        D. 2 mėn.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.13</b> Reaktyvaus artrito metu nesteroidiniai vaistai nuo uždegimo skiriami:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mažiausiomis efektyviomis dozėmis
                    </li>
                    <li>
                        B. Kaip analgetikai, priklausomai nuo skausmo intensyvumo
                    </li>
                    <li>
                        C. Kuo trumpiau
                    </li>
                    <li>
                        D. Kol visiškai išnyks artrito simptomai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.14</b> Polimiozitui, dermatomiozitui būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pleuritas, perikarditas
                    </li>
                    <li>
                        B. Amiloidozė
                    </li>
                    <li>
                        C. Opos pirštų galiukuose
                    </li>
                    <li>
                        D. Disfagija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.15</b> Kurio vaskulito metu dažnai randami serologiniai hepatito B žymenys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vegenerio granuliomatozės
                    </li>
                    <li>
                        B. Mazginio poliarterijito
                    </li>
                    <li>
                        C. Churg-Strauss’o sindromo
                    </li>
                    <li>
                        D. Takajasu ligos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.16</b> Kuris teiginys apie reumatoidinį artritą yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mankštos įtaka paciento funkcinei būklei menka
                    </li>
                    <li>
                        B. Mirtis dėl infekcijos žymiai dažnesnė, nei populiacijoje
                    </li>
                    <li>
                        C. Sausojo sindromo klinika priklauso nuo ligos aktyvumo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.17</b> Kuris teiginys apie ultragarsinio tyrimo pranašumus yra neteisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Geriau nei rentgenogramoje galima įvertinti kremzlę
                    </li>
                    <li>
                        B. Galima atskirti intraartikulinį ir periartikulinį skystį
                    </li>
                    <li>
                        C. Galima įžiūrėti sausgysles ir raiščius
                    </li>
                    <li>
                        D. Galima patikimai diferencijuoti kraują, pūlius, uždegiminį sąnarinį skystį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.18</b> Kuris iš išvardintų pašalinių reiškinių labiausiai priklauso nuo suminės gliukokortikoidų  dozės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Osteoporozė 
                    </li>
                    <li>
                        B. Skrandžio opos 
                    </li>
                    <li>
                        C. Infekcijos
                    </li>
                    <li>
                        D. Gliukozės tolerancijos sutrikimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.19</b> Kuris simptomas nėra  būdingas seronegatyvioms spondiloartropatijoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Uveitas
                    </li>
                    <li>
                        B. Kolitas
                    </li>
                    <li>
                        C. Perikarditas
                    </li>
                    <li>
                        D. Psoriazė 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.20</b> Kurį sąnarį dažniausiai pažeidžia ūmus septinis artritas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kelio 
                    </li>
                    <li>
                        B. Peties
                    </li>
                    <li>
                        C. Riešo
                    </li>
                    <li>
                        D. Čiurnos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.21</b> Koks mikroorganizmas dažniausiai sukelia septinį artritą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Streptococcus haemolyticus
                    </li>
                    <li>
                        B. Esherichia coli
                    </li>
                    <li>
                        C. Staphylococcus aureus
                    </li>
                    <li>
                        D. Klebsiela pneumoniae
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.22</b> Kokiomis dozėmis skiriami antibiotikai ūmiam infekciniam artritui gydyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vidutinėmis
                    </li>
                    <li>
                        B. Maksimaliomis, kaip sepsiui gydyti
                    </li>
                    <li>
                        C. Mažomis, kad išvengti pašalinio antibiotikų poveikio.
                    </li>
                    <li>
                        D. Vieną ar dvi dienas maksimaliomis, po to dozę mažinant
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.23</b> Kortikosteroidų suleidimas į sąnarį yra kontraindikuotinas sergant:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reaktyviu artritu
                    </li>
                    <li>
                        B. Reumatoidiniu artritu
                    </li>
                    <li>
                        C. Psoriaziniu artritu
                    </li>
                    <li>
                        D. Infekciniu artritu
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>24.24</b> Kokiam susirgimui būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - &nbsp; Simetrinis  metakarpofalanginių sąnarių poliartritas
                    </li>
                    <li>
                        2 - &nbsp; Nesimetrinis kojų sąnarių oligoartritas ir uretritas
                    </li>
                    <li>
                        3 - &nbsp;&nbsp;Sakroileitas ir simetriniai sindesmofitai stuburo rentgenogramoje
                    </li>
                    <li>
                        4 - &nbsp; Karščiavimas ir kelio sąnario monoartritas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Stafilokokiniam artritui
                    </li>
                    <li>
                        B. Reaktyviam artritui
                    </li>
                    <li>
                        C. Reumatoidiniam artritui
                    </li>
                    <li>
                        D. Ankilozuojančiam spondiloartritu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.25</b> Kokios lokalizacijos jutimo sutrikimai ir skausmai būdingi, esant nurodytų šaknelių pažeidimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - C3
                    </li>
                    <li>
                        2 - C6
                    </li>
                    <li>
                        3 - L4
                    </li>
                    <li>
                        4 - S1
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Išorinis pėdos paviršius
                    </li>
                    <li>
                        B. Pakaušis
                    </li>
                    <li>
                        C. Išorinis rankos paviršius, nykštys, II pirštas
                    </li>
                    <li>
                        D. Išorinis kojos ir nugarinis pėdos paviršius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.26</b> Kokios lokalizacijos skausmas būdingas, esant nurodytam kelio pažeidimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Priešgirnelinis bursitas
                    </li>
                    <li>
                        2 - B. anserina bursitas
                    </li>
                    <li>
                        3 - Beikerio cista
                    </li>
                    <li>
                        4 - Pelegrini- Steda liga
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Medialinėje kelio pusėje, plintantis žemyn
                    </li>
                    <li>
                        B. Kelio girnelės priekiniame paviršiuje
                    </li>
                    <li>
                        C. Pakinklyje
                    </li>
                    <li>
                        D. Medialinėje kelio pusėje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.27</b> Kuri liga pasireiškia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Artritu, serozitu, dermatitu, nefritu
                    </li>
                    <li>
                        2 - Odos sukietėjimu, pneumoskleroze, disfagija
                    </li>
                    <li>
                        3 - Atkosėjimu krauju, sinusitu ar rinitu, inkstų nepakankamumu
                    </li>
                    <li>
                        4 - Simetriniu proksimalinių raumenų silpnumu, kreatinfosfokinazės kiekio padidėjimu kraujyje
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Polimiozitas
                    </li>
                    <li>
                        B. Vegenerio granuliomatozė
                    </li>
                    <li>
                        C. Sisteminė sklerodermija
                    </li>
                    <li>
                        D. Sisteminė raudonoji vilkligė   
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.28</b> Kuriai ligai būdingi išvardinti autoantikūnai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Antikūnai prieš dvispiralę DNR
                    </li>
                    <li>
                        2 - Antikūnai prieš histonus
                    </li>
                    <li>
                        3 - Antikūnai prieš neutrofilų citoplazmos antigenus
                    </li>
                    <li>
                        4 - Antikūnai prieš centromerus
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Vaistų sukelta vilkligė
                    </li>
                    <li>
                        B. Sisteminė raudonoji vilkligė
                    </li>
                    <li>
                        C. Vegenerio granuliomatozė
                    </li>
                    <li>
                        D. Sisteminė sklerodermija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.29</b> Kuriai ligai būdingi išvardinti rentgenologiniai simptomai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Distalinių pirštakaulių osteolizė 
                    </li>
                    <li>
                        2 - “Skylamušio” fenomenas
                    </li>
                    <li>
                        3 - Kaulų pokremzlinė osteosklerozė, osteofitai
                    </li>
                    <li>
                        4 - Sindesmofitai, “bėgių “ fenomenas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ankiloziniam spondiloartritui
                    </li>
                    <li>
                        B. Osteoartrozei
                    </li>
                    <li>
                        C. Lėtinei podagrai
                    </li>
                    <li>
                        D. Sklerodermijai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.30</b> Kurioms ligoms būdingos išvardintos deformacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - “Ruonio” ranka
                    </li>
                    <li>
                        2 - “Našlės kupra”
                    </li>
                    <li>
                        3 - “Prašytojo” poza
                    </li>
                    <li>
                        4 - Pirštai-“dešrelės”
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Reumatoidiniam artritui
                    </li>
                    <li>
                        B. Ankiloziniam spondiloartritui
                    </li>
                    <li>
                        C. Osteoporozei
                    </li>
                    <li>
                        D. Reiterio ligai
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>24.31 </b> Kurie požymiai nebūdingi ankiloziniam spondiloartritui :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nugaros skausmai sumažėja pasimankštinus 
                    </li>
                    <li>
                        2. Dažniausiai serga moterys 
                    </li>
                    <li>
                        3. Liga  prasideda jauname amžiuje 
                    </li>
                    <li>
                        4. Nugaros skausmai, stiprėjantys nuo judesių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.32 </b> Kurie rentgenologiniai požymiai būdingi ankiloziniam spondiloartritui :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sakroilijinių sąnarių praplatėjimas
                    </li>
                    <li>
                        2. Sakroilijinių sąnarių subchondrinė sklerozė
                    </li>
                    <li>
                        3. Kvadrato formos slanksteliai
                    </li>
                    <li>
                        4. Sindesmofitų susidarymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.33 </b> Kokie laboratoriniai pakitimai būdingi tik ankiloziniam spondiloartritui :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. ENG padidėjimas
                    </li>
                    <li>
                        2. HLA B27 antigenas
                    </li>
                    <li>
                        3. Antinukleariniai antikūnai
                    </li>
                    <li>
                        4. Nei vienas iš minėtų tyrimų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.34 </b> Kurie rentgenologiniai požymiai būdingi psoriazinei artropatijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kaulinės erozijos
                    </li>
                    <li>
                        2. Pavieniai sindesmofitai
                    </li>
                    <li>
                        3. Periostitai
                    </li>
                    <li>
                        4. Neerozyvinis artritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.35 </b> Kurie požymiai būdingi sisteminei reumatoidinio artrito formai :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Periferinė neuropatija
                    </li>
                    <li>
                        2. Reumatoidiniai mazgeliai
                    </li>
                    <li>
                        3. Odos nekrozinis vaskulitas
                    </li>
                    <li>
                        4. Mazginė eritema
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.36 </b> Dėl kokių priežasčių vystosi anemija, sergant reumatoidiniu artritu :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hemolizė
                    </li>
                    <li>
                        2. Lėtinis uždegimas
                    </li>
                    <li>
                        3. Hipersplenizmas
                    </li>
                    <li>
                        4. Medikamentų šalutinis poveikis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.37 </b> Seronegatyvioms spondiloartropatijoms būdinga :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sakroilijito rentgenologiniai požymiai
                    </li>
                    <li>
                        2. Negatyvus reumatoidinis faktorius
                    </li>
                    <li>
                        3. Ryšys su HLA B 27 antigenu
                    </li>
                    <li>
                        4. Simetrinis poliartritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.38 </b> Kurie mikroorganizmai gali sukelti Reiterio ligą arba reaktyvujį artritą :</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Staphylococcus aureus
                    </li>
                    <li>
                        2. Yersinia enterocolitica
                    </li>
                    <li>
                        3. Streptococcus fecalis
                    </li>
                    <li>
                        4. Chlamidia trachomatis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.39 </b> Kokiais atvejais reaktyvaus artrito gydymui tinka sulfasalazinas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Jeigu yra poliartritas
                    </li>
                    <li>
                        2. Enteroartrito atveju
                    </li>
                    <li>
                        3. Uroartrito atveju
                    </li>
                    <li>
                        4. Užsitęsusiais atvejais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.40 </b> Kaip rekomenduojama naudoti gliukokortikoidus, sergant  reaktyviu artritu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pastovus gydymas lėtinės ligos atvejais
                    </li>
                    <li>
                        2. Ilgalaikis gydymas nedidelėmis peroralinėmis dozėmis
                    </li>
                    <li>
                        3. Pradedant nuo didelės dozės, ją palaipsniui mažinant
                    </li>
                    <li>
                        4. Intraartikuline injekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.41 </b> Lumbosakralinės dalies kompiuterinė tomografija yra geriausias tyrimas, norint diagnozuoti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tarpslankstelinio disko prolapsą
                    </li>
                    <li>
                        2. Spinalinę stenozę
                    </li>
                    <li>
                        3. Septinį discitą
                    </li>
                    <li>
                        4. Osteochondrozę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.42 </b> Kurie iš išvardintų preparatų gali sukelti miopatiją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Klofibratas
                    </li>
                    <li>
                        2. Penicilaminas
                    </li>
                    <li>
                        3. Gliukokortikoidai
                    </li>
                    <li>
                        4. Lovastatinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.43 </b> Antifosfolipidiniai antikūnai – tai grupė heterogeninių antikūnų, kuriai priklauso:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Lupus antikoaguliantas
                    </li>
                    <li>
                        2. Antikūnai prieš dvispiralinę DNR
                    </li>
                    <li>
                        3. Antikūnai prieš kardiolipiną
                    </li>
                    <li>
                        4. Antinukleariniai antikūnai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.44 </b> Kokie vaistai dažniausiai vartojami ligos eigai modifikuoti , gydant reumatoidinį artritą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Antimaliariniai 
                    </li>
                    <li>
                        2. Metotreksatas
                    </li>
                    <li>
                        3. Azatioprinas
                    </li>
                    <li>
                        4. Aukso druskos
                    </li>
                    <li>
                        5. D-penicilaminas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.45 </b> Kuris teiginys apie podagrą yra teisingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Moterys serga taip pat dažnai, kaip ir vyrai
                    </li>
                    <li>
                        2. Pirmas priepuolis dažniausiai įvyksta 20-30 metų amžiaus žmonėms
                    </li>
                    <li>
                        3. Šlapimo rūgšties koncentracija kraujyje priepuolio metu visada yra padidėjusi
                    </li>
                    <li>
                        4. Priepuolio metu ligoniai dažniausiai karščiuoja
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.46 </b> Kurie reiškiniai yra būdingi pirminiam Sjogreno sindromui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Reumatoidinis faktorius serume
                    </li>
                    <li>
                        2. Limfoma
                    </li>
                    <li>
                        3. Periferinė neuropatija
                    </li>
                    <li>
                        4. Odos sukietėjimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.47 </b> Kurie teiginiai apie gliukokortikoidų sukeltą osteoporozę yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sumažina kalcio pasisavinimą žarnyne
                    </li>
                    <li>
                        2. Padidina kalcio išskyrimą per inkstus
                    </li>
                    <li>
                        3. Slopina osteoblastų proliferaciją
                    </li>
                    <li>
                        4. Vitamino D 400 TV per dieną ir bisfosfonatai yra vienodai efektyvūs gliukokortikoidų sukeltos osteoporozės gydymui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.48 </b> Kurie teiginiai apie sisteminę raudonąją vilkligę ir nėštumą yra teisingi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Liga nėštumo metu tampa mažiau aktyvia
                    </li>
                    <li>
                        2. Savaiminiai abortai yra reti
                    </li>
                    <li>
                        3. Mažos gliukokortikoidų dozės yra tinkamiausias gydymas
                    </li>
                    <li>
                        4. Vaisiaus būklės riziką nurodo anti-SS-A, anti-SS-B radimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.49 </b> Kurie iš išvardintų kriterijų laikomi sisteminės raudonosios vilkligės diagnostiniais kriterijais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Burnos gleivinės išopėjimas
                    </li>
                    <li>
                        2. Hemolizinė anemija
                    </li>
                    <li>
                        3. Anti-Sm antikūnai
                    </li>
                    <li>
                        4. Neigiamas reumatoidinis faktorius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.50 </b> Kaip gydysite pacientę, sergančią sistemine raudonaja vilklige, esant artritui, serozitui, nefritui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nesteroidiniais priešuždegiminiais vaistais ir sulfasalazinu
                    </li>
                    <li>
                        2. Nesteroidiniais priešuždegiminiais vaistais ir prednizolonu
                    </li>
                    <li>
                        3. Prednizolono nedidelėmis dozėmis ir metotreksatu
                    </li>
                    <li>
                        4. Metilprednizolono ir ciklofosfamido pulsterapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.51 </b> Kuris tyrimas yra svarbiausias, nustatant ūmaus infekcinio artrito diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kraujo pasėlis 
                    </li>
                    <li>
                        2. Sąnario rentgenograma 
                    </li>
                    <li>
                        3. Sąnario magnetinis rezonansas   
                    </li>
                    <li>
                        4. Sąnarinio skysčio pasėlis                        
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>24.52</b> 74 metų moteris, 5 savaites  karščiuojanti,  skundžiasi  galvos skausmais, kalbant ar kramtant “nutirpsta” liežuvis, “rakina” žandikaulį. Objekt. tyr.: T- 38,2°C, pabrinkusios, skausmingos smilkinių arterijos, kraujo tyr.: leukocitų 9,2x10⁹ /l, Hb 104 g/l, ENG 127 mm/val. Kokią ligą įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Odontogeninė infekcija 
                    </li>
                    <li>
                        B. Temporalinis arterijitas
                    </li>
                    <li>
                        C. Sisteminė raudonoji vilkligė
                    </li>
                    <li>
                        D. Sepsis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.53</b> 74 metų moteris, 5 savaites  karščiuojanti,  skundžiasi  galvos skausmais, kalbant ar kramtant “nutirpsta” liežuvis, “rakina” žandikaulį. Objekt. tyr.: T- 38,2°C, pabrinkusios, skausmingos smilkinių arterijos, kraujo tyr.: leukocitų 9,2x10⁹ /l, Hb 104 g/l,NG 127 mm/val.   Kokį gydymą skirsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Prednizolonas, 60 mg per parą
                    </li>
                    <li>
                        B. Metilprednizolonas, puls terapija 1000mg į veną
                    </li>
                    <li>
                        C. Azatioprinas 150 mg per parą
                    </li>
                    <li>
                        D. Penicilinas 6 mln.VV per parą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.54</b> 32 metų moteris skundžiasi artralgijomis, bendru silpnumu, 3 mėnesius subfebriliai karščiuoja. Objekt.tyr.: proksimalinių interfalanginių sąnarių pabrinkimas, ENG 51 mm/val., CRB normalus.  Kokie tyrimai patvirtintų ligą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Leukograma
                    </li>
                    <li>
                        B. Imunologiniai tyrimai: ANA, anti-DNR
                    </li>
                    <li>
                        C. Kraujo pasėlis
                    </li>
                    <li>
                        D. Širdies echoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.55</b> 32 metų moteris skundžiasi artralgijomis, bendru silpnumu, 3 mėnesius subfebriliai karščiuoja. Objekt.tyr.: proksimalinių interfalanginių sąnarių pabrinkimas, ENG 51 mm/val., CRB normalus.  Kokį gydymą skirsite, nustatę sisteminę raudonąją vilkligę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plakvenilį ir nedidelę prednizolono dozę
                    </li>
                    <li>
                        B. Azatiopriną
                    </li>
                    <li>
                        C. Puls- terapiją ciklofosfamidu
                    </li>
                    <li>
                        D. Antipiretikus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.56</b> 32 metų vyras 10 dienų skundžiasi ūminiu juosmens skausmu, plintančiu į kairę koją iki kelio sąnario. Objekt.tyr.: kairę koją ištiestą leidžia pakelti tik iki 60 °, n.ischiadicus tempimo testas teigiamas, jutimai, jėga, refleksai  nesutrikę. Kokius tyrimus rekomenduosite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Juosmeninės dalies rentgenograma
                    </li>
                    <li>
                        B. Bendras kraujo tyrimas ir ENG
                    </li>
                    <li>
                        C. Juosmeninės dalies kompiuterinė tomografija
                    </li>
                    <li>
                        D. Prostatos specifinis antigenas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.57</b> 32 metų vyras 10 dienų skundžiasi ūminiu juosmens skausmu, plintančiu į kairę koją iki kelio sąnario. Objekt.tyr.: kairę koją ištiestą leidžia pakelti tik iki 60 °, n.ischiadicus tempimo testas teigiamas, jutimai, jėga, refleksai  nesutrikę.  Kokį gydymą skirsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Lovos režimas mažiausiai 14 dienų
                    </li>
                    <li>
                        B. Sisteminiai gliukokortikoidai
                    </li>
                    <li>
                        C. Analgetikai, miorelaksantai, lengva dehidratacija
                    </li>
                    <li>
                        D. Epidurinė gliukokortikoidų  injekcija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.58</b> 40 metų vyriškis skundžiasi neprogresuojančiu dešinės rankos skausmu, trunkančiu 6 savaites. Skausmas atsiranda aktyvios peties abdukcijos metu, šis judesys yra sutrikęs. Peties rotacija neskausminga. Kuris iš pateiktų paaiškinimų labiausiai tikėtinas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Subakrominis bursitas
                    </li>
                    <li>
                        B. Peties juostos rotatorių manžetės sindromas
                    </li>
                    <li>
                        C. M.bicipitalis tendinitas
                    </li>
                    <li>
                        D. Peties kapsulės fibrozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.59</b> 65 metų moteris, kuriai menopauzė prasidėjo nuo 46 metų amžiaus, buvo atliktas kaulų mineralinės masės tyrimas. Nustatyta, kad juosmeninių stuburo dalies slankstelių kaulų masės indeksas (T) yra -2,1, šlaunikaulio kaklelio –2,2. Moteris bendrai sveika, rūko po 20 cigarečių, išgeria po ½ butelio vyno per dieną. Ką rekomenduosite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pakaitinę hormonų terapiją
                    </li>
                    <li>
                        B. Gyvenimo būdo pakeitimą ( papildomai vartoti kalcio, mesti rūkyti ir nenaudoti alkoholio, daryti mankštą)
                    </li>
                    <li>
                        C. Bisfosfonatus 3 metų laikotarpiui
                    </li>
                    <li>
                        D. Natrio fluoridą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.60</b> 69 metų moteris skundžiasi skausmais kelių sąnariuose. Nesustojusi ji gali nueiti tik 500 metrų. Objekt.tyr.: ligonės kūno svoris 85 kg, keliai deformuoti, bet nesutinę, lankstant jaučiama krepitacija,  rentgenologiškai – toli pažengusi artrozė. Kokį gydymą rekomenduosite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mankštos pratimus, stiprinančius keturgalvį šlaunies raumenį
                    </li>
                    <li>
                        B. Intraartikulinę hialurono rūgšties injekciją
                    </li>
                    <li>
                        C. Artroskopiją
                    </li>
                    <li>
                        D. Sąnario protezavimą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.61</b> 64 metų vyras, 15 metų sergantis seropozityviu reumatoidiniu artritu, gydomas 5 mg prednizolono per dieną ir metotreksatu 12,5 mg/sav. Jis dar serga ir cukriniu diabetu, gydosi  peroraliniais hipoglikeminiais vaistais. Per paskutines 3 sav. jį vargina progresuojantis dešinio kelio sąnario skausmas. Objekt.tyr.: – dešinysis kelio sąnarys šiltas, patinęs, jame yra skysčio. Kairiajame kelyje jokių sinovijito požymių nėra. Kiti artrito pakenkti sąnariai (plaštakų, riešų, alkūnių, pėdų) atrodo kiek deformuoti, bet be aiškių sinovijito požymių. Kokia diagnozė labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reumatoidinio artrito paūmejimas
                    </li>
                    <li>
                        B. Podagrinis artritas
                    </li>
                    <li>
                        C. Septinis artritas
                    </li>
                    <li>
                        D. Dešinio kelio menisko plyšimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.62</b> 64 metų vyras, 15 metų sergantis seropozityviu reumatoidiniu artritu, gydomas 5 mg prednizolono per dieną ir metotreksatu 12,5 mg/sav. Jis dar serga ir cukriniu diabetu, gydosi  peroraliniais hipoglikeminiais vaistais. Per paskutines 3 sav. jį vargina progresuojantis dešinio kelio sąnario skausmas. Objekt.tyr.: – dešinysis kelio sąnarys šiltas, patinęs, jame yra skysčio. Kairiajame kelyje jokių sinovijito požymių nėra. Kiti artrito pakenkti sąnariai (plaštakų, riešų, alkūnių, pėdų) atrodo kiek deformuoti, bet be aiškių sinovijito požymių.  Ką reikia daryti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aspiruoti sąnario skystį ir įleisti gliukokortikoidų
                    </li>
                    <li>
                        B. Padidinti metotreksato dozę iki 15 mg.sav. ir pasiūlyti gliukokortikoidų injekciją į sąnarį
                    </li>
                    <li>
                        C. Paimti kraują CRB ir leukogramos tyrimams, sekantį vizitą paskirti po 2 dienų
                    </li>
                    <li>
                        D. Aspiruoti sąnario skystį ir jį ištirti (mikroskopija, pasėlis ir antibiotikograma)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.63</b> 66 metų moteris skundžiasi skausmais juosmenyje ir šlaunyse, kirkšnyse, sėdmenyse, šiek tiek šlubuoja. Skausmai vargina jau keletą metų, bet anksčiau juos jusdavo tik ilgiau pavaikščiojusi, po sunkesnių fizinių darbų, skausmai išnykdavo pailsėjus ar išgėrus paracetamolio tabletę. Objekt. tyr.: I laipsnio nutukimas, skausminga ir ribota abiejų klubų rotacija. Koks tyrimas patikslina osteoartrozės stadiją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Sąnario rentgenograma
                    </li>
                    <li>
                        B. Sąnario echoskopija
                    </li>
                    <li>
                        C. Sąnario punkcija
                    </li>
                    <li>
                        D. Klinikinis sąnario judesių amplitudės įvertinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.64</b> 35 metų moteris keletą metų skundžiasi kelių sąnarių skausmais ir patinimu. Išgėrus diklofenako, simptomai labai sumažėja, bet nutraukus gydymą atsinaujina. Prieš 5 dienas pradėjo skaudėti kairį klubą, kirkšnį. Objekt.tyr.: sutinę, skausmingi abu kelių sąnariai, šiltesnė oda virš jų, Skausminga kairiojo klubo rotacija, odoje ties alkūnėmis – nedideli psoriazinio bėrimo elementai. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reiterio liga
                    </li>
                    <li>
                        B. Psoriazine artropatija
                    </li>
                    <li>
                        C. Ankilozinis spondiloartritas
                    </li>
                    <li>
                        D. Podagra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.65</b> 35 metų moteris keletą metų skundžiasi kelių sąnarių skausmais ir patinimu. Išgėrus diklofenako, simptomai labai sumažėja, bet nutraukus gydymą atsinaujina. Prieš 5 dienas pradėjo skaudėti kairį klubą, kirkšnį. Objekt.tyr.: sutinę, skausmingi abu kelių sąnariai, šiltesnė oda virš jų, Skausminga kairiojo klubo rotacija, odoje ties alkūnėmis – nedideli psoriazinio bėrimo elementai.Kokį gydymą rekomenduosite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nesteroidinius vaistus nuo uždegimo
                    </li>
                    <li>
                        B. Metotreksatą  ir nesteroidinius vaistus nuo uždegimo
                    </li>
                    <li>
                        C. Ciklosporiną
                    </li>
                    <li>
                        D. Alopurinolį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.66</b> 45m. moteris prieš 5 dienas pradėjo karščiuoti, smulkiomis raudonomis dėmelėmis išbėrė apatines blauzdų dalis, vėliau bėrimo elementai plito iki šlaunų vidurio, keletą kartų smarkiai “raižė”  pilvą, pavalgius- pykino. Anamnezė: alergiška citrusiniams vaisiams, kai kuriems skalbimo milteliams. Prieš 2 sav. sirgo tonzilitu, dėl to naudojo peniciliną. Objekt.tyr.: T- 37,9ºC, palpuojama purpura abiejų kojų odoje, nuo padų iki blauzdos vidurio,  skausminga ir patinusi kairė čiurna, pilvas minkštas, skausmingas palpuojant epi- ir mezogastriumo srityje. Kokia diagnozė labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Poūmė urtikarija
                    </li>
                    <li>
                        B. Henoch-Schonlein’o vaskulitas
                    </li>
                    <li>
                        C. Mazginė eritema
                    </li>
                    <li>
                        D. Mazginis poliarterijitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.67</b> 45m. moteris prieš 5 dienas pradėjo karščiuoti, smulkiomis raudonomis dėmelėmis išbėrė apatines blauzdų dalis, vėliau bėrimo elementai plito iki šlaunų vidurio, keletą kartų smarkiai “raižė”  pilvą, pavalgius- pykino. Anamnezė: alergiška citrusiniams vaisiams, kai kuriems skalbimo milteliams. Prieš 2 sav. sirgo tonzilitu, dėl to naudojo peniciliną. Objekt.tyr.: T- 37,9ºC, palpuojama purpura abiejų kojų odoje, nuo padų iki blauzdos vidurio,  skausminga ir patinusi kairė čiurna, pilvas minkštas, skausmingas palpuojant epi- ir mezogastriumo srityje.  Kokį gydymą skirsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nedidelė dozė prednizolono
                    </li>
                    <li>
                        B. Antialerginiai vaistai
                    </li>
                    <li>
                        C. Nesteroidiniai vaistai nuo uždegimo
                    </li>
                    <li>
                        D. Vidutinė dozė prednizolono
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.68</b> 26m. vyras skundžiasi skausmais juosmenyje, plintančiais į sėdmenis, išoriniu šlaunų paviršiumi. Skausmai nėra labai intensyvūs, tačiau vargina jau apie porą metų, pastaruoju metu sustiprėjo. Skaudėti pradeda ilgiau pasėdėjus, rytais visada juos jaučia. Pasimankštinus, pavaikščiojus savijauta pagerėja. Iš anamnezės: keletą kartų sirgęs akių uždegimais, angina, vieną kartą plaučių uždegimu. Ligonio tėvas serga opiniu kolitu.  Objekt.tyr.: T-37,2ºC, ištiesinta fiziologinė juosmens lordozė, nugaros raumenų hipertonusas, skausmingumas palpuojant pagal kryžkaulio kraštus, negali pasiekti grindų, nesulenkdamas kelių. Kiti sąnariai ir vidaus organai- be pakitimų. Labor.tyr.: leukocitų 8,9x10⁹ /l, CRB 27 mg/l. Kokia diagnozė labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Osteochondrozė
                    </li>
                    <li>
                        B. Juvenilinė osteochondropatija
                    </li>
                    <li>
                        C. Osteoporozė
                    </li>
                    <li>
                        D. Ankilozinis spondiloartritas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.69</b> 26m. vyras skundžiasi skausmais juosmenyje, plintančiais į sėdmenis, išoriniu šlaunų paviršiumi. Skausmai nėra labai intensyvūs, tačiau vargina jau apie porą metų, pastaruoju metu sustiprėjo. Skaudėti pradeda ilgiau pasėdėjus, rytais visada juos jaučia. Pasimankštinus, pavaikščiojus savijauta pagerėja. Iš anamnezės: keletą kartų sirgęs akių uždegimais, angina, vieną kartą plaučių uždegimu. Ligonio tėvas serga opiniu kolitu.  Objekt.tyr.: T-37,2ºC, ištiesinta fiziologinė juosmens lordozė, nugaros raumenų hipertonusas, skausmingumas palpuojant pagal kryžkaulio kraštus, negali pasiekti grindų, nesulenkdamas kelių. Kiti sąnariai ir vidaus organai- be pakitimų. Labor.tyr.: leukocitų 8,9x10⁹ /l, CRB 27 mg/l.Kokį gydymą rekomenduosite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nesteroidiniai vaistai nuo uždegimo
                    </li>
                    <li>
                        B. Prednizolonas per os
                    </li>
                    <li>
                        C. Nesteroidiniai vaistai nuo uždegimo ir metotreksatas
                    </li>
                    <li>
                        D. Nesteroidiniai vaistai nuo uždegimo ir sulfasalazinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.70</b> 57 m. moteriai laikosi subfebrili kūno temperatūra, skauda riešų ir kelių sąnarius, kartojasi sinusitai, atkosti kraujo, pastaruoju metu atsirado inkstų nepakankamumo požymiai.Gydymas antibiotikais efekto nedavė. Kokius tyrimus atliksite  diagnozės patikslinimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reumatoidinį faktorių, antikūnius prieš natyvinę DNR kraujyje
                    </li>
                    <li>
                        B. Sinusų gleivinės biopsiją, plaučių rentgenogramą, ANCA antikūnius, bronchoskopiją
                    </li>
                    <li>
                        C. Anticitrulininius antikūnius, plaučių rentgenogramą, kelių ir riešų sąnarių rentgenogramas
                    </li>
                    <li>
                        D. Šlapimo rūgšties koncentraciją kraujyje, kelio sąnario sąnarinio skysčio tyrimą, skaudamų sąnarių        rentgenogramas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.71</b> 57 m. moteriai laikosi subfebrili kūno temperatūra, skauda riešų ir kelių sąnarius, kartojasi sinusitai, atkosti kraujo, pastaruoju metu atsirado inkstų nepakankamumo požymiai. Gydymas antibiotikais efekto nedavė. Kokia diagnozė labiausiai tikėtina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Reumatoidinis artritas
                    </li>
                    <li>
                        B. Podagra ir jos sąlygotas lėtinis inkstų nepakankamumas
                    </li>
                    <li>
                        C. Sisteminė raudonoji vilkligė
                    </li>
                    <li>
                        D. Vegenerio granuliomatozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.72</b> 57 m. moteriai laikosi subfebrili kūno temperatūra, skauda riešų ir kelių sąnarius, kartojasi sinusitai, atkosti kraujo, pastaruoju metu atsirado inkstų nepakankamumo požymiai.Gydymas antibiotikais efekto nedavė. Kokį skirsite gydymą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nesteroidinius priešuždegiminius vaistus
                    </li>
                    <li>
                        B. Prednizoloną per os vidutinėmis dozėmis ir metotreksatą
                    </li>
                    <li>
                        C. Intraartikulines kortikosteroidų injekcijas ir nesteroidinius priešuždegiminius vaistus
                    </li>
                    <li>
                        D. Puls terapiją metilprednizolonu ir ciklofosfamidu 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>24.73</b> 75 m amžiaus vyras karščiuoja iki38,5º C su šaltkrėčiu. Dešinys kelio sąnarys patinęs, šiltesnis,   skausmingas palpuojant.Prieš  3 dienas į šį sąnarį dėl osteoartrozės ir antrinio sinovijito reumatologas suleido 40 mg kenologo. Kokia preliminarinė diagnozė ir kokie svarbiausi tyrimai jos patikslinimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Podagrinis artritas, sąnarinio skysčio tyrimas poliarizuotos šviesos mikroskopu dėl uratinių kristalų
                    </li>
                    <li>
                        B. Infekcinis artritas, sąnarinio skysčio pasėlis
                    </li>
                    <li>
                        C. Reaktyvus artritas, CRB, ENG 
                    </li>
                    <li>
                        D. Osteoartrozė, antrinio sinovijito paūmėjimas, dešinio kelio sąnario rentgenograma.
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>24.1 - 

                A
            </td>
            <td>24.2 - 

                D
            </td>
            <td>24.3 - 

                D
            </td>
            <td>24.4 - 

                B
            </td>
            <td>24.5 - 

                A
            </td>
            <td>24.6 - 

                B
            </td>
            <td>24.7 - 

                D
            </td>
            <td>24.8 - 

                C
            </td>
                </tr><tr>
            <td>24.9 - 

                A
            </td>
            <td>24.10 - 

                D
            </td>
            <td>24.11 - 

                C
            </td>
            <td>24.12 - 

                B
            </td>
            <td>24.13 - 

                D
            </td>
            <td>24.14 - 

                D
            </td>
            <td>24.15 - 

                B
            </td>
            <td>24.16 - 

                B
            </td>
                </tr><tr>
            <td>24.17 - 

                D
            </td>
            <td>24.18 - 

                A
            </td>
            <td>24.19 - 

                C
            </td>
            <td>24.20 - 

                A
            </td>
            <td>24.21 - 

                C
            </td>
            <td>24.22 - 

                B
            </td>
            <td>24.23 - 

                D
            </td>
                </tr><tr>
            <td>24.24
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>24.25
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
                <li>4 - A </li>
            </ul></td>
            <td>24.26
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>24.27
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
            <td>24.28
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>24.29
            <ul>
                <li>1 - D </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
            <td>24.30
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>24.31
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>24.32
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>24.33
            <ul>
                <li>4</li>
            </ul></td>
            <td>24.34
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>24.35
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>24.36
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>24.37
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>24.38
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>24.39
            <ul>
                <li>4</li>
            </ul></td>
            <td>24.40
            <ul>
                <li>4</li>
            </ul></td>
            <td>24.41
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>24.42
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>24.43
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>24.44
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>24.45
            <ul>
                <li>4</li>
            </ul></td>
            <td>24.46
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>24.47
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>24.48
            <ul>
                <li>4</li>
            </ul></td>
            <td>24.49
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>24.50
            <ul>
                <li>4</li>
            </ul></td>
            <td>24.51
            <ul>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>24.52 - 

                B
            </td>
            <td>24.53 - 

                A
            </td>
            <td>24.54 - 

                B
            </td>
            <td>24.55 - 

                A
            </td>
            <td>24.56 - 

                C
            </td>
            <td>24.57 - 

                C
            </td>
            <td>24.58 - 

                B
            </td>
            <td>24.59 - 

                B
            </td>
                </tr><tr>
            <td>24.60 - 

                D
            </td>
            <td>24.61 - 

                C
            </td>
            <td>24.62 - 

                D
            </td>
            <td>24.63 - 

                A
            </td>
            <td>24.64 - 

                B
            </td>
            <td>24.65 - 

                B
            </td>
            <td>24.66 - 

                B
            </td>
            <td>24.67 - 

                D
            </td>
                </tr><tr>
            <td>24.68 - 

                D
            </td>
            <td>24.69 - 

                A
            </td>
            <td>24.70 - 

                B
            </td>
            <td>24.71 - 

                D
            </td>
            <td>24.72 - 

                D
            </td>
            <td>24.73 - 

                B
            </td>

</tr></tbody></table></div>