<div class="Centre Kategorija">Socialinė medicina</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>7.1</b> Kuriam tikslui naudojamas standartizacijos metodas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rodiklių skirtumo patikimumui įvertinti
                    </li>
                    <li>
                        B. Vidutiniam kvadratiniam nuokrypiui nustatyti
                    </li>
                    <li>
                        C. Pasikliautiniajam intervalui nustatyti
                    </li>
                    <li>
                        D. Norint sąlygiškai eliminuoti (panaikinti) amžiaus bei kitų požymių įtaką rodiklių lygiui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.2</b> Bendrojo mirtingumo rodiklis dviejuose skirtinguose pagal gyventojų amžių rajonuose buvo: A rajone – 8,0‰, B rajone – 9,5‰. Išvada: mirtingumas B rajone didesnis negu A rajone. Aš ši išvada yra teisinga?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Teisinga
                    </li>
                    <li>
                        B. Neteisinga, nes nėra mirtingumo pagal amžių rodiklių
                    </li>
                    <li>
                        C. Neteisinga, nes nenustatyta mirties priežasčių struktūra
                    </li>
                    <li>
                        D. Neteisinga, nes nenustatyti standartizuoti rodikliai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.3</b> Išmatavus 130 (n) mergaičių ūgį, nustatyta, kad jų ūgio vidurkis – 140 cm, o vidutinė kvadratinė paklaida ± 0,3 cm. Reikia nurodyti pasikliautinįjį intervalą, kuriame yra tikrasis mergaičių ūgio vidurkis, esant pasikliovimo lygmeniui 95%:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 140  ± 0,3
                    </li>
                    <li>
                        B. 140  ± 1,96 × 0,3
                    </li>
                    <li>
                        C. 140  ± 2,58 × 0,3
                    </li>
                    <li>
                        D. 140  ± 3,31 × 0,3
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.4</b> Generalinių aibių vidurkių skirtumas bus statistiškai patikimas, jei ištirtų imčių tūris didesnis negu 30, pasikliovimo lygmuo 95%, o t kriterijus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. &lt; 1,96
                    </li>
                    <li>
                        B. &gt; 1,96
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.5</b> Skiepų efektyvumui įvertinti buvo sudarytos dvi vaikų grupės: skiepytų vaikų grupę sudarė 400 vaikų, iš jų per metus tam tikra liga susirgo 2,0 ± 0,7%, o neskiepytų vaikų grupę sudarė 600, iš kurių per metus ta pačia liga susirgo 4,5 ± 0,8%, z kriterijaus reikšmė lygi 2,2. Ar skiepai efektyvūs:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ne
                    </li>
                    <li>
                        B. Taip (šio teiginio tikimybė 95%)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.6</b> Kaip nustatomas gimstamumo rodiklis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. ((Gimusių gyvų + negyvagimių skaičius) × 100)/ Vidutinis metinis gyventojų skaičius
                    </li>
                    <li>
                        B. (Gimusių gyvų skaičius × 1000) /  Gyventojų skaičius metų pradžioje
                    </li>
                    <li>
                        C. (Gimusių gyvų skaičius × 1000) /  Gyventojų skaičius metų pabaigoje
                    </li>
                    <li>
                        D. (Gimusių gyvų skaičius × 1000) /  Vidutinis metinis gyventojų skaičius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.7</b> Kaip nustatomas bendro mirtingumo rodiklis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. (Mirusių skaičius × 1000) /  Vidutinis metinis gyventojų skaičius
                    </li>
                    <li>
                        B. (Mirusių skaičius × 1000)  / Gyventojų skaičius metų pradžioje
                    </li>
                    <li>
                        C. (Mirusių vyresnių negu 1 metų amžiaus skaičius × 1000) / Vidutinis metinis gyventojų skaičius
                    </li>
                    <li>
                        D. (Mirusių vyresnių negu 1 metų amžiaus skaičius × 1000) / Vyresnių negu 1 metų amžiaus gyventojų skaičius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.8</b> Kaip dažniausiai nustatomas kūdikių mirtingumas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. (Mirusių kūdikių skaičius × 1000) / Gimusių gyvų skaičius
                    </li>
                    <li>
                        B. (Mirusių kūdikių skaičius × 100) / Bendras mirusių tais metais skaičius
                    </li>
                    <li>
                        C. (Mirusių kūdikių skaičius × 1000) /  (1/3 gimusių praėjusiais metais + 2/3 gimusių skaičiuojamaisias metais)
                    </li>
                    <li>
                        D. (Mirusių kūdikių skaičius × 1000) / (Gimusių gyvų + negyvagimių skaičius)
                    </li>
                    <li>
                        E. (Mirusių kūdikių skaičius × 1000) / (Vidutinis metinis gyventojų skaičius)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.9</b> Jei išvykus iš stacionaro skiriamas ambulatorinis gydymas, gydytojai kartu su skyriaus vedėjais tęsia nedarbingumo pažymėjimus iki tol, kol ligoniai privalo atvykti į gydymo įstaigą arba iškviesti gydytoją į namus, bet ne ilgiau kaip:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 5 kalendorines dienas
                    </li>
                    <li>
                        B. 7 kalendorines dienas
                    </li>
                    <li>
                        C. 10 kalendorinių dienų
                    </li>
                    <li>
                        D. 14 kalendorinių dienų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.10</b> Kas yra gyventojų vidutinė būsimo gyvenimo trukmė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vidutinis mirusiųjų amžius
                    </li>
                    <li>
                        B. Vidutinis gyventojų amžius
                    </li>
                    <li>
                        C. Metų skaičius, kurį išgyventų tam tikra gimusiųjų karta, jei liktų pastovus esamas kiekvienos amžiaus grupės žmonių mirtingumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.11</b> Kuri Lietuvos vyrų iki 45 m. mirties priežastis yra pagrindinė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdies ir kraujagyslių ligos
                    </li>
                    <li>
                        B. Piktybiniai navikai
                    </li>
                    <li>
                        C. Nelaimingi atsitikimai, apsinuodijimai ir traumos
                    </li>
                    <li>
                        D. Kvėpavimo organų ligos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.12</b> Kuri Lietuvos suaugusių gyventojų mirties priežastis yra pagrindinė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Širdies ir kraujagyslių ligos
                    </li>
                    <li>
                        B. Piktybiniai navikai
                    </li>
                    <li>
                        C. Nelaimingi atsitikimai, apsinuodijimai ir traumos
                    </li>
                    <li>
                        D. Kvėpavimo organų ligos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.13</b> Pagrindiniai visuotinės kokybės vadybos principai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rūpinimasis vartotoju, nuolatinis tobulinimas, visuotinis dalyvavimas
                    </li>
                    <li>
                        B. Geras valdymas, konkurentų įveikimas, vartotojų poreikių tenkinimas
                    </li>
                    <li>
                        C. Konkurentabilios kainos, gera technika, kokybiški medikamentai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.14</b> Pagrindinės sveikatos priežiūros kokybės sudedamosios dalys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pacientų poreikių tenkinimo kokybė, profesinė kokybė, valdymo kokybė
                    </li>
                    <li>
                        B. Medikamentų kokybė, kvalifikuoti gydytojai, prieinamos kainos
                    </li>
                    <li>
                        C. Maloni aplinka, dėmesys pacientui, žemos kainos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.15</b> Sveikatos priežiūros kokybės kainą sudaro:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Medikamentų kainos, darbo užmokestis, patalpų išlaikymo kainos
                    </li>
                    <li>
                        B. Išorinės kainos, kokybės matavimo ir vertinimo kainos, kokybei gerinti išleidžiami pinigai
                    </li>
                    <li>
                        C. Pacientų mokamos kainos ir ligonių kasų kainos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.16</b> Profesionalioji kokybė vertinama pagal: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pacientų skundus
                    </li>
                    <li>
                        B. Medicininio audito išvadas
                    </li>
                    <li>
                        C. Kokybės kainas
                    </li>
                    <li>
                        D. Paslaugų apimtis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.19</b> Kaip Lietuvoje teismai matuoja gydytojo darbo kokybę?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pagal standartinę tos srities medicinos praktiką
                    </li>
                    <li>
                        B. Pagal geros medicinos praktikos taisykles
                    </li>
                    <li>
                        C. Pagal įstatymu nustatytus standartus
                    </li>
                    <li>
                        D. Pagal maksimalių pastangų kriterijų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.20</b> Kokią pareigą gydytojas turi ne darbo metu ir ne darbo vietoje?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tokią pačią kaip ir darbo metu
                    </li>
                    <li>
                        B. Teikti dalį būtinosios medicinos pagalbos, t.y. pirmąją medicinos pagalbą
                    </li>
                    <li>
                        C. Teikti būtinąją medicinos pagalbą
                    </li>
                    <li>
                        D. Jokios
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.21</b> Kada sveikatos priežiūros įstaiga gali nutraukti sveikatos priežiūros paslaugų teikimą pacientui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Niekada
                    </li>
                    <li>
                        B. Kai pacientas nesumoka už papildomas nekompensuojamas sveikatos priežiūros paslaugas
                    </li>
                    <li>
                        C. Kai pacientas sveikatos priežiūros procese nebendradarbiauja su sveikatos priežiūros specialistu
                    </li>
                    <li>
                        D. Kai pacientas konfliktuoja su gydytoju ir rašo skundus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.22</b> Kur reikia paduoti skundą dėl pacientui padarytos žalos atlyginimo?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Į teismą
                    </li>
                    <li>
                        B. Į sveikatos priežiūros įstaigą
                    </li>
                    <li>
                        C. Į pacientams padarytos žalos nustatymo komisiją
                    </li>
                    <li>
                        D. Į sveikatos apsaugos ministeriją
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.23</b> Kas nebūdinga Lietuvoje egzistuojančiam pacientams padarytos žalos atlyginimo modeliui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Egzistuoja ikiteisminė ginčų dėl žalos atlyginimo sprendimo tvarka 
                    </li>
                    <li>
                        B. Žala pacientams atlyginama pagal vyriausybės patvirtintą metodiką už kiekvieną žalos atvejį
                    </li>
                    <li>
                        C. Skundo atveju nustatinėjama mediko kaltė
                    </li>
                    <li>
                        D. Atlyginamos žalos dydis nėra ribojamas įstatymu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.24</b> Informacija apie paciento sveikatą gali būti renkama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tiek, kiek tai yra būtina pacientą gydyti
                    </li>
                    <li>
                        B. Tiek, kiek yra reikalinga gydančio gydytojo nuomone
                    </li>
                    <li>
                        C. Tiek, kiek yra reikalinga paciento nuomone
                    </li>
                    <li>
                        D. Tiek, kiek yra reikalinga pagal sveikatos priežiūros įstaigos vidaus darbo tvarką
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.25</b> Kokiu atveju informacijos apie pacientą, kai nėra rašytinio jo sutikimo, negalima atskleisti?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Įpėdiniams pagal įstatymą ar testamentą, kai pacientas yra miręs
                    </li>
                    <li>
                        B. Prašymą dėl žalos atlyginimo nagrinėjančiai pacientų žalos nustatymo komisijai
                    </li>
                    <li>
                        C. Sveikatos priežiūros įstaigos civilinę atsakomybę apdraudusiai draudimo įstaigai, įvykus draudiminiam įvykiui 
                    </li>
                    <li>
                        D. Policijai, gavusiai paciento šeimos nario prašymą išreikalauti informaciją apie paciento sveikatą iš sveikatos priežiūros įstaigos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.26</b> Kai yra nesutarimų tarp nepilnamečio ir jo tėvų ar globėjų, gydantis gydytojas, priimdamas sprendimą, turi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vykdyti nepilnamečio valią
                    </li>
                    <li>
                        B. Jo tėvų ar globėjų, kurie yra jo atstovai, valią
                    </li>
                    <li>
                        C. Sušaukti gydytojų konsiliumą ir priimti sprendimą atitinkantį paciento valią
                    </li>
                    <li>
                        D. Sušaukti gydytojų konsiliumą, kad išsiaiškintų ar nepilnamečio atstovų valia neprieštarauja paciento interesams
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.27</b> Kaip dažnai nuo licencijos išdavimo dienos asmuo privalo kreiptis į SAM dėl licencijos perregistravimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kas 2 metai
                    </li>
                    <li>
                        B. Kas 5 metai
                    </li>
                    <li>
                        C. Kas 3 metai
                    </li>
                    <li>
                        D. Kas 4 metai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.28</b> Pacientams padarytą žalą Lietuvoje atlygina:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydytojas
                    </li>
                    <li>
                        B. Sveikatos priežiūros įstaiga
                    </li>
                    <li>
                        C. Valstybė
                    </li>
                    <li>
                        D. Pacientų draudimo fondas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.36</b> Kurios iš šių informacijos rūšių pacientui nebūtina suteikti?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        D. Informaciją  apie gydytojo darbo patirtį (kelintą kartą atliks operaciją)
                    </li>
                    <li>
                        B. Informaciją apie gydytojo kvalifikaciją
                    </li>
                    <li>
                        C. Informaciją apie teikiamų sveikatos priežiūros paslaugų kainas
                    </li>
                    <li>
                        A. Informaciją apie paciento įtraukimą į mokymo procesą (kad jį apžiūrės medicinos studentas)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.39</b> Kokias  pagrindines visuomenės sveikatos priežiūros funkcijas atlieka Savivaldybės visuomenės sveikatos biurai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Visuomenės sveikatos stebėsenos (monitoringo)  ir sveikatos stiprinimo bei ugdymo
                    </li>
                    <li>
                        B. Visuomenės sveikatos saugos ir kontrolės
                    </li>
                    <li>
                        C. Visuomenės sveikatos stebėsenos (monitoringo)  ir sveikatos stiprinimo bei ugdymo, sveikatos saugos ir kontrolės 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.40</b> Kokias  pagrindines visuomenės sveikatos priežiūros funkcijas atlieka apkričių visuomenės sveikatos centrai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Visuomenės sveikatos stebėsenos (monitoringo), sveikatos saugos ir kontrolės
                    </li>
                    <li>
                        B. Visuomenės sveikatos stebėsenos (monitoringo), sveikatos saugos ir kontrolės, užkrečiamųjų ligų kontrolės, ekstremaliųjų situacijų valdymo 
                    </li>
                    <li>
                        C. Visuomenės sveikatos stebėsenos (monitoringo) , sveikatos saugos ir kontrolės, ekstremaliųjų situacijų valdymo 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.41</b> Gyventojų senėjimo rodiklis - tai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Iki 18 metų amžiaus žmonių dalis populiacijoje
                    </li>
                    <li>
                        B. 19-49 metų amžiaus žmonių dalis populiacijoje
                    </li>
                    <li>
                        C. 50 metų amžiaus ir vyresnių žmonių dalis populiacijoje
                    </li>
                    <li>
                        D. 65 metų amžiaus ir vyresnių žmonių dalis populiacijoje
                    </li>
                    <li>
                        E. 75 metų amžiaus ir vyresnių žmonių dalis populiacijoje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.42</b> Natūralaus gyventojų prieaugio rodiklis apskaičiuojamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gimstamumo rodiklis × mirtingumo rodiklis
                    </li>
                    <li>
                        B. Mirtingumo rodiklis ─ gimstamumo rodiklis
                    </li>
                    <li>
                        C. Gimstamumo rodiklis / mirtingumo rodiklis
                    </li>
                    <li>
                        D. Gimstamumo rodiklis ─ mirtingumo rodiklis
                    </li>
                    <li>
                        E. Gimstamumo rodiklis + mirtingumo rodiklis
                    </li>
                    <li>
                        F. Gimusiųjų skaičius ─ mirusiųjų skaičius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.43</b> Kuris iš žemiau išvardintų veiksmų nepriskiriamas sveikatos priežiūros valdymo decentralizacijai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dekoncentracija
                    </li>
                    <li>
                        B. Defliacija
                    </li>
                    <li>
                        C. Devoliucija
                    </li>
                    <li>
                        D. Delegavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.44</b> Kuris iš sveikatos priežiūros valdymo decentralizacijos apibrėžimų yra teisingas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Perleidimas sprendimų teisės iš aukštesnio vyriausybės lygio į žemesnį
                    </li>
                    <li>
                        B. Perleidimas sprendimų teisės iš žemesnio vyriausybės lygio į aukštesnį
                    </li>
                    <li>
                        C. Perleidimas sprendimų teisės iš nacionalinio į tarptautinį lygį
                    </li>
                    <li>
                        D. Perleidimas sprendimų teisės iš politinio lygio į visuomeninį lygį
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.45</b> Kuris iš žemiau išvardintų sveikatos priežiūros finansavimo modelių yra paremtas draudimo principu?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Semaškos
                    </li>
                    <li>
                        B. Bismarko
                    </li>
                    <li>
                        C. Beveridžo
                    </li>
                    <li>
                        D. Visi
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.46</b> Dirbančiojo Lietuvos Respublikos piliečio sveikatos draudimo įmoka yra: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 3% nuo Lietuvos Respublikos valstybinio socialinio draudimo įstatymo nustatyta tvarka asmeniui apskaičiuotų pajamų, nuo kurių skaičiuojamos socialinio draudimo įmokos
                    </li>
                    <li>
                        B. 6% nuo Lietuvos Respublikos valstybinio socialinio draudimo  įstatymo nustatyta tvarka asmeniui apskaičiuotų pajamų, nuo kurių skaičiuojamos socialinio draudimo įmokos
                    </li>
                    <li>
                        C. 9% nuo Lietuvos Respublikos valstybinio socialinio draudimo įstatymo nustatyta tvarka asmeniui apskaičiuotų pajamų, nuo kurių skaičiuojamos socialinio draudimo įmokos
                    </li>
                    <li>
                        D. 12% nuo Lietuvos Respublikos valstybinio socialinio draudimo įstatymo nustatyta tvarka asmeniui apskaičiuotų pajamų, nuo kurių skaičiuojamos socialinio draudimo įmokos
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>7.29</b> Kada kiekviena nurodyta liga sergantys ligoniai, kurių darbingumas sutrinka nepertraukiamai ilgiau ar visiškai, siunčiami į Neįgalumo ir darbingumo nustatymo tarnybą (NDNT)</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Skrandžio vėžys
                    </li>
                    <li>
                        2 - TBC
                    </li>
                    <li>
                        3 - Hipertoninė liga
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Ne vėliau kaip po 122 kalendorinių dienų
                    </li>
                    <li>
                        B. Ne vėliau kaip po 182 kalendorinių dienų
                    </li>
                    <li>
                        C. Ne vėliau kaip po 244 kalendorinių dienų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.30</b> Kokią visuomenės sveikatos dalį lemia</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Gyvensena
                    </li>
                    <li>
                        2 - Aplinka
                    </li>
                    <li>
                        3 - Medicinos pagalba
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 10%
                    </li>
                    <li>
                        B. 50%
                    </li>
                    <li>
                        C. 20%
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.31</b> Kuriam laikui išduodami nedarbingumo pažymėjimai kiekvienu nurodytu atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Nėštumo ir gimdymo atostogos
                    </li>
                    <li>
                        2 - Papildomoms atostogoms po komplikuoto gimdymo
                    </li>
                    <li>
                        3 - Dėl dirbtinio nėštumo nutraukimo
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 28 kalendorinėms dienoms
                    </li>
                    <li>
                        B. Ne ilgiau kaip 14 kalendorinių dienų
                    </li>
                    <li>
                        C. Ne ilgiau kaip 2 kalendorinėms dienoms
                    </li>
                    <li>
                        D. 126 kalendorinėms dienoms
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.32</b> Kuriuo būdu nustatomas kiekvienas nurodytas rodiklis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Bendras mirtingumas
                    </li>
                    <li>
                        2 - Letalumas
                    </li>
                    <li>
                        3 - Stacionarinis letalumas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. (Mirusiųjų skaičius × 1000) / (Gyventojų skaičius metų pradžioje)
                    </li>
                    <li>
                        B. (Mirusiujų skaičius × 1000) / (Vidutinis gyventojų skaičius )
                    </li>
                    <li>
                        C. (Mirusiųjų nuo atitinkamos ligos skaičius × 100) / (Sirgusiųjų ta liga skaičius)
                    </li>
                    <li>
                        D. (Mirusių stacionare skaičius × 100) / (Išvykusių iš stacionaro skaičius + mirusių stacionare skaičius)
                    </li>
                    <li>
                        E. (Mirusių stacionare skaičius × 100) / (Vidutinis gyventojų skaičius)
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>7.17 </b> Kokybės pacientų požiūriu vertinimo metodai yra: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pacientų anketinės apklausos
                    </li>
                    <li>
                        2. Pacientų interviu
                    </li>
                    <li>
                        3. Pacientų skundai
                    </li>
                    <li>
                        4. Medicininio audito išvados
                    </li>
                    <li>
                        5. Kokybės kainos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.18 </b> Valdymo kokybė vertinama pagal: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Medicininio audito išvadas
                    </li>
                    <li>
                        2. Pacientų skundus
                    </li>
                    <li>
                        3. Kokybės kainas
                    </li>
                    <li>
                        4. Pacientų anketines apklausas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.33 </b> Kuriais atvejais nedarbingumo pažymėjimai neišduodami:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Darbingiems asmenims jų sveikatos tikrinimo laikotarpiu
                    </li>
                    <li>
                        2. Sužalojusiems savo arba savo globotinių sveikatą, kad išvengtų darbo ar kitokių pareigų, arba apsimetusiems ligoniais asmenims (simuliantams)
                    </li>
                    <li>
                        3. Asmenims, kurių laikinojo nedarbingumo tiesioginė priežastis yra alkoholio, toksinių ar narkotinių medžiagų vartojimas
                    </li>
                    <li>
                        4. Sužalojusiems savo sveikatą sergantiems psichinėmis ligomis 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.34 </b> Kokie yra stacionaro veiklos rodikliai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Lovos funkcionavimo rodiklis
                    </li>
                    <li>
                        2. Vidutinis ligonio gulėjimo laikas
                    </li>
                    <li>
                        3. Lovos apyvarta
                    </li>
                    <li>
                        4. Ilgalaikis ligonių stebėjimas pagal ligų klases 1000-iui gyventojų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.35 </b> Ką apima asmens sveikatos priežiūra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Prevencinę medicinos pagalbą
                    </li>
                    <li>
                        2. Atstatomąją (gydomąją) medicinos pagalbą
                    </li>
                    <li>
                        3. Medicininę reabilitaciją, slaugą, socialines paslaugas
                    </li>
                    <li>
                        4. Asmens sveikatos ekspertizę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.37 </b> Pacientui pageidaujant, turi būti pateikta jo ligos istorija ar kiti medicininiai dokumentai, išskyrus atvejus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kai tai iš esmės gali pakenkti paciento sveikatai
                    </li>
                    <li>
                        2. Kai tai gali pakenkti jo nusiteikimui pasveikti
                    </li>
                    <li>
                        3. Kai tai gali sukelti pavojų paciento gyvybei
                    </li>
                    <li>
                        4. Kai pacientas žada skųstis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>7.38 </b> Valstybinio socialinio draudimo išlaidos yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pensijų socialinis draudimas
                    </li>
                    <li>
                        2. Ligos ir motinystės socialinis draudimas
                    </li>
                    <li>
                        3. Nedarbo socialinis draudimas
                    </li>
                    <li>
                        4. Labdara ligoninėms
                    </li>
            </ul>
        </li>
    </ul>


<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>7.1 - 

                D
            </td>
            <td>7.2 - 

                D
            </td>
            <td>7.3 - 

                B
            </td>
            <td>7.4 - 

                B
            </td>
            <td>7.5 - 

                B
            </td>
            <td>7.6 - 

                D
            </td>
            <td>7.7 - 

                A
            </td>
            <td>7.8 - 

                C
            </td>
                </tr><tr>
            <td>7.9 - 

                C
            </td>
            <td>7.10 - 

                C
            </td>
            <td>7.11 - 

                C
            </td>
            <td>7.12 - 

                A
            </td>
            <td>7.13 - 

                A
            </td>
            <td>7.14 - 

                A
            </td>
            <td>7.15 - 

                B
            </td>
            <td>7.16 - 

                B
            </td>
                </tr><tr>
            <td>7.19 - 

                D
            </td>
            <td>7.20 - 

                B
            </td>
            <td>7.21 - 

                C
            </td>
            <td>7.22 - 

                C
            </td>
            <td>7.23 - 

                B
            </td>
            <td>7.24 - 

                A
            </td>
            <td>7.25 - 

                D
            </td>
            <td>7.26 - 

                D
            </td>
                </tr><tr>
            <td>7.27 - 

                B
            </td>
            <td>7.28 - 

                B
            </td>
            <td>7.36 - 

                D
            </td>
            <td>7.39 - 

                A
            </td>
            <td>7.40 - 

                B
            </td>
            <td>7.41 - 

                D
            </td>
            <td>7.42 - 

                D
            </td>
            <td>7.43 - 

                B
            </td>
                </tr><tr>
            <td>7.44 - 

                A
            </td>
            <td>7.45 - 

                B
            </td>
            <td>7.46 - 

                C
            </td>
                </tr><tr>
            <td>7.29
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>7.30
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>7.31
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - C </li>
            </ul></td>
            <td>7.32
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - D </li>
            </ul></td>
                </tr><tr>
            <td>7.17
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>7.18
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>7.33
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>7.34
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>7.35
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>7.37
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>7.38
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>

</tr></tbody></table></div>