<div class="Centre Kategorija">Teismo medicina</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>27.1</b> Kas turi daryti teismo medicininę ekspertizę baudžiamoje byloje, kurioje kaltinami medicinos darbuotojai už profesinius nusikaltimus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tik aukštos kvalifikacijos teismo medicinos ekspertas
                    </li>
                    <li>
                        B. Kompetetingų gydytojų specialistų komisija, vadovaujama kvalifikuoto teismo medicinos eksperto
                    </li>
                    <li>
                        C. Bet kuris teismo medicinos ekspertas
                    </li>
                    <li>
                        D. Vyriausias respublikos teismo medicinos ekspertas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.2</b> Kaip turi būti vertinamas atvejis, kai ligonis mirė narkozės metu, nors narkozė buvo daroma pagal visas taisykles:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nelaimingas atsitikimas
                    </li>
                    <li>
                        B. Gydytojo klaida
                    </li>
                    <li>
                        C. Neatsargus veiksmas
                    </li>
                    <li>
                        D. Nusikaltimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.3</b> Kaip turi būti vertinamas atvejis, kai, nepatikrinus ant flakono užrašo, vietoje vienų vaistų įšvirkščiami kiti, ir dėl to būna blogos pasekmės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydytojo klaida 
                    </li>
                    <li>
                        B. Nelaimingas atsitikimas
                    </li>
                    <li>
                        C. Neatsargus ir nusikalstamas veiksmas
                    </li>
                    <li>
                        D. Žmogžudystė dėl neatsargumo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.4</b> Kuria praktika neturi teisės užsiiminėti gydytojo padėjėjas (medicinos felčeris):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rašyti stipriai veikiančių vaistų receptus
                    </li>
                    <li>
                        B. Daryti intravenines injekcijas
                    </li>
                    <li>
                        C. Pildyti ligos istorijas
                    </li>
                    <li>
                        D. Išduoti nedarbingumo lapelius
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.5</b> Kuriuo atveju atsiranda ilgalaikio spaudimo sindromas – trauminė toksikozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ilgai spaudžiant krūtinę ir pilvą
                    </li>
                    <li>
                        B. Ilgai spaudžiant galūnių raumenis
                    </li>
                    <li>
                        C. Galūnių trauminės amputacijos metu
                    </li>
                    <li>
                        D. Dėl daugybinių ilgųjų kaulų lūžių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.6</b> Kaip vadinamas kaukolės skliauto lūžimas, kai išmušta mažesnė negu 1 cm² skeveldra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Įspaustinis
                    </li>
                    <li>
                        B. Skylinis
                    </li>
                    <li>
                        C. Terasinis
                    </li>
                    <li>
                        D. Skeveldrinis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.7</b> Kaip turi būti kvalifikuojama į pilvo ertmę atsiverianti žaizda, kurios ilgis – 2 cm, kraštai lygūs, vienas galas smailas, o kitas bukas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pjautinė
                    </li>
                    <li>
                        B. Durtinė
                    </li>
                    <li>
                        C. Durtinė-pjautinė
                    </li>
                    <li>
                        D. Muštinė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.8</b> Kuri iš nurodytų žaizdų būdinga žaizdai, padarytai paties nukentėjusio ranka:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Viena paviršinė žaizda
                    </li>
                    <li>
                        B. Viena gili žaizda
                    </li>
                    <li>
                        C. Viena gili žaizda su keliais negiliais įpjovimais pakraščiuose ar galuose
                    </li>
                    <li>
                        D. Kelios įvairių kūno vietų paviršinės žaizdos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.9</b> Kaip kvalifikuojamas nusikaltimas, kurio metu motina nužudė savo kūdikį, bet jau ne naujagimį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tyčinis nužudymas 
                    </li>
                    <li>
                        B. Vaikžudystė, motinos tyčinis nužudymas savo naujagimio 
                    </li>
                    <li>
                        C. Nužudymas sunkinančiomis aplinkybėmis 
                    </li>
                    <li>
                        D. Nužudymas labai susijaudinus 
                    </li>
                    <li>
                        E. Nužudymas dėl neatsargumo 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.10</b> Koks yra gimusio gyvo naujagimio virkštelės atsiskyrimo vietoje mikroskopinis vaizdas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Audinių pabrinkimas
                    </li>
                    <li>
                        B. Leukocitų infiltracija, virkštelės žiedo pabrinkimas ir kraujosruvos
                    </li>
                    <li>
                        C. Didelė kapiliarų pilnakraujystė
                    </li>
                    <li>
                        D. Eritrocitai kraujagyslėse deformuoti, aplinkui smulkūs ekstravazatai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.11</b> Kada pasišalina naujagimio išmatos (mekonijus):</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirmos paros gale
                    </li>
                    <li>
                        B. Antros paros gale
                    </li>
                    <li>
                        C. 3–4 parą
                    </li>
                    <li>
                        D. Po 4 parų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.12</b> Kada nuo kūdikio bambos nukrinta virkštelės likutis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Antros paros gale
                    </li>
                    <li>
                        B. 2–3 parą
                    </li>
                    <li>
                        C. 5–7 parą
                    </li>
                    <li>
                        D. Po dviejų savaičių
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.13</b> Per kiek laiko po gimimo išryškėja naujagimio virkštelės demarkacinis žiedas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Per 3–4 val.
                    </li>
                    <li>
                        B. Per 6–8 val.
                    </li>
                    <li>
                        C. Pirmos paros pabaigoje
                    </li>
                    <li>
                        D. Antros paros pabaigoje
                    </li>
                    <li>
                        E. Trečios paros pabaigoje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.14</b> Kuris požymis reiškia biologinę mirtį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pulso nebuvimas
                    </li>
                    <li>
                        B. Ragenos reflekso išnykimas
                    </li>
                    <li>
                        C. Lavondėmių atsiradimas
                    </li>
                    <li>
                        D. Kvėpavimo išnykimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.15</b> Kada dažniausiai įvyksta terasiniai kaukolės skliauto lūžimai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Griūvant ant kieto pagrindo
                    </li>
                    <li>
                        B. Veikiant kaukolės skliautą kietu buku daiktu smailiu kampu
                    </li>
                    <li>
                        C. Krentant iš aukštumos ant galvos
                    </li>
                    <li>
                        D. Veikiant buku riboto paviršiaus daiktu
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>27.16</b> Kuris požymis būdingas kiekvienai nurodytai mechaninei asfiksijai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pasmaugimas rankomis
                    </li>
                    <li>
                        2 - Prigėrimas
                    </li>
                    <li>
                        3 - Pasikorimas
                    </li>
                    <li>
                        4 - Krūtinės ir pilvo suspaudimas
                    </li>
                    <li>
                        5 - Pasmaugimas kilpa
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Horizontali stranguliacinė vaga
                    </li>
                    <li>
                        B. Įstriža stranguliacinė vaga
                    </li>
                    <li>
                        C. Kaklo nubrozdijimai ir kraujosruvos
                    </li>
                    <li>
                        D. Veido odos taškinės kraujosruvos
                    </li>
                    <li>
                        E. Smulkios putos apie šnerves ir burną
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.17</b> Kuris požymis būdingas kiekvienai nurodytai transporto traumai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Smūgis riedančio automobilio priekine dalimi
                    </li>
                    <li>
                        2 - Geležinkelio trauma
                    </li>
                    <li>
                        3 - Pervažiavimas automobilio ratais
                    </li>
                    <li>
                        4 - Trauma automobilio kabinoje
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kūno padalijimas
                    </li>
                    <li>
                        B. „Bamperiniai“ lūžimai
                    </li>
                    <li>
                        C. Rato protektoriaus atspaudas
                    </li>
                    <li>
                        D. Kaklinės stuburo dalies lūžimai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.18</b> Kuris požymis būdingas kiekvienai nurodytos rūšies žaizdai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Muštinė žaizda
                    </li>
                    <li>
                        2 - Kirstinė žaizda
                    </li>
                    <li>
                        3 - Pjautinė žaizda
                    </li>
                    <li>
                        4 - Plėštinė žaizda
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kaulo pažeidimas
                    </li>
                    <li>
                        B. Audinių tilteliai žaizdos galuose
                    </li>
                    <li>
                        C. Lygūs kraštai ir smailūs galai
                    </li>
                    <li>
                        D. Įvairios formos žaizdos su nenubrozdintais kraštais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.19</b> Kuris požymis būdingas kiekvienam nurodytam apsinuodijimui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Apsinuodijimas etanoliu (etilo alkoholiu)
                    </li>
                    <li>
                        2 - Apsinuodijimas dichloretanu
                    </li>
                    <li>
                        3 - Apsinuodijimas acto rūgštimi
                    </li>
                    <li>
                        4 - Apsinuodijimas strichninu
                    </li>
                    <li>
                        5 - Apsinuodijimas nuodingąja nuokana
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Skrandžio ir žarnų turinys kvepia džiovintais grybais
                    </li>
                    <li>
                        B. Gelsvas odos atspalvis
                    </li>
                    <li>
                        C. Subendokardinės kraujosruvos
                    </li>
                    <li>
                        D. Greitas ir stiprus lavoninis raumenų sustingimas
                    </li>
                    <li>
                        E. Šlapimo pūslė pilna šlapimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.20</b> Kuris požymis būdingas kiekvienam nurodytam plaukui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Plauko šerdis plona
                    </li>
                    <li>
                        2 - Plauko šerdis stora
                    </li>
                    <li>
                        3 - Kutikulos ląstelių kraštai dantyti
                    </li>
                    <li>
                        4 - Šviesiai rudos spalvos pigmentas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Žmogaus plaukas
                    </li>
                    <li>
                        B. Gyvulio plaukas
                    </li>
                    <li>
                        C. Gali būti ir žmogaus, ir gyvulio
                    </li>
                    <li>
                        D. Nei žmogaus, nei gyvulio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.21</b> Kuris požymis būdingas kiekvienam nurodytam prigėrimo mechanizmui ir staigiai mirčiai vandenyje</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Asfiksinis prigėrimas
                    </li>
                    <li>
                        2 - Tikrasis prigėrimas
                    </li>
                    <li>
                        3 - Staigi mirtis vandenyje
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sausi oringi plaučiai
                    </li>
                    <li>
                        B. Vandeningi sunkūs plaučiai
                    </li>
                    <li>
                        C. Neigiami fitoplanktono tyrimo duomenys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.22</b> Kuris požymis būdingas kiekvieno nurodyto šūvio atstumo atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Šauta iš arti
                    </li>
                    <li>
                        2 - Šauta iš toli
                    </li>
                    <li>
                        3 - Šauta įrėmus ginklą
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Papildomo šūvio veiksniai
                    </li>
                    <li>
                        B. Kontūzinis žiedas ir audinio defektas be papildomo šūvio veiksnių
                    </li>
                    <li>
                        C. Žaizdos kraštų įtrūkimai, o papildomi šūvio veiksniai kanale
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.23</b> Kuris sužalojimas būdingas kiekvienos nurodytos aplinkybės atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Muštinė galvos žaizda
                    </li>
                    <li>
                        2 - Daugybiniai kaulų lūžimai
                    </li>
                    <li>
                        3 - Vidaus organų sukrėtimo požymiai
                    </li>
                    <li>
                        4 - Galvos smegenų sumušimas
                    </li>
                    <li>
                        5 - Įkaltiniai šlaunikaulių lūžimai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Sužalojimas nugriuvus ant kieto paviršiaus
                    </li>
                    <li>
                        B. Sužalojimas nukritus iš aukštumos
                    </li>
                    <li>
                        C. Sužalojimai padaryti tiek nugriuvus, tiek nukritus iš aukštumos
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>27.24 </b> Kurios sąlygos turi įtakos nuodo veikimui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuodo savybės (dozė, tirpumas, priemaišos)
                    </li>
                    <li>
                        2. Nuodo patekimo būdai
                    </li>
                    <li>
                        3. Organizmo būklė apsinuodijimo metu
                    </li>
                    <li>
                        4. Išorinės aplinkos sąlygos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.25 </b> Dėl kurių priežasčių apsinuodijimų atvejais teismo cheminio tyrimo rezultatai gali būti neigiami:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuodas cheminiais metodais nenustatomas
                    </li>
                    <li>
                        2. Nuodas pašalintas dar gyvam žmogui 
                    </li>
                    <li>
                        3. Nuodas suyra lavone
                    </li>
                    <li>
                        4. Nuodą suardo gyvo žmogaus fermentai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.26 </b> Kuriais atvejais cheminio tyrimo metu gali būti rasta nuodų, nesant apsinuodijimo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Nuodas pateko nuo nešvarių instrumentų
                    </li>
                    <li>
                        2. Nuodas atsirado neteisingai darant teismo cheminį tyrimą
                    </li>
                    <li>
                        3. Nuodinga medžiaga pateko į organizmą kaip vaistas
                    </li>
                    <li>
                        4. Cheminėms reakcijoms panaudoti nešvarūs reaktyvai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.27 </b> Kas turi būti nustatoma tiriant panašią į kraują dėmę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ar tai kraujo dėmė
                    </li>
                    <li>
                        2. Kraujo rūšinė priklausomybė
                    </li>
                    <li>
                        3. Kraujo grupė
                    </li>
                    <li>
                        4. Iš kurios kūno vietos ištekėjo kraujas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.28 </b> Kokiais metodais galima nustatyti spermą dėmėje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mikroliuminescentiniu tyrimu
                    </li>
                    <li>
                        2. Floranso reakcija
                    </li>
                    <li>
                        3. Dažyto tepinėlio mikroskopiniu tyrimu
                    </li>
                    <li>
                        4. Dėmės švitinimas ultravioletiniais spinduliais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.29 </b> Kurie požymiai yra būdingi stranguliacinei asfiksijai, suspaudus kaklą rankomis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skystas ir tamsus kraujas
                    </li>
                    <li>
                        2. Vidaus organų pilnakraujystė
                    </li>
                    <li>
                        3. Kaklo šonų odos pusmėnulio formos nubrozdijimai
                    </li>
                    <li>
                        4. Pilna šlapimo pūslė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.30 </b> Kokie yra prigėrimo požymiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Iš burnos ir nosies ištekėjusi smulki puta
                    </li>
                    <li>
                        2. Bendrųjų miego arterijų intimos įtrūkimas
                    </li>
                    <li>
                        3. Paltaufo (Raskazovo-Lukomskio) dėmės plaučių paviršiuje
                    </li>
                    <li>
                        4. Sukamųjų galvos raumenų kraujosruvos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.31 </b> Kurie požymiai būdingi pasmaugimui kilpa:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Smulkios vokų kraujosruvos
                    </li>
                    <li>
                        2. Subepikardinės taškinės kraujosruvos
                    </li>
                    <li>
                        3. Kaklo stranguliacinė vaga
                    </li>
                    <li>
                        4. Paliežuvinio kaulo ir gerklų kremzlių lūžimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.32 </b> Kurie požymiai būdingi pasmaugimui rankomis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Neryški kaklo stranguliacinė vaga
                    </li>
                    <li>
                        2. Skystis pleištakaulio antyje
                    </li>
                    <li>
                        3. Dėmelių pavidalo kraujosruvos po plaučių krūtinplėve
                    </li>
                    <li>
                        4. Apvalios ar ovalinės formos kaklo kraujosruvos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.33 </b> Kurie išorinių ir vidinių sužalojimų požymiai būdingi nukritus iš aukštumos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išoriniai sužalojimai yra tik vienoje kūno pusėje
                    </li>
                    <li>
                        2. Išoriniai sužalojimai simetriški
                    </li>
                    <li>
                        3. Išorinių sužalojimų pobūdis neatitinka vidiniams
                    </li>
                    <li>
                        4. Galvos smegenų kontuzija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.34 </b> Kurie sužalojimai būdingi geležinkelio traumai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Įkaltiniai šlaunikaulių lūžimai
                    </li>
                    <li>
                        2. Kūno dalių amputacijos
                    </li>
                    <li>
                        3. Skeveldrinis kaukolės lūžimas
                    </li>
                    <li>
                        4. Suspaudimo ir nubrozdinimo juostos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.35 </b> Kurios mirties priežastys yra smurtinės:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Mirtis nuo sepsio, atsiradusio dėl stuburo ir nugaros smegenų sužalojimo
                    </li>
                    <li>
                        2. Mirtis nuo lėtinio alkoholizmo
                    </li>
                    <li>
                        3. Mirtis nuo ūminio apsinuodijimo etilo alkoholiu
                    </li>
                    <li>
                        4. Mirtis nuo vidurių šiltinės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.36 </b> Kuriais atvejais reikalingas lavono teismo medicininis tyrimas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Smurtinės mirties atveju
                    </li>
                    <li>
                        2. Staigios mirties namuose nuo ūminės nenustatytos ligos atveju
                    </li>
                    <li>
                        3. Smurtinės mirties įtarimo atveju
                    </li>
                    <li>
                        4. Staigios mirties gatvėje nuo lėtinio susirgimo atveju
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>27.37 </b> Kuriais atvejais skiriama gyvų žmonių teismo medicinos ekspertizė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sužalojimų atvejais, kai reikia nustatyti kūno sužalojimo juridinę kvalifikaciją ir atsakyti į kitus, susijusius su sužalojimais klausimus
                    </li>
                    <li>
                        2. Lytinių nusikaltimų atvejais
                    </li>
                    <li>
                        3. Atsakyti į klausimus, susijusius su tiriamojo asmens lytinėmis būklėmis
                    </li>
                    <li>
                        4. Nustatyti asmens psichikos būseną
                    </li>
            </ul>
        </li>
    </ul>


<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>27.1 - 

                B
            </td>
            <td>27.2 - 

                A
            </td>
            <td>27.3 - 

                C
            </td>
            <td>27.4 - 

                A
            </td>
            <td>27.5 - 

                B
            </td>
            <td>27.6 - 

                B
            </td>
            <td>27.7 - 

                C
            </td>
            <td>27.8 - 

                C
            </td>
                </tr><tr>
            <td>27.9 - 

                A
            </td>
            <td>27.10 - 

                B
            </td>
            <td>27.11 - 

                B
            </td>
            <td>27.12 - 

                C
            </td>
            <td>27.13 - 

                C
            </td>
            <td>27.14 - 

                C
            </td>
            <td>27.15 - 

                D
            </td>
                </tr><tr>
            <td>27.16
            <ul>
                <li>1 - C </li>
                <li>2 - E </li>
                <li>3 - B </li>
                <li>4 - D </li>
                <li>5 - A </li>
            </ul></td>
            <td>27.17
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>27.18
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - D </li>
            </ul></td>
            <td>27.19
            <ul>
                <li>1 - E </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - D </li>
                <li>5 - D </li>
            </ul></td>
            <td>27.20
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>27.21
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
            </ul></td>
            <td>27.22
            <ul>
                <li>1 - A </li>
                <li>2 - B </li>
                <li>3 - C </li>
            </ul></td>
            <td>27.23
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - B </li>
                <li>4 - C </li>
                <li>5 - B </li>
            </ul></td>
                </tr><tr>
            <td>27.24
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>27.25
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>27.26
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>27.27
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>27.28
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>27.29
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>27.30
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>27.31
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>27.32
            <ul>
                <li>4</li>
            </ul></td>
            <td>27.33
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>27.34
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>27.35
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>27.36
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>27.37
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>

</tr></tbody></table></div>