<div class="Centre Kategorija">Toksikologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>2.1</b> Kas yra rezorbcija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuodų metabolizmo būdas
                    </li>
                    <li>
                        B. Nuodų pasiskirstymo organizme tūris
                    </li>
                    <li>
                        C. Procesas, kurio metu išorėje esantys nuodai patenka į kūną
                    </li>
                    <li>
                        D. Nuodų šalinimas pro inkstus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.2</b> Kuris priešnuodis turi būti skiriamas apsinuodijus metanoliu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gliukozės tirpalas
                    </li>
                    <li>
                        B. Amilnitritas
                    </li>
                    <li>
                        C. Aktyvintoji anglis
                    </li>
                    <li>
                        D. Etanolis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.3</b> Ką reikėtų skirti žmogui, kuriam dėl apsinuodijimo klonidinu atsirado hipotenzija ir bradikardija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Duoti gerti daug vandens
                    </li>
                    <li>
                        B. Skirti vidurius laisvinančių vaistų
                    </li>
                    <li>
                        C. Skirti atropino ir lašinti kristaloidų tirpalų į veną
                    </li>
                    <li>
                        D. Stebėti bendrąją būklę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.4</b> Kuriuo atveju negalima plauti skrandžio pro zondą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kai vėmimo masėse yra nedaug kraujo priemaišų
                    </li>
                    <li>
                        B. Kai planuojama skirti aktyvintosios anglies
                    </li>
                    <li>
                        C. Išgėrus koncentruoto šarmo
                    </li>
                    <li>
                        D. Komos metu intubuotam pacientui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.5</b> Kokie metabolitai susidaro etanolio metabolizmo metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Oksalo rūgštis
                    </li>
                    <li>
                        B. Iš pradžių acetaldehidas ir acto rūgštis, vėliau anglies dioksidas ir vanduo
                    </li>
                    <li>
                        C. Formaldehidas
                    </li>
                    <li>
                        D. Skruzdžių rūgštis
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>2.6</b> Kuris priešnuodis turi būti skiriamas kiekvieno nurodyto apsinuodijimo atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Natrio nitritas
                    </li>
                    <li>
                        2 - Izoniazidas
                    </li>
                    <li>
                        3 - Etilenglikolis
                    </li>
                    <li>
                        4 - Fosforo organiniai junginiai
                    </li>
                    <li>
                        5 - Opioidai
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Piridoksinas
                    </li>
                    <li>
                        B. Etanolis
                    </li>
                    <li>
                        C. Naloksonas
                    </li>
                    <li>
                        D. Metileno mėlynasis
                    </li>
                    <li>
                        E. Atropinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.7</b> Kuris simptomų derinys yra būdingas kiekvienam nurodytam apsinuodijimui</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Fosforo organiniai junginiai
                    </li>
                    <li>
                        2 - Metanolis
                    </li>
                    <li>
                        3 - Acto rūgštis
                    </li>
                    <li>
                        4 - Smalkės
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Pykinimas, vėmimas, galvos svaigimas, regėjimo sutrikimai, akių dugno pakitimai, ryški metabolinė acidozė, hipovolemija
                    </li>
                    <li>
                        B. Pykinimas, vėmimas, galvos svaigimas, burnos skausmas, deginantis skausmas už krūtinkaulio, cheminis burnos ertmės nudegimas, acidozė, hemolizė
                    </li>
                    <li>
                        C. Pykinimas, pulsuojantis galvos skausmas, svaigimas, vangumas, mieguistumas, odos rausvumas, karboksihemoglobinemija
                    </li>
                    <li>
                        D. Pykinimas, galvos svaigimas, bendras silpnumas, hipersalivacija, sloga, ašarojimas, bronchorėja, pilvo skausmai, dusulys
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>2.8 </b> Kuriais nuodais ar vaistais sunkiai apsinuodijus yra indikacija skubiai hemodializei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Amitriptilinas
                    </li>
                    <li>
                        2. Metanolis
                    </li>
                    <li>
                        3. Smalkės
                    </li>
                    <li>
                        4. Etilenglikolis
                    </li>
                    <li>
                        5. Aminazinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.9 </b> Kokie gydymo metodai turi būti taikomi apsinuodijus metanoliu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skrandžio plovimas
                    </li>
                    <li>
                        2. Metabolinės acidozės gydymas
                    </li>
                    <li>
                        3. Etanolio skyrimas
                    </li>
                    <li>
                        4. Folio rūgšties skyrimas
                    </li>
                    <li>
                        5. Hemodializė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.10 </b> Kokie gydymo metodai turi būti taikomi apsinuodijus etilenglikoliu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Etanolio skyrimas
                    </li>
                    <li>
                        2. Hemodializė pirmąją parą
                    </li>
                    <li>
                        3. Piridoksino ir tiamino skyrimas
                    </li>
                    <li>
                        4. Metileno mėlynojo paskyrimas
                    </li>
                    <li>
                        5. Atropino skyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.11 </b> Kokia apsinuodijimo sieros vandeniliu patogenezė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Susidaro methemoglobinas
                    </li>
                    <li>
                        2. Sukelia ūminį inkstų nepakankamumą
                    </li>
                    <li>
                        3. Stiprus vietinis deginantis veikimas
                    </li>
                    <li>
                        4. Blokuoja audinių kvėpavimo fermentą citochromoksidazę
                    </li>
                    <li>
                        5. Sukelia eritrocitų hemolizę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.12 </b> Kurie iš paminėtų reiškinių būdingi apsinuodijus blyškiąja (žalsvąja) musmire:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Slaptasis (latentinis) periodas 6–48 val.
                    </li>
                    <li>
                        2. Slaptasis (latentinis) periodas 1–2 val.
                    </li>
                    <li>
                        3. Toksinis kepenų pakenkimas
                    </li>
                    <li>
                        4. Eritrocitų hemolizė
                    </li>
                    <li>
                        5. Burnos gleivinės sudirginimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.13 </b> Kuris iš minėtų nuodų metabolizmo variantų yra letalios biotransformacijos (letalios sintezės) pavyzdys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Izopropilo alkoholio metabolizmas į acetoną
                    </li>
                    <li>
                        2. Etanolio metabolizmas į acetaldehidą ir acto rūgštį
                    </li>
                    <li>
                        3. Acetaldehido metabolizmas į anglies dioksidą ir vandenį
                    </li>
                    <li>
                        4. Metanolio metabolizmas į formaldehidą ir skruzdžių rūgštį
                    </li>
                    <li>
                        5. Anglies monoksido nemetabolizmas į jokias kitas medžiagas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.14 </b> Kurie yra fosforo organinių junginių priešnuodžiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Etanolis
                    </li>
                    <li>
                        2. Atropinas
                    </li>
                    <li>
                        3. Deguonis
                    </li>
                    <li>
                        4. Cholinesterazės reaktivikliai
                    </li>
                    <li>
                        5. Piridoksinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.15 </b> Kurie priešnuodžiai turi būti skiriami apsinuodijus neaiškiu (ar nežinomu) nuodu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Atropinas
                    </li>
                    <li>
                        2. Dimerkaptopropano sulfonatas
                    </li>
                    <li>
                        3. Naloksonas
                    </li>
                    <li>
                        4. Neskirti jokio priešnuodžio
                    </li>
                    <li>
                        5. Skirti įvairių priešnuodžių kas 30 min. ir laukti efekto
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>2.16</b> Gatvėje rastas nesąmoningas apie 50 metų vyras. Stacionarizuotas intensyviosios terapijos skyriuje. Apžiūrėjęs ligonį ir įvertinęs objektyvaus tyrimo duomenis, gydytojas konstatavo alkoholinę intoksikaciją ir pradėjo intensyvų kompleksinį gydymą. Ligonio būklė visiškai negerėjo ir po tam tikro laiko gydytojas suabejojo diagnozės tikslumu.Po kurio laiko gydytojas suabejojo:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Po 10 valandų
                    </li>
                    <li>
                        B. Po 8 valandų
                    </li>
                    <li>
                        C. Po 1 valandos
                    </li>
                    <li>
                        D. Po 3 valandų
                    </li>
                    <li>
                        E. Po 12 valandų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.17</b> Gatvėje rastas nesąmoningas apie 50 metų vyras. Stacionarizuotas intensyviosios terapijos skyriuje. Apžiūrėjęs ligonį ir įvertinęs objektyvaus tyrimo duomenis, gydytojas konstatavo alkoholinę intoksikaciją ir pradėjo intensyvų kompleksinį gydymą. Ligonio būklė visiškai negerėjo ir po tam tikro laiko gydytojas suabejojo diagnozės tikslumu.Jeigu tai ne alkoholinė intoksikacija, kokią ligą ar apsinuodijimą pirmiausia galima įtarti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apsinuodijimas methemoglobiną sudarančiais nuodais
                    </li>
                    <li>
                        B. Apsinuodijimas sunkiųjų metalų junginiais
                    </li>
                    <li>
                        C. Apsinuodijimas grybais
                    </li>
                    <li>
                        D. Apsinuodijimas metanoliu ar etilenglikoliu, psichotropiniais vaistais, galvos smegenų trauma, ūminis galvos smegenų kraujotakos sutrikimas, hipoglikeminė koma.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.18</b> Sveikas 40 metų vyras kelias dienas iš eilės piktnaudžiavo alkoholiu. Gėrimus pirko netoliese esančiame turguje. Po dviejų valandų nuo paskutinio išgėrimo atsirado intensyvūs galvos skausmai, vėmimas ir psichomotorinis sujaudinimas. Stacionarizuotas intensyviosios terapijos skyriuje. Ligonis skundėsi pablogėjusiu matymu. Obj.: mieguistas, sprando raumenys rigidiški, neurologinės židininės simptomatikos nėra, vyzdžiai išsiplėtę, daiktus mato lyg pro rūką, ŠSD – 110 k/min., AKS – 105/70 mmHg, liežuvis rausvas, apveltas baltu apnašu. Kokia šio apsinuodijimo preliminari diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apsinuodijimas etanoliu
                    </li>
                    <li>
                        B. Apsinuodijimas etanoliu, kuriame galėjo būti fosforo organinių junginių
                    </li>
                    <li>
                        C. Apsinuodijimas metanoliu
                    </li>
                    <li>
                        D. Apsinuodijimas benzodiazepinais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.19</b> Sveikas 40 metų vyras kelias dienas iš eilės piktnaudžiavo alkoholiu. Gėrimus pirko netoliese esančiame turguje. Po dviejų valandų nuo paskutinio išgėrimo atsirado intensyvūs galvos skausmai, vėmimas ir psichomotorinis sujaudinimas. Stacionarizuotas intensyviosios terapijos skyriuje. Ligonis skundėsi pablogėjusiu matymu. Obj.: mieguistas, sprando raumenys rigidiški, neurologinės židininės simptomatikos nėra, vyzdžiai išsiplėtę, daiktus mato lyg pro rūką, ŠSD – 110 k/min., AKS – 105/70 mmHg, liežuvis rausvas, apveltas baltu apnašu.Kurie tyrimai patikslintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bendras kraujo tyrimas ir cholesterolio kiekis kraujyje
                    </li>
                    <li>
                        B. Bendras kraujo tyrimas ir baltymų frakcijos
                    </li>
                    <li>
                        C. Elektrolitų ir cukraus kiekio kraujyje ištyrimas
                    </li>
                    <li>
                        D. Šarmų-rūgščių ir akių dugno ištyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.20</b> Vairuotojas, remontuodamas automobilį, atsitiktinai išgėrė apie 50 ml automobilių aušinimo skysčio (antifrizo) ir nedelsdamas kreipėsi į ligoninės budintį gydytoją.Kokia turi būti gydytojo taktika šios situacijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirti atropino, skatinti diurezę
                    </li>
                    <li>
                        B. Duoti gerti daug vandens, sukelti vėmimą, skirti vidurių laisvinamųjų vaistų
                    </li>
                    <li>
                        C. Plauti skrandį pro zondą, duoti išgerti etanolio, gydyti metabolinę acidozę, atlikti hemodializę.
                    </li>
                    <li>
                        D. Skirti dimerkaptopropano sulfonato, taikyti forsuotą diurezę, iškviesti okulistą konsultacijai.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.21</b> Vairuotojas, remontuodamas automobilį, atsitiktinai išgėrė apie 50 ml automobilių aušinimo skysčio (antifrizo) ir nedelsdamas kreipėsi į ligoninės budintį gydytoją. Kokią komplikaciją, ypač jeigu ligonis nebus gydomas tinkamai ir laiku, gali sukelti šis nuodas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Smegenų kraujotakos sutrikimą
                    </li>
                    <li>
                        B. Miokardo infarktą
                    </li>
                    <li>
                        C. Ūminį inkstų nepakankamumą
                    </li>
                    <li>
                        D. Hemolizę
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.22</b> Įtariant apsinuodijimą salietra į ligoninę atvežtas apie 40 metų vyras. Koks tyrimas kartu su anamnezės bei objektyvaus tyrimo duomenimis padėtų įvertinti apsinuodijimo sunkumo laipsnį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Karboksihemoglobino koncentracija kraujyje 
                    </li>
                    <li>
                        B. Alkoholio koncentracija kraujyje
                    </li>
                    <li>
                        C. Methemoglobino koncentracija kraujyje
                    </li>
                    <li>
                        D. Laisvo hemoglobino koncentracija kraujyje
                    </li>
                    <li>
                        E. Aminotransferazių koncentracija kraujyje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.23</b> Įtariant apsinuodijimą salietra į ligoninę atvežtas apie 40 metų vyras.Koks kiekis nustatyto nuodo atitiktų sunkaus laipsnio apsinuodijimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 60 proc.
                    </li>
                    <li>
                        B. 5 proc.
                    </li>
                    <li>
                        C. 25 proc.
                    </li>
                    <li>
                        D. 10 proc.
                    </li>
                    <li>
                        E. 30 proc.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.24</b> 35 metų moteris paguldyta į ligoninę, išsiaiškinus, kad išgėrė 50–60 ml metanolio. Kokia turi būti gydymo taktika šios situacijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirti vidurių laisvinamųjų vaistų, taikyti simptominį gydymą, aktyviai stebėti ligonę
                    </li>
                    <li>
                        B. Plauti skrandį pro zondą, gydyti metabolinę acidozę ir hipovolemiją, skirti priešnuodžių (etanolio, folio rūgšties), skubiai atlikti hemodializę, taikyti simptominį gydymą
                    </li>
                    <li>
                        C. Išplauti skrandį, taikyti forsuotą diurezę
                    </li>
                    <li>
                        D. Skirti B grupės vitaminų, lašinti skysčių, gydyti hipokalemiją, acidozę.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>2.25</b> Į ligoninę paguldyta jauna moteris, prieš 0,5 valandos atsitiktinai išgėrusi 15–20 ml koncentruotos acto rūgšties (esencijos). Ligonė samoninga, stebimas visos burnos gleivinės paraudimas, nežymus paburkimas, skundžiasi deginančiu skausmu burnos ertmėje, pykinimu, silpnumu. Kokia turi būti gydymo taktika šiuo atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kuo skubiau sukelti vėmimą apomorfino hidrochloridu, kad galima būtų apsaugoti skrandžio sienelę nuo rūgšties poveikio
                    </li>
                    <li>
                        B. Plauti skrandį ar sukelti vėmimą negalima, o reikia skirti šarminių tirpalų į veną
                    </li>
                    <li>
                        C. Paskyrus narkotinių analgetikų, atsargiai įkišus zondą, pateptą vazelino aliejumi, šaltu vandeniu plauti skrandį, lašinti į veną natrio hidrokarbonato, stebėti ligonę dėl hemolizės, matuoti diurezę dėl galimo inkstų nepakankamumo, jei reikia, taikyti simptominį gydymą.
                    </li>
                    <li>
                        D. Duoti gerti daug vandens kartu su soda acto rūgščiai neutralizuoti, o po to sukelti vėmimą.
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>2.1 - 

                C
            </td>
            <td>2.2 - 

                D
            </td>
            <td>2.3 - 

                C
            </td>
            <td>2.4 - 

                C
            </td>
            <td>2.5 - 

                B
            </td>
                </tr><tr>
            <td>2.6
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - E </li>
                <li>5 - C </li>
            </ul></td>
            <td>2.7
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
                </tr><tr>
            <td>2.8
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>2.9
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
            <td>2.10
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>2.11
            <ul>
                <li>4</li>
            </ul></td>
            <td>2.12
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>2.13
            <ul>
                <li>4</li>
            </ul></td>
            <td>2.14
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>2.15
            <ul>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>2.16 - 

                D
            </td>
            <td>2.17 - 

                D
            </td>
            <td>2.18 - 

                C
            </td>
            <td>2.19 - 

                D
            </td>
            <td>2.20 - 

                C
            </td>
            <td>2.21 - 

                C
            </td>
            <td>2.22 - 

                C
            </td>
            <td>2.23 - 

                A
            </td>
                </tr><tr>
            <td>2.24 - 

                B
            </td>
            <td>2.25 - 

                C
            </td>

</tr></tbody></table></div>