<div class="Centre Kategorija">Torokalinė chirurgija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>41.1</b> 55 m. vyrui profilaktinio sveikatos patikrinimo metu rentgenologiškai randamas dešiniojo plaučio antrajame segmente 3 cm skersmens apvalus, aiškiomis ribomis židinys su irimo ertmele centre. Kuris tyrimo būdas labiausiai tinka diagnozei verifikuoti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bronchografija
                    </li>
                    <li>
                        B. Kompiuterinė tomografija
                    </li>
                    <li>
                        C. Endobronchinė židinio biopsija
                    </li>
                    <li>
                        D. Angiopulmografija
                    </li>
                    <li>
                        E. Imunologinis odos testas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.2</b> Kuris simptomas nebūdingas vožtuviniam pneumotoraksui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hipoksija
                    </li>
                    <li>
                        B. Acidozė
                    </li>
                    <li>
                        C. Sumažėjęs veninio kraujo pritekėjimas į širdį
                    </li>
                    <li>
                        D. Sumažėjęs širdies sistolinis tūris
                    </li>
                    <li>
                        E. Paduslėjęs perkusinis garsas pneumotorakso pusėje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.3</b> Kuris simptomas nebūdingas vožtuviniam pneumotoraksui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Krūtinės skausmas
                    </li>
                    <li>
                        B. Paviršinis kvėpavimas
                    </li>
                    <li>
                        C. Pakenktoje pusėje negirdimas kvėpavimas
                    </li>
                    <li>
                        D. Trachėjos dislokacija į pneumotorakso pusę
                    </li>
                    <li>
                        E. Hipotenzija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.4</b> Dėl plaučių vėžio diagnozės patikslinimo ligoniui buvo atlikta kairės pusės preskaleninių limfmazgių biopsija. Po valandos atsirado cianozė, dusinimas, žymi tachikardija ir susilpnėjo kvėpavimo garsas kairėje pusėje. Kuris veiksmas labiausiai pagerintų ligonio būklę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kraujo perpylimas
                    </li>
                    <li>
                        B. Dešiniosios paraktikaulinės venos kateterizacija ir intraveninė infuzija
                    </li>
                    <li>
                        C. Endotrachėjinė intubacija
                    </li>
                    <li>
                        D. Kairiosios pleuros ertmės drenavimas
                    </li>
                    <li>
                        E. Žaizdos revizija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.5</b> 60 m. vyrui nustatytas pavienis ovalus mazgas plautyje. Kuriai ligai tai nebūdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Bronchogeninė karcinoma
                    </li>
                    <li>
                        B. Tuberkulioma
                    </li>
                    <li>
                        C. Storosios žarnos vėžio metastazė
                    </li>
                    <li>
                        D. Hamartoma
                    </li>
                    <li>
                        E. Sarkoidozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.6</b> Kuris požymis reiškia plaučių vėžio nerezektabilumą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pneumonija
                    </li>
                    <li>
                        B. Vėžiui pozityvi skreplių citologija
                    </li>
                    <li>
                        C. Paviršutinis kvėpavimas
                    </li>
                    <li>
                        D. Kairiosios balso klostės paralyžius
                    </li>
                    <li>
                        E. Būgno lazdelių formos pirštai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.7</b> Kuri gydymo priemonė pirmiausia turi būti taikoma spontaninio pneumotorakso ištiktam ligoniui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kasdieninės plaučių rentgenogramos ir stebėjimas
                    </li>
                    <li>
                        B. Po stebėjimo – pleuros punkcija ir oro aspiracija
                    </li>
                    <li>
                        C. Torakotomija ir pažeisto plaučio biopsija
                    </li>
                    <li>
                        D. Torakoskopija ir pleuros ertmės drenavimas
                    </li>
                    <li>
                        E. Torakotomija ir pleuros abrazija dėl pneumotorakso recidyvo pavojaus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.8</b> 45 m. vyrui, remiantis rentgenologinio ir KT tyrimo duomenimis, įtariamas deš. plaučio septinto segmento periferinis vėžys, tačiau bronchoskopija ir bronchų zondavimas to nepatvirtino. Kokia diagnostikos ir gydymo taktika tinkamiausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Rentgenologinis tyrimas kas 3-6 mėn.
                    </li>
                    <li>
                        B. Radikalus spindulinis gydymas
                    </li>
                    <li>
                        C. Dešiniojo plaučio apatinė lobektomija
                    </li>
                    <li>
                        D. Diagnostinė torakotomija, naviko ekscizija ir skubus histologinis tyrimas
                    </li>
                    <li>
                        E. Chemoterapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.9</b> Kurią struktūrą dažniausiai pakenkia bronchogeninis vėžys, kai užkimsta balsas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Balso klostes
                    </li>
                    <li>
                        B. Viršutinį gerklų nervą
                    </li>
                    <li>
                        C. Kairįjį grįžtamąjį gerklų nervą
                    </li>
                    <li>
                        D. Dešinįjį klajoklinį nervą
                    </li>
                    <li>
                        E. Gerklas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.10</b> Ezofagoskopijos metu netyčia pažeista ligonio stemplės apatinė dalis. Nedelsiant tiriamas rentgenologiškai ir konstatuojamas nedidelio kiekio kontrastinės medžiagos patekimas į kairiąją pleuros ertmę. Kuris gydymo būdas šiuo atveju yra tinkamiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ligonio būklės stebėjimas
                    </li>
                    <li>
                        B. Stebėjimas ir antibiotikai
                    </li>
                    <li>
                        C. Kairiosios pleuros ertmės drenavimas
                    </li>
                    <li>
                        D. Skrandžio zondavimas
                    </li>
                    <li>
                        E. Chirurginis pažeidimo sutvarkymas ir drenažas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.11</b> 65 m. vyrui, kuris sunkiai ryja skysčius, nustatyta stemplės vėžio 4-ta klinikinė grupė. Kuris gydymo būdas yra netinkamas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Simptominis spindulinis gydymas
                    </li>
                    <li>
                        B. Stemplės rekanalizacija lazeriu
                    </li>
                    <li>
                        C. Stemplės bužavimas ir pneumodilatacija
                    </li>
                    <li>
                        D. Gastrostomija
                    </li>
                    <li>
                        E. Radikali stemplės rezekcija ir plastika
                    </li>
                    <li>
                        F. Apeinamųjų anastomozių suformavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.12</b> 30 m. moteris prieš 5 savaites per apsirikimą išgėrė acto rūgšties ir gydėsi ligoninės vidaus ligų skyriuje. Stemplė nebuvo tiriama, naudojant bužą. Pastarąsias 5 dienas nebegali nuryti maisto. Kuris gydymo būdas netinkamiausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Vandens-elektrolitų balanso atkūrimas
                    </li>
                    <li>
                        B. Jejunostomija
                    </li>
                    <li>
                        C. Rentgeno kontroliuojamas stemplės tyrimas naudojant bužą
                    </li>
                    <li>
                        D. Stemplės plastika
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>41.13</b> Kuri mirties priežastis yra pagrindinė ir dažniausia kiekvienos nurodytos urgentinės situacijos metu</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vožtuvinis pneumotoraksas
                    </li>
                    <li>
                        2 - Gausus kraujavimas į kvėpavimo takus
                    </li>
                    <li>
                        3 - Širdies sužeidimas
                    </li>
                    <li>
                        4 - Atviras transtorakalinis kepenų sužeidimas
                    </li>
                    <li>
                        5 - Totalinis pūlinis mediastinitas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Nukraujavimas
                    </li>
                    <li>
                        B. Asfiksija
                    </li>
                    <li>
                        C. Ūminis kvėpavimo ir kraujotakos nepakankamumas
                    </li>
                    <li>
                        D. Sepsis
                    </li>
                    <li>
                        E. Intraperikardinė širdies tamponada
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.14</b> Kuris gydymo būdas labiausiai tinka kiekvienos nurodytos situacijos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Nekomplikuotas šonkaulių lūžis
                    </li>
                    <li>
                        2 - Diafragmos plyšimas
                    </li>
                    <li>
                        3 - Trauminis pneumotoraksas
                    </li>
                    <li>
                        4 - Širdies sužeidimas
                    </li>
                    <li>
                        5 - Paraezofaginė diafragmos išvarža
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Vienos krūtinės pusės imobilizavimas leukopleistru
                    </li>
                    <li>
                        B. Operacinis gydymas
                    </li>
                    <li>
                        C. Pleuros ertmės drenavimas
                    </li>
                    <li>
                        D. Tarpšonkaulinių nervų laidinė nejautra vietinio veikimo anestetikais
                    </li>
                    <li>
                        E. Vagosimpatinė blokada
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.15</b> Kuris gydymo būdas po krūtinės traumos yra tikslingas, kai yra išreikštas kiekvienas nurodytas sindromas</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Nedidelis hemotoraksas
                    </li>
                    <li>
                        2 - Pneumotoraksas
                    </li>
                    <li>
                        3 - Chilotoraksas
                    </li>
                    <li>
                        4 - Sukrešėjęs hemotoraksas
                    </li>
                    <li>
                        5 - Krūtinės nestabilumas („paradoksinis kvėpavimas“)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Torakotomija
                    </li>
                    <li>
                        B. Tarpšonkaulinių nervų laidinė nejautra
                    </li>
                    <li>
                        C. Pleuros ertmės drenavimas
                    </li>
                    <li>
                        D. Krūtinės sutvarstymas
                    </li>
                    <li>
                        E. Šonkaulių osteosintezė ar periosalinė fiksacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.16</b> Kuris tyrimo būdas yra tikslingiausias kiekvienos nurodytos situacijos atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Trauminis pneumotoraksas
                    </li>
                    <li>
                        2 - Spontaninis pneumotoraksas
                    </li>
                    <li>
                        3 - Kvėpavimo takų svetimkūnis
                    </li>
                    <li>
                        4 - Tarpuplaučio limfmazgių padidėjimas
                    </li>
                    <li>
                        5 - Vidurinės skilties sindromas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Diagnostinė torakotomija
                    </li>
                    <li>
                        B. Bronchoskopija
                    </li>
                    <li>
                        C. Perkutaninė punkcinė biopsija
                    </li>
                    <li>
                        D. Mediastinoskopija
                    </li>
                    <li>
                        E. Torakoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.17</b> Praėjus 6 metams po krūtinės traumos liko kairės pusės diafragmos relaksacija. Kaip ji turi būti gydoma kiekvienu nurodytu relaksacijos laipsnio atveju</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - I°–II° diafragmos relaksacija
                    </li>
                    <li>
                        2 - III° diafragmos relaksacija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Diafragmos plastika
                    </li>
                    <li>
                        B. Dirbtinė plaučių ventiliacija
                    </li>
                    <li>
                        C. Tracheostomija
                    </li>
                    <li>
                        D. Gydomoji kvėpavimo gimnastika ir diafragmos elektrostimuliacija
                    </li>
                    <li>
                        E. Diafragminio nervo siūlė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.18</b> Su kuriuo krūtinės anatominės struktūros pažeidimu siejasi kiekviena nurodyta trauma</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Atvira nekiauryminė krūtinės trauma
                    </li>
                    <li>
                        2 - Uždara krūtinės trauma
                    </li>
                    <li>
                        3 - Kiauryminė (penetruojanti) krūtinės trauma
                    </li>
                    <li>
                        4 - Mišri krūtinės trauma
                    </li>
                    <li>
                        5 - Kombinuota krūtinės trauma
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Žaizdos kanalas atsiveria į pleuros ertmę ir(ar) tarpuplautį
                    </li>
                    <li>
                        B. Pažeista oda
                    </li>
                    <li>
                        C. Nėra krūtinės žaizdų
                    </li>
                    <li>
                        D. Krūtinės ir kitų sričių trauminis pažeidimas
                    </li>
                    <li>
                        E. Krūtinės sužalojimas keliais įvairiais faktoriais (mechaninė, terminė, cheminė, radiacinė ir kitokia trauma)
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>41.19 </b> 45 m. vyras apie  10 m. skundžiasi apsunkintu maisto rijimu. Diagnozuota įskrandžio achalazijos III stadija. Kurie gydymo būdai gali būti panaudoti šiuo atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ezofagokardiomiotomija
                    </li>
                    <li>
                        2. Pilioroplastika
                    </li>
                    <li>
                        3. Pneumodilatacija
                    </li>
                    <li>
                        4. Gastrostomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.20 </b> Kokios yra Cenkerio (Zenker) tipo stemplės divertikulo radikalios operacijos indikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Rentgenoskopiškai matomas kontrasto susilaikymas divertikule
                    </li>
                    <li>
                        2. Divertikulitas
                    </li>
                    <li>
                        3. Dažnas užsikosėjimas geriant ar valgant
                    </li>
                    <li>
                        4. Disfagija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.21 </b> Kada po torakalinių ir abdominalinių operacijų pooperacinių komplikacijų profilaktikai reikia pradėti kvėpavimo gydomąją gimnastiką:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. 1 val. po operacijos
                    </li>
                    <li>
                        2. Pirmą parą po operacijos
                    </li>
                    <li>
                        3. Bet kada po operacijos
                    </li>
                    <li>
                        4. Kai tik atsibunda po narkozės
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.22 </b> Kokia turėtų būti kvėpavimo gydomosios gimnastikos seanso trukmė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. 1 val.
                    </li>
                    <li>
                        2. 30 min.
                    </li>
                    <li>
                        3. Apie 5 min.
                    </li>
                    <li>
                        4. Iki ligonio lengvo nuovargio
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.23 </b> Kokiu dažniu tikslinga kartoti kvėpavimo gydomosios gimnastikos seansus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kas 15 min.
                    </li>
                    <li>
                        2. Kas 30 min.
                    </li>
                    <li>
                        3. Tris kartus per dieną
                    </li>
                    <li>
                        4. Kas 1–2 val.
                    </li>
                    <li>
                        5. Ryte ir vakare
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.24 </b> Kokie yra ūminio plaučių absceso drenavimo pagrindiniai būdai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Transsternalinis
                    </li>
                    <li>
                        2. Transtorakalinis (perkutaninis)
                    </li>
                    <li>
                        3. Transdiafragminis
                    </li>
                    <li>
                        4. Endobronchinis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.25 </b> Kurios ūminio blokuoto plaučių absceso gydymo punkcijomis sąlygos yra būtinos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Absceso vieta arti šonkaulinės pleuros
                    </li>
                    <li>
                        2. Gera bendra ligonio būklė
                    </li>
                    <li>
                        3. Absceso aplinkoje susidariusios pleuros sąaugos
                    </li>
                    <li>
                        4. Pakankamai stora absceso kapsulė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.26 </b> Kurie lėtinio plaučių absceso bruožai yra esminiai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sustorėjusios ir rigidiškos absceso sienos
                    </li>
                    <li>
                        2. Uždegimo recidyvavimas
                    </li>
                    <li>
                        3. Absceso pilnaverčio gydymo trukmė ne trumpesnė kaip 2 mėn.
                    </li>
                    <li>
                        4. Ligonio amžius virš 50 m.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.27 </b> Kurie veiksmai dažniausiai daromi operuojant ligonį dėl recidyvuojančio spontaninio pneumotorakso:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pneumotorakso priežasčių pašalinimas
                    </li>
                    <li>
                        2. Plaučio dekortikacija ir biopsija
                    </li>
                    <li>
                        3. Pleurektomija
                    </li>
                    <li>
                        4. Torakoplastika
                    </li>
                    <li>
                        5. Pleuropulmonektomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.28 </b> Kurie veiksmai dažniausiai daromi operuojant ligonį dėl lėtinės pleuros empiemos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Plaučio dekortikacija
                    </li>
                    <li>
                        2. Torakoplastika
                    </li>
                    <li>
                        3. Pleurektomija
                    </li>
                    <li>
                        4. Pleurostomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.29 </b> Kurie veiksmai dažniausiai daromi operuojant ligonį dėl sukrešėjusio trauminio hemotorakso:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Plaučio dekortikacija
                    </li>
                    <li>
                        2. Kraujavimo stabdymas
                    </li>
                    <li>
                        3. Kraujo krešulių išvalymas
                    </li>
                    <li>
                        4. Plaučio atelektazės pašalinimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.30 </b> Kaip ryjant maistą reaguoja įskrandis (kardija), esant jo achalazijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Spazmuoja
                    </li>
                    <li>
                        2. Atsipalaiduoja
                    </li>
                    <li>
                        3. Keičia tonusą
                    </li>
                    <li>
                        4. Dažniausiai nereaguoja
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.31 </b> Kurie stemplės vėžio simptomai ar sindromai yra ankstyvieji:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Stemplės- trachėjos fistulė
                    </li>
                    <li>
                        2. Paroksizminė disfagija
                    </li>
                    <li>
                        3. Virškinimo sutrikimai
                    </li>
                    <li>
                        4. Predisfagija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.32 </b> Koks pagrindinis  ūminio plaučių absceso perkutaninio drenavimo būdas: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Absceso punkcija
                    </li>
                    <li>
                        2. Absceso drenavimas
                    </li>
                    <li>
                        3. Abscesoskopija
                    </li>
                    <li>
                        4. Absceso drenavimas (pagal Monaldį)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.33 </b> Koks yra tinkami ūminio plaučių absceso ir bronchektazinės ligos endobronchiniai vietinio gydymo būdai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kartotinos gydomosios bronchoskopijos
                    </li>
                    <li>
                        2. Bronchų kateterizavimas
                    </li>
                    <li>
                        3. Mikrotracheostomija
                    </li>
                    <li>
                        4. Bronchų obturavimas 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.34 </b> Kurie veiksmai atliekami plaučių absceso ar bronchektazinės ligos vietinio gydymo metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Turinio išsiurbimas
                    </li>
                    <li>
                        2. Medžiagos mikrobiologiniam ir citologiniam tyrimui paėmimas
                    </li>
                    <li>
                        3. Mukolitikų suleidimas
                    </li>
                    <li>
                        4. Antiseptikų tirpalų  suleidimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.35 </b> Po durtinio-pjautinio kaklo srities sužalojimo konstatuota IIIº kairiosios diafragmos relaksacija ir diafragminio nervo laidumo išnykimas. Kokiais gydymo būdais galima atkurti normalią diafragmos funkciją:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Diafragmos plastika suformuojant jos duplikatūrą
                    </li>
                    <li>
                        2. Diafragminio nervo siūle
                    </li>
                    <li>
                        3. Dirbtine plaučių ventiliacija
                    </li>
                    <li>
                        4. Gydomąja kvėpavimo gimnastika ir diafragmos elektrine stimuliacija
                    </li>
                    <li>
                        5. Tracheostomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.36 </b> Kurie iš šių teiginių yra tikslūs Bereto stemplės atveju:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Biopsijos metu randamas skrandžio prizminis epitelis
                    </li>
                    <li>
                        2. Beveik visada tai yra piktybinis navikinis procesas
                    </li>
                    <li>
                        3. Kaip taisyklė, pažeidžiama distalinė stemplės dalis
                    </li>
                    <li>
                        4. Gydoma atliekant pneumodilataciją
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>41.37</b> 10 m. berniukas vakar įkvėpė žirnį, pradėjo kosėti ir dusti. Šiandien jaučiasi geriau, tačiau rentgenologiškai nustatyta dešinio plaučio viršutinės ir vidurinės skilčių padidėjęs oringumas, o apatinė skiltis atelektuota.Į kurį bronchą pateko svetimkūnis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Į dešinį viršutinį skiltinį bronchą
                    </li>
                    <li>
                        B. Į tarpinį bronchą
                    </li>
                    <li>
                        C. Į vidurinį skiltinį bronchą
                    </li>
                    <li>
                        D. Į dešinįjį apatinį skiltinį bronchą
                    </li>
                    <li>
                        E. Į kairįjį pagrindinį bronchą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.38</b> 10 m. berniukas vakar įkvėpė žirnį, pradėjo kosėti ir dusti. Šiandien jaučiasi geriau, tačiau rentgenologiškai nustatyta dešinio plaučio viršutinės ir vidurinės skilčių padidėjęs oringumas, o apatinė skiltis atelektuota.Kuriuo būdu reikia stengtis pašalinti svetimkūnį, jeigu fibrobronchoskopo žnyplėmis to padaryti nepavyko:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Transnasalinė bronchų kateterizacija
                    </li>
                    <li>
                        B. Bronchoskopija kietu bronchoskopu
                    </li>
                    <li>
                        C. Torakotomija ir bronchoskopija
                    </li>
                    <li>
                        D. Tracheostomija
                    </li>
                    <li>
                        E. Mediastinoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.39</b> 48 m. niekuo nesiskundžiančiam vyrui fluorografiškai nustatyta dešiniojo plaučio širdinio segmento (S7) ribose, 1,5 cm skersmens aiškiais, bet nelygiais kraštais periferinis patologinis darinys.Kokia preliminarinė ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Uždegiminis infiltratas
                    </li>
                    <li>
                        B. Sarkoidozė
                    </li>
                    <li>
                        C. Plaučių tuberkulioma
                    </li>
                    <li>
                        D. Plaučių vėžys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.40</b> 48 m. niekuo nesiskundžiančiam vyrui fluorografiškai nustatyta dešiniojo plaučio širdinio segmento (S7) ribose, 1,5 cm skersmens aiškiais, bet nelygiais kraštais periferinis patologinis darinys.Kuris tyrimas greičiausiai ir tiksliausiai patvirtintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dinaminis rentgenologinis stebėjimas
                    </li>
                    <li>
                        B. Bronchoskopija
                    </li>
                    <li>
                        C. Bronchų zondavimas
                    </li>
                    <li>
                        D. Transtorakalinė punkcija
                    </li>
                    <li>
                        E. Diagnostinė torakotomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.41</b> 48 m. niekuo nesiskundžiančiam vyrui fluorografiškai nustatyta dešiniojo plaučio širdinio segmento (S7) ribose, 1,5 cm skersmens aiškiais, bet nelygiais kraštais periferinis patologinis darinys.Kokia optimali gydymo taktika, jeigu nustatomas plokščialąstelinis plaučių vėžys be invazijos į tarpuplaučio limfmazgius:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Spindulinis gydymas
                    </li>
                    <li>
                        B. Segmentektomija
                    </li>
                    <li>
                        C. Lobektomija arba pulmonektomija
                    </li>
                    <li>
                        D. Chemoterapija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.42</b> 48 m. niekuo nesiskundžiančiam vyrui fluorografiškai nustatyta dešiniojo plaučio širdinio segmento (S7) ribose, 1,5 cm skersmens aiškiais, bet nelygiais kraštais periferinis patologinis darinys.Kokia turi būti gydymo taktika, jeigu po torakotomijos nustatoma tuberkulioma:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        B. Tuberkuliomos pašalinimas (ekstirpacija arba plaučio dalies rezekcija) ir prieštuberkuliozinis gydymas
                    </li>
                    <li>
                        C. Lobektomija ir prieštuberkuliozinis gydymas
                    </li>
                    <li>
                        D. Pulmonektomija ir prieštuberkuliozinis gydymas
                    </li>
                    <li>
                        E. Prieštuberkuliozinis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.43</b> 48 m. niekuo nesiskundžiančiam vyrui fluorografiškai nustatyta dešiniojo plaučio širdinio segmento (S7) ribose, 1,5 cm skersmens aiškiais, bet nelygiais kraštais periferinis patologinis darinys. Kokia turi būti plaučių hamartomos gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Hamartomos išlukštenimas (enucleatio)
                    </li>
                    <li>
                        B. Segmentektomija
                    </li>
                    <li>
                        C. Lobektomija
                    </li>
                    <li>
                        D. Pulmonektomija
                    </li>
                    <li>
                        E. Spindulinis gydymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.44</b> 60 m. vyras skundžiasi kosuliu naktimis. Serga apie 6 mėn. Per tą laiką 3 kartus diagnozuotas plaučių uždegimas ir intensyviai buvo gydomas. Keletą kartų atsikosėjo skrepliais su kraujo priemaiša. Kontrolinėse rentgenogramose buvęs dešiniojo plaučio trečiojo segmento ribose intensyvus užtemimas sumažėjo.Kokią ligą pirmiausia įtarsite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pneumonija
                    </li>
                    <li>
                        B. Plaučių tuberkuliozė
                    </li>
                    <li>
                        C. Plaučių vėžys
                    </li>
                    <li>
                        E. Lėtinis bronchitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>41.45</b> 60 m. vyras skundžiasi kosuliu naktimis. Serga apie 6 mėn. Per tą laiką 3 kartus diagnozuotas plaučių uždegimas ir intensyviai buvo gydomas. Keletą kartų atsikosėjo skrepliais su kraujo priemaiša. Kontrolinėse rentgenogramose buvęs dešiniojo plaučio trečiojo segmento ribose intensyvus užtemimas sumažėjo.Kuris tyrimas greičiausiai padėtų nustatyti galutinę diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kompiuterinė tomografija
                    </li>
                    <li>
                        B. Torakoskopija
                    </li>
                    <li>
                        C. Bronchoskopija: citologinis ir histologinis paimtos medžiagos tyrimas
                    </li>
                    <li>
                        D. Mediastinoskopija
                    </li>
                    <li>
                        E. Imunologinis odos testas
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>41.1 - 

                C
            </td>
            <td>41.2 - 

                E
            </td>
            <td>41.3 - 

                D
            </td>
            <td>41.4 - 

                D
            </td>
            <td>41.5 - 

                E
            </td>
            <td>41.6 - 

                D
            </td>
            <td>41.7 - 

                D
            </td>
            <td>41.8 - 

                D
            </td>
                </tr><tr>
            <td>41.9 - 

                C
            </td>
            <td>41.10 - 

                E
            </td>
            <td>41.11 - 

                E
            </td>
            <td>41.12 - 

                D
            </td>
                </tr><tr>
            <td>41.13
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - E </li>
                <li>4 - A </li>
                <li>5 - D </li>
            </ul></td>
            <td>41.14
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - C </li>
                <li>4 - B </li>
                <li>5 - B </li>
            </ul></td>
            <td>41.15
            <ul>
                <li>1 - C </li>
                <li>2 - C </li>
                <li>3 - C </li>
                <li>4 - A </li>
                <li>5 - E </li>
            </ul></td>
            <td>41.16
            <ul>
                <li>1 - E </li>
                <li>2 - E </li>
                <li>3 - B </li>
                <li>4 - D </li>
                <li>5 - B </li>
            </ul></td>
            <td>41.17
            <ul>
                <li>1 - D </li>
                <li>2 - A </li>
            </ul></td>
            <td>41.18
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - D </li>
                <li>5 - E </li>
            </ul></td>
                </tr><tr>
            <td>41.19
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>41.20
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>41.21
            <ul>
                <li>4</li>
            </ul></td>
            <td>41.22
            <ul>
                <li>4</li>
            </ul></td>
            <td>41.23
            <ul>
                <li>4</li>
            </ul></td>
            <td>41.24
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>41.25
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>41.26
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>41.27
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>41.28
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>41.29
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>41.30
            <ul>
                <li>4</li>
            </ul></td>
            <td>41.31
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>41.32
            <ul>
                <li>4</li>
            </ul></td>
            <td>41.33
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>41.34
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>41.35
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
            <td>41.36
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>41.37 - 

                D
            </td>
            <td>41.38 - 

                B
            </td>
            <td>41.39 - 

                D
            </td>
            <td>41.40 - 

                E
            </td>
            <td>41.41 - 

                C
            </td>
            <td>41.42 - 

                B
            </td>
            <td>41.43 - 

                A
            </td>
            <td>41.44 - 

                C
            </td>
                </tr><tr>
            <td>41.45 - 

                C
            </td>

</tr></tbody></table></div>