<div class="Centre Kategorija">Tuberkuliozė</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>28.1</b> Koks yra svarbiausias tuberkuliozės infekcijos šaltinis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Žmonės
                    </li>
                    <li>
                        B. Karvės
                    </li>
                    <li>
                        C. Ožkos
                    </li>
                    <li>
                        D. Kiaulės
                    </li>
                    <li>
                        E. Paukščiai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.2</b> Kokiu būdu žmonės dažniausiai užsikrečia tuberkuliozės mikobakterijomis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Aerogeniniu
                    </li>
                    <li>
                        B. Alimentiniu
                    </li>
                    <li>
                        C. Kontakto
                    </li>
                    <li>
                        D. Placentiniu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.3</b> Kuris tuberkuliozės mikobakterijų tyrimo metodas yra privalomas visoms pirminės sveikatos priežiūros įstaigoms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Paprasta bakterioskopija
                    </li>
                    <li>
                        B. Liuminescencinė mikroskopija
                    </li>
                    <li>
                        C. Pasėlis kietose terpėse
                    </li>
                    <li>
                        D. Radiometrinis (BAK-TEC) 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.4</b> Koks tuberkuliozės mikobakterijų ir jų atsparumo vaistams tyrimo būdas yra efektyviausias:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pasėlis Levenšteino-Jenseno terpėje
                    </li>
                    <li>
                        B. Pasėlis skystoje terpėje
                    </li>
                    <li>
                        C. Radiometrinis BAK-TEC aparatu
                    </li>
                    <li>
                        D. Biologinis mėginys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.5</b> Kokios ląstelės yra patognominės tuberkuliozės granulomai-tuberkului:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Limfocitai
                    </li>
                    <li>
                        B. Makrofagai
                    </li>
                    <li>
                        C. Epitelioidinės 
                    </li>
                    <li>
                        D. Pirogovo-Langhanso gigantai
                    </li>
                    <li>
                        E. Svetimkūnio gigantai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.6</b> Kokį tuberkulino mėginį reikia naudoti užkrėtimui tuberkuliozės mikobakterijomis nustatyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirkė (skarifikacinis)
                    </li>
                    <li>
                        B. Mantu (įodinis)
                    </li>
                    <li>
                        C. Kocho (poodinis)
                    </li>
                    <li>
                        D. Moro (viršodinis)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.7</b> Kokiam tikslui atliekamas Kocho mėginys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tuberkulino „viražui“ nustatyti
                    </li>
                    <li>
                        B. Užkrėtimui tuberkuliozės mikobakterijomis nustatyti
                    </li>
                    <li>
                        C. Tuberkuliozės procesui diagnozuoti
                    </li>
                    <li>
                        D. Organizmo specifiniam imunitetui nustatyti
                    </li>
                    <li>
                        E. Revakcinacijos BCŽ vakcina kontingentui atrinkti
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.8</b> Kokios mikobakterijos dažniausiai sukelia tuberkuliozę žmonėms:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mycobacteria tuberculosis
                    </li>
                    <li>
                        B. Mycobacteria bovis
                    </li>
                    <li>
                        C. Mycobacteria africanum
                    </li>
                    <li>
                        D. Mycobacteria fortuitum
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.9</b> Kas lemia tuberkulo specifiškumą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kazeozinė nekrozė
                    </li>
                    <li>
                        B. Epitelioidinės ląstelės
                    </li>
                    <li>
                        C. Pirogovo-Langhanso gigantai
                    </li>
                    <li>
                        D. Limfocitai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.10</b> Pirminiam tuberkuliozės kompleksui būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirminis židinys, TB limfangoitas, TB limfadenitas
                    </li>
                    <li>
                        B. Pirminis židinys, TB limfangoitas, TB bronchadenitas
                    </li>
                    <li>
                        C. Pirminis židinys, TB vaskulitas
                    </li>
                    <li>
                        D. TB limfadenitas, TB vaskulitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.11</b> Gono židinys yra: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apkalkėjęs limfmazgis
                    </li>
                    <li>
                        B. Apkalkėjęs infiltratas
                    </li>
                    <li>
                        C. Apkalkėjęs pirminis židinys
                    </li>
                    <li>
                        D. Apkalkėjusi pleura
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.12</b> Tuberkulinis viražas yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Teigiamas Mantu mėginys
                    </li>
                    <li>
                        B. Teigiamas Kocho mėginys
                    </li>
                    <li>
                        C. Teigiamas Pirke mėginys
                    </li>
                    <li>
                        D. Pirmą kartą nustatyta teigiama reakcija į tuberkuliną, rodanti, kad organizmas jau užkrėstas (prieš tai tuberkulino mėginiai buvę neigiami)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.13</b> Diseminuotos tuberkuliozės mikobakterijų plitimo šaltinis dažniausiai yra:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tarpuplaučio limfmazgių TB
                    </li>
                    <li>
                        B. Bronchų TB
                    </li>
                    <li>
                        C. Infiltracinė TB
                    </li>
                    <li>
                        D. Asmano infiltratas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.14</b> Ką vadiname tuberkulioziniu sepsiu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Židininė TB
                    </li>
                    <li>
                        B. Ūminę miliarinę diseminaciją
                    </li>
                    <li>
                        C. Lėtinę diseminuotą TB
                    </li>
                    <li>
                        D. Asmano infiltratą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.15</b> Kas yra kazeozinė pneumonija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Infiltracinės TB forma
                    </li>
                    <li>
                        B. Stafilokokinė pneumonija
                    </li>
                    <li>
                        C. Pseudomonas aeruginosa sukelta pneumonija
                    </li>
                    <li>
                        D. Diseminuota TB
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.16</b> Kuri tuberkuliozės forma epidemiologiškai labiausiai pavojinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Fibrokaverninė TB
                    </li>
                    <li>
                        B. CirozinėTB
                    </li>
                    <li>
                        C. PirminėTB
                    </li>
                    <li>
                        D. Židininė TB
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.17</b> Cirozinei plaučių TB būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ryškus jungiamojo audinio vešėjimas, vyraujant uždegimui
                    </li>
                    <li>
                        B. Jungiamojo audinio vešėjimas
                    </li>
                    <li>
                        C. Gausi infiltracija fibroblastais
                    </li>
                    <li>
                        D. Gausi infiltracija limfocitais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.18</b> Kuris prieštuberkuliozinių vaistų derinys yra labai efektyvus:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Etambutolis ir pirazinamidas
                    </li>
                    <li>
                        B. Rifampicinas ir izoniazidas
                    </li>
                    <li>
                        C. Etambutolis ir rifampicinas
                    </li>
                    <li>
                        D. Rifampicinas ir etambutolis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.19</b> Kuriuose kraštuose sergantys AIDS dažniausiai miršta nuo TB:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Afrikoje
                    </li>
                    <li>
                        B. JAV
                    </li>
                    <li>
                        C. Rusijoje
                    </li>
                    <li>
                        D. Vakarų Europoje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.20</b> Pirmajai sergančiųjų TB gydymo kategorijai priskiriami šie ligoniai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Naujai nustatyti TM (+) ir (arba) su ryškiais pokyčiais plaučiuose ar kituose organuose
                    </li>
                    <li>
                        B. Naujai nustatyti TM (–)
                    </li>
                    <li>
                        C. Lėtine TB sergantieji
                    </li>
                    <li>
                        D. Sergantieji ekstrapulmonine TB
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.21</b> Sergančiųjų TB pirmosios kategorijos pacientai gydomi šiais preparatais:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. HRZE(S)
                    </li>
                    <li>
                        B. HRS
                    </li>
                    <li>
                        C. HRSZ
                    </li>
                    <li>
                        D. HR
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>28.22</b> Kokiais antituberkuliozinių vaistų deriniais PSO rekomenduoja gydyti sergančiuosius TB, priklausomai nuo gydymo kategorijos</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Pirmoji gydymo kategorija
                    </li>
                    <li>
                        2 - Antroji gydymo kategorija
                    </li>
                    <li>
                        3 - Trečioji gydymo kategorija
                    </li>
                    <li>
                        4 - Ketvirtoji  gydymo kategorija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. HRZ
                    </li>
                    <li>
                        B. HRZE(S)
                    </li>
                    <li>
                        C. HRZES
                    </li>
                    <li>
                        D. PSO nenurodo preparatų derinio
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>28.23 </b> Ką rodo teigiamas Mantu mėginys:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Užsikrėtimas TM
                    </li>
                    <li>
                        2. Povakcininė alergija
                    </li>
                    <li>
                        3. Sergantis TB
                    </li>
                    <li>
                        4. Persirgęs TB     
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.24 </b> Kaip plinta tuberkuliozės mikobakterijos organizme:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Hematogeniškai
                    </li>
                    <li>
                        2. Limfogeniškai
                    </li>
                    <li>
                        3. Kontaktiniu būdu
                    </li>
                    <li>
                        4. Bronchogeniniu būdu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.25 </b> Pirminė tuberkuliozė gali komplikuotis:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Lokaliomis TB formomis
                    </li>
                    <li>
                        2. Diseminacija
                    </li>
                    <li>
                        3. Pleuritu
                    </li>
                    <li>
                        4. Ekstrapulmonine TB
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.26 </b> Pirminio komplekso rentgenologiškai nustatomos stadijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Pneumoninė
                    </li>
                    <li>
                        2. Organizacijos ir tvirtėjimo
                    </li>
                    <li>
                        3. Kalcifikacijos
                    </li>
                    <li>
                        4. Diseminacijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.27 </b> Pirminei tuberkuliozei priskiriama:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tarpuplaučio limfmazgių TB
                    </li>
                    <li>
                        2. Pirminis kompleksas
                    </li>
                    <li>
                        3. TB pleuritas
                    </li>
                    <li>
                        4. Diseminuota plaučių TB
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.28 </b> Infiltracinės TB formos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Debesėlio forma
                    </li>
                    <li>
                        2. Broncholobulinė
                    </li>
                    <li>
                        3. Lobitai ir perisisuritai
                    </li>
                    <li>
                        4. Asmano infiltratai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.29 </b> Kokios yra cirozinės TB komplikacijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kvėpavimo funkcijos nepakankamumas
                    </li>
                    <li>
                        2. Lėtinė plautinė širdis
                    </li>
                    <li>
                        3. Kraujavimas iš plaučių
                    </li>
                    <li>
                        4. Amiloidozė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.30 </b> Kokie yra TB gydymo principai: </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Ankstyvas ir savalaikis
                    </li>
                    <li>
                        2. Neleistina monoterapija
                    </li>
                    <li>
                        3. Gydymas ne trumpesnis kaip 6 mėn
                    </li>
                    <li>
                        4. Būtinas gydymo perimamumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.31 </b> Kas būdinga sergantiesiems AIDS, kuomet yra TB infekcija:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Išplitusi limfadenopatija, miliarinė TB
                    </li>
                    <li>
                        2. Mantu testas neigiamas ir TM nerandama 
                    </li>
                    <li>
                        3. Viduriavimas, trunkantis daugiau kaip 1 mėn
                    </li>
                    <li>
                        4. Greita ligos eiga
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>28.32</b> Nuo 1989–1990 metų Lietuvoje pastebėtas svarbiausių tuberkuliozės epidemiologinių rodiklių blogėjimas. PSO ekspertų nurodymu, kai sergamumas tuberkulioze sudaro daugiau nei 100 atvejų iš 100 000 gyventojų, galima laukti tuberkuliozės epidemijos.  Kuris epidemiologinis rodiklis geriausiai prognozuoja naujų tuberkuliozės susirgimų galimybę, ypač tarp vaikų ir jaunuolių:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Užkrėstumas tuberkuliozės mikobakterijomis (kasmetinio užsikrėtimo TM rizika)
                    </li>
                    <li>
                        B. Sergamumas
                    </li>
                    <li>
                        C. Ligotumas
                    </li>
                    <li>
                        D. Mirtingumas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.33</b> Nuo 1989–1990 metų Lietuvoje pastebėtas svarbiausių tuberkuliozės epidemiologinių rodiklių blogėjimas. PSO ekspertų nurodymu, kai sergamumas tuberkulioze sudaro daugiau nei 100 atvejų iš 100 000 gyventojų, galima laukti tuberkuliozės epidemijos.  Kokią tuberkuliozės profilaktiką PSO ekspertai laiko efektyviausia:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tuberkulino diagnostiką
                    </li>
                    <li>
                        B. BCŽ vakcinaciją
                    </li>
                    <li>
                        C. DOTS – tiesiogiai kontroliuojamą gydymą – standartinius trumpus kursus
                    </li>
                    <li>
                        D. Rentgenofliuorografinius patikrinimus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.34</b> 60 metų vyras, sergantis reumatoidiniu artritu ir gydomas gliukokortikoidais, atkosėjo kraujo, paryškėjo intoksikacinis  sindromas. Prieš 5 metus sirgęs infiltracine plaučių TB, 4 mėn. gydytas tuberkuliozės ligoninėje.  Apie kokį susirgimą pagalvosite:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Plaučių vėžį
                    </li>
                    <li>
                        B. Plaučių TB
                    </li>
                    <li>
                        C. Pneumoniją
                    </li>
                    <li>
                        D. Lėtinį bronchitą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>28.35</b> 60 metų vyras, sergantis reumatoidiniu artritu ir gydomas gliukokortikoidais, atkosėjo kraujo, paryškėjo intoksikacinis  sindromas. Prieš 5 metus sirgęs infiltracine plaučių TB, 4 mėn. gydytas tuberkuliozės ligoninėje. Kokie tyrimai svarbiausi diagnozei patvirtinti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skreplių pasėlis ir bronchoskopija
                    </li>
                    <li>
                        B. Kraujo pasėlis ir krūtinės ląstos rentgenologinis tyrimas
                    </li>
                    <li>
                        C. Bronchoskopija ir krūtinės ląstos rentgenologinis tyrimas
                    </li>
                    <li>
                        D. Skreplių tyrimas dėl TM Cylio-Nilseno būdu ir krūtinės ląstos rentgenologinis tyrimas
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>28.1 - 

                A
            </td>
            <td>28.2 - 

                A
            </td>
            <td>28.3 - 

                A
            </td>
            <td>28.4 - 

                C
            </td>
            <td>28.5 - 

                D
            </td>
            <td>28.6 - 

                B
            </td>
            <td>28.7 - 

                C
            </td>
            <td>28.8 - 

                A
            </td>
                </tr><tr>
            <td>28.9 - 

                A
            </td>
            <td>28.10 - 

                A
            </td>
            <td>28.11 - 

                C
            </td>
            <td>28.12 - 

                D
            </td>
            <td>28.13 - 

                A
            </td>
            <td>28.14 - 

                B
            </td>
            <td>28.15 - 

                A
            </td>
            <td>28.16 - 

                A
            </td>
                </tr><tr>
            <td>28.17 - 

                A
            </td>
            <td>28.18 - 

                B
            </td>
            <td>28.19 - 

                A
            </td>
            <td>28.20 - 

                A
            </td>
            <td>28.21 - 

                A
            </td>
                </tr><tr>
            <td>28.22
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
                <li>4 - D </li>
            </ul></td>
                </tr><tr>
            <td>28.23
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>28.24
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>28.25
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>28.26
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>28.27
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>28.28
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>28.29
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>28.30
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>28.31
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>28.32 - 

                A
            </td>
            <td>28.33 - 

                C
            </td>
            <td>28.34 - 

                B
            </td>
            <td>28.35 - 

                D
            </td>

</tr></tbody></table></div>