<div class="Centre Kategorija">Urologija</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>19.1</b> Kokia turi būti suteikta ambulatorijoje pirmoji pagalba plyšus šlaplei:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapimo pūslės kateterizacija
                    </li>
                    <li>
                        B. Cistostomija
                    </li>
                    <li>
                        C. Šlapimo pūslės punkcija
                    </li>
                    <li>
                        D. Analgetikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.2</b> Koks turi būti ekstraperitoniškai plyšusios šlapimo pūslės gydymo būdas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Cistomija
                    </li>
                    <li>
                        B. Cistorafija
                    </li>
                    <li>
                        C. Cistostomija, cistorafija ir paravezikinis drenažas pro užtvarinę angą
                    </li>
                    <li>
                        D. Cistostomija, cistorafija ir paravezikinis drenažas pro pilvo sieną
                    </li>
                    <li>
                        E. Cistomija ir cistorafija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.3</b> Koks turi būti intraperitoniškai plyšusios šlapimo pūslės gydymo būdas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nuolatinis kateteris
                    </li>
                    <li>
                        B. Cistostomija
                    </li>
                    <li>
                        C. Laparotomija ir cistorafija
                    </li>
                    <li>
                        D. Laparotomija, cistorafija ir cistostomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.4</b> Kokia turi būti ūminės trauminės kapšelio hematomos gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Spaudžiantis tvarstis
                    </li>
                    <li>
                        B. Kraujavimą stabdančios priemonės
                    </li>
                    <li>
                        C. Antimikrobiniai vaistai
                    </li>
                    <li>
                        D. Kapšelio incizija ir revizija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.5</b> Kuris simptomas nebūdingas inksto navikui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Padidėjęs inkstas
                    </li>
                    <li>
                        B. Dizurija
                    </li>
                    <li>
                        C. Varikocelė
                    </li>
                    <li>
                        D. Inksto diegliai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.6</b> Kuris būdas netinka akmenligės sukeltų inksto dieglių gydymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Analgetikai ir spazmolitikai
                    </li>
                    <li>
                        B. Novokaino blokados
                    </li>
                    <li>
                        C. Šilumos procedūros
                    </li>
                    <li>
                        D. Šlapimtakio kateterizacija
                    </li>
                    <li>
                        E. Akmens ekstrakcija
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>19.7</b> Kuri hematurijos rūšis būdingiausia kiekvienai nurodytai ligai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Inksto navikas
                    </li>
                    <li>
                        2 - Šlapimo pūslės navikas
                    </li>
                    <li>
                        3 - Šlapimo pūslės akmuo
                    </li>
                    <li>
                        4 - Ūminis cistitas
                    </li>
                    <li>
                        5 - Uretritas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Totalinė hematurija
                    </li>
                    <li>
                        B. Inicialinė hematurija
                    </li>
                    <li>
                        C. Terminalinė hematurija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.8</b> Kuri hematurijos rūšis yra būdingiausia paminėtų organų ligų atvejais</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Inkstų ligos
                    </li>
                    <li>
                        2 - Šlapimtakių ligos
                    </li>
                    <li>
                        3 - Šlapimo pūslės dugno ir kaklo pažeidimai
                    </li>
                    <li>
                        4 - Šlaplės ligos
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Totalinė hematurija
                    </li>
                    <li>
                        B. Inicialinė hematurija
                    </li>
                    <li>
                        C. Terminalinė hematurija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.9</b> Kuri šlapimo susilaikymo rūšis būdingiausia kiekvienai nurodytai ligai</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Inkstų navikas
                    </li>
                    <li>
                        2 - Šlapimo pūslės navikas
                    </li>
                    <li>
                        3 - Gėrybinė prostatos hiperplazija (II stadija)
                    </li>
                    <li>
                        4 - Ūminis prostatitas
                    </li>
                    <li>
                        5 - Visiška šlaplės ruptūra
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Dalinis šlapimo susilaikymas
                    </li>
                    <li>
                        B. Visiškas šlapimo susilaikymas
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>19.10 </b> Kurie veiksmai padeda nustatyti ūminio šlapimo susilaikymo priežastį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Šlapimo pūslės palpacija ir perkusija
                    </li>
                    <li>
                        2. Digitalinis rektalinis tyrimas
                    </li>
                    <li>
                        3. Šlapimo pūslės kateterizacija
                    </li>
                    <li>
                        4. Apžvalginė urograma
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.11 </b> Kaip turi būti gydomas ūminis šlapimo susilaikymas dėl gėrybinės prostatos  hiperplazijos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kateterizavimas elastiniu kateteriu
                    </li>
                    <li>
                        2. Kateterizavimas metaliniu kateteriu
                    </li>
                    <li>
                        3. Šlapimo pūslės punkcija
                    </li>
                    <li>
                        4. Diuretikai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.12 </b> Kaip turi būti gydomas antrinis ūminis obturacinis pielonefritas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Spazmolitikai
                    </li>
                    <li>
                        2. Forsuota diurezė
                    </li>
                    <li>
                        3. Inksto kateterizacija
                    </li>
                    <li>
                        4. Aminoglikozidai
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.13 </b> Kurie anamnezės duomenys būdingi postreninei anurijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Inksto diegliai
                    </li>
                    <li>
                        2. Buvusi hemotransfuzija
                    </li>
                    <li>
                        3. Spindulinė terapija po ginekologinės operacijos
                    </li>
                    <li>
                        4. Gausus vėmimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.14 </b> Kurie anamnezės duomenys būdingi prereninei anurijai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Gausus vėmimas
                    </li>
                    <li>
                        2. Masyvus nukraujavimas
                    </li>
                    <li>
                        3. Ilgai trukusi operacija
                    </li>
                    <li>
                        4. Spindulinė operacija po ginekologinės operacijos
                    </li>
                    <li>
                        5. Užsitęsusio suspaudimo sindromas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.15 </b> Kurie tyrimai reikalingi šlapimtakio traumai diagnozuoti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Dinaminė inkstų scintigrafija
                    </li>
                    <li>
                        2. Inkstų echoskopija
                    </li>
                    <li>
                        3. Ekskrecinė urografija
                    </li>
                    <li>
                        4. Inksto kateterizavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.16 </b> Kurie simptomai leidžia įtarti intraperitoninį šlapimo pūslės plyšimą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Negalėjimas šlapintis
                    </li>
                    <li>
                        2. Pilvo skausmai
                    </li>
                    <li>
                        3. Priverstinė ligonio padėtis
                    </li>
                    <li>
                        4. Ligonio blaškymasis
                    </li>
                    <li>
                        5. Uretroragija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.17 </b> Kurie tyrimai ir požymiai labiausiai reikšmingi intraperitoninio šlapimo pūslės plyšimo diagnostikai:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tiesiosios žarnos palpacija
                    </li>
                    <li>
                        2. Pilvo perkusija
                    </li>
                    <li>
                        3. Pilvaplėvės dirginimo simptomai
                    </li>
                    <li>
                        4. Šlapimo pūslės kateterizacija
                    </li>
                    <li>
                        5. Cistografija
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>19.18</b> 40 m. vyras staiga susirgo pradėjo skųstis stipriu skausmu po dešiniuoju šonkaulių lanku ir dešinėje klubo srityje. Jį pykino ir vėmė. Objekt. tyrimai: pilvas išsipūtęs, skausmingas, parezinė peristaltika, dešiniosios klubo srities raumenys neįtempti, tačiau sutrenkus tos pusės juosmens sritį skauda, T – normali. Lab. Tyrimai: leuk. – 6,9×10⁹/1, mikrohematurija. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mechaninis žarnų nepraeinamumas
                    </li>
                    <li>
                        B. Ūminis apendicitas
                    </li>
                    <li>
                        C. Tulžies akmenligė
                    </li>
                    <li>
                        D. Inkstų akmenligė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.19</b> 40 m. vyras staiga susirgo pradėjo skųstis stipriu skausmu po dešiniuoju šonkaulių lanku ir dešinėje klubo srityje. Jį pykino ir vėmė. Objekt. tyrimai: pilvas išsipūtęs, skausmingas, parezinė peristaltika, dešiniosios klubo srities raumenys neįtempti, tačiau sutrenkus tos pusės juosmens sritį skauda, T – normali. Lab. Tyrimai: leuk. – 6,9×10⁹/1, mikrohematurija. Kuris tyrimas diagnozės patvirtinimui nereikalingas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Apžvalginė pilvo rentgenograma
                    </li>
                    <li>
                        B. Inkstų echoskopija
                    </li>
                    <li>
                        C. Chromocistoskopija
                    </li>
                    <li>
                        D. Izotopinė renografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.20</b> 36 m. vyras skundžiasi juosmens ir dešinės pilvo pusės skausmu, vidurių pūtimu, dujų, išmatų susilaikymu bei padažnėjusiu noru šlapintis. Susirgo išvakarėse po gausių vaišių. Liga prasidėjo dešinės juosmens pusės diegliais, kurie išplito į pilvą ir dešiniąją klubo sritį. Pykino. Nuo vaistų  skausmas lyg aprimo, tačiau naktį vis tiek pradėdavo skaudėti strėnas, o paryčiui išpūtė pilvą ir atsirado dažnas noras šlapintis. Paskutinį kartą tuštinosi prieš parą. Obekt. tyrimai: P–90 k/min., AKS–140/80 mmHg, T–36,6ºC, ligonis išblyškęs, liežuvis apklotas balzganu apnašu, visas pilvas išpūstas, perkutuojant visą pilvo sieną visame plote girdimas timpaninis garsas, peristaltika reta, vangi, inkstai neapčiuopiami, sutrenkus dešiniojo inksto projekcijos sritį jaučiamas skausmas, apžvalginėje pilvo rentgenogramoje matyti daug dujų   plonoje ir storoje žarnose, inkstų kontūrų ir konkrementų šešėlių nematyti. Lab. tyrimai: šlapime – leuk. – 3–5 r/l, 1–2–3 – švieži eritrocitai, uratai, reakcija rūgšti. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis gastritas
                    </li>
                    <li>
                        B. Ūminis pankreatitas
                    </li>
                    <li>
                        C. Perforuota dvylikapirštės žarnos opa
                    </li>
                    <li>
                        D. Mechaninis žarnų nepraeinamumas
                    </li>
                    <li>
                        E. Inkstų akmenligė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.21</b> 36 m. vyras skundžiasi juosmens ir dešinės pilvo pusės skausmu, vidurių pūtimu, dujų, išmatų susilaikymu bei padažnėjusiu noru šlapintis. Susirgo išvakarėse po gausių vaišių. Liga prasidėjo dešinės juosmens pusės diegliais, kurie išplito į pilvą ir dešiniąją klubo sritį. Pykino. Nuo vaistų  skausmas lyg aprimo, tačiau naktį vis tiek pradėdavo skaudėti strėnas, o paryčiui išpūtė pilvą ir atsirado dažnas noras šlapintis. Paskutinį kartą tuštinosi prieš parą. Obekt. tyrimai: P–90 k/min., AKS–140/80 mmHg, T–36,6ºC, ligonis išblyškęs, liežuvis apklotas balzganu apnašu, visas pilvas išpūstas, perkutuojant visą pilvo sieną visame plote girdimas timpaninis garsas, peristaltika reta, vangi, inkstai neapčiuopiami, sutrenkus dešiniojo inksto projekcijos sritį jaučiamas skausmas, apžvalginėje pilvo rentgenogramoje matyti daug dujų   plonoje ir storoje žarnose, inkstų kontūrų ir konkrementų šešėlių nematyti. Lab. tyrimai: šlapime – leuk. – 3–5 r/l, 1–2–3 – švieži eritrocitai, uratai, reakcija rūgšti. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Termoforas ir karšta vonia
                    </li>
                    <li>
                        B. Skrandžio zondavimas
                    </li>
                    <li>
                        C. Valomoji klizma
                    </li>
                    <li>
                        D. Paranefrinė blokada
                    </li>
                    <li>
                        E. Šlapimtakio katerizacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.22</b> Ligonė pastebėjo kraują šlapime, o po to pajuto dieglių pobūdžio skausmą kairiajame šone. Skausmas aprimo po šiluminių procedūrų. Kitą dieną šlapimas buvo truputį kruvinas, ir gydytojas, apžiūrėjęs ligonę poliklinikoje, paskyrė gerti cistenalio lašus bei rutino tabletes. Kurią ligą įtardamas gydytojas paskyrė gydymą:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Inkstų tuberkuliozę
                    </li>
                    <li>
                        B. Inkstų akmenligę
                    </li>
                    <li>
                        C. Pielonefritą
                    </li>
                    <li>
                        D. Inkstų naviką
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.23</b> 65 m. vyras skundžiasi apsunkintu ir padažnėjusiu šlapinimusi, varginančiais stuburo ir kryžkaulio skausmais. Dėl to anksčiau kreipėsi į neurologą, kuris nesėkmingai gydė radikulitą. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Juosmeninė kryžkaulio spondilioartrozė
                    </li>
                    <li>
                        B. Prostatos adenoma
                    </li>
                    <li>
                        C. Prostatos vėžys
                    </li>
                    <li>
                        D. Šlapimo pūslės akmenligė
                    </li>
                    <li>
                        E. Prostatitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.24</b> 65 m. vyras skundžiasi apsunkintu ir padažnėjusiu šlapinimusi, varginančiais stuburo ir kryžkaulio skausmais. Dėl to anksčiau kreipėsi į neurologą, kuris nesėkmingai gydė radikulitą. Kuris tyrimas mažiausiai reikšmingas diagnozės nustatymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Cistoskopija
                    </li>
                    <li>
                        B. Prostatos biopsija
                    </li>
                    <li>
                        C. Inkstų ir šlapimo pūslės echoskopija
                    </li>
                    <li>
                        D. Stuburo rentgenograma
                    </li>
                    <li>
                        E. Prostatos palpacija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.25</b> 70 m. vyras du metus sunkiai šlapinosi, o dabar šlapimas visiškai susilaikė. Be to, jis skundžiasi silpnumu, blogu apetitu, troškuliu, rytais skaudančia galva. Jau 2 metus naktį keliasi šlapintis. Pastaruoju metu atsikėlus reikėdavo atsigerti. Keletą paskutiniųjų naktų apsišlapindavo lovoje, o dieną, nors ir labai norėdavo, šlapimas skirdavosi tik lašais. Objekt. tyrimai: P–82 k/min., AKS–140/90 mmHg, T – normali, ligonis išsekęs, išblyškęs, liežuvis apneštas rusvu apnašu, iš burnos sklinda keistas kvapas, virš gaktos apčiuopiamas elastingas, truputį skausmingas, vaiko galvos dydžio guzas, juosmens sritis neskausminga, prostata ovali, didelė, elastinga, neskausminga, kateterizacija guminiu kateteriu neveiksminga. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlaplės striktūra
                    </li>
                    <li>
                        B. Storosios žarnos navikas
                    </li>
                    <li>
                        C. Šlapimo pūslės vėžys
                    </li>
                    <li>
                        D. Prostatos vėžys
                    </li>
                    <li>
                        E. Gėrybinė prostatos hiperplazija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.26</b> 70 m. vyras du metus sunkiai šlapinosi, o dabar šlapimas visiškai susilaikė. Be to, jis skundžiasi silpnumu, blogu apetitu, troškuliu, rytais skaudančia galva. Jau 2 metus naktį keliasi šlapintis. Pastaruoju metu atsikėlus reikėdavo atsigerti. Keletą paskutiniųjų naktų apsišlapindavo lovoje, o dieną, nors ir labai norėdavo, šlapimas skirdavosi tik lašais. Objekt. tyrimai: P–82 k/min., AKS–140/90 mmHg, T – normali, ligonis išsekęs, išblyškęs, liežuvis apneštas rusvu apnašu, iš burnos sklinda keistas kvapas, virš gaktos apčiuopiamas elastingas, truputį skausmingas, vaiko galvos dydžio guzas, juosmens sritis neskausminga, prostata ovali, didelė, elastinga, neskausminga, kateterizacija guminiu kateteriu neveiksminga. Kaip turi būti suteikta pirmoji pagalba:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirti prozeriną, kaliminą ar kitą cholinomimetiką
                    </li>
                    <li>
                        B. Kateterizuoti šlapimo pūslę metaliniu kateteriu
                    </li>
                    <li>
                        C. Padaryti kapiliarinę šlapimo pūslės punkciją
                    </li>
                    <li>
                        D. Punktuoti šlapimo pūslę troakaru
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.27</b> Po autoavarijos 51 m. vyras skundžiasi silpnumu, dešiniojo žasto, tarpvietės ir papilvės skausmais. Dėl tarpvietės skausmo negali pasišlapinti – išsiskiria tik keli lašai kraujo. Objekt. tyrimai: P–120 k/min., AKS–100/55 mmHg, išblyškęs, pilvo sienos judesiai kvėpavimo metu simetriški, papilvė skausminga, virš gaktos apčiuopiamas elastingas, nepaslankus, skausmingas, kūdikio galvos dydžio lygaus paviršiaus guzas. Kuris tyrimas būtinas diagnozei nustatyti:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapimo pūslės kateterizacija
                    </li>
                    <li>
                        B. Ekskrecinė urografija
                    </li>
                    <li>
                        C. Izotopinė renografija
                    </li>
                    <li>
                        D. Kontrastinė uretrografija
                    </li>
                    <li>
                        E. Cistoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.28</b> Po autoavarijos 51 m. vyras skundžiasi silpnumu, dešiniojo žasto, tarpvietės ir papilvės skausmais. Dėl tarpvietės skausmo negali pasišlapinti – išsiskiria tik keli lašai kraujo. Objekt. tyrimai: P–120 k/min., AKS–100/55 mmHg, išblyškęs, pilvo sienos judesiai kvėpavimo metu simetriški, papilvė skausminga, virš gaktos apčiuopiamas elastingas, nepaslankus, skausmingas, kūdikio galvos dydžio lygaus paviršiaus guzas. Kokia turi būti gydymo taktika:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Pirminė šlaplės siūlė
                    </li>
                    <li>
                        B. Šlaplės rezekcija praėjus 2–3 mėn. po epicistostomijos
                    </li>
                    <li>
                        C. 2–3 kartus per dieną šlapimo pūslės kateterizacija
                    </li>
                    <li>
                        D. Antibiotikai ir nuolatinis kateteris
                    </li>
                    <li>
                        E. Antibiotikai ir epicistostomija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.29</b> 68 m. vyras jau dvi savaitės skundžiasi silpnumu, karščiavimu, vakarais – šaltkrėčiu, dešiniosios juosmens ir pilvo pusės nuolatiniais skausmais, kurie plinta į krūtinę ir į dešiniąją klubo sritį. Skausmas stiprėja giliai įkvėpus ir tiesiant dešinę koją. Prieš ligą buvo sušalęs, slogavo, kosėjo ir gydėsi liepžiedžių arbata. Objekt. tyrimai: P–92 k/min., AKS –140/80 mmHg, kvėpavimo dažnis–24 k/min., T–38ºC, pablyškęs, suprakaitavęs, stengiasi gulėti ant dešiniojo šono ir sulenkta dešinė koja, perkutuojant nustatomas mažesnis diafragmos dešiniojo kupolo paslankumas, dešinioji juosmens pusė „palyginta“ yra nedidelė odos hiperemija, šios zonos odos raukšlės storesnės, negu kairės pusės, giliai palpuojant jaučiamas juosmens, dešiniojo pašonkaulio ir dešiniosios klubo srities skausmas, kuris didėja tiesiant koją. Inkstai neapčiuopiami, apžvalginėje pilvo organų rentgenogramoje dešiniojo inksto kontūro ir dešiniojo klubinio juosmens raumens (m. iliopsoas) nematyti, o kairysis inkstas yra įprastinėje vietoje ir jo kontūrai ryškūs, rentgenoskopuojant krūtinės organus, matomas sumažėjęs dešiniojo diafragmos kupolo paslankumas ir nedaug skysčio dešinėje pleuros ertmėje. Lab. tyrimai: kraujyje – leuk.–19×10⁹/1, (eoz.–3% , lazd.–12%, segm.–72%), limf.–10%, monoc.–3%, ENG–32 mm/h., Hb–111 g/l. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ūminis cholecistitas
                    </li>
                    <li>
                        B. Dvylikapirštės žarnos opos pridengta perforacija
                    </li>
                    <li>
                        C. Subdiafragminis abscesas
                    </li>
                    <li>
                        D. Paranefritas
                    </li>
                    <li>
                        E. Parakolitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.30</b> 68 m. vyras jau dvi savaitės skundžiasi silpnumu, karščiavimu, vakarais – šaltkrėčiu, dešiniosios juosmens ir pilvo pusės nuolatiniais skausmais, kurie plinta į krūtinę ir į dešiniąją klubo sritį. Skausmas stiprėja giliai įkvėpus ir tiesiant dešinę koją. Prieš ligą buvo sušalęs, slogavo, kosėjo ir gydėsi liepžiedžių arbata. Objekt. tyrimai: P–92 k/min., AKS –140/80 mmHg, kvėpavimo dažnis–24 k/min., T–38ºC, pablyškęs, suprakaitavęs, stengiasi gulėti ant dešiniojo šono ir sulenkta dešinė koja, perkutuojant nustatomas mažesnis diafragmos dešiniojo kupolo paslankumas, dešinioji juosmens pusė „palyginta“ yra nedidelė odos hiperemija, šios zonos odos raukšlės storesnės, negu kairės pusės, giliai palpuojant jaučiamas juosmens, dešiniojo pašonkaulio ir dešiniosios klubo srities skausmas, kuris didėja tiesiant koją. Inkstai neapčiuopiami, apžvalginėje pilvo organų rentgenogramoje dešiniojo inksto kontūro ir dešiniojo klubinio juosmens raumens (m. iliopsoas) nematyti, o kairysis inkstas yra įprastinėje vietoje ir jo kontūrai ryškūs, rentgenoskopuojant krūtinės organus, matomas sumažėjęs dešiniojo diafragmos kupolo paslankumas ir nedaug skysčio dešinėje pleuros ertmėje. Lab. tyrimai: kraujyje – leuk.–19×10⁹/1, (eoz.–3% , lazd.–12%, segm.–72%), limf.–10%, monoc.–3% , ENG–32 mm/h., Hb–111 g/l. Kuris tyrimas patikslintų diagnozę:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Retrogradinis dešiniojo inksto tyrimas
                    </li>
                    <li>
                        B. Fibrogastroskopija
                    </li>
                    <li>
                        C. Pleuros punkcija
                    </li>
                    <li>
                        D. Intraveninė urografija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.31</b> 25 m. viengungis 3 paras skundžiasi dešiniosios klubo srities ir dešinės pusės kapšelio skausmais, karščiavimu ir padažnėjusiu šlapinimusi. Išvakarėse pakilo temperatūra. Prieš 2 metus buvo dešiniojo inksto diegliai. Rastos druskų sankaupos. Prieš 1,5 mėn. iš šlaplės pasirodė išskyros. Gydantis bicilinu, jos išnyko. Objekt. tyrimai: P–84 k/min., AKS–120/70 mmHg, T–37,6ºC, liežuvis švarus, pilvo judesiai kvėpavimo metu normalūs, giliai palpuojant dešiniojoje klubo ir kirkšninio kanalo srityje skauda, inkstai neapčiuopiami, jų plotas neskausmingas, dešinioji kapšelio pusė didesnė už kairiąją ir paraudusi, dešinysis sėklos ištekamasis latakas (ductus deferens) storokas ir skausmingas, dešinioji sėklidė vištos kiaušinio dydžio ir labai skausminga (mažiau skausmingas priekinis jos kraštas), sėklidės prielipas neapčiuopiamas, kairioji sėklidė įprasto dydžio, formos ir konsistencijos, iš šlaplės išskyrų nėra, išorinės šlaplės angos kraštai sulipę. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Tumor testiculi dextri
                    </li>
                    <li>
                        B. Epididymitis acuta dextra
                    </li>
                    <li>
                        C. Epididymitis chronica dextra
                    </li>
                    <li>
                        D. Orchoepididymitis acuta dextra
                    </li>
                    <li>
                        E. Hidrocele  dextra
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.32</b> 25 m. viengungis 3 paras skundžiasi dešiniosios klubo srities ir dešinės pusės kapšelio skausmais, karščiavimu ir padažnėjusiu šlapinimusi. Išvakarėse pakilo temperatūra. Prieš 2 metus buvo dešiniojo inksto diegliai. Rastos druskų sankaupos. Prieš 1,5 mėn. iš šlaplės pasirodė išskyros. Gydantis bicilinu, jos išnyko. Objekt. tyrimai: P–84 k/min., AKS–120/70 mmHg, T–37,6ºC, liežuvis švarus, pilvo judesiai kvėpavimo metu normalūs, giliai palpuojant dešiniojoje klubo ir kirkšninio kanalo srityje skauda, inkstai neapčiuopiami, jų plotas neskausmingas, dešinioji kapšelio pusė didesnė už kairiąją ir paraudusi, dešinysis sėklos ištekamasis latakas (ductus deferens) storokas ir skausmingas, dešinioji sėklidė vištos kiaušinio dydžio ir labai skausminga (mažiau skausmingas priekinis jos kraštas), sėklidės prielipas neapčiuopiamas, kairioji sėklidė įprasto dydžio, formos ir konsistencijos, iš šlaplės išskyrų nėra, išorinės šlaplės angos kraštai sulipę. Kuris tyrimas nebūtinas diagnozės nustatymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kapšelio organų palpacija
                    </li>
                    <li>
                        B. Prostatos sekreto tyrimas
                    </li>
                    <li>
                        C. Ekskrecinė urografija
                    </li>
                    <li>
                        D. Šlapimo pasėlis
                    </li>
                    <li>
                        E. Dviejų šlapimo porcijų tyrimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.33</b> Pagiringas 59 m. vyras skundžiasi viso pilvo ir ypač papilvės skausmais. Nesišlapina ir nenori. Kaip susirgo, dėl girtumo neprisimena. Naktį vėmė. Objekt. tyrimai: P– 100–70 k/min., AKS–110/70 mmHg, T–37,6ºC, išsekęs, subikteriškas, dešinysis skruostas ir rankos nubrozdintos, paguldytas stengiasi atsisėsti, nes sėdint mažiau skauda pilvą, palpuojant ligonis jaučia didesnį skausmingumą papilvėje, pilvo raumenys rigidiški, Ščiotkino-Blumbergo simptomas teigiamas, kepenys padidėjusios, peristaltika girdima, rektalinio tyrimo metu užčiuopiama nelabai padidėjusi su išlyginta medialine vagele, minkštos konsistencijos prostata, virš kurios yra išsigaubusi Duglaso ertmė. Lab. tyrimai: kraujyje – eritr.–3,2×10¹²/l, Hb–127 g/l, leuk.-10,1×10⁹/1. Kokia ligos diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapimo retencija
                    </li>
                    <li>
                        B. Anurija
                    </li>
                    <li>
                        C. Ekstraperitoninis šlapimo pūslės plyšimas
                    </li>
                    <li>
                        D. Peritonitas dėl cholecistopankreatito
                    </li>
                    <li>
                        E. Peritonitas dėl intraperitoninio šlapimo pūslės plyšimo
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.34</b> Pagiringas 59 m. vyras skundžiasi viso pilvo ir ypač papilvės skausmais. Nesišlapina ir nenori. Kaip susirgo, dėl girtumo neprisimena. Naktį vėmė. Objekt. tyrimai: P– 100–70 k/min., AKS–110/70 mmHg, T–37,6ºC, išsekęs, subikteriškas, dešinysis skruostas ir rankos nubrozdintos, paguldytas stengiasi atsisėsti, nes sėdint mažiau skauda pilvą, palpuojant ligonis jaučia didesnį skausmingumą papilvėje, pilvo raumenys rigidiški, Ščiotkino-Blumbergo simptomas teigiamas, kepenys padidėjusios, peristaltika girdima, rektalinio tyrimo metu užčiuopiama nelabai padidėjusi su išlyginta medialine vagele, minkštos konsistencijos prostata, virš kurios yra išsigaubusi Duglaso ertmė. Lab. tyrimai: kraujyje – eritr.–3,2×10¹²/l, Hb–127 g/l, leuk.-10,1×10⁹/1. Kuris tyrimas informatyviausias diagnozės nustatymui:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Šlapimo pūslės kateterizacija
                    </li>
                    <li>
                        B. Šlapimo pūslės echoskopija
                    </li>
                    <li>
                        C. Intraveninė urografija
                    </li>
                    <li>
                        D. Kontrastinis šlapimo pūslės tyrimas
                    </li>
                    <li>
                        E. Cistoskopija
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>19.35</b> 22 m.vyras jau keletą mėnesių skundžiasi silpnumu, greitu nuovargiu, apetito stoka, maudžiančiu skausmu ir pilnumo jausmu kairiajame pašonkaulyje bei juosmenyje. Kairioji sėklidė nusileido tik prieš metus. Objekt. tyrimai: P–60 k/min., AKS–120/70 mmHg, T–36,6ºC, išblyškęs, menkokos mitybos, pilvo judesiai kvėpavimo metu normalūs, jie neskausmingi, kairiojo pašonkaulio gilumoje apčiuopiamas stambokas lygaus paviršiaus guzas, kairioji sėklidė žymiai didesnė, kietesnė, lygi ir neskausminga, sėklos ištekamasis latakas ir sėklidės prielipas įprasto dydžio ir konsistencijos. Kokia ligos preliminarinė diagnozė:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Inksto navikas
                    </li>
                    <li>
                        B. Storosios žarnos navikas
                    </li>
                    <li>
                        C. Orchitas
                    </li>
                    <li>
                        D. Hidrocelė
                    </li>
                    <li>
                        E. Sėklidės navikas
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>19.1 - 

                C
            </td>
            <td>19.2 - 

                C
            </td>
            <td>19.3 - 

                D
            </td>
            <td>19.4 - 

                D
            </td>
            <td>19.5 - 

                B
            </td>
            <td>19.6 - 

                E
            </td>
                </tr><tr>
            <td>19.7
            <ul>
                <li>1 - A </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - C </li>
                <li>5 - B </li>
            </ul></td>
            <td>19.8
            <ul>
                <li>1 - A </li>
                <li>2 - A </li>
                <li>3 - C </li>
                <li>4 - B </li>
            </ul></td>
            <td>19.9
            <ul>
                <li>1 - A </li>
                <li>2 - A </li>
                <li>3 - B </li>
                <li>4 - B </li>
                <li>5 - B </li>
            </ul></td>
                </tr><tr>
            <td>19.10
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>19.11
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>19.12
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>19.13
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>19.14
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>19.15
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>19.16
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>19.17
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul></td>
                </tr><tr>
            <td>19.18 - 

                D
            </td>
            <td>19.19 - 

                C
            </td>
            <td>19.20 - 

                E
            </td>
            <td>19.21 - 

                E
            </td>
            <td>19.22 - 

                B
            </td>
            <td>19.23 - 

                C
            </td>
            <td>19.24 - 

                A
            </td>
            <td>19.25 - 

                E
            </td>
                </tr><tr>
            <td>19.26 - 

                C
            </td>
            <td>19.27 - 

                D
            </td>
            <td>19.28 - 

                A
            </td>
            <td>19.29 - 

                D
            </td>
            <td>19.30 - 

                D
            </td>
            <td>19.31 - 

                B
            </td>
            <td>19.32 - 

                C
            </td>
            <td>19.33 - 

                E
            </td>
                </tr><tr>
            <td>19.34 - 

                D
            </td>
            <td>19.35 - 

                E
            </td>

</tr></tbody></table></div>