<div class="Centre Kategorija">Šeimos medicina</div>
        <div class="SkirtukasMazesnis"></div>
        <div class="SubKategorija"><span>I tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>13.1</b> Kuris simptomas nėra būdingas esant cauda equina spaudimo sindromui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Progresuojantis silpnumas kojose
                    </li>
                    <li>
                        B. Karščiavimas
                    </li>
                    <li>
                        C. Šlapimo pūslės disfunkcija
                    </li>
                    <li>
                        D. Jutimų sutrikimas tarpvietėje
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.2</b> Išvardinkite iš eilės mirties proceso etapus pagal E. AKubler-Roos:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Neigimas. Pyktis ir įniršis. Derėjimasis. Depresija. Susitaikymas.
                    </li>
                    <li>
                        B. Depresija. Pyktis ir įniršis. Neigimas. Derėjimasis. Susitaikymas.
                    </li>
                    <li>
                        C. Pyktis ir įniršis. Depresija. Neigimas. Derėjimasis. Susitaikymas.
                    </li>
                    <li>
                        D. Derėjimasis. Neigimas. Pyktis ir įniršis. Depresija. Susitaikymas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.4</b> Kuris simptomas nebūdingas gripui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Staigi ligos pradžia
                    </li>
                    <li>
                        B. Karščiavimas &gt;38ºC
                    </li>
                    <li>
                        C. Galvos ir raumenų skausmas
                    </li>
                    <li>
                        D. Susirgimas prasideda sloga
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.5</b> Koks sukėlėjas dažniausiai sukelia tonzilitą?

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. A grupės β hemolizinis streptokokas
                    </li>
                    <li>
                        B. Moraxella catarrhalis
                    </li>
                    <li>
                        C. Haemophilus influenzae
                    </li>
                    <li>
                        D. Mycoplasma pneumoniae
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.7</b> Polifarmacija apibrėžiama kaip:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Penkių ir daugiau receptinių ar/ir nereceptinių medikamentų vartojimas.
                    </li>
                    <li>
                        B. Penkių ir daugiau receptinių medikamentų vartojimas.
                    </li>
                    <li>
                        C. Penkių ir daugiau nereceptinių medikamentų vartojimas.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.8</b> Koks šeimos gydytojo konsultacijos tipas lemia sėkmingą jos eigą?

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Konsultacija nukreipta į gydytoją
                    </li>
                    <li>
                        B. Konsultacija nukreipta į pacientą
                    </li>
                    <li>
                        C. Bendradarbiavimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.9</b> Kada dažniausiai konsultacija vadinama nepasisekusia? 

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Gydytojui trūksta laiko
                    </li>
                    <li>
                        B. Pašaliniai žmonės konsultacijos metu
                    </li>
                    <li>
                        C. Verbalinis- neverbalinis neatitikimas 
                    </li>
                    <li>
                        D. Gydytojas nenustato kreipimosi priežasties
                    </li>
                    <li>
                        E. Paciento pasipriešinimas, nurodymų nesilaikymas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.10</b> Koks temperatūros pakilimas vadinamas febriliu vidutiniu ?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Iki 38°C
                    </li>
                    <li>
                        B. 38-39°C
                    </li>
                    <li>
                        C. 39-41°C
                    </li>
                    <li>
                        D. &gt; 41°C
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.11</b> Koks karščiavimas vadinamas ilgalaikiu ?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Karščiavimas tęsiasi daugiau kaip 7 dienas.
                    </li>
                    <li>
                        B. Karščiavimas tęsiasi daugiau kaip 10 dienų.
                    </li>
                    <li>
                        C. Karščiavimas tęsiasi daugiau kaip 3 sav.
                    </li>
                    <li>
                        D. Karščiavimas tęsiasi daugiau kaip 2 sav.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.12</b> Kokią  visų asmens sveikatos problemų, dėl kurių pacientai kreipiasi į sveikatos priežiūros sistemą,  dalį turėtų spręsti  pirminė sveikatos priežiūra?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 90 proc.
                    </li>
                    <li>
                        B. 50-70 proc.
                    </li>
                    <li>
                        C. 30 proc.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.36</b> Bendraamžių grupės įtaka labiausiai išreikšta:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ankstyvajame paauglystės tarpsnyje
                    </li>
                    <li>
                        B. Viduriniame paauglystės tarpsnyje
                    </li>
                    <li>
                        C. Vėlyvajame paauglystės tarpsnyje
                    </li>
                    <li>
                        D. Bendraamžių grupės įtaka yra silpnai išreikšta visuose tarpsniuose
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.37</b> Pagal Pasaulio sveikatos organizacijos apibrėžimą paaugliais laikomi:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. 12-18 metų asmenys
                    </li>
                    <li>
                        B. 14-16 metų asmenys
                    </li>
                    <li>
                        C. 10-19 metų asmenys
                    </li>
                    <li>
                        D. 13-21 metų asmenys
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.44</b> Kuris simptomas nėra būdingas esant nespecifiniam skausmui juosmens srityje (refleksiniam sindromui)?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skausmas juosmens ir kryžkaulio srityje 
                    </li>
                    <li>
                        B. Kelio sausgyslės reflekso susilpnėjimas
                    </li>
                    <li>
                        C. Raumenų įtempimas paravertebralinėse srityse
                    </li>
                    <li>
                        D. Pradėjus judėti skausmas po kurio laiko susilpnėja („išsivaikšo“)
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.45</b> Ką reiškia pirminės sveikatos priežiūros finansavimo kapitacijos principas?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Ligonių kasa apmoka fiksuotą sumą už paciento apsilankymą pirminės sveikatos priežiūros įstaigoje.
                    </li>
                    <li>
                        B. Ligonių kasa apmoka fiksuotą sumą už prisirašiusį gyventoją prie pirminės sveikatos priežiūros įstaigos.
                    </li>
                    <li>
                        C. Ligonių kasa apmoka už asmeniui suteiktų paslaugų kiekį ir kokybę.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.46</b> Kokius tyrimus gali atlikti pats šeimos gydytojas, įtardamas krūtinės anginą:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Veloergometrinį tyrimą ir ramybės EKG
                    </li>
                    <li>
                        B. Echokardioskopiją ir ramybės EKG
                    </li>
                    <li>
                        C. Krūtinės ląstos rentgenoskopiją ir krūvio EKG
                    </li>
                    <li>
                        D. Ramybės EKG, pagal galimybę – EKG priepuolio metu.
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>II tipo klausimai.</span> Kiekvienam sunumeruotam klausimui parinkite viena iš pateiktų atsakymų variantų</div>
    <ul>
        <li><b>13.13</b> Kokie simptomai būdingiausi galimoms juosmens skausmo priežastims?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Onkologiniai susirgimai (metastazės stuburo juosmeniniuose slanksteliuose)
                    </li>
                    <li>
                        2 - Sakroileitas
                    </li>
                    <li>
                        3 - Stuburo lūžimas (kompresinis)
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Anamnezėje trauma, osteoporozė, lokalizuotas skausmas stuburo srityje 
                    </li>
                    <li>
                        B. epaaiškinamas svorio kritimas, subfebrilus karščiavimas, kraujo serumo proteinų pokyčiai, anamnezėje buvę onkologiniai susirgimai 
                    </li>
                    <li>
                        C. Skausmas sėdmens ir užpakalinėje šlaunies dalyje, susilpnėja ilsintis ir sustiprėja judant, padidėjęs ENG 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.15</b> Kokį pirmą medikamentą turėtų pasirinkti šeimos gydytojas, gydydamas skausmą pagal jo intensyvumą:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Vidutinis skausmas
                    </li>
                    <li>
                        2 - Stiprus skausmas
                    </li>
                    <li>
                        3 - Silpnas skausmas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Morfinas
                    </li>
                    <li>
                        B. Tramadolis
                    </li>
                    <li>
                        C. Diklofenakas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.16</b> Pagal kuriuos EKG požymius esant skausmams krūtinėje šeimos gydytojas turi diferencijuoti kiekvieną nurodytą ligą</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Krūtinės angina
                    </li>
                    <li>
                        2 - Ūminis nekomplikuotas užpakalinės sienos miokardo infarktas
                    </li>
                    <li>
                        3 - Plautinės arterijos stambiųjų šakų šakų embolija
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. EKG – T dantelis aukštas, simetrinis, smailas arba neigiamas
                    </li>
                    <li>
                        B. EKG III derivacijoje patologinis Q, avR ir V1, rsR, ST pakilęs ir pereinantis į neigiamą T
                    </li>
                    <li>
                        C. EKG III, avF  derivacijoje – patologinis Q, ST pakilęs ir pereinantis į teigiamą T
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.17</b> Pasirinkite maksimalią nurodyto medikamento dozę, kurią per parą galėtumėte skirti skausmą patiriančiam suaugusiam pacientui.</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Morfinas
                    </li>
                    <li>
                        2 - Acetaminofenas
                    </li>
                    <li>
                        3 - Tramadolis
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. 400 mg. per parą
                    </li>
                    <li>
                        B. Maksimalios paros dozės nėra
                    </li>
                    <li>
                        C. 1000 mg. per parą
                    </li>
                    <li>
                        D. 3000 – 4000 mg. per parą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.38</b> Kuriuose paauglystės stadijose dažniausiai pasireiškia žemiau išvardinti aspektai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ankstyvoji paauglystė
                    </li>
                    <li>
                        2 - Vidurinė paauglystė
                    </li>
                    <li>
                        3 - Vėlyvoji paauglystė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Padidėjęs susidomėjimas savo išvaizda
                    </li>
                    <li>
                        B. Ateities planų kūrimas 
                    </li>
                    <li>
                        C. Išaugusi rizikingos elgsenos tikimybė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.39</b> Kuriuos paauglio raidos aspektus charakterizuoja žemiau išvardinti požymiai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Fizinė raida
                    </li>
                    <li>
                        2 - Pažintinė raida
                    </li>
                    <li>
                        3 - Psichosocialinė raida
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Nepriklausomybės siekimas
                    </li>
                    <li>
                        B. Lytinio brendimo požymių išryškėjimas
                    </li>
                    <li>
                        C. Abstraktaus mąstymo formavimasis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.47</b> Kokį antibiotiką turėtų rinktis šeimos gydytojas, įtardamas atitinkamą sukėlėją?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - A grupės β hemolizinis streptokokas
                    </li>
                    <li>
                        2 - Mycoplasma pneumoniae
                    </li>
                    <li>
                        3 - Haemophilus influenzae
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Klaritromicinas
                    </li>
                    <li>
                        B. Fenoksimetilpenicilinas
                    </li>
                    <li>
                        C. Amoksicilinas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.48</b> Koks tyrimo rezultatas šeimos gydytojo darbe patvirtina atitinkamą susirgimą?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Ig M antikūniai prieš atitinkamą sukėlėją 
                    </li>
                    <li>
                        2 -  Normalus leukocitų kiekis kraujyje
                    </li>
                    <li>
                        3 - CRB&gt;50 mg/l
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Bakterijų sukeltas otitas
                    </li>
                    <li>
                        B. Mikoplazminė infekcija
                    </li>
                    <li>
                        C. Ūminis obstrukcinis virusinis bronchitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.49</b> Kiekvienam teiginiui parinkite  tęsinį:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Polisergamumas paciento lygmenyje gali sąlygoti
                    </li>
                    <li>
                        2 - Polisergamumas nacionaliniame sveikatos sistemos lygmenyje gali sąlygoti
                    </li>
                    <li>
                        3 - Polisergamumas šeimos gydytojo darbe gali sąlygoti
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. dažną, ne visada racionalų, sveikatos priežiūros paslaugų naudojimą, laiko sąnaudas, holistinio požiūrio poreikį
                    </li>
                    <li>
                        B. didelius kaštus sveikatos priežiūrai dėl išlaidų kompensuojamiems vaistams, prailgintos hospitalizacijos bei reabilitacijos poreikių
                    </li>
                    <li>
                        C. socialinę izoliaciją, psichologinę įtampą, neįgalumą bei pažintinių funkcijų sutrikimus
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.50</b> Kuris terminas geriausiai atspindi atitinkamą bendravimo įgūdį:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Elgtis vienodai su visais pacientais 
                    </li>
                    <li>
                        2 - Paciento nuomonės vertinimas
                    </li>
                    <li>
                        3 - Jausmų išsiaškinimas, parodymas pacientui
                    </li>
                    <li>
                        4 - Paciento problemos priimtinumas ir supratimas 
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Atspindėjimas
                    </li>
                    <li>
                        B. Partnerystė
                    </li>
                    <li>
                        C. Pateisinimas
                    </li>
                    <li>
                        D. Pagarba
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.51</b> Kurie žodžiai geriausiai atspindi atitinkamas šeimos gydytojo konsultacijos sąvokas:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Atvirieji klausimai 
                    </li>
                    <li>
                        2 - Apibendrinimas
                    </li>
                    <li>
                        3 - Padrąsinimai 
                    </li>
                    <li>
                        4 - Patikslinimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Kokia buvo jūsų sveikata anksčiau?
                    </li>
                    <li>
                        B. “Tęskite”, “taip, suprantu”,“Gerai”,“Aha”“m-m”... 
                    </li>
                    <li>
                        C. „Jūs pasakojote, kad skausmas mažėja nuo tam tikrų vaistų, papasakokite plačiau...“
                    </li>
                    <li>
                        D. „Jūs skundžiatės  galvos skausmu, vartojote vaistus, mes atliksime tyrimus, gal Jūs galėtumėte  dar kažką papildyti...“
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.52</b> Kokiai ilgalaikio karščiavimo priežasčių grupei priskirtumėte atitinkamą susirgimą:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Laimo liga
                    </li>
                    <li>
                        2 - Limfoma
                    </li>
                    <li>
                        3 - Raudonoji vilkligė
                    </li>
                    <li>
                        4 -  Sarkoidozė
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Infekcijos
                    </li>
                    <li>
                        B. Sisteminės jungiamojo audinio ligos
                    </li>
                    <li>
                        C. Onkologinės ligos.
                    </li>
                    <li>
                        D. Granuliominės ligos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.53</b> Kurie simptomai lydi ilgalaikį karščiavimą atitinkamų susirgimų metu:

</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1 - Limfadenopatija
                    </li>
                    <li>
                        2 - Odos bėrimai
                    </li>
                    <li>
                        3 - Kosulys ir kvėpavimo nepakankamumas
                    </li>
                    <li>
                        4 - Pykinimas, vėmimas
                    </li>
            </ul>
        </li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul class="SecondType">
                    <li>
                        A. Trichineliozė
                    </li>
                    <li>
                        B. Tuberkuliozė
                    </li>
                    <li>
                        C. Infekcinė mononukleozė
                    </li>
                    <li>
                        D. Laimo liga
                    </li>
            </ul>
        </li>
    </ul>

    <div class="SubKategorija">
            <span>III tipo klausimai.</span>
            <span>Kiekvienam klausimui yra vienas ar daugiau teisingų atsakymų:</span>
	<div class="table-noborders">
		<table>
			<tbody><tr>
				<td>A – teisingi 1,2,3</td>
			</tr>
			<tr>
				<td>B – teisingi 1 ir 3</td>
			</tr>
			<tr>
				<td>C – teisingi 2 ir 4</td>
			</tr>
			<tr>
				<td>D – teisingas tik 4</td>
			</tr>
			<tr>
				<td>E – visi teisingi</td>
			</tr>
		</tbody></table>
	</div>
    </div>
    <ul>
        <li><b>13.18 </b> Kurios žemiau išvardintos šeimos gydytojo konsultacijos fazės yra teisingos?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Bendravimo pradžia
                    </li>
                    <li>
                        2. Kreipimosi priežasties nustatymas
                    </li>
                    <li>
                        3. Objektyvus paciento tyrimas
                    </li>
                    <li>
                        4. Būklės aptarimas, situacijos apžvalga
                    </li>
                    <li>
                        5. Tolimesnio gydymo ir tyrimo detalizavimas
                    </li>
                    <li>
                        6. Konsultacijos pabaiga 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.19 </b> Kokie yra šeimos gydytojo uždaviniai konsultacijos metu:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kiek įmanoma daugiau įtraukti pacientą į problemų tyrimą, įvertinti paciento mintis, lūkesčius
                    </li>
                    <li>
                        2. Skirti pacientui jam priklausanti laiką
                    </li>
                    <li>
                        3. Išsiaiškinti pateiktų problemų tarpusavio ryšį ir nustatyti esmines problemas
                    </li>
                    <li>
                        4. Atitraukti paciento  dėmesį nuo nesvarbių temų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.20 </b> Kokios sisteminės infekcijos gali sąlygoti ilgalaikį karščiavimą?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Tuberkuliozė
                    </li>
                    <li>
                        2. Infekcinis endokarditas
                    </li>
                    <li>
                        3. Neaiškios kilmės bakteremija
                    </li>
                    <li>
                        4. Virusinės infekcijos
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.21 </b> Kurios situacijos sudaro prielaidą problemų atsiradimui naujoje šeimoje:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Abiejų jaunųjų genetinės šaknys ir kultūrinės tradicijos labai skirtingos, t. y. skirtinga religija, išsimokslinimas, statusas, tautybė ir amžius
                    </li>
                    <li>
                        2. Abiejų jaunųjų šeimose yra skyrybų ir rimtų šeimos problemų
                    </li>
                    <li>
                        3. Pastojimas prieš vedybas
                    </li>
                    <li>
                        4. Abu jaunieji nesutaria su savo šeimomis
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.22 </b> Kokie paaugliai labiausiai pažeidžiami savižudybės rizikos požiūriu?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Neseniai patyrė sunkią netektį
                    </li>
                    <li>
                        2. Ilgą laiką alinami sunkių problemų namuose
                    </li>
                    <li>
                        3. Yra bandę žudytis
                    </li>
                    <li>
                        4. Piktnaudžiauja alkoholiniais gėrimais, narkotikais
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.23 </b> 30 metų vyras skundžiasi 3 dienas trunkančiu skausmu juosmens srityje, kuris atsirado pakėlus sunkų daiktą. Nustatytas raumenų įtempimas paravertebraliai, riboti juosmens srities stuburo judesiai lenkiantis ir tiesiantis. Nenustatyta jokių raumenų jėgos ar jutimo sutrikimų kojose. Atliekant ištiestos kojos kėlimo testą, pakėlus iki 20° nuo horizontalaus paviršiaus, ligonis skundžiasi atsirandančiu skausmu juosmens srityje. Kokia šio paciento gydymo taktika?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Kelių dienų gulimas rėžimas kol ūmus skausmas sumažės
                    </li>
                    <li>
                        2. Skirsite trumpo veikimo nesteroidinius vaistus nuo uždegimo 5-7 dienas
                    </li>
                    <li>
                        3. Skirsite miorelaksantų iki 1 savaitės kursą
                    </li>
                    <li>
                        4. Nukreipsite fizioterapinėms procedūroms sumažėjus ūmiam skausmui
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.24 </b> Kokios galimos ne stuburo patologijos sąlygotos juosmens skausmų priežastys?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Inksto auglys
                    </li>
                    <li>
                        2. Lėtinis prostatitas
                    </li>
                    <li>
                        3. Nusileidęs inkstas
                    </li>
                    <li>
                        4. Seilių liaukų akmenligė
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.25 </b> Kokios yra tikėtinos kosulio priežastys onkologine liga sergančiam pacientui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Angiotenzino konvertuojamojo fermento inhibitoriai
                    </li>
                    <li>
                        2. Ryklės navikas
                    </li>
                    <li>
                        3. V.Cava superior sindromas
                    </li>
                    <li>
                        4. Ascitas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.26 </b> Pagal PSO rekomendacijas, vakcinacija nuo gripo ypač rekomenduojama:
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Slaugos ir palaikomojo gydymo institucijų gyventojams
                    </li>
                    <li>
                        2. Sergantiesiems lėtinėmis obstrukcinėmis plaučių ligomis
                    </li>
                    <li>
                        3. .Vyresnio amžiaus (&gt;65 m.) asmenims
                    </li>
                    <li>
                        4. 4.Kūdikiams iki 6 mėn. amžiaus, gimusiems „peršalimo ligų sezono“ metu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.27 </b> Virusinei kvėpavimo takų infekcijai būdinga:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Sloga
                    </li>
                    <li>
                        2. Kosulys
                    </li>
                    <li>
                        3. Karščiavimas
                    </li>
                    <li>
                        4. Balso prikimimas
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.28 </b> Sveikatos sistema, orientuota į Pirminę Sveikatos Priežiūrą (PSP), yra veiksminga problemoms susijusioms su polisergamumu spręsti, nes:</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. šeimos gydytojas koordinuoja paciento sveikatos priežiūrą
                    </li>
                    <li>
                        2. PSP yra tęstinė ir visaapimanti
                    </li>
                    <li>
                        3. PSP pagrįsta komandinio darbo principais
                    </li>
                    <li>
                        4. PSP orientuota ne tik į ligų gydymą bet ir į jų profilaktiką
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.40 </b> Kokį poveikį bendraamžių grupė turi paauglio raidai?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        1. Skatina didesnę paauglio integraciją į šeimą 
                    </li>
                    <li>
                        2. Skatina įsitraukimą į rizikingą elgseną
                    </li>
                    <li>
                        3. Sustiprina šeimoje suformuotas vertybes
                    </li>
                    <li>
                        4. Palankiai veikia savęs vertinimą
                    </li>
            </ul>
        </li>
    </ul>

        <div class="SubKategorija"><span>IV tipo klausimai.</span>  Teisingas tik vienas atsakymas</div>
    <ul>
        <li><b>13.29</b> Šeimos gydytojas atvyko pas pacientą, kuriam nustatytas toli pažengęs kasos vėžys. Išraše iš onkologijos ligoninės rekomenduojamas paliatyvus gydymas. Pacientas skundžiasi pykinimu, skausmu pilvo vidurinėje dalyje, įvertinus pagal VAS – 9 balai. Kokia šeimos gydytojo taktika turėtų būti lankant pacientą pirmą dieną po stacionarinio gydymo?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Siųsti stacionariniam gydymui
                    </li>
                    <li>
                        B. Paskirti gydymą paracetamoliu  bei metoklopramidu
                    </li>
                    <li>
                        C. Paskirti gydymą morfinu bei metoklopramidu. 
                    </li>
                    <li>
                        D. Paskirti gydymą ketoprofenu arba diklofenaku, gydymo efektą įvertinti po 1 dienos
                    </li>
                    <li>
                        E. Gydyti tramadoliu ir acetaminofenu, gydymo efektą įvertinti po 24 valandų
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.30</b> Pacientas serga plaučių vėžiu, peraugančiu pagrindinius bronchus. Taikomas tik paliatyvus gydymas. Šeimos gydytoją artimieji iškvietė dėl dusulio. Paciento lūpose cianozės nėra, alsavimas plaučiuose simetriškas abiejose pusėse, karkalų nėra. Neramus, blaškosi, skundžiasi skausmu juosmens srityje, kur anksčiau nustatyta L4 metastazė. Skausmo intensyvumas pagal VAS 5 balai. Gydomas morfinu. Kokia tolesnė šeimos gydytojo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Skirsiu gydymą angiotenziną konvertuojančio fermento inhibitoriumi ir betaadrenoblokatoriais, nepadedant – dioksinu.
                    </li>
                    <li>
                        B. Gydysiu deguonimi ir skirsiu salbutamolio inhaliacijas, atkosėjimą gerinančius vaistus.
                    </li>
                    <li>
                        C. Padidinsiu morfino dozę ir skirsiu gliukokortikoidų, nepadedant – deguonį.
                    </li>
                    <li>
                        D. Paskirsiu gydymą deguonimi, bronchus plečiančiais vaistais ir benzodiazepinais.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.31</b> Į šeimos gydytoją kreipėsi 45 metų vyras, kuris apie 3 dienas sloguoja, vargina stiprus nosies užgulimas, jaučia bendrą silpnumą, nuovargį, galvos skausmą. Nekarščiuoja. Apžiūrint matoma paraudusi nosiaryklė. Pacientas anksčiau sirgęs sinusitu. Kokia turėtų būti tolesnė šeimos gydytojo taktika?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Nedelsiant skirti amoksicilino ir sisteminių dekongestantų
                    </li>
                    <li>
                        B. Skirti sisteminių dekongestantų, atlikti bendrą kraujo ir CRB tyrimus, gavus rezultatus spręsti dėl antibiotikų skyrimo
                    </li>
                    <li>
                        C. Nedelsiant siųsti ANG gydytojo konsultacijai, nes pacientas anksčiau yra sirgęs sinusitu
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.32</b> Mama pas šeimos gydytoją atvedė 5 metų berniuką, kuris apie 1 savaitę kosti. Kūno temperatūra buvo subfebrili, tik vizito dienos rytą pakilo iki 38.8ºC , berniukas tapo vangus, irzlus. Šeimos gydytojas apžiūrėjęs beniuką nustatė nosiaryklės paraudimą, girdėjo karkalų dešinėje apatinėje plaučių dalyje. Kokia tikėtina diagnozė ir tolesnė šeimos gydytojo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Dešiniojo plaučio pneumonija; skirti ciprofloksaciną, atlikti bendrą kraujo tyrimą, CRB ir plaučių rentgenogramą
                    </li>
                    <li>
                        B. Dešiniojo plaučio pneumonija; skirti amoksiciliną ir antipiretikus, atlikti bendrą kraujo tyrimą, CRB ir plaučių rentgenogramą
                    </li>
                    <li>
                        C. Ūminė viršutinių kvėpavimo takų infekcija, skirti simptominį gydymą
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.33</b> 88 metų moteris serganti daugybinėmis lėtinėmis ligomis (poliartroze, išemine širdies liga, arterine hipertenzija, širdies nepakankamumu, II tipo cukriniu diabetu ) gyvena viena. Jai sunku savarankiškai apsitarnauti, nusipirkti maisto. Pastaruoju metu ji dėl to labai išgyvena: sutriko miegas, yra verksminga. Kokia turėtų būti šeimos gydytojo taktika artimiausiu metu?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Įvertinti lėtinių ligų gydymą ir jų kontrolę ir siųsti pacientę kardiologo, endokrinologo konsultacijoms
                    </li>
                    <li>
                        B. Ištirti pacientę dėl galimų psichinės sveikatos sutrikimų bei inicijuoti socialinę pagalbą
                    </li>
                    <li>
                        C. Patarti pacientei dažniau lankytis pirminiame sveikatos priežiūros centre.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.34</b> 75 metų pacientas serga daugybinėmis lėtinėmis ligomis: lėtiniu obstrukciniu bronchitu, arterine hipertenzija, prostatos gerybine hiperplazija, podagra. Jis iki šiol rūko, turi viršsvorį. Medikamentus  vartoja reguliariai. Pastaruoju metu jo bendra būklė stabili, naujų skundų nėra. Kokia teisingausia šeimos gydytojo taktika turėtų būti, planuojant 12 mėnesių sveikatos priežiūrą minėtam ligoniui?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Mokyti pacientą rizikos veiksnių šalinimo, vykdyti adekvačią lėtinių ligų kontrolę, įvertinti vartojamus medikamentus, galimus jų nepageidaujamą poveikį bei tarpusavio sąveiką, ištirti jo psichinę sveikatą.
                    </li>
                    <li>
                        B. Siųsti pacientą planiniam ištyrimui į antro lygio stacionarą bent kartą per metus.
                    </li>
                    <li>
                        C. Išrašyti  siuntimus gydytojams specialistams tam, kad būtų įvertinta lėtinių neinfekcinių ligų kontrolė. 
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.35</b> Į šeimos gydytoją kreipėsi  16 metų amžiaus jaunuolis dėl sveikatos patikrinimo pažymos, reikalingos pristatyti mokyklai.  Pokalbio metu paauglys prasitaria gydytojui, kad nekenčia mokyklos. Gydytojas sužino, kad keletą metų jaunuolis klasėje patiria patyčias, kurios ypatingai sustiprėjo paskutiniais metais. Kokia turėtų būti tolimesnė šeimos gydytojo taktika?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Įvertinus fizinės apžiūros ir atliktų tyrimų rezultatus išduoti sveikatos pažymą pristatyti mokyklai
                    </li>
                    <li>
                        B. Įvertinus fizinės apžiūros ir atliktų tyrimų rezultatus išduoti sveikatos pažymą pristatyti mokyklai, pasiūlyti paaugliui pasikalbėti su tėvais apie patiriamas patyčias
                    </li>
                    <li>
                        C. Įvertinus fizinės apžiūros ir atliktų tyrimų rezultatus išduoti sveikatos pažymą pristatyti mokyklai, surinkti paauglio psichosocialinę anamnezę ir identifikuoti potencialią savižudybės riziką.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.42</b> 72m. pacientas karščiuoja iki 38,5°C, kosti, skrepliuoja daugiau kaip mėnuo. Prieš savaitę laiko suintensyvėjo dusulys. Rūko nuo jaunystės. Serga lėtine obstrukcine plaučių liga. Objektyviai kairėje plaučių pusėje išklausyti drėgni karkalai.  Tyrimai: Leukocitai – 13,67 10 9/l , CRB 114 mg/l , ENG – 98 mm/h, krūtinės ląstos rentgenogramoje – infiltratas kairiajame plautyje. Šeimos gydytojas 10 dienų gydė amoksicilinu įtardamas pneumoniją, tačiau tęsėsi karščiavimas ir rentgenologinis vaizdas nepakito. Kokį susirgimą turi įtarti šeimos gydytojas ir kokia gydymo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kairio plaučio pneumonija, keisti gydymą kitos grupės antibiotiku.
                    </li>
                    <li>
                        B. Nukreipti į stacionarą diagnozės patikslinimui dėl galimos užsitęsusios pneumonijos, piktybinio proceso ar plaučių tuberkuliozės.
                    </li>
                    <li>
                        C. Nukreipti stacionariniam gydymui dėl užsitęsusios pneumonijos.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.43</b> Į šeimos gydytojo konsultaciją atvyksta 16 metų mergina. Pageidauja kontraceptinių tablečių, nes jau pusė metų lytiškai santykiauja. Anksčiau vartojo spermicidines priemones, kurios sukėlė vietines pašalines reakcijas. Kontraindikacijų hormoninės kontracepcijos skyrimui nėra. Mergina pageidauja, kad apie šią konsultaciją gydytojas nepraneštų tėvams. Kokia turėtų būti šeimos gydytojo taktika?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Išrašyti kontraceptines tabletes merginai ir apie tai informuoti tėvus
                    </li>
                    <li>
                        B. Išrašyti kontraceptines tabletes merginai ir paaiškinti kaip vartoti prezervatyvus, tėvų neinformuoti
                    </li>
                    <li>
                        C. Neišrašyti kontraceptinių tablečių, tačiau paaiškinti kaip vartoti prezervatyvus, tėvų neinformuoti.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.54</b> 58m. pacientas kreipėsi į šeimos gydytoją dėl stipraus skausmo kairiame šone 7to-8to šonkaulių srityje ties aksiliarine linija. Skausmas atsirado prieš 3 dienas; pacientas karščiuoja iki 37,5; sausai kosti apie savaitę. Skausmas sustiprėja kosint, susilpnėja atsigulus ant dešinio šono. Alsavimas vezikulinis, karkalų nėra.  Kokį susirgimą įtarsite ir kokia tyrimo taktika?
</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Kairės pusės pneumonija, atlikti plaučių rentgenogramą, CRB, bendrą kraujo vaizdą;
                    </li>
                    <li>
                        B. Sausas pleuritas, atlikti plaučių rentgenogramą, CRB, bendrą kraujo vaizdą;
                    </li>
                    <li>
                        C. Interkostalinė neuralgija, įvertinti tarpšonkaulinių tarpų skausmingumą, odos būklę (bėrimai), atlikti CRB, bendrą kraujo tyrimą.
                    </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><b>13.55</b> 48 metų vyras skundžiasi 3 dienas trunkančiu stipriu skausmu juosmens srityje. Skausmas plinta į dešinę koją. Naktį blauzdos raumenis sutraukė mėšlungis. Atliekant ištiestos kojos kėlimo testą nustatyta, kad keliant kairę koją iki 30°, ligonis pradeda skųstis skausmu dešinėje kojoje ir dešinėje sėdmenų srityje. Kurie teiginiai apie šio ligonio būklę yra teisingi?</li>
        <li>
            <div class="SkirtukasMazesnis"></div>
            <ul>
                    <li>
                        A. Teigiamas ištiestos kojos kėlimo testas rodo nervinės šaknelės spaudimą. 
                    </li>
                    <li>
                        B. Galima cauda equina spaudimo sindromo diagnozė.
                    </li>
                    <li>
                        C. Rekomenduojama skubi neurochirurginė operacija.
                    </li>
                    <li>
                        D. Rekomenduojama skubi neurologo konsultacija
                    </li>
            </ul>
        </li>
    </ul>

<div class="SkirtukasDidesnis"></div>
<div class="Answers">
<table>
                <tbody><tr>
            <td>13.1 - 

                B
            </td>
            <td>13.2 - 

                A
            </td>
            <td>13.4 - 

                D
            </td>
            <td>13.5 - 

                A
            </td>
            <td>13.7 - 

                A
            </td>
            <td>13.8 - 

                C
            </td>
            <td>13.9 - 

                D
            </td>
            <td>13.10 - 

                B
            </td>
                </tr><tr>
            <td>13.11 - 

                C
            </td>
            <td>13.12 - 

                A
            </td>
            <td>13.36 - 

                B
            </td>
            <td>13.37 - 

                C
            </td>
            <td>13.44 - 

                B
            </td>
            <td>13.45 - 

                B
            </td>
            <td>13.46 - 

                D
            </td>
                </tr><tr>
            <td>13.13
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>13.15
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>13.16
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>13.17
            <ul>
                <li>1 - B </li>
                <li>2 - D </li>
                <li>3 - A </li>
            </ul></td>
            <td>13.38
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
            </ul></td>
            <td>13.39
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
            <td>13.47
            <ul>
                <li>1 - B </li>
                <li>2 - A </li>
                <li>3 - C </li>
            </ul></td>
            <td>13.48
            <ul>
                <li>1 - B </li>
                <li>2 - C </li>
                <li>3 - A </li>
            </ul></td>
                </tr><tr>
            <td>13.49
            <ul>
                <li>1 - C </li>
                <li>2 - B </li>
                <li>3 - A </li>
            </ul></td>
            <td>13.50
            <ul>
                <li>1 - D </li>
                <li>2 - B </li>
                <li>3 - A </li>
                <li>4 - C </li>
            </ul></td>
            <td>13.51
            <ul>
                <li>1 - A </li>
                <li>2 - D </li>
                <li>3 - B </li>
                <li>4 - C </li>
            </ul></td>
            <td>13.52
            <ul>
                <li>1 - A </li>
                <li>2 - C </li>
                <li>3 - B </li>
                <li>4 - D </li>
            </ul></td>
            <td>13.53
            <ul>
                <li>1 - C </li>
                <li>2 - D </li>
                <li>3 - B </li>
                <li>4 - A </li>
            </ul></td>
                </tr><tr>
            <td>13.18
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul></td>
            <td>13.19
            <ul>
                <li>1</li>
                <li>3</li>
            </ul></td>
            <td>13.20
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>13.21
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>13.22
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>13.23
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>13.24
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>13.25
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
                </tr><tr>
            <td>13.26
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul></td>
            <td>13.27
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>13.28
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul></td>
            <td>13.40
            <ul>
                <li>2</li>
                <li>4</li>
            </ul></td>
                </tr><tr>
            <td>13.29 - 

                C
            </td>
            <td>13.30 - 

                C
            </td>
            <td>13.31 - 

                B
            </td>
            <td>13.32 - 

                B
            </td>
            <td>13.33 - 

                B
            </td>
            <td>13.34 - 

                A
            </td>
            <td>13.35 - 

                C
            </td>
            <td>13.42 - 

                B
            </td>
                </tr><tr>
            <td>13.43 - 

                B
            </td>
            <td>13.54 - 

                B
            </td>
            <td>13.55 - 

                A
            </td>

</tr></tbody></table></div>